[2020-09-18 04:34] benji011 commented on #1286
Hi @vfdev-5

I checked from [the docs](https://pytorch.org/blog/pytorch-1-dot-5-released-with-new-and-updated-apis/) that python `3.5-8` are supported with PyTorch `1.5`
Is it ok for me to do these changes from October 1st?

[2020-09-18 06:37] sdesrozis commented on #1300
@vfdev-5 I really enjoy this ! It could help a lot to design training !

[2020-09-18 07:04] vfdev-5 commented on #1286
Hi @benji011 , yes, this issue is rather trivial. I was thinking to add only 1.5.1 .

Well, yes, it is possible

[2020-09-18 16:22] hershd23 commented on #1297
Just a question, would the issue amount to toggling the pre-trained parameter for the model to off, or is this too much of a reduction?

Either way I am interested to take up this issue as part of Hacktoberfest. If you can assign it to me that would be great!

[2020-09-18 20:12] vfdev-5 commented on #1297
Hi @hershd23 , thanks for your interest to work on that.

sometimes it is interesting to see model performances without using ImageNet pretrained model weights. So, I'd say not it is not too much of reduction.

There are two options: COCO pretrained weights and ImageNet pretrained weights. See here: https://github.com/pytorch/vision/blob/master/torchvision/models/segmentation/segmentation.py#L19 (

[2020-09-20 10:44] hershd23 commented on #1297
Thanks for assigning me this task. I'll look into the suggestions!

[2020-09-20 13:38] vfdev-5 opened #1305 "Automatic docker build and publishing"
## 🚀 Feature

Idea is to rebuild and publish [pytorch ignite images](https://github.com/pytorch/ignite/tree/master/docker) once a new tag/release is published or a push to the master inside docker folder.

How to publish docker image:
- https://docs.github.com/en/actions/guides/publishing-docker-images#publishing-images-to-docker-hub-and-github-packages

TODO for maintainers:
- create secrets for

[2020-09-20 16:52] theodumont commented on #1273
Ok, great!
I'll keep you updated about how it goes locally.

[2020-09-21 16:33] Nic-Ma opened #1307 "distributed training compatible issue in ignite 0.4.2"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I am trying to upgrade ignite to v0.4.2 in MONAI, got error when I ran this test program of MONAI:
https://github.com/Project-MONAI/MONAI/blob/master/tests/test_handler_rocauc_dist.py
I used 2 GPU in 1 node, and it passed in ignite v0.3.0 before.
Here is the error log:
[code]
Something wrong with my NCCL version & ignite v0.4.2?

Thanks.

[2020-09-21 16:47] vfdev-5 commented on #1307
@Nic-Ma thanks for the report ! Let me check it from my side to understand where is the problem.

[2020-09-21 20:49] vfdev-5 commented on #1307
@Nic-Ma could you please provide more detail on your system: pytorch version and how it is built with NCCL ?

I can not reproduce your issue with NCCL. In my case, I use python 1.6.0 with prebuilt NCCL
[code]

However, there can be another issue with the test which might be missing
[code]
This can lead to hangs on collective ops like `all_gather`. See https://pytorch.org/docs/stable/distributed.ht

[2020-09-22 00:04] Nic-Ma commented on #1307
Hi @vfdev-5 ,

After adding `torch.cuda.set_device`, issue solved.
I think maybe you can add some explicit warning if missing this setting as 0.4.2 implicitly relies on this setting.

Thanks.

[2020-09-22 07:48] vfdev-5 commented on #1307
@Nic-Ma yes, this should be definitely addressed in a clear way ! Thanks for the suggestion !

I'm still wondering which pytorch distribution you are using with NCCL 2.7.8 ?
I think, it would be helpful for us to use it inside a CI.

[2020-09-22 08:09] vfdev-5 opened #1308 "Show a warning if current device index is lower than current local rank"
## 🚀 Feature

Following #1307, if user does not set `torch.cuda.set_device("cuda:lrank")`, ignite's code
https://github.com/pytorch/ignite/blob/0c417789599341d4b18a0b43ea35a9e7a7ea06b2/ignite/distributed/comp_models/native.py#L99-L102
will use the same device `cuda:0` for `all_reduce` op.

For older NCCL, it will setup itself such that i-th proc uses `cuda:0` device and thus following collective o

[2020-09-22 08:27] vfdev-5 opened #1309 "Update SSIM metric"
## 🚀 Feature

Current implementation of [SSIM](https://github.com/pytorch/ignite/blob/master/ignite/metrics/ssim.py) does not use torch tensor as internal storage and hasn't device in the constructor. Following #1238 we expect all metrics to have a similar structure.

@n2cholas , could you please work on that ?

[2020-09-22 08:36] Nic-Ma commented on #1307
Hi @vfdev-5 , we used this docker: https://ngc.nvidia.com/catalog/containers/nvidia:pytorch
I think it's PyTorch 1.7a.
Thanks.

[2020-09-22 16:01] vfdev-5 commented on #1307
Let's close this issue in favor of #1308

[2020-09-22 16:01] #1307 closed

[2020-09-22 19:51] g-karthik opened #1310 "Disabling a Metric until first non-None output from inference()"
## ❓ Questions/Help/Support

So I have an `inference()` method as such:

[code]

Now I have a metric like this:

[code]

Now in my use-case, there can be situations where the `mc_logits` and `mc_labels` returned by `inference()` are `None`, in which case the Accuracy metric cannot be computed. For example, if I am using a model that does not perform multiple-choice classification, and only perform

[2020-09-22 21:10] vfdev-5 commented on #1310
@g-karthik maybe this is related to #1065

However, we can skip metric update by using metric's "usage" option like that
[code]

[2020-09-22 23:46] g-karthik commented on #1310
@vfdev-5

Thanks! I have an another `Metric` to compute the all-reduced accuracy, by leveraging the `Accuracy()`. Should I use `BatchFiltered` for the other `Metric` also when attaching it?

I think not? It's just for the single-process `Accuracy()` attach?

[2020-09-23 06:07] vfdev-5 commented on #1310
If no need to skip metric updates for another accuracy, attach without
specific "usage" option.

On Wed, Sep 23, 2020, 01:46 Karthik Gopalakrishnan <notifications@github.com>
wrote:

[2020-09-23 07:37] vfdev-5 commented on #1310
`event_filter` is an argument of `Events.*` and `BatchFiltered` accepts args/kwargs to configure events filtering:
https://pytorch.org/ignite/v0.4.1/metrics.html#ignite.metrics.BatchFiltered

[2020-09-23 08:07] sdesrozis opened #1311 "Improve Canberra metric"
## 🚀 Feature

Actual implementation of Canberra metric does not use absolute value on terms in denominator. Moreover, `sklearn` can be used in test.

See https://arxiv.org/pdf/1411.7474.pdf

See https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html

[2020-09-23 11:45] #1311 closed

[2020-09-23 13:33] sdesrozis opened #1313 "Improve Canberra metric for DDP"
## 🚀 Feature

Current implementation of Canberra metric is not compatible with ddp. The idea is to improve this metric to work in parallel.

[2020-09-23 13:34] vfdev-5 commented on #1313
Related to https://github.com/pytorch/ignite/issues/1284

[2020-09-23 15:03] vfdev-5 opened #1315 "Fix link to reinit__is_reduced, sync_all_reduce"
## 🚀 Feature

Quick issue to add the links to `reinit__is_reduced` and `sync_all_reduce`  in the docs:  https://pytorch.org/ignite/metrics.html#metrics-and-distributed-computations

In addition, please check if `reinit__is_reduced` and `sync_all_reduce` are used elsewhere in the docs and do not contain a link to their docs.

For Hacktoberfest contributors, feel free to ask questions for details if

[2020-09-23 15:28] vfdev-5 opened #1316 "Remove tqdm<=4.48.0 requirements"
## 🚀 Feature

Due to https://github.com/pytorch/ignite/issues/1287 we downgraded tqdm to <= 4.48.0, this FR is to remove the restriction and update our tests to make them pass.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a look at CONTRIBUTING guide.

[2020-09-23 16:26] AnshuTrivedi commented on #1316
Hello @vfdev-5 , i want to contribute and fix ssue. Please assign this issue to to me.

[2020-09-23 16:30] AnshuTrivedi commented on #1315
Hi @vfdev-5 , I want to work on this issue.Please assign to me.

[2020-09-23 20:11] #1310 closed

[2020-09-24 08:06] sdesrozis commented on #1315
@AnshuTrivedi Thank you for your help !!

[2020-09-24 08:07] sdesrozis commented on #1316
@AnshuTrivedi Thank you very much for your help !!

[2020-09-24 10:26] #1313 closed

[2020-09-24 12:05] sdesrozis opened #1317 "Improve R2Score metric for DDP"
## 🚀 Feature

Current implementation of `R2Score` metric is not compatible with ddp. The idea is to improve this metric to work in parallel.

Related to #1284

[2020-09-24 13:10] sdesrozis opened #1319 "Improve ManhattanDistance metric for DDP"
## 🚀 Feature

Current formula of `ManhattanDistance` is not correct, it misses an absolute value. The idea is to use `sklearn` to ensure good computation.

Current implementation of `ManhattanDistance` metric is not compatible with ddp. The idea is to improve this metric to work in parallel.

Related to #1284

[2020-09-24 15:45] #1319 closed

[2020-09-24 19:54] vfdev-5 commented on #1257
See more:  https://hacktoberfest.digitalocean.com/details

[2020-09-25 03:49] Yevgnen commented on #959
@vfdev-5 How can do concatenation of these values in `compute`?

[2020-09-25 06:23] vfdev-5 commented on #959
@Yevgnen currently, this can be done as here:
https://github.com/pytorch/ignite/blob/1808fb52fdc3f3a74c8321ec3c6a09548abdcb4f/ignite/metrics/epoch_metric.py#L128

using `idist.all_gather` (since v0.4.2).

Later, we'll provide similar decorators. Let me know if it answers your question.

[2020-09-25 06:32] Yevgnen commented on #959
@vfdev-5 That helps! Thank you.

[2020-09-25 09:01] vfdev-5 opened #1321 "Fix broken Horovod installation on CI and docker"
## 🐛 Bug description

We have to fix this problem: https://app.circleci.com/pipelines/github/pytorch/ignite/725/workflows/3a1d0413-05ad-46b2-9bc6-24c8abbafd7d/jobs/1622

[2020-09-25 19:47] isabela-pf commented on #1221
I’m following up with a polished version of 5-7 based on comments from @vfdev-5 . Thanks to all the lovely feedback on this issue, I think this logo is refined and ready to be wrapped up. Is there any final approval it needs to go through?

<img width="502" alt="5-10orange" src="https://user-images.githubusercontent.com/50221806/94309632-3a99f180-ff2d-11ea-8bff-a4ed14a1b1e2.png">
<img width="502"

[2020-09-26 05:35] AnshuTrivedi commented on #1316
@sdesrozis can you help me to understand `remove the restriction and update our tests to make them pass `?
Is it removing rquirement line in reqirement file and make change in test files?

[2020-09-26 08:48] AnshuTrivedi commented on #1315
@sdesrozis Can you help me in this i explored tutorial about link referening in reStructuredText files. Do i have to replace  decorated with ``reinit__is_reduced``,  ``sync_all_reduce`` with
.. autofunction:: reinit__is_reduced  .. autofunction:: sync_all_reduce inside metrics file?

[2020-09-26 12:57] #1225 closed

[2020-09-26 13:09] vfdev-5 commented on #1316
@AnshuTrivedi yes, there are two modifications to do:
- "revert" what was done here : https://github.com/pytorch/ignite/pull/1293/files
- update tqdm tests here : https://github.com/pytorch/ignite/blob/master/tests/ignite/contrib/handlers/test_tqdm_logger.py
such that they pass.

I suggest you to follow CONTIBUTING guide: clone the repository, [install all dependencies](https://github.com/pytorch/

[2020-09-26 13:17] vfdev-5 commented on #1315
@AnshuTrivedi idea is at first replace
[code]
or something like that and **make sure** that in builded docs those words have links. See CONTRIBUTING on how to build locally the docs. Thanks !

[2020-09-26 14:32] vfdev-5 commented on #1321
Looks like it is their issue : https://github.com/horovod/horovod/releases/tag/v0.20.2

[2020-09-26 20:46] #1221 closed

[2020-09-26 21:42] n2cholas commented on #1309
@vfdev-5 Will do!

[2020-09-27 17:26] rexdivakar commented on #1256
Assign it to me I shall work on it.

[2020-09-27 19:34] vfdev-5 commented on #1256
@rexdivakar sure

[2020-09-28 07:05] sdesrozis opened #1329 "Docstring of Canberra metric warning"
Following this comment

thanks !

Namespace are shared so reference should be unique

[2020-09-28 08:44] #1317 closed

[2020-09-28 08:46] vfdev-5 commented on #1321
Fixed with #1326

[2020-09-28 08:46] #1321 closed

[2020-09-28 09:28] alxlampe opened #1331 "Engine - Continue run throws error because epoch_length is None"
## 🐛 Bug description

I am using an engine such that it runs a previously undefined number iterations with an infinite iterator. Epoch will be terminated in the process function with `engine.terminate()`.

I am always running the engine for only one epoch, because I need to do some calculations outside the engines framework and then continue the engine to run one further epoch with `engine.run(ite

[2020-09-28 09:49] vfdev-5 commented on #1331
@alxlampe thanks for reporting. I think the issue is related to https://github.com/pytorch/ignite/issues/1259 and
if you set `max_epochs=None` between runs you can restart the engine:
[code]

I agree that the issue we see here is a bug and we should handle it in a user friendly way.

I was wondering why you have to restart the engine like that ?
Is it possible to use `engine.terminate_epoch` and e

[2020-09-28 10:00] #1329 closed

[2020-09-28 11:19] alxlampe commented on #1331
@vfdev-5  Thanks for your fast reply and your proposal.

First to answer your questions.

I am using nested engines. One engine drives the execution of multiple engines (tasks). In my case, `data` that is passed to my process function is a list of tasks.
Some details:
- The task driving engine and task engine have both post processing functions attached to `Events.EPOCH_COMPLETED`.
- Each task cre

[2020-09-28 11:35] vfdev-5 commented on #1331
@alxlampe thanks for the details !

Yes, that's true that `engine.state.max_epochs = None` is to restart the Engine from the begining and not continue. Currently, if we would like to continue, `epoch_length` is sort of implicitly required. It is a bug as in your case user can stop the execution during the first epoch of a run with `epoch_length=None` and `epoch_length` is not set...
Let me think w

[2020-09-28 13:31] alxlampe opened #1332 "Event description TERMINATE_SINGLE_EPOCH not matching its actual behavior"
## 🐛 Bug description

From the documentation it seems that the event `TERMINATE_SINGLE_EPOCH` is only fired, if `engine.terminate_epoch` is called.
I discovered, that the event is also fired, if I call `engine.terminate` inside of an epoch as can be seen in the code linked below.

Event description:
https://github.com/pytorch/ignite/blob/51d3e3e54ee042b5ef1b73a489aabe4b75968411/ignite/engine/event

[2020-09-28 15:58] vfdev-5 commented on #1332
@alxlampe thanks for the issue ! Yes, I agree that the docs should state clearly the behaviour.

From user point of view, do you think if we should not trigger `TERMINATE_SINGLE_EPOCH` in this case ?

[2020-09-28 17:05] fco-dv commented on #1259
@vfdev-5 I could give some help on this one!

[2020-09-28 17:27] vfdev-5 commented on #1259
@fco-dv thanks, go ahead !

[2020-09-28 21:24] alxlampe commented on #1332
@vfdev-5  I don't clearly understand the purpose of `engine.terminate` and engine.terminate_epoch`. Is it called if something goes wrong? Or is it called if some threshold/metric is reached? Can you link an example?

My intuition about `engine.terminate` and `engine.terminate_epoch` was, that it just gives control to break out of the iteration loop with `engine.terminate_epoch` and to break out of

[2020-09-28 21:43] vfdev-5 commented on #1332
@alxlampe thanks for the tables, it helps to see better and maybe we have to update our docs with such tables !

Basic use-cases of `engine.terminate` and `engine.terminate_epoch` are the following:
- `engine.terminate` is executed if a Nan is encountered and we can not proceed the training without repairing manually things (see `TerminateOnNan` handler). This one is sort of fatal engine stopping.

[2020-09-29 06:57] sdesrozis commented on #1259
Just a remark, having a `restart()` method lets user call it when he wants, even if it's not the good time. Why do not have such feature in the trainer ? No way to misuse it. What do you think ?
@vfdev-5 @fco-dv

[2020-09-29 07:50] vfdev-5 commented on #1259
@sdesrozis I agree that exposing such method can lead to a potential misuse and bugs. Adding `Engine.restart` method can have the same problems.
I let you discuss what could be an appropriate way to handle the actual problem.

[2020-09-29 08:41] fco-dv commented on #1259
@sdesrozis I agree, there's maybe a safer way to do that. When you said " even if it's not the good time " , can you figure out a use case ?

[2020-09-29 11:57] sdesrozis commented on #1259
For instance
[code]

By writing that, I realized that it could be a very nice feature to be able to restart or invalidate epochs if something wrong happened during learning. For example
epoch 10 started
  => save weights and others parameters
  => do something (maybe change lr, or what you want)
run several epochs
  => if something wrong, restart to epoch 10 and rerun with new parametrization

Tha

[2020-09-29 12:10] vfdev-5 commented on #1259
@sdesrozis I think calling `trainer.state.restart()` during the training can be dangerous and lead to unhandled/buggy situations. And it is a bit different from
[code]
I think we shouldn't provide `restart`-like methods...

If we would like to devalidate some epoch etc. We can simply set the number as required (even it is very dynamic as approach):
[code]

[2020-09-29 13:09] sdesrozis commented on #1259
Ok that was my first felling too...

Maybe something like

[code]

@vfdev-5 @fco-dv Thoughts ?

[2020-09-29 13:22] fco-dv commented on #1259
@sdesrozis looks better for sure

[2020-09-29 13:38] vfdev-5 commented on #1259
I'm not fan of introducing new arg like `restart` ...

[2020-09-29 14:05] sdesrozis commented on #1259
@vfdev-5 I understand.
@fco-dv Do you have a better idea ? Otherwise, let's implement `trainer.state.restart()` and we will see.

[2020-09-29 15:46] fco-dv commented on #1259
@sdesrozis for the moment I don't

[2020-10-01 07:02] rexdivakar commented on #1243
I would love to work on this pls assign it on my name @vfdev-5

[2020-10-01 07:24] sdesrozis commented on #1243
@rexdivakar Thank you for your help !!

[2020-10-01 07:30] rexdivakar commented on #1269
I would love to work on it @vfdev-5

[2020-10-01 09:21] sdesrozis commented on #1269
@rexdivakar  Thank you for your help !!

[2020-10-01 13:52] vfdev-5 commented on #1316
@guptadhaval18 currently, this issue is assigned to @AnshuTrivedi

[2020-10-01 13:53] vfdev-5 commented on #1316
@AnshuTrivedi any updates from your side ?

[2020-10-01 15:42] sdesrozis opened #1334 "Artifacts and Allegro Trains"
## ❓ Questions/Help/Support

I have my own local trains server. It works perfectly well to log scalars and log history. However, I don’t catch how to upload models on the server. It seems models of examples on demo server are not uploaded.

I use the following code from documentation

[code]

Models are referenced as local files on computing server... I surely missed something, some help is needed

[2020-10-01 15:51] sdesrozis commented on #1334
@bmartinn any help is welcome!

[2020-10-01 16:01] guptadhaval18 commented on #1315
Hi @vfdev-5 , I want to work on this issue.

[2020-10-01 16:07] vfdev-5 commented on #1315
@guptadhaval18 unfortunately, this one is also assigned to @AnshuTrivedi .
Please, take another Hactorberfest issue that is not yet assigned to someone: https://github.com/pytorch/ignite/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest+no%3Aassignee
Thanks !

[2020-10-01 16:48] sdesrozis commented on #1334
@vfdev-5 Thank you, I think it’s what I did. I give a feedback tomorrow on that.

[2020-10-01 17:28] RaviTezu commented on #977
Hi @vfdev-5 Is this issue still open? If yes, I would like to give it a try. Thanks.

[2020-10-01 17:37] vfdev-5 commented on #977
@RaviTezu yes, it is still open. Sure, please go ahead ! I'll assign you to this issue.

[2020-10-01 18:48] theodumont commented on #1273
Hi @vfdev-5, I tried to make it work locally.

Replacing the actual
[code]
by
[code]
produces this output when built:

![image](https://user-images.githubusercontent.com/59149044/94849281-73eac980-0425-11eb-9aee-13fc32782f45.png)
and we could specify a `:template:` option for the `autosummary` to customize the rendering of the `.rst` file.

But we still need to manually specify the classes and fun

[2020-10-02 03:12] HelioStrike commented on #1308
@vfdev-5 So the following code needs to be added in [native.py](https://github.com/pytorch/ignite/blob/0c417789599341d4b18a0b43ea35a9e7a7ea06b2/ignite/distributed/comp_models/native.py#L224) and [here](https://github.com/pytorch/ignite/blob/0c417789599341d4b18a0b43ea35a9e7a7ea06b2/ignite/distributed/comp_models/horovod.py#L100).
[code]
Is there anything else that needs to be done?

[2020-10-02 06:22] #1259 closed

[2020-10-02 07:06] guptadhaval18 commented on #936
@vfdev-5 I would like to contribute.

I may be wrong. But I think the code given in link is already solving the issue without any modification.

[2020-10-02 07:27] sdesrozis commented on #1334
Here is my test
[code]
Outout curve is ok.
![Capture d’écran de 2020-10-02 08-41-25](https://user-images.githubusercontent.com/10013598/94898002-14c29e80-0491-11eb-907c-94112043e72e.png)

but artifact is not uplaoded. The path is related to host machine.
![Capture d’écran de 2020-10-02 08-42-28](https://user-images.githubusercontent.com/10013598/94898042-286e0500-0491-11eb-889f-d39a597e0d9f.png)

[2020-10-02 07:31] sdesrozis commented on #936
@guptadhaval18 Thank you.

The code is correct but it has to be modified because we expect an handler (see https://pytorch.org/ignite/concepts.html#events-and-handlers).

Documentation and tests are needed too.

HTH

[2020-10-02 08:02] vfdev-5 commented on #1331
@fco-dv could you please take a look at this issue and propose a way to fix it along the way with https://github.com/pytorch/ignite/pull/1333 which actually shouldn't introduce `state.restart` as it was discussed in the corresponding issue.

[2020-10-02 08:04] vfdev-5 commented on #1315
@AnshuTrivedi any updates on this issue from your side ?

[2020-10-02 08:21] guptadhaval18 commented on #936
@sdesrozis so basically

- [ ] the code has to be written in new file created at `ignite/handlers`
- [ ] test has to be written at `tests/ignite/handlers`
- [ ] docs has to be written in `docs/source/handlers.rst`

If yes, please assign me the task, else correct me if I am wrong.
Thanks for your help

[2020-10-02 08:28] sdesrozis commented on #1297
@hershd23 any updates on this issue from your side ?

[2020-10-02 08:29] sdesrozis commented on #1278
@kenjihiraoka any updates on this issue from your side ?

[2020-10-02 08:31] sdesrozis commented on #1278
@kenjihiraoka Can I close this issue ?

[2020-10-02 08:37] sdesrozis commented on #1236
@ramesht007 any update on this issue ?

[2020-10-02 08:58] ramesht007 commented on #1236
hey @sdesrozis , I am working on this. will give a PR in few days. 🙂

[2020-10-02 09:07] vfdev-5 commented on #1278
Currently, mypy ignores all errors for all modules. We have to rework our typing such that mypy checks the code.
We can close this issue and create another one to make mypy pass on some of ignite's core modules like utils etc

[2020-10-02 09:13] sdesrozis commented on #1334
See here https://github.com/allegroai/trains/issues/171

The good way is to use `output_uri` in `Task.init()` with value `http://<train-server>:8081`.

[2020-10-02 09:35] sdesrozis commented on #936
@guptadhaval18 That is correct. Thank you for the help !

[2020-10-02 10:04] hershd23 commented on #1297
Yeah, getting to it sorry for the delay

[2020-10-02 10:06] vfdev-5 opened #1336 "Missing links in the doc"
## 🐛 Bug description

Missing links in the docs : https://pytorch.org/ignite/contrib/engines.html#module-ignite.contrib.engines.common for methods:
- add_early_stopping_by_val_score -> EarlyStopping
- gen_save_best_models_by_val_score -> Checkpoint
- save_best_model_by_val_score -> Checkpoint

[2020-10-02 10:14] sroy8091 commented on #1336
@vfdev-5  Please assign this issue to. I am working on this.

[2020-10-02 10:21] sdesrozis commented on #1334
It works. I close this question.

[2020-10-02 10:21] #1334 closed

[2020-10-02 10:22] vfdev-5 commented on #1336
@sroy8091 sure!

[2020-10-02 10:50] AnshuTrivedi commented on #1315
@vfdev-5 i'm working on it ,due to  difficulty in dependenies i couldn't proceed further.I'm trying another way between @guptadhaval18  can work on it if he wants.

[2020-10-02 12:02] vfdev-5 commented on #1315
@AnshuTrivedi which dependenies difficulty you have ? Maybe we can help with that to guide how to setup a dev environment ?

[2020-10-02 13:21] hershd23 commented on #1297
Hi I was trying to install apex to my system but according to this https://github.com/NVIDIA/apex their support for windows in experimental. (My Linux laptop is at my college :( ). If there is any workaround on how to run the Pascal VOC example on my laptop, I'd really appreciate the help!

[2020-10-02 13:30] vfdev-5 commented on #1297
@hershd23 can you try it inside docker (for example, with our [pytorchignite/apex-vision:latest](https://hub.docker.com/r/pytorchignite/apex-vision) ) ?
Maybe, you can try also to install it without compiling C++ stuff, only python.
Last resort is to use google Colab.

[2020-10-02 13:38] shngt commented on #1332
Hi, I'm interested in picking this up. Would you like only the docs to be updated with `If engine.terminate is called, TERMINATE_SINGLE_EPOCH and TERMINATE are called but not EPOCH_COMPLETED.`, or the tables to also be included?

[2020-10-02 13:43] vfdev-5 commented on #1332
@shngt thanks ! I think having the table in the docs would be better.

[2020-10-02 17:46] sroy8091 commented on #1336
I found that below all logger setup functions return also doesn't have hyperlinks, should I add those also?
@vfdev-5

[2020-10-02 17:57] vfdev-5 commented on #1336
Yes, please

[2020-10-02 21:52] #1336 closed

[2020-10-02 22:04] vfdev-5 commented on #1273
@theodumont sorry for delay. Thanks for working on this issue! Yes, initial idea is to replace manually added items to automatically generated things.

Can you check if we can easily upgrade to 3.1 version ?

[2020-10-02 22:30] #1309 closed

[2020-10-03 04:37] sroy8091 commented on #1270
@vfdev-5 currently are we using github pages for deploying docs?

[2020-10-03 06:22] apthagowda97 commented on #1235
I would like to work on this.

[2020-10-03 06:40] vfdev-5 commented on #1270
@sroy8091 yes, docs are built and deployed as a Travis CI job on master push: https://github.com/pytorch/ignite/blob/master/.travis.yml#L62

[2020-10-03 06:44] vfdev-5 commented on #1235
@apthagowda97 sure, please go ahead. I assign you to this issue

[2020-10-03 06:55] #1332 closed

[2020-10-03 07:08] sroy8091 commented on #1270
We can upload the artifact on build success to s3, including the build number as s3 bucket path. Next step would be to include that link in the pr.

[2020-10-03 07:08] sroy8091 commented on #1270
Any better approach @vfdev-5

[2020-10-03 09:49] crysoar commented on #1316
There's help wanted label on this. Is this open for assigning?

[2020-10-03 11:53] vfdev-5 commented on #1316
@crysoar @guptadhaval18 @AnshuTrivedi This issue is now unassigned, if interested in working on that, please, send a PR to fix it

[2020-10-03 17:44] trsvchn commented on #1316
Good! I am going to join as well!

[2020-10-03 20:30] #1278 closed

[2020-10-03 20:36] vfdev-5 opened #1341 "MyPy: improve ignite.utils module"
## 🚀 Feature

Currently, mypy ignores all errors for all modules. We have to rework our typing such that mypy checks the code.
In this issue, let's improve https://github.com/pytorch/ignite/blob/master/ignite/utils.py module such that mypy passes on it.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a loo

[2020-10-03 20:38] vfdev-5 opened #1342 "MyPy: improve ignite.base module"
## 🚀 Feature

Currently, mypy ignores all errors for all modules. We have to rework our typing such that mypy checks the code.
In this issue, let's improve https://github.com/pytorch/ignite/tree/master/ignite/base module such that mypy passes on it.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a look at

[2020-10-03 20:42] vfdev-5 commented on #1286
Seems like this issue is already fixed by https://github.com/pytorch/ignite/pull/1325
I close the issue. @benji011 feel free to pick other HF issues if interested to help the project. Thanks !

[2020-10-03 20:42] #1286 closed

[2020-10-03 21:01] vfdev-5 commented on #1316
@trsvchn could you also please consider other currently unassigned HF issue : https://github.com/pytorch/ignite/issues?q=is%3Aopen+label%3AHacktoberfest+no%3Aassignee

It would be more helpful instead of picking a single PR from 2 or 3 others fixing the same issue.

[2020-10-03 21:11] thescripted commented on #1342
Hey, would love to contribute!  I've read through the contributing guide & should be able to complete this over the weekend.

[2020-10-03 21:14] vfdev-5 commented on #1342
Thanks @thescripted ! Let me assign it to you.

[2020-10-03 21:17] gruebel commented on #1341
Should be no problem, happy to help 😄

[2020-10-03 21:20] vfdev-5 commented on #1341
Nice, thanks @gruebel !

[2020-10-03 21:21] vfdev-5 opened #1343 "MyPy: improve improve ignite.handlers module"
## 🚀 Feature

Currently, mypy ignores all errors for all modules. We have to rework our typing such that mypy checks the code.
In this issue, let's improve https://github.com/pytorch/ignite/tree/master/ignite/handlers module such that mypy passes on it.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a loo

[2020-10-03 21:24] vfdev-5 opened #1344 "MyPy: improve ignite.distributed module"
## 🚀 Feature

Currently, mypy ignores all errors for all modules. We have to rework our typing such that mypy checks the code.
In this issue, let's improve https://github.com/pytorch/ignite/tree/master/ignite/distributed module such that mypy passes on it.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a

[2020-10-03 21:40] trsvchn commented on #1343
Hi! I would like to work on this issue!

[2020-10-03 21:43] vfdev-5 commented on #1343
@trsvchn thanks! Sure, go for it :)

[2020-10-03 21:43] vfdev-5 opened #1345 "Expose EventEnum in the docs and fix custom events example"
## 🚀 Feature

Currently, `EventEnum` is absent in the docs and below there is no link in the docs:

<img width="663" alt="Screen Shot 2020-10-03 at 23 34 44" src="https://user-images.githubusercontent.com/2459423/95002160-565a6300-05d1-11eb-9af2-a79886069af0.png">

https://pytorch.org/ignite/master/engine.html#ignite.engine.events.Events

Idea is to introduce it in the docs by adding a docstring h

[2020-10-03 21:53] vfdev-5 opened #1346 "Improve or New time profiling utility"
## 🚀 Feature

Currently, ignite provides only a basic time profiling tool : https://pytorch.org/ignite/master/contrib/handlers.html#ignite.contrib.handlers.time_profilers.BasicTimeProfiler

Which can print something like
[code]

What would be nice to have:
- more compact representation (maybe inspire from https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile)
- profile hand

[2020-10-03 22:18] vfdev-5 opened #1347 "Improve examples using Ignite Trains server"
## 🚀 Feature

A follow-up of https://github.com/pytorch/ignite/issues/1334 and idea is to setup `output_uri` to `TrainsSaver` if we are using Ignite Trains server to upload artifacts.

[2020-10-03 22:35] vfdev-5 commented on #1269
Hi @rexdivakar I wonder if you plan to work on this issue soon ? This is something we'd like to have quick :) Thanks

[2020-10-03 23:27] vfdev-5 commented on #1270
@sroy8091 I'm eager to do it with netlify like here : https://github.com/beeware/beeware.github.io/pull/426
Let me check it first and conifgure it on netlify side. You can then provide additional info...

[2020-10-04 00:25] vfdev-5 commented on #1270
Here is netlify configured:
- a test PR : https://github.com/pytorch/ignite/pull/1348
and docs preview for the PR : https://deploy-preview-1348--pytorch-ignite-preview.netlify.app/

Currently, it builds the docs as described in CONTRIBUTING and not as in travis (maybe OK).
What remains is to do:
- add condition to travis yaml to run Docs stage on master only
- update CONTRIBUTING guide saying that

[2020-10-04 00:31] rexdivakar commented on #1269
I'm working on it will raise the PR soon @sdesrozis

[2020-10-04 01:41] sroy8091 commented on #1270
awesome. will push the travis changes

[2020-10-04 05:01] MinchinWeb commented on #1316
@vfdev-5 This issue is coming up (near the top, actually) using the search you provided.... It would seem no one has been "assigned" this on GitHub.

[2020-10-04 06:22] harsh8398 commented on #1345
I would like to work on this. Could you please assign this to me? Also one quick question, can you elaborate on `improve above and all other examples where EventEnum is mentioned`?

[2020-10-04 07:03] vfdev-5 commented on #1316
@MinchinWeb sorry about that.

[2020-10-04 08:59] gruebel commented on #1344
If it's ok, I would continue with this module 💪

[2020-10-04 11:38] vfdev-5 commented on #1344
@gruebel sure !

[2020-10-04 12:08] vfdev-5 commented on #1345
@harsh8398 sure !

Please, search for all `EventEnum` mentions in the repository in addition to its definition. It should be mentioned in several docstrings and example that probably missing an explanation on how to import it. Idea is to add `from ignite.engine import EventEnum` to all those examples.

[2020-10-04 12:38] #1316 closed

[2020-10-04 12:42] gruebel commented on #1344
Due to this definition here
https://github.com/pytorch/ignite/blob/20167fe587cb106db59dd5123b6a02aaacd5633a/ignite/distributed/comp_models/base.py#L82-L85
`mypy` doesn't allow to add extra parameters in other classes like
https://github.com/pytorch/ignite/blob/20167fe587cb106db59dd5123b6a02aaacd5633a/ignite/distributed/comp_models/native.py#L259-L271
it results in
[code]
To fix it I would need to

[2020-10-04 12:46] vfdev-5 commented on #1344
Intersting. What kind of change it would require? Maybe, then the problem will be with other implementations of spawn for Horovod, XLA comp models...
https://github.com/pytorch/ignite/blob/20167fe587cb106db59dd5123b6a02aaacd5633a/ignite/distributed/comp_models/horovod.py#L118-L127

[2020-10-04 12:55] #1341 closed

[2020-10-04 13:00] gruebel commented on #1344
yeah, sorry. The problem relates to all three Horovod, XLA and native. I could change the function definition to
[code]
that's what they all have in common and extract the extra keyword args in the different implementations.

[2020-10-04 13:04] vfdev-5 commented on #1344
I wonder if we can not use somehow [`@overload` decorator](https://docs.python.org/3/library/typing.html#typing.overload) for that ?

[2020-10-04 13:32] gruebel commented on #1344
As far as I understand `@overload` I would still need to define the function `spawn(*args, **kwargs)` in each mplementation and put their the main code
[code]

No sure, if it is that beneficial, but it would be possible.

[2020-10-04 14:32] gruebel commented on #1344
This is also problematic
https://github.com/pytorch/ignite/blob/74531d908296ccd270721ef37f4e02752a3906bf/ignite/distributed/auto.py#L269-L278
it results in
[code]

Can I change the type to `Dataset` or is it needed to be `Sampler`?

[2020-10-04 15:15] vfdev-5 commented on #1344
that's true that there is a type mismatch between this code and base code
pytorch. However, it should be sampler.
Can we put an ignore here and for spawn now and maybe resolve them later?

On Sun, Oct 4, 2020, 16:32 Anton Grübel <notifications@github.com> wrote:

[2020-10-04 17:43] theodumont commented on #1273
Running
[code]
raises no error, and the docs are generated. Is it enough to say that upgrading to 3.1 version is doable?

[2020-10-04 19:05] #1345 closed

[2020-10-04 19:14] vfdev-5 commented on #1273
@theodumont this sounds good ! Can you then check if we can generate the docs like we do it in travis:
https://github.com/pytorch/ignite/blob/3f8daafa7ea119bcf2845c7d042d576f2b9ec122/.travis.yml#L70-L75

but with Sphix==3.1

[2020-10-04 20:01] vfdev-5 commented on #1256
@rexdivakar any updates on this ?

[2020-10-04 20:08] vfdev-5 commented on #1305
Current state of the issue:
- we provide scripts to build and push images:
  - https://github.com/pytorch/ignite/blob/master/docker/hvd/build_all.sh
  - https://github.com/pytorch/ignite/blob/master/docker/main/build_all.sh
  - https://github.com/pytorch/ignite/blob/master/docker/msdp/build_all.sh
  - https://github.com/pytorch/ignite/blob/master/docker/push_all.sh

What remains to do:
- ensure th

[2020-10-04 20:21] theodumont commented on #1273
Great, I just run these commands and except a few minor `rst` syntax warnings that were already there before, it seems to work.

A few warning lines that weren't written when running the travis scripts with the old version of Sphinx caught my attention though:
[code]
Do you think this is a big deal?

Awesome for the preview thanks to [#1270 (comment)](https://github.com/pytorch/ignite/issues/1270#

[2020-10-04 20:27] vfdev-5 commented on #1273
Thanks for the update @theodumont !

Good question, I do not know. I'd say if all links and text are present, let's ignore the warning. Otherwise, maybe we should google them...

Yeah, I'd like to have preview working to see how it is with sphinx 3.1.

Anyway, please send a PR to close #1272 issue with just sphinx version update. Thanks !

[2020-10-04 20:40] vfdev-5 commented on #829
@sdesrozis confusion matrix is a 2D tensor, I wonder if we can not log it to TB in a certain way: heatmap, something else ...
I also agree that exposing `metric_names` makes sense too.

[2020-10-04 20:55] theodumont commented on #1273
Done!

[2020-10-04 21:37] #1272 closed

[2020-10-05 01:05] rexdivakar commented on #1256
Working on this will raise a PR soon

[2020-10-05 03:01] rafaelpadilla opened #1357 "FastaiLRFinder does not run more than 1 epoch. Why?"
I have been trying to use the `FastaiLRFinder` to find the best learning rate for my module.

If we create the trainer with the function `create_supervised_trainer` as below:

[code]

and run it:

[code]

A warning will come up say: "UserWarning: Desired num_iter 50 is unreachable with the current run setup of 15 iteration (1 epochs) from ignite.contrib.handlers.param_scheduler import (LRScheduler

[2020-10-05 07:01] sdesrozis commented on #1357
@rafaelpadilla Thank you for this question.

I agree with you, I don't see any reason to limit the run to maximum epoch. Maybe @vfdev-5 could have more inputs about it.

[2020-10-05 07:09] sdesrozis opened #1358 "Update CIFAR10 and Pascal VOC examples to use Trains fileserver"
## 🚀 Feature

Trains fileserver was not used when CIFAR10 and Pascal VOC runs were done. It means artifacts (i.e. model weights) were not uploaded and dashboard shows host local paths unreachable for artifacts.

Trains fileserver that should be used for examples is `https://files.ignite.trains.allegro.ai`. Examples runs must be updated.

[2020-10-05 07:14] sdesrozis commented on #1347
Note that Trains fileserver can be configured in `trains.config` in `sdk.developpment.default_output_uri` that means no modification in code.

`TrainsSaver(..., output_uri=<path>)` will forward `output_uri` to related `Trains.Task.init(...)`.

[2020-10-05 07:24] sdesrozis commented on #1358
duplicate #1347

[2020-10-05 07:24] #1358 closed

[2020-10-05 08:20] vfdev-5 opened #1359 "Failing GPU horovod tests"
## 🐛 Bug description

`apt-get update` command constantly fails : https://app.circleci.com/pipelines/github/pytorch/ignite/767/workflows/ce6c78f3-39e3-4856-95af-c31987164263/jobs/1758

[2020-10-05 08:29] vfdev-5 commented on #1357
@rafaelpadilla you can either set epoch length to more than 50 iterations or add more epochs to run:
[code]

[2020-10-05 08:33] vfdev-5 commented on #1347
This is nice ! In this case we can only update docs for the examples.

[2020-10-05 08:46] vfdev-5 commented on #1256
@rexdivakar sounds good. It would be nice to have the PR on tuesday. As you have 3 issues assigned we'd like to have some activity on these issues without blocking other users who'd like to help out.

[2020-10-05 08:47] vfdev-5 commented on #1269
@rexdivakar it would be nice to have the PR on tuesday. Thanks !

[2020-10-05 09:18] gruebel commented on #1359
I did some digging and it seems to be an issue with repo, nvidia updated the package, but not the hash file 🤦
https://forums.developer.nvidia.com/t/apt-update-failing-on-ubuntu-cuda-repo/140815/4

[2020-10-05 09:22] vfdev-5 commented on #1359
Yeah, seems like that 🤦
Let's see if they fix it soon or we should do something without running `apt-get update`.

[2020-10-05 13:00] rexdivakar commented on #1256
oh k will do it soon @vfdev-5

[2020-10-05 14:33] rexdivakar commented on #1243
Due to the flexible nature of the required inputs depending on the route, not all of the possible paramters can be listed in code-style.yml, so you will see this warning under normal usage of the action. As long as you see a 200 response code at the bottom of the output, everything should have worked properly and you can ignore the warnings. The response code will appear at the bottom of the outpu

[2020-10-05 15:03] vfdev-5 commented on #1243
OK, let's then just update `stefanzweifel/git-auto-commit-action` to the latest version 4.
[code]

[2020-10-05 16:16] #1347 closed

[2020-10-05 17:27] harsh8398 commented on #1346
I would love to work on this. Could you please assign it to me?

[2020-10-05 17:50] vfdev-5 commented on #1346
@harsh8398 sure ! Thanks !

[2020-10-05 17:58] rafaelpadilla commented on #1357
@vfdev-5
It can be solved by setting `epoch_length`.

But I guess it makes the `num_iter` parameter passed by the `attach` method meaningless.

The API is confusing.

[2020-10-05 19:47] oaimtiaz commented on #1009
Hi! I am interested in helping out with this, but I am slightly confused as to what is expected. Should we be implementing these metrics again anew or using the Baal implementations in this project?

[2020-10-05 19:54] vfdev-5 commented on #1009
Hi @oaimtiaz, idea is to implement ECE and MulticlassECE from scratch and using our formalism of metric's implementation : https://pytorch.org/ignite/metrics.html#how-to-create-a-custom-metric
Implementation in Baal can be a soft of reference and shouldn't be used.
Do not hesitate to ask other question if need other details.

[2020-10-05 20:01] oaimtiaz commented on #1009
Thanks! I'll get started on this right away!

[2020-10-05 20:38] #1243 closed

[2020-10-05 20:40] vfdev-5 commented on #1262
Let me close the issue as answered. Feel free to reopen if needed.

[2020-10-05 20:40] #1262 closed

[2020-10-05 21:16] vfdev-5 commented on #1219
Maybe, it would be better to reimplement BYOL too : https://arxiv.org/abs/2006.07733

[2020-10-05 21:39] vfdev-5 commented on #1342
@thescripted will you work on this issue today or tomorrow ? As we have another PR dependent on this issue, it would be nice to have this one resolved quickly.

[2020-10-05 21:41] thescripted commented on #1342
Writing up a PR as we speak (:

[2020-10-05 21:42] vfdev-5 commented on #1342
@thescripted thanks !

[2020-10-05 21:56] vfdev-5 opened #1366 "Example implementation of BYOL"
## 🚀 Feature

It would be nice to provide [BYOL](https://arxiv.org/abs/2006.07733) implementation with Ignite. For reference, we can take this repository: https://github.com/lucidrains/byol-pytorch

[2020-10-06 05:34] rexdivakar commented on #1269
PR has been raised appologies for the delay i had to do testing to confirm my changes
Please validate it and approve my PR @vfdev-5

https://github.com/pytorch/ignite/pull/1367

[2020-10-06 07:04] sdesrozis commented on #1219
Yes, it's not so far from SimCLR. I will do it in my research lab during next few months.

[2020-10-06 07:10] #1342 closed

[2020-10-06 10:50] vfdev-5 commented on #1257
Rules are updated. Ignite has topic "hacktoberfest" and all merged PR will count for 5 Hacktoberfest PRs:
[code]

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-06 12:52] gruebel opened #1368 "Improve typing of distributed.comp_modules.utils.all_gather"
## 🚀 Feature

As a followup to the issue #1344 and comment https://github.com/pytorch/ignite/pull/1355#discussion_r499854850 it is needed to rework the typing of the `utils.all_gather` and the different realizations serial, native, hvd, xla.

[2020-10-06 13:57] #1344 closed

[2020-10-06 14:45] #1343 closed

[2020-10-06 14:50] vfdev-5 commented on #1359
Let's close this issue as seems like it was fixed from their side.

[2020-10-06 14:50] #1359 closed

[2020-10-06 14:52] vfdev-5 commented on #1303
@mil-ad I close this issue as solved, let me know if you need more support on that.

[2020-10-06 14:52] #1303 closed

[2020-10-06 15:25] #977 closed

[2020-10-06 17:09] Tanmay06 commented on #467
Hi! I would like to work on this. Would you please assign this to me ?

[2020-10-06 19:01] vfdev-5 commented on #467
@Tanmay06 sure !

[2020-10-06 19:33] trsvchn opened #1369 "[DOCS] Rendered class and method signature overlaps with [source] after sphinx update"
## 🐛 Bug description

I've noticed that after updating to `sphinx=3.1`, documentation has some problem with class header layout, if you go to the docs webpage, you can find that in some cases type hits overlap with [SOURCE] button, in some cases even definition overlaps as well. Zooming-in/out doesn't help.

Here is what I get:
![docs1](https://user-images.githubusercontent.com/30748114/95250758-3

[2020-10-06 19:38] vfdev-5 commented on #1369
@trsvchn thanks for the report, yes, I noticed that too but I thought that it was due to newly introduced type annotations.

Does it mean, you have you tested current master branch with `sphinx==1.8.5` ?

If yes, maybe we can try the latest version of sphinx == 3.2.1 and check if it was fixed ?

[2020-10-06 19:52] vfdev-5 commented on #1300
@sdesrozis according to your time schedule, let's make this issue as Hacktorberfest and if it is not yet solved, you can try to give a shot.

[2020-10-06 19:54] trsvchn commented on #1369
Nope all new versions after `2.4.4` do not produce the right results, same problem. I've also find this [Pin Sphinx to 2.4.4 ](https://github.com/pytorch/pytorch/pull/36065), they also pinned to `2.4.4` version, looks like pytorch theme has some troubles with newer sphinx.

[2020-10-06 20:05] vfdev-5 commented on #1369
@trsvchn thanks for details, seems like we have no choice here. However, we wanted to update to 3.1 due to https://github.com/pytorch/ignite/issues/1273 .
I think we have to downgrade to 2.4.4 and try to autogenerate toc tree somehow differently.

cc @theodumont for visibility

[2020-10-06 20:49] gruebel commented on #1368
@vfdev-5 I took a look on the code again and your suggested typing, is not feasible.
[code]
Looking at the definition of `all_gather` inside the `ComputationModel` class
https://github.com/pytorch/ignite/blob/380dd3b0de3c8b4459b2ef221fcefb29f42f9458/ignite/distributed/comp_models/base.py#L163-L167
there is a reference to the function `_collective_op` and there is no possibility to get a result of

[2020-10-06 21:02] vfdev-5 commented on #1368
@gruebel you are right, `_collective_op` implementation does not handle this case properly. Let me detail it, in case of all gather, collective op does the following for the input as number:
[code]
comparing with in case of all reduce, collective op does:
[code]

Probably, we can add the following case
[code]

I think "return" type annotations of `_collective_op` is not complete, I'd say it should

[2020-10-06 21:08] gruebel commented on #1368
ok, that makes sense. I also saw the reference to `~Tensot.tolist` there. I will give it try 💪

[2020-10-06 21:14] vfdev-5 commented on #1315
@AnshuTrivedi due to no response from your side, I have to unassign you.

[2020-10-06 21:16] vfdev-5 commented on #1297
@hershd23 have you managed to install apex ? Feel free to ask here if you need a help with to start with this issue.

[2020-10-06 21:17] josselineperdomo commented on #1315
Hello! I would like to work on this issue :) I'm a participant in Hacktoberfest, could you please give me more details about it?

[2020-10-06 21:19] vfdev-5 commented on #1315
@josselineperdomo sounds good, thanks ! Please, check above messages: https://github.com/pytorch/ignite/issues/1315#issue-707446851 and https://github.com/pytorch/ignite/issues/1315#issuecomment-699494631

[2020-10-06 21:20] vfdev-5 commented on #1236
@ramesht007 how's your PR is going ?

[2020-10-06 21:22] vfdev-5 commented on #1235
@apthagowda97 any updates on this ? Anyway, do not hesitate to ask question if something is not clear about the issue.

[2020-10-06 21:29] josselineperdomo commented on #1315
The idea is add these links: [reinit__is_reduced](https://pytorch.org/ignite/metrics.html?highlight=reinit__is_reduced#ignite.metrics.metric.reinit__is_reduced) and [sync_all_reduce](https://pytorch.org/ignite/metrics.html?highlight=sync_all_reduce#ignite.metrics.metric.sync_all_reduce) to the list of metrics in **Metrics and distributed computations**?

[2020-10-06 21:34] vfdev-5 commented on #1315
Correct and

[2020-10-06 21:38] josselineperdomo commented on #1315
Got it! If you agree, could you please assign me this issue? :blush:

[2020-10-06 21:44] vfdev-5 commented on #1315
@josselineperdomo sure! Thanks

[2020-10-06 22:39] alxlampe opened #1371 "Enabling engine to run single epochs"
## 🚀 Feature

### Problem
I am using multiple engines is a nested way. That means, that if e.g. the main engine fires `Events.EPOCH_COMPLETED`, another child engine is attached to this event and shall run only one epoch.  A solution would be to run the child engine with `engine.run(max_epochs=1)` but then, the engine fires setup and teardown events like `Events.STARTED` and `Events.COMPLETED` each

[2020-10-06 23:11] vfdev-5 commented on #1371
@alxlampe interesting idea, thanks !

If I understand correctly, what you would like to achieve, it can be done with some events filtering:
[code]
gives
[code]

Can it be generalized to your use-case or it is too urgly and specific. What do you think ?

[2020-10-07 00:59] trsvchn commented on #1369
@vfdev-5  I agree with you, we need to downgrade, since for "autotoc" there is alternative solution from SO + we can do it manually (as always :) But I didn't find any solution for that weird header layout.

[2020-10-07 05:48] ramesht007 commented on #1236
Hi @vfdev-5 , I have started working on this (please have a look into [this](https://github.com/ramesht007/ignite/blob/hvd-tests/.github/workflows/hvd-tests.yml)). I have some queries reagrding same.

Our goal is to run distributed tests for CPU, and the tests reffered to are in circleCI which use docker. So i have to use docker for the same?

sorry, for the silly question.

[2020-10-07 06:04] sdesrozis commented on #1300
Ok !

[2020-10-07 06:12] apthagowda97 commented on #1235
By going through issue #419 its best to add gradient clipping to `contrib.engines` as discussed compared with changing `create_supervised_trainer`. Should I name it `create_supervised_gc_trainer`?

[2020-10-07 07:34] vfdev-5 commented on #1235
@apthagowda97 I think it is better let's keep the same name and add the options. Such that there is one multi-option helper function.

[2020-10-07 07:39] vfdev-5 commented on #1236
@ramesht007 in circle ci we use docker env to easily have pytorch distribution without installing conda etc as in github actions. For github actions, let's follow the same setup as https://github.com/pytorch/ignite/blob/master/.github/workflows/unittests.yml#L29 , Setup Miniconda and Install dependencies steps. Let's use python 3.7 and the latest pytorch version.

[2020-10-07 08:19] vfdev-5 commented on #1331
@fco-dv any thoughts/updates on this ?

[2020-10-07 10:35] alxlampe commented on #1371
@vfdev-5  Thanks for your reply.
That's true. You can implement my example from above with event filter. One thing is, that eventually you do not know, what the last epoch is in your `once_at_end` function, but one can replace  this with
[code]
What I think is, that the event handlers that (should) occur exactly one time during a run (like `STARTED` and `COMPLETED`)  now appear multiple times sinc

[2020-10-07 10:58] vfdev-5 commented on #1371
@alxlampe thanks for details, I like what we would like to achieve and I think this can be interesting and important for other application ! I'm not 100% sure about the way to implement it and I think `IterableEngine` has a limitation as being bound to epochs.

Let me think about what can be done with the API

Btw, your above example does not work and says `Engine run is terminating due to excepti

[2020-10-07 15:43] hershd23 commented on #1297
Hi, I have been trying docker for sometime now. I pulled the docker image from DockerHub and even built it from dockerfile but I am still facing issues. If you could tell me how to proceed with either docker or any other way that would be great. Also about running the code, I have a 6GB GPU available with me would that be enough to get around the issue?

[2020-10-07 15:53] vfdev-5 commented on #1297
Difficult to say without seeing what is exactly the issue. Could you please detail which OS and which prebuilt docker image you are using and what exactly the issue do you have.

You can the batch_size to 4 or 6.

https://github.com/pytorch/ignite/issues/1297#issuecomment-695064086

For "from scratch" option, single GPU is OK. For "with ImageNet pretrained weights but model instantiation should do

[2020-10-07 17:37] trsvchn commented on #1369
With #1374 (from netlify preview):
![doc1](https://user-images.githubusercontent.com/30748114/95367014-e56ec000-08dc-11eb-975a-5b6febf52384.png)
![doc2](https://user-images.githubusercontent.com/30748114/95367018-e7388380-08dc-11eb-95c7-9726814dca85.png)

[2020-10-07 17:49] vfdev-5 commented on #1369
@trsvchn awesome, thanks a lot !

[2020-10-07 18:32] thescripted commented on #1300
I'd like to spend a few days & try to resolve this issue. Perhaps it's a quick fix but the extra time will help me get familiarized with more of the codebase as well

[2020-10-07 18:50] trsvchn commented on #1273
`:recursive:` doesn't work for me:

[code]

![recursice-0](https://user-images.githubusercontent.com/30748114/95374399-f4f30680-08e6-11eb-9a64-7a271d8cf709.png)

[2020-10-07 19:43] #1369 closed

[2020-10-07 20:13] vfdev-5 commented on #1300
@thescripted sure, I can assign it to you if you wish.

I'm not sure if it can be a quick fix, there are several things to add, hope you will have time and motivation to discuss and code :)
Approximative plan is :
1) add `max_iters` to State (but I'm not quite sure about that)
2) compute `max_epochs` somehow:
  a) if we have `epoch_length` not None => max_epochs = ceil max_iters / epoch_length
  b

[2020-10-07 20:27] vfdev-5 opened #1375 "Remove deprecated CustomPeriodicEvent (part 2)"
## 🚀 Feature

A follow-up issue to https://github.com/pytorch/ignite/issues/1247 and the PR https://github.com/pytorch/ignite/pull/1252 where we forgot about this notebook example : https://github.com/pytorch/ignite/blob/master/examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb - Cell 40.

Fixing this issue can be an opportunity to learn about Ignite's API and neural networks.

For Hacktobe

[2020-10-07 20:41] trsvchn commented on #1375
@vfdev-5 I would like to investigate ignite api, can try this issue?

[2020-10-07 20:41] vfdev-5 commented on #1375
Sure @trsvchn , thanks !

[2020-10-07 20:47] #1315 closed

[2020-10-08 01:40] thescripted commented on #1300
Got it, yeah I'd be happy to put in the time and motivation to work through this, and I'll be quick to step it back and let someone else contribute if I feel incapable.

[2020-10-08 01:55] sadielbartholomew commented on #683
Hi there, I think I may be able to resolve this Issue. Would you be happy to assign me, and accept my contribution as a Hacktoberfest PR should I manage to put in a PR that closes it?

Since the original poster has not answered this, I can briefly outline some good resources on the Hausdorff Distance (HD subsequently) that I have found whilst looking into this, as below.

#### References

For a de

[2020-10-08 06:45] sdesrozis commented on #1300
Side remark : help to solve #1357 and maybe #1371 ?

[2020-10-08 06:57] sdesrozis commented on #683
@sadielbartholomew Thank you for this FR. I'm very curious and interested by such metric for detection and segmentation apps. I think that it could be nice to have a good demonstrative example t show how use this wrt others metrics (iou for instance). What do you think ?

IMO, implementation should be distributed because targeted apps are time consuming. The test should be compared to `sklearn` im

[2020-10-08 07:25] vfdev-5 commented on #1300
@sdesrozis I think those issues should be fixed in other PRs

[2020-10-08 07:40] vfdev-5 commented on #683
@sadielbartholomew yes, I can assign it to you. Thanks for the link !

yes

@sdesrozis OK for me.

[2020-10-08 22:41] vfdev-5 commented on #1308
Closed via #1376

[2020-10-08 22:41] #1308 closed

[2020-10-09 02:29] sadielbartholomew commented on #683
Thank you ,@sdesrozis and @vfdev-5.

Just FYI in case you did not notice, I wasn't the one who made the feature request, so I don't personally have a need for this metric. But it seems more than reasonable that others would benefit from having it, given the numerous applications, as well as the original poster. So I will assume the maintainers would like this feature, still, unless I am told other

[2020-10-09 06:30] ramesht007 commented on #1271
hey, @vfdev-5 can i work on this issue

[2020-10-09 08:49] #1236 closed

[2020-10-09 08:53] vfdev-5 commented on #1271
@ramesht007 thanks for asking! Unfortunately, this issue is up to the dev team to decide and produce our project adapted guidelines.

[2020-10-09 08:56] vfdev-5 commented on #1271
@ramesht007 I saw on your profile that you are a member at @OpenMined, would you be interested in working on "Verify compatibility (if ignite is not blocking) writing applications for Federated Learning" with PySyft from [our Roadmap](https://github.com/pytorch/ignite/wiki/Roadmap#integrations) ?

[2020-10-09 09:14] vfdev-5 commented on #683
@sadielbartholomew yes, let's implement this metric :)

Sounds good !

[2020-10-09 10:02] ramesht007 commented on #1271
yup, @vfdev-5 I would love to do that. 🙂

[2020-10-09 10:03] ramesht007 opened #1378 "Verify compatibility (if ignite is not blocking) writing applications for Federated Learning Using PySyft"
## 🚀 Feature

[2020-10-09 10:03] ramesht007 commented on #1378
DIscussion needed...

[2020-10-09 10:10] vfdev-5 commented on #1378
@ramesht007 thanks, this is according to one of project's Roadmap points : https://github.com/pytorch/ignite/wiki/Roadmap#integrations

Basic idea is to create a simple example application with PySyft and Ignite like ones for RL, GANs etc : https://github.com/pytorch/ignite/tree/master/examples

[2020-10-09 10:12] ramesht007 commented on #1378
yup, this roadmap is great!.

[2020-10-09 10:13] ramesht007 commented on #1378
So, In examples what exactly do you want?

[2020-10-09 10:14] ramesht007 commented on #1378
Do you want a basic usage of ignite using pysyft or something else?

[2020-10-09 10:17] vfdev-5 commented on #1378
Yes, a basic usage of ignite using pysyft and check if everything can work together for other more complex applications ...

[2020-10-09 10:21] ramesht007 commented on #1378
ok, seems like a great idea. 😀🙂

[2020-10-09 10:21] ramesht007 commented on #1378
@vfdev-5 can you assign this issue to me.

[2020-10-09 10:23] vfdev-5 commented on #1378
Sure !

[2020-10-09 10:25] ramesht007 commented on #1378
Thanks I will start working on this Issue. It might take some time as I might to look into Pysyft and Ignite compatibilty.

[2020-10-12 14:42] nsinenian opened #1380 "Documentation for ConfusionMatrix is thin on details, and error messages not informative"
## 🐛 Bug description

Confusion matrix requires that `y_pred` and `y` are to have different dimensions `(batch,num_classes)` and `(batch,)`, respectively. Getting this wrong results in the following error message, which makes no sense (batch size is 5 here, and both `y_pred` and `y` have shape `(5,1)`:

`y_pred must have shape (batch_size, num_categories, ...) and y must have shape of (batch_size,

[2020-10-12 14:45] vfdev-5 commented on #1380
Thanks for the report @nsinenian !
Context : https://discuss.pytorch.org/t/ignite-confusionmatrix-metric-error/99079

[2020-10-12 14:47] vcarpani commented on #1089
Hello, I believe I could be assigned to this issue, since I have a PR for it

[2020-10-12 14:49] vfdev-5 commented on #1089
@vcarpani sure !

[2020-10-13 11:33] Nic-Ma opened #1382 "How to train on part of the dataset"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

We have some requirements for very big dataset:
See we have 100 iterations for 1 epoch, we want to call `run()` to train on the first 10 iterations data, do some other things for the model and then call `run()` to train on the second 10 iterations data, ...
Is it possible in ignite now?
I found the the iter for dataloader in ignite is always from beginni

[2020-10-13 11:53] erezalg opened #1383 "Multi class accuracy metric"
I really looked at issues and googled the question but couldn't find anything I could use so here goes.

I'm porting some code from vanila pytorch to Ignite, and have a CIFAR10 classifier.
Every end of Evaluation epoch, I want to report the per class accuracy.
In Ignite, I only found total accuracy (which I use) but not a per class one.
I wrote this CustomMetric, but I have a few problems with it:

[2020-10-13 14:25] vfdev-5 commented on #1383
@erezalg no problems with asking questions here :)

All metrics and custom ones support `output_transform` which can adapt the output of your network to the input of the metric: logits, probas, thresholded prediction for binary case etc.

So, you can set
[code]
and setup the metric like
[code]

We have per class out-of-the-box metrics for ignite.metrics.Precision and ignite.metrics.Recall. For ign

[2020-10-13 21:53] #1368 closed

[2020-10-13 22:35] vfdev-5 commented on #1375
Hi @trsvchn how is going your investigations of Ignite's API and the notebook ?
Feel free to ask if you need a help/hints/explanations etc.

[2020-10-14 04:21] nsinenian opened #1384 "Cross-Validators (official feature or contrib?)"
## 🚀 Feature

It would be useful to adapt the existing `Engine` class (with its use of decorators/callbacks) to provide for an extensible framework for k-fold/stratified etc. cross validation. The process of k-fold, for instance, always involves the same steps: creating K models, K trainers, running them, then aggregating the results from K runs.

A usage pattern similar to the following might be

[2020-10-14 04:42] sdesrozis commented on #1384
@nsinenian Thank you for suggesting this feature. I strongly agree with you, it would be an awesome feature !!

About implementation, we should not modify `Engine` class. The `CrossValidator` class sounds like a `contrib` high level tool and should be articulated around existing concepts (engines, events, etc.). IMO design a smart api for that feature is the hard part of the job.

Would you like t

[2020-10-14 07:48] vfdev-5 commented on #1384
@nsinenian Thanks for the feature request ! It can be useful and can be added to contrib module.
Recently I did a similar thing with Engine and few methods like you describe. I think `CrossValidator` can be a class that reuse `Engine` (instead of deriving).

I propose to start discussion here before moving to PR.

[2020-10-14 08:07] nsinenian commented on #1384
@sdesrozis  @vfdev-5 I should have been more precise with my language in the original post: I was not suggesting that engine be altered, but rather that a class be derived from engine to provide the requisite functionality, and only if, as you say, the pattern is what is ultimately desired (otherwise there's going to be a lot a rewrite of event-driven/callback registration code.

That brings us to

[2020-10-14 08:32] Nic-Ma commented on #1382
Hi @vfdev-5 ,

Thanks for your suggestion, your solution should work for most of cases.
But my problem is that we are trying to integrate MONAI into our Clara-FL framework, which runs below logic:

1. `fl-client` creates an `engine`, set global training epochs(see 10 epochs, every epoch has 100 iterations).
2.  `fl-client` calls `engine.run()` to train 10 iterations and stop.
3. `fl-client` upload

[2020-10-14 09:19] vfdev-5 commented on #1384
@nsinenian thanks for the details !

Yes, you are right. I think a small refactoring of Engine to split `run two loops` logic and `event-driven/callback registration` code can be useful.

That's a good point ! For instance I have no strong opinion about either deriving from a base class or using events pattern.
If we are using events pattern to customize, certain common logic like `epoch loop + it

[2020-10-14 09:52] vfdev-5 opened #1386 "Epoch is implicitly incremented if terminated on iteration"
## 🐛 Bug description

Below code shows the error:

[code]

The issue is that iteration and epoch start to be unrelated which is a bug.

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

[2020-10-14 10:07] vfdev-5 commented on #1382
Hi @Nic-Ma

OK, I understand better the need. Unfortunately, there is no simple way to perform `run() -> resume() -> resume() ... ->stop()` logic without transforming `Engine` to the generator (related to #1371, i'm working on that).

Currently, main issue is to correctly restore the dataflow from iterations 10, 20 etc.

If it could be possible to make the steps per epoch vs 10 iterations  then a

[2020-10-14 12:04] nsinenian commented on #1384
@vfdev-5 My use case is more like this (pseudocode):

Step 1: Coarse Tune

    generate small data (and small/full model if needed)
    train-test split small data (1:1 or 2:1)
    set hyperparameters
    train model
    collect metrics
    if poor convergence/param issues:
        manually adjust hyperparameters and re-try;
    else
        proceed Step 2

Step 1 is meant to be quick, to get a fe

[2020-10-14 12:27] vfdev-5 commented on #1384
@nsinenian OK, I see, by the step 2 you would like to perform hyperparameters tuning on K folds and in the step 3 retrain the model.

For hyperparameters tuning, we have an example of doing that with Ax: https://github.com/pytorch/ignite/blob/master/examples/notebooks/Cifar10_Ax_hyperparam_tuning.ipynb
Optuna also provides an example for that : [blog](https://medium.com/optuna/using-optuna-to-opti

[2020-10-15 03:11] Nic-Ma commented on #1382
Hi @vfdev-5 ,

Thanks for your detailed suggestions with code.
Let me do a little bit more investigation and discuss with internal team, then get back to you soon.

Thanks.

[2020-10-15 08:10] vfdev-5 commented on #1382
Hi @Nic-Ma sounds good ! Anyway, we also would like to propose a clean solution for Engine as a generator.

[2020-10-16 09:24] alxlampe commented on #1371
@vfdev-5 I did some experiments with the example from my last post and there are some issues:
First, `yield` can not be used in an `if` statement:
[code]
This does not work as expected. Even if `return_generator==False`, the function returns an iterator.

Second, if I have two doubly nested engines, (two of `child_child_engine` in the example from above), the event `STARTED` is *not in sync* with

[2020-10-16 13:22] vfdev-5 commented on #1371
@alxlampe thanks for the update and detailed info about your use-case ! Yes, this could be definitely an awesome and useful feature !

Yes, I also remarked that while playing around. Currently, I think to rewrite Engine as a generator and wrap it such that there is no BC break. Having a generator would be also interesting in case of Federated Learning (see #1382 ) where we need to stop at a number

[2020-10-16 22:13] alxlampe commented on #1371
`EventsDriven` is exactly what I need to create custom engines 👍  I find that the event system is very powerful and easy to use. I also searched for python event frameworks in general but I didn't find one.

I think #1382 could be solved, if  `Engine` provides `engine.run_iteration` that is like `engine.run_epoch`. They could use
[code]
Obviously, this is not a clean solution. But what do you thin

[2020-10-16 23:26] vfdev-5 commented on #1371
@alxlampe there is a sort of major issue with `EventsDriven` and the way we coded filtered events inside `Engine`.
Our current implementation is coupled with `State` and `Events` such that for filtering we fetch event counter from the `State` and perform the filtering. We can decouple them by introducing allowed events counters inside `EventsDriven` as `EventsDriven._allowed_events_counts`. Using

[2020-10-17 14:28] harsh8398 commented on #1346
Hello @vfdev-5, Sorry for lagging on this. So, I have some questions:

We want to add profiling for event handlers attached to engine/events instead of events? Essentially this would be break-down of time taken by handlers attached to events if I understand correctly.

Is this something we can achieve based on events? For example, aggregate diff between GET_BATCH_STARTED and GET_BATCH_COMPLETED?

[2020-10-17 15:00] vfdev-5 commented on #1346
Hi @harsh8398

Yes, something like that. From the user's point of view, showing
[code]
that handlers like `empty_cuda_cache` and `training.<locals>.log_elapsed_time` have taken together 0.12893 seconds on average does not tell who takes that time. As we can have one slow and another fast.
Naively, i'd list all handlers for all events and measure time for the handlers and display a table with handl

[2020-10-17 15:30] aneeshnema commented on #1375
@vfdev-5 if no one is working on this I would like to contribute.

[2020-10-17 23:00] trsvchn commented on #1375
Hi @vfdev-5 sorry for the delay.

Yes, it was hard a little, I am not an OOP person, but I think I'm beginning to see :))

If I understood correctly, after removing `CustomPeriodEvent` related lines we need just smth like this:

[code]

And, it looks like `OutputHandler` has newer api: `global_step_transform` arg instead of `another_engine`.

I am not sure, should we use here `global_step_transfor

[2020-10-17 23:15] vfdev-5 commented on #1375
@trsvchn yes, `CustomPeriodEvent` is simply replaced by filtered event like `Events.EPOCH_STARTED(every=3)`.

Thanks for catching that too. I thought we fixed that everywhere. Could you please also make sure that we now using `` everywhere instead of `another_engine` ?

Yes, `global_step_transform=global_step_from_engine(trainer)` is a correct replacement.

Btw, you can run the notebook on the Col

[2020-10-17 23:17] vfdev-5 commented on #1375
@aneeshnema thanks for proposing help, but this issues is assigned to @trsvchn who is working on it.
Please, take a look at the list of other Hacktoberfest issues : https://github.com/pytorch/ignite/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest+no%3Aassignee
and take the one you'd like to work on.

[2020-10-17 23:21] vfdev-5 commented on #1256
@rexdivakar could you please send a PR for this issue within 2 days, otherwise unfortunately I'll have to unassign you.

[2020-10-17 23:24] vfdev-5 commented on #1235
@apthagowda97 any updates on this issue ?

[2020-10-17 23:28] vfdev-5 commented on #1273
@theodumont any updates on this issue ?

[2020-10-17 23:30] vfdev-5 commented on #457
Close this FR as stale

[2020-10-17 23:30] #457 closed

[2020-10-18 10:05] trsvchn commented on #1375
@vfdev-5 Thanks for reviewing the proposed changes! Yes, I was using colab.

Sure! I will check that!

[2020-10-18 13:49] #1375 closed

[2020-10-18 16:54] apthagowda97 commented on #1235
Soory I was busy frm past few days. I ll try to finish it Asap.

[2020-10-18 19:13] trsvchn commented on #1375
@vfdev-5 No, I didn't find any `another_engine`.

[2020-10-18 19:16] trsvchn commented on #1305
@vfdev-5 I think I can help with this part:

But

I'm not sure that it's possible with GH Actions: [Steps in parallel?](https://github.community/t/steps-in-parallel/16343):

[2020-10-18 19:44] trsvchn commented on #1380
That's why we call it **Confusion matrix** :rofl:

[2020-10-19 10:34] vfdev-5 commented on #1382
Hi @Nic-Ma

Intersting question, could you please provide a link or a code snippet that I could run from my side with FL client and ignite training loop ? It'd help a lot to suggest a solution for distributed computation too.

I think what you would like to do is the following:
[code]
where [idist.one_rank_only](https://pytorch.org/ignite/distributed.html#ignite.distributed.utils.one_rank_only) ex

[2020-10-19 10:45] Nic-Ma commented on #1382
Hi @vfdev-5 ,

Your solution is interesting, I am also investigating distributed training recently.
within `dist.barrier()` pending, I can also broadcast new model weights from rank 0 to others or send message to ask them to abort?

Thanks.

[2020-10-19 10:49] vfdev-5 commented on #1382
You can consider the barrier as an explicit call to synchronize all processes (e.g call all_reduce on a dummy input). So, yes, you can do
[code]

[2020-10-19 11:08] Nic-Ma commented on #1382
Hi @vfdev-5 ,

Sounds good a plan, let me try to develop a simple demo program to verify it first.
And about the messaging, can `raise RuntimeError("abc")` kill all processes directly? Maybe we also need to call `dist.destroy_process_group()`?
Let's investigate how to send messages between processes gracefully, maybe just `broadcast` flag variables.

Thanks.

[2020-10-19 11:31] vfdev-5 commented on #1382
@Nic-Ma this should be confirmed but I think in the end all processes will be killed by a timeout on `dist.barrier()`.

Yes, something like that. I'd do it with all gather like that:
[code]

[2020-10-19 11:34] Nic-Ma commented on #1382
Cool, your trick seems very useful, let me make a demo to verify first.
Thanks.

[2020-10-19 17:29] trsvchn commented on #1273
@vfdev-5 If there is no one interested, I can continue to work on this

[2020-10-19 17:41] vfdev-5 commented on #1273
@trsvchn sure, let me assign it to you.

[2020-10-19 19:50] theodumont commented on #1273
Sorry for the late response. If @trsvchn can continue working on it it is ok for me!

[2020-10-20 11:48] Nic-Ma commented on #1382
Hi @vfdev-5 ,

I developed a simulation program according to our discussion and sent it to your email.
Could you please help review it? Then I can move forward for the next real practice.

Thanks.

[2020-10-20 13:04] vfdev-5 commented on #1382
Hi @Nic-Ma thanks, I received you email and take a look a bit later today.

[2020-10-20 17:59] harsh8398 commented on #1346
I'm done with profiler implementation. The output looks as follows:
![image](https://user-images.githubusercontent.com/20420308/96625000-33e37c00-132b-11eb-83ae-ab5cc524d520.png)

You can review the changes and suggest if any modifications required but there's still some TODOs left before raising the PR. Which are as follows:

- separate rows for Total, Dataflow and Processing stats
- type hints
-

[2020-10-20 19:44] vfdev-5 commented on #1346
@harsh8398 table looks very cool 👍  Thanks a lot for working on that !
If you'd like to send a draft, please feel free to do that.

I'm just thinking about BC compatibility and maybe it would be better to keep 2 classes and name your version as `TimeProfiler` or `HandlersTimeProfiler` or another better name.

Probably, it would be cool ! And even (in another PR) if we could also handle customly ad

[2020-10-21 14:49] harsh8398 commented on #1346
Okay then for BC it seems the best option is to add a new class as `HandlersTimeProfiler`. I'll do that.

For handling custom events, its a bit tricky because like epoch and iteration event handlers we don't know how many times they will get triggered. We can use something like this (https://discuss.pytorch.org/t/dynamically-extend-the-tensor/39553/2) for dynamically extending tensor whenever the

[2020-10-21 14:55] vfdev-5 commented on #1346
@harsh8398 sounds good !

Let's see this a bit later. I think handling custom events should not be too different from original events. Engine is aware of all events it could trigger and which handlers...
If you could open a follow-up issue on that, it would be perfect :)

[2020-10-21 20:19] #1305 closed

[2020-10-21 23:39] vfdev-5 commented on #1214
Close the issue as solved

[2020-10-21 23:39] #1214 closed

[2020-10-22 21:55] BanzaiTokyo commented on #1256
I’d like to look into this

[2020-10-22 22:52] vfdev-5 opened #1395 "Add materials on how to setup dev env in CONTRIBUTING guide"
## 🚀 Feature

It would be helpful for the beginners to understand how to setup its development environment and start working on issues. For example, we can base on installing miniconda and setting up a new conda environment.

Idea is to add a small guide [here](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#developing-ignite) (before Installation section) and provide a link on a com

[2020-10-23 08:20] #1273 closed

[2020-10-23 08:50] vfdev-5 opened #1396 "Remove all deprecated args, kwargs for v0.5.0"
## 🚀 Feature

We would like to find and remove all deprecated args/kwargs and associated docstrings in the codebase if it is mentioned that they will be removed in v0.5.0. For example,
https://github.com/pytorch/ignite/blob/acd2982dfc6ecbea347d1ff88d893f8acdd87a56/ignite/engine/engine.py#L657-L658

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would

[2020-10-23 11:45] ibotdotout commented on #1396
I would like to give a go.

[2020-10-23 12:45] vfdev-5 commented on #1396
@ibotdotout sure!

[2020-10-23 16:55] #1396 closed

[2020-10-23 18:45] harsh8398 commented on #1346
@vfdev-5 raised the draft PR (https://github.com/pytorch/ignite/pull/1398). Let me know if any suggestions or changes needed.

[2020-10-23 19:05] vfdev-5 commented on #1346
@harsh8398 thanks, I'll try to take a look today.

[2020-10-23 22:13] BanzaiTokyo commented on #1256
@vfdev-5 should the gray frame with red vertical line be present for "Parameters" title?

[2020-10-23 22:22] vfdev-5 commented on #1256
@BanzaiTokyo yes, this is OK, see the docs for other correctly rendered methods, e.g. https://pytorch.org/ignite/contrib/engines.html#ignite.contrib.engines.tbptt.create_supervised_tbptt_trainer

[2020-10-24 12:50] ydcjeff opened #1403 "Use @actions/cache in GH actions"
## 🚀 Feature

Use [`@actions/cache`](https://github.com/actions/cache) for caching dependencies to speed up CI

@vfdev-5

[2020-10-24 13:18] trsvchn commented on #1403
Are there the same feature for produced artifacts, e.g. built Docker images?

[2020-10-24 13:24] ydcjeff commented on #1403
@trsvchn Yes, there is https://github.com/docker/build-push-action#leverage-github-cache

[2020-10-24 16:12] trsvchn commented on #1403
@ydcjeff Thanks! I will try!

[2020-10-25 09:48] #1256 closed

[2020-10-25 13:56] vfdev-5 commented on #1395
@BanzaiTokyo would you like to tackle this one :)

[2020-10-25 14:46] BanzaiTokyo commented on #1395
@vfdev-5 This is definitely doable, but looks time consuming. At the moment I have some other urgent things I need to finish. So it looks like something I could look into in a month or so.

[2020-10-25 14:50] vfdev-5 commented on #1395
@BanzaiTokyo OK, I see. Let's see if it is still open then you can give it a go as soon as it is possible for you. Otherwise, I can assign it to anyone else :)

[2020-10-25 14:51] BanzaiTokyo commented on #1395
sure @vfdev-5 !

[2020-10-25 21:58] vfdev-5 opened #1405 "Fix incorrect design for RunningAverage, Frequency, ModelCheckpoint, ..."
## 🐛 Bug description

Thanks to PRs on mypy annotation by @gruebel we discovered few classes where we have to redesign methods in order to keep consistency with their base classes.

- Frequency: https://github.com/pytorch/ignite/pull/1391#discussion_r511651133
- RunningAverage: https://github.com/pytorch/ignite/pull/1391#discussion_r511651876
- Checkpoint: `to_save` should not be `Optional` but it

[2020-10-26 19:06] erezalg commented on #1383
Thanks @vfdev-5 !
Your suggestion with the output transform did the trick!

Regarding the suggestion to create 10 instances of an ignite.metrics.Accuracy, This sounds interesting as I can just use existing infra and not add anything else if I get you correctly.
I'm not sure how to do this though, how do I tell the metric to look only at specific class's accuracy?
Also, How do we define accuracy? l

[2020-10-26 20:16] gruebel opened #1406 "MyPy: improve ignite.contrib module"
## 🚀 Feature

The `ignite.contrib` module is the last one, which is ignored by the `mypy` config 💪 For anyone, who wants to do it, I would recommend to split it in 3-4 PRs

- `ignite.contrib.engines`
- `ignite.contrib.handlers`
- `ignite.contrib.metrics`
- (Optional separate PR) `ignite.contrib.metrics.regression`

After that we could also enable more stricter `mypy` configuration to further impro

[2020-10-26 20:17] zhxxn commented on #1406
Hi, I would like to give it a try!

[2020-10-26 21:08] gruebel commented on #1405
Similar to `Frequency` also `GpuInfo` inherits from `Metric`, so the `attach` method should have the same signature
https://github.com/pytorch/ignite/blob/ddcce01eb7f64efa274ce25703d8f28245715319/ignite/contrib/metrics/gpu_info.py#L107-L108

[2020-10-26 21:36] gruebel opened #1407 "Replace type hint numbers.Number with float"
## 🚀 Feature

Due to limitations in `mypy` or to be precise in `typeshed`, `int` and `float` are no `numbers.Number`. (For some extra details https://github.com/pytorch/ignite/pull/1391#discussion_r511656836)

Therefore it would be helpful to change the typing from `number.Number` to `float` and remove several `# type: ignore`, where applicable.

[2020-10-26 21:40] gruebel commented on #1407
@vfdev-5 you can directly assign me 😄 I want to see, if it is that easy, how I imagined it or if we get new problems with it.

[2020-10-26 21:45] vfdev-5 commented on #1407
@gruebel sure! Thanks for opening the issue !

[2020-10-26 21:52] vfdev-5 commented on #1406
@gruebel thanks a lot for opening the issue !
@zhxxn let me assign it to you.
As this issue is large, we can assign more than one person to the issue.

[2020-10-26 22:40] vfdev-5 opened #1408 "XLA CI is broken"
## 🐛 Bug description

XLA CI is broken on tests:
[code]
https://github.com/pytorch/ignite/runs/1311651780#step:5:23

[2020-10-26 23:12] vfdev-5 opened #1409 "Add balanced accuracy metric"
## 🚀 Feature

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.balanced_accuracy_score.html#sklearn.metrics.balanced_accuracy_score

https://scikit-learn.org/stable/modules/model_evaluation.html#balanced-accuracy-score

[2020-10-27 00:27] vfdev-5 commented on #1383
@erezalg glad that it worked :)

I'm not sure how to do this though, how do I tell the metric to look only at specific class's accuracy?
Also, How do we define accuracy? let's say my dataset has 500 images with 0 cats and it didn't predict any image has a cat, do I have cat accuracy of 100%?

Accuracy is defined as `(TP + TN) / (TP + TN + FP + FN)`. Accuracy per class will be something like binary

[2020-10-27 01:32] #1269 closed

[2020-10-27 10:43] #1408 closed

[2020-10-27 20:00] zhxxn commented on #1406
Hi! I would then start with `ignite.contrib.metrics` module 😄

[2020-10-27 23:56] vfdev-5 commented on #912
[Here](https://github.com/lRomul/argus/blob/master/argus/model/model.py) is another idea of a higher level API (similar to others) :
[code]
and there is something like our `Engine` is set up behind `model.fit`.

[2020-10-28 02:42] Nic-Ma commented on #1382
Hi @vfdev-5 ,

Actually, I double-checked your `engine` source code, seems you already tried to save previous training epochs, iterations, etc. to restore a training. Just don't delete the previous `self._dataloader_iter`, then it can remember previous iterations:
https://github.com/pytorch/ignite/blob/v0.4.2/ignite/engine/engine.py#L764
Am I right?

Thanks.

[2020-10-28 07:23] fco-dv commented on #1395
@vfdev-5 I can give it a try!

[2020-10-28 08:48] vfdev-5 commented on #1242
Since v1.7.0 pytorch seem to support uneven inputs accross participating processes: https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel.join

[2020-10-28 09:29] vfdev-5 commented on #1382
Hi @Nic-Ma ,

yes, you are right about that 👍 This can be an interesting approach.
Currently, a sort of problem with calling multiple times `trainer.run()` is that it will trigger all the times events like `STARTED`, `EPOCH_STARTED` etc which may not what we expect. This is more or less conceptual problem of what the `run` is. This is something we are discussing with the team.

There is another ap

[2020-10-28 12:47] erezalg commented on #1383
hi @vfdev-5

Your example is spot on :)
I feel like it's a little less intuitive to read (at least from me) than calculating it directly.
Anyway, I think we should have these examples somewhere. I think it'd be really nice if people could search for "multi class accuracy" and find concrete examples.
Where do you think the best place to put these?
I'm not saying that your calculation of class accur

[2020-10-28 15:37] vfdev-5 commented on #1383
@erezalg do you think it would be better to have out-of-the-box solution for that ? Yes, true that we can add this code snippet and some details in our FAQ or somewhere else. We also recommend in README, to find in the issues labeled as `question`...

actually, I have an impression that, it is [Recall metric](https://en.wikipedia.org/wiki/Precision_and_recall) per class you'd like. And we have pre

[2020-10-28 15:45] vfdev-5 opened #1415 "Loss metric to use required_output_keys"
## 🚀 Feature

Currently, if we have custom metrics that require data other then `y_pred` and `y`, [we suggest](https://discuss.pytorch.org/t/how-access-inputs-in-custom-ignite-metric/91221/6) to do the following:
[code]

where `CustomMetric` is defined as
[code]

The idea is to extend this for `Loss` metric to support `required_output_keys`. The main issue with `Loss` now is with `(prediction, tar

[2020-10-28 17:02] vfdev-5 opened #1417 "Migrate from Travis CI to another one due to closing down Dec 31"
## 🚀 Feature

https://travis-ci.community/t/org-to-com-migration-deadline/10260

We have to migrate current CI to another one:
- GitHub Actions
- Circle CI
- Travis-CI.com seem to be in beta and requires updates from pytorch organization.

In addition, they reduced the number of open sources workers such that CI takes x10 times more to setup VM etc.

[2020-10-28 20:18] zhxxn commented on #1406
I just finished my work on `ignite.contrib.metrics`.
Next I would like to try `ignite.contrib.handlers` 😄

[2020-10-28 20:57] vfdev-5 commented on #1417
Migrated to travis-ci.com and trying CI builds capacity.

[2020-10-29 00:03] alxlampe commented on #1234
I wanted to create a new issue but just found this one 👍
I was also expecting that an exception is raised in `Engine` even if we add event handlers for `EXCEPTION_RAISED`.
In my use case, I also need to re-raise the exception after exception handling.

If we have an exception in the "second try-except" and re-reraise it, we will end in the "first try-except" and do the exception handling again:

[

[2020-10-30 00:34] vfdev-5 commented on #1234
@alxlampe yes, I agree that having both options could be nice. The question would be how to add this inside the current API in a simple and looking good way. If you have any suggestions, let's discuss that more.

[2020-10-30 09:24] Nic-Ma opened #1421 "How to save model with same filename?"
## 🚀 Feature

Hi @vfdev-5 ,

I found that `CheckpointHandler` can't use the fixed filename to save latest model:
https://github.com/pytorch/ignite/blob/v0.4.2/ignite/handlers/checkpoint.py#L149
But this is a very important requirement on our side...How can I achieve that?
For example, I want to always save the best model as `model.pt` after validations during training.

Thanks.

[2020-10-30 09:51] vfdev-5 commented on #1421
Hi @Nic-Ma

Thanks for asking ! Yes, there is a limitation on the filename like that. Sometime ago I was thinking about supporting this feature. Maybe, it's time to add a support for that inside Checkpoint.
Let me see what we can do.

[2020-10-30 11:54] Nic-Ma commented on #1421
Hi @vfdev-5 ,

We need this feature urgent in NVIDIA project, so I developed a PR in MONAI by somehow `hack` your `Checkpoint` handler to manually delete the previously saved model:
https://github.com/Project-MONAI/MONAI/pull/1163
Could you please help review it?
If you can provide a simpler way than mine, that's would be awesome.
BTW, I already hacked several places to support some features, mayb

[2020-10-30 12:17] vfdev-5 commented on #1421
@Nic-Ma actually, I forgot that there is simple workaround to do that using a custom disk saver:
[code]

In `MyDiskSaver` you can save the file as you wish with any name you wish and keep `remove` implementation empty.
What do you think ?

[2020-10-30 13:05] Nic-Ma commented on #1421
Hi @vfdev-5 ,

Thanks for your sugggestion, it's simpler than my previous idea, I updated my PR: https://github.com/Project-MONAI/MONAI/pull/1163
Could you please help review it again?

Thanks.

[2020-10-30 13:59] Nic-Ma commented on #1421
Hi @vfdev-5 ,

BTW, there is another problem with the `Checkpoint` handler: if we normally call `engine.run()` several times, every time it will run from the beginning because it has `_is_done()` to reset all the state, but `Checkpoint` handler doesn't reset the `self._saved` in it, right?

Thanks.

[2020-10-30 14:24] vfdev-5 commented on #1421
@Nic-Ma yes, you are right about that. Instance of `Checkpoint` keeps its `_saved` which can lead to unsaved checkpoints on further runs... Could you please open a feature request for that ? Thanks !

[2020-10-30 14:46] Nic-Ma opened #1422 "Need to automatically reset _saved in Checkpoint handler"
## 🚀 Feature

Hi @vfdev-5 ,

there is a problem with the Checkpoint handler: if we normally call engine.run() several times, every time it will run from the beginning because it has _is_done() to reset all the state, but Checkpoint handler doesn't reset the self._saved in it.

[2020-10-30 14:47] Nic-Ma commented on #1421
Hi @vfdev-5 , sure, submitted ticket: https://github.com/pytorch/ignite/issues/1422
Thanks.

[2020-10-30 14:58] vfdev-5 commented on #1422
Thanks for the FR @Nic-Ma !
In this issue we can think about better and safe API for Checkpoint and provide it also to all other handlers that accumulate state like that.

[2020-10-30 23:53] sdesrozis commented on #1415
So, `output_transform` signature used in `Loss` initialization should be defined in a generic way in the `Loss` class ? and this signature is related to the criterion ?

The output dict is compared to `required_output_keys` and here, we need to handle extra args defined in criterion... Not so easy because requirements are not statically known.

[2020-10-31 00:23] vfdev-5 commented on #1415
@sdesrozis yes, you are right about static vs dynamic params. We can adopt two approaches:
1) if user would like to pass kwargs for the criterion, there is no way to use dict as state.output
2) in `Loss` we define `required_output_keys=("y_pred", "y", "criterion_kwargs")` and ask the user to define `state.output` as
[code]

[2020-10-31 12:16] vfdev-5 opened #1426 "GitHub CI on Windows is broken."
## 🐛 Bug description

https://github.com/pytorch/ignite/pull/1425/checks?check_run_id=1335601277#step:6:39

Normally, we should skip distributed tests on windows with `SKIP_DISTRIB_TESTS=1 CI_PYTHON_VERSION="3.7" sh tests/run_cpu_tests.sh` but a distributed test was executed:
[code]

[2020-10-31 12:20] vfdev-5 commented on #1257
🎉 It was a great month with a lot of open-source contributions from Hacktoberfest 2020 folks. We are very grateful to all contributors for working on the project ! 🎉

🙏 Thanks to @harsh8398, @thescripted, @RaviTezu, @vcarpani, @kamahori and others !
In addition we would like particularly acknowledge outstanding contributions of:
- Anton Grübel, @gruebel
- Taras Savchyn, @trsvchn

Thanks you all an

[2020-10-31 12:20] #1257 closed

[2020-10-31 12:32] #1395 closed

[2020-10-31 13:01] #1407 closed

[2020-10-31 14:04] harsh8398 opened #1427 "Provide notebook showing example usage of HandlersTimeProfiler"
## 🚀 Provide notebook showing example usage of HandlersTimeProfiler

`ignite.contrib.handlers.time_profilers.HandlersTimeProfiler` can be used to profile handlers attached to any events during engine run. It would be nice if we provide some example notebook with a basic example usage of this profiler.

@vfdev-5 Can you please provide details where this notebook will reside in the repo?

[2020-10-31 14:16] vfdev-5 commented on #1427
@harsh8398 typically, the notebooks we put here : https://github.com/pytorch/ignite/tree/master/examples/notebooks
As an example, you can refer  to FastaiLRFinder_MNIST.ipynb.

Once it is ready, please also update the README.md: https://github.com/pytorch/ignite#tutorials

[2020-10-31 15:55] #1346 closed

[2020-11-01 16:46] #1421 closed

[2020-11-01 16:52] vfdev-5 commented on #1426
Related to beta support of distibuted on windows in pytorch 1.7

[2020-11-01 20:50] vfdev-5 commented on #1421
Hi @Nic-Ma , #1423 should enable support for fixed filenames. It will be available in the next stable release and now is available on nightly.

[2020-11-02 08:53] Nic-Ma commented on #1421
Cool, sounds good a plan!
Thanks.

[2020-11-02 10:25] erezalg commented on #1383
thanks @vfdev-5!
As usual you are spot on :)
Everything works better than what I was trying to do myself :D

One last question that I couldn't figure out myself is, when I have multiclass recall, the name of the class in the TB graph is the label enumeration.
I assume I need some output_transform to change that to the class name, but couldn't figure out how to do it.

Thanks A LOT!!!

[2020-11-02 11:33] vfdev-5 commented on #1383
@erezalg thanks for the feedback !

Unfortunately, it is not possible out-of-the-box to add labes. This is something I was also thinking about to add as a feature request (if you'd like to send one, it could be helpful).
The limitation is due to a tensor nature of metrics output: we have for example Recall metric that outputs `torch.tensor([0.1, 0.2, 0.3, ..., 0.8])` and this is directly used with

[2020-11-02 13:02] erezalg commented on #1383
@vfdev-5
That did the trick. Would've been nice if you could give a dict object (mapping label enumeration to class) or just a list of strings but that works too and it's not TOO ugly.

Will most definitely open a feature request.
The way it looks, maybe it's better to input the class list directly to the TensorboardLogger object instantiation?
Seems like changing the API of metrics is complicated

[2020-11-02 13:08] vfdev-5 commented on #1383
It is not only TB related but all other supported exp tracking systems too. For instance, I do not know where it would be better to add this meta info.

[2020-11-02 13:10] #1383 closed

[2020-11-02 13:10] erezalg commented on #1383
I see, OK makes sense! I'll open the feature request and let's see where it leads!

Thanks again!

[2020-11-03 13:38] sdesrozis opened #1430 "Check windows installation + tests with single GPU"
## 🚀 Feature

Idea is to check on a windows machine the installation and tests using a single GPU.

Some fixes seems needed to avoid parallel runs (but on one proc).

[2020-11-03 13:39] sdesrozis opened #1431 "Windows tests with single GPU on circle CI"
## 🚀 Feature

Need #1430 resolved first.

Add windows test with single GPU on circle CI.

[2020-11-03 13:41] vfdev-5 commented on #1431
This can be done with
[code]
added to https://github.com/pytorch/ignite/blob/master/.circleci/config.yml#L17

[2020-11-03 13:44] sdesrozis opened #1432 "Improve idist to use Tcp and FileStore for init_method"
## 🚀 Feature

`idist` supports default initilialization `env://`. It could be useful to support `tcp://` and `file://` modes (to tackle distributed computations on windows for instance).

Main issue is how to configure these modes ?

[2020-11-03 22:38] vfdev-5 opened #1434 "Improve Horovod comp model"
## 🚀 Feature

According to https://github.com/pytorch/ignite/pull/1433#discussion_r516992540 there is an incoherent model creation for horovod backend.

[2020-11-04 18:58] ryanwongsa opened #1436 "Is there a way to select which GPUs to use during training with ignite.distributed?"
## ❓ Questions/Help/Support

In the `idist.Parallel` method in Ignite is there a way to select which GPUs to use during training?

Related to the question in Issue #1118

[2020-11-04 19:46] vfdev-5 commented on #1436
@ryanwongsa currently the most reliable way to select GPUs to run on is script-wise with `CUDA_VISIBLE_DEVICES="0,1,2,3"`. Does it work for your use-case ?

[2020-11-04 20:25] ryanwongsa commented on #1436
Currently I don't have a use-case, it was more of a general question since I noticed other Pytorch higher-level frameworks have an option like selecting GPUs.

Would the above solution work if I want to run multiple scripts on different gpus. Say I have 4 GPUs and want to train 1 model on GPU 0,1 and another model on GPU 2, 3 simultaneously. e.g:
[code]
Maybe this is a Pytorch question instead of

[2020-11-04 20:54] vfdev-5 commented on #1436
Yes, it should work if there is not overlapping between devices: 0,1 for train1 and 2,3 for train2. It would work as if you had 2 GPUs. Another examples,
[code]
or
[code]

Another thing to keep in mind is CPU(num_workers) / RAM usage as independent scripts will use the same CPU resources.

[2020-11-04 21:13] ryanwongsa commented on #1436
Great thanks. That looks good enough for future use cases.

[2020-11-04 21:13] #1436 closed

[2020-11-04 22:42] vfdev-5 commented on #936
@guptadhaval18 are you still working on the issue or I can unassign it ?

[2020-11-04 22:43] vfdev-5 commented on #467
@Tanmay06 any updates on this issue ?

[2020-11-04 22:44] vfdev-5 commented on #683
Hi @sadielbartholomew any progress on the issue ?

[2020-11-04 22:45] vfdev-5 commented on #1009
@oaimtiaz any updates on this ?

[2020-11-04 22:47] vfdev-5 commented on #1417
Close the issue as solved.

[2020-11-04 23:16] vfdev-5 opened #1437 "<<< PyData Global 2020 Sprint >>>"
<img src="https://global.pydata.org/assets/images/pydata.png" width="30"/> <img src="https://raw.githubusercontent.com/pytorch/ignite/master/assets/logo/ignite_logomark.png" width="30"/> We are pleased to announce that we will run a mentored sprint session to contribute to PyTorch-Ignite at [PyData Global 2020](https://global.pydata.org). We are looking forward to seeing you on November 15, 1pm-5p

[2020-11-04 23:31] vfdev-5 opened #1438 "Improvements of "Getting started" docs"
## 🚀 Feature

Currently, [we propose](https://github.com/pytorch/ignite#getting-started) to our users the following documents to getting started:
- https://pytorch.org/ignite/quickstart.html
- https://pytorch.org/ignite/concepts.html

The idea is to review and improve these documents by
1) fixing typos,
2) adding missing links
2) rewording sentences to simplify the understanding,

Any other constr

[2020-11-04 23:38] vfdev-5 opened #1439 "Rerun tutorials on Colab"
## 🚀 Feature

Currently, we propose to our users the following list of tutorials that could be run on Google Colab:
- https://github.com/pytorch/ignite#tutorials

The idea is to ensure that they are running without exceptions due to the API changes with the latest release (v0.4.2) and do not contain any usage of deprecated API.

Note:
Training of CycleGAN tutorials (Training Cycle-GAN on Horses to

[2020-11-04 23:39] vfdev-5 commented on #1378
Hi @ramesht007 any progress on this task ?

[2020-11-05 14:07] #1426 closed

[2020-11-06 13:41] #1431 closed

[2020-11-06 13:43] #1417 closed

[2020-11-06 13:54] vfdev-5 opened #1442 "Migrate from Travis CI to GitHub Actions"
## 🚀 Feature

The idea is to migrate 3 following stages from Travis CI to GitHub Actions:
  - [x] Docs: https://github.com/pytorch/ignite/blob/master/.travis.yml#L64-L95
  - [x] Deploy: https://github.com/pytorch/ignite/blob/master/.travis.yml#L97-L145
  - [x] Nightly: https://github.com/pytorch/ignite/blob/master/.travis.yml#L147-L175 (done by https://github.com/pytorch/ignite/pull/1450)

Each st

[2020-11-06 14:01] vfdev-5 opened #1443 "Update conda recipe"
## 🚀 Feature

Currently, we are using the following conda recipe for building conda binaries : https://github.com/pytorch/ignite/tree/master/conda.recipe

The idea is to try to build "universal" package (like with pip)
[code]
and thus remove https://github.com/pytorch/ignite/blob/master/conda.recipe/conda_build_config.yaml . I'm not sure if this will give the same result as we have, but it worth t

[2020-11-06 15:10] Tanmay06 commented on #467
I've almost completed it, but I'm getting some bugs. I'll fix those and mostly raise a PR by this weekend.

[2020-11-06 15:15] vfdev-5 commented on #467
Sounds good! Do not hesitate to send a draft PR such that we could iterate faster.

[2020-11-08 05:38] oaimtiaz commented on #1009
Hello,

I have made a bit of progress on the project, however I am currently stuck
at one part. I do not believe I will be able to complete this task.

Apologies.

On Wed, Nov 4, 2020 at 4:45 PM vfdev <notifications@github.com> wrote:

[2020-11-09 08:39] #1300 closed

[2020-11-09 10:41] vfdev-5 opened #1446 "Fix mypy issue with pytorch nightly"
## 🐛 Bug description

Currently, there is an issue with running mypy on ignite when using pytorch-nightly :
[code]

https://github.com/pytorch/ignite/runs/1373059337#step:5:17

@gruebel could you please take a look if we can fix it ? Thanks

[2020-11-09 12:27] vfdev-5 commented on #1406
@zhxxn how's going your attempt on `ignite.contrib.handlers` ?

[2020-11-09 12:37] ramesht007 commented on #1378
hey, @vfdev-5
Pysyft is going into major refactor and the release is due in few weeks,
So, I am waiting for the new release as it has much more functionality.
Thanks

[2020-11-09 12:39] gruebel commented on #1446
Sure, I can take a look today

[2020-11-09 12:45] vfdev-5 commented on #1446
Thanks @gruebel ! And couldy you please also remove `namedtuple` import (https://github.com/pytorch/ignite/pull/1433#discussion_r516991700). I merged too fast that PR :)

[2020-11-09 12:46] gruebel commented on #1446
yeah, good point. Already forgot about it 🙈

[2020-11-10 08:33] #1446 closed

[2020-11-10 21:01] zhxxn commented on #1406
Hi, I am still working on this and it will take some time.. 😅
Is it urgent for you?

[2020-11-10 21:09] vfdev-5 commented on #1406
Hi @zhxxn, no problems, take your time. I just wanted to check if it is not abandoned :)

[2020-11-11 05:11] ydcjeff commented on #1442
@vfdev-5 docs and deploy left to done?
can i take this?

[2020-11-11 05:27] ydcjeff opened #1453 "Requirements"
## ❓ Questions/Help/Support

Why there is no pytorch in requirements-dev.txt?
Also is it okay to add environment.yml for conda users?

cc: @vfdev-5

[2020-11-11 08:37] feifeifeiliu opened #1454 "How to change train loader when I have started trainer.run(train_loader, max_epochs=epochs)"
## ❓ Questions/Help/Support

Hi, thank you for your library. As mentioned in the topic, I want to know how to change train loader when I have started trainer.run(train_loader, max_epochs=epochs). For example, I use train loader A in the first 60 epoches, and after 60 epoches, I want to use train loader B, which has a different sampler with A. Could you tell me how to do that?

[2020-11-11 08:47] vfdev-5 commented on #1454
Hi @feifeifeiliu , thanks for the feedback. Here is how it can be done: https://pytorch.org/ignite/engine.html#ignite.engine.engine.Engine.set_data

Please, let me know if it works for you.

[2020-11-11 08:52] vfdev-5 commented on #1453
@ydcjeff torch is a hard requirement (see [setup.py](https://github.com/pytorch/ignite/blob/master/setup.py#L26)) vs those from `requirements-dev.txt` which a sort of optional.

I was thinking about that previously and I'm not sure what to add there. If we install ignite from conda
[code]
we already have a minimum deps working library. What do you think ?

[2020-11-11 08:58] vfdev-5 commented on #1442
@ydcjeff yes, docs and deploy are still open.
You can take a look at how to migrate docs, if you like. This task is also overlaps a little with this https://github.com/pytorch/ignite/pull/1350 in the sense that I'd like to have ["Nice to have" part](https://github.com/pytorch/ignite/issues/1270#issuecomment-703180980) for this issue.

[2020-11-11 09:14] feifeifeiliu commented on #1454
Hi @vfdev-5 , I use the code segment you provided. It can work, but there is still little problem. Using train loader A, there are 47 iters in an epoch. Using train loader B, there should be 203 iters in an epoch. However, after set_data(B), there are still 47 iters in an epoch. I can sure set_data take effect. Maybe the problem is caused by these code segment. Could you take a look for me? Thank

[2020-11-11 09:15] feifeifeiliu commented on #1454
Hi @vfdev-5 , I use the code segment you provided. It can work, but there is still little problem. Using train loader A, there are 47 iters in an epoch. Using train loader B, there should be 203 iters in an epoch. However, after set_data(B), there are still 47 iters in an epoch. I can sure set_data take effect. Maybe the problem is caused by these code segment. Could you take a look for me? Thank

[2020-11-11 09:17] feifeifeiliu commented on #1454
Hi @vfdev-5 , I use the code segment you provided. It can work, but there is still little problem. Using train loader A, there are 47 iters in an epoch. Using train loader B, there should be 203 iters in an epoch. However, after set_data(B), there are still 47 iters in an epoch. I can sure set_data take effect. Maybe the problem is caused by these code segment. Could you take a look for me? Thank

[2020-11-11 10:31] ydcjeff commented on #1453
I see! so contributors feel free to create their own env as the only req is torch...
we can add `pytorch`, `python` and `-r requirements-dev.txt` in environement.yml

[2020-11-11 10:36] ydcjeff commented on #1442
Okay, I will start working if that PR get closed.

[2020-11-11 10:36] ydcjeff commented on #1403
@vfdev-5 what do you think?

[2020-11-11 10:53] vfdev-5 commented on #1453
Well, yes, we can similarly provide a `environement-dev.yml` file and update contributing guide to say how to use it with conda...

Could you also please check if we missed torchvision dependency ? I mean to install pytorch + requirements-dev.txt, see if torchvision was not installed and run tests. Probably it should fail as torchvision is missing...

[2020-11-11 10:57] vfdev-5 commented on #1442
@ydcjeff #1350 does not solve the same problem. It will be closed once we migrated from Travis.

[2020-11-11 10:58] vfdev-5 commented on #1403
@ydcjeff yes, makes sense to cache conda deps and reset the cache every week or so.

[2020-11-11 10:59] ydcjeff commented on #1442
Alright then I will draft a PR

[2020-11-11 11:00] vfdev-5 commented on #1442
Thanks @ydcjeff !

[2020-11-11 11:10] vfdev-5 commented on #1454
@feifeifeiliu if you'd like to change epoch length you can do this inside the switch handler like this
[code]

Hope this helps

[2020-11-11 11:23] ydcjeff commented on #1453
@vfdev-5 do you mean examples? I install pytorch + requirements-dev.txt and tests are passing.

[2020-11-11 11:45] vfdev-5 commented on #1453
@ydcjeff oh, yes, that's true, I though we used torchvision somewhere as test dependency... Not yet. Thanks for checking that !

[2020-11-11 11:53] ydcjeff commented on #1453
@vfdev-5 how about we put torch in requirements-dev.txt? and add `-r requirements-dev.txt` in environment.yml if we want.
 (we don't need it anymore, I think) I found we are installing torch torchvision separately with conda and follow up with `-r requirements-dev.txt` with pip.
so if we add torch in requirements-dev.txt, we can install all deps with `pip install -r requirements-dev.txt -f https:/

[2020-11-11 12:41] vfdev-5 commented on #1453
Thanks for the idea, however i'm hesitating to remove conda for now. Let's keep it like that.
As for caching, can't we put multiple paths to actions/cache ?

[2020-11-11 12:43] ydcjeff commented on #1453
Yes we can but caching one step is just a suggestion

[2020-11-11 12:45] ydcjeff commented on #1221
Shall we further do favicon for documentation as well?

[2020-11-11 12:50] vfdev-5 commented on #1221
@ydcjeff good idea ! Could you, please, open an issue for that ?

[2020-11-11 12:53] ydcjeff opened #1456 "favicon for documentation"
## 🚀 Feature

There shall be a favicon for Ignite documentation, currently it's pytorch favicon

cc: @vfdev-5

[2020-11-12 02:05] feifeifeiliu commented on #1454
@vfdev-5 It seems works! Thank you for your patient and kind guidance！

[2020-11-12 09:43] vfdev-5 commented on #1454
@feifeifeiliu you are welcome !
Let me close the issue as resolved. Feel free to reopen if needed.

[2020-11-12 09:43] #1454 closed

[2020-11-12 13:47] ydcjeff opened #1459 "Master engine docs missing something"
## 🐛 Bug description

Latest master engine docs is missing some classes under `Engine` class, I believe.
Also `CallableEventWithFilter` link is not working.

![Screen Shot 2020-11-12 at 20 13 22](https://user-images.githubusercontent.com/32727188/98947776-02be2c00-2524-11eb-99a6-4002002f79a7.png)

[2020-11-12 13:50] vfdev-5 commented on #1459
@trsvchn could you please take a look ?

[2020-11-12 14:49] Afzal-Ind commented on #1438
As I am one of the participants of this event _PyData_ _Global_ _Summit_, I want to be part of your project. I am looking forward to contributing here. It's my first time though.

[2020-11-12 15:05] vfdev-5 commented on #1438
@Afzal-Ind sure ! Please, read this issue description and follow the guidelines. Feel free to ask questions for other details here or reach out to me on mattermost if needed: @vfdev-5
For global info, please see https://github.com/pytorch/ignite/issues/1437

[2020-11-12 15:27] Afzal-Ind commented on #1438
@vfdev-5 Thank you, Sir. I went through the guidelines. I want to connect with you. Would you tell me your username on Mattermost?

[2020-11-12 15:30] vfdev-5 commented on #1438
Sure, please use "vfdev-5".

[2020-11-13 10:46] Afzal-Ind commented on #1380
@vfdev-5 Hi, Could you take me through this code? Any link? Thanks.

[2020-11-13 11:02] vfdev-5 commented on #1380
@Afzal-Ind please take a look here: https://github.com/pytorch/ignite/blob/master/ignite/metrics/confusion_matrix.py

[2020-11-13 11:02] Afzal-Ind commented on #1443
@vfdev-5 Hi, How to start off with this? Any prerequisites?

[2020-11-13 11:08] vfdev-5 commented on #1443
@Afzal-Ind i'd suggest to start with conda build: https://docs.conda.io/projects/conda-build/en/latest/index.html
and understand how it works. We build conda binaries here : https://github.com/pytorch/ignite/blob/master/conda.recipe/build_and_upload.sh#L26 so this step is important to run locally while modifying https://github.com/pytorch/ignite/blob/master/conda.recipe/meta.yaml

[2020-11-13 13:58] trsvchn commented on #1459
Yes, some classes are really missed, but `CallableEventWithFilter` broken link is expected, since `CallableEventWithFilter` is not listed under `ignite.engine.events` section with `autoclass`.

I will fix that!

[2020-11-13 14:05] ydcjeff commented on #1459
Also @vfdev-5 instead of going straight down to the docs (eg to `Engine` class docs when you click `Engine`)
would it be better to have separate page `Engine` like pytorch did with `Module`, `Sequential` like [here](https://pytorch.org/docs/stable/nn.html)

[2020-11-13 14:22] vfdev-5 commented on #1459
@trsvchn thanks !

would it be better to have separate page Engine like pytorch did with Module, Sequential like here

Well, this type of docs in pytorch is rather new since 1.6.0 and seems OK as they have a lot of various classes in nn module.
In our case spliting into multiple pages will lead to almost empty page of `ignite.egine` with 7 items...
The main point of using autoclass was to provide

[2020-11-13 14:45] trsvchn commented on #1459
yes here with `engine` we have a little tricky situation, it consists of submodules: `events`, `deterministic` and `engine`, and some classes of these submodules are declared as public under `engine` module see `egine/__ini__.py` `__all__` . Thus, to avoid duplication I auto-listed each submodule individually and that's why we have white spaces `Engine` and `CallableEventWithFilter` etc because th

[2020-11-14 08:24] ydcjeff commented on #1459
I see! Yep, I have played around a bit and found out generating each sub page for each class and function doesn't look good with small docstring.

How about we add title with api the end users have to use like `ignite.engine.events`.
Under that, `Events`, `EventEnum`, ... will go in. Sounds good? @vfdev-5

[2020-11-14 13:11] #1456 closed

[2020-11-14 13:14] vfdev-5 commented on #1459
Under that, Events, EventEnum, ... will go in. Sounds good? @vfdev-5

Yes, maybe. It depends how it will be rendered.

I was thinking to add text between submodules such that white spaces will be filled: https://github.com/pytorch/ignite/pull/1461#issuecomment-726802950

[2020-11-14 13:16] ydcjeff commented on #1459
how about that **text** be sub modules' names, so it's easier to recognize those classes are from this sub modules.

[2020-11-14 13:18] vfdev-5 commented on #1459
OK, let me merge @trsvchn 's PR and you can draft another one with your suggestion. How does sound for you ?

[2020-11-14 13:19] ydcjeff commented on #1459
Sounds good!

[2020-11-14 13:21] vfdev-5 commented on #1459
Ops, issues was accidentally closed by merging Taras' PR

[2020-11-14 15:44] vfdev-5 commented on #1453
@ydcjeff I think we can close this issue as solved. Let me close it and feel free to reopen if needed.

[2020-11-14 15:44] #1453 closed

[2020-11-14 16:03] vfdev-5 commented on #1380
@nsinenian actually, this is not exactly true. Predictions are required to have shape `(batch_size, num_categories, ...)` (logits or after softmax), one-hot encoded. And i'd say, this something we directly have as network output for classification/segmentation tasks. As for targets, they should not be one-hot encoded: `(batch_size, ...)`
https://github.com/pytorch/ignite/blob/dca273fc73cdeefe0bf68

[2020-11-14 19:24] nsinenian commented on #1380
@vfdev-5 The comment was with respect to predictions, not targets. For the predictions, I have (relevant excerpt):
[code]
My model output (forward function) is:
[code]

For binary classification, I use the `BCEWithLogitsLoss()` loss function which does not use one-hot encoded vectors (and hence the model output being what it is above). Perhaps my use case is atypical.

[2020-11-14 19:49] vfdev-5 commented on #1380
@nsinenian thanks for the details. Yes, that's true that you have binary classification use-case and yes, it definitely makes sense to mention that how to deal with that in the docs !

[2020-11-15 08:38] erezalg opened #1466 "Add ability to add class name for metrics"
Hello,

I have a code that does classification on CIFAR dataset.

When I use the Recall metric, what I get is a graph of per-class recall, but the legend gives me the label enum of the class and not the name.
It would be great to be able to give a list of class names to such metric so it'll be reported with the name.

[2020-11-15 12:28] abdulelahsm commented on #1439
Take

[2020-11-15 12:45] #1438 closed

[2020-11-15 14:17] vfdev-5 commented on #1466
@erezalg thanks for the FR. Let us see what can be done for that, either from metrics side or logger side. On your opinion, where it would be more natural to specify that ?

[2020-11-15 22:41] abdulelahsm commented on #1439
Hey @vfdev-5 It's taking me more than 6 hours to train 200 epochs of CycleGAN_with_ignite_and_torch_cuda_amp.ipynb, maybe we should consider reducing it to 20 or 50

[2020-11-15 23:05] vfdev-5 commented on #1439
Running for 20 or 50 epochs wont give a proper model that correctly translates one images to another. Our idea of the tutorial is to however produce the same training as the original cycle gan. Maybe, we add a note that it could run for more than 12h. For this issue, it can be sufficient to run for 2-5 epochs as a smoke test.

[2020-11-15 23:12] abdulelahsm commented on #1439
@vfdev-5 great approach

[2020-11-16 10:03] #1437 closed

[2020-11-16 12:32] ydcjeff opened #1469 "Parametrize metric tests"
## 🚀 Feature

Use `pytest.mark.parametrize` for metric testing

[2020-11-17 13:38] silas2471 commented on #453
Hey, is it also possible to use this for deep learning as loss function?
I couldnt find any documentation on an implementation yet. Is there an easy way to implement it for such a use case?

[2020-11-17 14:03] vfdev-5 commented on #453
@silas2471 in ignite R2 is implemented as a metric to compute in online fashion (accumulation batch by batch). This is not reusable as a loss function. However, R2 definition is not difficult to reimplement as a loss function for a single batch:
[code]

[2020-11-18 12:17] abdulelahsm commented on #1439
Hey, I'm facing some issues with tensorboard in the cloud TPU notebook, I think nothing is getting uploaded to ``` "/tmp/tb_logs" ```

I'm not familiar with tensorboard, I'll try to learn to fix it which might take me until this weekend.

[2020-11-18 12:20] vfdev-5 commented on #1439
@abdulelahsm thanks for the feedback, which TPU notebook you are running ? Let me also check that from my side to understand the issue.

[2020-11-18 12:23] abdulelahsm commented on #1439
@vfdev-5 MNIST_TPU.ipynb

[2020-11-18 13:36] erezalg commented on #1466
@vfdev-5
Since this might be relevant for all metrics, I think maybe in the create_supervised_evaluator function call?
This way no need to send it to each specific metric separately. Not sure what it will mean for custom metrics (for legacy support they'll have to ignore this by default).

Otherwise, you can do it in the Metrics' constructor, but it's a bit of a shame to send it multiple times for

[2020-11-19 12:15] #1459 closed

[2020-11-19 15:27] sdesrozis commented on #1466
@erezalg Your point is related to respect RAII principle or not. I prefer configure objects by ctor but I understand that it might be more verbose and quite repetitive in that case.

[2020-11-20 09:26] kacperkan opened #1472 "Error with SSIM calculation?"
## ❓ Questions/Help/Support

Hi!

Thank you for creating such a great library. I wanted to use SSIM metric calculation implemented in `ignite`. However, at first glance, the implementation lacks the `s` term calculation that can be found in [the original paper](http://www.cns.nyu.edu/pub/eero/wang03-r\eprint.pdf). At this moment, `l` and `c` terms are used only. Can you clarify whether the impleme

[2020-11-20 09:30] vfdev-5 commented on #1472
@ydcjeff could you please take a look ?

[2020-11-20 09:35] kacperkan commented on #1472
@vfdev-5 @ydcjeff My bad, there's a derivation in Eq. 13 in the paper that simplifies some terms and leads to the already implemented equation. Sorry for raising the alarm unnecessarily.

[2020-11-20 09:35] #1472 closed

[2020-11-22 09:06] erezalg commented on #1466
@sdesrozis, Sorry, not sure how it's related to RAII, can you elaborate?
I think it's a matter of how it's easier to implement and maintain, from a user standpoint, I prefer to have a single list of class names and send it once to something that is mutual to all the metrics that this list is related to. That was my point.

[2020-11-22 09:26] sdesrozis commented on #1466
RAII means you handle initialized objects.
[code]

If the class names list is not used by metric's ctrs, it means the behaviour of the object can change dynamically.
[code]
Ok, the object is usable but not completely defined. RAII aims to avoid that.

Btw, this is a matter of taste. IMO it is easier to maintain and implement because it comes from design and pattern concepts. For the user side, I d

[2020-11-22 11:25] erezalg commented on #1466
@sdesrozis
Now I get it and I think you're right that create_supervised_evaluator might not be a good place because it does stuff to objects it receives "behind the back".
So this kinda leaves the Metric's CTOR as the place to get it, unless there's something else that ties all metrics together

[2020-11-22 11:39] sdesrozis commented on #1466
Maybe we should write snippets to design an api especially with several metrics. What do you think ?

[2020-11-22 15:26] erezalg commented on #1466
How would you do it?
classes = ['cat', 'dog', 'horse]
r = Recall()
p = Precision()
Metrics.inject_classes(r,p)

Is that what you had in mind?

[2020-11-22 21:19] sdesrozis commented on #1466
That's an idea but what means `inject_classes` for regression metrics which inherits from `Metric` ?

I prefer simpler and more straightforward solution.
[code]

Pro : so easy and natural to user
Cons : `class_names` is repeated

That's just a suggestion for discussion ! Feel free to challenge it and propose something better !

Thank you 😉

[2020-11-23 11:54] erezalg commented on #1466
Yeah that would be the obvious one and the easiest to implement (I guess).
BTW, would this cause code duplication in multiple classes as you have to implement handling logic in multpile metrics? or is it part of the parent class's logic?

[2020-11-23 21:37] zhxxn commented on #1406
@gruebel Hi, would you be interested in taking over my part `ignite.contrib.handlers`?
Sadly, timewise I cannot finish it 😥😢

[2020-11-23 21:39] sdesrozis commented on #1466
There is a base class for classification metric `_BaseClassification`

https://github.com/pytorch/ignite/blob/3bde7329757a7560d7cd0e63f566875a7701d74b/ignite/metrics/accuracy.py#L11

Maybe this could be a suitable place. Metrics `Recall`, `Accuracy` and `Précision` should be improved. `Fbeta` should be fixed, maybe `TopKCategoricalAccuracy`.

What do you think ?

[2020-11-24 10:49] erezalg commented on #1466
Yeah, this seems reasonable. I can't think of any other metric or use case that I'd need for myself.

[2020-11-24 13:26] sdesrozis commented on #1466
@erezalg Could you do a PR with this feature ? It should be a great help !

[2020-11-24 15:52] vfdev-5 opened #1476 "Breaking change in metrics behaviour"
## 🐛 Bug description

Following https://github.com/pytorch/ignite/pull/968 (and associated issue ) metric's output is flatten if it returns a mapping/dict. In details, with ignite v0.4.2, for a
custom metric's we have the following:
[code]

The questions we would like to address in this issue:
- Should we fix the breaking change by readding the dict into `evaluator.state.metrics` such that we'll h

[2020-11-24 16:53] #1443 closed

[2020-11-24 22:29] gruebel commented on #1406
@zhxxn sure, no problem 👍
@vfdev-5 can you assign me to this issue? I will start working on it this weekend 💪

[2020-11-24 22:32] vfdev-5 commented on #1406
@gruebel thanks !

[2020-11-25 06:42] sdesrozis commented on #1476
I really appreciate this idea to have flat values and dict in metrics data
[code]

It does fix the use of `name` parameter too.

A point is that doubles stored values but atm these values in dict are numbers.

[2020-11-27 17:16] vfdev-5 opened #1479 "Improve deprecation messages"
## 🚀 Feature

House keeping request to improve the codebase.
The idea is to 1) improve deprecation messages inspired from scikit-image: https://github.com/scikit-image/scikit-image/blob/87a8806cca7fb5366b6e5ddbe5e46364b44f90fe/skimage/_shared/utils.py#L15-L214
[code]
and 2) introduce similar decorators in our codebase in a minimalistic way.

[2020-11-27 23:17] pillemer commented on #1479
Hey, I'm pretty new to contributing and I think this issue is something I can help you with.
The CONTRIBUTING.md is super detailed(!) so I'm feeling confident I can follow those instructions.
I'd like a to ask for little more specific detail about what is needed in this issue and where to look for the messages that need to be modified. As I understand it, the formatting of the current messages nee

[2020-11-30 10:39] vfdev-5 commented on #1479
Hi @pillemer sorry for delayed reply ! The idea is to make sure that current deprecation messages like
https://github.com/pytorch/ignite/blob/96689c5f010c39115b76eaa3281af10fbc631ab0/ignite/contrib/engines/common.py#L277-L280
express a similar message:
- Aomething (e.g. function) is deprecated (we can keep the info since when it is deprecated)
- And will be removed in version vX.Y.Z
- To avoid thi

[2020-11-30 17:10] saruarlive opened #1482 "Fastai LR finder"
Hi, @vfdev-5 et al,
The FastaiLR finder always provides a warning message as shown below,
![image](https://user-images.githubusercontent.com/24542592/100640874-2c09f500-3337-11eb-9879-ce8f75f9e948.png)

What is the issue here? Why is that so? I am looking forward to hearing from you.

[2020-11-30 18:27] vfdev-5 commented on #1482
Hi @saruarlive, yes, current implementation of `lr_finder` is not that user friendly and may not work as expected. Looking at your logs, seems like the batch loss is already `nan` but the warning says that trainer could not detect that.
Try to set `num_iter` to a smaller value, e.g. `len(train_loader)` and use `max_epochs=1` as probably there is no point to run for 50 epochs to find out the best l

[2020-11-30 21:03] saruarlive commented on #1482
Dear @vfdev-5 et al, thanks for your reply.
I have set the parameter as per your suggestions, still, a few iterations at the end provide nan values. I am not sure whether that is okay or not for the LRFinder class.

![image](https://user-images.githubusercontent.com/24542592/100664331-bd895f00-3357-11eb-843d-4811dadf750b.png)

[2020-12-01 08:17] vfdev-5 commented on #1482
Hi @saruarlive , seems like your network is sensible to "large" values of the learning rate.
According to the plot, the loss decreases rapidly when lr is around 10^-2.
Please, try to progressively reduce more `end_lr`, e.g. `end_lr=1.0`, `end_lr=0.5`, `end_lr=0.1`.
Maybe, you can also try to vary `step_mode` as "linear" instead of "exp"...
Also, increasing `num_iter`(e.g. `2 * len(train_loader)`)

[2020-12-03 09:39] vfdev-5 commented on #1430
This is done by #1440

[2020-12-03 09:39] #1430 closed

[2020-12-03 16:43] #1403 closed

[2020-12-05 10:15] #1406 closed

[2020-12-06 12:54] erezalg commented on #1466
@sdesrozis
Sorry for the long silence :) I did not have time to work on this improvement.
I'd be glad to issue a PR and I'm working on modifying the code.

One thing I'm not 100% clear is how do I get to the metrics themselves from an engine object.
What I do is standard:
val_metrics = {"accuracy": Accuracy(),"loss": Loss(criterion), "recall": Recall(labels=classes)}
    evaluator = create_supervi

[2020-12-06 13:22] vfdev-5 opened #1489 "Install Pillow-SIMD to docker images"
## 🚀 Feature

Currently, we install Pillow to pytorch ignite docker images. Let's install Pillow-SIMD which could accelerate image processing if torchvision is used for that:
[code]

cc @fco-dv

[2020-12-06 14:06] ttpro1995 opened #1490 "cannot load from older state"
## 🐛 Bug description

Traceback (most recent call last):
  File "experiment_main.py", line 282, in <module>
    Checkpoint.load_objects(to_load=to_load, checkpoint=checkpoint)
  File "/home/zdeploy/anaconda3/envs/thient_pytorch_gpu5/lib/python3.7/site-packages/ignite/handlers/checkpoint.py", line 233, in load_objects
    obj.load_state_dict(checkpoint[k])
  File "/home/zdeploy/anaconda3/envs/thien

[2020-12-06 16:21] vfdev-5 commented on #1490
@ttpro1995 thanks for the report. Please update to the recent ignite version, e.g. 0.4.2

[2020-12-14 18:22] vfdev-5 opened #1495 "Drop support of python 3.5"
## 🚀 Feature

https://www.python.org/downloads/release/python-3510/

Let's drop python 3.5 in the CI:
- https://github.com/pytorch/ignite/blob/6b263220d9b1ae1ed6d13444d8085ab1878690ee/.github/workflows/pytorch-version-tests.yml#L16
- https://github.com/pytorch/ignite/blob/6b263220d9b1ae1ed6d13444d8085ab1878690ee/.github/workflows/unit-tests.yml#L26

If interested in helping with the issue, please

[2020-12-14 18:23] vfdev-5 opened #1496 "Replace string .format with f-string"
## 🚀 Feature

Once #1495 is merged we can replace all `.format` with f-strings.

If interested in helping with the issue, please comment here and send a PR according to our contributing guide.
Feel free to ask questions for details if needed.

[2020-12-15 09:35] trsvchn commented on #1495
Looks like 2020 was a hard year for the python 3.5 :D

Can I work on this issue?

[2020-12-15 09:37] vfdev-5 commented on #1495
@trsvchn sure ! Yes, seems like python 3.5 is no more supported :(

[2020-12-15 10:03] trsvchn commented on #1495
@vfdev-5 we can remove these lines as well, am I right?

https://github.com/pytorch/ignite/blob/6b263220d9b1ae1ed6d13444d8085ab1878690ee/.github/workflows/pytorch-version-tests.yml#L21-L24

https://github.com/pytorch/ignite/blob/6b263220d9b1ae1ed6d13444d8085ab1878690ee/.github/workflows/unit-tests.yml#L28-L31

[2020-12-15 10:05] vfdev-5 commented on #1495
I think, yes. They already exclude 3.5 for newer pytorch versions...

[2020-12-15 10:06] trsvchn commented on #1495
Thanks for the help, @vfdev-5 And this line

https://github.com/pytorch/ignite/blob/6b263220d9b1ae1ed6d13444d8085ab1878690ee/.github/workflows/unit-tests.yml#L85

will be just

[code]

[2020-12-15 10:09] vfdev-5 commented on #1495
Yes, you get it right :)

[2020-12-15 10:09] trsvchn commented on #1495
Thanks!

[2020-12-15 10:48] #1495 closed

[2020-12-15 10:55] Afzal-Ind commented on #1479
Hi, do you still provide support for python 3.5? Thanks.

[2020-12-15 10:57] vfdev-5 commented on #1479
@Afzal-Ind we just dropped the support of python 3.5 today.

[2020-12-17 03:41] ttpro1995 commented on #1490
yes, update to 0.4 seem to fix the problem.

[2020-12-17 03:41] #1490 closed

[2020-12-17 20:58] vfdev-5 commented on #1427
Closed by #1474

[2020-12-17 20:58] #1427 closed

[2020-12-17 22:17] vfdev-5 commented on #1442
Done via #1458 #1457 and #1450

[2020-12-17 22:17] #1442 closed

[2020-12-17 22:18] vfdev-5 commented on #1378
Hi @ramesht007 how about now on this task ?

[2020-12-18 23:18] vfdev-5 commented on #1489
Reopen this issue as had to revert #1506

[2020-12-19 10:48] ydcjeff commented on #1489
@vfdev-5 Can you guide me how to proceed? I am new to installing package with C flags

[2020-12-20 22:56] vfdev-5 opened #1513 "Improve typing in engine"
## 🚀 Feature

The following code may be fail if `max_epochs is None`:

https://github.com/pytorch/ignite/blob/a756f9ca956ee0ee72bb61401a87a6eaf249dbba/ignite/engine/engine.py#L839-L842

https://github.com/pytorch/ignite/blob/a756f9ca956ee0ee72bb61401a87a6eaf249dbba/ignite/engine/engine.py#L562-L566

Maybe, we have to add additional check of `max_epochs is not None` and remove `# type: ignore[opera

[2020-12-21 15:12] gruebel commented on #1513
I took a very long view on the code and I think it is a really good idea to check for `max_epochs is not None`, because right now, there can be edge cases like `max_epochs is None` and `epoch_length is not None` this will result in a Runtime Error in the `_is_done` method.
https://github.com/pytorch/ignite/blob/3affd95f9480b4f6a9070d800d8505bc3e80e0dc/ignite/engine/engine.py#L560-L567

and as long

[2020-12-21 20:01] vfdev-5 commented on #1513
@gruebel thanks for the feedback. Can I assign this issue to you ?

[2020-12-21 20:09] gruebel commented on #1513
Sure 😄  will make a PR ready today or latest tomorrow.

[2020-12-22 05:17] g-karthik opened #1518 "ProgressBar ETA with IterableDataset where __len__ undefined"
## ❓ Questions/Help/Support

I've been successfully using ignite with regular `Dataset`/`TensorDataset` classes in the past. These have a fixed length and are tied to a `DataLoader` with a `DistributedSampler`. Keeping all other training hyper-parameters equal, if I increase the number of nodes/GPUs, I've always noticed that the ETA displayed by the `ProgressBar` reduces.

Then, I switched to an `

[2020-12-22 08:27] vfdev-5 commented on #1518
@g-karthik thanks for the reporting ! Let me try to reproduce this behaviour to inspect what happens.
Few questions to understand better your use-case :
- If I take the code snippet from #1263 with iterable dataset defined as below, does it look like your use-case ?
- How do you spawn multiple distributed processes (torch.distributed.launch or mp.spawn) ?
- Do you use multiprocessing for your Data

[2020-12-22 09:19] vfdev-5 commented on #1518
Here is a code snippet of how I see this such that we can see ETA and time reduction if using >1 procs:

<summary>

Code

<details>

[code]

[2020-12-22 13:22] shngt commented on #1366
Hi, is this still a desired feature?

[2020-12-22 13:23] vfdev-5 commented on #1366
@shngt yes, it is still open.

[2020-12-22 14:57] #1513 closed

[2020-12-22 18:09] vfdev-5 opened #1521 "Possible issues with max_iters when loading/saving engine's state"
Currently Engine implicitly assumes :
https://github.com/pytorch/ignite/blob/e3ef192c94d0d793a9303bec915fb846aaa3161f/ignite/engine/engine.py#L122

but we recently introduced possibility to trigger a run with `max_iters`. If epoch length is unknown, saving and reloading engine's state probably wont work. We have to ensure that everything still works as expected.

@thescripted would you be interest

[2020-12-23 04:04] g-karthik commented on #1518
@vfdev-5 Hmm I see, I wasn't downscaling the `epoch_length` by world size. This does seem to happen implicitly in `DistributedSampler`, which cannot be used with `IterableDataset`. I think this solution makes sense!

BTW, do we really need to use `idist`? I don't use it in my code (I just use plain `torch.distributed` directly) but I get the following warning:

[code]

What is this warning about?

[2020-12-23 08:14] vfdev-5 commented on #1518
`idist` gives an abstraction for different distributed "backend": same code can run with native torch or horovod or xla.
https://pytorch.org/ignite/master/distributed.html#ignite-distributed

When using native torch distributed framework, local rank can not be fetched with `torch.distributed` is either passed as env var or as an argument to the application. Warning says that it could not fetch loc

[2020-12-23 23:24] thescripted commented on #1521
Yeah definitely, will check it out

[2020-12-23 23:25] vfdev-5 commented on #1521
Thanks @thescripted !

[2020-12-24 00:10] #1496 closed

[2020-12-24 03:15] g-karthik commented on #1518
@vfdev-5 gotcha, but why would `idist` even be invoked in my case, leading to that warning? I am not even importing it explicitly in my code, I have been using ignite for its other features - in fact, I did not even know about the `idist` feature until I saw this warning.

[2020-12-24 08:22] vfdev-5 commented on #1518
@g-karthik we are also using internally `idist` to compute metrics in distributed setting, e.g. all_reduce part from all participating processes. In previous versions we used `torch.distributed` and asked for the correct device for the metrics. Now we are using `idist` for everything... and indeed this can lead to such warnings if we can not determine the local rank for torch distributed.

[2020-12-24 09:16] g-karthik commented on #1518
@vfdev-5 oh, I see, I am using `MetricsLambda` with a callable method to perform a `torch.distributed.all_reduce` of some of the metrics like NLL and Accuracy, like [this](https://github.com/huggingface/transfer-learning-conv-ai/blob/master/train.py#L232) one with `average_distributed_scalar()`.

Does this mean I need to necessarily stop doing that and switch to using `idist.set_local_rank()` with

[2020-12-24 09:26] vfdev-5 commented on #1518
Either with `idist.set_local_rank(...)` or simply `python -m torch.distributed.launch --nproc_per_node=8 --use_env ./train.py`.

Optionally, we can use `idist.auto_model` and `idist.auto_dataloader` to simplify DDP and distributed sampler creation and batch scaling...

Yes, I agree ! The problem is that I'm a bit far from NLP and will need a bit of assistance :)

[2020-12-24 21:53] saruarlive opened #1530 "Issue in logging info in jupyter lab notebook"
Hi @vfdev-5 et al,
Hope you are doing great.
I use commands like,
logging.basicConfig(stream=sys.stdout, level=logging.INFO)
trainer.run()

It continues to increase notebook length.  The notebook goes down and down.
![image](https://user-images.githubusercontent.com/24542592/103107010-b265de00-463a-11eb-8057-d74851e9216a.png)

Shall I get logging info in the sub-scrollbar in a notebook?
If so, how

[2020-12-25 08:38] vfdev-5 commented on #1530
Hi @saruarlive , I think this is expected behaviour with logging that every logged line will be present in the notebook.
You can try as alternative, to use the ProgressBar like the following:
[code]
What do you think ?

[2020-12-25 09:41] vfdev-5 commented on #1518
I believe we can close this issue as solved. Feel free to ask other question related questions here or in another issue.

[2020-12-25 09:41] #1518 closed

[2020-12-25 09:53] vfdev-5 commented on #1298
Done by #1511 and #1508

[2020-12-25 09:53] #1298 closed

[2020-12-26 14:28] shngt commented on #1366
The BYOL paper uses ImageNet for experiments, but it can't be downloaded via torchvision. Should I use another dataset for the example, or just implement the DataLoaders and ask the user to download the dataset on their own? Or is there some other protocol to be followed?

[2020-12-26 19:16] sdesrozis commented on #1366
It would be nice to have an ImageNet example. It should be added to reference use cases.

But maybe in a first step, we could provide an example using cifar which is available with torchvision.

What do you think ?

[2020-12-27 04:47] shngt commented on #1366
I agree - using CIFAR would not help much with ensuring correctness of the implementation. Thank you for pointing this out this file :)

[2020-12-27 12:22] #1422 closed

[2020-12-27 22:01] ryanwongsa opened #1535 "TPU auto_optim barrier is always True"
## 🐛 Bug description

In the [auto_optim](https://github.com/pytorch/ignite/blob/cfea1e4c9f4d4ed7767b3b8390a5ed6492a001e7/ignite/distributed/auto.py#L211) method when using TPUs should the `barrier=True` always be set to True when overriding the [step](https://github.com/pytorch/ignite/blob/cfea1e4c9f4d4ed7767b3b8390a5ed6492a001e7/ignite/distributed/auto.py#L330).
Unless I am understanding it inco

[2020-12-28 06:39] vfdev-5 commented on #1535
@ryanwongsa thanks for reporting ! Yes, I agree that we should configure `xm.mark_step()` usage depending on the number of XLA devices used.
If you would like to send a PR with a fix, it would be very helpful 👍
We can think about using [this test](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py) as reference for our code. And maybe put `xm.mark_step()` as an option if use

[2020-12-30 21:59] ryanwongsa commented on #1535
I was looking into this for a bit as I noticed my training process would hang after a while when using TPU. It turns out the issue was not related to the `barrier` issue but related to wandb model watching issue.  I tried changing the auto_optim approach to set `barrier=False` with something like below:

[code]

and there doesn't seem to be any noticeable change. I am only able to test with python

[2020-12-31 13:04] saruarlive opened #1538 "How to check metric output by giving random inputs"
Dear @vfdev-5 et al,

I want to check/investigate metric outputs by giving random inputs. I have tried, but it is not working that way.
![image](https://user-images.githubusercontent.com/24542592/103411536-dbbdc700-4b70-11eb-83da-8a464ee081dc.png)

Could you kindly suggest how to do that?

[2020-12-31 14:50] sdesrozis commented on #1538
Hi @saruarlive ! Thank you for this question.

You should use methods `update` and `compute` that are used by engines.

You can find examples here https://github.com/pytorch/ignite/blob/master/tests/ignite/metrics/test_accuracy.py

[code]

HTH

[2021-01-01 19:44] vfdev-5 opened #1540 "Improve metrics docs: 2 types of API"
## 🚀 Feature

Following https://github.com/pytorch/ignite/issues/1538 it would be nice to explicitly mention [here](https://pytorch.org/ignite/master/metrics.html#ignite-metrics) that there are 2 types of API :
- using metric with Engine
- using metric's reset/update/compute

and give examples.

[2021-01-01 21:47] vfdev-5 commented on #1535
@ryanwongsa I see. The purpose of `barrier` (as far as I understand it) is to execute current graph. If you see their code, `barrier=True` means to call `mark_step` behind:

https://github.com/pytorch/xla/blob/a2c0db47356a532d64b4445d9372b1291dfbbc9e/torch_xla/core/xla_model.py#L783

and if we are using `MpDeviceLoader/ParallelLoader`, `mark_step` is already called on `next()`:

https://github.com

[2021-01-02 14:07] ydcjeff opened #1541 "Allow both `every` and `once` args to be defined in Events.*"
## 🚀 Feature

Allow users to define both `every` and `once` arguments in Events.*
The use case is I want to log the training loss at the first iteration to check that the loss makes sense or not, and then log the training loss at every iteration.

As of today per Events docs, we can use like
[code]

It would be more useful if we can use like
[code]
Comments are welcome!

[2021-01-03 16:44] vfdev-5 commented on #1541
@ydcjeff thanks for feature request ! I was thinking about having `every` and `once` available together and IMO it can be a bit misleading inside a single event as you suggest: `Events.ITERATION_COMPLETED(every=100, once=1)`...
However, I understand that it could be interesting to introduce something to simplify:
[code]

@sdesrozis what do you think ?

[2021-01-03 18:12] sdesrozis commented on #1541
I agree with you. Maybe an idea could be to use the `or` operator as following
[code]

What do you think ?

[2021-01-03 19:28] #1439 closed

[2021-01-04 11:03] ydcjeff commented on #1541
It seems unusual to me to use `or` operator when passing parameters to arguments. Main motivation of this request is that `attach_output_handler` of `WandBLogger` currently doesn't accept a list of Events.

[2021-01-04 11:31] vfdev-5 commented on #1541
This seems a bit weird, normally it should work. Do you see this runtime error here ?
https://github.com/pytorch/ignite/blob/3061d5e369f3f3ec89bf417aaf779e2c33d1a4fc/ignite/contrib/handlers/base_logger.py#L166-L167

[2021-01-04 11:47] ydcjeff commented on #1541
Yes, I am seeing it.
[code]

[2021-01-04 12:11] vfdev-5 commented on #1541
@sdesrozis could you please open another issue for that.

This check is required by BaseOutputHandler : https://github.com/pytorch/ignite/blob/3061d5e369f3f3ec89bf417aaf779e2c33d1a4fc/ignite/contrib/handlers/base_logger.py#L70-L71

[2021-01-04 19:19] sdesrozis opened #1543 "Allow to attach output handler using event list"
## 🚀 Feature

Attaching output handlers using event lists is not possible. The idea is to make it work.

See comments https://github.com/pytorch/ignite/issues/1541#issuecomment-753923598

[2021-01-05 21:04] vfdev-5 opened #1545 "Pass kwargs to idist.auto_model"
## 🚀 Feature

It would be nice to have a possibility to pass kwargs to `idist.auto_model`.
For example, a use-case if using multi-gpu DDP model training, I'd like to pass `find_unused_parameters=True` to
`torch.nn.parallel.DistributedDataParallel`.
[code]

[2021-01-05 21:51] #1543 closed

[2021-01-06 11:38] vfdev-5 commented on #1541
@ydcjeff I think we can close this issue as #1543 has been resolved. Feel free to reopen if we need to discuss more about that.

[2021-01-06 11:38] #1541 closed

[2021-01-06 11:39] vfdev-5 commented on #1521
@thescripted could you please advance on this issue and have any updates ?

[2021-01-06 12:08] ydcjeff commented on #1541
What about allowing both `every` and `once` in Events.* ?

Yes, `OutputHandler` now accepts EventsList.

[2021-01-06 17:27] vfdev-5 commented on #1541
As I said previously, I think it can be a bit misleading. On the other hand if user would like to have both, this can be done with a custom filter:
[code]
See https://pytorch.org/ignite/engine.html#ignite.engine.events.Events

[2021-01-06 17:29] ydcjeff commented on #1541
Thank you for the snippet @vfdev-5

[2021-01-07 14:28] ydcjeff commented on #1540
@vfdev-5 I am familiar with `.attach()` method. For reset/update/compute, the correct way is like this (computing epoch-wise)?
[code]

[2021-01-07 15:02] sdesrozis commented on #1540
We have introduced `MetricUsage` to do this. See https://github.com/pytorch/ignite/blob/5ceacbb3ccea433317df2776556bd4a08d0a923d/ignite/metrics/metric.py#L52

The relevant PR is #979

HTH

[2021-01-07 16:29] vfdev-5 commented on #1540
@ydcjeff yes, the idea is to show how to use reset/update/compute API without relation to the engine:
[code]

[2021-01-07 20:18] ryanwongsa commented on #1535
If it is changed to be a parameter in the `auto_optim` method then the user needs to know to do the `xm.mark_step()` if they set `barrier=False` as I could be wrong but I thought the purpose of `auto_optim` and custom `step` was so that it can be generalised without worrying about which device (cpu, gpu, tpu) is being used.

[2021-01-07 20:25] vfdev-5 commented on #1535
@ryanwongsa I agree with you. My idea was to add this option such that we can have a possibility to control that when we surely know that we are using tpus and we still use `auto_*` methods. But, thinking more about your comment, you are right that this option can be misleading for other backends... In this case we can keep barrier=True and accept this unsignificant slowdown for calling barrier tw

[2021-01-07 20:27] vfdev-5 commented on #1545
@ryanwongsa here I'd like to pass a kwargs to `auto_*` method, namely to pass a parameter like `find_unused_parameters` which makes sense only for DDP GPUs... Do you think that this is similarly misleading as for the case with `barrier` for `auto_optim` in the other issue ?

[2021-01-07 20:34] ryanwongsa commented on #1535
Sure I agree, I am happy to close the issue for now. I will try to test the impact of the performance of `barrier` some time when I have the TPU resources as currently my 30 hours per week in Kaggle notebooks runs out pretty quickly.

[2021-01-07 20:34] #1535 closed

[2021-01-07 20:36] vfdev-5 commented on #1535
Thanks ! Maybe, a good start can be on Google Colab and then on Kaggle :)

[2021-01-07 20:41] ryanwongsa commented on #1545
I think to me adding the above type of parameter (`find_unused_parameters`) is fine as in this case I don't think it requires other additional code. In the the barrier case in `auto_optim`, you would need to add `xm.mark_step()` if you set `barrier=False` so it could be misleading. Hopefully that makes sense.

[2021-01-07 21:19] vfdev-5 commented on #1545
@ryanwongsa thanks for the feedback. Just in case, if you are interested in helping with this issue, do not hesitate to send a PR with the fix :)

[2021-01-11 14:41] ramesht007 commented on #1378
Hi @vfdev-5
sorry for the delayed reply, I had to shift countries as I was joining my master's program, Please give me some time I will be soon started working on this issue.

[2021-01-13 15:19] vfdev-5 commented on #1540
@ydcjeff would you like to send a PR to fix this issue ?

[2021-01-13 15:43] vfdev-5 opened #1553 "Rename Trains to ClearML"
## 🚀 Feature

According to https://www.clear.ml/blog/announcing-clearml let's rename our `TrainsLogger` and all related examples and mentions of trains to clearml while **keeping aliases** like [`trains_logger` module](https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/trains_logger.py) and classes `TrainsLogger`, `TrainsSaver` for backward compatibility:

[code]

cc @bmartinn @

[2021-01-13 15:43] ydcjeff commented on #1540
I can only send in next weeks

[2021-01-13 16:02] #1545 closed

[2021-01-13 19:25] #1540 closed

[2021-01-13 23:08] amatsukawa opened #1555 "Filters don't work on custom events"
`CallableEventWithFilter` does not work with custom events:

[code]

The error is:
[code]

[2021-01-13 23:11] amatsukawa commented on #1555
The issue appears to be some dependence on this map here:

https://github.com/pytorch/ignite/blob/3c8b781b7bd0848cacf3e0e214b3e3a0b8d408db/ignite/engine/events.py#L356

I have not dug through the code to see what the dependence actually is, but it seems I should be able to do `every=100` on custom events that are not necessarily bound to iteration or epoch lengths.

[2021-01-13 23:13] vfdev-5 commented on #1555
Hey @amatsukawa, nice to see you here again :) thanks for reporting, I'll take a look !

[2021-01-13 23:30] vfdev-5 commented on #1555
Well, it is a usage issue and bad documentation. Here is how it should be
[code]

As we want to filter out events, we have to have event counters and thus define a map between event name and state attribute which should be also incremented...
I'd like to refactor a bit Engine class such that counters are automatically incremented, but this is still WIP.

[2021-01-14 18:29] amatsukawa commented on #1555
Ah, awesome! Thanks for the clarification!

[2021-01-14 19:01] sally20921 commented on #1366
Please note that I am in the process of implementing BYOL and BYOLv2(SimSiam) in ImageNet myself!
Please visit:
BYOL - https://github.com/sally20921/BYOL
BYOLv2 - https://github.com/sally20921/SimSiam

[2021-01-14 19:26] amatsukawa commented on #1555
Actually @vfdev-5 just want to confirm one thing: is it necessary to increment `engine.state.test_event` as you have done?

[2021-01-14 20:24] vfdev-5 commented on #1555
Yes, currently it is necessary to increment state's attribute as we check when to skip handlers trigerring according to `engine.state.test_event`. The str value in enum class : `TestEvents.TEST_EVENT == 'test_event'` is event's unique id and can be anything. Just in my example its value is the same as for state's attribute. But for example for `Events.EPOCH_COMPLETED == "epoch_completed"`, its sta

[2021-01-15 13:31] sdesrozis commented on #1366
@sally20921 Very excited to see your BYOL implementation powered by ignite ! I will have a look as soon as possible !

[2021-01-16 08:54] sdesrozis commented on #1538
@saruarlive The doc has been improved to show how to use metrics without `Engine`.

I close this issue, feel free to reopen if needed.

[2021-01-16 08:54] #1538 closed

[2021-01-16 16:56] ydcjeff opened #1558 "DataLoader worker warning in distributed tests"
## 🚀 Feature
There are some of the workers warnings from `DataLoader` while running tests.
[code]

### Pitch
We should reduce to maximum cpu amount of the CI.

[2021-01-16 18:34] vfdev-5 commented on #1558
Sounds good! Could you add links where you see this, please.

[2021-01-17 04:52] ydcjeff commented on #1558
Here: https://github.com/pytorch/ignite/runs/1714167375#step:10:938

[2021-01-18 00:32] vfdev-5 commented on #816
@sdesrozis is this issue/question is still relevant ?

[2021-01-18 07:47] sdesrozis commented on #816
@vfdev-5 I think we have discussed a lot around this. I close this issue.

[2021-01-18 07:47] #816 closed

[2021-01-18 09:03] #1553 closed

[2021-01-19 09:46] jkhenning commented on #1553
@vfdev-5 would you like to add backwards-compatibility for users still using older Trains SDK packages? I can open a PR for that

[2021-01-19 09:52] sdesrozis commented on #1553
@jkhenning Thank you ! It would be awesome !

[2021-01-19 11:52] #1434 closed

[2021-01-19 19:05] etetteh opened #1561 "ValueError: too many values to unpack (expected 2)"
I encountered the following error:
[code]

The issue is that my data is in the form
`x, y = batch["img"], batch["lab"].
`
I manually did:
[code]

But during the evaluation, the original setting of x, y = batch, which occurs internally in ignite gets implemented.
How do I fix this?

[2021-01-19 19:54] sdesrozis commented on #1561
@etetteh Thank you for your question!!

I understand that you use the helper `create_supervised_evaluator`

https://github.com/pytorch/ignite/blob/79723e65de207caeeddd564b5f9fc952ee33b83a/ignite/engine/__init__.py#L118

Your dataset seems to build batch using a dict. It means internal helper `_prepare_batch`.

https://github.com/pytorch/ignite/blob/79723e65de207caeeddd564b5f9fc952ee33b83a/ignite/e

[2021-01-19 20:48] vfdev-5 commented on #1558
@ydcjeff would you like to send a PR to fix that ?

[2021-01-19 21:10] etetteh commented on #1561
Thank you, it worked.  However, I am facing another issue.
`ValueError: For binary cases, y must be comprised of 0's and 1's.`

The task is multilabel, and I am converting to binary with:
[code]

I used this from the ignite docs:
[code]
But I am getting
`ValueError: Targets should be binary (0 or 1).`

[2021-01-19 21:43] etetteh opened #1562 "ValueError: Targets should be binary (0 or 1)."
I am facing this issue.
`ValueError: For binary cases, y must be comprised of 0's and 1's.`

The task is multilabel, and I am converting to binary with:
[code]

I used this from the ignite docs:
[code]
And, now I am getting
`ValueError: Targets should be binary (0 or 1).`

[2021-01-19 22:04] vfdev-5 commented on #1562
Hi @etetteh, the error tells you that target should be binary. If your target is plain labels from 0 to N-1 you can use `ignite.utils.to_onehot` to encode the target as binary tensor of shape `(batch_size, N)` :
[code]

What kind of task you are learning a model on, what kind of target do you have and which metrics you think to compute ?

[2021-01-19 22:05] vfdev-5 commented on #1561
@etetteh let's close this issue as solved and the last question is addressed in a separate issue. Feel free to reopen if need more help on the initial topic.

[2021-01-19 22:05] #1561 closed

[2021-01-19 22:41] etetteh commented on #1562
Thanks for the help.
Is the function

Is the function supposed to return y_pred and y or y_pred and y_ohe. Running
`y_ohe = to_onehot(tag, num_classes=out.shape[1])`
generates the following error
[code]

[2021-01-19 22:45] vfdev-5 commented on #1562
Thanks, fixed `y->y_ohe`. What are your targets `y`, type, datatype etc  ?

[2021-01-19 22:55] etetteh commented on #1562
My targets are `dtype=torch.float64`

[2021-01-19 22:58] vfdev-5 commented on #1562
OK, I see, and what do they represent ?  It is unnatural to produce one-hot encoding from float target. I'm a bit confused why you'd like to compute roc_auc with float target... what is the task you are training ?

[2021-01-19 23:03] etetteh commented on #1562
I am working on multilabel images

[2021-01-19 23:09] vfdev-5 commented on #1562
So, to confirm, for a given image there is a target represented as a integer number, right ?
or multilabel as multiple tags for a single: for example `y=[0, 0, 1, 1, 0, 1]` ?
Anyway, I do not understand why your target is float and not `torch.int64`. Any reason for that ?

[2021-01-19 23:38] vfdev-5 commented on #1562
I think I understand better the question and the problem. So, you would like to compute roc_auc metric for each task separately or considering all the tasks somehow ?

[2021-01-19 23:41] etetteh commented on #1562
Great. Compute it for each task

[2021-01-20 00:16] vfdev-5 commented on #1562
Right, in this case, you have to split the target with `output_transform` function and create 16 metrics.
Maybe, something like that could work in your case:

[code]

HTH

[2021-01-20 01:15] etetteh commented on #1562
Thank you so much. This is exactly what my task looks like, and I can work with this.

[2021-01-20 01:24] vfdev-5 commented on #1530
@saruarlive let me close the issue as answered. If you need more help on this topic, feel free to reopen this issue.

[2021-01-20 01:24] #1530 closed

[2021-01-20 01:25] vfdev-5 commented on #1482
@saruarlive I close this issue as solved, please feel free to reopen if need more support on this topic.

[2021-01-20 01:25] #1482 closed

[2021-01-20 01:27] vfdev-5 commented on #1562
@etetteh great ! Glad that it could help :)
I close the issue as solved, feel free to reopen it if need more support on this topic. If you have other questions, please open another issue or use [Discussions](https://github.com/pytorch/ignite/discussions).

[2021-01-20 01:27] #1562 closed

[2021-01-20 01:30] vfdev-5 commented on #1382
@Nic-Ma Let me close this issue as answered, feel free to reopen if needed.

[2021-01-20 01:30] #1382 closed

[2021-01-20 02:08] Nic-Ma opened #1563 "Handler mutex in DistributedDataParallel"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I am writing an ignite handler to write the segmentation metrics of every image into 1 CSV file as the summary, for example:
[code]
The problems are that:
1. I tried to add logic to `metrics.update()` to cache every record and write to CSV in `metrics.complete()`, but ignite.metrics only accepts `output_transform`, so I can't extract the filenames from `

[2021-01-20 02:10] ydcjeff commented on #1558
Sure

[2021-01-20 02:33] etetteh commented on #1562
Is there an easier way to compute the roc_auc for all the tasks as well

[2021-01-20 07:53] sdesrozis commented on #1563
@Nic-Ma Hi !
1. You are right, `metrics` works on (transformed) outputs from the process function but the `batch` is embedded in the `engine.state`. I suppose that the filenames are provided by dataset and are packed in every batch when `__getitem__` is called. I could try on my side to see if I can help.
2. Again, if we define the dataflow from dataset to metrics, we could go further together. Wh

[2021-01-20 08:44] vfdev-5 commented on #1562
I'm not sure if there is an easy way to do that... I can think of something like to replace target nans with 0 and set outputs also as 0 predicted. Such that metric is not penalized by nans...

[2021-01-20 09:13] vfdev-5 commented on #1563
Hi @Nic-Ma ,

As far as I understand your question, it is about evaluating a pretrained model on images and output the metric per image.

For a single process, IMO, this can be done like that:
[code]

Maybe, the idea is to gather all data from all participating processes to a single one and then use barrier (`idist.barrier()`) to write from a single process to the file.

[2021-01-20 13:05] #1558 closed

[2021-01-20 15:00] Nic-Ma commented on #1563
Hi @vfdev-5 ,

Thanks very much for your detailed example!
Your program can work for the metrics-saving case, but it requires to manually call `metrics.reset()` and `metrics.update()` and set values for `evaluator.state.metrics` which should be done by `ignite.Metric` base class when we attach metrics to the engine.
Maybe we can keep the existing metrics logic, just save the metric of every image

[2021-01-20 15:06] vfdev-5 commented on #1563
Yes, that's true. As we need to compute metric per image of the batch we can not currently simply attach metric to an engine and compute `batch_size` of metric values on each iteration... (in some sort without averaging).

yes, this makes sense and we can put such handler into contrib module !

yes, this can be also a possible solution :+1:

[2021-01-20 15:09] vfdev-5 commented on #1563
@sdesrozis maybe we can think about another [`MetricUsage`](https://pytorch.org/ignite/metrics.html#ignite.metrics.MetricUsage) like `InstanceWise` ?

[2021-01-20 15:27] Nic-Ma commented on #1563
Thanks, let me do more experiments tomorrow.

[2021-01-20 21:53] sdesrozis commented on #1563
Let's think about it. From my side, I have a similar need and am therefore very interested in such a feature.

[2021-01-21 12:42] Devanshu24 commented on #1479
Hi @vfdev-5 !
I would like to give it a shot, if it is okay with you and if no one else is already working on it :)

PS: I did not know if I was supposed to tag you, sorry if I wasn't supposed to do that

[2021-01-21 12:46] vfdev-5 commented on #1479
@Devanshu24 sure, sounds good ! Currently, no one is working on this issue. Let me assign it to you such that other would know. Feel free to ask questions to detail what we would like to implement if needed and send a draft PR that we could improve. Let me know if it sounds good for you too. Thanks !

[2021-01-21 12:50] Devanshu24 commented on #1479
Sure sounds great, and thank you for the opportunity!
I'll get right to it. I will first find the current deprecation messages and understand the codebase a little, and will send a draft PR soon!

[2021-01-21 14:22] ydcjeff opened #1566 "Any difference between these two?"
## ❓ Questions/Help/Support
Is there any difference between this docstring
https://github.com/pytorch/ignite/blob/7280b531e764f6c98970d3bdafa95fd056bf1eda/ignite/contrib/engines/common.py#L592-L593

and this docstring
https://github.com/pytorch/ignite/blob/7280b531e764f6c98970d3bdafa95fd056bf1eda/ignite/contrib/engines/common.py#L645

As far as I see, no difference since we can still use `dict` ty

[2021-01-21 14:27] vfdev-5 commented on #1566
Yes, `model` arg for `save_best_model_by_val_score` can be also a dict of nn.Modules as `gen_save_best_models_by_val_score` can accept it and we do not check the type. As docs of `save_best_model_by_val_score` states it is not intended to pass a dict...

[2021-01-21 14:30] ydcjeff commented on #1566
So, what's difference between those two functions in terms of usage?

[2021-01-21 14:31] vfdev-5 commented on #1566
The way to store the models. One is always to disk and another with any kind of savers (e.g. cloud etc)

[2021-01-21 14:34] ydcjeff commented on #1566
I see! Thanks

[2021-01-21 14:35] #1566 closed

[2021-01-22 07:47] Nic-Ma commented on #1563
Hi @vfdev-5 and @sdesrozis ,

I think at least it's valuable to add `engine` as an arg for `Metric.update()` and `Metric.compute()`, so we can put some context in `engine.state` to share with other components, just same as regular handlers.

Thanks.

[2021-01-22 08:00] vfdev-5 commented on #1563
@Nic-Ma thanks for the idea. Which use case I think of while using engine inside Metric.update/compute ? Thanks

[2021-01-22 09:31] Nic-Ma commented on #1563
Hi @vfdev-5 ,

I think context information is widely used in most system SW arch, like a data bus for every components to produce/consume. Your `engine` is a good object as context, but `metrics` can't access it directly.
For example, if I want to save some temp values(mean dice of every image) during metrics computation and print out in another handler later, I can save them into `engine.state.me

[2021-01-22 10:02] vfdev-5 commented on #1563
I see, thanks for explaining !

In my mind, update/compute methods are sort of independent of Engine etc.
Maybe, it would make sense to store `engine` once passed to [`attach`](https://github.com/pytorch/ignite/blob/7280b531e764f6c98970d3bdafa95fd056bf1eda/ignite/metrics/metric.py#L330) :
[code]
thus, it can be accessible in all methods. We discussed that previously and seems like it was not retai

[2021-01-22 14:25] ydcjeff opened #1568 "[metrics] add PSNR"
## 🚀 Feature
I would like to add PSNR metric which is used in super resolution applications.
Implementation will be based from:

https://github.com/pytorch/examples/blob/792d336019a28a679e29cf174e10cee80ead8722/super_resolution/main.py#L69-L70

Though it's relatively easy to implement on our own, having in `ignite` will benefit everyone else.

[2021-01-22 14:27] vfdev-5 commented on #1568
Thanks for the idea, @ydcjeff ! Please, go ahead with a PR :+1:

[2021-01-22 15:37] Nic-Ma opened #1569 "How to all_gather Tensor if not the same length"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I am developing distributed evaluation feature, and facing a problem that the `preds` and `labels` on different GPUs don't have the same length, then `ignite.idist.all_gather()` can't work. For example: GPU0 has 5 images to handle, GPU1 has 4 images, total=9 images.
Could you please help on how to `idist.all_gather()` the values?
I don't want to pad data

[2021-01-22 17:08] Nic-Ma commented on #1569
BTW, I mean when using `ignite.metrics.EpochMetric`, the inputs `preds` and `labels` have different lengths on different GPUs.

Thanks.

[2021-01-22 17:11] vfdev-5 commented on #1569
Hi @Nic-Ma ,

I think this can be done with the broadcast collective op:
- broadcast for each process its data to everyone
- concat results

Probably, this can be slow and thus could not be used everytime... I'll prototype a code snippet a bit later.

[2021-01-22 17:48] vfdev-5 commented on #520
Few implementation refs:
- https://github.com/coz-a/signate-fish-school/blob/main/src/solution/metrics.py
- https://github.com/bes-dev/mean_average_precision/

[2021-01-22 21:26] sdesrozis commented on #1563
I agree that having `engine` as a hub for handlers is very convenient. This ensures very strong customisation possibilities.

In the case of `Metric` (which are handlers like any others), `engine` is passed as argument to each call of attached methods (`iteration_completed`, etc.). The point is that `Metric` also offers an user api that is completely agnostic of `engine`. I think it is a good idea

[2021-01-23 01:59] Nic-Ma commented on #1569
Hi @vfdev-5 ,

Or maybe we can pad NaN Tensor to make it evenly-divisible, and delete NaN number after `all_gather()`?

Thanks.

[2021-01-23 15:44] vfdev-5 commented on #1563
@sdesrozis the problem here is that we already have existing API for `detach` and `is_attached` method that always require `engine` and adding `Metric.engine` would require an update for it too, I think.

[2021-01-23 15:46] vfdev-5 commented on #1569
Well, yes, padding can be an option too. But in the first message you said you did not want to pad...

[2021-01-23 16:16] sdesrozis commented on #1563
Yes there should have collateral effects to control...

[2021-01-24 11:16] Devanshu24 opened #1572 "Possible typo in concepts.rst"
## 🐛 Bug description

On the `concepts` page, in the docs, it says "complexity training". I think it is a typo and was supposed to be "complex training".

The actual line for reference:
https://github.com/pytorch/ignite/blob/7280b531e764f6c98970d3bdafa95fd056bf1eda/docs/source/concepts.rst#L62

I am sorry if it is an intentional phrasing style, I just felt I should convey it once just in case if i

[2021-01-24 14:03] vfdev-5 commented on #1572
@Devanshu24 thanks for asking ! I agree that this sentence can be better reworded as "Training logic of any complexity can be coded with ``train_step`` method ...". If you'd like to fix it, please send a PR.

[2021-01-24 14:25] #1572 closed

[2021-01-25 02:06] Nic-Ma commented on #1569
Hi @vfdev-5 ,

Sorry I didn't make it clear, I mean we don't want to pad data for the `DistributedSampler` before model prediction.
So maybe it's possible to only pad NaN before `all_gather()` and delete NaN after.

Thanks.

[2021-01-25 02:50] Nic-Ma commented on #1563
Hi @vfdev-5 and @sdesrozis ,

Thanks for your discussion.
I added `self.engine` to the metrics in this draft MONAI PR: https://github.com/Project-MONAI/MONAI/pull/1497.
Will delete it in the future when you guys added `engine` to the `Metric` base class.

Thanks.

[2021-01-25 08:33] vfdev-5 commented on #1563
Sounds good ! Thanks for the update @Nic-Ma

[2021-01-25 10:58] Nic-Ma commented on #1569
Hi @vfdev-5 ,

I am facing an issue with `idist.all_gather()` for `string`:
Here I put all the filenames of 1 GPU to `self.filenames` list and join them into 1 string, then try to gather, but it always hangs at the `all_gather` line.
[code]
My PyTorch version is 1.7.0 and GPU is V100, do you know any reason of this issue?

Thanks.

[2021-01-25 11:07] vfdev-5 commented on #1569
Hi @Nic-Ma

<details>
<summary>
here is a draft version for `all_gather` with padding
</summary>

[code]

Run as
[code]

</details>

As for `idist.all_gather` hang with string input. Let me try to reproduce it and will see.

[2021-01-25 11:24] vfdev-5 commented on #1569
@Nic-Ma I couldn't reproduce your issue.

<details>
<summary>
Here is my code:
</summary>

[code]

</details>

and output
[code]

Please, let me know if my example correctly implements your issue. Thanks

[2021-01-25 11:41] Nic-Ma commented on #1569
Hi @vfdev-5 ,

Thanks very much for your detailed program!!
I also can't reproduce the issue with your program, let me try to make a program to reproduce it.
And BTW, I don't know why I can't login to the BootCamp workspace in slack anymore...So maybe let's communicate in email? my email `nma@nvidia.com` is always online.

Thanks.

[2021-01-25 11:54] Nic-Ma commented on #1569
I compared your program with mine and found the root cause, sorry for my mistake, the `all_gather` works for my string now.
Thanks very much for your help and example program!!!

[2021-01-25 11:59] vfdev-5 opened #1574 "IterationMetric discussion"
## 🚀 Feature

I'd like to discuss a bit about your PR on IterationMetric (https://github.com/Project-MONAI/MONAI/pull/1488).
As far as I understand, the idea is to compute metric value on each iteration and "all gather" everything on epoch ended ?
However, final list contains all metric values for a single epoch: `[m1, m2, ..., mN]`.
@Nic-Ma, let's discuss here then.

[2021-01-25 14:04] Nic-Ma commented on #1574
Hi @vfdev-5 ,

Thanks for raising the discussion here.
`IterationMetric` is the base class for other metrics, every metric will make a list.
I don't quite understand your question, could you please share more details about where is wrong?

Thanks.

[2021-01-25 21:05] vfdev-5 commented on #1574
Hi @Nic-Ma , it was not a real question but just my understanding of the feature you introduced...

I can understand to use-case but I'm hesitating a little about storing all values in RAM without a high memory consumption...
I agree that things may depend on what kind of processing is intended after gathering all values: `[m1, m2, ..., mN]`.
In the simplest case, we can think that we just write e

[2021-01-25 21:08] vfdev-5 commented on #1569
@Nic-Ma how about this code: https://github.com/pytorch/ignite/issues/1569#issuecomment-766739042 for all_gather tensors of different shapes ?

We may think to add more functions like that (e.g. all_reduce) and put them into `contrib.distributed.utils` module...

[2021-01-26 02:27] Nic-Ma commented on #1574
Hi @vfdev-5 ,

Here is the following PR to consume the metrics output: https://github.com/Project-MONAI/MONAI/pull/1497
It's still under review.
The idea is to save metric details into `engine.state`, then other handlers can save it to file or visualize somewhere.

Thanks.

[2021-01-26 02:33] Nic-Ma commented on #1569
Hi @vfdev-5 ,

Your example code looks good, and I developed a `evenly_divisible_all_gather()` in MONAI now to handle this case:
[code]

Thanks.

[2021-01-26 09:12] vfdev-5 commented on #1574
Thanks for the link @Nic-Ma !

[2021-01-26 09:53] Devanshu24 commented on #1479
One small question, where would we want to place all these decorators?
As in, inside `utils.py` or maybe a separate file in itself?

[2021-01-26 10:03] vfdev-5 commented on #1479
I think `ignite.utils.py` can be a good place for that. If needed we can come back to this point in the PR.

[2021-01-26 13:10] ydcjeff opened #1575 "[docs] use `versionadded`, `versionchanged` and `deprecated` directive"
## 🚀 Feature
Use `.. versionadded::`, `.. versionchanged::` and `.. deprecated::` directive, so that user knows which features are added / changed / deprecated in which version and they can navigate the docs easily without changing the docs from version to version.

Ref: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

[2021-01-26 13:17] ydcjeff opened #1576 "[docs] use katex instead of mathjax"
## 🚀 Feature
Currently, math equation in the `contrib.metrics` are so small that we have to zoom to look at.
I want to suggest for using `katex` instead of `mathjax` and also `pytorch_sphinx_theme` has preloaded with `katex` font.

What's need to change here is
- install `sphinxcontrib-katex`
- add `sphinxcontrib.katex` in `extensions` of `conf.py`
- add the below code block in head tag of `layout

[2021-01-26 14:20] ydcjeff opened #1577 "[docs] add equations in `ignite.metrics`"
## 🚀 Feature
Add equations in `ignite.metrics` like PyTorch does on loss functions and also we can revisit the equation later if needed :]

[2021-01-26 14:22] vfdev-5 commented on #1575
Thanks for the idea @ydcjeff ! It would be very nice to have that.

[2021-01-26 14:24] vfdev-5 commented on #1576
Yes, I agree, that if using katex docs rendering could be improved, it is something to do. Thanks @ydcjeff !

cc @trsvchn

[2021-01-26 14:25] ydcjeff commented on #1575
@vfdev-5 we can start adding for features to be added in 0.5.0.

Where should we begin?

[2021-01-26 14:26] vfdev-5 commented on #1575
Yes, starting from v0.5.0

[2021-01-26 14:27] ydcjeff commented on #1576
I have tried locally when implementing #1570 and it works!

[2021-01-26 14:38] sdesrozis commented on #1574
@Nic-Ma In your implementation, the `IterationMetric` could be used without inheritance, right ?
[code]
Somehow the functional and algorithmic parts are split.

I think it is a good idea to reuse existing metrics.

[2021-01-26 23:59] Nic-Ma commented on #1574
Hi @sdesrozis ,

Yes, that's the expected behavior, you can use an algorithm(function or callable class) as arg or define subclass.

Thanks.

[2021-01-27 08:59] #1576 closed

[2021-01-27 09:02] vfdev-5 commented on #1577
@ydcjeff yes, for certain metrics this could be interesting.

[2021-01-27 09:20] vfdev-5 opened #1580 "Nightly releases are failing"
Currently, nightly releases are not upload due to issue from pytorch side:
- https://github.com/pytorch/ignite/runs/1775345299?check_suite_focus=true

[code]

We can either wait until they fix it for python 3.7 or we can also update conda python to 3.8:
- https://github.com/pytorch/ignite/blob/master/.github/workflows/binaries-nightly-release.yml
- https://github.com/pytorch/ignite/blob/master/.gi

[2021-01-27 11:58] #1580 closed

[2021-01-27 12:28] trsvchn commented on #1576
Yes! I like it and it looks great! :)

[2021-01-27 13:27] ydcjeff commented on #1580
@vfdev-5 I think the main issue is from https://github.com/pytorch/pytorch/issues/49375
The PR I sent can't fix it, I think.
But we are installing with cpu version, why gpu version got downloaded? Any clue?

[2021-01-27 13:31] vfdev-5 commented on #1580
yes, that's true. I was pointed out also to that link but as far as I understood it is related to

Manually, I checked that I could install nightly version for py3.8 and py3.6, so probably it is enough for now.

[2021-01-27 13:32] ydcjeff commented on #1580
Thanks for confirming!

[2021-01-27 14:46] ydcjeff opened #1584 "`to_onehot` can't be torchscripted"
## 🐛 Bug description

I need to do one hot conversion and I use `ignite.utils.to_onehot`, but when I try to torchscript the model, it occurs a `RuntimeError`. Stacktrace:
[code]

## Environment
Colab

## Reproducible Link
https://colab.research.google.com/drive/13mWdz9sGXvAHgKd3vtp5I6Y-gZDRlNAd?usp=sharing

[2021-01-27 16:13] vfdev-5 commented on #1584
Thanks for reporting @ydcjeff ! Let's what can be done in this case...

[2021-01-27 16:36] vfdev-5 commented on #1584
Here is how it can be implemented.
[code]
@ydcjeff if you'd like to fix it, please send a PR :)

[2021-01-27 16:55] ydcjeff commented on #1584
If anyone want to fix it, please go ahead
If not, I can send a PR later.

[2021-01-27 16:57] ydcjeff commented on #1584
@vfdev-5 we should start add tests for the functions or classes that could be used inside a nn.Module.
What do you think?

[2021-01-27 17:01] vfdev-5 commented on #1584
We can start also doing that. Thanks for the suggestion! I'm wondering if there is a lot of functions like that which could be used inside nn.Module ?

[2021-01-27 17:04] vfdev-5 commented on #1584
@Devanshu24 would you like to fix this issue according to the discussion ?

[2021-01-27 17:05] ydcjeff commented on #1584
Currently, I am seeing only certain functions from `ignite.utils` which input is tensor.

[2021-01-27 17:59] Devanshu24 commented on #1584
I would love to, I will go through your conversion in a little more detail (have gone through once). I think I will be able to work on it

[2021-01-28 00:38] Nic-Ma opened #1586 "Support options to compare in CheckpointHander"
## 🚀 Feature

Hi @vfdev-5 ,

In current ignite CheckpointHander, it compares `priority`(may be metrics) > `previous priority` and save models:
https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L357
But we received several requests to customize this compare logic, is it possible to make options for it?

Thanks.

[2021-01-28 00:42] vfdev-5 commented on #1586
Hi @Nic-Ma , thanks for the idea! What kind of customizations it is about:
e.g. change the sign of comparision, e.g. `self._saved[0].priority > priority` or something more complex ?

Let us think about what can be done.

[2021-01-28 00:47] jrieke commented on #1380
As far as I can see, the issue is only with binary classification, right?

I'd suggest changing the [docstring](https://pytorch.org/ignite/_modules/ignite/metrics/confusion_matrix.html) from

    - `y_pred` must contain logits and has the following shape (batch_size, num_categories, ...).

to

    - `y_pred` must contain logits and has the following shape (batch_size, num_categories, ...). If you

[2021-01-28 01:01] vfdev-5 commented on #1380
@jrieke I'd say the following have to be done here:
- add a note to `num_classes` arg that it should be > 1
- add this check into the code and raise ValueError otherwise
- add a basic test for that
- analyze the code and see if we still can have a message like
[code]
if yes, make the message more user-friendly.
- add a more explicit note for the binary case. Maybe, a bit more polished version of t

[2021-01-28 01:12] jrieke commented on #1555
I added some [docs changes](https://pytorch.org/ignite/concepts.html#events-and-handlers) in #1587. @vfdev-5 Please have a look if that works out, then I can re-create the docs and finish the PR.

[2021-01-28 01:54] Nic-Ma commented on #1586
Maybe I think the easiest way is to support a `callable` function with a default `lambda`?
[code]

Thanks.

[2021-01-28 07:41] sdesrozis commented on #1586
@Nic-Ma What should be the arguments of this callable ? I mean, do `priority` values are good enough ?

[2021-01-28 07:59] Nic-Ma commented on #1586
HI @sdesrozis ,

Thanks for your support and good idea.
Could you pass `engine` as extra arg to the callable? Just pass the `engine` from `Checkpoint.__call__(self, engine)` to this callable? Users can use `engine.state` as a data-sharing object.
For example, maybe I can store the average value of last 10 validation metrics into `engine.state.average_metric` in another handler, then compare curren

[2021-01-28 08:58] vfdev-5 commented on #1586
A bit tricky thing to keep in mind is that `self._saved[0].priority` is sorted such that best model is the first. If we enable another rule, this should be also taken into account.

Anyway, I think this feature could be nice to have in ignite. @Nic-Ma would you like to send a draft PR for that ?

[2021-01-29 16:03] Devanshu24 opened #1590 "pre-commit failing due to python version"
## 🐛 Bug description
The `CONTRIBUTING.md` file suggests creating a `conda` environment using the following line
https://github.com/pytorch/ignite/blob/7a872123ae607c5a05bf4e717fbb21ff52f9b8c0/CONTRIBUTING.md#L41
which defaults to version `3.9.1` as of now

However, the `pre-commit-config.yaml` file has a flag in the `black` configuration to set the python version to `3.7` (see below)
https://gith

[2021-01-29 16:08] vfdev-5 commented on #1590
Thanks for pointing out this @Devanshu24 ! Let's update CONTRIBUTING guide with `python=3.8` and pre-commit file as well.

[2021-01-29 16:09] Devanshu24 commented on #1590
Okay, on it!

[2021-01-29 16:34] #1590 closed

[2021-01-29 17:50] #1568 closed

[2021-01-30 03:37] etetteh commented on #1562
I want to confirm if it's right to do the following to compute the total auc:
[code]
Well, it runs well without any issue and does give the mean of the individual task aucs.

[2021-01-30 15:36] vfdev-5 commented on #1562
Looks like overall roc auc score can be also computed as average of roc auc score per task:
[code]

Maybe, our approach of filtering nans like that can be also correct...

[2021-01-30 16:04] etetteh opened #1594 "TypeError: string indices must be integers"
I am using a custom batch function
[code]
and my processing function is as follows:
[code]
and I am also passing the custom batch function as follows
`train_evaluator = create_supervised_evaluator(model, device=device, non_blocking=True, prepare_batch=custom_prepare_batch)`

when I run my code
[code]
I get the error

[code]

Kindly, assist me. Thank you.

[2021-01-30 16:13] vfdev-5 commented on #1594
I think the issue is related to the way you pass the data: `next(iter(train_loader))` which looks a bit strange. Maybe, you can pass directly `train_loader` ?

Btw: looks like you are using v0.3.0, please think to [migrate to v0.4.2](https://github.com/pytorch/ignite/wiki/Migration-note-:-v0.3.0--to--v0.4.0)

[2021-01-30 18:31] etetteh commented on #1594
Thank you. The code ran successfully after implementing your suggestions.

[2021-01-30 18:34] etetteh commented on #1594
However, I ended up with nans and and `trainer.state.metrics` was empty.

I used the previous suggestions from

[code]
and
[code]
The original code has conditions that ignore the nans in the output, I am not able to adapt it to ignite...
[code]

[2021-01-30 20:09] vfdev-5 commented on #1594
Well, I'm not sure to fully understand the code. In order to rewrite it using Ignite, you can think of the following:
- define evaluator as a custom inference step and Engine
[code]

- use `output_transform` to adapt output dictionary (with "loss", "preds", "targets" keys) for metric class
[code]
See for details : https://pytorch.org/ignite/metrics.html#ignite.metrics.Average

Same can be done for

[2021-01-30 20:57] etetteh commented on #1594
Thank you. I will look at it and give you feedback

[2021-01-31 01:05] Nic-Ma commented on #1586
@vfdev-5 @sdesrozis , thanks for your support here.
Sure, I can try to make a PR next week if you guys are busy with other development tasks.

Thanks.

[2021-02-01 08:56] #1577 closed

[2021-02-01 10:07] Nic-Ma commented on #1586
Hi @vfdev-5 and @sdesrozis ,

I tried to re-think about this feature again, actually we should do completed `comparing` logic in customized `score_function`, and you guys already passed `engine` to this API.
So only need to add the option to support "greater_or_equal" instead of only "greater", I submitted PR https://github.com/pytorch/ignite/pull/1597 for it.

Thanks.

[2021-02-01 11:52] #1586 closed

[2021-02-01 13:44] vfdev-5 commented on #1575
@ydcjeff could you please mention those `versionadded`, `versionchanged` in the CONTRIBUTING in the docs section. Thanks !

[2021-02-02 00:50] etetteh commented on #1594
EpochMetric throws the error `AttributeError: 'numpy.ndarray' object has no attribute 'ndimension'`.
And even when, I try torch.Tensor(array), I still get the same error

[2021-02-02 07:25] etetteh commented on #1594
I managed to get it working in a way. I edited the epoch_metric.py file from the repo to make it to accept the ndarray, before converting to torch.Tensor

[2021-02-02 12:14] vfdev-5 commented on #1594
Maybe, your torch version is a bit old ?

[2021-02-02 12:15] vfdev-5 commented on #1594
Let me close this issue as solved. Feel free to open new issue if you have other questions. You can also use GitHub Discussions for questions as well.

[2021-02-02 12:15] #1594 closed

[2021-02-02 16:08] #1584 closed

[2021-02-02 18:26] jrieke commented on #1380
@vfdev-5 Looks good! I implemented everything in #1607, feel free to make any more changes.

[2021-02-02 19:10] ismael-elatifi commented on #462
I wrote a wrapper of **torch.optim.lr_scheduler.ReduceLROnPlateau** so I put it here as it might be useful for others :
[code]

[2021-02-02 19:19] ismael-elatifi commented on #462
I wrote a wrapper of **torch.optim.lr_scheduler.ReduceLROnPlateau** and put it here as it might be useful to others.

[code]

[2021-02-02 21:58] vfdev-5 commented on #462
Hey @ismael-elatifi , thanks for sharing ! Looks cool ! If you'd like to see such code in the contrib.handlers module, feel free to send a draft PR and we could guide you in the dev process.

[2021-02-02 23:15] vfdev-5 commented on #1380
@nsinenian we updated the docs in #1607, please take a look and feel free to comment out if something is not clear. Thanks !

[2021-02-02 23:36] #1555 closed

[2021-02-03 09:01] #1380 closed

[2021-02-03 13:19] etetteh opened #1608 "Defining trainers and evaluators"
If I have a training step that takes a different form from the inferencing step, and I have defined these functions separately,
[code]
and
[code]
do I still need to define `create_supervised_trainer` and `create_supervised_evaluator`?
 If yes, do I need to define
[code]
[code]
Do I need to do
`trainer.add_event_handler(Events.EPOCH_STARTED(every=1), run_train)`
`evaluator.add_event_handler(Events.

[2021-02-03 14:15] #1608 closed

[2021-02-03 15:04] vfdev-5 commented on #1608
Both ways work :)

[2021-02-04 05:49] touqir14 opened #1609 "Support for MultiLabel MultiClass classification confusion matrix computation."
## ❓ Questions/Help/Support

Does Ignite support multilabel multiclass classification confusion matrix computation? I was looking for something analogous to this tensorflow feature : https://www.tensorflow.org/addons/api_docs/python/tfa/metrics/MultiLabelConfusionMatrix .

[2021-02-04 08:09] etetteh commented on #1608
Just quick question, instead of opening a new question. Apart from distributed training, is there a way to make ignite train faster?

[2021-02-04 08:39] vfdev-5 commented on #1608
In general case, it is better to profile the training to understand where is the bottleneck. If the model is small, I/O can be a bottleneck, then increasing number of workers could prepare faster the batch... Maybe, caching of read datapoints before dataaug could also help with slow reading from disk. Using SSD is somehow suggested to improve I/O....
In practice, please try to use https://pytorch.

[2021-02-04 08:47] vfdev-5 commented on #1609
Thanks for asking! Currently, we do not provide such metric but it would make sense to add a feature request for this metric. Let's see if we could implement it...

[2021-02-04 09:46] etetteh commented on #1608
Thanks, and you've been of great help. Wish I could contact you for a discussion via email.
I will check the profiling. My images are 224X224, and I guess that's also a reason
I installed from the repo.

[2021-02-04 09:54] vfdev-5 commented on #1608
@etetteh you can reach out to me at discord: vfdev-5 #4458 or via the email (avoiding basics bots, to get the email, please, run `git log -1` on the cloned repository).

[2021-02-04 09:57] etetteh commented on #1608
Sure I will and I understand. Thanks

[2021-02-04 10:34] touqir14 commented on #1609
I once sent a PR to Pytorch's tnt project implementing this functionality : https://github.com/pytorch/tnt/pull/137 . Tnt's last stable release was back in 2019, so I am guessing they won't be releasing any new versions. Will a similar implementation work for ignite?

[2021-02-04 10:50] vfdev-5 commented on #1609
Sounds great ! Yes, I think we could adapt this code to ignite's codebase keeping in mind the differences in the API and
- computations using torch instead of numpy
- adaptation for distributed computation

Anyway, please send a draft PR and we can iterate over to finalize it.
To get started, please check:
- [CONTRIBUTING](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md)
- [How metri

[2021-02-04 10:53] touqir14 commented on #1609
Sure, I will send a draft PR within a day or two.

[2021-02-04 11:16] ahmedo42 commented on #936
@vfdev-5  I understand the issue and I would like to work on it .

[2021-02-04 11:18] vfdev-5 commented on #936
Sure, please go ahead @ahmedo42 , I can assign it to you.

[2021-02-04 11:55] Nic-Ma opened #1610 "DataLoader crash during training"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

We already internally released some MONAI workflow examples to users, and several people reported this DataLoader issue:
https://discuss.pytorch.org/t/data-loader-crashes-during-training-something-to-do-with-multiprocessing-in-docker/4379
I know it may be not related to ignite workflow, but I don't know how to fix it... Have you encountered it before?

T

[2021-02-04 12:05] vfdev-5 commented on #1610
Hi @Nic-Ma , yes the issues with dataloader can be tricky. I would try the following checks if the issue is reproducible:
- `--shm-size 16G` if run using docker (I remember we already disscussed that previously and you had another option to use)
- to try ensure that it is not data problem and switch off MP with`num_workers=0`
- if using DDP with spawn, try to run on a single proc to see if related

[2021-02-04 12:22] Nic-Ma commented on #1610
Hi @vfdev-5 ,

Thanks for your suggestions.
1. We already set `--ipc=host`, still got the issue, can `--shm-size 16G` be even better than `--ipc=host`?
2. `num_workers=0` can fix the issue I think, but it's not a good solution because we really need workers for performance.

Thanks.

[2021-02-04 13:34] vfdev-5 commented on #1610
Probably, should have the same effect.

Yes, it is not a solution, but just to see whether there is no issue in reading/transforming/batching the data...

[2021-02-04 14:29] yhwen commented on #1610
We already tested it with num_workers=0. Same error still happened.

[2021-02-04 15:02] vfdev-5 commented on #1610
@yhwen thanks for joining. Do you think if we could elaborate a reproducible code snippet of the issue or can you share your code ?

[2021-02-04 16:01] yhwen commented on #1610
This issue happens pretty randomly. I am not sure if we can produce an example code to consistently produce the issue. We have multiple people experience the same error from different model training. Sometimes the error happened at the end of epoch. Sometimes it happened in the middle of epoch after several iterations. Most of the times, the training process just silently crashed without give stac

[2021-02-04 16:15] vfdev-5 commented on #1610
Maybe, you could check if it is related to the data access issue, for example, if you replace real data fetching by creating random data or with 1 batch of data samples and see if you still see dataloader crashing ...

[2021-02-05 21:23] sdesrozis opened #1614 "Use setup_logger in handlers"
## 🚀 Feature

Idea is to replace in handlers (`EarlyStopping`, `TerminateOnNan`, etc.)
[code]
by `setup_logger` from `ignite.utils`
[code]

[2021-02-05 23:26] vfdev-5 opened #1615 "ImportError: libGL.so.1: cannot open shared object file"
## 🐛 Bug description

Using pytorchignite/hvd-apex-vision

[code]

Same for vision and apex-vision images:
[code]

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

cc @fco-dv

[2021-02-05 23:34] vfdev-5 opened #1616 "VOC example is broken"
## 🐛 Bug description

This PR https://github.com/pytorch/ignite/pull/1605 breakes Pascal VOC example due to bad import:

[code]

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

[2021-02-05 23:41] vfdev-5 commented on #1615
A fix could be to install `opencv-python-headless` and not `opencv-python`. It would be nice to add a test after building the image: `python -c "import cv"`.

[2021-02-06 04:04] 1nF0rmed commented on #1614
Can I work on this?

[2021-02-06 06:59] sdesrozis commented on #1614
@1nF0rmed thank you!

[2021-02-06 07:26] #936 closed

[2021-02-06 10:21] sparkingdark commented on #1616
is this up @vfdev-5

[2021-02-06 13:14] #1614 closed

[2021-02-06 15:12] #1479 closed

[2021-02-06 15:22] vfdev-5 commented on #1616
@sparkingdark unfortunately this one is for myself as it is a bit situation we have with this ref example.

[2021-02-06 15:24] sparkingdark commented on #1616
I see it causing from previous pull req.

[2021-02-06 15:30] vfdev-5 commented on #1270
Close this as done

[2021-02-06 15:30] #1270 closed

[2021-02-06 15:35] vfdev-5 commented on #1616
@sparkingdark I answered you there, please see https://github.com/pytorch/ignite/discussions/1603#discussioncomment-344799

Currently, we do not have any "good first issue", but you can check the list of "help wanted" issues like :
- https://github.com/pytorch/ignite/issues/829
- https://github.com/pytorch/ignite/issues/1415
Others could be more bit tricky.

Maybe, you can try even fixing this iss

[2021-02-06 16:26] vfdev-5 opened #1618 "Update CONTRIBUTING and pre-commit file"
Seems like these lines should be updated in order to reflect the latest state of things:
- https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#formatting-without-pre-commit
[code]
and
https://github.com/pytorch/ignite/blob/29a436fac250bbec2ead8857cdd38b40ae5b8b41/.pre-commit-config.yaml#L23
should be updated to `5.7.0` release (to check the exact change).

cc @Devanshu24 I remember you a

[2021-02-06 16:28] Devanshu24 commented on #1618
Sure, I'll get to it! :)

[2021-02-06 17:55] Devanshu24 commented on #1618
I went through the other hooks in `pre-commit` too and a most of them have new versions available(without breaking changes), should we update them too?
Also after changing these versions and running `pre-commit run --all-files` there are a lot of changes that take place, do we want that too happen?
Some of those changes include:
- A _lot_ of new lines at the end for markdowns, svgs, other files
-

[2021-02-06 18:02] vfdev-5 commented on #1618
Sounds good for all except black. Let's keep black as it is. Normally, we should not modify other files than CONTRIBUTING and pre-commit config.

[2021-02-06 18:04] Devanshu24 commented on #1618
Okay, I'll send a PR. Maybe you could guide me more after that :)

[2021-02-06 20:25] ahmedo42 opened #1619 "[docs] Make it clear in CONTRIBUTION.MD that distributed tests should be skipped on windows"
## 🚀 Feature

While running tests on windows I realized that the terminal freezes upon running distributed tests , until I found #1426 .
 should this be made clear in the docs ?

[2021-02-06 20:56] vfdev-5 commented on #1619
@ahmedo42 thanks ! Yes, it would be nice to mention that !

Btw, if you are on Windows, would you be interested in working on this issue : https://github.com/pytorch/ignite/issues/1432
This could enable ignite distributed automatic setup and those tests, I think.

[2021-02-06 21:07] ahmedo42 commented on #1619
I'll make a PR
regarding #1432 , I'm interested in making it work but I'll have to do some digging first , I'll let you know if I'm going to take it.

[2021-02-06 23:09] #1619 closed

[2021-02-07 18:12] madhucharan commented on #1415
Hello @vfdev-5 , I am new to PyTorch ignite and studied this issue for some time and understood some part of it related to loss.py but stuck with criterion. Would it be possible to explain the expectation of this issue and some information about the criterion function as well as a state? output. I am interested to work on this issue.

[2021-02-07 20:50] vfdev-5 commented on #1415
@madhucharan thanks for proposing a help with this issue. Please read https://pytorch.org/ignite/metrics.html#ignite.metrics.Metric.required_output_keys about `required_output_keys`.
Please, see our [CONTRIBUTING guidelines](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md). You can also take a look at Quick-start and Concepts sections of our [docs](https://pytorch.org/ignite/).

[2021-02-08 06:00] sparkingdark opened #1623 "Got TypeError while running cifar10 example in google colab"
## 🐛 Bug description
While running the cifar10 example in google collab I got this error, can you tell me why I am getting this error?
[code]

link to the cell of the [collab](https://colab.research.google.com/drive/1E9zJrptnLJ_PKhmaP5Vhb6DTVRvyrKHx#scrollTo=vZxFcLZE9Xml&line=1&uniqifier=1)

One thing that can be improved more in [here](https://github.com/pytorch/ignite/tree/master/examples/contri

[2021-02-08 08:15] vfdev-5 commented on #1623
Thank again for reporting @sparkingdark , yes I already fixed the notebook. If you'd like to check it again.

[2021-02-08 10:00] sparkingdark commented on #1623
Great I will recheck it.

On Mon, Feb 8, 2021, 13:45 vfdev <notifications@github.com> wrote:

[2021-02-08 16:33] #1618 closed

[2021-02-08 17:15] madhucharan commented on #1415
In pytorch we generally use like this,
`criterion = nn.CrossEntropyLoss()`
in training
we use
`loss = criterion(output, target)`

Is this the criterion mentioned in the first comment? or something else. Kindly clarify this.

2. And the state.output is actually an output returned by run() function right? I would like to know why user needs to define state.output dict and how and where it is passed

[2021-02-08 18:01] vfdev-5 commented on #1415
@madhucharan well, in most of the cases a loss function in pytorch takes predictions and targets, but there are also cases where loss function can accept other params (e.g. `reduction` for functional cross entropy) and also inputs like sample x etc.
See the link in the first message (https://discuss.pytorch.org/t/how-access-inputs-in-custom-ignite-metric/91221).

The idea of this issue is to simpl

[2021-02-09 07:41] fco-dv commented on #1615
Thanks for the hints @vfdev-5 !

[2021-02-09 08:54] #1623 closed

[2021-02-09 08:55] vfdev-5 commented on #1623
Closed the issue as solved

[2021-02-09 09:27] sparkingdark commented on #1623
Running the collab and it's totally fine with no error.

On Tue, Feb 9, 2021, 14:25 vfdev <notifications@github.com> wrote:

[2021-02-09 11:04] vfdev-5 commented on #912
More implementations to explore:
- https://github.com/feedly/transfer-nlp/blob/master/transfer_nlp/plugins/trainers.py

[2021-02-09 13:56] Devanshu24 opened #1626 "Images not rendered on PyPI"
## 📚 Documentation
The logo and other assets on the project README.md are not rendered on the PyPI page of [pytorch-ignite](https://pypi.org/project/pytorch-ignite/)
This is because PyPI does not read the repo for the images, and we'll have to use external links for the image. (reference [here](https://stackoverflow.com/questions/41983209/how-do-i-add-images-to-a-pypi-readme-that-works-on-github))

[2021-02-09 14:12] vfdev-5 commented on #1626
Thanks for the suggestion @Devanshu24 ! We kept it relative as fork modifications of these things can be seen directly in the fork and the PR.
There is also url for "assets/tldr/pytorch-ignite-teaser.gif" which is also relative.

Maybe, we could add "https://raw.githubusercontent.com/*" prefix here
https://github.com/pytorch/ignite/blob/6753b19b74fd8d128188dd0a75b405d19aa515b5/setup.py#L21