[2017-11-25 19:10] alykhantejani opened #8 "Get CI working on Travis"

[2017-11-25 19:10] alykhantejani opened #9 "Host sphinx docs"

[2017-11-25 19:11] alykhantejani opened #10 "Add a getting started section to the README"

[2017-11-25 19:11] alykhantejani opened #11 "Add integration with Visdom"

[2017-11-25 19:11] alykhantejani opened #12 "Add integration with tensorboard?"

[2017-11-26 00:49] versatran01 opened #13 "How is this different from torchnet?"
This is not an issue, but just curious how does this compare to tnt.Engine? Looks very similar to me.

[2017-11-26 00:59] alykhantejani commented on #13
Hi @versatran01,

Indeed it is very similar to tnt's Engine (and was inspired by tnt). The main differences are:
- Ignite allows for multiple handlers per event
- Ignite doesn’t assume a single model to be trained (and has a higher level of abstraction), which makes it easier to train things like GANs

Ignite is something we've been using for some time privately, and as tnt is not being actively d

[2017-11-26 00:59] #10 closed

[2017-11-26 01:10] versatran01 commented on #13
Thanks! This is very nice, I was trying to get Engine to work with GAN, but now I don't have to!
It would be nice if you could add the above explanation to the README, so that people can learn the motivation behind this.
Closing.

[2017-11-26 01:10] #13 closed

[2017-11-26 01:12] alykhantejani commented on #13
@versatran01 that's a good idea, will do

[2017-11-27 23:32] vfdev-5 opened #16 "[Feature] validate_every_epoch may take integer"
Hi,
A feature proposition to change a little bit the behaviour of `validate_every_epoch` [here](https://github.com/pytorch/ignite/blob/master/ignite/trainer.py#L180) and accept an integer and run validation every k epoch. What do you think about this ?

HTH

[2017-11-28 01:06] versatran01 opened #17 "minor mistake in readme"
trainer.run(num_epochs=5)
the actual argument is max_epochs.

[2017-11-28 12:24] alykhantejani commented on #17
Thanks, my mistake.

[2017-11-28 12:25] #17 closed

[2017-11-28 15:41] versatran01 opened #20 "Is it possible to have access to outputs?"
I want the training_update_function to return the output of a network in addition to loss so that I could visualize it.
The output is a one-time thing for viz only, but it seems like it will be appended to the history, which is a waste of memory?
Engine saves the output and releases it immediately afterward. Is there a way to do this in Trainer?

[2017-11-28 17:09] alykhantejani commented on #20
Hi @versatran01,

For the moment no - you can access them via the history (with the event `TRAINING_ITERATION_COMPLETE`) and you can also remove it from the history.

We are also discussing the API internally to try and solve these kind of issues, so stay tuned.

[2017-11-29 00:41] vfdev-5 opened #23 "Metrics computation during the training"
Hi @alykhantejani

Do you plan to integrate some metrics computation in the trainer or this should be done on the user side with event handlers (and logging in the same way as ignite) ?
Anyway, it would be good to display actually computed loss values.

[2017-11-29 11:20] alykhantejani commented on #23
Hi @vfdev-5,

I plan to have metric computation available as handlers (probably under `ignite.handlers.metrics`) which users can then attach to events.

These can take a `logger` argument, which could default to `print` but the user can pass in `my_logger.info` instead for example and the handler will just call `logger(result)`

As always PRs are welcome :)

[2017-11-30 10:50] alykhantejani commented on #8
Now works

[2017-11-30 10:50] #8 closed

[2017-12-02 15:12] alykhantejani commented on #16
This behaviour could also be achieved by handlers, as well as for running every x iterations although  I'm not opposed to changing this

[2017-12-02 15:13] alykhantejani commented on #20
@versatran01 You could also do the visualisation inside your update function and not return the value as you don't want it to persist.

Let me know if this answers your question

[2017-12-02 18:49] versatran01 commented on #20
Thanks for the answer.
That's what I'm doing now. But it would be nice to do it in the training_iteration_complete event.

[2017-12-03 18:31] alykhantejani commented on #20
@versatran01 you can also do it in the event handler and then remove it from history.

Closing this issue now as a wont-fix, but let me know if you have further issues or ideas around changes that could be made

[2017-12-03 18:31] #20 closed

[2017-12-04 09:17] rooa commented on #12
+1 for this. I personally like [tensorboard-pytorch](https://github.com/lanpa/tensorboard-pytorch) very much, but I'm not sure about the policy regarding integration of an external module into ignite.

[2017-12-06 11:57] alykhantejani commented on #23
@vfdev-5 some basic metrics have now been merged. Please open an issue for any specific metric request you may have

[2017-12-06 11:57] #23 closed

[2017-12-06 16:37] alykhantejani commented on #11
demonstrated in #33

[2017-12-06 16:37] #11 closed

[2017-12-11 23:08] akurniawan opened #34 "Compare validation result between predictions and true labels"
First of all thanks for the great framework!

For some cases such as machine translation we may want to see the comparison between our model and the real label. However, currently I can't get the result from `Trainer` class since the true label is not stored on `History` and neither it passed on the hook function. Do you have some idea how I can implement this?

[2017-12-11 23:18] akurniawan commented on #34
Ah sorry, I missed validation_data attribute at `Trainer`, I think I can use that. Sorry for the trouble!

[2017-12-11 23:18] #34 closed

[2017-12-18 23:05] jasonkriss opened #37 "General Roadmap?"
Hey guys,

Loving the project so far. I have a handful of extensions, utilities that I'd love to discuss either adding to this project or putting in a separate library. Would it be possible to get some insight into the future directions of ignite? How are decisions being made? I'm happy to start opening PRs, but obviously wanted to discuss them first.

Some of the things I'm curious about:

- addi

[2017-12-19 18:26] alykhantejani commented on #37
Hi @jasonkriss,

I think it'd be good to discuss this on github to keep it in the open and let others weigh in. To answer some of the questions please see my comments below:

_Would it be possible to get some insight into the future directions of ignite? How are decisions being made?_
 - Decisions are generally being made in the open on github (via issues + PRs) i.e. we welcome feature requests an

[2017-12-19 18:27] alykhantejani commented on #37
cc @fmassa who might also have opinions on this

[2017-12-20 19:19] jasonkriss commented on #37
Hey @alykhantejani,

Thanks a lot for the thoughtful response! That all sounds great. I'll get into some more detail here but it is of course just a starting point for discussion.

# Callables
Here are some rough sketches of supervised update and inference callables that I had in mind. Others could be added as well (WGAN, GAN, etc).

[code]

[code]

One of the benefits of having something like thi

[2017-12-21 00:59] elanmart commented on #37
Hi all,
I'd also be interested to know what future directions is `ignite` is planning to take.

If I may add my few cents:
* I like the idea of `Callables`, I think most people will write those things anyway, so it would be nice to have them built-in.

* I also liked the idea of `State` in `tnt` (albeit I used a slightly modified version, since the `dict-like` access is just terrible). I'd frequen

[2017-12-21 15:06] alykhantejani commented on #37
@jasonkriss @elanmart, thanks for the detailed feedback/suggestions. Here's my thoughts on what's been discussed so far:

On the idea of predefined callables:
 - I quite like the idea of having these "standard" patterns provided. I think it will remove a lot of boilerplate code
 - I think we need to think of a name for these functions (callables is a bit vague) - but agree we should add this (PRs

[2017-12-21 19:24] jasonkriss commented on #37
@alykhantejani @elanmart, really appreciate the feedback! You make some very good points.

# Callables
It seems like this is pretty uncontroversial. I'll open a PR to get this started. I definitely agree that "callables" is far too vague. We can try to think of better names in the meantime.

One other thought on this topic. Is there any interest in combining the update and inference functions into

[2017-12-27 11:43] alykhantejani commented on #37
Hi @jasonkriss,

Sorry for the delay in response, it's been a bit busy around the festive period 🎅

On the "callables". I think in order to support multiple validation sets/procedures we might change the API of `validate` to support taking in the dataloader + inference function. Therefore, passing a class to the `trainer.__init__` wont make much sense (over just the training dataloader and update

[2017-12-28 18:10] jasonkriss commented on #37
@alykhantejani no worries! I think this looks great!

I'm definitely on board with the metrics approach. I agree that its hard to make the reporting part generic so I think this is smart. Perhaps later it becomes clear how we can make this even easier but for now this sounds great! On that same note, I think taking this metrics approach means that the stuff in `ignite.handlers.logging` is less use

[2017-12-28 19:59] alykhantejani commented on #37
@jasonkriss

- on `ignite.handlers.logging` you may be right. We can probably remove this after metrics are in, it shouldn't be a problem as we're still in alpha so no need to worry about backwards compat stuff.

On the trainer, I agree there's probably no reason to pass the inference function to the `validate` function. Whilst I agree that making the interface of `run` and `validate` consistent b

[2017-12-28 20:00] alykhantejani opened #38 "Provide basic update + inference functions"
See #37 for discussion on this. We should provide something for simple supervised training

cc @jasonkriss

[2017-12-28 20:02] alykhantejani opened #39 "Change interface of run and validate to accept the data loader"
See #37 for discussion

[2017-12-28 20:03] alykhantejani opened #40 "Add ignite.metrics to add common metrics with the interface (y, y_pred)"
See #37 for details

[2017-12-28 20:03] alykhantejani opened #41 "Add annotations to attach event handlers"
See #37 for details

[2017-12-28 20:03] alykhantejani opened #42 "add a validate handler that wraps trainer.validate to run on intervals and clear history"
See #37 for details

[2017-12-28 20:04] elanmart commented on #37
Hey, sorry for the lack of response.

Thanks for opening conrete issues, I think I could work on some of them. Please give me a day or two to sort out other things.

[2017-12-28 20:06] alykhantejani commented on #12
Integration with Visdom was super easy as the API for visdom worked really well with the event handlers. See [the example with MNIST](https://github.com/pytorch/ignite/blob/master/examples/mnist_with_visdom.py) for details.

Ideally tensorboard would be as simple and we can just provide examples

[2017-12-28 20:06] alykhantejani commented on #37
@elanmart that'd be great. No rush. Thanks!

[2017-12-28 20:10] alykhantejani commented on #16
After discussions in #35 and #27 I think there is some consensus on removing this parameter altogether and providing a convenient handler that calls `validate` and wraps the logic for doing this every x epochs/iterations (see #42).

Closing this issue for now, let's redirect the conversation to #42

[2017-12-28 20:10] #16 closed

[2017-12-28 20:46] jasonkriss commented on #37
@alykhantejani 👍 looks great! Thanks for breaking out the issues. I'll continue the relevant discussions there.

[2017-12-29 01:55] jasonkriss commented on #40
@alykhantejani I'm working on a PR for this now

[2018-01-03 17:54] #40 closed

[2018-01-03 17:55] alykhantejani opened #46 "Add section about metrics to the README"

[2018-01-04 17:30] #39 closed

[2018-01-04 17:30] #42 closed

[2018-01-05 11:34] vishwakftw commented on #46
What is expected here? Like, is there supposed to description about the functions in `metrics.py`?

[2018-01-05 11:52] alykhantejani commented on #46
Sorry for the non-descriptive issue.

This issue is to add some details to the README about what the metrics are and how to use them. For example [here](https://github.com/pytorch/ignite/issues/37#issuecomment-354101896) is where the ideas stemmed from,  it would be good to have something in the README like that.

(Still not sure what the best way to document this stuff is, but the README will suf

[2018-01-05 11:53] vishwakftw commented on #46
Oh okay. I can probably take it up.

[2018-01-05 12:12] alykhantejani commented on #46
@vishwakftw that'd be great. Thanks!

[2018-01-05 14:05] #38 closed

[2018-01-08 15:55] #46 closed

[2018-01-08 15:58] #41 closed

[2018-01-12 09:56] alykhantejani opened #53 "Update examples with newer API"
As it is in alpha, the code is moving quickly. We should try and keep the examples up to date

[2018-01-16 21:34] vinayakvivek opened #55 "Log handlers are not up to date."
functions like `log_training_simple_moving_average` uses `training_data` attribute of `Trainer` which does not exist.
[code]

[2018-01-18 08:11] keon opened #57 "Better name for events enum"
Since TrainingEvents are not only used in training, but in the whole loop, I suggest using more general term `Events`.

I assume that Events is going to be used quite often.
Having a shorter name would be more convenient.

[2018-01-18 08:16] keon commented on #57
Just discovered that PR #54 fixes this problem by separating Events.

[2018-01-18 08:16] #57 closed

[2018-01-29 15:21] alykhantejani commented on #55
Sorry about this, the API is moving quickly. Will get these things fixed this week

[2018-01-30 23:51] keon commented on #53
I think it'd be better to test the examples in the CI testing.
Just checking if they are running or not should be enough I guess.

[2018-01-31 18:21] alykhantejani commented on #53
@keon yup, this seems like a sensible idea. once #59 is merged I will add this to the CI

[2018-01-31 18:22] alykhantejani commented on #55
This is being addressed in #59

[2018-02-04 12:57] pkdogcom opened #62 "[Feature Request] Engine checkpointing"
When training models, I usually would like to save a checkpoint of the model every few epochs or minutes/hours, so that I can resume training from the latest checkpoint when there are errors either in the codes or hardwares, or when I find it necessary to finetune the learning rate without losing the progress.

In Tensorflow, there are some helper functions in the tf.train package to simplify chec

[2018-02-04 13:14] pkdogcom opened #63 "[Feature Request] Timing data loading time"
As data loading and preprocessing in DataLoader can be the bottleneck of training in many cases, it is always helpful to measure the time for data preparation and optimize when necessary. Also, since the data loading time may improve as the page cache warms up during training, it may be worthwhile to keep track of the data preparation time for a few epochs before drawing the conclusion.

Although

[2018-02-04 13:50] pkdogcom commented on #62
It is also very common to keep track of the best checkpoint and it will nice if ignite has out-of-box support for this feature.

[2018-02-05 18:20] alykhantejani commented on #63
Hi @pkdogcom,

How are you currently timing this? As IIRC this is  happening asynchronously in the pytorch dataloader using multiple threads

[2018-02-05 18:21] alykhantejani commented on #62
hi @pkdogcom,

Thanks for the feature request. I agree these both sound like nice features to have. I will add these to my current backlog and start working on them soon if no one else from the community pick them up.

[2018-02-07 08:20] pkdogcom commented on #63
I just time this by measuring the time difference between the end of training for one batch (in end of training loop) and the time when the next batch of data become available (in the start of the training loop). Since the only thing that really matters is whether the GPUs need to wait for dataloader in CPU. As long as the data loading and preprocessing time can be hidden by the model forward/back

[2018-02-07 08:29] pkdogcom commented on #62
And I think it will be also very nice if this feature is implemented with logging/plotting integrated. For example, I've been using Ryzen machine for training recently and it is not stable on Linux and the whole system may hang and require rebooting every now and then. In such case it will be nice for the training to be able to resume from the latest checkpoint, not only with the model and optimiz

[2018-02-07 09:01] pkdogcom opened #64 "[Feature Request] Templates for logging/plotting"
I think although right now the logging/plotting are straightforward to add using the event handler as in the examples, it can potentially be made even easier by adding some templates or some level of abstractions as logging/plotting are usually pretty standard and most people simply plot mostly the same types of loss, accuracy, learning rates, weights, etc. for the same type of task.

For example,

[2018-02-07 10:35] alykhantejani commented on #12
Closed as example of how to do this with tensorboard-pytorch has been merged in #60

[2018-02-07 10:35] #12 closed

[2018-02-07 14:48] elanmart commented on #62
@pkdogcom what kind of API do you have in mind? In most of my workflows I simply use

[code]

[2018-02-07 17:25] jasonkriss commented on #63
@pkdogcom I usually just monitor the gpu utilization using `nvidia-smi`. Would this feature give us anything more than that?

[2018-02-07 17:38] jasonkriss commented on #62
@elanmart @alykhantejani I think this opens up a broader question... Do we prefer to keep this library as small as possible or do we prefer to remove as much boilerplate as possible. I think @elanmart's snippet is a great example of how well setup the current API is to make things like checkpointing very easy/explicit. That being said, there may be an argument for making this even easier since it

[2018-02-07 17:41] alykhantejani commented on #64
@pkdogcom sounds like an interesting idea, what do you envisage the API looking like?

[2018-02-07 18:48] elanmart commented on #62
@jasonkriss

I have quite a strong preference for keeping it as simple as possible. I just find it easier to read, and also enjoy having as much flexibility as possible.

That being said, maybe something like `contrib` module, that is build to match the "main" API would be nice? I would vote against changing the API itsetlf.

But then again, I guess @alykhantejani 's opinion would be the most impo

[2018-02-07 19:08] pkdogcom commented on #63
I think `nvidia-smi` just gives GPU utilization at the moment you run the command, so if the model or input is big enough, the utilization may show 100% in one run and 0% in another, depending on which part of the codes are being run at the moment. Also, you won't know exactly how much overhead the data loading/preparation adds to training with `nvidia-smi` only so that it can be hard to decide if

[2018-02-07 19:16] elanmart commented on #63
Do you have something like this in mind?
[code]

[2018-02-07 19:21] pkdogcom commented on #62
@elanmart I think your code snippet works for the ideal case, but in my experiences dealing with unstable system (say Ryzen) and large dataset like Imagenet or Kinetics which takes days or even weeks to train, it is also very crucial to be able to recover from the latest checkpoint in case that training fails accidentally, with all the training states like model weights, current learning rates, ep

[2018-02-07 19:32] pkdogcom commented on #63
This looks like a good idea to me from a user's perspectives. At the end of the day I believe the purpose of a high-level training framework like ignite is to wrap up things that are common in most tasks so that most boilderplate codes can be avoided while the API remains flexible enough for customized workflow.

[2018-02-07 19:35] pkdogcom commented on #64
I think the code snippets elanmart provides in #63 look like a good idea to me. And if the user wants to customize certain behaviors, they can either use the low-level event handler directly or subclass the template class and override certain types of logging/plotting inside.

[2018-02-07 19:49] jasonkriss commented on #62
@elanmart makes total sense to me. I agree on not wanting to change the main API too much. A `contrib` module might be a good idea.

[2018-02-07 20:07] jasonkriss commented on #63
@elanmart am i understanding correctly that these are essentially callbacks (maybe a better name would be something like "orchestrator" or "coordinator") as discussed in #37 with the crucial difference that the API is inverted? That is, we have the power of callbacks without needing to change the "core" API?

[2018-02-07 20:09] jasonkriss commented on #37
Closing this in favor of individual issues.

[2018-02-07 20:09] #37 closed

[2018-02-08 00:31] akurniawan opened #66 "[Feature Request] Distributed training wrapper"
Tensorflow has a feature called `tf.estimator` that nicely wrap the distributed training, so the user doesn't have to know which one is master, etc. Should we include that as well in ignite? Or that should be under pytorch repository?

[2018-02-08 10:59] alykhantejani commented on #66
I believe this can already be handled at the module level (defining your network). For example see the [DistributedDataParallel module](http://pytorch.org/docs/master/nn.html#torch.nn.parallel).

This allows it to just work with the current ignite API. Is there something else you had in mind?

[2018-02-08 11:03] alykhantejani commented on #62
In my opinion ignite should achieve the following (as @jasonkriss once put it): "make the simple things simple and the hard things possible", therefore I would also prefer not to make the API too complex.

I believe that with the current event/callback model most of these things can be achieved with custom callbacks/handlers. These could live in `ignite.handlers` and we could also have an `ignite.

[2018-02-08 11:06] alykhantejani commented on #63
I like the idea of a `ignite.contrib`/`ignite.handlers/callbacks`, see my [comment in 62](https://github.com/pytorch/ignite/issues/62#issuecomment-364078176).

I think we should maybe draft an PR with this in and we can iterate on that

[2018-02-08 11:07] alykhantejani commented on #64
Agreed, this can also live in the contrib area

[2018-02-08 12:58] akurniawan commented on #66
Ah didn't aware of that module existence, thanks for pointing out! I have never used it before so I can't say anything at this moment. We can close this issue then for now. Thanks!

[2018-02-08 12:58] #66 closed

[2018-02-08 14:32] alykhantejani opened #67 "Add examples into CI tests"

[2018-02-08 14:55] alykhantejani opened #68 "Start current_epoch + current_iteration from 1 instead of 0."
Also increment these counters *after* the `ITERATION_COMPLETE`/`EPOCH_COMPLETE` events.

See discussion in #59 for more details

[2018-02-09 11:21] #68 closed

[2018-02-09 11:24] alykhantejani commented on #55
Sorry for the delay on this. The new API is in now, I will get this fixed ASAP

[2018-02-09 12:20] alykhantejani commented on #53
FYI: Working on fixing this now as well as the logging module

[2018-02-09 14:22] #55 closed

[2018-02-09 15:12] #53 closed

[2018-02-10 13:51] pkdogcom opened #72 "Add transform function arguments to create_supervised_evaluator"
I just checked out the new API and found the new create_supervised_trainer function really helpful. For most supervised learning task, this function makes trainer definition an one-liner. However, the evaluator counterpart create_supervised_evaluator doesn't seem to be as helpful. Since in most cases during validation we only care about the finall loss/accuracy/distance rather than the raw predict

[2018-02-11 14:39] elanmart commented on #62
@alykhantejani how do you think the training should be resumed? Save every (`n`th) epoch and recover from that? Save every `n`th iteration?

If you'd like to save every `n`th iteration, and let's say you'd like to resume training in the middle of an epoch, how would you go about it? Skip the initial batches? Finish that epoch early?

[2018-02-12 10:43] alykhantejani commented on #72
Hi @pkdogcom - I think this a good idea, in fact we discussed this in #54 ([here](https://github.com/pytorch/ignite/pull/54#issuecomment-363438057)). As we already have the `ignite.metrics` module, we should try to use these as the transforms

I will also break out a separate issue to update examples to use the factory functions.

[2018-02-12 10:43] alykhantejani opened #76 "Update examples to use the new factory functions to create trainer/evaluator"

[2018-02-12 10:43] alykhantejani commented on #76
reported in #72

[2018-02-12 11:05] alykhantejani commented on #62
@elanmart I think saving at iterations would be preferable as sometimes epoch boundaries can be very far apart (e.g. imagenet). Resuming from mid-epoch is a bit tricky, I guess we can choose to define it as:

If an epoch is 10 batches, and the engine is saved at batch 5, when resumed only 5 batches will be consumed for the remaining epoch. However, we can't guarantee that you wont see the same dat

[2018-02-12 11:12] alykhantejani opened #77 "Update README to reflect new API"

[2018-02-12 14:12] pkdogcom commented on #62
I think you may follow the DistributedSampler in core Pytorch as an example and define a new sampler, which use epoch as the deterministic manual seed and thus generate deterministic shuffled (subset) samples, which allow the dataloader to resume deterministically given the batch index. The sampler itself can be saved and manipulated by the engine depending on whether the current epoch is started

[2018-02-13 19:27] jasonkriss opened #78 "Evaluation/Metrics approach"
This has been discussed a bit in other issues, but I wanted to make a dedicated issue for us to discuss this as I think it's very important we get this right.

## Background
Some previous discussions [here](https://github.com/pytorch/ignite/pull/54#issuecomment-363231705) and [here](https://github.com/pytorch/ignite/issues/72).

Throughout, I am going to use the motivating example of training a su

[2018-02-13 19:34] jasonkriss opened #79 "CONTRIBUTING questions"
@alykhantejani before we start merging a bunch of new features, how do you feel about adding a CONTRIBUTING.md doc that spells things out a lil bit more? The main thing I care about right now is settling on a docstring format. I think you said you were okay with going with the google style (ala pytorch) but it'd be nice to get that down somewhere. I can then go back and update the existing docstri

[2018-02-13 19:57] jasonkriss opened #80 "Engine state object"
We touched on this in #37 and #52 but I wanted to make a dedicated issue to discuss it.

## Motivation
- avoid the proliferation of `current_*` attributes on `Engine`s
- allow for handlers to pass state between each other

## Proposal
- similar to torchnet approach
- we create a new `state` object at the start of `Engine#run` and it is updated throughout the run
- `Trainer` state can have the foll

[2018-02-14 11:36] alykhantejani commented on #79
Hi @jasonkriss, this sounds like a good idea. Would you be able to send a PR with a draft outlining what you think should go in there?

[2018-02-14 11:59] alykhantejani commented on #78
I think this needs to be addressed asap and I think you're correct with the approach. We should hash out what we want the API to look like for evaluation, we want to make it super easy for the most common case - evaluation using pre-canned metrics for a supervised task. But also make more complex things possible.

I will try to have a think about what I think the API should look like and post back

[2018-02-14 15:26] alykhantejani commented on #78
So I came up with something pretty similar to @jasonkriss's:

[code]

[2018-02-14 15:44] alykhantejani commented on #80
1) I think if we are moving all `current_*` fields to the `state` object then we should instead pass this to the handlers instead of the engine. This should be a backwards compatible change as `trainer.current_iteration` will be the same as `state.current_iteration` (except for the incorrect naming)

2) I think we should keep it as an actual object, that way we can define functions like `clear()`

[2018-02-14 18:49] elanmart commented on #80
I agree that object will be a better solution, as the dot-notation is nicer, and my editor will be able to give me some auto-completion.

I also agree that it should be passed to handlers. Not sure if `state` needs dataloader though (but its a minor detail).

[2018-02-14 21:53] jasonkriss commented on #79
For sure. Putting something together now.

[2018-02-15 01:01] jasonkriss commented on #80
@elanmart when i was using torchnet, i found it nice to have the dataloader on the state as i could then wrap it in tqdm in an event handler on each epoch. Like you said though, pretty minor.

I think I'm with you guys on using an object. @alykhantejani what would `clear()` do exactly? Are we okay with users being able to add arbitrary data to the state object in event handlers?

[2018-02-15 01:57] jasonkriss commented on #78
My personal preference would be for the reduction behavior to be completely encapsulated in the metrics themselves. I think this allows the greatest flexibility and prevents us from having to worry about things like how to average accuracy across batches (if the batches are not all the same size, then we cant average them correctly).

I also would love to keep Evaluator as an instance of `Engine`

[2018-02-15 14:38] #79 closed

[2018-02-15 14:52] alykhantejani commented on #78
With the evaluate handler, the problem is that it stores the full history and then does the metric calculation at the end. This means that for something like imagenet classification you are storing validation dataset size * 1000 numbers when you really only want 1000 numbers (correct/incorrect) and ultimately a mean.

However, I really like the stateful metrics approach, would you mind opening a P

[2018-02-15 15:11] alykhantejani commented on #80
So, I think we have 3 things in play here:

`Engine`: - This should probably hold the reference to the dataloader
`State`: - should hold current state of the engine i.e. `current_iteration` etc. And also and user-defined state.
`History`: - Holds the historical results returned from the update function in the engine.

If we store a reference to the state and the history in the engine itself, then

[2018-02-15 15:12] alykhantejani commented on #72
Closing this as the approach to improving the evaluator to include metrics is being discussed in #78

[2018-02-15 15:12] #72 closed

[2018-02-15 22:49] Sudy opened #82 "How to resume the best model saved and evaluate on the test dataset"
Thanks for this excellent project. Since I'm new to Ignite,  I have encountered a problem when I try to load the best saved model and run  on the test dataset at the end of training. I don't know how can this be achieved under current framework. Can anyone help with this.

[2018-02-16 11:25] alykhantejani commented on #82
Hi @Sudy,

We are in the works of adding easier model checkpointing (#75) but in the mean time, when you are done training or just periodically you can save models using the standard pytorch way of saving and loading models (see [here](http://pytorch.org/docs/0.3.1/notes/serialization.html)).

For example, to save at the end of training you can attach a handler to the `COMPLETED` event i.e.:
[code

[2018-02-16 17:17] Sudy commented on #82
Hi @alykhantejani ,

Thanks for the reply.  My problem is not loading or saving models, but how to apply the best model to the test  dataset. I finally solve the problem by the following code, which is not elegant but is working.

`      testor.add_event_handler(Events.COMPLETED, get_performance(logger))
	model.load_state_dict(torch.load('../model/' + model_name))
	testor.run(test_loader)`

[2018-02-16 17:39] alykhantejani commented on #82
Oh I see, so the logic to run stuff through your tester should be in the function passed to its constructor.

[2018-02-16 17:40] alykhantejani commented on #82
Closing the issue as it appears to be resolved. Please feel free to comment on it if you need further help :)

[2018-02-16 17:40] #82 closed

[2018-02-16 18:14] jasonkriss commented on #80
I'm thinking once we resolve this issue and #78, things are gonna stabilize a lot. I was waiting for that to happen but then was planning on bringing the README and all docstrings fully up to date.

I understand `clear()` now. Makes sense. I'd say let's maybe hold off on that for now though just so it doesn't block the initial implementation. It's a convenience that we can add on later.

I don't t

[2018-02-16 18:26] alykhantejani commented on #80
I agree about changing the API - it's fine now that we're in alpha, but I'd like to see it stabilize soon (after these PR's hopefully), and a version on conda/pypi would be good.

I see your point about the dataloader being part of the state, and don't have a problem with that.

However, I think the engine will need access to the state, to access and update things like `current_iteration` etc. whi

[2018-02-16 18:27] alykhantejani commented on #80
@jasonkriss is this something you'd want to work on? If so, do you mind starting a PR and we can iterate there? If you're busy that's cool - I can try and get one together Monday

[2018-02-16 18:31] jasonkriss commented on #78
@alykhantejani That's a great point. I'll start putting together a PR for the stateful approach.

With that in mind, how would you feel about removing `History` and the `handlers.logging`. Instead of history, we can have `state.output` contain the most recent iterations output. That's all that will be needed for metrics. This way we don't store a bunch of data unless its truly needed. The rest of

[2018-02-16 18:34] alykhantejani commented on #78
@jasonkriss sounds like a good idea, and like we're on the same page - see [my recent comment here](https://github.com/pytorch/ignite/issues/80#issuecomment-366318519).

[2018-02-16 18:44] jasonkriss commented on #80
@alykhantejani This sounds great. Yep I can take this one. I like that plan of action! Let's do that.

You are correct that the engine needs to access state, but I don't think that necessitates storing it as a member on `Engine`.  I like the [torchnet approach](https://github.com/pytorch/tnt/blob/master/torchnet/engine/engine.py#L9) of creating the the `state` object at the beginning of `Engine#ru

[2018-02-19 14:13] alykhantejani commented on #80
@jasonkriss that approach sounds good to me :)

[2018-02-21 08:24] pkdogcom opened #84 "Timer Exception: "reset() takes 1 positional argument but 2 were given""
I've just checked out the new timer handler and attached it to the trainer engine following the example. However, the above exception is produced when the engine fires the triggering event (which is EPOCH_STARTED in the example).

After looking into the codes I guess the problem is that in the `_fire_event` method of engine it calls the handler method by passing the engine instance as argument:
[c

[2018-02-21 13:38] alykhantejani commented on #84
Thanks for reporitng - will take a look now

[2018-02-21 13:44] alykhantejani opened #85 "Add some tests for ignite/handlers/timing"
Just to check average, step, pause, resume etc work as expected

[2018-02-21 13:51] alykhantejani commented on #84
This is now fixed in master

[2018-02-21 13:51] #84 closed

[2018-02-22 14:53] #85 closed

[2018-02-26 11:36] #80 closed

[2018-02-26 17:04] #63 closed

[2018-02-26 17:05] alykhantejani commented on #62
Renamed the issue as model checkpointing has been added in #75

[2018-02-26 17:09] alykhantejani opened #89 "Update examples to use new `state` object"

[2018-02-26 17:44] alykhantejani commented on #89
perfect, thanks!

[2018-03-03 03:13] davidlmorton opened #90 "License?"
What is the license for this library?

[2018-03-05 18:20] alykhantejani commented on #90
Same as PyTorch as described [here](https://github.com/pytorch/pytorch/blob/master/LICENSE). But thanks for raising, I will add a LICENSE file

[2018-03-06 10:52] #78 closed

[2018-03-06 11:07] #90 closed

[2018-03-06 18:33] pkdogcom opened #93 "Add pairwise distance to Metrics"
I think in evaluation of regression task, pairwise distance, especially norm-2 distance, as in `torch.nn.functional.pairwise_distance` is at least as frequently used as MSE, which is actually mostly used as loss rather than evaluation metrics. Therefore, I was wondering if it is worthy of being added to Metrics package as a commonly used metrics.

[2018-03-06 20:21] jasonkriss commented on #93
@pkdogcom Do you mean RMSE? I don't think I've seen (mean) l-2 distance used as a regression metric before. If you do mean RMSE, I think that's a great point. I'll add that.

[2018-03-06 20:31] jasonkriss commented on #93
@pkdogcom just added RMSE in #92.

[2018-03-07 06:51] pkdogcom commented on #93
@jasonkriss I'm working on gaze estimation which evaluates the performance by using euclidean distance between actual and estimated gaze target at the monitor, averaged over all samples. I believe there are other tasks also use euclidean distance rather than RMSE. Let me know if that makes sense.

[2018-03-07 06:54] pkdogcom commented on #62
@alykhantejani I've checked out the recent commits of checkpointing. It doesn't seem to have out-of-box support of resuming training from latest checkpoint. Is it under recent development plan?

[2018-03-07 10:38] alykhantejani commented on #62
Hi @pkdogcom, you're correct - the current model checkpointing handler is a just for convenience of saving models, not saving the engine state. This is still something that I think would be good - let's keep this issue open to track it and it's definitely on the roadmap

[2018-03-07 11:12] alykhantejani commented on #93
Seems sensible to me - can you send a PR?

[2018-03-07 14:29] pkdogcom commented on #62
Sounds good. Thanks.

[2018-03-07 16:15] samarth-robo opened #94 "Communication between callbacks?"
Hi developers, thanks for this nice library! I was wondering if you have ideas about how to communicate some state between callbacks?
For my specific use-case, I have 2 callbacks attached to the `COMPLETED` event of my `Evaluator`. One computes an average-precision value from the data gathered in the `Evaluator`'s state during the epoch. The other callback saves a checkpoint. I would like to have

[2018-03-07 16:23] samarth-robo commented on #94
I realized one way is to make both callbacks parts of a class and maintain the best AP value in the class. So closing this issue. Feel free to re-open if you have a better suggestion.

[2018-03-07 16:23] #94 closed

[2018-03-07 18:16] jasonkriss commented on #93
@pkdogcom Thanks for the explanation! That makes total sense. I just went ahead and added `MeanPairwiseDistance` to #92. Let me know if that doesn't take care of it.

[2018-03-07 18:22] jasonkriss commented on #94
@samarth-robo That approach will definitely work but there is another option. You can attach arbitrary data to the `state` object. In fact that's one of the major use cases. So you could do this in the first callback:

[code]

And then in the checkpoint callback you can access `state.precision` to make the decision.

This is still largely undocumented at this point but I'm working on that now.

[2018-03-07 18:32] #93 closed

[2018-03-07 18:34] alykhantejani commented on #94
Hi @samarth-robo,

As @jasonkriss mentioned, we recently added the `State` object (sorry for the API change) to primarily facilitate cross-handler communication. I would recommend using that, and as @jasonkriss said documentation is in progress - so please feel free to open issues with questions

[2018-03-09 22:21] karfly opened #95 "Examples are not working"
Tried to run scripts from /examples, but failed.
I got 2 errors:

1. `ImportError: No module named 'ignite.handlers.logging'`
2. `ImportError: cannot import name 'Evaluate'`

Tried to find source code for them and didn't manage to find anything. This functionality is just not implemented yet or I'm doing something wrong?

[2018-03-09 22:25] jasonkriss commented on #95
@karfly Sorry about that! There has been some very recent breaking changes (for the better!). Things have settled dow now though so I am hoping to bring those examples and the docs up to date in the next few days.

[2018-03-11 09:07] alykhantejani commented on #95
I'll also be trying to close out the issues related to API changes this weekend.

[2018-03-12 03:50] amrsharaf commented on #95
When you change the API could you please release a separate version and leave the old API working?

[2018-03-12 05:26] alykhantejani commented on #95
@amrsharaf sorry about the recent API changes, this is due to us still being in alpha. I hope now the API stays more stable and is hopefully better for the end user. We will be releasing a proper release soon (with wheels and conda packages etc) and after this any breaking changes will be properly semver'd so that you can use and depend on a specific version

[2018-03-13 19:00] #76 closed

[2018-03-13 19:00] #89 closed

[2018-03-13 19:00] #95 closed

[2018-03-13 21:50] vfdev-5 commented on #67
@alykhantejani how do you think to test it ? Something like:
[code]
or something more sophisticated?

[2018-03-13 21:56] alykhantejani commented on #67
@vfdev-5 in travis we can just launch the script directly (no need to write tests in python). I think we should just train for a single epoch (or even less). It's basically a smoke test to make sure the examples still run (with the changing API).

[2018-03-14 06:24] jasonkriss commented on #67
@alykhantejani I think this one can be closed, right?

[2018-03-14 07:14] DNGros opened #103 "[Feature Request] Optional Epoch Size arg for Engine.run()"
Thanks for your work on the library. It contains a lot of helpful functions to get clean out boilerplate code.

I have had some difficulty using ignite with infinite data iterators (in this case coming from Torchtext), as the run will never end or fire epoch end events. It would be nice if Engine.run() implementations like Trainer and Evaluator took in an optional batches_per_epoch argument. This

[2018-03-14 07:19] jasonkriss commented on #103
@DNGros Seems pretty reasonable. I can't say I have used many infinite data iterators myself. Can you point me in the direction of some specific examples so I can familiarize myself?

[2018-03-14 08:25] jasonkriss opened #105 "Road to 0.1.0..."
@alykhantejani I wanted to start the discussion of what work is left to do before we can cut an official release (with conda and pypi packages as well). We've used this alpha phase well to work out the fundamental APIs.  But I think its time to give users some guarantees of a stable API so they can have confidence that things aren't gonna change/break underneath them.

Here is a rough sketch of wh

[2018-03-14 08:41] DNGros commented on #103
@jasonkriss
For example in https://github.com/pytorch/text/blob/master/torchtext/data/iterator.py#L13 the __iter__() function will infinitely produce batches by default. Of course as I went to look at this code to link to it I noticed that it provides a "repeat" arg that when set to false makes my issue with the ignite Trainer go away.

Sorry, I should have noticed this. I think part of my initial

[2018-03-14 08:41] #103 closed

[2018-03-14 08:58] vfdev-5 commented on #105
Release pypi name propositions :
- torchignite
- torchignition <= torchvision :)

[ignite](https://pypi.python.org/pypi/ignite) and [ignition](https://pypi.python.org/pypi/ignition/0.3) are taken

[2018-03-14 09:01] vfdev-5 commented on #105
Wondering whether current API is stabilized, @jasonkriss could you share your cases of usage of *ignite* if any ?

[2018-03-14 18:25] alykhantejani commented on #105
Hi @jasonkriss,

I share the same sentiments about cutting a release. I think the checklist looks fine. I like the idea of a minimal README, however not sure what the best way to explain the concepts of handlers, state etc are.

@soumith can we host the sphinx docs at http://pytorch.org/docs/ similar to torchvision? Also can we put the conda tar under the pytorch channel on conda.

As for pypi, I

[2018-03-14 18:36] alykhantejani commented on #67
yup, thanks @jasonkriss

[2018-03-14 18:36] #67 closed

[2018-03-14 21:28] jasonkriss commented on #103
@DNGros thanks for following up! I agree, I think we can close this for now and just use that `repeat`.

[2018-03-14 21:37] jasonkriss commented on #105
@vfdev-5 @alykhantejani torchignite seems like the obvious choice (following torchtext and torchvision).

@vfdev-5 Sorry I'm not sure I understand what you are asking exactly.

@alykhantejani What do you think of splitting the docs in to 'Notes' and 'Package Reference' the way pytorch does. Then we can put together a 'Concepts' doc under 'Notes' that will explain all these things. I picture adding

[2018-03-14 21:49] jasonkriss commented on #105
One other option on name is `igniteio`. That's a pretty common pattern when package names are taken and might help us avoid confusion as to whether the package name is `ignite` or actually `torchignite`. Just an idea.

[2018-03-14 23:13] vfdev-5 commented on #105
@jasonkriss I was wondering if you use *ignite* in some of your use-cases? Such use-cases can reveal whether the API is lack of something.

I think it could be good to add more various examples on, for example, detection, segmentation tasks etc to show more use-cases in addition to MNIST.

[2018-03-15 00:38] DNGros commented on #105
Seems like a good list. I'm excited to see this reach a first release!

`torchignite` seems like a great name choice. To throw out a different idea, something more explicit and boring like `torchtrain` could also make sense with the `torchvision` and `torchtext` scheme. Definitely not as cool sounding though and may be more much contentious...

It might be valuable to add an example of a more comp

[2018-03-15 04:41] alykhantejani commented on #105
I think writing a few more examples is a good idea, just to check the API is sufficient. Perhaps a regression task (super resolution, segmentation etc.) and GANs would be good use cases to check the API.

I will also create issues/tasks for:
- converting docstrings to google styles
- stripping down the README
- Creating notes
- Hosting docs (already exists #9)
- creating pypi & conda builds

I gue

[2018-03-15 04:42] alykhantejani opened #106 "Convert all docstrings to google style docs"

[2018-03-15 04:46] alykhantejani opened #107 "remove docs from README"
reduce to a simple README like torchvisions.

Notes will move into the docs folder and be available via a website

[2018-03-15 04:48] alykhantejani opened #108 "Create notes about concepts in ignite"
These should be put in a sphinx compatible format like what is [done in pytorch](https://github.com/pytorch/pytorch/tree/master/docs/source/notes)

[2018-03-15 04:49] alykhantejani commented on #9
We should also figure out hosting of these

[2018-03-15 04:49] alykhantejani opened #109 "Create wheels and conda tar builds"

[2018-03-15 04:50] alykhantejani commented on #105
Closing this, let's continue task specific discussions on the related issues with label `0.1.0`

[2018-03-15 04:50] #105 closed

[2018-03-15 04:50] alykhantejani commented on #77
Closing in favour of #107

[2018-03-15 04:50] #77 closed

[2018-03-15 04:55] alykhantejani opened #110 "Create GAN example"

[2018-03-15 05:24] #107 closed

[2018-03-15 07:06] vfdev-5 commented on #106
Here is a repo that provides automatic conversion functionality : https://github.com/dadadel/pyment

[2018-03-15 07:35] vfdev-5 commented on #105
How about to add code coverage badge too ? For example with [coveralls](https://coveralls.io/).

[2018-03-15 07:39] vfdev-5 commented on #105
@alykhantejani can we use github "Projects" to follow 0.1.0 roadmap and the todo list from this issue ?

[2018-03-15 17:46] jasonkriss commented on #105
@vfdev-5 gotcha. So far i've been using ignite for image classification and detection and some document classification. I think all of these tasks look fairly similar (at the ignite level) to the mnist example. The one thing I have found a lil lacking is coverage of metrics for non-classification tasks. That's something I want to address but it's not a blocker for a release and wont change any api

[2018-03-16 17:15] vfdev-5 commented on #62
Maybe we can inspire from [here](https://github.com/ncullen93/torchsample/blob/master/torchsample/callbacks.py)

[2018-03-16 18:19] alykhantejani commented on #62
This is something I'll get started on once we ship 0.1.0 (should be soon)

[2018-03-16 18:22] vfdev-5 opened #114 "Invalid cross-device link with ModelCheckpoint, atomic=True"
I have an issue with `ModelCheckpoint` when `atomic=True`
[code]
Maybe we need to use `shutil.move` as suggested [here](https://stackoverflow.com/questions/42392600/oserror-errno-18-invalid-cross-device-link)

[2018-03-18 04:37] veugene commented on #114
Currently, ModelCheckpoint uses the default destination in tempfile when saving a temporary file for an atomic checkpoint write. This is potentially problematic: it assumes that the default `tempfile.tempdir` is on the same volume as the user-specified destination directory (`dirname`); it also causes the issue described above. It should create the temporary file in the user-specified destination

[2018-03-19 02:24] veugene opened #116 "Allow setting initial epoch in trainer."
The initial epoch when training is assumed to always be 0; it would be useful for a user to be able to initialize this value when resuming training.

https://github.com/pytorch/ignite/blob/master/ignite/engines/trainer.py#L31

[2018-03-19 03:50] veugene opened #117 "Flexible access to state"
The introduction of `State` (#80, #83) which is passed to event handlers is very welcome as it is a critical requirement. The flexibility with which state is passed around, however, could still be improved. Currently:

1. Event handlers can only access the state of the engine issuing the event.
2. There is no access to the state in the training and validation functions.

An argument against making

[2018-03-19 04:19] veugene opened #118 "Metrics with multiple outputs & standardizing outputs"
The current implementation of metrics assumes a very specific set of return values from the training/validation function: (y_pred, y), as can be seen for example in https://github.com/pytorch/ignite/blob/master/ignite/metrics/mean_absolute_error.py#L20 .

This has a couple inconvenient consequences:

1. Existing metrics cannot handle a model with multiple outputs.
2. Users cannot pass around addit

[2018-03-19 11:03] alykhantejani commented on #117
On this point, I was quickly trying to hack up a version of `engine.save()` and `engine.load` and found that having a `state` on the engine was desirable for a clean API.

For example, if we want the API `engine.save()` and `engine.load(file_path)` the engine will need to store and reload the state, which in it's current form can't be done as the state is ephemeral.

I think we should nail down wh

[2018-03-19 12:38] vfdev-5 commented on #118
I would say that in this special case of computing a metric on a particular index of the output/target, you can write a custom class, sort of proxy metric, `IndexedMetric` (find a better name):
[code]

HTH

[2018-03-19 12:47] alykhantejani commented on #116
I think a better solution for this would be to implement `engine.save` and `engine.load` so that you can resume from a engine checkpoint seamlessly. There is already a ticket for this #62 so closing in favor of that. Feel free to comment on this ticket if you think that wont solve the issue

[2018-03-19 12:47] #116 closed

[2018-03-19 15:31] veugene commented on #62
I mentioned in #116 that it would be useful to be able to set the initial epoch in the trainer to allow resuming at some epoch. Would such an option be redundant if engine save/load is introduced? May there be cases where one would want to resume training at some non-zero epoch without loading the full engine state?

Regarding the overall flexibility vs complexity discussion, I would expect a meta

[2018-03-19 15:41] veugene commented on #117
If the state were a member of the engine, then the update function would be the one place where it would not be easy to access unless the function is passed the state as an argument.

Elsewhere, one could do something like the following to pass state to an event handler, if the handler requires a state:

[code]

[2018-03-19 15:50] veugene commented on #118
Yes, one could write a custom wrapper in some cases and custom metrics in other cases; however it would be preferable to have the provided metrics be commonly applicable. Having more than one model output is not a very special case. The metrics code also strongly restricts what can go in the return values of an update function - so let's discuss what should go there.

One of the points I'm trying

[2018-03-19 15:54] vfdev-5 commented on #62
Maybe, `engine.save` could have an option to load only some parts: model weights, start epoch, some history...

[2018-03-19 15:57] alykhantejani commented on #117
If we move state to be on the engine, you wouldn't even need to pass it to the handler as the handler already gets a reference to the engine so can just call `engine.state`.

I believe this would solve point `1` above, but point `2` is still an open issue for you? Do you have a use-case for when you'd want to access the state in the update function?

Additionally (unrelated), but IMO, if saving an

[2018-03-19 15:58] alykhantejani commented on #117
Let's wait for @jasonkriss to weigh in, otherwise would you be able to send a PR?

[2018-03-19 16:21] versatran01 commented on #118
I'm also having issues with this very restricted output.
I usually like to return model outputs in a dict, but that doesn't work with current Metric/Loss implementation.

[2018-03-19 16:36] alykhantejani commented on #118
From this discussion, I think it makes sense to pass `state` into the update functions so users can store (and manage) whatever state they want on that object. This would also remove the need for returning arbitrary things from these functions.

As for a standardized output, I think these would look different for the training update function and the evaluate function (i.e. different for each engin

[2018-03-19 16:38] alykhantejani commented on #114
@veugene's suggestion makes sense. Often in a cluster environment `/tmp` will be on a small mount and not the drive that your process has access to

[2018-03-19 16:39] alykhantejani commented on #114
Fixed in #115

[2018-03-19 16:39] #114 closed

[2018-03-19 16:45] veugene commented on #117
That really has to do with the discussion in #118 which it appears you've seen now.

Yes, it shouldn't take long once I get around to it.

[2018-03-19 16:50] versatran01 commented on #118
Or there could be a user-supplied handler that decodes whatever input to the desired form for Metric to process. It will default to y_pred, y = output.

[2018-03-19 16:56] veugene commented on #118
The pytorch loss functions are written for an input of the form `y, y_pred` but not necessarily `state.output`; that is, it's the job of the meta-framework to flexibly match common patterns (models with one or more outputs) to the framework's functions (pytorch's per-output loss functions).

As long as the user can put what they need in state, that's fine. I would find it conceptually simpler thou

[2018-03-19 17:26] jasonkriss commented on #118
@veugene You bring up some great points. I definitely agree that we can make a few changes here to make things easier for everyone. Couple things...

On your last point... This is a failing on my part for not getting the docs together yet for this. The ignite approach to this is to use an `Evaluator` for both your training data and your validation data. The `Trainer` is for training and the `Evalu

[2018-03-19 17:32] alykhantejani commented on #118
hmm, the problem with running the evaluator over the training set to get metrics is that you have to iterate over your training set again (this can be expensive for large datasets).

[2018-03-19 17:33] jasonkriss commented on #117
@alykhantejani @veugene I'm now quite convinced of attaching state to the engine and passing only the engine to event handlers. The inconvenience this causes for metrics will be obviated if we add `map_fn` (or something like that) as I proposed in #118.

[2018-03-19 17:34] jasonkriss commented on #118
@alykhantejani The way I do this is to take a sample of the training set (that is the same size) as the evaluation set. It's the only way to compare apples to apples. Otherwise your training metrics are computed against a moving target (with changing params) while your evaluation metrics are computed against a static target.

I think the confusion here will be cleared up quite a bit once we have t

[2018-03-19 17:37] jasonkriss commented on #117
Just to summarize, my vote is for the following changes:

1. attach `state` to `engine`
2. pass `engine` as the only argument to all event handlers
3. pass `engine, batch` to update functions

What do you all think?

[2018-03-19 17:38] alykhantejani commented on #118
@veugene can you share an example of the metrics you are calculating when training?

[2018-03-19 17:40] alykhantejani commented on #117
@jasonkriss sounds good to me

[2018-03-19 17:42] jasonkriss commented on #118
@alykhantejani This is actually something that I've wanted to do as well. A (relatively) simple example would be a multi-head classification model. In that case `y` and `y_pred` could be a tuple where the first element is the label for the first classification problem and the second element is the label for the second classification problem.

Another example could be a multi-headed model where you

[2018-03-19 17:46] alykhantejani commented on #118
@jasonkriss - thanks. I think the case for multiple outputs makes a ton of sense, we should  update the metrics to account for this, possibly with an `output_transform` which the `state.transform` is passed to (similar to what was in the old `History` code).

My main concern is metrics on the trainer:
 - what's the use case (as @jasonkriss mentioned, aggregating a metric on a moving model is probl

[2018-03-19 18:05] veugene commented on #118
@alykhantejani I'm computing a Dice loss, evaluated per batch as if each batch is its own volume (this is better than evaluating per element in the batch as the latter has too high a variance). I am also accumulating the counts necessary to compute a dataset-wide Dice score by the end of the epoch. This second measure is like the Metric code that was recently introduced.

@jasonkriss @alykhantejan

[2018-03-19 18:09] veugene commented on #118
@jasonkriss Yes, a mapper function may be a way to go about it. Since with access to engine state, a user could store custom values in the state, would there be cases where it is too restrictive to have a standard pattern defined for the return values of update functions? If so, the mapper function would be the more flexible solution; else, standardizing the return value pattern would appear simpl

[2018-03-19 18:10] veugene commented on #117
That looks like a clean way to do this.

[2018-03-19 18:22] vfdev-5 commented on #117
Could we enclose the purpose of what is `State` and what it is not ? Currently, it is
[code]
and we can pass everything to it, like `dataloader`, `metrics` etc.

[2018-03-19 18:32] veugene commented on #117
@vfdev-5 Do you mean, could we define what is expected in `State`?

Since `State` is always associated with an `Engine` and an `Engine` always has a data loader and an update function, it makes sense to expect that `State` should always have an `output` and a `batch` attribute. It is also intended as an object for passing around arbitrary data, as determined by the user. So allowing it to store an

[2018-03-19 18:36] jasonkriss commented on #118
@veugene I think we want to standardize the return value to `y, y_pred` but at the same time allow flexibility as to what `y` and `y_pred` actually are (scalars, dict, tuple, etc). So for that reason, I think a mapper/transform is the way to go. I opened #121 to address this. We can discuss it more over there if need be.

So I think the only thing left to hammer out on this issue is the `Trainer/E

[2018-03-19 18:42] alykhantejani commented on #118
@veugene thanks for the clarification of your use-case.

We can still keep `Trainer` and `Evaluator` separate if we feel it will give cleaner code (plus flexibility in the future to do trianer/evaluator specific things). But if/when (it seems like we should) add metrics to the Trainer the only difference is that the Evaluator only runs one pass of the dataset and does not emit `EPOCH_STARTED` and

[2018-03-19 18:42] jasonkriss commented on #117
I agree with everything @veugene said. We may need to set some restrictions on what can go in state for the purposes of serialization but let's defer that discussion to #62.

[2018-03-19 18:43] alykhantejani commented on #118
Also, thanks for opening #121 @jasonkriss - let's move discussions related to the metrics API there.

[2018-03-19 18:44] alykhantejani commented on #117
+1 to @veugene's summary

[2018-03-19 18:50] vfdev-5 commented on #117
I have a little impression that `State` is a serializable version of `Engine` :)

[2018-03-19 18:51] veugene commented on #118
Alright -- the flexibility to use dictionaries for labeled outputs is indeed compelling.

Thanks :)

Currently, to make the evaluator go over a subset of the training data, one still needs to set up an appropriate data iterator that presents some random subset. Since Evalutor doesn't handle this itself, while this strategy could be a good one, I think it could be achieved with about the same code

[2018-03-19 18:56] jasonkriss commented on #118
@alykhantejani @veugene Thinking it over a bit more, I think you guys may actually be right. I was thinking it'd be best to keep the separation mainly from the perspective of metrics and the events we attach them to. However, If we were to unify them into a single engine, we could then update [this](https://github.com/pytorch/ignite/blob/master/ignite/metrics/metric.py#L64) to use `EPOCH_STARTED`

[2018-03-19 18:59] veugene commented on #118
@jasonkriss @alykhantejani Yes I like that

[2018-03-19 19:06] vfdev-5 commented on #118
Yes, `Trainer` and `Evaluator` can be more factorized in this way that there is an `Engine` that can run multiple times some processing on the data.
Are we also missing a `Predictor` ?

[2018-03-19 19:12] veugene commented on #118
@vfdev-5 I suppose the main loop of a `Predictor` could be an `Engine` whose "update function" does not compute the loss but simply returns outputs, computed with `no_grad()` in `eval()` mode. What remains is collecting the outputs. Outputs could then be accumulated by a handler from `state` (possibly with an optional function for mapping outputs as in #121).

Then, if there were to be a `Predicto

[2018-03-19 19:14] alykhantejani commented on #118
I agree with the statements above, let's go ahead and merge `Trainer` and `Evaluator` into one and make metrics work for the `Engine` :)

Thanks for starting the fruitful discussions @veugene !

[2018-03-19 19:14] alykhantejani commented on #118
(as there's already a PR open for metrics, I'm going to hijack this issue for unifying Trainer and Evaluator)

[2018-03-19 19:16] alykhantejani opened #122 "Unify Trainer and Evaluator to a single Engine"
Following the discussions in #118

[2018-03-19 19:38] jasonkriss commented on #122
@alykhantejani I'm happy to take a first stab at this if no one has started on it.

[2018-03-19 19:57] veugene commented on #117
OK I'll go ahead and prepare a PR.

[2018-03-19 19:58] alykhantejani commented on #122
Go for it - thanks!

On 19 Mar 2018, 19:38 +0000, Jason Kriss <notifications@github.com>, wrote:

[2018-03-22 10:53] alykhantejani commented on #117
Fixed in #123

[2018-03-22 10:53] #117 closed

[2018-03-23 10:31] alykhantejani commented on #118
Metrics now support multiple outputs with #121 being merged.

[2018-03-23 10:43] #122 closed

[2018-03-23 10:44] alykhantejani commented on #118
closing as Trainer and Evaluator have also been merged in #122

[2018-03-23 10:44] #118 closed

[2018-03-23 14:26] vfdev-5 opened #129 "Add filename_suffix option to ModelCheckpoint"
I would like to add `filename_suffix` option to ModelCheckpoint as discussed in [here](https://github.com/pytorch/ignite/pull/75). The code is [here](https://github.com/vfdev-5/ignite/commit/f374ea83280cbbed5ed752e1e08cf9aa859ef33c).

Idea is to be able to store a score in the filename. For example, if we specify `filename_suffix="_val_loss={score:.4f}"` and `score_function` that returns `-loss`,

[2018-03-23 14:52] elanmart commented on #129
@vfdev-5 I'm sorry for not responding in the PR thread, I was away from the internet for few weeks.

Personally I don't have a strong need for this feature, but I think that storing the priority can be useful.

I'm not sure about the API though. `filename_suffix="_val_loss={score:.4f}"` seems too implicit and I would surely mess that up.

How about providing just the suffix name?

[code]

[2018-03-23 14:52] alykhantejani opened #130 "merge `create_dir` and `exists_ok` kwargs in ModelCheckpoint handler"
It seems redundant to have both

[2018-03-23 14:57] alykhantejani commented on #129
I agree with @elanmart about the `_val_loss={score.4f}` being too complicated. I noticed that the current version will already add the loss / epoch count to the filename (see [here](https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L142)).

Perhaps adding a `count_or_score_prefix` (with hopefully a better name) and [this line](https://github.com/pytorch/ignite/blob/master

[2018-03-23 16:32] vfdev-5 commented on #129
@elanmart 👍 nice with f-string :)

@alykhantejani could you please explain ?

[2018-03-23 16:43] alykhantejani commented on #129
@vfdev Ah sorry I misread a line in the source. What I meant was

The current output filename is `fname = '{}_{}_{}.pth'.format(self._fname_prefix, name, self._iteration)` instead we could swap this to `fname = '{}_{}_{}.pth'.format(self._fname_prefix, name, priority)` as `priority` is set to `self._iteration` if no `self._score_ function` is not defined.

So then if your score/loss is -1.287 the

[2018-03-23 16:51] vfdev-5 commented on #129
@alykhantejani your solution is more simple 👍 , but in terms of `prefix` and `name` can look like a hack:
`prefix="resnet"` and `name="val_loss"` that gives "resnet_val_loss_-1.287.pth". Maybe we need redefine `prefix -> name` and `name - > suffix` ?

[2018-03-23 16:57] elanmart commented on #129
@alykhantejani actually I think it's better to have both `priorty` and `iteration`, than only `priority`. Then the filename tells you
how long you should run your model to get the same weights.

[2018-03-26 20:04] vfdev-5 commented on #129
@alykhantejani yep, will do very very soon

[2018-03-27 13:26] vfdev-5 opened #133 "Add early stopping"
I would like to propose an early stopping handler.
Usage:
[code]
[Code](https://github.com/pytorch/ignite/compare/master...vfdev-5:feature_early_stopping)

What do you guys think about ?

[2018-03-27 16:18] alykhantejani commented on #133
Sounds like a useful feature, please go ahead with a PR!

My only nit would be around the logger, instead we should do something like what is done in the [engine](https://github.com/pytorch/ignite/blob/master/ignite/engines/engine.py#L41) and use python's `logging`, this way users can attach their log handlers to the root `ignite` logger

[2018-03-27 16:23] vfdev-5 commented on #133
@alykhantejani Thanks!  I'll fix the logger and create a PR. Do you mean to add :
[code]
into the class ? So, no need to add the option `verbose`.

[2018-03-27 16:37] alykhantejani commented on #133
yup, exactly :)

[2018-03-29 10:24] alykhantejani commented on #106
Fixed in #134

[2018-03-29 10:24] #106 closed

[2018-03-29 12:52] alykhantejani commented on #133
closed in #136

[2018-03-29 12:52] #133 closed

[2018-03-29 12:52] alykhantejani commented on #129
merged in #132

[2018-03-29 12:52] #129 closed

[2018-03-29 15:26] vfdev-5 commented on #130
@elanmart will you have time to take this one ? Otherwise I can take a look...

[2018-03-29 15:41] vfdev-5 commented on #108
@alykhantejani what do you think to write in these notes? Today we have empty files :
[code]
In pytorch similar notes cover some particular notions or best practices.

[2018-03-29 15:52] alykhantejani commented on #108
I think we need to cover a few things:
1) An overview of the event system
2) Defining your own event handlers
3) An overview of the metrics API

These files were put in as a stub initially, but if you fancy making a start on this feel free to re-arrange/delete as you see fit.

cc @jasonkriss in case he had some thoughts around this

[2018-03-29 16:17] jasonkriss commented on #108
Agreed with @alykhantejani. The way I had envisioned this and stubbed it out is to have a "Concepts" note that has the 3 things @alykhantejani mentioned. And then a "Quickstart" guide that just gives a barebones run through of getting a project up and running. The other .rst files will be filled in with `autodoc` but we certainly may want to add some additional context to each one at the top befor

[2018-03-29 16:24] vfdev-5 commented on #108
I see what you mean @alykhantejani  @jasonkriss, I can start with "Quickstart".
What do we put in `index.rst` or it will be filled with `autodoc` ?

[2018-03-30 16:28] jasonkriss commented on #108
`engines.rst` should still be `engines` because of how we have structured the code. You shouldn't have to put anything in index.rst unless you really want to. You can just add stuff to quickstart.rst. That would be awesome!

[2018-03-30 16:33] vfdev-5 commented on #108
@jasonkriss you can check the first version of quickstart [here](https://github.com/vfdev-5/ignite/blob/issue_108/docs/source/quickstart.rst) ;-)

[2018-03-30 22:07] kirk86 commented on #37
My two cents for whatever might be worth it.

1.) consider using readable and easy to access/remember naming conventions, e.g.
[code]
Doesn't say anything to me.  Furthermore some models based on the way they constructed have the `.features` property while other don't.

[code]
Sometimes we deal with quite complicated models and having the ability to take different outputs from different levels of

[2018-04-03 10:13] alykhantejani commented on #37
@kirk86 was this response meant for another issue/PR? perhaps in torchvision?

[2018-04-03 16:37] jasonkriss commented on #108
@vfdev-5 That looks like a great start!

[2018-04-04 05:31] sjsy commented on #23
@alykhantejani
Hi,
I am newbie in pythorch. Is there a simple example that uses some metrics?
Thanks

[2018-04-04 06:16] vfdev-5 commented on #23
@sjsy, yes, see [here](https://github.com/pytorch/ignite/blob/master/examples/mnist.py#L56), for example.

[2018-04-04 16:25] vfdev-5 opened #139 "[Feature] Add a more comprehensive traceback"
When developing, it would really helpful to have some more info when something goes wrong with a fired handler. For example, see this traceback
[code]
which is related with the fact that a handler signature is different from the assigned by user:
[code]

Maybe, when adding an event handler we could try to execute it and check somehow the signature?

[2018-04-05 10:14] alykhantejani commented on #130
fixed in #141

[2018-04-05 10:14] #130 closed

[2018-04-07 08:26] sjsy commented on #23
@vfdev-5 Thanks a lot!

[2018-04-09 13:46] sjsy commented on #23
@vfdev-5 , in the example you pointed out, the metrics are attached to create_supervised_evaluator. How can I attach some metrics to create_supervised_trainer? So I can investigate training progress by attached metrics as well as the loss.
Thanks.

[2018-04-09 13:51] vfdev-5 commented on #23
@sjsy actually, you can do this like [this](https://github.com/vfdev-5/ignite-examples/blob/master/classification/cifar_10/cifar10_train_playground.py#L132) and [this](https://github.com/vfdev-5/ignite-examples/blob/master/classification/cifar_10/cifar10_train_playground.py#L287). HTH

[2018-04-13 09:37] alykhantejani commented on #108
I think this is done now @vfdev-5 @jasonkriss? Let me know if you think this should still stay open

[2018-04-13 09:56] vfdev-5 commented on #108
@alykhantejani following your [comment](https://github.com/pytorch/ignite/issues/108#issuecomment-377281414) there is missing:
3. An overview of the metrics API
But I do not know where to put it : `concepts.rst` or `metrics.rst` (however `metrics` is at Package Reference)

[2018-04-16 17:06] jasonkriss commented on #108
@vfdev-5 I think `concepts.rst` is a good place for high-level overview of how to to use metrics but i think `metrics.rst` is a good place to explain the `Metric` API and what methods need to be implemented to create your own metrics.

[2018-04-20 02:28] monajalal opened #146 "from ignite.trainer import Trainer ImportError: No module named trainer"
I get this error:

[code]

for the piece of code:
`from ignite.trainer import Trainer`

Issue further explained here:
https://github.com/akurniawan/pytorch-sentiment-analysis/issues/6

[code]

[2018-04-20 04:01] akurniawan opened #147 "Custom handler for input batch"
Is it possible to have new parameter in https://github.com/pytorch/ignite/blob/2304e5eaaf4e0face17ce5256aac7544a26fab27/ignite/engines/__init__.py#L12 that retrieves custom function for handling batch?
So probably the code to be like this
[code]

I have the following use case
[code]
Basically, before I feed the model with x, I need to do some sort of preprocessing upfront by sorting the length of

[2018-04-21 09:48] elanmart commented on #109
@alykhantejani where should conda build scripts live? Perhaps with the rest of `pytorch`, so they're on the same conda channel?

Pytorch scripts seem to be [here](https://github.com/pytorch/builder/tree/master/conda)

[2018-04-21 10:16] elanmart commented on #110
Is anyone working on this one? I could give it a try next week.

[2018-04-21 11:33] alykhantejani commented on #110
@elanmart that'd be great - thanks!

[2018-04-23 16:14] alykhantejani commented on #146
Hi @monajalal,

Sorry about this. As @vfdev-5 mentioned, the API changed a bit since your last pull, we've mostly stabilized this now and will be releasing 0.1 soon.

[2018-04-23 16:14] #146 closed

[2018-04-23 16:15] alykhantejani commented on #147
As @vfdev-5 mentioned, these are just helper functions (to catch the most usual case), but for more complex logic you should follow the pattern outlined in @vfdev-5's post.

Stay tuned for more documentation around this.

[2018-04-23 16:15] #147 closed

[2018-04-24 10:30] alykhantejani commented on #108
ok I think this task is now done. I will open new ones for the `metrics.rst`, `engines.rst` and `handlers.rst` package references.

Once these are done I think we're ready to release 0.1

[2018-04-24 10:30] #108 closed

[2018-04-24 10:36] alykhantejani opened #149 "Complete engines.rst sphinx package reference"

[2018-04-24 10:36] alykhantejani opened #150 "Complete metrics.rst sphinx package reference"

[2018-04-24 10:36] alykhantejani opened #151 "Complete handlers.rst sphinx package reference"

[2018-04-24 10:39] vfdev-5 commented on #108
@alykhantejani  and `exceptions.rst` too or not ?

[2018-04-24 11:27] alykhantejani opened #152 "rename ignite.engines -> ignite.engine"
@jasonkriss @vfdev-5  was there a reason we didn't do this when we merged the engines into one?

[2018-04-24 11:32] vfdev-5 commented on #152
@alykhantejani see [this](https://github.com/pytorch/ignite/issues/108#issuecomment-377291568) and [this](https://github.com/pytorch/ignite/issues/108#issuecomment-377563226):

[2018-04-24 11:47] alykhantejani commented on #152
hmm ok, @jasonkriss can you talk a bit about why `engineS.rst` should remain `engines` and not `engine`?

And do you have any objections for the package `ignite.engines` to be renamed `ignite.engine`?

[2018-04-24 11:50] vfdev-5 commented on #152
no objections

[2018-04-24 15:56] jasonkriss commented on #152
The only real objection I can think of is if we want to guard against breaking backwards compatibility in the event that we introduce other engines in the future. It will also require that current ignite users to update their code (albeit in a very minor way). I'm ok with switching it though and this is the time to do it if so. Whatever you think is best!

[2018-04-24 16:04] alykhantejani commented on #152
Yeah, I think it makes sense to switch now if we are going to. Backwards compatibility can be handled in semi-graceful ways with deprecation warnings later down the line.

Ok I'll try and get to this soon. Trying to close out the small things to ship 0.1 :)

[2018-04-24 17:02] jasonkriss commented on #152
sounds good! Excited to see we're close to a 0.1.0 release!

[2018-04-24 21:01] vfdev-5 opened #154 "[Feature] PyTorch 0.4.0 Migration"
👍 🎉  [PyTorch 0.4.0](https://github.com/pytorch/pytorch/releases/tag/v0.4.0) is arrived ! 🎉 👍
and we will need to clean-up the code according to

**Major Changes and Potentially Breaking Changes:**

- Tensors and Variables have merged
- Some operations now return 0-dimensional (scalar) Tensors
- Deprecation of the volatile flag

Can we do this after the very first release 0.1 ?

[2018-04-25 03:11] walkacross opened #155 "[question] how to address the case where different models in a project output variable number of outputs"
@alykhantejani @jasonkriss @vfdev-5
Hey, thanks for posting this great framework for training pytorch model.

If a project need to train two models but with variable number of outputs (like y_pred, other_output = model(x)), do I have to create two self-defined create_supervised_trainer?  any suggestion for this case?

Have a good day.

[2018-04-25 06:01] vfdev-5 commented on #155
@walkacross actually `create_supervised_trainer` is a helper method to create a trainer, feel free to copy and edit it locally in your application to satisfy your needs.
If your model outputs like this `y_pred, other_output = model(x)` you can have two possibilities:
- use `create_supervised_trainer` and adapt loss function to handle this particular output
- use a custom trainer and filter out the

[2018-04-25 06:04] vfdev-5 commented on #154
And incompatibilities already come to the party :)
[code]
and
[code]
See [here](https://travis-ci.org/pytorch/ignite/jobs/370846036) for example

[2018-04-25 11:43] walkacross commented on #155
@vfdev-5  get it and thanks for your kind reply.

[2018-04-25 11:48] vfdev-5 commented on #155
@walkacross feel free to ask and take a look at not yet released documentation: [concepts](https://github.com/pytorch/ignite/blob/master/docs/source/concepts.rst), [quickstart](https://github.com/pytorch/ignite/blob/master/docs/source/quickstart.rst) and [examples](https://github.com/pytorch/ignite/tree/master/examples).
Here I made some [more examples](https://github.com/vfdev-5/ignite-examples).

[2018-04-25 12:37] alykhantejani commented on #154
hmm - perhaps we should do this before 0.1 especially if it has breaking changes

[2018-04-25 12:40] #149 closed

[2018-04-25 12:55] #155 closed

[2018-04-30 13:26] akurniawan opened #160 "torch.save(obj) instead of torch.save(obj.state_dict())"
Hi guys,

As per my understanding and from [notes](https://github.com/pytorch/pytorch/blob/master/docs/source/notes/serialization.rst) page in PyTorch itself, it is recommended to create a checkpoint based on models state_dict and not saving the entire object as currently written in here
https://github.com/pytorch/ignite/blob/cd30b15db32dfa92c0469893fcf2ce889e9c4389/ignite/handlers/checkpoint.py#L

[2018-04-30 13:40] vfdev-5 commented on #160
@akurniawan I'm not sure if there was a discussion on what to save `model` or `state_dict`. [Here](https://github.com/pytorch/ignite/issues/62#issuecomment-363791423) is the comment of @elanmart who implemented `ModelCheckpoint` where he stores the model. Maybe we would like to have both ways if you want to contribute.
cc @alykhantejani

[2018-04-30 14:01] elanmart commented on #160
Pesonally I always use `torch.save`, for two reasons:
* it is easier to load models -- you just call `th.load(path)`, instead of instantiating an empty model, and then copying the loaded state dict,
* usually I want to save the whole python object anyway, with all the attached information, so I can't use `save_dict`.

But I agree that perhaps having a flag for this would be nice. I'd definatelly v

[2018-05-02 11:18] #154 closed, assigned to nobody

[2018-05-03 08:31] #152 closed

[2018-05-03 08:39] vfdev-5 commented on #139
@alykhantejani I think we can close this one too

[2018-05-03 09:04] #139 closed

[2018-05-03 10:54] alykhantejani opened #166 "Change test/ignite/engineS to test/ignite/engine"

[2018-05-03 11:42] #166 closed

[2018-05-04 03:42] pkdogcom opened #168 "[Feature Request] Adding Average Precision Metric"
Currently the built-in Metrics seem to omit Average Precision, which is widely used in classification/object detection as the standard evaluation metrics. I suggest adding this metric as it is usually a better metric than accuracy, especially when data have imbalance classes.

[2018-05-04 04:15] sean-adler opened #169 "[Feature Request] Parameter scheduling"
Providing an abstraction to adjust optimizer parameters during training seems like it might be useful - techniques like [SGDR](https://arxiv.org/pdf/1608.03983.pdf) seem applicable to many types of models.

The [`torch.optim.lr_scheduler`](https://pytorch.org/docs/master/optim.html#how-to-adjust-learning-rate) module in PyTorch core implements some useful schedulers, but (a) can only adjust the LR

[2018-05-04 06:14] vfdev-5 commented on #168
@pkdogcom could you please provide more details on your feature request and why it is not possible to use built-in [precision metrics](https://github.com/pytorch/ignite/blob/master/ignite/metrics/precision.py).
For the classification task, built-in precision metric can compute precision for each class and the average can be easily computed and reported in a handler, for example like [here](https:/

[2018-05-04 06:29] vfdev-5 commented on #169
@sean-adler there was a discussion in pytorch issues on this and there is [CosineAnnealing](https://pytorch.org/docs/stable/optim.html?highlight=cosineannealinglr#torch.optim.lr_scheduler.CosineAnnealingLR) built-in in pytorch. However, maybe it could make sense to modify LR and momentum...

Speaking about techniques like SGDR, maybe it could be generalized to something like LR scheduler with rest

[2018-05-04 07:25] vfdev-5 commented on #168
@pkdogcom thanks for the explanation!

[2018-05-04 09:40] pkdogcom commented on #168
@vfdev-5 You're very welcome! I think we can use Tensorflow's implementation as a reference, which can be found at [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/evaluation_protocols.md) and [here](https://github.com/tensorflow/models/blob/master/research/object_detection/metrics/coco_evaluation.py)

[2018-05-05 18:57] sean-adler commented on #169
@vfdev-5 Nice! Yeah, that's pretty much exactly what I had in mind, except with batch-level adjustment too.

[2018-05-05 19:18] vfdev-5 commented on #169
@sean-adler could you explain for me please why is it necessary to control at batch-level adjustment ?

[2018-05-05 20:11] sean-adler commented on #169
If I'm understanding the SGDR paper correctly, that's how they implement their LR schedule - the warm restarts occur at after some number of epochs, but the learning rate is updated after every batch.

Here's one section where they mention it in the paper:

<img width="554" alt="screen shot 2018-05-05 at 1 05 01 pm" src="https://user-images.githubusercontent.com/1624971/39667192-394fef4c-5065-11e8

[2018-05-05 20:41] sean-adler commented on #169
I think a schedule like that could be implemented using the same base handler I was testing out, and the SGDR cosine annealing schedule (and other schedules like [CLR](https://arxiv.org/pdf/1506.01186.pdf)) could be implemented using the same thing too. It seems useful to have some base functionality like this, but let me know what you think.

[2018-05-05 21:25] sean-adler commented on #169
@vfdev-5 I opened a work-in-progress PR to try and make what I'm talking about more concrete (in terms of base handlers and other stuff like that). Hopefully it helps the discussion here!

[2018-05-05 21:32] vfdev-5 commented on #169
@sean-adler yes, just saw it. Code looks clean and shows the power of event handlers :) but I think it goes in parallel with torch built-in `_LRScheduler` and I wonder what could we gain more with this proposed approach. Today I use pytorch built-in schedulers and a handler that just call `step()` on them it is OK...
Could you, please, also compare your cosine annealing schedule and pytorch built-

[2018-05-05 21:58] sean-adler commented on #169
True, that definitely works, but it doesn't let you adjust other parameters like momentum. That's pretty easy to do with these handlers though, since you can pass a parameter name e.g. `'momentum'` as an argument.

Sure! The version in that PR implements warm restarts, and the pytorch built-in one does not. Other than that, the schedule is the same.

[2018-05-05 22:06] vfdev-5 commented on #169
Okay, I see, thanks. Just for my curiosity, how it is useful to change `momentum` and other parameters during training ?
What do you call warm restarts ?

[2018-05-05 22:54] sean-adler commented on #169
I've only seen it done [here](https://arxiv.org/pdf/1803.09820.pdf). I have no idea if it will become more popular over time, but the results are interesting 😄

I think that's just how the SGDR authors describe the cyclicality of their LR schedule. In their paper, a "warm restart" is when the LR is reset to its initial value after decreasing for some number of epochs.

[2018-05-05 23:01] vfdev-5 commented on #169
Just found this [article](https://arxiv.org/abs/1803.09820) and wanted to read it :)

Before asking you I tried to use ctrl+f in the article on the word "warm" in the article and it gave 0 occurences :)

[2018-05-06 13:16] vfdev-5 commented on #62
@alykhantejani @jasonkriss @pkdogcom guys, could we make some precisions on the type of `data` acceptable in `Engine.run(data)`? I mean that, actually, the [documentation](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L188) says `data` is an iterable. In the most of examples, I think, we just use pytorch DataLoader which is an iterable with `__len__`.
My problem is that to

[2018-05-06 21:05] sean-adler commented on #169
Oh, sorry for the miscommunication, I meant that warm restarts come up in the [SGDR](https://arxiv.org/pdf/1608.03983.pdf) paper.

[2018-05-07 16:13] jasonkriss commented on #62
Enforcing that `data` has a `__len__` method seems preferable to me. Are there any common situations where this won't be possible though? Personally, in my projects, this would never be a problem.

[2018-05-07 17:48] alykhantejani commented on #62
Hi - sorry haven't been able to get to this yet (am away on vacation until tomorrow). I'll take a look first thing tomorrow, but on first glance I think we should enforce `__len__` as this would conform with the pytorch dataset interface

[2018-05-08 11:35] alykhantejani commented on #169
So as the majority of this functionality can be handled by the pytorch lr_scheduler, I don't think there's a need for a specific handler in ignite. Unless I'm missing something?

In general, we want to keep the universal handlers in ignite and make anything niche easy to implement for the user

[2018-05-08 11:36] alykhantejani commented on #168
sounds like a great idea. @pkdogcom can you send a PR?

[2018-05-08 11:57] alykhantejani commented on #9
@vfdev-5 @jasonkriss I think I know which pytorch repo to make this change in and will try to do it this week. Once this is done I will build conda tars + wheels, unless you guys think there's anything left that needs to get in before 0.1?

[2018-05-08 12:39] alykhantejani commented on #9
submitted PR to pytorch/builder here: https://github.com/pytorch/builder/pull/48

[2018-05-08 13:13] vfdev-5 commented on #9
@alykhantejani sounds good! Today we have just GAN example with label 0.1.0 and under WIP.

[2018-05-08 15:14] vfdev-5 opened #173 "[Bug] Bug when add an exception handler"
As discussed [here](https://github.com/pytorch/ignite/pull/162#issuecomment-387418936),
signature checking fails when adding an exception handler, especially, exception `e` argument is not taken into account.

For example, the following code fails:
[code]
with
[code]
Test with `Mock` does not revealed the bug.

[2018-05-08 15:57] elanmart opened #175 "[bug] Adding exception handler results in errors"
This code [here](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L178-L180) means, that if user chooses to ignore the exception, `_run_once_on_dataset` will return `None`. This will result in an error [here](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L207)

[2018-05-08 18:32] jasonkriss commented on #9
@alykhantejani I think we're ready! Sounds great.

[2018-05-08 20:46] vfdev-5 commented on #168
We can inspire from [tnt/meters](https://github.com/pytorch/tnt/tree/master/torchnet/meter)

[2018-05-09 06:05] sean-adler commented on #169
My understanding is that the `lr_scheduler` module doesn't handle cycles or momentum. Anyone can implement cycles by subclassing `_LRScheduler`, but it'd require a fair amount of what's in #171 or something like it. And to my knowledge, scheduling momentum is not possible with `_LRScheduler`.

If this stuff isn't a common enough need, happy to close this out!

[2018-05-09 06:49] vfdev-5 commented on #169
It was evoked [here](https://github.com/pytorch/ignite/issues/62#issuecomment-364078176) to introduce `ignite.contrib` module, so maybe we could put this code in `ignite.contrib.handlers`.

@sean-adler is it difficult to add a supplementary option to existing classes to achieve "warm-up" effect (for several first epochs optimize only some top-layers and then finetune all the others) like this:
[co

[2018-05-09 10:09] alykhantejani commented on #175
hmm, what would be the preferred result here `None, None, None`?

[2018-05-09 10:13] elanmart commented on #175
Oh, I forgot to tag this issue in the PR (https://github.com/pytorch/ignite/pull/176) I decided to return the time, even if exception occurred.

[2018-05-09 10:29] alykhantejani commented on #175
Nice - fixed in #176

[2018-05-09 10:29] #175 closed

[2018-05-09 11:11] alykhantejani commented on #173
fixed in #174

[2018-05-09 11:11] #173 closed

[2018-05-10 06:06] sean-adler commented on #169
@vfdev-5 specifying phases like that is a good idea, I'll try adding it!

[2018-05-10 09:59] vfdev-5 commented on #169
@sean-adler [this](https://github.com/pytorch/pytorch/pull/2544) can be also interesting idea too

[2018-05-11 10:53] alykhantejani opened #179 "Should we have import of Engine in ignite/__init__.py?"
@elanmart thanks for the DCGAN PR -  looks great!

Just noticed in the PR that
[code]
was added to `ignite/__init__.py`?

I understand that it does add some convenience so users can just use the Engine, but this also creates inconsistent usage patterns i.e.

[code]
and
[code]

perhaps we could just add
[code]
etc. in the `__init__.py` file in `ignite/`, similar to what's done in pytorch (i.e. [her

[2018-05-11 16:03] vfdev-5 commented on #110
Fixed in #162

[2018-05-11 16:03] #110 closed

[2018-05-11 16:16] alykhantejani commented on #179
Copying some bits over from the slack discussion:

PEP8 says:
[code]
So going by this we probably shouldn’t allow users to rely on the indirect import from __init__

It’s not a huge deal to keep it in, but I think we should only keep it in if it adds some benefit, otherwise the inconsistent patterns are not great stylistically

cc @jasonkriss in case you have an opinion on this

[2018-05-11 16:37] jasonkriss commented on #179
@alykhantejani completely agreed.

[2018-05-11 16:41] vfdev-5 commented on #179
Right, so we can change the imports of `ignite/__init__.py` to
[code]

[2018-05-12 14:03] walkacross opened #181 "[Feature Request] Hyper-parameter optimization in ignite"
Hey guys, do you think it's a good idea that ignite supports hyper-parameter optimization/ finetune?
I am wondering what's the best practice for finetune in ignite?

1 Do hyper-paramter grid search in run function(like in mnist.py example)?
this is simple and straight by creating different trainers with for-loop, but may be lack of efficiency.

[2018-05-12 14:45] vfdev-5 commented on #181
Hi @walkacross I think your approach is correct, ignite's Engine is not aware of what model with what kind of parameters it runs.

Today, there is no roadmap on this. Maybe after the first release we could think about this direction in a contrib module. Anyway, I think it could be not difficult to mix ignite with libs like `hyperopt` for random search.

[2018-05-12 16:58] vfdev-5 commented on #181
@walkacross I close the issue as it seems that I answered your question. But feel free to reopen it or just ask here if you have more questions concerning this issue.

[2018-05-13 01:05] sean-adler commented on #169
I hadn't seen it! Very cool, thanks for posting it.

[2018-05-13 09:44] karandwivedi42 commented on #181
Mostly EarlyStopping + A way to define hyperparameter space + **A way to resume the meta-experiment** + Good logging should do the trick.

[2018-05-13 09:54] vfdev-5 commented on #181
@karandwivedi42 are you talking about something like #62 ?

Concerning other points, please create more detailed issues and as usual PR are welcome :)

[2018-05-14 08:57] vfdev-5 opened #183 "[CI] Problem with visdom server launch in travis"
This issue is to anticipate future failed CI problem for future PRs.

It seems that something wrong again with `.travis.yml`, see the [log](https://travis-ci.org/pytorch/ignite/jobs/377676063)
[code]

Maybe it can be easily solved with `sleep 20`, however it would be better to find another solution

**EDIT**: Problem is related to the new version of visdom 0.1.8.1 , [issue on visdom](https://githu

[2018-05-14 14:12] vfdev-5 commented on #183
A workaround can be to add `time.sleep(2)` in `mnist_with_visdom.py` between :
[code]
to take a bit of time to initialize the connection with the server.

[2018-05-14 20:06] vfdev-5 commented on #183
Closed as [visdom issue](https://github.com/facebookresearch/visdom/issues/350) is fixed

[2018-05-14 20:06] #183 closed

[2018-05-16 16:46] alykhantejani commented on #179
Merged in #180

[2018-05-16 16:46] #179 closed

[2018-05-16 16:52] alykhantejani commented on #181
I agree with @jasonkriss on this. I think we can provide handlers that might help bridge this gap (checkpointing, early stopping etc.) as well as examples where ignite is used with other libs like `hyperopt`

[2018-05-16 16:54] alykhantejani commented on #169
@sean-adler  sorry for the delay on this. Do we think this might be a better change for the LRScheduler in Pytorch itself?

[2018-05-16 17:14] karandwivedi42 commented on #181
@alykhantejani @jasonkriss From my experience (at labs and startups with limited GPUs), currently there's no workflow around hyperparameter optimization. Usually, hyperparameter optimization is done by running processes in parallel or one after another with different command line args, along with resuming crashed processes and manually killing processes that aren't doing so good. The results are c

[2018-05-16 21:52] vfdev-5 commented on #181
@karandwivedi42 if this can help, take a look on [`skorch`](https://github.com/dnouri/skorch) they have an interface with a grid search for hyperparameter optimization.

It would be great if you could analyze what is missing today and propose some concrete features. Concerning the examples, maybe once the first release is done we can work more on various types of tasks/use-cases to cover by ignite

[2018-05-16 21:59] karandwivedi42 commented on #181
Sure. I will raise a new issue after first release.

From my side, this issue can be closed :)

[2018-05-17 14:53] #181 closed

[2018-05-21 23:48] karandwivedi42 opened #185 "Is there an alternative to running evaluator on train_loader?"
[In this line](https://github.com/pytorch/ignite/blob/master/examples/mnist_with_tensorboardx.py#L104), is there any other way to do get average train loss than to run evaluator on train_loader again.

1. The random transforms will be different on each run so this won't give the correct exact loss.

2. It doesn't scale to something like imagenet..

Am I missing something?

[2018-05-22 06:56] vfdev-5 commented on #185
@karandwivedi42 take a look at the footnote [here](https://github.com/pytorch/ignite/blob/master/docs/source/quickstart.rst#id21) and the discussion [here](https://github.com/pytorch/ignite/pull/165):

- online train metric computation, but model is not fixed
or
- offline train metric computation on a subset of the training dataset

[2018-05-22 07:07] karandwivedi42 commented on #185
Thanks!

[2018-05-22 07:07] #185 closed

[2018-05-22 20:05] sean-adler commented on #169
No problem! I've been super busy as well for the past couple of weeks. I'm not opposed to opening a PR there, it's up to you whether it would be a better match in that repo or in `ignite`. My perspective is that it's a lot easier to set up these schedules using the event/callback API in `ignite`, but maybe there is value in moving it to core.

[2018-05-22 20:33] vfdev-5 commented on #169
@sean-adler I would interested as well by implementation of this schedulers : [HillLearningRate](https://github.com/pytorch/pytorch/blob/master/caffe2/sgd/learning_rate_functors.h#L148) and [CompositeLearningRate](https://github.com/pytorch/pytorch/blob/master/caffe2/sgd/learning_rate_functors.h#L182)

@alykhantejani what do you think about to introduce a `contrib` or `extensions` module with stuf

[2018-05-25 13:44] alykhantejani commented on #169
I think `contrib` makes sense, would be nice to have community addition (maintained by the community). But I think we should strive to keep the core ignite lib lean

[2018-06-01 00:06] vfdev-5 opened #186 "ModelCheckpoint as training checkpointing"
I would like to use `ModelCheckpoint` to store model, optimizer, lr_scheduler like this:
[code]
before engine checkpointing issue is resolved.

However, if I use `save_as_state_dict=True` the [following check](https://github.com/pytorch/ignite/blob/0747d4817ebbd78302c12c3ebe814ce7b34572c3/ignite/handlers/checkpoint.py#L142) won't allow to save `optimizer` and `lr_scheduler`.
Maybe we can replace i

[2018-06-01 11:05] alykhantejani commented on #186
Yeah, that makes sense - especially as the arg only mentions state_dicts.

I'm in favor of this change

[2018-06-02 17:08] vfdev-5 commented on #109
So, I started working on this issue and I have some points to discuss. As @elanmart pointed out pytorch and torchvision conda stuff is built in [pytorch/builder](https://github.com/pytorch/builder/tree/master/conda).  So if we aim to integrate ignite in the pytorch/builder: add build_ignite.sh script and meta.yaml to the repository, I have an impression that we may be limited by pytorch releases a

[2018-06-03 10:21] vfdev-5 commented on #186
Fix by #187

[2018-06-03 10:21] #186 closed

[2018-06-04 15:10] alykhantejani commented on #109
I think we should have an independent release cycle and process. We can update the wheels on pypi and the tar on conda ourselves.

As for the conda error, I'm not quite sure what could cause this. I can try and reproduce on my side

[2018-06-06 11:37] alykhantejani commented on #109
@vfdev-5 Trying to find out what the problem is with the conda build. From the [conda docs](https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html#build-section) it seems like the build command should also contain `https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html#build-section`

As for your `Empty version string` error, not 100% sure but this may be re

[2018-06-11 08:00] vfdev-5 commented on #169
Interesting link on how fast.ai schedules LR and optimizers and its params : https://github.com/fastai/fastai/blob/master/courses/dl2/training_phase.ipynb

[2018-06-15 15:01] sampathweb commented on #169
Parameter Scheduling and providing a List of Training Phases the way Fast.AI does would go a long way in making the trainer generally applicable to most problems.  Would be great to have it in the core.  But `contrib` would also work.

[2018-06-15 17:54] vfdev-5 commented on #9
Docs are hosted [here](https://pytorch.org/ignite/)

[2018-06-15 17:54] #9 closed

[2018-06-15 18:21] vfdev-5 opened #189 "Update docs"
Current documention update is needed:
- version : 0.1.0a1 -> 0.1.0
- update [index.rst](https://github.com/pytorch/ignite/blob/master/docs/source/index.rst) in respect to [README.rst](https://github.com/pytorch/ignite/blob/master/README.rst):
    - Add the same description and side-by-side image
- update pytorch logo :)

Info on documentation regeneration can be found [here](https://github.com/pyt

[2018-06-17 16:02] vfdev-5 commented on #168
@jasonkriss @alykhantejani I was thinking about to add AUC/ROC and mAP metrics to ignite, so I tried firstly to adapt the code from [tnt/aucmeter](https://github.com/pytorch/tnt/blob/master/torchnet/meter/aucmeter.py#L7). Implementation can be easily adapted, but there are some problems with it:
- [this part](https://github.com/pytorch/tnt/blob/master/torchnet/meter/aucmeter.py#L65-L71) computatio

[2018-06-18 09:51] vfdev-5 opened #192 "create_supervised_trainer fails if model device is diff from arg device"
Feature or bug to discuss. If I modify `mnist.py` example:
[code]
The operation `model(x)` will fail as `x` and `model` are on different devices. Maybe we need to :
-  check this and assert or
-  remove `device` from argument and setup it internally according to the model or
- set model on the provided `device`

@alykhantejani @elanmart @jasonkriss  What do you guys think about ?

[2018-06-18 10:28] elanmart commented on #192
I don't think this is a huge issue, and I don't think we should take care of setting the correct device for the user.

One thing we could perhaps do, is adding `device='auto'`, which will set `device` to the `device` of the model parameters, if all parameters live on the same device.

[2018-06-18 10:43] vfdev-5 commented on #192
I agree that this is not a big deal. Just if someone applies the document as it is written:

he/she would wonder why it is applied on batches only...

[2018-06-18 10:47] elanmart commented on #192
Oh, yeah, on a second thought we could actually go with

or rename the arg / clarify the docs.

[2018-06-18 13:17] system123 opened #193 "[Feature Request] Custom user variables in engine.state"
I have come across a situation where I need to set variables in the on_iteration_complete callback and access them in the on_epoch_complete callback. Currently, I have done this by creating a metric but the variables are not actually metrics, so I feel it would be better to have a separate API for users to specify custom states which they can modify in the callback.

I was thinking about something

[2018-06-18 13:29] vfdev-5 commented on #193
@system123 idea is to use `state` as a holder:
[code]

See [here](https://pytorch.org/ignite/concepts.html#state) and [here](https://github.com/pytorch/ignite/pull/142#issuecomment-380171722) for more info.

HTH

[2018-06-18 15:25] alykhantejani commented on #189
ifxed in #190

[2018-06-18 15:25] #189 closed

[2018-06-18 15:31] alykhantejani commented on #192
Yeah I think we should set the model on the provided device, this would fix the bug and make sense as we should make it as easy as possible with these factory functions

[2018-06-18 15:34] #193 closed

[2018-06-18 15:36] alykhantejani commented on #168
I'm not too familiar with Skorch, how would this look in ignite (i.e. what would the user code that uses this metric look like)?

Either way, I think these are useful metrics to have :)

[2018-06-18 16:48] jasonkriss commented on #168
Personally, I would like to have these functions as built-ins (at least AUC/ROC) without having to bring in sklearn. That being said, some sort of `EpochMetric` sounds like it could be a good idea. Could probably refactor some of the current metrics to utilize that and it would also allow us to piggyback on sklearn where there are gaps in our metrics. At least until we add them directly to ignite.

[2018-06-18 21:35] vfdev-5 opened #195 "Automatic documentation regeneration"
As discussed in the slack it would be nice to have automatic documentation regeneration and push to `gh-pages` once a PR is accepted. Thus we can avoid additional PR to `gh-pages` with rebuilded docs.

[2018-06-18 22:02] #192 closed

[2018-06-18 22:12] vfdev-5 commented on #168
`EpochMetric` implementation to collect prediction is not that complicated and for AUC it could look like this:

<details>
  <summary>Click to expand</summary>

[code]
</details>

So the idea was to ask user to code its `compute` function.
But I agree that built-in function can be better than sklearn dependency...

[2018-06-18 22:56] vfdev-5 commented on #195
Maybe [this](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd) can help

[2018-06-18 23:20] sean-adler commented on #169
@vfdev-5 @sampathweb for sure, fastai's training phase API is a lot more flexible than both PyTorch core's LR scheduling and this PR's approach.

One (maybe subtle) difference it has compared to the current engine API in `ignite` is that you end up specifying the number of epochs in the schedule itself, instead of passing that value to `Engine.run()`. Probably not super significant, but it's an in

[2018-06-20 14:57] vfdev-5 opened #201 "[Feature] Terminate on NaN handler"
What do you think about to add a handler that stops the training when Nan is encountered in the loss output? It is not that complicated to check with a custom handler but as such handlers can be found in other popular frameworks, maybe it worse to add something similar in `ignite` ?

[2018-06-20 15:13] alykhantejani commented on #201
Wouldn't this be the same as just doing:

[code]

[2018-06-20 15:17] vfdev-5 commented on #201
Actually, if loss is nan I'm not sure that the training fails with an exception. For example, mnist.py with huge `lr`
[code]

[2018-06-20 15:49] alykhantejani commented on #201
ah ok, I see what you mean now.

This could probably be integrated into the `EarlyStoppingHandler` I would imagine

[2018-06-20 16:59] jasonkriss commented on #168
Sorry, I don't think I communicated that very clearly. I was agreeing with you for the most part. I was saying an EpochMetric where users can provide their own compute functions sounds like a good idea.

Eventually we can add the built-in metrics but in the meantime, the EpochMetric can make things easier than it is today.

[2018-06-20 17:50] vfdev-5 commented on #168
@jasonkriss thanks for more the explanation. So, I can go on with a code similar to the one I proposed above and we'll see...

[2018-06-22 15:41] #109 closed

[2018-06-22 16:37] karandwivedi42 opened #202 "[Feature Request] More examples"
It would be good to have more examples from the official [examples repo](https://github.com/pytorch/examples) reproduced in ignite.

Specifically, I would like to see if ignite can lead to compact but full-featured code in:

1. Imagenet
2. Reinforcement Learning
3. Neural Style

before I feel confident enough to use it.

[2018-06-22 17:39] alykhantejani commented on #202
Thanks for the suggestion. I think more examples would be great and something we'd like to get to. Of course  PR's are welcome!

[2018-06-22 18:10] vfdev-5 commented on #202
@karandwivedi42 good proposition!

Personnally, I started some more examples [here](https://github.com/vfdev-5/ignite-examples) and find out that classification tasks can be easily implemented, so ImageNet example won't be very different from MNIST.
Concerning detection or segmentation examples, we will need to rewrite all the stuff: data augmentation, data transformations (bounding box encoding/d

[2018-06-22 18:28] alykhantejani commented on #202
with regards to detection, I think the transforms etc. should live in `torchvision` or a detection specific package. Beyond that it's just a supervised training task I believe so don't see any difficulty of using ignite for this.

Although, I still think examples of how to use ignite for these would be cool

[2018-06-22 18:42] vfdev-5 commented on #202
@alykhantejani  I agree. We can create github project on this issue.

And maybe can port to ignite more examples from [pytorch/examples](https://github.com/pytorch/examples), where there are imagenet, RL...

[2018-06-22 18:43] elanmart commented on #202
Language modelling example from `pytorch/examples` could use a refactor...

[2018-06-22 20:59] jasonkriss commented on #202
Agreed that this sounds like a good idea. Neural Style, detection, Imagenet etc should work no problem. The only thing we may want is some more task-specific metrics. RL will probably not work super well, though it will depend on the algorithm used.

[2018-07-01 08:14] vfdev-5 commented on #168
@alykhantejani I'm planning at first to provide something like `EpochMetric` as described [here](https://github.com/pytorch/ignite/issues/168#issuecomment-398212059) and maybe latter go on with built-in AUC/mAP metrics.
Agree with you on new issues, we can go ahead with this too.
I can create firstly an issue on `EpochMetric` if we are ok with this approach..

[2018-07-02 15:32] vfdev-5 commented on #195
Automatic docs generatation can be done with `travis-sphinx` package and travis.yaml can be refactored like [here](https://travis-ci.org/vfdev-5/ignite/builds/399179235)
Real tests are commented to test fast and here is configuration to [build docs](https://travis-ci.org/vfdev-5/ignite/jobs/399179239/config)

[2018-07-03 22:40] vfdev-5 opened #207 "[Feature Request] Epoch-wise metric computation structure"
Following the discussion in #168, here idea is to provide a base structure to compute a metric cumulating model's output during whole epoch.

However, model's output and targets are restricted :
-  to be of shape `(batch_size, n_classes)` or `(batch_size, )` <=> avoid to store a lot of data
-  if target shape is `(batch_size, n_classes)` and `n_classes > 1` than it should be binary: e.g. `[[0, 1,

[2018-07-04 10:41] vfdev-5 commented on #202
In a previous issue users asked about hyperparameter tuning, maybe we could also provide an example using [ray library](http://ray.readthedocs.io/en/latest/tune.html).
Upvote if you think this can be interesting.

[2018-07-04 13:58] vfdev-5 commented on #195
Done with #206

[2018-07-04 13:58] #195 closed

[2018-07-04 22:31] vfdev-5 opened #208 "[Examples] RL example implementation"
I'm trying to port [actor-critic example](https://github.com/pytorch/examples/blob/master/reinforcement_learning/actor_critic.py) to ignite. Here is ported [code](https://github.com/vfdev-5/ignite/blob/rl_example/examples/actor_critic.py). The logic is not that straight forward but if user understands how `ignite.engine` works it can be implemented without problems.

Some term correspondences:
[co

[2018-07-06 09:37] alykhantejani commented on #208
I'm not quite clear about what you mean by "stop our batch iterations", does that mean just kill a batch mid processing?

I'm not familiar with RL at all so this is new to me, but can it be handled by adding a new event to engine?

[2018-07-06 09:48] vfdev-5 commented on #208
Yes, just stop a batch iterations in a middle. Take a look [here](https://github.com/pytorch/examples/blob/master/reinforcement_learning/actor_critic.py#L98):
[code]

An episode is started and there is an iteration over timesteps (batches in our terminology). Given a state an action is proposed `action = select_action(state)` and then environment reaction on the action `state, reward, done, _ = en

[2018-07-06 09:53] alykhantejani commented on #208
We should be able to do this with a normal handler attached to the `ITERATION_COMPLETE` event. we just need another `terminate` flag that terminates the epoch but not the whole trainer.

Now I understand your original message :)

[2018-07-06 09:53] alykhantejani commented on #208
If this is basically all that is blocking RL applications, that's great news as its easy to fix without breaking any API 🎉

[2018-07-06 09:58] vfdev-5 commented on #208
Yes, I agree this can a solution for that :)

[2018-07-06 10:28] vfdev-5 opened #209 "[Feature Request] Add option to stop batch iteration without stopping the training"
As discussed in #208 we need to provide an option to be able to stop batch iteration without stopping the training.

[2018-07-09 18:01] jasonkriss commented on #207
I wonder if it might even be worth have `EpochMetric` take a `compute_fn` at init time. That way, users wouldn't have to subclass it every time. For example, AUC would just become `EpochMetric(compute_fn= roc_auc_score)`. What do you think?

[2018-07-09 22:07] vfdev-5 commented on #207
@jasonkriss great idea! Sure that this could avoid user to create custom classes.

[2018-07-09 22:43] vfdev-5 commented on #201
@alykhantejani I would say that they have little bit different behaviours. Probably, one can get this with `EarlyStoppingHandler` in a hacky manner, but I think it is more simple to provide built-in handler like
[code]
with
[code]

[2018-07-11 10:24] alykhantejani commented on #209
Implemented in #210

[2018-07-11 10:24] #209 closed

[2018-07-11 10:24] alykhantejani commented on #208
@vfdev-5 is this now unblocked since #210 was merged?

[2018-07-16 10:33] #208 closed

[2018-07-16 10:51] vfdev-5 opened #212 "[Feature Request] Neural Style example"
Following #202 idea is to port fast neural style example from official [pytorch examples](https://github.com/pytorch/examples/tree/master/fast_neural_style).

[2018-07-16 14:12] vfdev-5 opened #213 "[Docs] Improve output_transform description"
I think current [description of `output_transform`](https://github.com/pytorch/ignite/blob/master/ignite/metrics/metric.py#L16) is not very clear:
[code]
Probably, we need to a small example to show that `output_transform` is applied on `engine.state.output` that is eventually is the output of update function and not model's output as it could be understood from the doc string.

Any thoughts?

[2018-07-16 17:01] jasonkriss commented on #213
I agree that this is not very clear. I think a small tweak in the wording along with a minimal example would be great. Perhaps just have an update function that returns a dict and then have the output_transform access a member of the dict. I think that'd be enough to illustrate what this can be used for.

[2018-07-23 15:37] #213 closed

[2018-07-23 18:24] AntoinePrv opened #215 "[Feature Request] More engine ?"
Hello,

Thank you for this library, I like the idea of handles. It makes the code more modular, separate the concepts and limit the size of these training loops functions!

I used ignite for the first time on custom data and loss and found the default [supervised trainers](https://github.com/pytorch/ignite/blob/c4563ddc67bee03fc616e87b84abd9b5e17e21cc/ignite/engine/__init__.py) to be very limited.

[2018-07-23 18:33] AntoinePrv opened #216 "[Feature Request] Class handles"
I came across some cases (for Visdom callbacks but this is not limited to this) where I found it useful to add a whole object as a handle.

There are examples such as the [early stopping](https://github.com/pytorch/ignite/blob/0cd7c9b57174947b6a1428b7897f641522145e44/ignite/handlers/early_stopping.py) implementing the `__call__` function but this is **not** what I mean.

One could write a class wi

[2018-07-23 18:47] AntoinePrv opened #217 "[Feature Request] Loops and user-defined events"
This one is more of a long shot. Today ignite provides two nested loops (epochs and batchs) with a custom callback callback function.

In some case however it requires more than two loops. For instance, in truncated backpropagation through time, one iterates over, epochs, then batches, then over time.

Another example I'm thinking about (without adding loops) is for someone working on optimization

[2018-07-23 18:52] AntoinePrv opened #218 "[Feature Request] More general metrics"
I find the metrics to be a bit limited as one might want to pass additional options (even tensors) to the loss.
For instance in recurrent models with different sequence lengths, one would use a mask to avoid counting errors on padded time steps.
The mask is necessary in the loss to know which outputs to use in the final averaging/ loss.

[2018-07-23 22:45] vfdev-5 commented on #207
If we provide `compute_fn`, what would be a signature of the function ?
As example of `compute_fn` can accept `torch.tensor` that are cumulated during the epoch:
[code]

Also, we probably need to check the signature before starting accumulation, otherwise if user is somehow provided something bad he/she will understand this only at the end of the epoch...

[2018-07-23 23:06] vfdev-5 commented on #216
@AntoinePrv correct me if I misunderstood your proposition, but you would like to introduce a sort of callback class being interpretable by event handling system ? [Here](https://github.com/pytorch/ignite/issues/37) is a discussion on pros/cons of callbacks and why we adopted event handlers.

Could you please I concrete example of such class with multiple event handlers implemented ?

[2018-07-23 23:16] vfdev-5 commented on #217
@AntoinePrv thanks for the feature request ! Even if you are talking about some specific situations that can be implemented by a custom engine's `process_function`, maybe this can be implemented in common way with what you proposed in #215 - more engines.

In a `contrib` we could eventually provide some customized `process_function`s :
- `process_function_time_iteration` that could have an interna

[2018-07-24 00:29] AntoinePrv commented on #215
The problem is related to #218, I worked on a problem where I wanted to give a mask (and another tensor) to the loss, on top of the usual `y`, `y_pred`.

So the `x, y = batch` from [_prepare_batch](https://github.com/pytorch/ignite/blob/c4563ddc67bee03fc616e87b84abd9b5e17e21cc/ignite/engine/__init__.py#L8) were a bit restrictive.

If I want to change just that function, I need to do something like

[2018-07-24 01:42] AntoinePrv commented on #216
Yes, sorry, I'll leave my comment there for the record #37

[2018-07-24 01:42] #216 closed

[2018-07-24 02:16] AntoinePrv commented on #37
Hello,

First of all thank you for the good work done on ignite. I enjoy very much using it.

I opened #216 to submit the same idea as the `Callback` class without reading this thread.
Reading this I must agree that although the idea comes naturally, they are not as necessary as they seems (as @jasonkriss said)

My strongest case for them was a Visdom class I had where I would accumulate in a list

[2018-07-24 11:37] vfdev-5 commented on #215
@AntoinePrv could you detail please how did you used `supervised_trainer` with your `my_new_function`. I do not understand how the functions `get_input(batch)`, `get_target(batch)` and `get_loss_kwargs(batch)` can be helpful with a basic [`_update` function](https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L29). I mean if batch is composed of `input`, `target` and `additiona

[2018-07-24 20:39] vfdev-5 commented on #201
As discussed in slack, probably a correct behaviour in a situation with NaN/Inf loss is too stop the training:

[2018-07-24 21:41] anmolsjoshi commented on #212
@vfdev-5 , I'm interested in helping out with this issue.

I've been wanting to contribute to open source for a while, and this would be a good start.

[2018-07-24 21:55] vfdev-5 commented on #212
@anmolsjoshi sounds good! Feel free to post any questions here, e.g if you have problems with implementation or encounter some limits of the API.
You can inspire from other examples on how to port examples from official pytorch examples to ignite.
We have smoke tests for the examples, so once your code is locally running and gives similar results as the original official one, then you will need to

[2018-07-25 14:04] AntoinePrv commented on #215
To make it simple, let's assume in my batch I have:
  - inputs sequences
 - a custom first hidden vector
 - target sequences
 - target mask
Represented as 4-tuple.

What I did was:
[code]
And adapted my model and loss to deal with such input.

My idea was to do:
[code]
As the base trainer, that way if have extra args in my batch, I can just override ` get_loss_args` (same for inputs and targets).

[2018-07-25 14:10] AntoinePrv commented on #215
**Nonetheless**, I just found out that Pytorch dataloaders support tuple of tuple of tensors, so I can just pack my inputs together and my options with my targets like:
[code]
Without having to modify `ignite.engine._prepare_batch`.
I can close the issue on that point if you don't want to add the extra complexity of this `SupervidedTrainer` class.

[2018-07-25 14:45] anmolsjoshi commented on #212
@vfdev-5 Thanks for the input! I've already gotten started on this project.

[2018-07-25 14:53] vfdev-5 commented on #215
@AntoinePrv thanks for the feedback! Glad that you could find the solution without too much modification :)

Yes, looking at your example I think it brings more complexity than flexibility...

However, I was wondering whether it could be useful to add an argument to override `_prepare_batch` to the default `supervised_trainer`...

Yes, you can close the issue if you think that we are done with it

[2018-07-26 20:05] AntoinePrv commented on #217
Yes, a `contrib` could be a nice solution to these two examples (and more to come hopefully!).
For the TBTT case, we can build the inner loop inside the `process_function` passed to the `Engine` and even fire custom events dedicated to this iteration.

I wonder how to fire custom events within the given framework.
More precisely:
  - [Events](https://github.com/pytorch/ignite/blob/c4563ddc67bee03f

[2018-07-26 20:19] vfdev-5 commented on #217
@AntoinePrv thinking about custom events, actually I do not see why we need to pass by event handling, we can call directly the handler in the processing function. For example,
[code]
What do you think ?

[2018-07-26 21:38] AntoinePrv commented on #217
Well, why do we need events in the first place? They allow for modular and reusable code. Custom events would let contrib code present the same type of API as core ignite.

Ideally I was imagining a user interface like this:
[code]

[2018-07-26 23:15] vfdev-5 commented on #201
A solution can be proposed using [anomaly detection](https://pytorch.org/docs/stable/autograd.html#anomaly-detection) introduced in pytorch 0.4.1

[2018-07-27 11:17] alykhantejani commented on #217
@AntoinePrv thanks for the feature request. I think you're correct - if we have a contrib, which will have more pre-canned engines, we should allow for these contrib engines to add to custom engines.

This should be relatively simple to do :). I can try to PR this over the weekend, unless you fancy sending a PR?

[2018-07-27 11:17] alykhantejani commented on #212
@anmolsjoshi thanks for taking this up, and welcome to open source!

[2018-07-27 20:15] colllin commented on #218
Could you maybe give an example using code or pseudo-code?

[2018-07-31 02:53] anmolsjoshi commented on #212
@alykhantejani thanks!

@vfdev-5 I have been able to reproduce results of the original example, it is working locally. I am unfamiliar integrating the code with .travis.yaml. Any guidance on that?

[2018-07-31 06:04] vfdev-5 commented on #212
@anmolsjoshi good news! So, about `.travis.yaml`. We are just providing a sort of smoke tests for examples = run example in a tiny configuration and check that returned code is 0. For example,
https://github.com/pytorch/ignite/blob/c4563ddc67bee03fc616e87b84abd9b5e17e21cc/.travis.yml#L36
In your case you can add after the line with RL examples a command to run your example: (smth like that)
[code]

[2018-08-02 03:29] anmolsjoshi commented on #212
@vfdev-5  thanks for the help! this code requires MSCOCO dataset and a few images downloaded before, to run correctly. Am I supposed to incorporate that into the .travis.yaml file? Sorry if this is a dumb question.

[2018-08-02 06:05] vfdev-5 commented on #212
@anmolsjoshi

If it possible to run training on Cifar10 instead of MSCOCO would be better. I mean if `--dataset` option could recieve a path and a str `cifar10` and then configure the [dataloader](https://github.com/pytorch/examples/blob/master/fast_neural_style/neural_style/neural_style.py#L43) with CIfar10 dataset. What do you think ?

Could you please also send a PR, we will consider it as Work

[2018-08-02 18:21] vfdev-5 opened #221 "[Feature Request] Apply `detach` to `y_pred` in metrics"
Following the discussion in slack:

vfdev :
In some sense currently we have probably a protection as metrics are computed in
evaluator that calls with `torch.no_grad()` so there is no graph built
even after in metric's update methods. However in general case we need
to reconsider that...

Jason Kriss :
Ah yea, I guess since we do support accumulating metrics on a trainer (and not just an evaluator

[2018-08-05 20:24] kl2792 opened #224 "`pack_sequence` capability"
Is it possible for this to be implemented in Ignite, or should we just call pack_sequence in our LSTM nn.Modules?

Any help appreciated!

[2018-08-05 21:51] vfdev-5 commented on #224
@kl2792 unfortunately, we have not yet worked on use-cases with RNN/LSTM. So I would say we can call pack_sequence in your model.

I'm not expert in RNNs but if word embeddings are not trainable, so probably this can be done in a custom [`_prepare_batch`](https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L7) for example if one wants to use [`create_supervised_trainer`](https:

[2018-08-06 00:46] kl2792 commented on #224
Let me know how my PR's code style/content looks! I think this could help resolve this issue with an extra argument:

[code]

[2018-08-06 02:48] kl2792 opened #226 "[Feature Request] Setting # train steps per epoch"
In the case that a dataset is very large (>500k training samples) and you want to see validation loss periodically throughout the dataset.

Happy to put in a pull request implementing this -- any pointers on where to start?

[2018-08-06 05:58] vfdev-5 commented on #226
@kl2792 this can be done by setting the validation handler on `Events.ITERATION_COMPLETED`:
[code]

[2018-08-06 11:45] elanmart opened #227 "Add Engine.main() decorator"
I like to structure my code in the following manner, with all Engines and handlers first, followed by all the logic:

[code]

However currently one has to go with
[code]

Could we add the `main()` or `process_function` decorator?

[2018-08-06 11:52] elanmart commented on #202
I'll add a language modelling example hopefully this week

[2018-08-06 11:59] vfdev-5 commented on #227
@elanmart nice! :+1 for process_function decorator

[2018-08-06 15:37] elanmart opened #229 "Filter ignite stacktrace"
Should we consider filtering out the frames that come from `ignite`? Whenever there's a bug in my code I have to go through a lot of frames to find where `ignite` trace ends, and my code starts.

I think it is possible to do in Python.

E.g. I'd like to turn
[code]

into

[code]

[2018-08-06 16:37] vfdev-5 commented on #227
@elanmart what you propose looks cool.
And actually, the fact to be able to initialize Engine without process function let me think about the question on Engine design: stateful or stateless.

Today our Engine stores a lot of stuff and I'm not sure about its reusability. I think a good design can be something like callable classes (e.g `nn.Module`):
- we define some base attributes: `process_funct

[2018-08-06 17:11] alykhantejani commented on #229
that would be amazing! I did not know this was possible in python - @elanmart want to have a go?

[2018-08-06 17:14] alykhantejani commented on #227
Not sure about this, mainly because then we remove/make optional the input to the constructor which could cause confusion as currently the Engine has one purpose (to run a loop and call your process/step function).

Not totally against it, but it makes things a bit more confusing I think

[2018-08-06 17:15] alykhantejani commented on #226
Closing as this can be handled with the ITERATION_COMPLETED event as @vfdev-5 says. @kl2792 if this doesn't fully answer please feel free to comment back on this issue

[2018-08-06 17:15] #226 closed

[2018-08-06 17:17] alykhantejani commented on #221
I must have missed this discussion, can one of you briefly describe the problem +  the proposed solution?

cc @vfdev-5 @jasonkriss

[2018-08-06 17:19] alykhantejani commented on #224
In this case I would also recommend rolling your own version of `create_supervised_trainer` as the current one is meant to serve as a minimalist example (which fits many use cases).

I would however be interested to know if this was the only change you needed.

Also a RNN example would be great if you want to send a PR :)

[2018-08-06 17:46] vfdev-5 commented on #221
@alykhantejani I was just wondering whether we should not apply `detach` to `y_pred` in metrics before computing some cumulative variables. I was trying to add `EpochMetric` and when `y_pred` are cumulated without detaching we update the graph etc.. And actually this is the case

[2018-08-06 18:32] kl2792 commented on #224
Sounds good. I thought about it it a bit more too and realized that I can use the `collate_fn` argument in DataLoader to do this:

[code]

Thanks for your help!

[2018-08-06 18:34] #224 closed

[2018-08-06 18:46] jasonkriss commented on #221
Just to add on to what @vfdev-5 is saying... this really only applies when calculating metrics in a training engine (where there is no call to `torch.no_grad`).

[2018-08-06 21:22] elanmart commented on #227
I see your point. At the same time I feel that the code looks a bit cleaner with the propsed API.  Perhaps refactoring the `Engine` would be a good idea, as @vfdev-5 suggests?

[2018-08-06 22:32] vfdev-5 commented on #227
@elanmart I'm not sure nevertheless that refactoring will allow to have empty contructor and setup process function after

[2018-08-06 22:35] elanmart commented on #227
@vfdev-5 I thought you were thinking about having a Engine that can be run mulitple times for multiple functions? In that case the `process_function` would be an argument to `run`, which would also be quite nice. Or I misunderstood your proposition?

[2018-08-06 22:40] vfdev-5 commented on #227
@elanmart I was thinking about something like `nn.Module`:
[code]
which is equivalent to
[code]

[2018-08-06 22:43] vfdev-5 commented on #202
me too I was planning to provide an example on image segmentation task. Detection task would require a lot of side preparation stuff, however we could port something from roytseng/Detectron.pytorch or wait when @fmassa will release official Detectron Pytorch and we could simplify the training part with Ignite :)

[2018-08-07 10:11] elanmart commented on #227
Thanks for the snippet. Yes, that makes sense.

So, do you think we could still somehow separate the setup & logic? Maybe we could make the constructor arg mandatory, but allow explicitly passing `None`?

[2018-08-07 15:15] anmolsjoshi commented on #202
@vfdev-5 if you want to collaborate on a detection task, I'm happy to help out. I have an implementation of U-Net (segmentation) that I can port over to ignite over the next week.

[2018-08-07 21:51] vfdev-5 opened #231 "[Feature] Possibility to pass `non_blocking` attribute to `convert_tensor`"
Following torch docs on [CUDA memory management](https://pytorch.org/docs/stable/notes/cuda.html#use-pinned-memory-buffers) if user configures DataLoader with `pin_memory=True` then
he/she can use asynchronous GPU copies, just passing an additional `non_blocking=True` argument to a `cuda()` call or tensor method [`.to()`](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.to).

In ignite th

[2018-08-08 04:24] anmolsjoshi commented on #221
Is help wanted for this issue? Can I help?

[2018-08-08 06:12] vfdev-5 commented on #221
@anmolsjoshi Thanks ! Yes, you can go ahead with this issue. The idea is to incorporate `torch.no_grad` somewhere in `Metrics` a "less intrusive" manner.

[2018-08-09 06:00] anmolsjoshi commented on #212
@vfdev-5 Can this be closed?

[2018-08-09 06:01] #212 closed

[2018-08-09 10:08] pkdogcom commented on #207
@vfdev-5 The implementation looks good to me. We're actually using it in our project already. I was wondering if we should include the current implementation and leave further improvement later so that people can start using and getting benefits from your work without having to delve into details in issues discussions.
As for sklearn dependencies, I think it is ok to me to have dependencies on som

[2018-08-09 10:41] vfdev-5 opened #232 "[Docs] Add a page "Examples" to the docs"
Idea is to add a page "Examples" to the docs regrouping links to existing examples. Otherwise users have not direct reference on ignite portfolio

[2018-08-09 17:46] anmolsjoshi commented on #221
@vfdev-5 I wanted to clarify a few things before I got started.

Is this needed for situations where metrics are calculated on each iteration during the training process? And not at the end of an epoch as shown [here](https://github.com/pytorch/ignite/blob/master/examples/mnist/mnist.py#L77-L84)

If so, do you have an example of using Metrics in that way?

[2018-08-10 07:29] pkdogcom commented on #62
There seems to be several major issues including this one which have been stuck and lack of discussion for months. Is there any way to make some decisions and move forward while leaving refactoring later if necessary?

[2018-08-10 07:39] vfdev-5 commented on #207
@pkdogcom thank you for the feedback! Yes, we have to continue with this issue. What do you think about Jason Kriss' proposition to have a `compute_fn` without a need of subclassing `EpochMetric`?
In this case we can avoid any dependencies on sklearn or whatever ...

[2018-08-10 18:02] anmolsjoshi commented on #221
@vfdev-5 I tried a few different methods to incorporate torch.no_grad in Metrics. I thought about creating a new function in Metrics, which detached y_pred, it would work as shown below.

[code]
Any thoughts?

This method worked well, but I'm still going to look into other options.

[2018-08-10 21:50] vfdev-5 commented on #221
@anmolsjoshi i think you can try to use decorator `torch.no_grad()` on update metric function...  https://pytorch.org/docs/stable/autograd.html#locally-disable-grad

 And check which metric class really accumulates tensors with grads.

[2018-08-11 00:55] veugene opened #233 "Make event handler dict ordered to respect handling order."
Currently the dictionary of event handlers in Engine is defined thus:
[code]
The `defaultdict` stores items in unpredictable order. It would be better for the dictionary to store handlers in the order in which they are added to the `Engine`.

**Here's a use case:**
A checkpoint is defined with a `score_function` that tracks a metric. However, the metric in `engine.state.metrics` may not yet be rec

[2018-08-11 15:00] anmolsjoshi commented on #221
@vfdev-5 I'm looking into this more, but I did try a few variations of that before the above suggested method. Still looking into it. Here is a simple example showing that it may not work as hoped.

[code]

Here is the output - `tensor([0., 0., 0., 0.], grad_fn=<MulBackward>)`

So despite torch.no_grad() being called on update in Metric, it still results in an output that has a grad_fn. I think th

[2018-08-11 15:31] vfdev-5 commented on #221
@anmolsjoshi nice example! Actually, I'm not against applying `@torch.no_grad` at every derived class:
[code]
you're right `update` is overridden and base method is not called and decorator is not applied.

More proper design would require to introduce `_update` :
[code]

[2018-08-11 18:34] vfdev-5 commented on #221
@anmolsjoshi no, I let you submit a PR with the code and with tests, please, if you do not mind :)

[2018-08-11 22:09] anmolsjoshi commented on #221
@vfdev-5 thanks for the opportunity!

[2018-08-13 10:14] alykhantejani commented on #233
I agree with @veugene on this one, `defaultdict` gives no guarantee of order, whereas its a simple change to guarantee this without producing hard to track down bugs.

[2018-08-13 12:37] alykhantejani commented on #233
Here's a reference, where order was implemented in in normal dicts in 3.6 but should not be relied upon

https://docs.python.org/3.6/whatsnew/3.6.html#whatsnew36-pep520

[2018-08-13 12:46] alykhantejani commented on #233
Sorry I've mis-read the issue

@veugene the handlers are stored in a list, so the order should be preserved. Can you provide a snipper to reproduce the error you are seeing?

[2018-08-13 23:47] veugene commented on #233
@alykhantejani You are right. The event firing order is manually defined in `Engine` and the handlers are organized per event. Although the events are in a dict, the handlers are in a list. I rescind my issue ;) so you may close this.

[2018-08-13 23:48] #233 closed

[2018-08-14 08:00] pkdogcom commented on #207
I think either way works. It's just a matter of which direction the project wants to go, more feature rich/complete with possibly more dependencies v.s. lean & compact but requiring some more customization on users' sides. Or a better question may be where to draw the line between the two directions.

FYI, I think in actual implementation the mAP metric should be written as this (in the subclass c

[2018-08-14 21:46] vfdev-5 commented on #218
@AntoinePrv could you please give an example on this issue ?

If this becomes stale, maybe we can close this...

[2018-08-14 22:40] Robin-des-Bois commented on #64
Is anyone working on this? If not I might give it a go, as I already have written some related code for myself.

[2018-08-15 08:11] vfdev-5 commented on #64
@Robin-des-Bois thanks for the proposition. Yes, I think you can work on this issue.
I think @pkdogcom talks about [`Timer`](https://github.com/pytorch/ignite/blob/master/ignite/handlers/timing.py#L9).

I think a template for logging with Tensorboard can be useful, e.g. metrics. The difficulty is that it can be rather difficult to cover a generic data.

Anyway let's discuss what can we add to igni

[2018-08-15 13:32] #232 closed

[2018-08-15 17:14] AntoinePrv commented on #218
Sorry, I've postponed answering this for far too long...

Ideally we would want `ignite.metric.Loss` to be able to wrap any loss function from PyTorch, right?
Many loss functions have a `weights` attribute (tensor) to scale the different element (over the batch for instance).

Although the argument can be set statically before passing `loss_fn` to the `Loss`, this cannot be used dynamically (`weig

[2018-08-15 23:31] vfdev-5 commented on #221
Closed by #236

[2018-08-15 23:31] #221 closed

[2018-08-16 05:57] anmolsjoshi commented on #207
Help needed with this issue?

[2018-08-16 06:11] vfdev-5 commented on #207
@anmolsjoshi thanks, but there is already a PR on this :)

[2018-08-16 07:06] vfdev-5 commented on #231
@anmolsjoshi could you please take a look on this one, once #220 is merged ?

[2018-08-16 15:16] anmolsjoshi commented on #231
@vfdev-5 sure!

[2018-08-16 15:27] vfdev-5 opened #237 "Update the "Concepts" part in the documentation"
Recently we've added a possibility to handle custom events, so we need to keep "Concepts" documentation updated.

There is also a bad docstring rendering of parameters on methods
- [add_event_handler](https://pytorch.org/ignite/engine.html#ignite.engine.Engine.add_event_handler)
- [fire_event](https://pytorch.org/ignite/engine.html#ignite.engine.Engine.fire_event)
- [on](https://pytorch.org/ignite

[2018-08-17 15:10] TiRune opened #240 "GPU copying slow from loss functions"
Hey all,

I did some profiling of the ignite code:
![screen shot 2018-08-17 at 17 02 40](https://user-images.githubusercontent.com/1436356/44273523-0036d400-a240-11e8-9db4-b19a50a54121.png)

Looks like in my training runs, around 20% of the time gets used by the loss functions. Specifically this happens for the .item() calls in pytorch. The metrics are copied from cuda to gpu every iteration, whic

[2018-08-17 15:19] vfdev-5 commented on #240
@TiRune thanks for the feedback, do you mind to share the code to reproduce the profiling please ?
As I understand correctly you run the training + online metrics computation.

Yes, we need to take a closer look at this...

[2018-08-17 15:50] TiRune commented on #240
Can't share the code unfortunately, company rules.

Yes I'm doing training, and try to gather statistics of the training loss every few iterations.
I found out that this was causing slowdowns when reading: https://www.sagivtech.com/2017/09/19/optimizing-pytorch-training-code/

Who suggested the methods for profiling, and also noted that (Cuda copies are expensive.

update gets called every trainin

[2018-08-17 16:33] jasonkriss commented on #240
Interesting. Thank you for this @TiRune! This seems very reasonable to me. The only real concern I can see is that GPU memory is generally a much more limited resource. Seems to me like this outweighs that concern though.

[2018-08-19 09:57] alykhantejani commented on #240
@TiRune thanks for the bug report, this looks interesting. It would be great if you could confirm if this happens on master. If so, we should fix this asap

[2018-08-19 22:11] rpatrik96 commented on #202
Hi everyone!

I hope it is the right place to ask: I am really fascinated with Ignite and I would like to make my contribution to it, is there anything I could help?
I am currently doing some transfer learning stuff with Resnet, what is your take, would it be appropriate to include a tramsfer learning example in the Ignite repo? If yes, I am happy to write it :).

[2018-08-19 22:42] rpatrik96 commented on #237
@vfdev-5 : also there is a minor bug in the ModelCheckpoint docstring, the save_as_state_dict parameter is not in the list.
Please can you give me your policy how I should proceed and then I will correct it (I do not have much experience in contributing to other's work). Thanks in advance!

[2018-08-20 00:02] vfdev-5 commented on #237
@rpatrik96 welcome on board of open-source :) Thanks for pointing out other undocumented parts.

In brief how to fix a docstrings:
- fork the repository and clone the fork to your machine
- fix the docstring python files, e.g. ModelCheckpoint docstring
- to update "Concepts" of the documentation you need to edit files from [here](https://github.com/pytorch/ignite/tree/master/docs/source).
- how to

[2018-08-20 00:08] vfdev-5 opened #241 "Travis CI fails with Visdom on python 3.5"
[Travis CI fails](https://travis-ci.org/pytorch/ignite/jobs/416835402#L2368) on mnist example with visdom on python 3.5.
Connection to the server is not established:
[code]

Need to investigate...

[2018-08-20 09:07] TiRune commented on #240
Looking into it on my side as well. Won't be done today because of some hectic deadlines, but I'll keep you posted :)
Happily using ignite btw, so great work :)

[2018-08-20 09:40] alykhantejani commented on #240
Thanks @TiRune - looking forward to your response

[2018-08-20 18:06] rpatrik96 commented on #237
@vfdev-5 thanks for the detailed help!

I have fixed the missing argument, and as a warmup I have created my first pull request :).

A small future reference for other newbies regarding sphinx: if you have Python/Anaconda/whatever in your **PATH**, then sphinx _will find the original and not the forked files_. As a fix, read [https://github.com/sphinx-doc/sphinx/issues/4317](url).
Summary: modify

[2018-08-20 18:12] rpatrik96 commented on #237
Sorry for being hyperactive, but I have noticed something regarding _Events_:
If I have the following callback:
[code]
Then ```model.training``` will be ```False```. I assume that this is with intention (but for me, at first it was not trivial), so the question comes: where can I find this description in the docs? If it is not included, I will happily add it to the docs.

[2018-08-21 07:30] vfdev-5 commented on #241
Maybe [this ref](https://github.com/facebookresearch/visdom/issues/450#issuecomment-414411786) can help

[2018-08-21 07:35] vfdev-5 commented on #237
@rpatrik96 thanks for your help.
I'll review your PR in the coming time, there is a priority on fixing failing travis. There is a problem with Visdom, see #241

I did not get what you call original and forked files. However, I think better approach not to modify `docs/source/conf.py` file by commenting otherwise beginner developer can forget to revert such changes...

Concerning `model.training=Fa

[2018-08-21 08:40] vfdev-5 commented on #241
Temporary fixed by #243

[2018-08-21 08:40] #241 closed

[2018-08-21 13:42] alykhantejani commented on #237
Hi @rpatrik96 can you provide a small snippet of code to demonstrate the `model.training==False` issue. Could you start a new github issue with this so we can track it there? Thanks

[2018-08-21 13:44] alykhantejani commented on #202
Hi @rpatrik96,

I'm not sure that transfer learning for classification is a useful example at the moment, mostly because the changes come in just how you load your model and set your learning rate, and doesn't necessarily showcase ignite any differently than the classification example does.

However, if you'd like to contribute more we welcome that :) please have a look at the issues, especially t

[2018-08-21 17:00] rpatrik96 commented on #237
Hi @alykhantejani I did some refactoring after facing the issue and it cannot be reproduced, so I assume I have made a bug, there is no problem at all :).

[2018-08-22 09:15] alykhantejani commented on #231
Fixed in #239

[2018-08-22 09:15] #231 closed

[2018-08-22 13:59] alykhantejani commented on #207
Added in #235

[2018-08-22 13:59] #207 closed

[2018-08-22 14:00] alykhantejani commented on #168
This has now been added in #235

[2018-08-22 14:00] #168 closed

[2018-08-22 21:32] vfdev-5 commented on #237
I reopen this because I did not yet fixed the problems cited in the [issue comment](https://github.com/pytorch/ignite/issues/237#issue-351255802).

[2018-08-23 09:03] vfdev-5 opened #248 "Automatic deployment on tag"
Travis with PyPI: https://docs.travis-ci.com/user/deployment/pypi/

[2018-08-23 10:00] vfdev-5 commented on #237
Fixed in #247

[2018-08-23 10:00] #237 closed

[2018-08-23 10:00] #201 closed

[2018-08-23 12:37] vfdev-5 commented on #248
PyPI wheels+tars build and upload can be done as following:
[code]
A test result is [here](https://test.pypi.org/manage/project/pytorch-ignite/release/0.1.0.2/)

Note that user and password should be specified and password is passed as secure Travis variable. I did not manage to handle password encryption.

Conda build and upload can be done in the phase "after_deploy". Need to be scripted and tes

[2018-08-23 12:53] TiRune commented on #240
The new master branch of ignite definitely reduced the overhead time significantly; so that is great.

I also figured out that if I remove the loss function calculation all together; the same overhead is now taken by prepare_batch... So I can only conclude that the cprofile code is wrong somehow; and it's confusing timings completely.
It's very likely the overhead is caused by prepare_batch instea

[2018-08-23 12:53] #240 closed

[2018-08-23 12:59] vfdev-5 commented on #240
@TiRune thanks for the feedback! Are you obtaining something similar as in my [previous message](https://github.com/pytorch/ignite/issues/240#issuecomment-414002722) ?

Anyway glad that we have a similar conclusion on metric computation.

[2018-08-23 13:00] alykhantejani commented on #240
@TiRune that's good to know. We will be releasing a new update soon to conda and pip so you wont have to build from master (probably in 2 weeks)

[2018-08-23 13:04] TiRune commented on #240
@vfdev-5 Interestingly for me; although I had multiple losses logged, it only logs a bunch of time on 1 loss. My cProfile is not nearly as fine-grained as yours. No idea why this is though :/.

See:
<img width="981" alt="screen shot 2018-08-23 at 15 03 13" src="https://user-images.githubusercontent.com/1436356/44526932-b6d60100-a6e5-11e8-852b-2bd7d72fae02.png">
Think Cprofile is a bit broken for m

[2018-08-23 13:10] vfdev-5 commented on #240
@TiRune Okay, I see. In my case I tested on a single GPU, python 3.5, snakeviz version 1.0.0

[2018-08-23 14:32] TiRune commented on #240
Alright, here's what I think now happens:
GPU calls are async; function waits in .item() when it's called (in this case top_k_categorical.update is called first of all the loss functions), thus it's stuck there until the cuda is synced again. Thus it looks like .item() is causing slowdowns; but in actuality the code is still running the forward pass.

Case closed it seems; cProfile can't really be

[2018-08-23 14:38] vfdev-5 commented on #240
@TiRune maybe you've already seen [`torch.utils.bottleneck`](https://pytorch.org/docs/stable/bottleneck.html), in any case it seems they say something similar.

[2018-08-25 22:07] vfdev-5 commented on #231
Forgot to say that `create_supervised_evaluator` needed this option too. Will add by myself

[2018-08-27 09:14] MrinalJain17 opened #251 "Windows binaries not available on anaconda"
As of now, only linux and osx binaries are available on [pytorch/ignite](https://anaconda.org/pytorch/ignite) on anaconda.

**Please add the windows binaries too.**

[2018-08-27 11:15] vfdev-5 commented on #251
@MrinalJain17 thanks for the feedback ! Yes, we will add windows binaries in the next release.

At the moment, I think installation via pip should work too.

[2018-08-27 19:59] amitibo commented on #169
@sean-adler @vfdev-5 concatenating several schedulers together, as done by `fastai` can also be implemented using the framework suggested in #171:

[code]
Scheduling a cyclic phase followed by a linear phase can be done like;
[code]
I am using this parameter scheduler and can give a hand in implementing it.

[2018-08-27 20:18] vfdev-5 commented on #169
@amitibo thanks for the proposition. For instance we are not yet intergrated `ParamScheduler` into `contrib` module. IMO it would be great to have `ConcatScheduler` in the `contrib` module.
@sean-adler could you please send a PR with `ParamScheduler` in `contrib` ?
Tell me please if you are busy at the moment and I can copy it by myself.

[2018-08-28 00:41] MrinalJain17 commented on #251
That sounds great @vfdev-5  👍

Thanks for the prompt reply.

[2018-08-31 12:36] miguelvr opened #252 "Add native progressbar handler"
I think the library would benefit from the addition of the ProgBar handler in the neural style example. I think it's pretty good, and it would be an easy and sexy way of logging most models straight out of the box.

I did some (very minor changes) to it, to show the current iteration number as well, but besides that, it is awesome as it is already!

I would be happy to do a PR, let me know what yo

[2018-08-31 13:45] rave78 commented on #202
Hi everyone!

I was wondering if it is ok to update the mnist example (mnist.py) with tqdm (two progress bars -- one for epoch and the other for iteration).

[2018-08-31 13:55] vfdev-5 commented on #202
Hi @rave78 yes, that can be interesting to integrate tqdm into our basic examples like mnist. So, please send a PR on that and we can iterate over it.
Maybe only I progress bar on batches during the training would of interest, IMO. But let's see in the PR...

[2018-08-31 14:00] vfdev-5 commented on #252
@miguelvr thanks for the feedback ! Yes, we discussed on that in the [PR on neural style example](https://github.com/pytorch/ignite/pull/222#issuecomment-410698686). Probably, it would be better to integrate tqdm as handler into contrib module, IMO. What do you think ?

[2018-08-31 15:01] miguelvr commented on #252
sure, it can also be done!

[2018-09-02 21:52] vfdev-5 commented on #218
@AntoinePrv coming back on what you say about `weights`. Following the [cross entropy docs](https://pytorch.org/docs/stable/nn.html#torch.nn.functional.cross_entropy), `weights`  rescales classes and not samples...
If I understand correctly you would like to be able to apply weights coming from batch generator ?

[2018-09-04 03:26] AntoinePrv opened #255 "Error in tbptt"
Hello,
I left a typo in [create_supervised_tbptt_trainer](https://github.com/pytorch/ignite/blob/8adab93849194d8ca0fe4d152a34f4269efbbc0f/ignite/contrib/engines.py#L43), sorry about it. On [this line](https://github.com/pytorch/ignite/blob/8adab93849194d8ca0fe4d152a34f4269efbbc0f/ignite/contrib/engines.py#L99) it should of course be
[code]

I'll do a PR to fix it, but of course I need to improve t

[2018-09-04 06:40] vfdev-5 commented on #255
@AntoinePrv thanks! Yes, definitely we need to improve the test part.

[2018-09-04 06:54] vfdev-5 commented on #218
@AntoinePrv we discussed a similar point [here](https://github.com/pytorch/ignite/pull/112#issuecomment-373838309). Yes, I would say your remark totally make sense, just for instance, we have findout if we could cover this with our vanilla `Loss` or create somelthing like `LossWithArgs` ... Let me think about it.

[2018-09-04 17:31] AntoinePrv commented on #218
You would change the `output_transform` default to `lambda x: (x, {})` so that the evaluator still returns `y_pred, y`.

Note that using that loss would require rewriting a custom evaluator to change the output.

[2018-09-04 22:18] vfdev-5 commented on #218
@AntoinePrv a hacky solution can be something similar:
[code]

[2018-09-05 06:45] vfdev-5 commented on #248
Example projects
- [tnt deploys on PyPI with travis](https://github.com/pytorch/tnt/blob/master/.travis.yml)
- [bokeh build conda](https://github.com/bokeh/bokeh/tree/master/conda.recipe) and [deploy](https://github.com/bokeh/bokeh/blob/master/scripts/ci/deploy)

[2018-09-05 15:05] AntoinePrv commented on #218
Sure, I also made my own solution. I just wanted to know if you're interested in making this change.

[2018-09-06 08:20] rave78 opened #258 "Wrong event -- EarlyStopping Example"
This is the example in the Ignite documentation about EarlyStopping
[code]
I was wondering if `Events.COMPLETED` is wrong. I think the evaluator should be fired either `Events.EPOCH_COMPLETED` or `Events.ITERATION_COMPLETED`

[2018-09-06 08:28] vfdev-5 commented on #258
@rave78 this is a correct event in the docentation. Actually this handler is attached to an evaluator that runs a single epoch on a validation dataset. Once it is done, run completed we get results and check for early stopping.

[2018-09-06 08:52] rave78 commented on #258
I see.  thank you for your reply

[2018-09-06 08:52] #258 closed

[2018-09-07 02:35] anmolsjoshi opened #259 "Regarding calculating metrics"
I know that metrics can be attached to any engine and they are calculated with torch.no_grad, so there is no limitation to where to calculate them. In the mnist example, it seems that the metrics related to training are calculated at the end of each epoch instead of during the training process. Is this standard practice?

I am working on a TensorBoard Handler and was hoping to understand what is s

[2018-09-07 04:56] vfdev-5 commented on #259
@anmolsjoshi @rave78 it seems that you both are working (or plan to work) on TensorBoard logger. Please create an issue for that and let's exchange for details there. Thanks

[2018-09-07 16:01] anmolsjoshi commented on #259
Done

[2018-09-07 16:01] #259 closed

[2018-09-07 16:14] anmolsjoshi opened #260 "Tensorboard Logger"
Working on a Tensorboard Handler for Ignite.

Currently the code does the following
- Creates a graph of the model on initialization of the event handler
- Creates distributions and histograms for the model at the end of each epoch
- Creates distributions and histograms for the gradients to the parameters of the model at the end of each epoch
- Plots metrics related to training and validation (if

[2018-09-10 05:00] anmolsjoshi commented on #260
I am trying to make the event handler general. Looking through examples, these are the variations I can see arising:
- Logging evaluator metrics (separate engine for evaluating) (MNIST)
- Training engine.state.output, this can be a dictionary, a single value or nothing at all (Fast Neural Style, DCGAN)
- A new attribute to engine.state (see RL example)

Any other variations we can think of?

[2018-09-10 05:55] anmolsjoshi commented on #260
Just another idea, we could have the TensorBoard event handler as a Base class that people can add functions that will be called at the end of each epoch. For example:

- Stylizing an image at the end of each epoch to see improvement
- Feature maps of a single image through convolution layers
- Generating text, audio, images

Thoughts?

[2018-09-11 07:46] rave78 commented on #260
@anmolsjoshi sorry for my late reply.  I have not started working on TensorBoard.  However, let me know how I can help you

[2018-09-11 16:28] anmolsjoshi commented on #260
@rave78 what are your thoughts on the things listed above? any things you disagree with or think need added?

[2018-09-12 07:46] anmolsjoshi commented on #260
@vfdev-5 @rave78 Currently facing issues plotting histograms and writing images at the same time. Will post an issue on tensorboardX for workarounds. Let me know if you guys are interested in looking at the code!

[2018-09-12 08:22] joelrich opened #262 "Problems with binary classifier & metrics"
Hi,

I am new to PyTorch and am trying to get started with Ignite. I want to train a simple binary classifier:

[code]

First I had (plus some events):

[code]

This failed with:

[code]

Then I found the `output_transform` parameter and changed it to:

[code]

Even if this worked, I do not think it was a good solution. In my opinion, it should be possible to do the transformation in just one plac

[2018-09-14 14:30] #255 closed

[2018-09-14 16:04] vfdev-5 commented on #262
Hi @joelrich thanks for the feedback.
Concerning the first fail, could you please provide more detail on what is your data and targets especially.
The error states that your targets are float instead of being integer indices like (0, 1)

Concerning the possibility to setup output transform once for all metrics, let me think about this whether this is not too specific. As all metrics are independen

[2018-09-15 15:10] nik-bauer opened #263 "Desired way of adding custom states during _update function"
First off, nice work with this package! It really helps getting the whole pytorch workflow way more organized!
So this might be a dumb question, but I recently came across a simple problem where I just wanted to plot the models output during training and I'm wondering how to achieve this the most simple and clean way possible fitting into your Engine framework.
I understand how your engine state i

[2018-09-15 17:29] vfdev-5 commented on #263
Thanks for the feedback @nik-bauer !
Glad that you could find the solution by yourself.
Do not hesitate to open other issues if you encounter any problem or to propose a feature request :)

[2018-09-15 20:01] joelrich commented on #262
I fear that I have already deleted the code (without committing it first) because I decided to do everything from scratch. Anyway, this is what I remember:

It was a simple binary classifcation. Y_train/Y_test was an array like `[[0], [1], ...]`, Y_pred `[[0.453], [0.876], ...]`. The long/float problem happened because I first did not convert the floats to zeros and ones manually. By now, I agree

[2018-09-17 03:36] vfdev-5 opened #264 "Running average metric"
Following the discussion in #256 on running average values in the TQDM progress bar, IMO it would be better to split running average computation and display logic.

Here is an implementation on how to compute running average value from an instance of Metric:
[code]

Usage of the proposed API is following:
[code]

There is however still missing the part of the running average value based on `state.

[2018-09-17 04:36] vfdev-5 commented on #262
@joelrich

Simple binary classification can be done in two ways:
- final activation is softmax with `y_train` is `[0, 1, 0, ...]` and `y_pred` is `[[0.9, 0.1], ...]`
- final activation is sigmoid with `y_train` is `[0, 1, 0, ...]` and `y_pred` is `[0.1, 0.9, 0.2,...]`

`Precision` metric is intended to work with multi-class classification (including 2 classes), first case.

HTH

PS.: I'm not sure

[2018-09-17 07:08] rave78 commented on #260
@anmolsjoshi I think your list of features is complete.

[2018-09-17 07:49] miguelvr commented on #264
not being able to compute it over engine.state.output can be an annoyance. But I guess we can solve it with an `output_transform` function, right?

[2018-09-17 11:27] vfdev-5 commented on #264
@miguelvr could you please give an example of API with `output_transform` on engine.state.output ?
I'm not sure to understand your idea

[2018-09-17 16:56] miguelvr commented on #264
we could make `RunningAverage` a `handler` instead of a `Metric`. I would be something that processes `metrics` rather than being one on itself.

Plus, if you make it with an `output_tranform` argument, you are able to access both `engine.state.metrics` and `engine.state.output`.

What do you think?

[2018-09-17 18:40] vfdev-5 commented on #264
I see what you mean. I thought about such implementation, maybe it worth to try to implement

[2018-09-17 22:08] AntoinePrv commented on #218
Partially, however, it's hard to say because all of the tests involve:
[code]
I could succeed the tests by replacing it with
[code]

I rely on changing the default argument to the constructor from `output_transform=lambda x: x` to `output_transform=lambda x: (x, {})`, which means it will not be backward compatible for any user having used that input.

__Note__:
I was too greedy with `args, kwargs

[2018-09-18 19:20] jasonkriss commented on #262
@vfdev-5 Sorry I think I'm still a lil confused. I agree with your two options for binary classification. With the first option, you can calculate accuracy with CategoricalAccuracy. With the second option, you can calculate accuracy with BinaryAccuracy. Are you asking if we should have some sort of `BinaryPrecision` and `BinaryRecall` metrics?

[2018-09-18 19:37] vfdev-5 commented on #262
@jasonkriss yes, I was asking whether we need to introduce BinaryPrecision and BinaryRecall metrics.

[2018-09-18 19:37] jasonkriss commented on #218
I agree that this is a completely valid point and something we should address. If we want to be backwards compatible, I think the easiest thing to do is to change [this](https://github.com/pytorch/ignite/blob/master/ignite/metrics/loss.py#L23) to something roughly like this:

[code]

[2018-09-19 05:33] vfdev-5 commented on #262
@jasonkriss yes, completely agree with your proposition to improve `Precision`/`Recall` and merge `BinaryAccuracy` and `CategoricalAccuracy`. Maybe we should leave for the next next release the compatibility between`BinaryAccuracy` and `CategoricalAccuracy` and new `Accuracy`.

[2018-09-19 06:32] vfdev-5 commented on #264
Here is naive implementation of `RunningAverage` with joint `Metric` and output:
[code]
with API usage is similar to the previous one
[code]

I think we can leave `RunningAverage` as being a `Metric` and simplify a little bit the code...

[2018-09-19 12:03] vfdev-5 commented on #264
Actually no real gain of such inheritance. Will leave as a handler.

[2018-09-19 13:56] alykhantejani commented on #262
If `BinaryAccuracy` and `CategoricalAccuracy` were introduced after `0.1` then we can just merge them here before `0.1.1` as we wont be breaking the API. If not, then we should still merge and provide deprecation warnings. i.e. merge the classes into `Accuracy` and still keep `BinaryAccuracy` and `CategoricalAccuracy` and have their constructors just create the appropriate instance of `Accuracy` a

[2018-09-19 13:56] alykhantejani commented on #218
lets get this into 0.1.1

[2018-09-19 15:36] alykhantejani commented on #264
I think it makes sense for this to inherit from Metric. Besides simplifying the code a little bit, the running average (of a metric, or output value) is a metric we are computing, no?

[2018-09-19 15:49] vfdev-5 commented on #264
@alykhantejani I see your point, for a coherent implementation it would better to inherit from Metric as we write in all cases in engine.state.metric and maybe `RunningAverage` is better to be in metrics module. But in the code I have no impression of any gain with the inheritance

[2018-09-19 19:52] miguelvr commented on #264
how would you compute it over `engine.state.output` then?

[2018-09-20 09:42] vfdev-5 commented on #264
@miguelvr it can be something like this:
[code]
the result is in `engine.state.metrics['running_avg_output']`

[2018-09-20 21:01] miguelvr commented on #264
nice! I like it

[2018-09-20 22:14] anmolsjoshi commented on #262
Is someone working on this? Can I help out?

[2018-09-20 22:16] vfdev-5 commented on #262
@anmolsjoshi please go ahead. I think nobody has yet taken this one.

[2018-09-21 18:58] #264 closed

[2018-09-21 20:30] vfdev-5 opened #270 "Prepare CI for PyTorch 1.0"
Idea is to check CI against PyTorch 1.0:
[code]
and replace the hard-coded PyTorch version when documentation is built, see [here](https://github.com/pytorch/ignite/blob/master/.travis.yml#L84).

[2018-09-21 21:08] pbamotra opened #271 "Early stopping handler should fire on Events.EPOCH_COMPLETED"
Hi guys,

I was going through the handlers section and I feel that early stopping should be called on Events.EPOCH_COMPLETED to check if validation loss / accuracy hasn't improved unlike documentation where it says to fire on Events.COMPLETED?

Am I right?

[2018-09-21 21:12] pbamotra commented on #271
nvm, it's already asked in closed issues.

[2018-09-21 21:12] #271 closed

[2018-09-21 21:13] vfdev-5 commented on #271
Thanks for the feedback @pbamotra. Yes it is duplicate of #258.

However we need to update the docs

[2018-09-24 18:52] pbamotra opened #274 "Handlers should print verbose and helpful messages"
Hi contributors,

I believe that handlers like model checkpoint and early stopping should print helpful messages like if the performance improved in the current iteration and the counter was reset.

Pankesh

[2018-09-24 18:56] vfdev-5 commented on #274
@pbamotra yes, for example early stopping uses logging to print messages, see [here](https://github.com/pytorch/ignite/blob/master/ignite/handlers/early_stopping.py#L43).
I think model checkpoint can be quiet. What do you think about to print with model checkpoint ?

[2018-09-28 02:15] anmolsjoshi commented on #262
Question regarding testing of metrics. For [test_compute_batch_image](https://github.com/pytorch/ignite/blob/master/tests/ignite/metrics/test_categorical_accuracy.py#L30)
Below is how y_pred is prepared and categorical accuracy is calculated

[code]
Given the above setup, y_pred[0, :, 0, 0] is [0, 1, 1]. I'm not sure if that is the correct intent of this test, shouldn't each pixel be a one-hot vec

[2018-09-28 08:21] vfdev-5 opened #277 "Replace asserts in the code by if condition then raise"
It would be better to replace the code as

https://github.com/pytorch/ignite/blob/0f1905e87b95779cf6544a5fe29b46519ad9d4e0/ignite/metrics/epoch_metric.py#L33-L34

by
[code]

Usage of assert to change in `EpochMetric`, `EarlyStopping` and `Loss`

[2018-09-28 11:11] miguelvr opened #278 "Cleaner RunningAverage syntax"
The current way to add multiple running averages computed over the output is a bit too verbose imo, and it can be made simpler.

## DCGAN Example:

[code]

### Current API

To compute running averages over all of these, I would have to create an object per output and call the `attach` method:

[code]

### Proposed API

Initialize one `RunningAverage` object and pass the `output_transform` function

[2018-09-28 11:43] vfdev-5 commented on #278
@miguelvr thanks, looks good! However as `RunningAverage` is a part of `Metric`, this makes me think about metric usage in general in the same way you propose. Today we have for example:
[code]
So for metrics it does not make too much sense to attach multiple times to the same engine. But it could make sense to attach to different engines:
[code]
however `output_transform` is defined once and is v

[2018-09-28 12:00] miguelvr commented on #278
On that issue, I found that there is no clear way of adding a single value as a metric, without accessing `engine.state.output` explicitly

[2018-09-28 18:35] jasonkriss commented on #278
@miguelvr I see your point on the verbosity. I'm not sure how I feel about the proposal, though. In the `RunningAverage` use case, I think we lose some clarity and explicitness by allowing a single "metric" to be attached multiple times for various parts of the output. I personally find that confusing. The example could also be condensed like this:

[code]

In which case, it's not really anymore v

[2018-09-28 19:07] vfdev-5 commented on #278
Actually I do not see any incompatibility with `create_supervised_*` functions. Maybe I do not quite understand your question...

You mean for `create_supervised_*` functions? Seems reasonable and can be more explicit. Personnally, I got used to the list output.

[2018-09-29 00:11] jasonkriss commented on #278
You're right. There is no compatibility. Not sure what i was thinking :).

Yea i mean in general, but since the `create_supervised_*` functions are the only explicit place where we define process functions, that's where it would show up.

[2018-09-30 12:57] miguelvr commented on #278
i'm going to close this, as the condensed syntax proposed by @jasonkriss seems okay to me

[2018-09-30 12:57] #278 closed

[2018-10-01 02:58] Sayan98 commented on #270
Hey, I would like to take up this issue.

[2018-10-01 05:37] vfdev-5 commented on #270
@Sayan98 thanks for the proposition !
I think it would be better to start assuming that [this PR](https://github.com/pytorch/ignite/pull/279) is accepted and check if everything passes when we using `pytorch-nightly`.

[2018-10-02 03:30] #218 closed

[2018-10-02 03:34] vfdev-5 commented on #274
I close this one as it seems to be answered.
@pbamotra feel free to reopen if you have more questions on that

[2018-10-02 03:34] #274 closed

[2018-10-03 17:08] AntoinePrv opened #283 "Match core API in contrib TBPTT trainer"
I propose the following change so that tbptt trainer behaves like the supervised trainer:

- [ ] Replace `convert_tensor` by `prepare_batch` ([line](https://github.com/pytorch/ignite/blob/d3d7b146d56efb5b497f3cf4b22caab976774e7e/ignite/contrib/engines/tbptt.py#L29))
- [ ] Call `prepare_batch` on time chunks (the quantity used to compute gradients) rather that whole time series mini bactch
- [ ] Ad

[2018-10-06 12:53] amitibo commented on #169
@vfdev-5 and @sean-adler, if no body is currently working on this issue, I can prepare a PR.

[2018-10-06 14:33] vfdev-5 commented on #169
@amitibo are you talking about `ConcatScheduler` ? If yes, this would be good. Let me a bit of time to merge `ParamScheduler` and your PR will be more than welcomed. Before this you can implement starting from the branch of Sean Adler

[2018-10-09 23:09] vfdev-5 commented on #169
@amitibo we merged `ParamScheduler` into master, so you can start a PR from the master.

[2018-10-11 10:49] #277 closed

[2018-10-11 15:24] rlebret opened #285 "tqm_logger: metric_names is currently not optional"
Hi,

https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/tqdm_logger.py#L75
This line should be modified to make `metric_names` optional. Here is a suggestion:
[code]

Thanks

[2018-10-11 15:30] miguelvr commented on #285
thanks for pointing it out! I'll fix that ASAP

[2018-10-15 06:12] PsiPhire opened #289 "[Feature Request] tqdm_logger update on every epoch instead of every iteration"
Currently `tqdm_logger` creates a progress bar for every epoch and updates it on every iteration. I would like to have a single progress bar for the entire run that updates every epoch instead.

[2018-10-15 07:52] miguelvr commented on #289
@vfdev-5 I could add back the `mode` argument to support this. Should be relatively straightforward

[2018-10-15 08:35] vfdev-5 commented on #289
@miguelvr yes, go ahead.

[2018-10-15 08:36] #285 closed

[2018-10-17 07:02] Shawn1993 opened #290 "Problem with GPU memory"
It always use the GPU-0 when I use the GPU-1.

[code]

[2018-10-17 07:07] vfdev-5 commented on #290
@Shawn1993 thanks for the feedback! Could you please provide more details on what are doing, some reproducible code snippet etc ?

[2018-10-17 08:54] Shawn1993 commented on #290
I am sorry to bother you, thats my problem. I use torch.utils.data.DataLoader without torch.cuda.set_device. It use GPU-0 by default.

[2018-10-17 08:54] #290 closed

[2018-10-17 20:47] zasdfgbnm opened #292 "[Feature request] class MaximumAbsoluteError(Metric)"
`error = (y_pred - y).abs().max()`

Would this be a good thing to add?

[2018-10-17 22:48] zasdfgbnm commented on #292
@vfdev-5 This is for regression problem, it characterizes how far the worst point are deviated from ground truth.

[2018-10-18 01:56] labor00 opened #293 "[feature request]Changing how the loss metric get the shape information"
Recently I was working with multi-output models and I was using a pattern that I believe to
be common. The model returns a tuple, for instance `y_pred = (ypred_1, ypred_2)` with the correspondent y of the form `y = (y_1, y_2)` with the `loss_fn` accepting as arguments `ypred` and  `y` (`loss_fn(ypred, y)`).

However I have run into problems  when using the Loss metric due to the batch size used on

[2018-10-18 06:35] vfdev-5 commented on #293
@labor00 thanks for the feedback! It's true that `Loss` is not working for a generic loss function. Previously, we decided to ask users [to override `Loss` function](https://github.com/pytorch/ignite/pull/112) in such cases. However maybe it's time to rethink the purpose of `Loss` and add such feature...

cc @jasonkriss

[2018-10-19 08:17] labor00 commented on #293
Yes I am using  a custom loss.

[2018-10-19 10:58] alykhantejani commented on #292
I echo @jasonkriss sentiment, that more metrics are welcom. MAE is often used in recommender systems, and other regression tasks to measure performance.

I say go for it, might as well just put it in core as it's pretty simple to implement and I don't envisage much support being needed going forward

@zasdfgbnm can you send a PR?

[2018-10-19 10:59] alykhantejani commented on #289
Thanks @miguelvr

[2018-10-21 11:12] milesial opened #296 "Discussion about ProgressBar and metrics display"
Hello, I would like to discuss the feature in `contrib.handlers.ProgressBar` that displays metrics on each `Events.ITERATION_COMPLETED` as a postfix of the bar. For some context, please read https://github.com/pytorch/ignite/pull/295.

I think the `ProgressBar` and this feature are essential to the package, as it provides a concise way to have a nice training and evaluation experience (replacing t

[2018-10-21 12:34] milesial opened #297 "Set custom state variables at engine creation"
Hello <sup>(again)</sup>, currently the `engine.state` object is created on the first run of the engine. I would like to assign custom data before the engine runs, just after its creation:

[code]

I could assign my_var directly to `engine`, but I and the docs think that it is good practice to store user data in the state. (Specifically, I want to assign a `ProgressBar` instance.)

**Solution:**

[2018-10-21 12:47] vfdev-5 commented on #297
@milesial take a look at #193
Internal state I think should be reinitialised at each run. More on this you can find in #182.

[2018-10-21 12:59] miguelvr commented on #296
Hey @milesial, thanks for your input.

I agree that we should have a wrapper for the engine output to be saved as a metric, this would be the easiest and cleaner solution.

I think this is off the table because different engines can have different outputs, so it wouldn't generalize.

this could also be interesting, but it may be tricky to generalize to all the possible cases. We had a discussion w

[2018-10-21 13:10] milesial commented on #297
Thanks, so as I understand it the `engine.state` is more of a run-state that an engine-state. For my issue I will stick to assigning it directly to the engine I think. However if I wanted to checkpoint / resume the engine it wouldn't have saved my custom variable : what about checkpointing accross-runs custom variables ?

There is another solution:
[code]

but it involves an out-of-scope variable,

[2018-10-21 13:18] milesial commented on #296
I agree, one solution could be to ask for a function `output_to_str`, so the user is responsible for formatting the output. If no such function is passed, we can assume the returned variable is a float, string, ..., or has a `__repr__` method.

[2018-10-21 19:04] vfdev-5 commented on #297
@milesial i'm not quite sure to understand your question.

Anyway, to initialize a variable at start can be done as said [here](https://github.com/pytorch/ignite/issues/193#issuecomment-398054103):
[code]

But seeing the example you are providing with `engine.state.progress_bar = pbar`, what is the purpose to add progress bar to the state? You can call it directly from any handler:
[code]

[2018-10-21 19:34] vfdev-5 commented on #296
Concerning the issue, current implementation of `ProgressBar` actually works with other metrics if they are already computed. I agree that we need to improve the documentation on this.

Concerning the output and custom variables. What do you think about a solution as it is done for [`RunningAverage`](https://github.com/pytorch/ignite/blob/master/ignite/metrics/running_average.py#L9) ?

So a new AP

[2018-10-21 19:36] miguelvr commented on #296
I can make an option to persist the bar...

[2018-10-21 19:45] milesial commented on #297
@vfdev-5 I was thinking about someone that might use `engine.state` to store global info about the engine, variables that do not depend on the run and the run parameters (maybe to use in the process function, or in a handler). If the state is erased for each run, those variables would be erased at the start of each run.
I have no concrete example, I was just thinking about it.

In my case, I wante

[2018-10-21 19:48] vfdev-5 commented on #297
@milesial in this case you can just add this stuff to the engine directly:
[code]

[2018-10-21 19:51] milesial commented on #297
Yeah that's what I did :) I'll close the issue thanks.

[2018-10-21 19:51] #297 closed

[2018-10-21 19:58] milesial commented on #296
About the persistency, I was thinking about displaying the training loss for each batch, of course the loss of the last batch will be overwritten by the loss of the new batch. This allows us to look at the bar progression and see the evolution of the loss without getting spammed. At the end of the epoch, a handler can be used to print persistently the total average loss of the epoch.

[2018-10-21 20:01] vfdev-5 commented on #296
Actually, why you do not want to use a running average with loss at each batch ? As all discussion we started from this...

[2018-10-21 20:04] milesial commented on #296
I want to see the non-smoothed value of the current loss (this is why I proposed alpha=0 in https://github.com/pytorch/ignite/pull/295)

[2018-10-21 20:07] milesial commented on #296
So in the API, `output_transform` should return a printable object that the `ProgressBar` can use ? What if the returned object is already printable : a float, string, ... ? passing `lambda x: x` seems unnecessary.

[2018-10-21 20:36] milesial commented on #296
Okay, it would be nice to be able to pass `output_transform=True`, and it would treat it as `output_transform=lambda x: x`. But then the name `output_transform` is strange, we could rename it to `display_output`.

So we can pass the following into the `display_output` parameter :
- `None` or `False`: do not display output
- a callable : pass through it before displaying
- `True` : display without

[2018-10-21 20:48] vfdev-5 commented on #296
We have already introduced `output_transform` before in Metrics and I think we should keep same API for similar stuff here and not introduce something different instead. And keep thing simple.

-    `None`: do not display output
-    a callable : pass through it before displaying.

[2018-10-21 20:57] milesial commented on #296
Okay, I can live with that.
But for the `custom_variables` we assume they are all printable ? A list of tuples (var_name, output_transform) seems complicated.

[2018-10-22 07:29] vfdev-5 commented on #296
Yes, we can explicitly detail in the doc that progress bar can display only printable variables.

[2018-10-22 08:42] miguelvr commented on #296
you would actually have to transform it into a dictionary `{name: value}` for it to make sense

This doesn't generalize, you are only thinking about the `create_supervised_trainer` case. If you look at the DCGAN example you'll see the `step` function output it is actually a dictionary, for example.

[2018-10-28 17:15] #293 closed

[2018-10-29 08:44] amitibo opened #301 "Discussion about Metrics plotting"
Hello, I would like to discuss the automation the metric plotting.

## Motivation

Currently a big part of (my?) ignite scripts go into the boiler plate of logging the training and testing results, be it a set of **visdom** windows, **mlflow** experiments, logging files or any combination of these. Each time a metric is added or removed, all the logging mechanism needs to be updated accordingly.

[2018-10-29 09:20] miguelvr commented on #301
There's currently an ongoing PR for a TensorBoard handler (#265). A Visdom handler would be welcome as well, I think.

[2018-10-29 15:00] siddBanPsu opened #302 "Training accuracy"
In general, training accuracy is determined by the predictions during training and if there are dropout layers, those are in effect. So, generally we see training acc lower than val accuracy. However, in ignite, the evaluator has the metrics, when when runs after the epoch is complete, has dropout not effective and hence results in higher training acc. I saw there is an example that also says: "we

[2018-10-29 15:16] vfdev-5 commented on #302
@siddBanPsu precision of the model is lower if computed during the training because the model is also trained at the same time. The prediction on the first batch is more or less random (starting from scratch) and the prediction on the last batch is maybe better than previous ones. If total prediction is computed as an average on these predictions, we should understand that we do not measure the pe

[2018-10-29 17:20] #292 closed

[2018-10-29 17:30] #296 closed

[2018-10-29 17:36] jasonkriss commented on #301
@amitibo I am totally in agreement here. This logging/plotting of metrics is the only real significant source of boilerplate in my projects these days.

I'm not sure on the implementation yet. I definitely see your point on the confusion around ordering of metric computation and logging. @alykhantejani @vfdev-5 What are your thoughts on this? How are you currently handling this?

[2018-10-29 18:03] siddBanPsu commented on #302
Thanks @vfdev-5 . I will use RunningAverage for the smoothing metrics.

[2018-10-29 18:03] #302 closed

[2018-10-29 18:19] amitibo commented on #301
A possible solution to the confusion around ordering of metric computation is to have more fine grained `Events` enum, e.g. add `Events.EPOCH_FINALIZED` and `Events.ITERATION_FINALIZED` which are fired after the corresponging `..._COMPLETED` events. Logging handlers can attach to these events knowing that the metrics were already calculated.

[2018-10-29 18:43] amitibo commented on #301
BTW, I just noticed that there might already be an implicit assumption in the code, that the metrics handlers are called first (being attached to the evaluator `Engine` on its creation). If I am correct this assumption, for example, allows using the `ModelCheckpoint` with a `score_function` that uses the engine metrics. Note that both the `ModelCheckpoint` object and the `Metric.completed` method

[2018-10-29 21:34] vfdev-5 commented on #301
@amitibo yes, you are correct about implicit assumption about metrics, especially with `create_supervised_*`. Maybe we need to underline the logic that user need to setup metrics computation before setting up any handler using info from `engine.state.metrics`.

[2018-10-30 10:11] vfdev-5 commented on #301
@amitibo yes, you are correct about implicit assumption about metrics, especially with `create_supervised_*`. Maybe we need to underline the logic that user need to setup metrics computation before setting up any handler using info from `engine.state.metrics`.

[2018-10-30 22:25] zasdfgbnm opened #306 "Master branch nightly build depending on torch_nightly"
We need a build of ignite to allow people try nightly version of PyTorch together with ignite. Since the PyTorch is nightly built, it might be better to call this package `pytorch-ignite-nightly` which is also a nightly build of master branch, but with the dependencies on `torch` changed to `torch_nightly`.

cc: @vfdev-5

NB: I'm not sure the dependency should be `torch_nightly` or `torch-nightly`

[2018-10-30 22:30] vfdev-5 commented on #289
@miguelvr any updates on this :)

[2018-10-30 22:31] miguelvr commented on #289
I started it already, but I have been quite busy with work. Will work on it soon, sorry for the delay

[2018-10-30 22:33] vfdev-5 commented on #289
@miguelvr no problem, take your take :) I had a doubt whether it was already done in a PR on tqdm

[2018-10-30 23:07] #248 closed

[2018-10-31 20:36] vfdev-5 opened #307 "More metrics for regression tasks and forecasting"
Following the discussion in #305
We propose to implement the following list of  metrics

D1 = magnitude of error
- Mean Error
- Mean Normalized Bias
- Fractional Bias

D2 = absolute error
- Median Absolute Error
- Mean Absolute Relative Error / Mean Absolute Percentage Error
- Median Absolute Percentage Error
- Median Relative Absolute Error
- Geometric Mean Absolute Error
- Geometric Mean Relativ

[2018-11-01 02:32] anmolsjoshi commented on #307
@vfdev-5 I was interested in working on some of these metrics. Is that possible?

[2018-11-01 11:51] vfdev-5 commented on #307
@anmolsjoshi yes, I can implement one or several metrics from the list and send a PR as always :)

[2018-11-01 13:09] igormq opened #308 "Version selector on gh-pages like in pytorch docs"
I think that many of us are installing the ignite using the master branch.

It would be nice if the ignite documentation also contains the master docs like https://pytorch.org/docs/versions.html.

What do you think?

Best,
Igor.

[2018-11-01 14:12] zasdfgbnm commented on #307
Would there be memory issue with `Median XXX Error`? It requires recording all histories.

[2018-11-01 14:40] vfdev-5 commented on #308
@igormq today the documentation reflects the master version and not the stable 0.1.0.
I agree that it would be nice to add such selector between versions.

[2018-11-01 14:53] vfdev-5 commented on #307
@zasdfgbnm yes it can potentially lead to a memory issue if we implement it by storing everything.
Today we already have `EpochMetric` that stores all predictions and ground-truths. BTW it worse to note that in the docs of `EpochMetric`.

[2018-11-01 14:55] vfdev-5 opened #309 "Improve docstring of EpochMetric"
As the current implementation stores all predictions and targets in RAM we need to explicitly detail such behaviour and note that this could lead to a memory error depending on the size of the input data.

[2018-11-01 15:08] miguelvr commented on #308
I think the easiest way is to host the documentation on readthedocs.org

[2018-11-01 15:29] vfdev-5 commented on #308
@miguelvr yes, it is pretty easy to deal with that in `readthedocs.org`, but today our docs are at `pytorch.org/ignite` and not all projects have this opportunity :)

[2018-11-01 15:48] miguelvr commented on #308
yeah, but `pytorch.org` has the version selector, so I guess we can still do it.

Since you brought that up:

It is a shame that this project does not appear on https://pytorch.org/ecosystem, or is linked in the main page in some way.

[2018-11-01 16:02] vfdev-5 commented on #308
@miguelvr yes, we talked about that with @soumith, he told that he will work on it, to highlight ignite and skorch, and we are still waiting :)

[2018-11-02 04:23] anmolsjoshi opened #310 "Multilabel Option for Accuracy, Precision and Recall"
### Proposal
As previously discussed #275 , we should incorporate multilabel cases for precision, recall and accuracy.

### How
Add a multilabel flag to each of the metrics, listed above. For multilabel cases, y and y_pred should be shape (batch_size, n_classes, ...) where n_classes is more than 1 (not possible with binary).

Convert y_pred to 0's and 1's using the method below or round y_pred.

[

[2018-11-02 10:42] miguelvr opened #311 "RunningAverage malfunction when attached to multiple outputs"
I just verified in `examples/gan/dcgan.py` that if we attach multiple RunningAverages in a for loop, the value updated to all the metrics is the one corresponding to the last value in the for loop.

The code snippet:
[code]

The values being printed in the progress bar (all the same):
[code]

I've check and the output values are correct. What is corrupted is the `engine.state.metrics` values

If y

[2018-11-02 11:44] vfdev-5 commented on #311
Thanks for catching this @miguelvr !

[2018-11-02 11:46] vfdev-5 commented on #311
Fixed by #312

[2018-11-02 11:59] miguelvr commented on #311
@vfdev-5 my PR doesn't fix the issue. We should still look into it

[2018-11-02 18:58] vfdev-5 opened #313 "Missing output_transform + bug with check once the signature"
As it was remarked by @amitibo in the [comment](https://github.com/pytorch/ignite/pull/235#issuecomment-435335041) there is a output_transform missing in `__init__` of `ROC_AUC` and `AveragePrecision`.

There is also a bug with `check once the signature` [here](https://github.com/pytorch/ignite/blob/master/ignite/metrics/epoch_metric.py#L61) if the input data is such that a single batch does not s

[2018-11-02 22:11] vfdev-5 commented on #311
The problem is with `output_transform=lambda x: x[metric]` and especially with `metric` variable. Here is a snippet:
[code]

[2018-11-04 06:14] jwickens opened #316 "ignite.metrics not available in conda/pip 0.1.0 version"
Hi, when using both miniconda and pip with python3.6 I get module member import errors on

[code]

Installing from source is the work around.

[2018-11-04 09:49] vfdev-5 commented on #316
@jwickens thank you for the feedback! Yes, this is correct. Importing modules as you mentioned has been recently introduced to master. In 0.1.0 we provided only the variant `from ignite.metrics import MeanPairWiseDifference`.

[2018-11-05 18:51] #169 closed

[2018-11-06 08:27] amitibo opened #317 "ParamScheduler doesn't support multiple optimizers/multiple parameter groups"
Currently `ParamScheduler` (in the `contrib` module) does not support per-parameter scheduling (https://pytorch.org/docs/stable/optim.html), i.e. the scheduled parameter will be updated uniformly in all the parameter groups of the optimizer. It will be beneficial to be able to update only a specific parameter group.

It also doesn't fully support the use of multiple optimizers. For example if two

[2018-11-06 08:56] amitibo commented on #317
A possible solution is to make the parameters more general, i.e. leave it to the user to decide what to do with their value. For example the user can specify a callback that sets a specific parameter group or a parameter of a specific optimizer.
Parameters should also be given a name (similar to `Metric`) and this name should be used for keeping track of their history. This way, different `ParamSc

[2018-11-06 10:48] amitibo commented on #317
Another "less radical" solution is instead to allow the option of passing a specific `optimizer.param_groups` item (as the `optimizer` argument).

[2018-11-06 20:09] vfdev-5 opened #319 "ParamScheduler docs missing"
No docs on `ParamScheduler` and related classes on the [site](https://pytorch.org/ignite/contrib/handlers.html).

[2018-11-06 21:09] vfdev-5 commented on #317
@amitibo thanks for the issue, seems interesting idea is raised. I would like to understand better your proposition, if I well understand.

Let's say my model is composed of `stem`, `blocks` and `classifier`.

(https://pytorch.org/docs/stable/optim.html), i.e. the scheduled parameter will be updated uniformly in all the parameter groups of the optimizer. It will be beneficial to be able to update

[2018-11-06 21:31] amitibo commented on #317
@vfdev-5 my proposition handles two cases:

### multiple optimizers
[code]

### parameter groups
[code]

[2018-11-06 21:45] vfdev-5 commented on #317
@amitibo the first case I think is already covered just by defining multiple optimizers, no need of "stem lr", "blocks lr" etc.

The second case is very similar to the first case and just avoids defining multiple optimizers and we can reuse simple engines with a single optimizer.

[2018-11-06 21:51] amitibo commented on #317
@vfdev-5  Note, that in the first case, the three schedulers ,if called with `save_history=True`, will overwrite the same field, "lr", in `engine.state.param_history`. Therefore there is a need to allow for passing a unique name for each param_scheduler.

I think that `ignite` should support the param_groups feature of `pytorch`

[2018-11-06 22:19] vfdev-5 commented on #317
@amitibo OK, I see, would not be better to check internally whether key exists and add something to avoid overwritting. If user sets the same names (by error, copy-pasting) it will overwrite as well ?

I agree, this will be a good feature !

[2018-11-07 02:48] zasdfgbnm opened #321 "Arithmetic of metrics?"
Is it good to support arithmetics of metrics?

For example, `metric1 + metric2` gives a new metric whose update function is updating metric1 and metric2, and compute function is the sum of the compute of metric1 and metric2.

The idea comes from wiki: https://en.wikipedia.org/wiki/Sensitivity_and_specificity

There are many things to do with confusion matrix, see the table in https://en.wikipedia.

[2018-11-07 03:00] #319 closed

[2018-11-07 07:39] vfdev-5 commented on #321
@zasdfgbnm excelent idea, thanks ! I was thinking about a similar stuff previously in a very simple case of `accuracy` -> `error = 1.0 - accuracy`.
The API I was thinking of is something like:
[code]

👍

[2018-11-07 07:41] vfdev-5 commented on #317
@amitibo yes, something like that.

[2018-11-07 09:06] amitibo commented on #321
I am already using a reduction metric:
[code]
I can create a PR, let me know about the API.

[2018-11-07 12:39] #262 closed

[2018-11-07 14:20] anmolsjoshi commented on #310
@vfdev-5 thoughts?

[2018-11-07 17:32] jasonkriss commented on #321
Love this idea!

[2018-11-07 23:04] vfdev-5 commented on #310
Maybe this should be configurable with a function ?

👍

[code]
This I do not quite understand why.

Thinking about implementation, I think we would need to define another update function and not try to
incorporate a lot of `if self._is_multilabel`.
Maybe we can create a class `MultilabelAccuracy` in `accuracy.py` near `Accuracy` and maybe inherit of the latter.

[2018-11-08 01:03] anmolsjoshi commented on #310
@vfdev-5 the snippet of code is another method to convert y_pred to 1's and 0's and return the same shape as y. please feel free to ignore it, we can stick with torch.round as the default function and allow it to be overridden by the user (different threshold, etc).

Did you mean MultilabelAccuracy would be another metric? available in accuracy.py and inheriting Accuracy, with a changed update fun

[2018-11-08 01:14] vfdev-5 commented on #310
@anmolsjoshi correct. I thought about something like: `from ignite.metrics.accuracy import Accuracy, MultilabelAccuracy`. I was trying to implement update function and it becomes a mess of `if else`. If you can find a more neat solution, we'll take it.

Just to make sure, `y_pred` is of shape (n_batch, n_classes, ...) and is composed of logit or probas etc and a priori is not bound between 0 and 1

[2018-11-08 01:14] vfdev-5 commented on #310
cc @rpatrik96

[2018-11-08 01:29] vfdev-5 commented on #310
@anmolsjoshi I think it is different for multilabel precision and recall too, but we need to verify. Take a look at [sklearn.precision](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html#sklearn.metrics.precision_score) as reference.
To compute with multilabels it will be something like : `precision_score(y_true, np.round(y_pred), average='samples')`.

[2018-11-08 01:32] weihuangxu commented on #307
@vfdev-5 @anmolsjoshi @zasdfgbnm I think metrics are so cool. I would like to help with this issue. May I know what metrics you have been working on right now? I can start with some of the rest metrics.

[2018-11-08 01:38] vfdev-5 commented on #307
@weihuangxu I would say you can start with any metric you like (for instance avoid taking one with median) and send a PR. At the moment, there is no PRs, so they are all available :)

[2018-11-08 17:30] adityabalu commented on #251
I think the pip install is not updated yet, I got an error while running the example code (somehow the Accuracy metric was not imported).  Installing from source worked fine

[2018-11-08 19:03] vfdev-5 commented on #309
Fixed by #314

[2018-11-08 19:03] #309 closed

[2018-11-08 19:05] vfdev-5 commented on #270
Close this one in favor of #306

[2018-11-08 19:05] #270 closed

[2018-11-09 01:14] anmolsjoshi commented on #310
@vfdev-5 in that example you wrote, if we calculate np.round(y_pred) * y_true and take the sum we get 22 - that is the total number of 1's in the intersection of y_pred and y.

np.round(y_pred).sum() gives us 30 - that's the total number of 1's in y_pred.

Dividing these two gives us 0.7333. But when tested with sklearn, the answer is 0.7435.

I will have to investigate this further.

[2018-11-09 16:23] fer-git opened #328 "Update v0.1.1 to Pypi and Conda"
Hi,

Could you please update ignite on Pypi / conda? I am excited to try the updated version. Thanks.

[2018-11-09 16:33] vfdev-5 commented on #328
@fer-git yes, I'm working on it :) This should be done soon

[2018-11-09 20:32] vfdev-5 commented on #328
@fer-git close it as the release is done:
- Conda: https://anaconda.org/pytorch/ignite
- PyPI: https://pypi.org/project/pytorch-ignite/

[2018-11-09 20:32] #328 closed

[2018-11-09 20:34] vfdev-5 commented on #251
Close it as the release v0.1.1 on conda contains binaries for Linux, OSX, Windows: https://anaconda.org/pytorch/ignite

If problem remains, feel free to reopen it.