[2022-02-19 15:37] KevinMusgrave commented on #2480
Yes, basically I don't want to have to copy-paste this snippet into my own code:

https://github.com/pytorch/ignite/blob/c202a9ab06f0fdf51c6fb7eda7bc8ee2ecab0ac8/ignite/handlers/checkpoint.py#L403-L411

[2022-02-19 15:38] #2437 closed

[2022-02-19 15:40] vfdev-5 commented on #2480
I see, that makes sense. Let me see what can be done for that.

[2022-02-19 16:10] vfdev-5 opened #2482 "Uniformize {ModelCheckpoint,Checkpoint}.load_checkpoint"
We have to make output uniform between `ModelCheckpoint` and `Checkpoint`

ModelCheckpoint.load_checkpoint always can return full filepath. ModelCheckpoint.load_checkpoint can return full filepath if save_handler is DiskSaver, otherwise return only filename (as it is done now)

Also let's fix this error message inside `ModelCheckpoint.load_checkpoint`
[code]

_Originally posted by @vfdev-5 in http

[2022-02-19 19:38] sayantan1410 opened #2484 "test_distrib_cpu from test_inception_score.py is failing."
## 🐛 Bug description
I ran the test_inception_score.py locally and `test_distrib_cpu` test failed with the error:
`fixture 'worker_id' not found`.

Function `test_distrib_cpu` calls another function `distributed_context_single_node_gloo` from conftest.py which takes in `local_rank` as parameter. `local_rank` is another function in conftest.py which takes in `worker_id` as parameter. But the worker

[2022-02-19 20:14] vfdev-5 commented on #2484
To run these test you have use xdist : https://github.com/pytorch/ignite/blob/master/tests/run_cpu_tests.sh#L19

[2022-02-20 09:57] #2418 closed

[2022-02-20 10:35] #2472 closed

[2022-02-20 10:40] sadra-barikbin commented on #2441
@trsvchn By "how-to-guides" you mean a place like [this](https://pytorch.org/ignite/concepts.html#events-and-handlers)?

If yes, so I add the example to this page and then add reference to it in `create_lr_scheduler_with_warmup`'s page. Am I right?

[2022-02-20 11:40] sadra-barikbin opened #2488 "Add StepParamScheduler feature"
## 🚀 Feature

I propose to add `StepParamScheduler` to `ignite.handlers.param_scheduler`. It is basically used to multiply a parameter
by a fixed factor every `step_size` steps. This can be done by subclassing `ParamScheduler` and implementing its simple logic.

This class is commonly used, so it's good to have it in the Ignite.

[2022-02-20 11:51] #1754 closed

[2022-02-20 12:06] vfdev-5 commented on #2488
Thanks for the feature request. I'm not sure that we need to wrap all built-in torch lr schedulers. Today user can use LRSheduler to wrap torch schedulers : https://pytorch.org/ignite/v0.4.8/generated/ignite.handlers.param_scheduler.LRScheduler.html#lrscheduler

What would be an added value by explicitly providing StepParamScheduler ?

[2022-02-20 12:21] sadra-barikbin commented on #2488
Yes, you're right. I had written it for a project, so I attempted for a PR.

[2022-02-20 14:59] #2479 closed

[2022-02-20 15:33] #2482 closed

[2022-02-20 15:33] #2475 closed

[2022-02-20 18:17] sdesrozis commented on #2480
A quick and dirty implementation could be the following
[code]

@KevinMusgrave does it sound good to you or I missed the point ?

[2022-02-20 18:29] KevinMusgrave commented on #2480
Looks good to me!

[2022-02-21 16:43] trsvchn commented on #2441
@sadra-barikbin we meant our new how-to-guides page, [here](https://pytorch-ignite.ai/how-to-guides/)

[2022-02-21 16:58] trsvchn commented on #2441
@sadra-barikbin so basically you add example to this [examples](https://github.com/pytorch-ignite/examples) and it will rendered on the main website (the new one) and we can reference it then.

please check the [contributing guide for the examples](https://github.com/pytorch-ignite/examples/blob/main/CONTRIBUTING.md) and do not hesitate to ask for the help!

[2022-02-21 20:51] sdesrozis commented on #2480
@vfdev-5 Interested by your feedback, I will submit a PR afterwards.

[2022-02-21 20:59] vfdev-5 commented on #2480
@sdesrozis looks good to me as well. I was also wondering if we could make the method signature as
[code]
basically, fetching filename_components as kwargs and rarely used `load_kwards` as a dict

[2022-02-22 12:48] #2484 closed

[2022-02-22 18:16] sadra-barikbin commented on #2488
@vfdev-5 This class is also useful in the case where user wants to apply such scheduling on a parameter other than LR or a specific parameter group.

[2022-02-22 18:29] vfdev-5 commented on #2488
Yes, you are right about other then LR parameter scheduling. Do you have a use case for that ?

[2022-02-22 21:09] vfdev-5 commented on #2488
LRScheduler is a wrapper over torch lr scheduler. I think if torch lr scheduler already works on a single group then LRScheduler can work on a group...

[2022-02-22 21:18] sadra-barikbin commented on #2488
It could work, but only by separating their optimizers. That gets difficult. PyTorch's `_LRSchduler` does not accept a `param_group_index`-like parameter.

[2022-02-23 05:49] sayantan1410 commented on #1284
@vfdev-5 Hey, just a small question, to make precision_recall_curve.py work in DDP,  to write the metric from scratch instead of using the one from sci-kit learn ? Or there is some other way of doing it ?

[2022-02-23 15:44] yuta0821 commented on #2465
Hi, I would like to contribute about this issue.
I have read through the source code for the relevant parts.
If don't use the current way to use `LRScheduler` wrapper for pytorch >= 1.1.0, I think that we can maintain the original output by replacing the code as follows

-  current code
https://github.com/pytorch/ignite/blob/493d86dc0eae7ad1fb4fd703cff2e3c7230dfbbf/ignite/handlers/param_scheduler.

[2022-02-23 19:46] sdesrozis commented on #2465
It sounds good !

Maybe you could just add an extra argument `use_legacy` or whatever and a suitable depreciation message if we would have the current behaviour for BC.

Well done though !

[2022-02-24 02:35] yuta0821 commented on #2465
@sdesrozis
Thanks a lot !

OK, I will submit PR such that include suggested code and extra argument `use_legacy: bool` with warning message.

[2022-02-24 16:32] vfdev-5 commented on #2465
@yuta0821 if I understand correctly, you introduce `update_last_epoch` flag and you use it inside `__call__` method.
If we could have a better name, it would be better from user experience. Secondly, I think if we need to call once more `self.lr_scheduler.last_epoch += 1` for the previous behaviour and just do
[code]
for the new behaviour, let's call `self.lr_scheduler.last_epoch += 1` inside the

[2022-02-24 23:37] yuta0821 commented on #2465
@vfdev-5
Thank you for your advice.
It sounds good !
If put your idea into code, is it corret to express it as follows ?
- code
[code]
- output
  - current example
[code]
[code]
  - desired example using `LRScheduler`
[code]
[code]
  - simulate values example using `LRScheduler`
[code]
[code]

[2022-02-25 00:22] github-actions[bot] opened #2491 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 493d86dc0eae7ad1fb4fd703cff2e3c7230dfbbf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1896012269

Feel free to close this if this was just a one-off error.

[2022-02-25 05:47] henrykironde opened #2492 "Urgent GSoC revisions are needed"
Confirmation needed: https://github.com/numfocus/gsoc/issues/396
Google is not happy with our idea lists.

1. Be sure to include whether the project is a 175 hour (medium sized) or 350 hour (large project). If it can be either, please state that-per idea.
2. `Your Ideas Page URL should be accessible to all and not require login. --- (Covered)`
3. As we state in the Defining a Project Idea List sec

[2022-02-25 09:26] vfdev-5 commented on #2465
@yuta0821 thanks for the code. The idea I exposed previously was to avoid if statement in the `__call__` and do something like:
[code]

Can you please check if this works ?

[2022-02-25 09:35] yuta0821 commented on #2465
@vfdev-5
OK, I understand.
I check if your code works and it works well.

[2022-02-25 09:40] vfdev-5 commented on #2492
Hi @henrykironde , thanks for the feedback, I updated our Ideas list : https://github.com/pytorch/ignite/wiki/GSoC-2022-project according to your suggestions !  Please let me know if we need to add something else. Thanks a lot !

[2022-02-25 10:03] #2491 closed

[2022-02-25 11:26] yuta0821 commented on #2465
@vfdev-5
Can I submit PR about this improvement ?

[2022-02-25 12:43] vfdev-5 commented on #2465
@yuta0821 yes, sure! Thanks

[2022-02-25 14:49] #2492 closed

[2022-02-26 00:22] github-actions[bot] opened #2495 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 5bccc154a776a4af6226b20447b1962886df6393**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1901375406

Feel free to close this if this was just a one-off error.

[2022-02-27 22:26] #2495 closed

[2022-02-28 06:23] louis-she commented on #2423
After some tests, the batch-size issue is caused by `device`, if you give device='cuda' to the code provided, it will get different results with batch size 10 and 100:

[code]

<img width="946" alt="image" src="https://user-images.githubusercontent.com/2050207/155932973-a8ff8586-b90e-496c-a673-15cc9a53e72e.png">

The official fid automatically enables cuda by default, so the results of it with dif

[2022-02-28 08:58] louis-she commented on #2423
I confirmed that the main difference is comming from the batch size with device CUDA. If fixed that, there is still a very minor difference which should be comming from the implementation of computing `covariance matrix`.

The official implementation use `np.cov` to get it but ignite online version is computing manually.

Also the ignite implementation is mainly based on `torch.Tensor` but officia

[2022-02-28 10:17] codeboy5 commented on #683
Hey @vfdev-5, can i take this issue up ?
I would like to follow the sklearn implementation and further look into making it a distributed implementation ?

[2022-02-28 10:22] vfdev-5 commented on #683
@codeboy5 yes, go ahead, thanks.
Please, put here some details on how you would like to implement it and test the implementation.

[2022-02-28 10:40] codeboy5 commented on #683
I was planning to replicate this implementation (https://github.com/scikit-image/scikit-image/blob/main/skimage/metrics/set_metrics.py) in the structure of reset, update and compute which metrics in ignite follow.
We can start by this and see further if changes are required.
Does this sound good ?

[2022-02-28 10:59] vfdev-5 commented on #683
I'm not quite sure about simply porting scikit-image implementation as they use scipy and cKDTree. In our case we would like to keep less external deps.
Another point I'd start by an application and make clear on what kind of data this metric would work on: images, vectors, something else ?
Another question to answer is: can we compute it in online way ? What structures we need to accumulate and h

[2022-02-28 11:48] vfdev-5 commented on #2423
@louis-she thanks a lot for the investigations ! Let's do the following:
- let's open a new issue for cpu/cuda results inconsistency.
- update docs of ignite FID with code snippets from this issue providing an example and explaining how to compute almost similar results for pytorch-FID.

[2022-02-28 14:09] sadielbartholomew commented on #683
Hi, really sorry I didn't respond again - in the end I got given some urgent work that took up most of my time, so couldn't get this done. I'm glad someone else has offered to do it! Good luck :)

[2022-03-02 21:13] harshit2000 commented on #2026
Hi @vfdev-5, I am new to Pytorch Ignite and the project seems interesting. I am learning via docs and want to work on my first good issue. Can you highlight any?

[2022-03-04 00:22] github-actions[bot] opened #2499 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1931092794

Feel free to close this if this was just a one-off error.

[2022-03-04 12:59] louis-she commented on #2423
The batch size issue is due to floating-point precision,  you can produce this issue with the following simple snippet.

[code]

output:

[code]

if we set the default type to `torch.float64` in the third line of this code, the output will be the same both for CPU and Cuda.

inference: https://discuss.pytorch.org/t/slightly-different-results-for-different-batch-sizes/43458

[2022-03-04 18:31] kkarrancsu opened #2500 "Using auto_dataloader with a custom sampler"
The [docs](https://pytorch.org/ignite/generated/ignite.distributed.auto.auto_dataloader.html) for auto_dataloader are confusing to me, with respect to whether providing alternate samplers work in the DistributedDataParallel mode.

One of the bullet points indicates:"if another sampler is provided, it is wrapped by [DistributedProxySampler](https://pytorch.org/ignite/generated/ignite.distributed.au

[2022-03-04 20:03] vfdev-5 commented on #2500
@kkarrancsu originally a dataloader can accept a sampler or a batch sampler, check out : https://pytorch.org/docs/stable/data.html?highlight=dataloader#torch.utils.data.DataLoader
Let me know if it becomes clear now ?

[2022-03-04 21:52] kkarrancsu commented on #2500
That is clear - thanks! I never used the batch_sampler functionality before.

[2022-03-04 21:52] #2500 closed

[2022-03-05 00:22] github-actions[bot] opened #2501 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1936453785

Feel free to close this if this was just a one-off error.

[2022-03-06 00:29] github-actions[bot] opened #2502 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1939580206

Feel free to close this if this was just a one-off error.

[2022-03-07 00:20] github-actions[bot] opened #2503 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1942727431

Feel free to close this if this was just a one-off error.

[2022-03-07 19:39] kkarrancsu opened #2504 "how to use all_gather in training loop?"
I have defined my train_step in the exact same way as in the [cifar10 example](https://github.com/pytorch/ignite/blob/master/examples/contrib/cifar10/main.py#L319). Is it possible to gather all of the predictions before computing the loss? I haven't seen examples of this pattern in the ignite examples (maybe I'm missing it?), but for my application, it is more optimal to compute the loss after agg

[2022-03-07 21:29] sdesrozis commented on #2504
@kkarrancsu Thank you for this question. Using `idist.all_gather()` in your training loop is possible as long as the call is made by all the processes. This is a collective method call.

I will provide an usage example asap. Sorry for the delay.

[2022-03-07 22:00] sdesrozis commented on #2504
@kkarrancsu Thanks for your answer.

In general, `idist.all_gather()` can be used as long as the call is made collectively by all the processes. Therefore, you can use this method to gather the predictions in your training loop.

I can provide an example asap and maybe update the doc accordingly.

However, I'm not completely sure about your question. In fact, if you want to compute predictions in

[2022-03-07 22:05] kkarrancsu commented on #2504
@sdesrozis Thanks for your quick reply! Sorry if my initial question was unclear.  As an example, consider the following `DataParallel` case.

[code]
I'd like to gather all the `y_ddp` from all gpu's before computing a loss.  I hope that makes the question clear?

[2022-03-07 22:45] kkarrancsu commented on #2504
I'd like to call `loss.backward()`

[2022-03-08 00:21] github-actions[bot] opened #2505 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1948660719

Feel free to close this if this was just a one-off error.

[2022-03-08 06:39] sdesrozis commented on #2504
Ok so I think it won't work even if you gather the predictions. The gathering operation is not an autodiff function so it will cut the graph computation. The forward pass creates some internal states that won't be gathered too.

Although I'm pretty sure that is answered in the PyTorch forum. Maybe I'm wrong though and I would be interested by a few discussions about this topic.

[2022-03-08 07:40] #1284 closed

[2022-03-08 14:16] kkarrancsu commented on #2504
@sdesrozis Thanks - I will investigate based on your link and report back.

[2022-03-08 14:22] sdesrozis commented on #2504
Good ! Although I’m doubtful about the link… Interesting by your feedback.

[2022-03-08 14:27] vfdev-5 commented on #2504
@kkarrancsu can you provide a bit more details on what exactly you would like to do ?
In DDP, data is distributed to N processes and model is cloned. When we do the forward pass each process obtains predictions `y_preds = m_ddp(x)` on its data chunk and using a loss function and `loss.backward()` we can compute gradients that are finally sum up and applied to the model internally by pytorch DDP mo

[2022-03-08 15:24] kkarrancsu commented on #2504
Hi @vfdev-5, sure.

We are using the [Supervised Contrastive loss](https://arxiv.org/pdf/2004.11362.pdf) to train an embedding. In Eq. 2 of the paper, we see that the loss depends on the number of samples used to compute it (positive and negative).

My colleague suggested to me that it is more optimal to compute the loss considering all examples (the entire batch), rather than considering `batch/n

[2022-03-08 19:47] sdesrozis commented on #2504
Ok I understand. You should have a look to a distributed implementation of SimCLR. See for instance

https://github.com/Spijkervet/SimCLR/blob/cd85c4366d2e6ac1b0a16798b76ac0a2c8a94e58/simclr/modules/nt_xent.py#L7

This might give you some inspiration.

[2022-03-09 00:21] github-actions[bot] opened #2508 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 90d79aa7b6d0a52b2741943b62baab2ea0461453**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1954505837

Feel free to close this if this was just a one-off error.

[2022-03-09 13:32] #2499 closed

[2022-03-09 13:32] #2501 closed

[2022-03-09 13:32] #2502 closed

[2022-03-09 13:32] #2503 closed

[2022-03-09 13:32] #2505 closed

[2022-03-09 13:55] #2508 closed

[2022-03-09 13:57] github-actions[bot] opened #2510 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1d6cd03089a28e49a8d8d04dd005a01c72ff7027**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1957563721

Feel free to close this if this was just a one-off error.

[2022-03-09 14:00] #2510 closed

[2022-03-11 10:31] #2423 closed

[2022-03-12 00:22] github-actions[bot] opened #2513 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 2eb3bcf4949821a3c894a21a781c5a34bb5545e2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1971584114

Feel free to close this if this was just a one-off error.

[2022-03-12 10:59] sadra-barikbin commented on #2328
Hi @vfdev-5
I'm back. Assign it to me if you will.

[2022-03-12 14:19] #2513 closed

[2022-03-13 00:22] github-actions[bot] opened #2515 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 2eb3bcf4949821a3c894a21a781c5a34bb5545e2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1974776986

Feel free to close this if this was just a one-off error.

[2022-03-14 16:04] sayantan1410 opened #2517 "One test for some of the metrics in contrib/metrics needs improvement"
## 🐛 Bug description

The tests from :
- [ ]  contrib/metrics/precision_recall_curve.py
- [ ] contrib/metrics/regression/test_median_absolute_error.py
- [ ]  contrib/metrics/regression/test_median_percentage_absolute_error.py
- [ ] contrib/metrics/regression/test_relative_median_absolute_error.py

 is not correct at the moment but it passes.

The reason:
" Each process has the same random state (n

[2022-03-14 16:38] vfdev-5 commented on #2517
@sayantan1410 can you extend this issue to other tests that suffer from the same problem

[2022-03-18 00:21] github-actions[bot] opened #2519 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit da767ab1a87e231731ff4e36a9225838d9912f4d**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2001504733

Feel free to close this if this was just a one-off error.

[2022-03-18 09:35] #2519 closed

[2022-03-21 19:39] DevPranjal commented on #1992
Hello, @sdesrozis @vfdev-5. Is this feature request still on the cards? I would love to discuss further and contribute.

[2022-03-21 19:54] vfdev-5 commented on #1992
@DevPranjal yes, it is still open issue that we would like to have.

[2022-03-22 09:11] DevPranjal commented on #1992
Great, so if I can compile the previous discussions, we need level wise debugging modes:
- [ ] **Level 1**: simple event and handler prints, output saving and visualization
- [ ] **Level 2**: tracking loss, lr, scheduler calls
- [ ] **Level 3**: tracking gradients, updates

@vfdev-5 The debug level API will be accessed through `engine.run(...)`?

[2022-03-22 09:48] vfdev-5 commented on #1992
I was thinking about `engine.debug(enabled=True, level=level)` and `engine.debug(enabled=False)`.

[2022-03-22 11:26] vfdev-5 opened #2522 "Improve tests using pytest parametrize"
## Improve tests using pytest parametrize

The idea is to improve our testing code using [`pytest.mark.parametrize`](https://docs.pytest.org/en/7.1.x/reference/reference.html#pytest-mark-parametrize).

Currently some tests are implemented as :
[code]

We would like to implement that using `pytest.mark.parametrize`:
[code]

Another example PR doing that for a test case: https://github.com/pytorch/i

[2022-03-22 12:47] vfdev-5 commented on #1992
Yes, you are right maybe a binary flag would be better option:
[code]

Provided flag names are just examples and can be renamed if a better naming can be found

[2022-03-22 13:26] DevPranjal commented on #1992
Sure.
For a start, I tried the following:
[code]

[2022-03-22 13:34] vfdev-5 commented on #1992
@DevPranjal there is also `self.logger` https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/ignite/engine/engine.py#L125

[2022-03-22 14:04] DevPranjal commented on #1992
Yes.

Can I change the approach to have custom log levels, using `logging.addLevelName` for all the three levels?

or do I simply change the above to:
[code]
or anything else?

[2022-03-22 19:04] nmcguire101 commented on #2522
Hi, I would like to implement this.

[2022-03-22 21:07] vfdev-5 commented on #2522
@nmcguire101 please follow "What to do" guidelines

[2022-03-23 11:11] divo12 commented on #2522
In https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/tests/ignite/metrics/gan/test_fid.py#L158
https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/tests/ignite/metrics/gan/test_inception_score.py#L68
the _test function could be improved in the _test_distrib_integration function
Draft code:
[code]

[2022-03-23 11:17] vfdev-5 commented on #2522
@divo12 thanks for the suggestion. Sorry, I had to mark that all `_test_distrib_*` tests can be difficult to port using pytest parametrize. Please, take a look at https://github.com/pytorch/ignite/blob/master/tests/ignite/handlers/test_param_scheduler.py tests, for example: https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/tests/ignite/handlers/test_param_scheduler.py

[2022-03-23 11:44] divo12 commented on #2522
@vfdev-5
check this one
https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/tests/ignite/handlers/test_checkpoint.py#L99
draft code:
[code]

[2022-03-23 17:13] divo12 commented on #2522
Umm i could shift this part of my code above 'test_checkpoint_default' and parametrize 'test_checkpoint_default' with the parameters of '_test' and remove '_test'
[code]

What is going to be the tricky part in this?

[2022-03-23 17:27] vfdev-5 commented on #2522
In this case you declared
[code]
as globals which is not the best choice neither but maybe OK... You can see in this test file that there are many other tests using the same pattern and using `model`, `optimizer`. What we can do is to define `model`, `optimizer` globally near `class DummyModel(...)` and use parametrize as you drafted...

@divo12 please update other tests and send a PR. Thanks !

[2022-03-24 00:20] github-actions[bot] opened #2524 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 3a286b1d13a4a0476b3ee8e8046f16465818c9f6**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2031436023

Feel free to close this if this was just a one-off error.

[2022-03-24 07:13] divo12 commented on #2522
@vfdev-5 I have sent a draft PR.Please review it

[2022-03-24 10:20] Ishan-Kumar2 commented on #2522
Hi @vfdev-5
Great idea of using `pytest.mark.parameterize`

A simple fix in https://github.com/pytorch/ignite/blob/3a286b1d13a4a0476b3ee8e8046f16465818c9f6/tests/ignite/handlers/test_time_limit.py#L18-L39 would be to write it as

[code]
and move the `_train` function outside.
Let me know what you think. Thanks!

[2022-03-24 10:23] vfdev-5 commented on #2522
Looks good to me @Ishan-Kumar2 , please send a PR :)

[2022-03-24 16:54] vfdev-5 opened #2527 "Replace all `torch.Tensor` by `torch.tensor`"
## 📚 Documentation

@sdesrozis  it is incorrect to create tensors with `torch.Tensor` and should be replaced by `torch.tensor`.

https://github.com/pytorch/ignite/blob/3b821e27ec41fffbbe5e43658798040f7024ba0b/ignite/metrics/accuracy.py#L125-L134

This way we wont need neither cast to `.long` : `y_true = torch.Tensor([2, 0, 2, 1, 0, 1]).long()`

https://github.com/pytorch/ignite/blob/3b821e27ec41ff

[2022-03-25 09:02] #2527 closed

[2022-03-28 17:04] vinayak015 opened #2532 "SSIM update does not work for the last batch (if batch size is different)"
## 🐛 Bug description
![Screenshot 2022-03-28 at 4 27 36 PM](https://user-images.githubusercontent.com/13629918/160447093-d5c0980e-4951-4eaa-930b-6dd9ea7992a4.png)

## Environment

- PyTorch Version :1.10.1
- Ignite Version ():0.4.8
- OS : Ubuntu
- How you installed Ignite (`conda`, `pip`, source):
- Python version: 3.9
- Any other relevant information:

If the previous batch and the current batch

[2022-03-28 17:11] vfdev-5 commented on #2532
Thanks for reporting @vinayak015 ! Looks like a bug

[2022-03-28 18:01] vinayak015 commented on #2532
Thanks for accepting it. I am happy to work on it, if that's alright.

[2022-03-28 19:21] sdesrozis commented on #2532
@vinayak015 Thank you for your help !

[2022-03-28 20:14] vfdev-5 commented on #2532
@vinayak015 yes, thanks for proposing to help.
Let me expose here how I would tackle the issue.
1) Create a test that would reproduce the issue and fail with the current codebase
2) Fix the implementation of SSIM

Please, take a look of our contributing guide for info : https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md

[2022-03-29 00:22] github-actions[bot] opened #2533 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 2c0e0972f9b2509d69ad391ea1b95e4c00ae40e1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2055577683

Feel free to close this if this was just a one-off error.

[2022-03-29 20:53] #2533 closed

[2022-03-29 20:53] #2524 closed

[2022-03-29 20:53] #2515 closed

[2022-03-31 09:08] vinayak015 commented on #2532
I will work on it after 11th April, as I do not have bandwidth left right now. In the mean time the temporary workaround is to drop the last batch!

[2022-04-01 00:21] github-actions[bot] opened #2535 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 82a929d3e452ccaba8c7767148231e741b6335e5**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2074256536

Feel free to close this if this was just a one-off error.

[2022-04-02 17:00] RMeli opened #2536 "Tests fail with clean and minimal installation"
## 🐛 Bug description

I created a clean `mamba` environment as
[code]

When trying to run `pytest`, I get the following errors:
[code]

I realise the missing packages are listed in the [requirements-dev.txt](https://github.com/pytorch/ignite/blob/master/requirements-dev.txt) file, but I think it would be cleaner if the test requiring optional dependencies are skipped or xfailed.

I can provide a P

[2022-04-03 00:24] github-actions[bot] opened #2538 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 82a929d3e452ccaba8c7767148231e741b6335e5**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2083628331

Feel free to close this if this was just a one-off error.

[2022-04-03 08:38] sdesrozis commented on #2536
@RMeli Thanks for this. I completely understand the need to have a minimal dev test because sometimes we want to do a quick and dirty work.

However, I have doubts about disabling tests. First, you can do it using the pytest command (and it's pretty easy IMO). Secondly, this is only a local dev test, you won't push dev because this minimal setup doesn't allow you to pass the tests and check the qu

[2022-04-03 09:34] RMeli commented on #2536
@sdesrozis, thank you for your comments. I completely agree with you that this does not make much sense for the tests running in CI, but I was thinking about an user perspective and about consistency here.

If I am an user who want to install with `pip install .` I then need to be able to test my installation. This is currently not possible, since one would require a full development environment.

[2022-04-03 10:37] sdesrozis commented on #2536
Since you want a light installation, the related light test command would be
[code]
Ignoring part of ignite which embeds unwanted dependencies makes sense to me (e.g. contrib, metrics and handlers).

The usage you describe seems to me to be in the middle between a dev mode and a use mode. From my point of view, the tests should be as consistent as possible with the dev mode. Managing the absence o

[2022-04-04 00:22] github-actions[bot] opened #2539 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 82a929d3e452ccaba8c7767148231e741b6335e5**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2086920705

Feel free to close this if this was just a one-off error.

[2022-04-04 10:58] vfdev-5 commented on #2536
@RMeli thanks for the raising this. I understand that it may seem too much to install all deps for tests and I agree with @sdesrozis that disabling certain tests may be dangerous and we could run pytest ignoring certain test folders...

Can you give more details on the use-case you were thinking ?

There could be things like below to ignore all tests from a test file:
https://github.com/pytorch/ig

[2022-04-04 11:27] RMeli commented on #2536
The use case I have in mind is when an user wants to install `ignite` from source using `pip install .` and then test their installation. This is quite common, in my experience, when one wants to use the latest and greatest enhancements or bug fixes between releases (i.e. when they have been reviewed and incorporated in the code base but they are not yet available in a release on PyPI or elsewhere

[2022-04-04 11:44] vfdev-5 commented on #2536
Just a side note about our nightly releases: https://github.com/pytorch/ignite#nightly-releases on pypi / conda

Yes, i'd say it is a bit a niche view, but I agree that this could be a use-case.
So, it imeans that if we would like to support that in all new tests we have to do something like: `pytest.importorskip("tensorboard", reason="tensorboard is not installed")` or `clearml = pytest.importors

[2022-04-04 12:24] RMeli commented on #2536
I completely missed the nightly builds, sorry about that. 👀 I agree that with those, the use case I had in mind is essentially covered.

Good to know, thanks. I think this is more common in more niche scientific software where there are often no nightly builds and time between releases is very high (6 months or more).

Thank you both for your comments and views!

[2022-04-05 13:27] yohan-pg opened #2540 "Bar format is `str` but should be `Optional[str]` in ignite.contrib.handlers.tqdm_logger.ProgressBar"
## 🐛 Bug description

`ignite.contrib.handlers.tqdm_logger.ProgressBar` can accept `None` in the `bar_format` initialization argument (as documented), but this is not reflected in the type annotation.

https://github.com/pytorch/ignite/blob/82a929d3e452ccaba8c7767148231e741b6335e5/ignite/contrib/handlers/tqdm_logger.py#L120

[2022-04-05 13:47] vfdev-5 commented on #2540
Thanks for catching that @yohan-pg , would you like to send a fix ?
So, it should be
[code]

[2022-04-06 08:02] #2535 closed

[2022-04-06 08:02] #2538 closed

[2022-04-06 08:02] #2539 closed

[2022-04-06 08:49] Davidportlouis commented on #2540
I would like to work on this fix

[2022-04-06 08:50] vfdev-5 commented on #2540
Thanks @Davidportlouis , assigned it to you

[2022-04-09 13:52] sayantan1410 commented on #1378
@vfdev-5 Hey, I want to work on this issue, shall I ?

[2022-04-09 15:28] vfdev-5 commented on #1378
@sayantan1410 go ahead

[2022-04-11 00:21] github-actions[bot] opened #2544 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a359694e251d6fe29a7da41959ba0be7c12922de**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2145538780

Feel free to close this if this was just a one-off error.

[2022-04-11 19:19] #2328 closed

[2022-04-12 08:58] #2544 closed

[2022-04-12 09:01] vfdev-5 opened #2545 "CI idist parallel launch fails on py3.10"
- https://github.com/pytorch/ignite/pull/2542
[code]
Above tests are constantly failing on python 3.10.

[2022-04-12 09:29] #2540 closed

[2022-04-13 22:20] sadra-barikbin opened #2548 "Add whitelist parameter to some contrib.tensorboard_logger & contrib.clearml_logger handlers"
## 🚀 Feature

Following issue #2328 , we could add `whitelist` parameter to these classes in `contrib.tensorboard_logger` and `contrib.clearml_logger` to be able to log only desired weights or gradients.

1. GradsHistHandler
2. GradsScalarHandler
3. WeightsScalarHandler
4. WeightsHistHandler

[2022-04-13 22:20] sadra-barikbin commented on #2548
@vfdev-5, assign it to me if you will.

[2022-04-14 11:01] vfdev-5 commented on #2548
Thanks for opening the issue @sadra-barikbin ! I assigned it to you

[2022-04-14 17:48] sadra-barikbin commented on #2548
@vfdev-5 ,
As `clearml_logger` is also able to have this parameter, how is to do it for that as well? I would rename the issue. if you agreed.

[2022-04-14 19:43] vfdev-5 commented on #2548
@sadra-barikbin yes, let's rename it and add the arg for clearml as well

[2022-04-15 11:46] vfdev-5 commented on #2532
@vinayak015 any chance you could work on this issue ?

[2022-04-16 00:23] github-actions[bot] opened #2551 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a0383ff22a98e53b556382a29a06bb9e2995645c**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2174930335

Feel free to close this if this was just a one-off error.

[2022-04-17 14:36] vinayak015 commented on #2532
Hey @vfdev-5, I am on holiday for the next 15 days. (It was a sudden plan). Please feel free to unassign me if its priority has been increased.

[2022-04-19 00:20] github-actions[bot] opened #2554 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 0d4017396f103ec28ddde58d53b19548cfac6148**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2186730789

Feel free to close this if this was just a one-off error.

[2022-04-19 18:08] #2465 closed

[2022-04-21 01:19] dakey860831 opened #2556 "engine.state.iteration in distributed training"
## ❓ Questions/Help/Support

Hi, I wonder how `engine.state.iteration` update is handled in distributed training? i.e. is it updated globally, or only w.r.t. a local rank. For example, I'd like to log loss for each global iteration from multiple nodes and/or GPUs in a single tensorboard scalar plot; I also would like to add a validation handler triggered by every N global iterations. I looked into

[2022-04-21 13:38] vfdev-5 commented on #2556
@dakey860831 if an `engine` is defined and run by all procs, then `engine.state.iteration` is updated in the same way by all procs.

Here is an example code snippet:
[code]

Output on 2 procs:
[code]

---

You can take a look at
- https://pytorch-ignite.ai/tutorials/intermediate/01-cifar10-distributed/
- https://github.com/pytorch/ignite/blob/master/examples/contrib/cifar10/main.py

Please let us

[2022-04-21 15:33] #2281 closed

[2022-04-28 11:45] xonobo opened #2557 "Latest defined lambda function is used in all Average objects"
## 🐛 Bug description

To get an average metric key value of an output dictionary, multiple metrics are defined, but all the metrics use the latest lambda function defined.

Here is a code to reproduce this strange behavior.
[code]

I got this result:
[code]

where I expect the last column to be equal to the first column.

## Environment

- PyTorch Version (e.g., 1.10):
- Ignite Version (e.g., 0.4.

[2022-04-28 12:30] vfdev-5 commented on #2557
@xonobo yes it is python lambda effect that lambda does not store the key. I think you can find similar questions here in the repository.

[2022-04-29 05:16] xonobo commented on #2557
@vfdev-5  thanks for your notice. Close the issue with a workaround.

[code]

[2022-05-01 08:00] vfdev-5 commented on #2557
@xonobo here is another way to do that : https://github.com/pytorch/ignite/issues/639#issuecomment-536166220

[2022-05-01 16:12] #2459 closed

[2022-05-01 19:30] vfdev-5 commented on #2556
Let me close the issue as answered. Feel free to reopen if needed

[2022-05-01 19:30] #2556 closed

[2022-05-01 19:30] #2554 closed

[2022-05-01 19:30] #2551 closed

[2022-05-02 22:26] vfdev-5 commented on #2545
Related pytorch issue: https://github.com/pytorch/pytorch/issues/72086

[2022-05-03 08:22] #2548 closed

[2022-05-04 13:13] #2532 closed

[2022-05-04 20:34] sadra-barikbin commented on #2444
@vfdev-5  I'll do it, if you will

[2022-05-06 00:24] github-actions[bot] opened #2567 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 315b6b98012f636034453beb8c3c334229575918**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2278928153

Feel free to close this if this was just a one-off error.

[2022-05-09 10:21] #2567 closed

[2022-05-11 00:24] github-actions[bot] opened #2568 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 315b6b98012f636034453beb8c3c334229575918**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2304029718

Feel free to close this if this was just a one-off error.

[2022-05-12 03:47] kazuma0606 opened #2569 "How to resume learning?"
## ❓ Questions/Help/Support
Hi, support teams.
This is my first time asking a question.
I believe the following code will load the checkpoints.

===================================================
        checkpoint_path = "/tmp/cycle_gan_checkpoints/checkpoint_26500.pt"

        # let's save this checkpoint to W&B
        if wb_logger is not None:
            wb_logger.save(checkpoint_path)
=====

[2022-05-12 07:42] vfdev-5 commented on #2569
Hi @kazuma0606 ,
Please check the following docs and examples:
- https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.Checkpoint.html#ignite.handlers.checkpoint.Checkpoint.load_objects

- https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10#check-resume-training

In few lines of code, you can do the following:
https://github.com/pytorch/ignite/blob/315b6b98012f63603445

[2022-05-12 08:54] kazuma0606 commented on #2569
Thanks for reply.
I tryed a following links.
https://github.com/pytorch/ignite/blob/master/examples/notebooks/CycleGAN_with_torch_cuda_amp.ipynb

Am I correct in assuming that the code below does not include the epoch and loss information to resume learning?
Regards.
==============================================================================
from ignite.handlers import ModelCheckpoint, Terminat

[2022-05-12 09:21] vfdev-5 commented on #2569
@kazuma0606 Yes, you are correct. In order to save epoch and iteration, we need to save `trainer`:
[code]

As for batch loss, there is no need to save it as once restored models they would give similar batch loss values.
As for average running losses `RunningAverage`, unfortunately, they can't be restored. It's still a feature we would like to have.

[2022-05-13 03:19] kazuma0606 commented on #2569
Hi, @vfdev-5
Thanks for reply.
I was able to resume training without incident.
I am a little curious, is the following feature valuable from an academic point of view?
   As for average running losses RunningAverage, unfortunately, they can't be restored. It's still a feature we would like to have.
Since this is a topic not really related to the case, please send me your e-mail or any social netwo

[2022-05-13 10:29] vfdev-5 commented on #2569
Hi @kazuma0606

I'm not sure about academic PoV but if it is about deterministic training and reproducibility while resuming from a checkpoint there are few things to take into account:
- dataflow and random ops
- resuming from start of the epoch or middle of the epoch (from iteration)

More info: https://pytorch.org/ignite/engine.html#deterministic-training

We have to communicate with the team :

[2022-05-13 22:49] dasturge opened #2570 "Checkpoint support for `torch.package`"
## 🚀 Feature

Currently, checkpointing is very centered around objects with `state_dict` and `load_state_dict` properties, but the new `torch.package` serialization option breaks with this pattern.  It doesn't seem that I can simply insert a custom save_handler to handle package import/export

torch offers a new, interesting method for serializing models along with code and dependencies (and is no

[2022-05-14 16:01] sadra-barikbin opened #2571 "Add new options to Precision and Recall metrics"
## 🚀 Feature

I suggest to add new options regarding `average` parameter of `Precision` and `Recall` metrics.
Currently they have two options which are `average==False` and `average==True`. I propose to change `average` options to the following:

- `False`: return per class/label metric for multiclass/label input and simple precision for binary input (default option). This is equivalent with `aver

[2022-05-15 20:15] sdesrozis commented on #2570
@dasturge Thank you to highlight this very interesting point.

IMO a package is very different to a checkpoint. I'm not expert of what was recently done, but it doesn't sound like a new way to checkpoint and replace the actual load/save from state dicts. I would say that it should be very useful at the training process end helping the deployment.

A specific handler could be an idea but at the mom

[2022-05-17 02:14] sadra-barikbin commented on #2570
The raw way to do the job:
[code]
As @dasturge said, we can have an api like:
[code]
to do the job, but since user does not know `interns` and `externs` beforehand, he/she should do items below again and again so as to all dependencies have an assigned action.

1. Call some `pe.intern`, `pe.extern` or `pe.mock`s
2. Face packaging error
3. Refine patterns and go to step 1

When we have to write tho

[2022-05-17 05:58] kazuma0606 commented on #2569
Hi, @vfdev-5
Sorry for the delay in responding.
Thank you for your contact information.
I will email you separately on topics not related to this case.
By the way, regarding the following notebook.
CycleGAN_with_torch_cuda_amp.ipynb
In this notebook,
For the following functions.

[code]

Functions run_evaluation() and log_generated_images() are called automatically at the start of training and can

[2022-05-17 06:11] sdesrozis commented on #2570
Having a new and specific handler for packaging would be interesting if we manage something helpful. Maybe we could have checkpoints during the training and packaging at the end. However, packaging is more than checkpoint, it embeds what is needed for inference and is related to deployment.

Let's think about it. It would be nice having a package importer, exporter for training and why not an infe

[2022-05-17 11:21] vfdev-5 commented on #2569
Hi @kazuma0606

Complete code is the following:
[code]

As you can see trainer has `run_evaluation` attached on `EPOCH_STARTED` so, every epoch started it will execute `run_evaluation`. Then you see that `tb_logger` attaches `log_generated_images` on `COMPLETED` for `evaluator` engine. Thus, trainer calls `run_evaluation` where `evaluator` runs on and once it is done (completed) it calls `log_gene

[2022-05-17 17:47] Ishan-Kumar2 commented on #2314
Hi @sdesrozis and @arisliang, I am interested in taking this up.
From what I understand, we should create a Base class called something like `NoImprovementHandler` and then use it to create the `EarlyStopping` because it is a special case of that.

I was wondering, should we also keep the decision function of the Base class fixed as
`if self.counter >= self.patience`
or are there some use-cases wh

[2022-05-18 01:38] kazuma0606 commented on #2569
Hi, @vfdev-5
Thank you for the very clear explanation.
By the way, the learning was interrupted by the following message in the middle of the learning .

[code]
By the way, is the TerminateOnNan flag a function to suppress over-learning?
Also, if this flag is true, is there any point in learning any more?
Or, if I increase the number of cases, will I be able to turn more epochs?
Does mixed-precisi

[2022-05-18 07:10] kazuma0606 commented on #2569
I don't know if this is relevant, but I had to prepare and learning Dataset on my own.
I was learning with brain MRI images, but it seems that the type of images for the training and test were different.
Is it possible that learning stops early in such cases?

[2022-05-18 07:47] vfdev-5 commented on #2569
Hi @kazuma0606

When loss goes Nan, learning is not possible anymore as weights are Nan as well and we just waste resources. `TerminateOnNan` handler helps to stop the training as Nan is encountered.

Loss can go Nan in various cases:
- LR too large => decrease the learning rate and restart the training
- Mixed-precision => disable AMP flag and restart the training
- Maybe, if input data is corrup

[2022-05-20 00:35] github-actions[bot] opened #2575 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2355292600

Feel free to close this if this was just a one-off error.

[2022-05-21 00:22] github-actions[bot] opened #2576 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2361265180

Feel free to close this if this was just a one-off error.

[2022-05-22 00:22] github-actions[bot] opened #2577 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2364687129

Feel free to close this if this was just a one-off error.

[2022-05-22 07:15] vfdev-5 commented on #2577
@sdesrozis can you please take a look

[2022-05-23 00:23] github-actions[bot] opened #2578 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2368192124

Feel free to close this if this was just a one-off error.

[2022-05-23 07:44] sdesrozis commented on #2577
Something changed with `dill`.
[code]
The above code works fine with ``dill==0.2` and fails with the latest version ``dill==0.3.5.1`...

[2022-05-23 07:58] sdesrozis commented on #2577
Please, read this https://github.com/uqfoundation/dill/pull/450#issuecomment-1119070792

[2022-05-23 10:44] vfdev-5 commented on #2577
Ok, thanks for investigating this. Let's fix dill version to the working
one and thus fix our CI

On Mon, May 23, 2022, 09:58 Sylvain Desroziers ***@***.***>
wrote:

[2022-05-24 00:23] github-actions[bot] opened #2579 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2374637562

Feel free to close this if this was just a one-off error.

[2022-05-25 00:23] github-actions[bot] opened #2580 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit dc1d085ce8931369a9e9502539a97c74d961d7b1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2381300067

Feel free to close this if this was just a one-off error.

[2022-05-25 16:38] #2575 closed

[2022-05-25 16:38] #2579 closed

[2022-05-25 16:38] #2580 closed

[2022-05-26 00:30] github-actions[bot] opened #2582 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f22d9bf80bd13e7d8352e97b10bac0221758a53a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2387833357

Feel free to close this if this was just a one-off error.

[2022-05-26 07:00] #2582 closed

[2022-05-29 00:23] github-actions[bot] opened #2585 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f22d9bf80bd13e7d8352e97b10bac0221758a53a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2402627538

Feel free to close this if this was just a one-off error.

[2022-05-31 00:22] github-actions[bot] opened #2586 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f22d9bf80bd13e7d8352e97b10bac0221758a53a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2411883783

Feel free to close this if this was just a one-off error.

[2022-06-01 00:33] github-actions[bot] opened #2587 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 80c6bb4c9b7b8bacfa5f39557c16065267a849ce**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2418438668

Feel free to close this if this was just a one-off error.

[2022-06-02 00:24] github-actions[bot] opened #2588 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 80c6bb4c9b7b8bacfa5f39557c16065267a849ce**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2425203628

Feel free to close this if this was just a one-off error.

[2022-06-03 00:22] github-actions[bot] opened #2589 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 80c6bb4c9b7b8bacfa5f39557c16065267a849ce**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2431628754

Feel free to close this if this was just a one-off error.

[2022-06-03 03:53] RicherMans opened #2590 "EMAHandler (Buffer update) does lead to bad results for Mean-Teacher experiments"
## 🚀 Feature

Hey there,
thanks for the increased effort in Ignite, the package just gets better by each update!

So my feature request ( or bug report ) is concerned with the recently developed [EMAHAndler](https://pytorch.org/ignite/_modules/ignite/handlers/ema_handler.html#EMAHandler).

Specifically I recently ran a lot of experiments using Ignite for Sound event classification and noticed that

[2022-06-03 12:34] vfdev-5 commented on #2590
@RicherMans Thanks a lot for detailed report and the feedback ! Sorry about spoiling lots of your experiences with our probably buggy code.

As for `self.ema_model.eval()`, a workaround rightnow is to do `ema_handler.ema_model.train()` right after creating the handler.

@sandylaker do you have any comments about buffers in EMAHandler ?

From my side, about 2 years ago with fix-match I saw that stu

[2022-06-03 14:20] sandylaker commented on #2590
@RicherMans Thank you for raising this issue and providing the detailed analysis, and also thank @vfdev-5 for the constructive comments.

1. >They use use_buffers=True which corresponds to "it will compute running averages for both the parameters and the buffers of the model":

We can also add this option to the `EMAHandler`.

2. >As for self.ema_model.eval(), a workaround rightnow is to do ema_ha

[2022-06-04 04:31] RicherMans commented on #2590
Hey @sandylaker and @vfdev-5 ,

so I'm also obviously for the second suggestion!

That sounds great!

[2022-06-04 14:26] vfdev-5 commented on #2590
@RicherMans @sandylaker looks like we are all agree on how to improve EMAHandler. @sandylaker if you could send a PR it would be great !

[2022-06-05 00:24] github-actions[bot] opened #2591 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 80c6bb4c9b7b8bacfa5f39557c16065267a849ce**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2441324476

Feel free to close this if this was just a one-off error.

[2022-06-09 00:22] github-actions[bot] opened #2593 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 80c6bb4c9b7b8bacfa5f39557c16065267a849ce**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2465105324

Feel free to close this if this was just a one-off error.

[2022-06-10 19:39] #2585 closed

[2022-06-10 19:39] #2586 closed

[2022-06-10 19:39] #2587 closed

[2022-06-10 19:39] #2588 closed

[2022-06-10 19:39] #2589 closed

[2022-06-10 19:39] #2591 closed

[2022-06-10 21:13] #2571 closed

[2022-06-11 00:22] github-actions[bot] opened #2595 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9947e7daa8fd357aff82890c22346203a8fa6e2f**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2478120984

Feel free to close this if this was just a one-off error.

[2022-06-12 00:23] github-actions[bot] opened #2596 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9947e7daa8fd357aff82890c22346203a8fa6e2f**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2481699035

Feel free to close this if this was just a one-off error.

[2022-06-12 07:35] #2593 closed

[2022-06-12 07:35] #2595 closed

[2022-06-12 08:35] vfdev-5 opened #2598 "Fix failing tests for "PyTorch version tests" workflow"
## 🐛 Bug description

Previously, we did not run any distributed tests for older pytorch versions. Activating that, it reveals that few tests are failng for pytorch versions : 1.3.1, 1.4.0, 1.5.1, 1.6.0

https://github.com/pytorch/ignite/runs/6848576750?check_suite_focus=true

Let's fix (or skip if appropriate) the failing tests to make CI workflow pass

[2022-06-12 08:37] github-actions[bot] opened #2599 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 7f1c54ce800e248b1e43393a182d5745b3816953**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2482777606

Feel free to close this if this was just a one-off error.

[2022-06-12 08:37] #2599 closed

[2022-06-12 18:58] sadra-barikbin opened #2600 "Change torch.Tensor to torch.tensor in the code"

[2022-06-12 22:46] #2600 closed

[2022-06-13 00:39] github-actions[bot] opened #2602 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9175f392a1384bb7a07b7308a3cef472e5e7f027**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2485275378

Feel free to close this if this was just a one-off error.

[2022-06-13 15:06] #2568 closed

[2022-06-13 15:06] #2596 closed

[2022-06-13 15:15] vfdev-5 commented on #2444
Closing this issue as done by https://github.com/pytorch/ignite/pull/2573

@ozancaglayan you can check the fix on our nightly release : `pip install --upgrade --pre pytorch-ignite` , if you'd like. Thanks!

[2022-06-14 00:38] github-actions[bot] opened #2603 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9175f392a1384bb7a07b7308a3cef472e5e7f027**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2491945334

Feel free to close this if this was just a one-off error.

[2022-06-14 19:59] #2602 closed

[2022-06-14 22:40] github-actions[bot] opened #2607 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 08f4a49ce7db932a7d0bd67609c2cae5a579fd22**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2498331137

Feel free to close this if this was just a one-off error.

[2022-06-15 00:43] github-actions[bot] opened #2608 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e99f3e2d15517e58f72b29c1db64b2a9fdbbbe32**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2498904368

Feel free to close this if this was just a one-off error.

[2022-06-15 06:03] #2603 closed

[2022-06-15 06:03] #2607 closed

[2022-06-15 13:15] #2598 closed

[2022-06-15 16:38] #2608 closed

[2022-06-21 15:19] #2159 closed

[2022-06-23 16:43] AaamberW opened #2610 "Unexpected _run_once_on_dataset behavior if using a custom dataloader that implements __len__ method"
## 🐛 Bug description

Context - I was calling engine.run(my_run_function), with a custom dataloader that implements `__len__` method.

What happened - Looks like when my run hits [_run_once_on_dataset](https://github.com/pytorch/ignite/blob/22223ba1e83569e66781ab7b98ca792b4d85bca1/ignite/engine/engine.py#L788), the expected behavior is to break out of while loop if dataloader raises **StopIteratio

[2022-06-25 08:17] vfdev-5 commented on #2610
Thanks for reporting @AaamberW
Could you please provide a minimal code to reproduce the problem ? I'm a bit confused about what's exactly the problem... Thanks!

[2022-06-25 19:32] AaamberW commented on #2610
Hi @vfdev-5, here's a simplified version of my code
`
class CustomDataLoader:
    def __init__():
        ...
        print('custom data loader init')

    def __len__(self):
        ...

    def __next__(self):
        if not data_exhausted:
            ...
            print (f"Loading batch {batch_id}")
        else:
            raise StopIteration
train_data = CustomDataLoader()

def do_train(e

[2022-06-25 22:41] vfdev-5 commented on #2610
@AaamberW thanks for the code snippet. I updated it to make it executable and tried to reproduce your behavior but engine worked as expected:
[code]
Output:
[code]

Could you please update my code snippet to reproduce your behaviour ?

[2022-06-26 07:09] sadra-barikbin commented on #2319
For computing AUC there are three approaches:
1. Computing it exactly. It takes O(NlogN) in time and O(N) in space. It is computed on whole data at once. Scikit-learn and Transformers.evaluate use this approach
2. Approximating it using thresholds either given by user or generated internally. Tensorflow uses this approach and and implements it in O(NT) in time and O(T) in space. The implementation

[2022-06-26 18:17] EricZimmermann commented on #2319
@sadra-barikbin

I'm a little confused on what you're asking. The biggest use-case for this class is the aggregation of large sets of labels over time that cannot be stored in RAM done as a confusion matrix over discrete elements. The confusion matrix allows you to compute a set of statistics all in O(T) at the end of an epoch or run. If use the Wilconon-Mann-Whitney statistic, how would you aggre

[2022-06-26 20:32] AaamberW commented on #2610
Hi @vfdev-5, thanks for the script. Looks like if `self.state.epoch_length` is set, then it relies on[ this line ](https://github.com/pytorch/ignite/blob/22223ba1e83569e66781ab7b98ca792b4d85bca1/ignite/engine/engine.py#L849) to identify epoch completion rather than dataloader raising StopIteration.

In my case, CustomDataLoader fetches one partition from N total partitions each iteration, and part

[2022-06-26 20:57] vfdev-5 commented on #2610
Yes, I'm trying to understand your use-case and figure out from my side what could be go wrong. RIght now, I have to find your CustomDataloader-like implementation that could help reproduce the issue.

[2022-06-27 04:11] sadra-barikbin commented on #2319
You're right that trying to compute the metric at the end of run is excruciating both in terms of time and in terms of memory, given large data samples.

Wilconon-Mann-Whitney could still be used without facing problems you mentioned by making a minor modification in it. Specifically by comparing predictions in a batch just with themselves and not with those in other batches. This way we only keep

[2022-06-27 13:30] EricZimmermann commented on #2319
@sadra-barikbin
If you keep the running AUC, how to you sum them together batch to batch if you want to approximate AUC over the epoch or validation set?

Yes you're right! We wrote this with medical image segmentation in mind (kind of like Brats) so these are relatively large assumptions which seem to work out in this use case.

[2022-06-28 04:53] sadra-barikbin commented on #2319
![image](https://user-images.githubusercontent.com/22097587/176095556-8bd8bc80-f27a-468f-b9c4-cf39e4c528ed.png)

According to the formulas above, using two float variables initialized with zero at the beginning of the run we do two first formulas at each batch and finally do a simple division at the end of the run.

[2022-06-28 04:59] sadra-barikbin commented on #2319
![image](https://user-images.githubusercontent.com/22097587/176096451-be59b9fd-b2fa-4c3d-82be-7a043f20d836.png)

According to the formulas above, using two float variables initialized with zero at the beginning of the run we do two first formulas at each batch and finally do a simple division at the end of the run.

[2022-06-28 19:39] EricZimmermann commented on #2319
How would you integrate this is with the rest of the PR? The whole basis of this is to also have access to everything you could compute with a confusion matrix as well. I see this being nice somewhere... but not sure if this fits the remainder of the requirements.

[2022-06-28 22:24] #2610 closed

[2022-06-28 22:26] sadra-barikbin commented on #2319
What requirements do we have other than computing AUC itself?

[2022-06-28 22:30] EricZimmermann commented on #2319
We have all the confusion matrix derived stats (f1, mcc, balanced acc, etc)

[2022-06-28 23:03] sadra-barikbin commented on #2319
You're right that using Wilconon-Mann-Whitney, we cannot compute those you mentioned, but their implementation (of O(N) in time) does already exist in Ignite so user could use that. What advantages does this implementation provide for those derived stats?

[2022-06-28 23:13] EricZimmermann commented on #2319
For segmentation there are class imbalances so looking at pr auc is useful. A big topic is detection / segmentation model calibration so this allows us to track these things over time.

[2022-06-29 04:36] sadra-barikbin commented on #2319
Your first statement is correct. About the second one, by tracking things over time you mean to have those derived stats over epochs?

[2022-06-29 22:14] github-actions[bot] opened #2612 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 7931dd938dfffa9d4d7c28517993485f5de37514**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2586011147

Feel free to close this if this was just a one-off error.

[2022-06-29 22:48] #2612 closed

[2022-07-04 19:39] EricZimmermann commented on #2319
over batch updates with minimal compute requirements

[2022-07-16 13:15] kamalojasv181 opened #2615 "Typefix"
🐛 Due to changes in variable types in the nightly PyTorch version, some # type ignore comments are redundant and we need some in some new places for mypy tests to pass Due to changes in variable types in the nightly PyTorch version, some # type ignore comments are redundant and we need some in some new places for mypy tests to pass.

 Mypy tests failing
 Install pytorch nightly version by `conda i

[2022-07-16 14:19] #2615 closed

[2022-07-18 20:11] vfdev-5 commented on #2545
Closing as https://github.com/pytorch/ignite/pull/2542 is merged

[2022-07-18 20:11] #2545 closed

[2022-07-18 22:57] vfdev-5 commented on #2274
Supported -> closing

[2022-07-18 22:57] #2274 closed

[2022-07-20 01:19] github-actions[bot] opened #2621 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9fca90454968011fe02a39418becad5486ef30f8**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2701356173

Feel free to close this if this was just a one-off error.

[2022-07-20 05:33] #2621 closed

[2022-07-20 06:13] haochunchang opened #2622 "Cannot find ModelCheckpoint score name notes"
## 📚 Documentation

In the [ModelCheckpoint](https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.ModelCheckpoint.html) documentation `score_name` parameter, it says:

However, I cannot find any Notes for this detail.

I suggests adding examples about using `score_name` and `score_function` like [here](https://github.com/pytorch/ignite/issues/677#issuecomment-559786455)

I would love to

[2022-07-20 07:22] danieltudosiu opened #2623 "Consolidate ZeRO state before checkpoint saving"
Is your feature request related to a problem? Please describe.
When checkpoint saving occurs there should be a check if the object that state_dict() is called on is a ZeroRedundancyOptimizer instance

Describe the solution you'd like
Prior to the call state_dict() call a consolidate_state_dict() call should be issued. This call needs to be issued on all ranks and point toward the same consolidatin

[2022-07-20 08:28] vfdev-5 commented on #2622
@haochunchang thanks for the feedback, basically the examples were mostly written for [Checkpoint](https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.Checkpoint.html#ignite.handlers.checkpoint.Checkpoint).
I agree it would be nice to improve the docs of `ModelCheckpoint` as well. Yes, please, send a PR with the improvements you think of and we can iterate over that.

[2022-07-20 08:49] vfdev-5 commented on #2623
Thanks for the feature request @danieltudosiu !

Yes, from user side, as you suggested one possible alternative solution could be to attach a specific handler for that:
[code]

Prior to the call state_dict() call a consolidate_state_dict() call should be issued. This call needs to be issued on all ranks and point toward the same consolidating rank.

Do you think we should add this specific hard-co

[2022-07-20 12:43] danieltudosiu commented on #2623
Hi @vfdev-5,

The whole decision boils down to a design decision. Do you want the user to take care of this specific checkpointing logic or do you want it to be seemingly integrated into Ignite?

Be careful cuz this is not the complete solution, consolidate_state_dict MUST be called on all ranks, which means that all ranks need to go through the checkpoint-saving logic so the checkpoint saver must

[2022-07-20 13:20] vfdev-5 commented on #2623
Hi @danieltudosiu thanks for your pointers !

Today, `Checkpoint` is intended to be called by all ranks (due to xla which requires that)
https://github.com/pytorch/ignite/blob/e45846f850b8788351308859ace5b46368ae2033/ignite/handlers/checkpoint.py#L176-L185

and internally `DiskSaver` uses `torch.save` only on rank zero.

Sounds good to me as well. I'll send a PR and will ask to check it. Hope it w

[2022-07-21 00:10] github-actions[bot] opened #2626 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit d437aefec24f60649d7e50fa1269f65fa7950f26**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2708436301

Feel free to close this if this was just a one-off error.

[2022-07-21 00:15] github-actions[bot] opened #2627 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **Nightly Releases with commit d437aefec24f60649d7e50fa1269f65fa7950f26**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2708462703

Feel free to close this if this was just a one-off error.

[2022-07-21 16:29] danieltudosiu commented on #2623
Hi @vfdev-5,

Thanks for moving so quickly.

For my personal use, I already coded the Handler so I am ok ;) I just wanted Ignite to be even more user-friendly <3

Cheers,

Dan

[2022-07-22 14:35] #2627 closed

[2022-07-23 03:26] haochunchang commented on #2622
take

[2022-07-23 09:08] #2622 closed

[2022-07-23 13:26] kamalojasv181 opened #2631 "Implementation of RecSys Metrics"
## 🚀 Feature

To add some more metrics used in Recommendation Systems with tests that can directly be used. Here is the list (@alykhantejani feel free to add more):
[] NGCD

[2022-07-30 00:56] github-actions[bot] opened #2634 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e9111385db1f1f15c671a6c987442ef5d1ff7daf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2763942130

Feel free to close this if this was just a one-off error.

[2022-08-04 02:28] Nic-Ma opened #2635 "Upgrading to 0.4.9 stuck multi-gpu training"
## 🐛 Bug description

Hi @vfdev-5 ,

We upgraded ignite from 0.4.8 to 0.4.9 in MONAI 0.9.1 recently: https://github.com/Project-MONAI/MONAI/pull/4605.
Then got the issue report from user:
something changed related to multi-gpu training between 0.9.1 and 0.9.0... monailabel multi-training is not working.. SupervisedTrainer is getting stuck to run inference step to compute the loss.. after debugging

[2022-08-04 06:35] SachidanandAlle commented on #2635
**torch.multiprocessing.spawn** is used to invoke multi-gpu training (with 2 T40 GPU; CUDA 11.6 installed)
`torch.multiprocessing.spawn(main_worker, nprocs=world_size, args=(world_size, req, datalist))`

[code]

[code]

[2022-08-04 12:11] vfdev-5 commented on #2635
Thanks for reporting @Nic-Ma !
Do you have a small code snippet to reproduce the issue ? Meanwhile I'll check what we did in 0.4.9 that could cause an issue like that.
Thanks!

[2022-08-04 13:43] Nic-Ma commented on #2635
Hi @vfdev-5 ,

I think @SachidanandAlle already provided the simple program in the above comment?

Thanks.

[2022-08-04 14:01] vfdev-5 commented on #2635
@Nic-Ma I do not understand his code snippet, it is incomplete and how to execute it

[2022-08-04 14:01] vfdev-5 commented on #2635
@Nic-Ma I do not understand his code snippet, it is incomplete and how to execute it

[2022-08-04 14:56] Nic-Ma commented on #2635
Hi @SachidanandAlle ,

Could you please help share more information about the simple program to reproduce?

Thanks in advance.

[2022-08-04 15:00] SachidanandAlle commented on #2635
Best way is to install MONAILabel and trigger training.. later will share the simple 4 steps to do so.. hope that's helps to reproduce.. otherwise don't want to put extra effort to write the snippet..

[2022-08-04 16:13] vfdev-5 commented on #2635
@SachidanandAlle @Nic-Ma with all respect to your project please put an effort to provide some executable code snippet.
I can try to get monai label app working but I may need to have some data ?

[2022-08-05 00:47] github-actions[bot] opened #2636 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e9111385db1f1f15c671a6c987442ef5d1ff7daf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2800401866

Feel free to close this if this was just a one-off error.

[2022-08-05 16:16] SachidanandAlle commented on #2635
No worries.. will share you the snippet soon

[2022-08-08 21:51] #2636 closed

[2022-08-08 21:51] #2634 closed

[2022-08-10 21:14] SachidanandAlle commented on #2635
Here is the snippet that should help to reproduce the problem...
Reference: https://github.com/Project-MONAI/tutorials/blob/main/acceleration/distributed_training/unet_training_workflows.py

REQUIREMENTS
-----------------
[code]

CODE
------
create.py
======
[code]

multi.py
=====
[code]

DUMMY DATASET
--------------------
[code]

DO NOT WORK
-----------------
[code]

WORKS
---------
[code]

[2022-08-10 21:16] SachidanandAlle commented on #2635
https://github.com/pytorch/ignite/issues/2635#issuecomment-1211280999
This has all the code and steps to reproduce the problem.. let me know if you are not able to run/reproduce it..

[2022-08-10 22:44] vfdev-5 commented on #2635
This issue is related to still open issue https://github.com/pytorch/ignite/issues/2035 and particularly, more precisely to https://github.com/pytorch/ignite/issues/2035#issuecomment-855473589

It is by chance that 0.4.8 is working, due to
[code]

In 0.4.9 I removed a warning for DDP context in metric: https://github.com/pytorch/ignite/pull/2549 and thus ignite is fully unaware of DDP context and

[2022-08-11 06:23] vfdev-5 opened #2638 "Code formatting issue with latest flake8"
https://github.com/pytorch/ignite/runs/7781175697?check_suite_focus=true#step:11:84

[code]

[2022-08-11 20:18] trsvchn commented on #2638
this https://github.com/psf/black/issues/1632looks similar

But why does flake complain right now?

[2022-08-11 20:32] trsvchn commented on #2638
Looks like the very first line of the docstring has to respect the line length convention.

[2022-08-12 16:12] #2638 closed

[2022-08-14 06:05] github-actions[bot] opened #2643 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit d34f1c252d122a5ab42f0c3a389fd0b159569fa5**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2853825138

Feel free to close this if this was just a one-off error.

[2022-08-16 00:52] github-actions[bot] opened #2648 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9dba39805e07798051861eae435b4aa7173c1b3c**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2864338520

Feel free to close this if this was just a one-off error.

[2022-08-16 06:14] vfdev-5 opened #2649 "Fix CI warnings"
[code]

[2022-08-17 16:12] vfdev-5 opened #2654 "Fix CI issue with Timer on windows"
[code]

[2022-08-19 08:21] #2623 closed

[2022-08-19 08:21] #2643 closed

[2022-08-19 08:21] #2648 closed

[2022-08-21 07:05] sadra-barikbin opened #2661 "Typo in engine.__init__._prepare_batch docstring"
`_prepare_batch` is being used for both training and evaluation:
https://github.com/pytorch/ignite/blob/e119a15dd4e366e240f7c412887b6bf717538370/ignite/engine/__init__.py#L33-L41

[2022-08-22 06:18] #2661 closed

[2022-08-23 09:44] #2649 closed

[2022-08-23 13:55] vfdev-5 opened #2669 "Improvements for resuming from terminated engine"
Current Engine's behaviour when we resume the run from terminated state is the following:
[code]

<details>
<summary>
Output:
</summary>

[code]

<details>

We can see that the engine stopped at epoch 2 and when engine is resumed, epochs are counted from 3. The epoch 3 does not count 10 iterations and ends earlier (after 6 iterations).

Maybe, an expected behaviour while resuming could be to count

[2022-08-24 00:46] github-actions[bot] opened #2672 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 98844bf82b963a429d22b09f650cb0af2023bf20**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2915567355

Feel free to close this if this was just a one-off error.

[2022-08-25 00:57] github-actions[bot] opened #2674 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 98844bf82b963a429d22b09f650cb0af2023bf20**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2923090334

Feel free to close this if this was just a one-off error.

[2022-08-25 08:34] #2672 closed

[2022-08-25 08:35] vfdev-5 commented on #2674
@puhuk this issue is related to your PR : https://github.com/pytorch/ignite/pull/2651
Please fix it.

[2022-08-25 13:36] #2674 closed

[2022-08-26 08:23] vfdev-5 opened #2677 "CI test with Hvd, tests/ignite/metrics/test_recall.py::test_distrib_hvd - core dumped"

[2022-08-29 10:11] vfdev-5 commented on #2669
I agree with Sadra's comment here: https://github.com/pytorch/ignite/pull/2645#discussion_r952231156
that final iteration should be `34 == epoch_length * (max_epochs - 1) + (iteration_to_stop % epoch_length)`

[2022-08-31 09:22] vfdev-5 opened #2684 "Failed to remove handler attached on filtered event"
## 🐛 Bug description

[code]
Output:
[code]

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0): 0.4.9
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2022-09-02 00:44] github-actions[bot] opened #2687 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 96f717bd99fde376c2acca80b2b793d89c1d6f3a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2975780346

Feel free to close this if this was just a one-off error.

[2022-09-02 05:46] vfdev-5 commented on #2687
Cc @puhuk

[2022-09-02 11:35] puhuk commented on #2687
I submit PR #2686 to recover this issue

[2022-09-02 11:38] vfdev-5 commented on #2687
I'm not sure as the message says: `AttributeError: 'Tensor' object has no attribute 'ravel'`
https://github.com/pytorch/ignite/runs/8147285770?check_suite_focus=true#step:10:1946

[2022-09-02 19:10] sadra-barikbin commented on #2684
The problem rises when we construct the handle with the wrapping handler but in `_compare_handlers` we compare it with the parent of registered handlers.

https://github.com/pytorch/ignite/blob/c12ad57e26aa8ec2b191ff4bc0e01e97ef24f8f7/ignite/engine/engine.py#L307-L309

https://github.com/pytorch/ignite/blob/c12ad57e26aa8ec2b191ff4bc0e01e97ef24f8f7/ignite/engine/engine.py#L327

https://github.com/p

[2022-09-02 19:18] sadra-barikbin opened #2689 "Fix a few bugs in engine interrupt/resume feature"
## 🐛 Bug description

- [ ] A typo in [docstrings](https://github.com/pytorch/ignite/blob/c12ad57e26aa8ec2b191ff4bc0e01e97ef24f8f7/ignite/engine/engine.py#L34). 0.4.10 or 0.5.0?
- [ ] ~~`_run_once_on_dataset_as_gen` is restarted (because it is called) whenever we get into `_internal_run_as_gen`~~
- [ ] ~~Some statements before `_run_once_on_dataset_as_gen` should be skipped on resume and some othe

[2022-09-02 19:52] vfdev-5 commented on #2689
v0.5.0 is correct.

@sadra-barikbin for other points can you provide a repro for each statement to see exactly how it is failing ? Thanks!

[2022-09-03 00:37] github-actions[bot] opened #2692 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 216084147611156ab30a42ca0d9754863ec5ae49**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2982511315

Feel free to close this if this was just a one-off error.

[2022-09-03 01:06] puhuk commented on #2692
Send PR #2686 for resolving this issue

[2022-09-04 00:39] github-actions[bot] opened #2693 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 216084147611156ab30a42ca0d9754863ec5ae49**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2986233247

Feel free to close this if this was just a one-off error.

[2022-09-04 09:38] #2689 closed

[2022-09-04 15:32] #2692 closed

[2022-09-04 15:32] #2693 closed

[2022-09-04 15:39] #2687 closed

[2022-09-04 15:46] vfdev-5 commented on #2517
Done by @puhuk in his recent PR.
@puhuk can you comment out here and provide the links on related PRs. Thanks!

[2022-09-04 15:46] #2517 closed

[2022-09-04 16:47] #2684 closed

[2022-09-05 00:36] github-actions[bot] opened #2697 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f5477a4cff145a0632b0c5dcd69b58fdf14cab63**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/2990045422

Feel free to close this if this was just a one-off error.

[2022-09-05 02:23] puhuk commented on #2517
@sayantan1410 Thank you for the issue. It seems resolved from #2655. It includes generating different data from each rank and ensuring the metric of all gathered data from each rank has same value with reference metric (from sklearn).  :)

[2022-09-05 04:57] sayantan1410 commented on #2517
Lovely to hear that the issue is finally solved. Thanks and Good Luck !

[2022-09-05 05:51] vfdev-5 commented on #2697
cc @puhuk

[2022-09-05 09:54] #2697 closed

[2022-09-05 10:26] puhuk commented on #2677
Let me see this

[2022-09-07 12:56] xiaoye-hhh opened #2703 "How to find suitable lrs with FastaiLRFinder when the optimizer has Multiple groups ?"
[code]
Such as this, the optimizer has two different groups. Can anyone give an example?

[2022-09-07 12:59] vfdev-5 commented on #2703
cc @KickItLikeShika

[2022-09-07 13:18] vfdev-5 commented on #2703
@xiaoye-hhh thanks for question, you can check https://pytorch-ignite.ai/how-to-guides/04-fastai-lr-finder/#with-lr-finder and update it to multiple groups.

Our FastaiLRFinder can accept multiple groups but checks with a single lr range without respecting initial lr (e.g. 1.0, 0.1) in your case. So, it means that it will most probably suggest the same lr for both groups.

[code]

[2022-09-07 15:00] Jacob208M commented on #2026
Hi @vfdev-5. I would like to contribute to Pytorch Ignite. Can you assign me too for good first issue to work with?

[2022-09-07 15:16] vfdev-5 commented on #2026
@Jacob208M thanks for asking. Here is a recent "help wanted" feature request we have : https://github.com/pytorch/ignite/issues/2703 that you can try to tackle. Please also consider to join our Discord to ask questions and get quick answers: https://pytorch-ignite.ai/chat

[2022-09-08 00:02] xiaoye-hhh commented on #2703
Thanks for quick reply. As your code show, the lr_suggestion of the two groups are both 0.1045. However when I use pretrained model and do some change at last, I want the lrs of different groups are different, smaller for pretrained and bigger for new. How to do is?

[2022-09-08 09:46] xiaoye-hhh commented on #2703
Thanks a lot. It's helpful.

[2022-09-09 16:27] RuABraun opened #2707 "gradient_accumulation_steps influences scale of the loss"
## 🐛 Bug description

[Because of the division here](https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L185), and similar functions, the loss has the wrong scale when using `gradient_accumulation_steps`. This makes it confusingly low in comparison to the valid loss.

One option is to only divide on the backward call, i.e. doing this:
[code]
or one could multiply the loss agai

[2022-09-09 16:59] vfdev-5 commented on #2707
@RuABraun thanks for reporting !

If i get your point correctly, the fact that loss is scaled by `gradient_accumulation_steps` and this value is assigned to the output loss, it is confusing that values are not comparable to ones without `gradient_accumulation_steps` ?
I agree that division is needed for gradients computation.

I think multiplying the output loss as `return output_transform(x, y, y

[2022-09-15 14:39] #2654 closed

[2022-09-16 07:02] vfdev-5 opened #2713 "mypy issue on master"
[code]

[2022-09-20 21:22] #2713 closed

[2022-09-29 00:41] github-actions[bot] opened #2725 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit d4aa1f2f766eae24e9f37557043da576c58150d1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3147732553

Feel free to close this if this was just a one-off error.

[2022-10-02 00:36] github-actions[bot] opened #2728 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a3279a672eb0080ff5c8478e125f44c60526440f**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3166680847

Feel free to close this if this was just a one-off error.

[2022-10-04 00:39] github-actions[bot] opened #2731 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e90ad317cc3aa7975a38e1980f3beccff7116e1a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3178398748

Feel free to close this if this was just a one-off error.

[2022-10-04 07:41] #2725 closed

[2022-10-04 07:41] #2728 closed

[2022-10-04 07:41] #2731 closed

[2022-10-06 12:00] vfdev-5 opened #2733 "Sync trainer state with evaluators"
## 🚀 Feature

There can be use-cases when we would like to get trainer's epoch/iteration or/and other items from `trainer.state`. Let's propose an API such that we could get easily trainer's state from evaluator.

Context : https://discuss.pytorch.org/t/get-current-epoch-inside-process-function-of-evaluator/162926

[2022-10-06 14:10] louis-she commented on #2733
Many handlers/metrics provide a `global_step_transform` as an argument to get the steps it wants.

[2022-10-07 06:20] github-actions[bot] opened #2734 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e90ad317cc3aa7975a38e1980f3beccff7116e1a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3201321175

Feel free to close this if this was just a one-off error.

[2022-10-07 07:02] vfdev-5 commented on #2734
Something wrong with Visdom tests:
[code]

[2022-10-08 00:30] github-actions[bot] opened #2735 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f51f7c0c870cee51f78e636953f8fc85ae94bd9c**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3208388039

Feel free to close this if this was just a one-off error.

[2022-10-08 12:29] soma2000-lang commented on #2734
@vfdev-5  I would like to work on this

[2022-10-08 15:11] vfdev-5 commented on #2734
@soma2000-lang go ahead. Do you know how to tackle and what to do ?

[2022-10-08 15:22] soma2000-lang commented on #2734
@vfdev-5 I dont yet know how to tackle this with some help I will hope to figure it out and tackle the Challenge

[2022-10-08 15:27] louis-she commented on #2734
Sorry that I haven't noticed that @soma2000-lang has planed to do this... Anyway, I have done the mark thing to make the CI pass.

The issue break the CI should be the update of `visdom`, `visdom` has released a new version 2 days ago, from `0.1.8.9` to `0.2.1` looks like they have some breaking changes.

@soma2000-lang if you like you can fix the visdom issue here or leave to me is also OK.

[2022-10-08 20:18] #2734 closed

[2022-10-09 03:34] louis-she commented on #2707
I'd like to work on this one

[2022-10-09 05:31] louis-she commented on #2734
@vfdev-5 Should we create another issue to solve the skipped test?

[2022-10-09 07:40] vfdev-5 commented on #2734
Yes, it would be great!

[2022-10-09 08:15] louis-she opened #2738 "Update visdom handler"
## 🐛 Bug description

[Visdom](https://github.com/fossasia/visdom) has updated its version from 0.1.8.9 to 0.2.1. The new version seems like failing some tests of the `VisdomHandler` here: https://github.com/pytorch/ignite/actions/runs/3201321175

[code]

Need to upgrade the `VisdomHandler` to play with the new version of `visdom`.

[2022-10-09 08:16] louis-she commented on #2738
I will take a look at this one.

[2022-10-09 08:32] vfdev-5 commented on #2738
Thanks @louis-she

[2022-10-09 09:30] soma2000-lang commented on #2734
Ok then I will contribute  to some other issue

On Sun, 9 Oct 2022, 13:10 vfdev, ***@***.***> wrote:

[2022-10-09 21:19] #2738 closed

[2022-10-09 21:40] vfdev-5 opened #2740 "Drop TrainsLogger and TrainsSaver"
I suggest to drop all ClearML/Trains backward compatibility as ClearML is v1.X since 1.5 year and no one should be using trains v0.16 (the last version of trains).

Let's do the following:
- [ ] remove TrainsLogger, TrainsSaver code and tests
- [ ] remove all trains package backward compatility. For example, https://github.com/pytorch/ignite/blob/4bdf243dca5fb35134c7f7db551f7fac43f639f8/ignite/con

[2022-10-09 21:41] #2707 closed

[2022-10-10 09:01] louis-she commented on #2740
I'd like to do it if no one else wants.

[2022-10-10 20:04] soma2000-lang commented on #2740
@vfdev-5  I would like to take this.

[2022-10-12 10:19] vfdev-5 commented on #2740
@soma2000-lang any blockers from your side to send a PR to solve this issue ?

[2022-10-12 10:20] #2735 closed

[2022-10-12 10:31] soma2000-lang commented on #2740
I haven't  starred working on it yet ,will start soon

On Wed, 12 Oct 2022, 15:49 vfdev, ***@***.***> wrote:

[2022-10-13 06:09] vantainguyen commented on #664
I think we can apply earlystopping there with some patience. When one stops other may still run and if the weights are still good to boost the performance of the model, then that's good. Otherwise, we already have the good ones saved by modelcheckpoint. No harm caused.

[2022-10-15 12:09] harry7337 commented on #2740
@vfdev-5 Hi! I would like to contribute to this issue asap, just wanted to clarify one thing. Do we need to drop TrainsSaver and Logger completely or is there an alternative we need to use(maybe something like clearml)?

[2022-10-15 12:29] soma2000-lang commented on #2740
@harry7337  I am working on it already

[2022-10-15 13:31] harry7337 commented on #2740
@soma2000-lang I'll let you carry on then, good luck!

[2022-10-15 13:35] vfdev-5 commented on #2740
@soma2000-lang please send a PR in following days.

@harry7337 we have other help wanted issues, please take another one 👍

[2022-10-16 06:39] harry7337 commented on #2026
@vfdev-5 Hey! I was looking for a few first issues to contribute to! Can you guide me to a good first issue? Cause it seems the ones with the labels already have people working on them.

[2022-10-16 20:01] vfdev-5 commented on #2026
@harry7337 If you see an open issue that is open for more than 1 week and even if someone pretended to work on that, you can work on that as it most probably no one is working on that...

[2022-10-16 20:05] vfdev-5 commented on #2740
@soma2000-lang please communicate when you will be able to send a draft PR with a fix for this issue ?

[2022-10-16 20:10] #2703 closed

[2022-10-16 21:15] soma2000-lang commented on #2740
@vfdev-5  I could not find any Trainslogger and TrainsSaver test file here.Also I am unable to find the TrainsSaver  file which  needs to be removed.

[2022-10-16 21:21] vfdev-5 commented on #2740
Try to search for TrainsLogger: https://github.com/pytorch/ignite/search?q=TrainsLogger

May I ask whether you understand what we need to do to fix this issue ?

[2022-10-16 21:28] soma2000-lang commented on #2740
@vfdev-5  If I could understand the issue correctly  the I need to
1.completely remove the TrainsLogger.py[https://github.com/pytorch/ignite/blob/9230a7319047b37ce19d956e024fa1b86030c30a/ignite/contrib/handlers/trains_logger.py] file

[2022-10-16 21:35] soma2000-lang commented on #2740
If I have understood the issue correctly then I  have to

1.Completely remove the TrainsLogger.py file(ignite/contrib/handlers/trains_logger.py](https://github.com/pytorch/ignite/blob/9230a7319047b37ce19d956e024fa1b86030c30a/ignite/contrib/handlers/trains_logger.py)
and all  the places where the code of TrainsLogger and TrainsSaver has been used

2.Remove the backward comaptibility  code for the t

[2022-10-17 06:55] vfdev-5 commented on #2740
Seems correct, please go ahead with this plan

[2022-10-17 13:40] vfdev-5 commented on #2522
Let's close this one as a lot of updates were already done and description is out-dated

[2022-10-17 13:40] #2522 closed

[2022-10-17 16:08] soma2000-lang commented on #1790
@vfdev-5  Can I work on ignite/engine/engine.py?

[2022-10-17 19:26] #2740 closed

[2022-10-17 19:45] soma2000-lang commented on #1790
@vfdev I will try

On Tue, 18 Oct 2022 at 01:01, vfdev ***@***.***> wrote:

[2022-10-18 01:58] louis-she opened #2743 "Replace RuntimeError with ModuleNotFoundError in contribute handlers"
Some contribute handlers rely on third-party tools not installed alone with ignite. So there usually will be an import error when users use them for the first time. Some of the import errors raised are `RuntimeError`, instead, we want it to be a more specific error type like `ModuleNotFoundError`.

We should replace all the manually raised `RuntimeError` with `ModuleNotFoundError` when some packag

[2022-10-18 10:40] aryanlath commented on #2743
Hi! Can you assign this issue to me?

[2022-10-18 10:41] vfdev-5 commented on #2743
@aryanlath please go ahead and send a PR with the fix

[2022-10-18 10:45] aryanlath commented on #2743
I have sent a PR. Can you kindly check whether the issue is resolved as you wanted?

[2022-10-19 12:27] vfdev-5 commented on #2677
We can close this issue as CI seems to OK now

[2022-10-20 00:37] github-actions[bot] opened #2745 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 25e027cdf672d09ff8acba86449156f2691e02f6**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3285865090

Feel free to close this if this was just a one-off error.

[2022-10-20 06:50] vfdev-5 commented on #2745
@louis-she can you please check these issues as they seem to be related to visdom. Thanks!

[2022-10-21 00:40] github-actions[bot] opened #2746 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 25e027cdf672d09ff8acba86449156f2691e02f6**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3293812838

Feel free to close this if this was just a one-off error.

[2022-10-21 10:08] #2746 closed

[2022-10-21 10:09] vfdev-5 commented on #2746
Related to https://github.com/pytorch/ignite/issues/2745

[2022-10-22 00:39] github-actions[bot] opened #2749 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 25e027cdf672d09ff8acba86449156f2691e02f6**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3301207381

Feel free to close this if this was just a one-off error.

[2022-10-22 08:54] #2745 closed

[2022-10-23 21:36] #2743 closed

[2022-10-23 21:41] vfdev-5 commented on #2749
Fixed by #2748

[2022-10-23 21:41] #2749 closed

[2022-10-24 02:53] soma2000-lang commented on #1790
@vfdev-5  https://app.codecov.io/gh/pytorch/ignite/blob/master/ignite/engine/engine.py in this file I see almost everything is covered .Please correct me if I am wrong

[2022-10-24 07:38] vfdev-5 commented on #1790
@soma2000-lang yes 97% of the code is covered but we need to cover up to 100% if possible.

[2022-10-24 09:35] soma2000-lang commented on #1790
Ok

On Mon, 24 Oct 2022, 13:08 vfdev, ***@***.***> wrote:

[2022-10-24 18:40] ananthsub opened #2752 "Support for TorchSnapshot for efficient checkpoint saving and loading"
## 🚀 Feature

TorchSnapshot is a performant, memory-efficient checkpointing library for PyTorch applications, designed with large, complex distributed workloads in mind. It includes many optimizations to control for memory usage and optimize checkpoint writing for DDP-style workloads over torch.save/torch.load. For more information, please check out the readme: https://github.com/pytorch/torchsnap

[2022-10-27 16:59] ananthsub commented on #2752
Yes, Snapshot.take should always be called on all ranks in a distributed setting. It acts as a collective.

The path specified should be a directory, which should be the same across all ranks. If on a multi-node setting, this assumes you have a storage system visible by all nodes (e.g. a cloud storage object store)

[2022-10-28 00:34] github-actions[bot] opened #2753 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1800feec9b4f70b2a6cd8f409ac76da06015efb1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3341787682

Feel free to close this if this was just a one-off error.

[2022-10-28 08:13] vfdev-5 commented on #2753
Failure:
[code]

@jakubczakon can you check and help to fix it ?

[2022-10-28 13:05] louis-she opened #2754 "DeterministicEngine improvement"
* remove `torch.cuda.manual_seed_all(seed)` [here](https://github.com/pytorch/ignite/blob/1800feec9b4f70b2a6cd8f409ac76da06015efb1/ignite/utils.py#L237
) as `torch.manual_seed(seed)` will seed CUDA if it has CUDA enabled.
* try to use `torch.use_deterministic_algorithms(True)` if torch has it instead of `torch.backends.cudnn.deterministic = True`, as the later only makes convolutional deterministi

[2022-10-28 17:25] jakubczakon commented on #2753
@Blaizzy could you take this over?

[2022-10-29 00:33] github-actions[bot] opened #2755 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1800feec9b4f70b2a6cd8f409ac76da06015efb1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3349292793

Feel free to close this if this was just a one-off error.

[2022-10-29 05:45] Blaizzy commented on #2753
@jakubczakon yes, I can. 👌🏽

[2022-10-29 14:53] #2755 closed

[2022-10-29 14:57] vfdev-5 opened #2758 "Update NeptuneLogger and handlers implementations to new API"
## 🚀 Feature

According to the docs : https://docs.neptune.ai/about/legacy/#initialization and https://docs.neptune.ai/about/legacy/#scores-and-metrics current [`NeptuneLogger` implementation](https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/neptune_logger.py) is legacy and may fail with new neptune versions.

cc @Blaizzy

[2022-11-01 13:05] Blaizzy commented on #2758
@vfdev-5

That is correct, and thanks for bringing this up!

FYI the updated integration is in the `development` stage 👍  but there is no ETA yet.

Here are a few alternatives I can think of:
- Add a warning about the version support and skip neptune tests
- Temporarily patch the current integration with the updates
- Wait a bit longer for the update.

I will talk to the team and see if there are

[2022-11-01 13:13] vfdev-5 commented on #2758
@Blaizzy thanks for the updates. How stable the new version ? I'm a bit surprized that new API is in the docs and previous is marked as legacy, but you say that new API is in dev stage...

By the way, there were another issue spotted by @louis-she on `importlib-metadata` being a common dep with the latest `gym`:
https://github.com/pytorch/ignite/pull/2757#issuecomment-1295868089
Can you bring it a

[2022-11-02 10:14] Blaizzy commented on #2758
Most welcome!

The new API is stable.

I was actually referring to the Neptune + PyTorch Ignite integration using the new API that is in the dev stage, not the API itself.

[2022-11-02 10:18] Blaizzy commented on #2758
Sure thing, I have informed the team, and we will look into it.

Thanks for letting me know!

[2022-11-02 10:42] vfdev-5 commented on #2758
Is it from Neptune side or pytorch-ignite code ?
Anyway, can you update our code to the newer API ?

[2022-11-02 11:28] Blaizzy commented on #2758
Neptune side, and we'll send a PR to your repo once it's done. :)

We have completed the specification of the update, and now it's marked `for development`, but there is no ETA for it.

[2022-11-02 11:30] Blaizzy commented on #2758
Great news on the dependency conflict with `gym`

The team had already noticed and fixed it [here](https://github.com/neptune-ai/neptune-client/blob/095c5f4fd5fb4d15bee587321ae8cdd67518bdcb/pyproject.toml#L15) and will be a part of a next release.

[2022-11-04 08:37] saskra commented on #708
Thanks for the code, this actually solves the problem with new lines for each iteration! But how can I prevent the progress bar from being cleared again at the end? I would have liked to leave it in the terminal so I can track how long the validation took.

[2022-11-07 00:48] github-actions[bot] opened #2761 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3406580331

Feel free to close this if this was just a one-off error.

[2022-11-07 09:49] Chucy2020 opened #2762 "RuntimeError: CUDA error: device-side assert triggered"
## 🐛 Bug description

## Environment

- PyTorch Version (1.7):
- Ignite Version (e.g., 0.4.2):
- OS (Linux):
- How you installed Ignite (pip):
- Python version: 3.7
- Any other relevant information:

运行下面代码print(word_logits.shape)时正常可以得到结果，但是print(word_logits)时报错
![image](https://user-images.githubusercontent.com/73978694/200279258-fb287af8-169e-402f-9bb8-3bdb5eaf49aa.png)
错误如下：

![image](https://

[2022-11-07 10:26] vfdev-5 commented on #2762
@Chucy2020 thanks for posting an issue but please write in english as our team can't read chineese.
On the other hand, is it related to pytorch-ignite somehow ?

[2022-11-07 11:17] Chucy2020 commented on #2762
Thank you for your reply and sorry for the trouble,
I used pytorch-ignite for this code，but the error may not be due to the pytorch-ignite. Now I haven't solved this problem, do you know how to solve this problem?

Running the following code print(word_logits.shape) normally yields the result, but print(word_logits) times the error

[2022-11-07 11:21] vfdev-5 commented on #2762
To debug "CUDA error: device-side assert triggered" if you can reproduce the error on a given batch, I would recommend to switch on CPU and it can give you a more understandable error message (maybe some indices are going out of bounds)...

It could be helpful if you could provide a small repro code, such we could help.

[2022-11-07 11:33] Chucy2020 commented on #2762
The following is the code, but the data is troublesome. I don't know how to send it to you.

 with torch.no_grad():
    # batch = tuple(convert_tensor(input_tensor, device=args.device, non_blocking=True) for input_tensor in batch)
    batch = tuple(input_tensor.to(args.device) for input_tensor in batch)
    graph, input_ids, decode_input, segment_id, input_masks, lm_labels, ans_idxs, ans_from = ba

[2022-11-07 12:25] vfdev-5 commented on #2762
@Chucy2020 just try to run this batch and the model and all above code on cpu to see if it works or fails with a more comprehensive error

[2022-11-07 12:52] #2762 closed

[2022-11-07 12:55] Chucy2020 commented on #2762
Haha, thank you so much!
pytorch-ignite is very great

[2022-11-07 14:11] saskra commented on #906
How have you solved this in the meantime?

[2022-11-07 14:23] vfdev-5 commented on #906
@saskra I think above (recopied it below as well) should work for that :
[code]

Please let us know if there is something is missing. Thanks

[2022-11-07 16:05] saskra commented on #906
Thanks, that's a good approach. But there is still too much memory wasted for me. If I simply set "n_saved = patience + 1" and delete all but the first model, I get the same effect. I could apply that here too, but isn't there a setting to directly save only the current best model and overwrite it at each improvement? Or do I have to rewrite the EarlyStopping class for that?

[2022-11-07 17:38] vfdev-5 opened #2763 "Update Polyaxon_logger example for v1.X"
## 📚 Documentation

- https://pytorch.org/ignite/generated/ignite.contrib.handlers.polyaxon_logger.html#ignite.contrib.handlers.polyaxon_logger.PolyaxonLogger

[code]
and for >=1.X one should do
[code]
- https://polyaxon.com/integrations/tracking-ignite/

Let's add newer option instead of the old one

[2022-11-08 03:54] Chucy2020 opened #2764 "common.setup_common_training_handlers API how to I save a checkpoint while keeping the name the same?"
## 🐛 Bug description

## Environment

- PyTorch Version (1.7):
- Ignite Version (0.4.2):
- OS (Linux):
- How you installed Ignite (pip):
- Python version:3.7
- Any other relevant information:

![image](https://user-images.githubusercontent.com/73978694/200468085-b7dda287-b170-4b9f-86e7-95db00fde49d.png)
![image](https://user-images.githubusercontent.com/73978694/200468179-6bf5cb1d-49bf-4684-9ed7-7

[2022-11-08 08:19] vfdev-5 commented on #2764
@Chucy2020 to load a checkpoint to resume the training you can do the following:
https://github.com/pytorch/ignite/blob/66b1bfacbc95addf667514bffb7dcf4b6efd874b/examples/contrib/cifar10/main.py#L352-L358

[2022-11-08 08:32] Chucy2020 commented on #2764
thanks for your reply, what I want to do now is the following.
for iter in range(10):
    trainer.run()
save(model)
#There's no checkpoint before we start, what I want to do is load the checkpoint that I trained when iter=0 at the start of iter=1, and load the checkpoint that I trained when iter=1 at the start of iter=2 ...

I found that running the trainer.run would get a checkpoint, but the chec

[2022-11-08 09:39] vfdev-5 commented on #2764
Maybe, you are looking for [`last_checkpoint`](https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.Checkpoint.html).

Here is a snippet with what I understand you want to do:
- Checkpoint saves the model when trainer completed the run
- on the next iteration of external loop we load the last checkpoint

[code]

[2022-11-09 00:45] github-actions[bot] opened #2766 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3424209296

Feel free to close this if this was just a one-off error.

[2022-11-09 10:50] #2766 closed

[2022-11-09 13:35] Chucy2020 commented on #2764
thank you very much.

When I run this code, I get the following error, Could you tell me how to solve this?
![image](https://user-images.githubusercontent.com/73978694/200842961-3204cece-47c3-46c9-8b7f-ace2cbf626bb.png)

[2022-11-09 13:52] vfdev-5 commented on #2764
Please, update to the lastest ignite version >= 0.4.10

[2022-11-09 13:54] Chucy2020 commented on #2764
ok, i got it, thank you very much.

[2022-11-10 00:44] github-actions[bot] opened #2767 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3432839211

Feel free to close this if this was just a one-off error.

[2022-11-12 00:41] github-actions[bot] opened #2768 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3448740649

Feel free to close this if this was just a one-off error.

[2022-11-13 00:44] github-actions[bot] opened #2769 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3453060004

Feel free to close this if this was just a one-off error.

[2022-11-14 00:15] github-actions[bot] opened #2770 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **Nightly Releases with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3457532413

Feel free to close this if this was just a one-off error.

[2022-11-14 00:34] aliwaqas333 opened #2771 "TypeError: Checkpoint.__init__() got an unexpected keyword argument 'require_empty'"
## 🐛 can't save to checkpoint with files.

` handler = Checkpoint(to_save, DiskSaver('./checkpoints', create_dir=True), require_empty=False) `

when  `require_empty=False` not passed, the following error is thrown:
` '.pt' are already present in the directory checkpoints. If you want to use this directory anyway, pass 'require_empty=False'. `

is there any work around?

thank you all.

## Environm

[2022-11-14 00:42] github-actions[bot] opened #2772 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3457503249

Feel free to close this if this was just a one-off error.

[2022-11-14 09:29] #2761 closed

[2022-11-14 09:29] #2767 closed

[2022-11-14 09:29] #2772 closed

[2022-11-14 09:30] #2768 closed

[2022-11-14 09:30] #2769 closed

[2022-11-14 09:30] #2770 closed

[2022-11-14 09:31] vfdev-5 commented on #2771
@aliwaqas333 you need to put `require_empty` to [`DiskSaver`](https://pytorch.org/ignite/generated/ignite.handlers.DiskSaver.html#ignite.handlers.DiskSaver):
[code]

[2022-11-14 23:19] janeyx99 opened #2773 "Use LRScheduler instead of _LRScheduler"
## Update code to be compatible with LRScheduler too

I recently exposed LRScheduler to be public (instead of _LRScheduler) in https://github.com/pytorch/pytorch/pull/88503. I see several instance checks in this current repo that use _LRScheduler, and I believe these should be updated to be LRScheduler.

## Why?
This would be a good step in the right direction. Also, downstream users who subscribe

[2022-11-15 00:41] github-actions[bot] opened #2774 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3466218035

Feel free to close this if this was just a one-off error.

[2022-11-15 08:17] github-actions[bot] opened #2775 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 66b1bfacbc95addf667514bffb7dcf4b6efd874b**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3466218035

Feel free to close this if this was just a one-off error.

[2022-11-15 08:24] #2775 closed

[2022-11-16 11:44] Chucy2020 opened #2779 "Does ignite save checkpoint take up video memory?"
## 🐛 Bug description

## Environment

- PyTorch Version (e.g., 1.4):1.7
- Ignite Version (e.g., 0.3.0):0.4.1
- OS (e.g., Linux):Linux
- How you installed Ignite (`conda`, `pip`, source):pip
- Python version:3.7
- Any other relevant information:

[code]

During training, there will be a gradual increase in video memory, and eventually lead to cuda memory explosion
![image](https://user-images.githu

[2022-11-16 11:56] vfdev-5 commented on #2779
@Chucy2020 thanks for reporting !

Do you create new trainer in the loop or append training handlers on each iteration ? I imagine your code looks like:
[code]

Maybe, you have to setup trainer outside the loop ?
[code]

[2022-11-16 11:59] vfdev-5 commented on #2773
@janeyx99 thanks for the update! Indeed this change broke our CI running with pytorch-nightly :)

[2022-11-16 12:11] Chucy2020 commented on #2779
Since I will train the model with different data in each cycle, my purpose is to load the model with the data training in the first cycle in the second cycle until the end of the cycle and the training ends. So, i have to setup trainer outside the loop ?

[2022-11-16 12:16] Chucy2020 commented on #2779
The way I am using it is as follows
for i in range(n):
    trainer = ...
    common.setup_common_training_handlers()  # <---- here you add the same handlers multiple times in the loop
    common.gen_save_best_models_by_val_score()   # <---- same here
    trainer.run()

[2022-11-16 12:35] vfdev-5 commented on #2779
@Chucy2020 if you could share runnable code if would be more simple to help with the issue.

Where do you create the model and move it to cuda ?

[2022-11-16 12:41] Chucy2020 commented on #2779
I really want to provide it to you and solve this problem as soon as possible, but it is difficult for the code to be transmitted from the Intranet.

The way I am using it is as follows:
[code]

[2022-11-16 22:52] #2773 closed

[2022-11-17 00:57] Chucy2020 commented on #2779
Hello, is this code correct? How do I implement the code to make sense? Is the reason for the above memory increase because of the way I am coding? What should I do about it?

[2022-11-17 01:05] vfdev-5 commented on #2779
Hello, above code does not look wrong from the first glance. Let me try that with a simple resnet and cifar10 config to check.

Can you put the following into your code to check memory consumption:
[code]
to see at which steps you have the growth. Is it related to the loop iterations ?

[2022-11-17 01:08] Chucy2020 commented on #2779
Okay, I'll try it, thank you very much!  ~~~

[2022-11-17 07:11] Chucy2020 commented on #2779
I also want to know at this point is the model loading the trained model with the data in the loop or the untrained model outside the loop? thanks。
![image](https://user-images.githubusercontent.com/73978694/202379971-a14e6dcd-bff5-4025-91ca-653d3bcb1ded.png)

[2022-11-17 14:38] vfdev-5 commented on #2779
@Chucy2020 Actually I do not quite understand why do you need to create a new trainer, dataloader etc for a chunk of training data ?
Can't we do something like:
[code]

As for your question, on the first iteration model will be `AutoModel.from_pretrained` and then it will be trained with `trainer.run` and this updated model will be evaluated..

[2022-11-17 21:32] #2763 closed

[2022-11-18 01:52] Liumengqiu01 opened #2781 "AttributeError: 'tuple' object has no attribute 'shape'"
def _check_shape(self, output: Sequence[torch.Tensor]) -> None:
        y_pred, y = output

if not (y.ndimension() == y_pred.ndimension() or y.ndimension() + 1 == y_pred.ndimension()):

it said type of y_pred is tuple

[2022-11-18 07:00] vfdev-5 commented on #2781
@Liumengqiu01 can you provide some code that gives you this error.
Without the context, everything seems fine. Predictions should be a tensor and not tuple

[2022-11-18 07:51] Liumengqiu01 commented on #2781
@vfdev-5 Thanks for your help, I think I've figured this out myself. I made a careless mistake because I was missing a variable to receive the output of the model. Sorry to trouble you.

[2022-11-18 08:10] vfdev-5 commented on #2781
Sounds good. I close the issue as solved then.

[2022-11-18 08:10] #2781 closed

[2022-11-18 08:10] vfdev-5 commented on #2771
@aliwaqas333 I close the issue as solved. Feel free to reopen if needed.

[2022-11-18 08:10] #2771 closed

[2022-11-18 08:12] vfdev-5 commented on #2754
Solved by #2756

[2022-11-18 08:12] #2754 closed

[2022-11-18 11:13] Chucy2020 commented on #2779
Thank you very much for your reply and patience.
I used the data in common.setup_common_training_handlers, so I put it inside the loop.
Putting it outside has no effect?

[2022-11-18 11:28] vfdev-5 commented on #2779
@Chucy2020 I think we can rewrite this code to get `setup_common_training_handlers` out of the loop.

Are you doing distributed training ?

[code]

[2022-11-18 11:32] Chucy2020 commented on #2779
Thank you very much.
Not yet, I will use distributed next because there is too much data and single card training is too slow.

[2022-11-18 11:33] vfdev-5 commented on #2779
in this case you do not need to put train_sampler into `setup_common_training_handlers` as it is only for DDP

[2022-11-18 11:36] Chucy2020 commented on #2779
Okay, I get it, thank you very much.
Thank you for being professional, responsible, patient, powerful, etc. Thank you!

[2022-11-18 13:22] #2779 closed

[2022-11-18 15:36] vfdev-5 commented on #2779
@Chucy2020 did you solve the issue ?

[2022-11-20 01:11] github-actions[bot] opened #2782 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit b04cbfc593c62f71f44d458a7e87a3d31b23d2ad**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3505695670

Feel free to close this if this was just a one-off error.

[2022-11-21 00:51] Chucy2020 commented on #2779
![image](https://user-images.githubusercontent.com/73978694/202936295-f6d40783-5ec5-4ac6-99fb-06221e172c1d.png)

No, I don't know what the problem is with that one, maybe it's not a problem brought on by models being placed inside loops or constantly saving models, now this video memory doesn't seem to be increasing.

[2022-11-21 11:31] #2782 closed

[2022-11-23 11:22] vfdev-5 opened #2784 "[CI] update set-output usage"
Use
[code]
instead of
[code]
in our GHA yml files.

- https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

What to do:
- comment here to be assigned to the issue
- find all files where we use "::set-output"
- replace set-output by what GH suggests (see above)
- send a PR

[2022-11-26 00:44] github-actions[bot] opened #2785 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit c6ef9d1c6ef9700ce8498e16c90d80e94ce26ed2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/3551357444

Feel free to close this if this was just a one-off error.

[2022-11-26 08:34] guptaaryan16 commented on #2784
Hey @vfdev-5, please assign me to this issue

[2022-11-27 20:52] #2784 closed

[2022-11-30 08:16] #2785 closed

[2022-11-30 21:38] vfdev-5 opened #2789 "CI GH Actions updates"
According to recent warnings on unit tests:
[code]
we need to update versions for `actions/setup-python@v2` and `codecov/codecov-action@v1`.

What to do:
- Find the latest version for `actions/setup-python@v2` and `codecov/codecov-action@v1`
- Update the version for all our GH actions workflows by searching in the codebase
- Please send a PR

[2022-11-30 21:38] vfdev-5 commented on #2789
@guptaaryan16 would you like to tackle this one ?