[2021-02-09 15:24] Devanshu24 commented on #1626
To confirm if I understand it correctly, we could parse the contents of README and replace the relative paths to the URLs using python?

[2021-02-09 15:30] vfdev-5 commented on #1626
Yes, it's an idea on how to try to have both features...

[2021-02-09 20:05] fco-dv opened #1627 "run_multinode_tests_in_docker.sh :FileNotFoundError: [Errno 2] No such file or directory: 'python3.6'"
## 🐛 Bug description

When running `bash ./test/run_multinode_tests_in_docker.sh`
[code]
This script is not in the CI but is useful to run the distributed tests on a local machine.
Idea would be to make it compatible with `pytorch/pytorch:latest`, eventually make an inline build of an image with pre-installed tests execution environment, add `nnodes`, `nproc_per_node`, `gpu` as script arguments.

[2021-02-10 13:51] sparkingdark commented on #1627
@fco-dv is this issue relevant to anaconda, I got the same error while installing using docker

[code]

platform: popos 20.04

probably a kernel error https://github.com/jupyter/jupyter/issues/147

[2021-02-10 14:02] fco-dv commented on #1627
@sparkingdark I think this error is coming from the hardcoded python3.6 version in this command (l.16) which is different from that of your `'pytorch/pytorch:latest'`` python version , I manage to make it work , will make a PR
[code]

[2021-02-10 14:07] vfdev-5 commented on #1627
@fco-dv actually `popen//python=python3.6` can be `popen//python=python` as here : https://github.com/pytorch/ignite/blob/6753b19b74fd8d128188dd0a75b405d19aa515b5/tests/run_cpu_tests.sh#L11

[2021-02-10 14:19] sparkingdark commented on #1616
@vfdev-5 I see that there is different apex project exists like nvidea one,i used this to install `apex` library

[code]
But after that I got this error can you tell me which specific package need to install regarding dataflow

[code]

[2021-02-10 14:26] vfdev-5 commented on #1616
@sparkingdark here `dataflow` is a local module which was wrongly placed before `sys.path.insert` line. As I said [before](https://github.com/pytorch/ignite/issues/1616#issuecomment-774495099) the issue with isort and reordering.

[2021-02-10 14:29] sparkingdark commented on #1616
Okay so you are saying that just need to test proper ordering and import can solve this issue.

[2021-02-10 14:45] vfdev-5 commented on #1616
If you ask where this `dataflow` module, it is here : https://github.com/pytorch/ignite/tree/master/examples/references/segmentation/pascal_voc2012/code/dataflow

[2021-02-10 15:00] sparkingdark commented on #1616
Thanks I will try to reproduce it.

On Wed, Feb 10, 2021, 20:15 vfdev <notifications@github.com> wrote:

[2021-02-11 08:59] sparkingdark commented on #1616
I try to reproduce the issue install the miniconda for this purpose,after that created a file containing the following code

[code]
This is error I got...
[code]

[2021-02-11 09:01] vfdev-5 commented on #1616
Looks like you have installed an old version. Try to install the latest one: 0.4.3

[2021-02-11 09:02] sparkingdark commented on #1616
which module?

[2021-02-11 09:08] vfdev-5 commented on #1616
This is strange. Probably, something odd with your env setup. Try simply: `python -c "import ignite; print(ignite.__version__); import ignite.distributed"`

[2021-02-11 09:15] sparkingdark commented on #1616
I checkout the branch 0.4.3 and installed that.after that I got the setup error for pascal voc data

[code]
probably error solved with bad import.I am doenloading the data.

[2021-02-11 09:42] sparkingdark commented on #1616
[code]

run succesfully.

[2021-02-11 09:54] vfdev-5 commented on #1616
I'm not sure if preprending `code.` is the correct solution. To ensure that you have to run the training as it is described in for example in `NOTES_MLflow.md` where `mlflow run` cmd line tool is used. Same for `NOTES_ClearML.md`...

[2021-02-11 09:56] sparkingdark commented on #1616
I don't imported code in path ,how can I do that export what to put = codes path, i don't understand that's why used clearml as per notes.

[2021-02-11 10:27] vfdev-5 commented on #1616
@sparkingdark if you'd like to help with a fix for this issue, please follow the guideline above. Thanks.

[2021-02-11 10:29] sparkingdark commented on #1616
Okay

[2021-02-11 17:01] #1626 closed

[2021-02-11 20:37] vfdev-5 commented on #1610
Let me close the issue as it is unrelated to ignite. Feel free to give more details and share your thoughts on the topic. Thanks

[2021-02-11 20:37] #1610 closed

[2021-02-12 12:12] vfdev-5 opened #1635 "Unify metrics output type"
## 🚀 Feature

The idea is to verify the output type for all metrics (output of `compute` function) and update the docs accordingly.

In general, metric's output should be a float number. In some particular cases, like Recall/Precision with `average=False`, the output is a torch tensor. So, let's see and decide if output can be :
- `def compute() -> float`
- `def compute() -> Union[float, torch.Ten

[2021-02-12 12:23] vfdev-5 commented on #1574
@sdesrozis I think we can try to implement this as new `SampleWise` metric usage. Would you like to work on that ?
Maybe, it could also open a discussion on how to better generalize MetricUsage structure and cover the issue with RunningAverage and Frequency metrics...

[2021-02-12 13:55] ahmedo42 commented on #1635
I think `def compute() -> Union[float, torch.Tensor]` makes more sense , but should this return type be universal among all metrics?
or just for those like Recall/Precision ?
I also think that `tests.ignite.metrics` should be updated too then?

[2021-02-12 14:39] vfdev-5 commented on #1635
@ahmedo42 well, the point here is to make it clear what is returned float or tensor and if tensor on which device etc.
For example, if we compute a basic accuracy, it should be a float, no point to return it as like `torch.tensor(0.78)`.
Recall/Precision have an option to return precision and recall per class so the output is `torch.tensor([0.88, 0.99, 0.77, ...])` which is OK.

yes, definitely, w

[2021-02-12 16:19] ahmedo42 commented on #1635
@vfdev-5

so shouldn't all metrics support `torch.tensor` and `float`  , then we cast to the appropriate type according to some
property like `self.samplewise` ?  just like what happens in precision and recall ?

[2021-02-12 16:31] vfdev-5 commented on #1635
Yes, it seems like that if we support various `MetricUsage`s.

[2021-02-12 18:23] vfdev-5 commented on #1235
Cross-posted from #1589

---

We discussed this PR and related issue with the team and we think that we should explore a bit different approach. Helper method `create_supervised_trainer` is roughly made of 2 things : `update` function definition and `Engine` setup.

Probably, it would more helpful to provide public methods like:
- `supervised_training_step`
- `supervised_training_step_tpu`
- `supe

[2021-02-12 18:36] pmneila opened #1637 "Variable epoch_length for different epochs"
## ❓ Questions/Help/Support

Hi,

I'm working with a model that increases in complexity during training. To avoid memory issues, I reduce the batch size accordingly at each epoch. This means that, for a fixed length of the dataset, the number of iterations per epoch increases each epoch.

Something like this:
[code]

The problem is that `engine.state.epoch_length` is set once for the first loader

[2021-02-12 18:44] sdesrozis commented on #1635
IMHO handle an unique type could simplify the underlying code. If no issue about performance occurs, I would prefer have `torch.tensor` (compatible with `float`) rather than union of types.

But maybe it's because I'm too lazy 😊

[2021-02-12 18:54] vfdev-5 commented on #1637
@pmneila thanks for the question! In some sense, epoch lenght can be unrelated to the size of the dataset, taking this assumption we can set it and just reset input data each epoch ([Engine.set_data](https://pytorch.org/ignite/engine.html#ignite.engine.engine.Engine.set_data)). However, the epoch_length will remain fixed.

[code]
gives
[code]

So, effectively for smaller batches we do not cover al

[2021-02-12 19:22] vfdev-5 commented on #1635
@sdesrozis logging scalars as tensors can be too much :) We have to have floats which is the type on most of the cases.

[2021-02-12 19:53] pmneila commented on #1637
Thank you for the answer. That code works, but I think it does not deal well with `load_state_dict`. In `Engine.load_state_dict` either the epoch or the iterations are computed assuming a fixed `epoch_length`, and something similar happens in `Engine._setup_engine` to compute the initial counter value for `_run_once_on_dataset`.

I made a quick test with `load_state_dict` with your example:

[code

[2021-02-12 20:19] sdesrozis commented on #1635
Yep, I understand your point 😊 I talk about have an unique type, not only the typing of the output. But that is a matter of taste 😉

[2021-02-12 20:29] sdesrozis commented on #1637
@pnmeila thanks for this discussion.

I think having such way to handle dynamic batch size and epoch length could lead to implementation as in the following paper

https://arxiv.org/abs/1711.00489

[2021-02-12 21:13] vfdev-5 commented on #1637
@pmneila well, I agree there is no proper way to do that. Here is a hacky approach to achieve what you'd like
[code]

<details>

<summary>
Output
</summary>

[code]

</details>

Anyway, I agree that separating epoch, iteration and epoch_length could be a interesting feature to have.

[2021-02-14 13:22] pmneila commented on #1637
Thank you. That will do for now.

[2021-02-14 16:17] ydcjeff commented on #1489
It can be closed now.

[2021-02-14 16:19] vfdev-5 commented on #1489
Closed by #1509 and #1639

[2021-02-14 16:19] #1489 closed

[2021-02-14 19:42] #1627 closed

[2021-02-14 23:02] ahmedo42 commented on #960
I'd like to work on it , should we use the same dataset?? and the same BERT model ?? I think the purpose of this is to make users comfortable using ignite with multicore TPU.

Maybe something like this with added featuers of ignite?? [PyTorch on Cloud TPUs: MultiCore Training AlexNet on Fashion MNIST](https://colab.research.google.com/github/pytorch/xla/blob/master/contrib/colab/multi-core-alexnet

[2021-02-14 23:05] vfdev-5 commented on #960
@ahmedo42 thanks for asking. I agree that the purpose is more about Ignite and multiple TPUs which is more or less covered here : https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10#colab-on-8-tpus

NLP example on multiple TPUs possible trained on Kaggle TPUv3 (vs TPUv2 on colab) could be still nice to have in addition to cifar10 example.

What do you think ?

[2021-02-14 23:16] ahmedo42 commented on #960
Didn't really know the difference between TPU's on Kaggle and On Colab 😃 .

Totally agree , an NLP example is needed  ,  so it should a ported notebook in `examples/notebooks` using the same data? with some explanations perhaps?

[2021-02-14 23:22] vfdev-5 commented on #960
Well, I'm hesitating between two:
- notebook is good and could be easily read on Kaggle notebook interface + explanations
- script is good as well if user would like to extend it (what is probably more important need for us)

Do you have any NLP background to suggest what would be more interesting to have here ?
Maybe, it would be nice to port an example from hugging face transformers and run ever

[2021-02-15 00:13] ahmedo42 commented on #960
well , notebooks could be extended too , people fork notebooks and extend them all the time on Kaggle

This seems like a best practice , almost all of the huggingface examples are scripts which allow for a higher degree of control from the user's perspective and probably we should do that

Well , I think we really need a Transformer example since it's a huge trend and it's the De Facto in NLP righ

[2021-02-15 00:16] vfdev-5 commented on #960
Sounds good !

[2021-02-15 10:07] sparkingdark commented on #1637
Hey @vfdev-5 I think this can be a good warm up issue to solve to implement a dynamic epoch length variable.

A approach can be make a function which take the initial epoch size,batch param and can we consider memory available , now if we can do `diff = total_epoch - initial_epoch` and assign diff to epoch length ,but it is not clear to me can we start the training again or can use a custom event

[2021-02-15 11:22] #1616 closed

[2021-02-15 11:42] vfdev-5 opened #1644 "Improve docker build scripts"
## 🚀 Feature

Currently, we can build and publish dockers using Circle CI and it works more or less well, however, PR's modifying Dockerfile can not build docker images to ensure PR correctness (related to the way how the PR is checkout on Circle CI).

The idea is
- refactor all `build_all.sh` scripts (docker/main/build_all.sh, docker/hvd/build_all.sh and docker/msdp/build_all.sh) into a single sh

[2021-02-15 14:34] sparkingdark commented on #1644
I am not sure about the GitHub actions, that build the docker image from the pr, but I think the first point is an idea to merge all shell file to one main shell script.

what is the difference between the folders `main` , `hvd`, and `msdp`

[2021-02-15 14:43] vfdev-5 commented on #1644
@sparkingdark checkout https://github.com/pytorch/ignite/tree/master/docker and installation section. It is about having different frameworks in addition to pytorch and ignite.

[2021-02-15 14:48] sparkingdark commented on #1644
Okay I will check that.

[2021-02-16 12:05] sparkingdark commented on #1386
@vfdev-5 is this solved, what is the error .... I got this while running

[code]

[2021-02-16 12:44] vfdev-5 commented on #1386
@sparkingdark there is no explicit error raised here, but epoch value is wrong. Here is a snippet with more explicit epoch check:
[code]

Also, note that we do not continue iterating the data but restart from the first samples which is wrong as well.

[2021-02-16 13:05] sparkingdark commented on #1386
Okay somehow need a fix which can resume from the current value. am i correct ?

[2021-02-16 13:49] vfdev-5 commented on #1386
Well, this is a bit complicated to fix as is. I think this will be done with Engine refactor that I'm initiated some time ago...

[2021-02-17 16:44] sdesrozis opened #1648 "Use one_rank_only in ProgressBar and HandlersTimeProfiler"
## 🚀 Feature

The idea is to use the decorator `@one_rank_only` on attachment of `ProgressBar` and `HandlersTimeProfiler`
[code]
could become
[code]

Methods `ProgressBar.log_message()`, `HandlersTimeProfiler.get_results()`, and `HandlersTimeProfiler.write_results()` should be compatible. I think it is already done by user who calls these methods only on the master rank.

@vfdev-5 what do you thin

[2021-02-17 16:53] vfdev-5 commented on #1648
@sdesrozis this point is always bothering me as well. The problem why we didn't do that yet is due
- to public methods inside loggers like ProgressBar (pbar), TensorboardLogger (writer) which could be potentially used to do things and should be also mocked somehow to do nothing and return other mocks for other procs > 0.
- mixing handlers that should be used with ``if idist.get_rank() == 0` and th

[2021-02-17 17:40] sdesrozis commented on #1648
Ok I understand. I have suggested only for some specific handlers. I will handle this on my side.

I close this issue 😉

[2021-02-17 17:40] #1648 closed

[2021-02-17 20:33] #1615 closed

[2021-02-18 05:42] sparkingdark commented on #1386
Okay so am I try to solve it or look into other issues @vfdev-5

[2021-02-18 05:59] sparkingdark commented on #1415
@vfdev-5 are we going to create an extended class `customMetrics` where users can use custom operations like `reset`, `update`, and `compute`.

[2021-02-18 08:35] vfdev-5 commented on #1386
I'd suggest to see other "help wanted" issues: https://github.com/pytorch/ignite/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2021-02-18 08:38] vfdev-5 commented on #1415
@sparkingdark no, the idea is to improve existing `Loss` class

[2021-02-18 08:38] sparkingdark commented on #1415
Okay

[2021-02-19 01:01] vfdev-5 opened #1649 "Create a footer on main docs site"
## 📚 Documentation

It would be helpful to enable a footer on the docs site: https://pytorch.org/ignite/ where we can keep current mentions like
-  © Copyright 2021, PyTorch-Ignite Contributors.
- Built with Sphinx using a theme provided by Read the Docs.

and should place a badge from https://www.netlify.com/press/#badges . For example, this one :

  <a href="https://www.netlify.com">
    <img sr

[2021-02-19 08:39] trsvchn commented on #1649
@vfdev-5 Absolutely! I would love to do that!

[2021-02-19 08:54] vfdev-5 commented on #1649
Thanks a lot @trsvchn !

[2021-02-19 11:17] sparkingdark opened #1651 "No module named 'ax' in Cifar10_ax_hyperparma_tuning notebook"
## 🐛 Bug description

While Execute this [notebook](https://github.com/pytorch/ignite/blob/master/examples/notebooks/Cifar10_Ax_hyperparam_tuning.ipynb) in google colab I got the following error:

[code]
Link to the cell is [here](https://colab.research.google.com/drive/1-y9NZbpa96Ps8BDzeqJsxNCyhKMjOjUn#scrollTo=Yt3W860Hfaqw&line=1&uniqifier=1)

Tagging @vfdev-5

## Environment

- PyTorch Version

[2021-02-19 11:53] vfdev-5 commented on #1651
Yes, looks like the first cell is missing `ax` to be installed. Maybe, like that:
[code]

[2021-02-19 11:58] sparkingdark commented on #1651
Yes I added that and now works fine.

[2021-02-19 12:40] #1651 closed

[2021-02-19 16:20] #1649 closed

[2021-02-20 21:18] vfdev-5 opened #1657 "Improve distributed tests for Confusion Matrix (CM and MLCM)"
Currently, the testing data is generated without taking into account distributed context:
https://github.com/pytorch/ignite/blob/e17acc740d38909ddbbed6648423750abe593e58/tests/ignite/metrics/test_confusion_matrix.py#L559-L565

same for MultiLabelConfusionMatrix tests.

We would like to rewrite the tests in a similar way as here :
https://github.com/pytorch/ignite/blob/e17acc740d38909ddbbed66484237

[2021-02-20 23:18] #1609 closed

[2021-02-21 08:38] ydcjeff opened #1659 "Automatically create an issue if cron jobs fail"
## 🚀 Feature
We currently have two cron jobs, `pytorch-version-tests` and `binaries-nightly-release`.
While doing #1589 , if I fail to skip some tests, that would fail in `pytorch-version-tests`, but not on master.
And, the failed cron jobs notifications will only be pushed to repo maintainers, not PR authors.
Since maintainers are usually track issue/pr via labels/milestones/projects, only a few

[2021-02-21 09:19] #960 closed

[2021-02-21 09:41] vfdev-5 commented on #1659
Yes, makes sense! We can try that. Maybe a tricky part is to cc PR authors in case they really break the builds. Like now failure is PR unrelated...

[2021-02-21 09:49] vfdev-5 opened #1660 "Fix code formatting github action"
## 🐛 Bug description

Currently, auto code formatting GA: https://github.com/pytorch/ignite/actions/workflows/code-style.yml
does not on forks and fails while try to commit/push the fix to the fork. This gives a misleading error to the user without helping how to solve it. Currently this action is disabled.

The idea is to find out what is the cause of the failure and fix it if possible.

## Envir

[2021-02-21 09:57] Devanshu24 commented on #1660
Hi @vfdev-5 !
I could try fixing this, the problem is the user has to enable GitHub actions on their fork (which GitHub disables by default)
We could add a line in CONTRIBUTING.md suggesting if you want to use auto formating please enable GitHub actions on your fork. :)

[2021-02-21 09:59] ydcjeff commented on #1659
Sometimes PR authors break the tests, sometimes new pytorch version does.
So, I think it's ok not to cc PR authors (leave as it is) and pining authors can also be hard.
But, such an issue can be a good first issue for new contributors.

[2021-02-21 10:28] #1235 closed

[2021-02-21 12:30] ydcjeff opened #1662 "add gradient normalization and accumulation in supervised_training_step_* functions"
## 🚀 Feature

After #1589 , `grad_norm` is left to add (#419), and also [gradient accumulation](https://pytorch.org/ignite/master/faq.html#gradients-accumulation) is also common in supervised training, we should also add that to have full supervised training.

[2021-02-21 12:33] vfdev-5 commented on #1660
@Devanshu24 thanks for the info! Do you know if still there is a way to use/skip this action if user disabled actions ?

[2021-02-21 12:35] Devanshu24 commented on #1660
I do not at this moment, but I'll look it up! :)

[2021-02-21 12:59] trsvchn commented on #1660
@vfdev-5

Actions are disabled by default for forked repos (as @Devanshu24 already mentioned). When you're creating a PR to upstream repo (`pytorch/ignite`) it triggers worklfow from that repo (`pytorch/ignite`).

If you want to use GH Actions you need to toggle them manually for your fork. Then, if you're creating PR or pushing to the fork repo (`user/ignite`) it triggers local workflow (workflow

[2021-02-21 14:01] trsvchn commented on #1660
I've made some tests. Here #1663 you can see a PR with autopep8 fix made for a dummy python file in a fork w/failure. so, it works as expected.

But the most interesting thing happens when you're trying to add new commits to that branch, it triggers 2 same workflows simultaneously: one for push and one for pr:

![Screenshot from 2021-02-21 15-58-01](https://user-images.githubusercontent.com/307481

[2021-02-21 14:13] trsvchn commented on #1660
so we have double triggering here, and there is no way to fix it:

Full: https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662

[2021-02-21 14:32] trsvchn commented on #1660
well, setting this really triggers only one workflow:

[code]

But, again it will work against master branch

[2021-02-21 14:44] trsvchn commented on #1660
I think the possible solution might be to create two separate workflows file:
main code-style with:
[code]

and another for local/forks events, only for push events

[code]

But we need to discuss it (and verify it)

[2021-02-21 16:29] ydcjeff opened #1665 "Use autodoc_typehints = "description" in conf.py"
## 📚 Documentation

EDITED HERE: As a help wanted issue, please, see below comment https://github.com/pytorch/ignite/issues/1665#issuecomment-783240506 on what remains to do here. Thanks

If there are many arguments in class/function/method, it's a little hard to read/scan all arguments (due to typehints).
Although there is a `Parameters` section, there might be missing some arguments (rarely thou

[2021-02-21 16:55] vfdev-5 commented on #1660
@trsvchn thanks for inspecting that !

Here is a log where GA has failed :
- https://github.com/pytorch/ignite/runs/1936462365?check_suite_focus=true
- https://github.com/pytorch/ignite/actions/workflows/code-style.yml

It is `stefanzweifel/git-auto-commit-action@v4` which fails if there are files to format the code.

[2021-02-21 16:59] vfdev-5 commented on #1662
@ydcjeff yes, adding a grad accumulation could a be great addition ! We provide a code snippet in FAQ for that but in the code it could be also helpful.

[2021-02-21 17:03] vfdev-5 commented on #1665
@ydcjeff thanks! Yes, it would be a nice improvement of the docs ! I also found that function's signature is cluttered by type hints which can hard to read. Let's introduce those configs to `conf.py`

[2021-02-21 17:10] #1659 closed

[2021-02-21 17:14] vfdev-5 opened #1666 "Update cifar10 example, validation with amp"
Currently, we provide AMP option for the training, but model's evaluation still run on plain f32. Recently, we merged [transformers example](https://github.com/pytorch/ignite/tree/master/examples/contrib/transformers) where evaluation takes amp into account : https://github.com/pytorch/ignite/blob/master/examples/contrib/transformers/main.py#L367

The idea is to make cifar10 example compatible as

[2021-02-21 17:18] trsvchn commented on #1665
@ydcjeff Yes, I like it! BTW, I didn't know that we can do that so easily, I was expecting to use https://github.com/agronholm/sphinx-autodoc-typehints as a new dependency for that.

[2021-02-21 17:29] ydcjeff commented on #1665
@vfdev-5 I will send PR tmr

@trsvchn yes, that `description` option is new in sphinx 3.1 so that we can do that

[2021-02-21 17:34] trsvchn commented on #1660
@vfdev-5 ok, I see, it's different. Thanks, I will try to play that dummy PR to reproduce exactly that error. But, auto-formatting for forked repo with enabled actions works fine.

[2021-02-21 20:16] trsvchn commented on #1660
After quick view at the `stefanzweifel/git-auto-commit-action@v4` I found this recomendation:

You must use action/checkout@v2 or later versions to checkout the repository. In non-push events, such as pull_request, make sure to specify the ref to checkout:

[code]

[2021-02-21 20:27] vfdev-5 commented on #1660
Thanks for the info and the link. Shouldn't we do like in the example: https://github.com/stefanzweifel/git-auto-commit-action#example-2 but adapted for us:
- add pull_request_target

We can inspect what happens in both cases:
a) GitHub Action is enabled on the forked repository.
b) GitHub Action is disabled on the forked repository.

[2021-02-21 20:28] #1283 closed

[2021-02-21 20:29] trsvchn commented on #1660
@vfdev-5 yes, I think we can start from that

[2021-02-21 22:16] sdesrozis commented on #1665
@ydcjeff typehints have to be removed from docstring, haven't they ? If so, It seems to be a huge work that we could scatter between us.

[2021-02-21 22:24] vfdev-5 commented on #1665
@sdesrozis why ?

As far as I understand, it is just about adding to additional lines to `conf.py`.

[2021-02-21 23:06] Moh-Yakoub commented on #1666
I'd like to pick this one up, I have a question though.

Is the idea to update that method invocation https://github.com/pytorch/ignite/blob/master/examples/contrib/cifar10/main.py#L86 to pass AMP into evaluation as well?

Since the evaluator https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L370 doesn't have the param we have the option with either
1. Add an optional param f

[2021-02-21 23:12] vfdev-5 commented on #1666
I updated the description to make it more explicit.
I'd say, let's do 2nd option for this issue. But I agree in a long term we can replace that with another solution that could join recently merged PR for AMP: https://github.com/pytorch/ignite/pull/1589 (cc @ydcjeff)

[2021-02-22 07:58] ydcjeff opened #1670 "add automatic mixed precision in create_supervised_evaluator"
## 🚀 Feature

Like #1235, add automatic mixed precision (both torch.cuda.amp) in `create_supervised_evaluator`.
PR that can reference: #1589
Related issue: #1666

[2021-02-22 08:08] ydcjeff commented on #1670
How shall we call them? `supervised_evaluation_step_*` or `supervised_validation_step_*`?

[2021-02-22 08:09] vfdev-5 commented on #1670
`supervised_evaluation_step_*` is good, IMO

[2021-02-22 09:05] #1666 closed

[2021-02-22 09:22] ydcjeff commented on #1665
Yes, @sdesrozis is correct. We only need to add type hints in signatures, we can remove the type hints added manually in docstring. Sorry not mentioning clearly.

For the attached example, docstring is just:
[code]

Since the docs started with sphinx 2.x, we also need to add type hints in docstring to appear in the description.
But, sphinx 3.x has this option, we would need a migration on that.
An

[2021-02-22 09:31] vfdev-5 commented on #1665
Oh, I see, thanks for the clarification @ydcjeff !
I think we can proceed with that in parallel with other PRs and sync between them depending on which one is merged before.

[2021-02-22 09:41] ydcjeff commented on #1665
OK, then I will start with `contrib.engines` module.

Modules left to do:

- [ ] ignite.engine
- [ ] ignite.handlers
- [ ] ignite.metrics
- [ ] ignite.distributed
- [ ] ignite.utils
- [x] ignite.contrib.engines
- [ ] ignite.contrib.metrics
- [ ] ignite.contrib.handlers

[2021-02-22 14:04] KickItLikeShika commented on #1662
Hey @ydcjeff can i work on this?

[2021-02-22 14:11] ydcjeff commented on #1662
Hi @KickItLikeShika Sure, feel free to go ahead

[2021-02-22 14:18] KickItLikeShika opened #1673 "add cohen kappa in contrib.metrics module"
## 🚀 Feature
cohen's kappa is widely used in kaggle competitions, i think it would be great to add it in `ignite.contrib.metrics`

[2021-02-22 14:29] vfdev-5 commented on #1673
@KickItLikeShika thanks for a FR, can you provide few links on where it is used etc.

Few links from our issues tracker :
- https://github.com/pytorch/ignite/issues/551
- https://github.com/pytorch/ignite/pull/924
    - https://github.com/Minyus/pipelinex/blob/master/src/pipelinex/extras/ops/ignite/metrics/cohen_kappa_score.py

[2021-02-22 14:34] y0ast opened #1674 "Loss automatically detaching inputs breaks some workflows"
## 🐛 Bug description

https://github.com/pytorch/ignite/blob/master/ignite/metrics/loss.py#L60

Before 0.4.3, the `y_pred` and `y` were passed without calling detach. Now because of detach a number of usecases are no longer possible.

An example is: https://docs.gpytorch.ai/en/v1.3.1/marginal_log_likelihoods.html#variationalelbo

The output of `model(train_x)` is an object which does not support d

[2021-02-22 14:44] KickItLikeShika commented on #1673
Competitions that use cohen's kappa for evaluation:
- https://www.kaggle.com/c/aptos2019-blindness-detection/overview/evaluation
- https://www.kaggle.com/c/petfinder-adoption-prediction/overview/evaluation

For more details about the Cohen's Kappa and Weighted Cohen's Kappa:
- https://www.real-statistics.com/reliability/interrater-reliability/weighted-cohens-kappa

[2021-02-22 14:56] y0ast commented on #1674
I see this exact point was discussed in https://github.com/pytorch/ignite/pull/1238#issuecomment-679166910 by @vfdev-5 and @n2cholas

It seems to me that it's very common (and recommended from pytorch) to use `torch.no_grad():` during evaluation (which is when `Loss` is most useful, I use `Average` otherwise).

So the argument of making it easier for the user is there, but maybe less important tha

[2021-02-22 15:02] vfdev-5 commented on #1674
@y0ast thanks for reporting that !

Indeed, this should be fixed !

I wonder if we do not call detach on y_pred for Loss metric could make sense, what do you think ?
Naively, I'd say we should not continue building the graph for computing the metric... Probably, doing `y_pred.clone().detach()` could help ?

[2021-02-22 15:05] vfdev-5 commented on #1674
On the other hand, yes, maybe we can move `torch.no_grad` from `Metric.iteration_completed` to `Metric.update` and its derived classes:

https://github.com/pytorch/ignite/blob/0ea6de5f2d716bc8bebe238010bba2b168dd7b2e/ignite/metrics/metric.py#L274-L275

[2021-02-22 15:10] vfdev-5 commented on #1674
@y0ast I do not quite understand actually why VariationalELBO fails to call detach on the output of the model ?

I agree with that so cloning and detaching could work in this case, right ?

[2021-02-22 15:13] KickItLikeShika commented on #1673
@vfdev-5 so what do you think? should i start working on it?

[2021-02-22 15:16] vfdev-5 commented on #1673
@KickItLikeShika thanks for the links!  How would you like to implement it ?

[2021-02-22 15:19] KickItLikeShika commented on #1673
I think just like [average precision](https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/average_precision.py) is implemented would be good, what do you think?

[2021-02-22 15:19] vfdev-5 commented on #1673
OK, let's do like that

[2021-02-22 15:36] y0ast commented on #1674
Will still break https://github.com/y0ast/deterministic-uncertainty-quantification/blob/master/train_duq_cifar.py#L167 because the `loss_fn` actually needs a `y_pred` with gradient.

However that operation itself does not need to build the graph, so maybe your

Would work! I am not 100% sure how it interacts with torch.autograd.grad.

Why not call `detach` on the **output** of `loss_fn`?

[code]
e

[2021-02-22 16:00] vfdev-5 commented on #1674
Yes, it would work. Thanks for the PR, btw !

For your use-case with duq cifar, I assume it is on purpose that evaluator does not have `torch.no_grad` ? For example, in basic trainings we have it here :
https://github.com/pytorch/ignite/blob/442bd08ea93b76e997bbbd190b8b55a7dc29d216/ignite/engine/__init__.py#L460-L465

[2021-02-22 16:25] y0ast commented on #1674
The duq cifar usecase is a bit special. We compute the gradient penalty of https://arxiv.org/abs/1704.00028 also at test time to monitor it. So we can't use `torch.no_grad` in the evaluator there.

So the `create_supervised_evaluator` is not a good fit for it, but I think that's ok.

[2021-02-22 20:19] Moh-Yakoub opened #1680 "Adding Jaccard index for metrics"
## 🚀 Feature

I propose implementing Jaccard index (https://en.wikipedia.org/wiki/Jaccard_index) for ignite metrics. I believe it should be doable given we already support confusion matrices.

[2021-02-22 20:25] Moh-Yakoub commented on #1469
I'd like to work on this.

Are you referring to the tests in `tests\ignite\metrics` ?

[2021-02-22 20:37] vfdev-5 commented on #1680
@Moh-Yakoub thanks for FR! We already provide [IoU](https://pytorch.org/ignite/v0.4.3/metrics.html#ignite.metrics.IoU) which is the same as Jaccard Index, right ?

I agree that we can add a shortcut for IoU as JaccardIndex for those who search it like that and not as IoU ...

[2021-02-22 20:38] Moh-Yakoub commented on #1680
I agree most likely people will start looking for Jaccard.
I will add a shortcut for it now then.

[2021-02-22 20:39] vfdev-5 commented on #1469
@Moh-Yakoub thanks for asking, currently we haven't defined exact scope for this issue, so it is more or less exploration and a nice to have in order to simpify our metrics tests: tests/ignite/metrics

[2021-02-22 20:53] Moh-Yakoub commented on #1469
@vfdev-5 Thanks a lot for the reply. That makes sense. I think I will start experimenting with adding some tests for some of the metrics and we can incrementally adopt the test characterization.

[2021-02-23 08:23] #1674 closed

[2021-02-23 10:53] vfdev-5 commented on #1665
@sdesrozis @fco-dv @trsvchn could you please help with reviewing all associated PRs ? Thanks

[2021-02-23 14:09] #1680 closed

[2021-02-23 21:39] Moh-Yakoub commented on #1657
I saw this issue and couple of PRs linked to it. Is this fully done already?

[2021-02-23 21:41] vfdev-5 commented on #1657
No it is still to be done

[2021-02-23 22:21] KickItLikeShika opened #1695 "Improve `ignite.contirb.metrics` implementation"
For these metrics:
- [Average Precision](https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/average_precision.py)
- [Precision Recall Curve](https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/precision_recall_curve.py)
- [Roc Auc](https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/roc_auc.py) in `ignite.contrib.`
We need to make the implementat

[2021-02-23 22:49] touqir14 commented on #1657
I can start working on this but I am a bit busy at the moment and not before 4-5 days unfortunately. If @Moh-Yakoub wants to take a shot, that is fine.

[2021-02-24 01:13] vfdev-5 opened #1696 "CI fails on Canberra metric tests on XLA"
## 🐛 Bug description

Canberra metric tests on XLA are failing:
[code]
https://github.com/pytorch/ignite/pull/1690/checks?check_run_id=1966203329

cc @sdesrozis

[2021-02-24 10:11] Moh-Yakoub commented on #1657
I think I can start working on this.

[2021-02-24 12:57] #1665 closed

[2021-02-24 14:35] vfdev-5 opened #1697 "Remove 1024 limit for str on collective ops"
## 🚀 Feature

Currently, if we have a limitation of 1024 chars for str input on collective ops:

https://github.com/pytorch/ignite/blob/314b87f490eeb812bca8b0b4911a4a60a847c010/ignite/distributed/comp_models/base.py#L92-L95

The idea is to remove this limitation. We can do that as following:
- for all inputs as str, we can first gather all lenghts
- find the max lengths
- pad the input to the max

[2021-02-24 16:36] vfdev-5 commented on #1696
Probably, the issue is related to the pull request where it happens.

[2021-02-24 22:01] sdesrozis commented on #1696
It seems weird because the mentioned PR not related to Canberra...

[2021-02-24 22:04] vfdev-5 commented on #1696
Seems like the issue is here:
[code]
where the random data gives `x / tensor([ 4.,  5., 11.,  7.,  0., 10., 10.,  8.,  7.,  7.], device='xla:0')` -> nan

[2021-02-24 22:04] KickItLikeShika commented on #1696
@sdesrozis, Yes it's definitely weird! i have not touched the Canberra! And now i'm working on other metrics #1695, i'm excited what's going to happen when i finish the tests and send the PR tomorrow, probably this we more things more clear, it would show us where is the problem exactly

[2021-02-24 22:09] sdesrozis commented on #1697
https://github.com/pytorch/ignite/blob/314b87f490eeb812bca8b0b4911a4a60a847c010/ignite/distributed/comp_models/base.py#L185

Maybe a fix has to be done here.

[2021-02-24 23:34] #1673 closed

[2021-02-25 00:46] vfdev-5 opened #1701 "[v0.4.4] Release Tracker"
List of PR included in the next v0.4.4 bug fixes release, scheduled on March 3th.

### Bug fixes

- #1629 (ad138ea) = OK
- #1675 (7b4da22d18d0938c0bf8d19a06d13ff53a6e976b) = OK
- #1692 (d38c8bc) = OK
- #1699 (087db74) = OK
- #1702 (592f5b7) = OK

### Docs improvements:
- #1645 (63a6f1b) = OK
- #1653 (3d6ce4a) = OK
- #1654 (e17acc7) = OK
- #1671 (e5f4172) = OK
- #1672 (7af45d7) = OK
- #1691 (fdcadc

[2021-02-25 07:31] ydcjeff opened #1704 "some external links are broken"
## 📚 Documentation

Sphinx has a builder for checking external links. You can run with `make linkcheck` in the docs directory. And, there are some broken links.
[code]
To have an updated link to check, we could do
- add a github action job in `docs.yml` checking `make linkcheck` running on every PR
- update the links with new links

[2021-02-25 07:57] vfdev-5 commented on #1704
That's will be a great addition, thanks @ydcjeff ! Do you know if there is an option to check internal links as well ?

[2021-02-25 08:04] ydcjeff commented on #1704
Yes, there is (it's called nitpicky mode).
You can check by adding `SPHINXOPTS="-n"` to `make html`.

But, since `autodoc` finds type hints to the full module path (i.e, `ignite.handlers.Checkpoint` becomes `ignite.handlers.checkpoint.Checkpoint`), checking for internal links are failing currently. May be a patch can do that, I can't figure it out currently.

[2021-02-25 12:36] mouradmourafiq commented on #1704
@ydcjeff the polyaxon related URLs will be fixed in #1119

[2021-02-25 15:40] #1697 closed

[2021-02-26 08:22] g-karthik opened #1709 "Using ignite with Megatron-style model-parallel PyTorch modules"
## ❓ Questions/Help/Support

This is a somewhat general question, but I'd love a detailed response. When wanting to go beyond standard data-parallel training towards hybrid data+model-parallel training (like Megatron-LM), what are some ignite abstractions to use and avoid?

@vfdev-5

[2021-02-26 08:35] vfdev-5 commented on #1709
@g-karthik thanks for an interesting question! We haven't yet explored this hybrid data+model-parallel trainings and would love to test that.

@sdesrozis any thoughts ?
@Nic-Ma have you tried that in MONAI ?

[2021-02-26 13:14] Nic-Ma commented on #1709
Hi @vfdev-5 ,

MONAI has a model-parallel tutorial: https://github.com/Project-MONAI/research-contributions/tree/master/lamp-automated-model-parallelism
But I think it's not based on ignite workflow.

Thanks.

[2021-02-26 20:28] vfdev-5 opened #1710 "[docker] DeepSpeed image should contain nvcc"
Currently, "pytorchignite/msdp-apex:latest" docker image can not run cifar10 DeepSpeed example failing with error:
[code]

[2021-02-26 20:40] sdesrozis commented on #1709
I didn't yet experienced model parallel training. I would be very pleased to explore this topic.

[2021-02-26 21:01] trsvchn commented on #1710
is it enough to
[code]
I have never tried it inside a containeiner

[2021-02-26 21:08] vfdev-5 commented on #1710
I think this part of Dockerfile: https://github.com/pytorch/ignite/blob/e6950b1f3a1f81762f31014b6741ed2c679860ba/docker/msdp/Dockerfile.msdp-apex#L71-L73
removed nvcc which should be already present in pytorch devel docker image:
https://github.com/pytorch/ignite/blob/e6950b1f3a1f81762f31014b6741ed2c679860ba/docker/msdp/Dockerfile.msdp-apex#L36

[2021-02-26 21:30] sdesrozis commented on #1709
My first thoughts if we just consider model parallel on 2 GPUs
* engine is agnostic to device
* `x`, `y` and `y_pred` are on different devices. You can't use `create_supervised_xxx` because data are moved on same device...
* metrics should be ok because it relies on output of update function. If you write your own function, it should work.
* `auto_model` from `idist` could not work because if mult

[2021-02-26 21:39] Moh-Yakoub commented on #1657
@vfdev-5  I feel I am missing something here about the tests. Based on investigating the test cases in the confusion matrix file. I found that the distributed context was already based in the distributed test cases

For example:

`def test_distrib_gpu(local_rank, distributed_context_single_node_nccl):

    device = torch.device(f"cuda:{local_rank}")
    _test_distrib_multiclass_images(device)

[2021-02-26 21:51] vfdev-5 commented on #1657
@Moh-Yakoub yes, there are distributed tests, it is what I say in the issue description. The problem is that the data is generated without taking into account distributed context. Currently, the data is the same for all procs. What we want is to generate data dependant of the proc rank. Please, reread issue description for details.

[2021-02-26 22:28] vfdev-5 commented on #1709
@sdesrozis take a look at https://www.deepspeed.ai/tutorials/pipeline/ and https://www.deepspeed.ai/tutorials/megatron/ and the example.

I think in addition to what @sdesrozis said, `ignite.distributed` module wont be aware of the "topology". It implicitly considers data parallel only axis. In the worst case, this can lead to hangs while all reducing metrics...

[2021-02-27 00:00] Moh-Yakoub commented on #1670
@ydcjeff  Are you currently working on this one? If not I'd like to give it a shot

[2021-02-27 02:22] ydcjeff commented on #1670
@Moh-Yakoub I amnot working on this.
Feel free to go ahead

[2021-02-27 07:29] sdesrozis commented on #1709
@vfdev-5 That's exactly what I was thinking about the collective ops in metrics.

[2021-02-27 10:05] trsvchn commented on #1710
@vfdev-5 yeah, you're absolutely right!

Running this
https://github.com/pytorch/ignite/blob/e6950b1f3a1f81762f31014b6741ed2c679860ba/docker/msdp/Dockerfile.msdp-apex#L71-L73

Removes the compiler:

[code]

Can we just remove these lines?

[2021-02-27 12:21] vfdev-5 commented on #1710
Yes, let's juste remove those lines

[2021-02-27 21:15] Moh-Yakoub opened #1715 "Adding Classification report utility function"
## 🚀 Feature

I'd like to add the classification report utility to ignite. Similar to the same functionality in scikit-learn https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html#sklearn.metrics.classification_report

[2021-02-27 21:24] vfdev-5 commented on #1715
@Moh-Yakoub thanks for a FR! May be helpful. I think this can be done as a helper method with attaching precision, recall, f1 and returning a dictionary with [MetricsLambda](https://pytorch.org/ignite/metrics.html#ignite.metrics.MetricsLambda).

[2021-02-27 21:31] Moh-Yakoub commented on #1715
Great, I will start doing that!

[2021-03-01 08:17] vfdev-5 commented on #1709
@g-karthik @sdesrozis I'm working on how to make ignite distributed aware of particular data parallel configuration. I'll push soon a draft PR with new API and example using DeepSpeed.

[2021-03-01 10:40] #1710 closed

[2021-03-01 10:41] vfdev-5 commented on #1696
Fixed by #1699

[2021-03-01 10:41] #1696 closed

[2021-03-01 10:42] vfdev-5 commented on #1644
@trsvchn would you like to tackle this issue ?

[2021-03-01 10:44] trsvchn commented on #1644
@vfdev-5 sure!

[2021-03-01 10:46] vfdev-5 commented on #1644
I'll start on this point
- refactor all build_all.sh scripts (docker/main/build_all.sh, docker/hvd/build_all.sh and docker/msdp/build_all.sh) into a single shell script that could build a single docker image.

If you could help with:
- create gtihub actions
- add a test inside docker folder as a python script to check docker image versions for : torch, ignite ; can import cv2 ; maybe something els

[2021-03-01 10:50] trsvchn commented on #1644
@vfdev-5 Yes, I am going to start from this:

- create gtihub actions
- add a test inside docker folder as a python script to check docker image versions for : torch, ignite ; can import cv2 ; maybe something else.

[2021-03-01 14:11] ydcjeff opened #1720 "[search] use algolia docsearch"
## 📚 Documentation
While built-in search is enough, searching something and hit enter feels like not a good UX.
To be able to search interactively, we can apply [Algolia Docsearch](https://docsearch.algolia.com/) for that.
PyTorch is also using it when searching from homepage.

[2021-03-01 14:32] vfdev-5 commented on #1720
@ydcjeff thanks for the idea ! Do you how it works and what to do ?
I can apply to "Join the program" and we can see...

[2021-03-01 16:11] vfdev-5 commented on #1644
One another thing I was also thinking about is about building docker images on "release" event. Currently, everything happens in parallel:
- binary distributions to pypi and conda
- docker image build

As "binary distributions to pypi and conda" faster than "docker image build", layer responsible for fetching the lastest ignite can get the released version. Maybe, we should force to wait "docker i

[2021-03-01 19:06] nsinenian opened #1723 "Custom metrics derived from EpochMetric assumed to be for classification"
## 🐛 Bug description
I am using a NN for a regression problem. For this problem, I have a custom metric derived from `EpochMetric`.  Consider the trivial metric below for illustrative purposes:

    class RawOutput(EpochMetric):
        def __init__(self,output_transform=lambda x: x):
            super(RawOutput, self).__init__(self.raw_fn, output_transform=output_transform)

        def raw_fn(se

[2021-03-01 19:19] trsvchn commented on #1644
@vfdev-5 I think it possible to trigger workflow manually, so we can trigger "docker image build" after "binary distributions to pypi and conda"

[2021-03-01 19:30] ahmedo42 commented on #1723
Hi , Are you doing  multioutput regression ?  what is the shape of your output? , usually this error happens because if your target shape is `(batch size , n_classes)` , then it's as if you are doing classification

[2021-03-01 20:30] vfdev-5 commented on #1723
@nsinenian thanks for reporting! Yes, that's true and we'd like to make it more generic, here related issue: https://github.com/pytorch/ignite/issues/1209

There is also https://github.com/pytorch/ignite/blob/007d320150fa915d7ac8757ddb586aaa9c427682/ignite/contrib/metrics/regression/_base.py#L57

which get rids of this binary target requirement.

[2021-03-01 20:54] vfdev-5 commented on #1644
I'm not that fan of manual trigger, I was thinking about naive "check last version and wait 1 minute"...

[2021-03-01 21:19] vfdev-5 commented on #1644
That's could be great !

[2021-03-02 14:30] ydcjeff opened #1725 "[flake8] remove F401 in `ignite`"
# Improvement
Update the code base by removing unused imports in ignite. This can be easily found by removing `F401` in `setup.cfg`.
Previous PRs are done for `examples` in #1703 and `tests` in #1707
Only `ignite` package left now. Modules TBD:
- [x] `ignite.base`
- [x] `ignite.contrib.engines`
- [x] `ignite.contrib.handlers`
- [x] `ignite.contrib.metrics`
- [x] `ignite.distributed`
- [x] `ignite.

[2021-03-02 15:25] vfdev-5 commented on #1720
@ydcjeff I got the email from algolia about how to integrate their thing to our docs. Would you like to integrate on that ?

[code]

[2021-03-02 16:22] ydcjeff commented on #1720
Sure, I will

[2021-03-02 20:57] vfdev-5 opened #1728 "Add oneCCL backend for idist"
## 🚀 Feature

The idea is to add "oneCCL" backend by extending our [torch native dist model](https://github.com/pytorch/ignite/blob/395743d1f782ca84a7fb1a3c71afe2fa76b882a1/ignite/distributed/comp_models/native.py#L22).

Refs:
- https://pytorch.medium.com/optimizing-dlrm-by-using-pytorch-with-oneccl-backend-9f85b8ef6929
- https://github.com/intel/torch-ccl

[2021-03-02 21:02] vfdev-5 opened #1729 "Support for pipeline/model parallelism"
## 🚀 Feature

Following #https://github.com/pytorch/ignite/issues/1709, Ignite is not supporting other modern types of parallelism.

The idea is to introduce the following API to make `ignite.distributed` aware of data parallel group:
[code]

[2021-03-02 21:46] Moh-Yakoub commented on #1725
@ydcjeff  are you currently working on this?

[2021-03-02 21:49] vfdev-5 commented on #1725
@Moh-Yakoub this isssue can be tackled by multiple persons. Just say which part you'd like to work on and go ahead. Thanks for asking!

[2021-03-02 21:51] Moh-Yakoub commented on #1725
Thanks a lot @vfdev-5 for the reply. I can start with metrics ` ignite.metrics`

[2021-03-02 22:54] sdesrozis commented on #1728
First, that seems pretty straightforward. Second, it is a perfect use case to show how `idist` can be extended.

I think that is a good idea. Point is : do we extend tests ?...

[2021-03-03 11:41] #1720 closed

[2021-03-03 14:17] vfdev-5 opened #1735 "Port Ray example to Ignite"
https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-cifar.html

[2021-03-03 23:16] vfdev-5 commented on #1701
Done here: https://github.com/pytorch/ignite/releases/tag/v0.4.4.post1

[2021-03-03 23:16] #1701 closed

[2021-03-04 10:32] vfdev-5 opened #1737 "Patch MNIST dataset downloading to fix CI"
Currently, there is an issue with downloading MNIST dataset using torchvision. Let's introduce the following patch to our CI to fix it:
- https://github.com/pytorch/vision/issues/3500#issuecomment-790491487

Where to put that:
- create new step with the patch before [here](https://github.com/pytorch/ignite/blob/700f0e1325efc5dc0dce88d26284e51bc2a7c87c/.github/workflows/unit-tests.yml#L106)
- add p

[2021-03-04 11:55] trsvchn commented on #1737
@vfdev-5 Oh, I saw this issue today on Stack Overflow)

`wget` is all you need)

Here is a python patch:

[code]

[2021-03-04 12:01] vfdev-5 commented on #1737
Looks awesome ! Could you please send as patch for us ? :)

[2021-03-04 12:05] trsvchn commented on #1737
Sure!)

[2021-03-04 15:17] trsvchn commented on #1725
What about `_utils.py`, we need that imports for compatibility, right?

[2021-03-04 15:25] #1119 closed

[2021-03-05 16:52] #1704 closed

[2021-03-06 15:07] Devanshu24 commented on #1735
Hi!
I do not have much experience in distributed algorithms but I really like them and am learning them. I think it'll be really great if I could work on this as it'll provide some great exposure to ML and Distributed workflows(both of which I really like :D). However, I am not sure I'll be able to work on it at a very fast pace, so if it's urgent(or not doable by beginners) then someone else can

[2021-03-06 15:46] sdesrozis commented on #1735
@vfdev-5 Your idea is to use ray.tune as in the doc you mentioned ?

[2021-03-06 16:01] Devanshu24 commented on #1735
Thanks for the reply @sdesrozis !
To confirm if I am getting it correctly, we want to use `ray.tune` and other distributed utilities provided by ray and see how it performs in comparison to the cifar example already in ignite(https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10)
Correct?
If so, then sure I completely agree I'll start with going through the ignite example and hope

[2021-03-06 22:17] Moh-Yakoub opened #1751 "Improve the supervised evaluator and trainer tests by using mocking"
## 🚀 Feature

As it became clear in this PR: 1714. Some of the functionalities of both the supervised evaluator and trainer are not tested as we need to mock some of the underlying functions i.e. evaluate steps or engines.

I suggest mocking those objects and write test cases that test that those mocks were called in different evaluation scenarios. We already use mocks in some of our tests and we

[2021-03-06 22:35] #1670 closed

[2021-03-06 23:56] vfdev-5 opened #1753 "Reduce github repository size"
Our `.git` starts to grow too fast, now. We discussed recently about that with @y0ast and repository size was ~500MB which is rather large. Now, it is 700MB:
[code]

That time I looked into ressources about reducing the size and it works locally, but it would be helpful to do that on GitHub as well.

Local compressing works:
[code]
but I have no idea how to apply that to `remote`...

cc @trsvchn @

[2021-03-07 01:43] ahmedo42 opened #1754 "Implementation of ReduceLROnPlateau scheduler"
## 🚀 Feature

While there might be some workarounds in using `ReduceLROnPlateau` with ignite's optimizer , it would be nicer to have a standalone feature like other schedulers in contrib.

[Relevant issue and code sample](https://github.com/pytorch/ignite/issues/462#issuecomment-771907302).

[2021-03-07 16:55] vfdev-5 commented on #1735
The idea is to port this example : https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/cifar10_pytorch.py :
- use Ignite for training and validation
- use ray tune for hyperparam tuning

as a simple script file to examples/contrib/cifar10_ray_tune

Great addition will be a PR to ray docs with the example.

[2021-03-08 11:49] Rajathbharadwaj commented on #1735
Can't we not to the same way ray is implemented in PL?
Creating callbacks?

[2021-03-08 11:56] vfdev-5 commented on #1735
Please, detail your idea ?

[2021-03-08 12:13] Rajathbharadwaj commented on #1735
https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-lightning.html#training-with-gpus
Similar to the above
An abstract implementation

[code]

[code]

Since most of the heavy-lifting is done by ray we could extrapolate by adding a `pytorch_ignite` in the `ray.tune.intergration` namespace module and implementing ignite's particular way of calling is what I was thinking!

[2021-03-08 13:22] vfdev-5 commented on #1735
@Rajathbharadwaj thanks for the details. Yes, this would be great!

[2021-03-08 13:35] Rajathbharadwaj commented on #1735
Awesome, I'll work on the integration
Any tips would be awesome!

https://github.com/ray-project/ray/blob/master/python/ray/tune/integration/pytorch_lightning.py

Converting to pytorch Ignite's way of implementing.

[2021-03-08 21:13] Moh-Yakoub commented on #1729
Hey @vfdev-5. Is this still WIP. are there any areas related to this task that I can participate in?

Thanks a lot

[2021-03-08 21:37] vfdev-5 opened #1757 "More EpochMetric's compute_fn output types"
## 🚀 Feature

Following https://github.com/pytorch/ignite/pull/1700#issuecomment-787151203 we would like to improve `EpochMetric` by supporting more output types returned by `compute_fn`:
- EpochMetric should work with compute_fn outputs: scalars, tensors, tuple/list/mapping of tensors vs currently only scalars

A code snippet on possible implementation: https://github.com/pytorch/ignite/pull/1700

[2021-03-08 21:37] vfdev-5 commented on #1729
@Moh-Yakoub thanks for asking. This is still WIP.

This is a bit tricky and depends on your understanding how parallelism works.
Recently, I shared this [example](https://gist.github.com/vfdev-5/c32a7744bc371ce9fcfab1c5ff7a934c) to playaround.
I think what would be of real help is, for example, fixing this issue:

https://github.com/pytorch/ignite/issues/1757

such that you can have an experience

[2021-03-08 21:46] Moh-Yakoub commented on #1729
Great, I will take a look. I can start also trying to work with  #1757

[2021-03-08 21:46] sdesrozis commented on #1757
@vfdev-5 I can help on this if needed.

[2021-03-08 21:48] vfdev-5 commented on #1757
Thanks @sdesrozis , I mentioned this issue in #1729 and asked @Moh-Yakoub if he'd like to give a try...

[2021-03-08 22:37] ahmedo42 commented on #1753
This  [article](https://www.saschawillems.de/blog/2017/09/10/how-to-shrink-down-a-github-repository/) might be helpful, this will require closing open PR's and branches.

[2021-03-08 22:41] vfdev-5 commented on #1753
yes, I saw this one and even tried on my fork to reduce the size but without removing objects only sort of applying the result of `git gc --aggressive`. I dot not remember that worked for the fork...

[2021-03-09 20:44] sdesrozis commented on #1753
@vfdev-5 sorry, I don't have any experience about that... but I really agree to reduce the size of the repo! Maybe @fco-dv would have an idea ?

[2021-03-09 20:59] sdesrozis commented on #1753
It seems that `git gc` is run every day on GitHub server.

[2021-03-09 21:54] y0ast commented on #1753
I think I found a smoking gun:

The gh-pages branches: https://github.com/pytorch/ignite/tree/gh-pages
Has many many commits: https://github.com/pytorch/ignite/commits/gh-pages

Containing many small files: https://github.com/pytorch/ignite/commit/8b7dda3a88ae7d4c4cbd1ea489ec16cc7529208f
And 14 individual 3MB files (all `.pickle), like this:
https://github.com/pytorch/ignite/blob/8b7dda3a88ae7d4c4

[2021-03-09 21:56] vfdev-5 commented on #1753
Thanks a lot for the insight @y0ast !
Definitely, previously with Travis we used historyless deployment = 1 commit in the branch. Probably, we shoud find an equivalent with GA.

[2021-03-09 23:07] ahmedo42 commented on #1432
How about users customize this using environment variables? like this:
[code]
in `native.py`

What are the drawbacks of this?

[2021-03-09 23:31] vfdev-5 commented on #1432
@ahmedo42 this is interesting idea. Initially, I was thinking about an argument here:
https://github.com/pytorch/ignite/blob/6d490c8f3083f21ba8f82eb646d9052a06fae3e2/ignite/distributed/comp_models/native.py#L78-L82

but maybe we can think about two options like that...

[2021-03-09 23:51] ahmedo42 commented on #1432
So the end result would be something like that?

[code]

[2021-03-09 23:55] vfdev-5 commented on #1432
Yes, something like that. Maybe, `init_method:Optional[str] = None` and we check of `os.eviron["INIT_METHOD"]` and if `init_method is not None` (priority to the argument) and set up `dist.init_process_group`.

[2021-03-10 02:18] sparkingdark commented on #1753
@vfdev-5 can we first analyze repository with any repo scanning software to get a space insight and From the report when we can try to get the maximum sized folders then we just look into them more thoroughly and try to remove unnecessary packages?

[2021-03-10 11:11] schuhschuh opened #1763 "Cannot set log level of `ignite.distributed` because of calls to setup_logger inside auto functions"
## 🐛 Bug description

The `ignite.distributed` auto functions such as `ignite.distributed.auto_dataloader` use `setup_logger` to get a `logging.Logger` instance. However, this function always sets the logging level to `logging.INFO` and furthermore removes ands sets up the logging handlers. Functions should not be setting up a logger object if it is already initialized such that user code can spec

[2021-03-10 12:33] vfdev-5 commented on #1763
Thanks for the report @schuhschuh !
Yes, this part of code should be definitetly improved and I think @sdesrozis also proposed to do that.

@schuhschuh if you would like help us with improving the code, please feel free to discuss it here and then send a draft PR. Thanks

[2021-03-10 13:05] vfdev-5 commented on #1753
🎉 I think #1764 has solved the problem 🎉
[code]

Thanks again @y0ast for finding the issue ! Very grateful to you !

[2021-03-10 13:06] y0ast commented on #1753
95% reduction! Nice fix :)

[2021-03-10 13:07] trsvchn commented on #1753
Statistically significant!

[2021-03-10 14:08] KickItLikeShika opened #1765 "Improve `ignite.contrib.metrics.regression` tests"
We have improved the tests for most of the metrics in `ignite.contrib.metrics` module, now we need to updated the tests for the regression metrics and add distributed tests, just like we have done with these: [AveragePrecision](https://github.com/pytorch/ignite/blob/master/tests/ignite/contrib/metrics/test_average_precision.py), [CohenKappa](https://github.com/pytorch/ignite/blob/master/tests/igni

[2021-03-10 14:18] #1753 closed

[2021-03-10 16:56] ydcjeff opened #1766 "improve documentation search results"
## 📚 Documentation
Currently searching docs on duckduckgo and google results in poor search results.
DuckDuckGo: search precision metrics show source code result first while third one is a correct page.

![Screen Shot 2021-03-10 at 22 57 27](https://user-images.githubusercontent.com/32727188/110663247-a7135f00-81f4-11eb-90ce-ef262a412b7c.png)

Google: nearly same to google as well tho 2nd one is c

[2021-03-11 16:38] vfdev-5 commented on #1737
I think MNIST is still not working now:
- https://github.com/pytorch/ignite/pull/1762/checks?check_run_id=2087318076#step:13:1

Reopen to fix it

[2021-03-11 16:42] trsvchn commented on #1737
Seems like that https://github.com/pytorch/vision/issues/3549

[2021-03-11 16:42] trsvchn commented on #1737
Now we have `503 Service Unavailable`

[2021-03-11 16:45] vfdev-5 commented on #1737
Maybe, it worth to host it somewhere in a sure place for our CI...

[2021-03-11 16:49] trsvchn commented on #1737
@vfdev-5 Yeah, Like pjreddie did:
https://pjreddie.com/projects/mnist-in-csv/

But he converted it to csv

[2021-03-11 16:52] ydcjeff commented on #1737
We can host in the github releases which allow up to 2GB

[2021-03-11 16:52] vfdev-5 commented on #1737
Or maybe like that : https://github.com/facebookresearch/fairscale/blob/0491715f8be1f40923d920f1f15861d245ed3cb4/benchmarks/datasets/mnist.py#L15-L31

[2021-03-11 17:17] vfdev-5 commented on #1766
@ydcjeff thanks for pointing out this! Very interesting topic to think about. I think your suggestions make a lot of sense. Would you like to draft a PR for that ?

[2021-03-11 17:33] trsvchn commented on #1737
I have an idea, what if to do the same as blefaudeux did, but instead of just static hosting, we transform our mnist repo into the action called `download-mnist` since `unit-tests` generate a lot of requests, is it okay for GitHub? What do you think?

Here a dummy action that stores text file, and copy it during running in workflow:

https://github.com/trsvchn/storage-action

And here is the usage

[2021-03-11 17:41] vfdev-5 commented on #1737
I like this idea !

[2021-03-11 17:42] trsvchn commented on #1737
Great!

[2021-03-11 21:29] trsvchn commented on #1737
@vfdev-5

Finally, windows is happy:
https://github.com/trsvchn/ignite/runs/2089902648?check_suite_focus=true#step:13:1

What about circleci? is it better to use wget or git clone?

[2021-03-12 08:16] #1737 closed

[2021-03-12 20:24] #1469 closed

[2021-03-13 07:22] cozek opened #1777 "Attribute errors in TextCNN.ipynb"
## 🐛 Bug description
I was trying to learn how to use ignite so I tried running one of the example notebooks.
While running the notebook [TextCNN.ipynb] (https://github.com/pytorch/ignite/blob/master/examples/notebooks/TextCNN.ipynb) in google colab,
the following code results in error.

[code]

[code]

I think, this is because the `Field` and `LabelField` have been move to `legacy` in torchtext==

[2021-03-13 08:46] vfdev-5 commented on #1777
Thanks for reporting this bug @cozek !

Sounds great ! If you can also update the example to use the latest torchtext API, it would be perfect.

Please, take a look at our [CONTRIBUTING guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md).
Here, the fix is about changing the notebook, so, there is no need to run unit tests etc... Just modify the notebook and rerun on the Colab. Le

[2021-03-13 21:18] #1765 closed

[2021-03-13 21:35] #1766 closed

[2021-03-13 22:31] trsvchn commented on #1777
@vfdev-5 what do you think about a kind of "smoke tests" for our examples? E.g. we can create a workflow that runs/tests our examples vs latest stable versions of third party dependencies. We can run it weekly or smth.
I don't know how to do it right now, but I can check.

[2021-03-13 22:33] vfdev-5 commented on #1777
@trsvchn I think this would be awesome !

[2021-03-13 22:40] trsvchn commented on #1777
Great! I'll check this idea!

[2021-03-14 11:17] KickItLikeShika opened #1786 "Improve tests"
We have improved most of our tests in `ignite.contrib.metrics`, and some other tests in `ignite.metrics`,  `ignite.contrib.metrics.regression`. But there more tests to update. We need to remove duplicate code, generalize tests and add distributed tests if they are not existed. These tests have been updated recently, making something similar to them would be good: [AveragePrecsision](https://github

[2021-03-14 13:50] #1751 closed

[2021-03-14 14:05] ydcjeff opened #1787 "Make `autodoc_typehints` mode work with nitpicky mode"
## 📚 Documentation
Currently we have imported the class in the handlers and metrics docs with `module.class_name` and `class_name`.
[handlers docs](https://pytorch.org/ignite/master/handlers.html) [[source](https://github.com/pytorch/ignite/blob/master/docs/source/handlers.rst)] and [metrics docs](https://pytorch.org/ignite/master/metrics.html#complete-list-of-metrics) [[source](https://github.com

[2021-03-14 14:08] vfdev-5 opened #1788 "Add table of content to CONTRIBUTING.md"
The idea is to create a small "Table Of Content" in https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#developing-ignite to simplify the navigation in the document.

[2021-03-14 14:55] cozek commented on #1788
take

[2021-03-14 15:08] vfdev-5 commented on #1787
Related to this merged PR : https://github.com/pytorch/ignite/pull/1780

[2021-03-14 15:48] vfdev-5 opened #1790 "Improve code coverage"
Our project code coverage start to decrease with new features and reworked tests. We are now ~95% but were 96% recently and around ~98% the last year...

The idea is to identify the uncovered parts of code inspecting here, for example: https://codecov.io/gh/pytorch/ignite/tree/master/ignite and draft a PR with new tests.

Some of new test can be very simple and others could be very sophisticated t

[2021-03-14 15:59] Moh-Yakoub commented on #1790
That sounds like a group effort. shall we update the task with a checkbox list of packages so that we make sure that no two people will be working on the same package?

[2021-03-14 16:39] KickItLikeShika opened #1792 "Distributed tests fail"
Recently while working on `ignite.contrib.metrics.regression` tests, I was trying to add distributed tests to some metrics that didn't have distributed tests. While i was running those tests when `world_size > 1` the result computed by the metric implemented in `ignite` differs from the one computed by `sklearn`(if imported from sklearn) / `numpy`. And here are examples for that:

- [Test wave hed

[2021-03-14 17:19] sdesrozis commented on #1792
If I understand correctly the test, every process generates random numbers and compute the metric. Then, the result is compared to a score computed with numpy. But you have to uncomment the gather part otherwise it can’t be similar.

[2021-03-14 17:46] KickItLikeShika commented on #1792
@sdesrozis Thanks for your comment! You understand the test correctly. I'm already doing `all_gather()` and i know it should be done, but the point is the `_test_distrib_compute()` doesn't work if i did `all_gather()`. And `_test_distrib_integration()` doesn't work no matter i'm gathering or not. Btw, the same problem happens with many other tests, for example: `test_mean_...`, `test_fractional_bi

[2021-03-14 20:33] vfdev-5 opened #1800 "GPU tests failure"
[This PR](https://github.com/pytorch/ignite/pull/1784) has broken GPU tests : https://app.circleci.com/pipelines/github/pytorch/ignite/1574/workflows/4d2f11dd-70c4-4c1d-81c2-3be050b45365

- tests/ignite/engine/test_create_supervised.py::test_create_supervised_evaluator_on_cuda_with_model_on_cpu

cc @Moh-Yakoub

[2021-03-14 21:04] KickItLikeShika commented on #1792
I don't know if it's related, but i see a weird pattern here. Dor metrics implemented in `sklearn` and we import `sklearn` to use it for computing the metric it works fine, I guess the problem is with metrics we computed it with `numpy`

[2021-03-14 21:41] sdesrozis commented on #1792
I will have a look asap

[2021-03-14 21:46] sdesrozis commented on #1792
Ah ah take a look, the metrics are not distributed. It means a reduction is needed in the implementation. I could fix it tomorrow.

[2021-03-14 21:47] KickItLikeShika commented on #1792
@sdesrozis That's great to hear! If you provided me some hints about what should be done i will be happy to help

[2021-03-14 21:50] vfdev-5 commented on #1792
@sdesrozis I think we can leave this task to @KickItLikeShika .

@KickItLikeShika check here: https://pytorch.org/ignite/metrics.html#metrics-and-distributed-computations
and here : https://pytorch.org/ignite/distributed.html#ignite-distributed-utils for the list of collective ops.
Please, try to figure out how it works by your own and ask if you tried everything and you become blocked for sometim

[2021-03-15 09:59] #1788 closed

[2021-03-15 10:32] ahmedo42 commented on #1787
I'll look into it.

[2021-03-15 12:12] sdesrozis commented on #1763
We could add logger argument to functions. Or define a logger for the module `distributed`.

@vfdev-5 other ideas ?

[2021-03-15 12:15] vfdev-5 commented on #1763
Defining a logger for the module could be nice but can be tricky as it should be adapted and re-adapted to the dist config...

[2021-03-15 14:37] #1800 closed

[2021-03-15 15:47] schuhschuh commented on #1763
I would say you already have global logging object for these functions anyway by the use of `logging.getLogger()` in `setup_logger()`. This is what makes it possible to adjust the logger without accessing a module level logger instance reference. Multiple calls to `auto_*()` functions will give you the same logger instance. The issue is just that this instance will also always reset the level, for

[2021-03-15 15:52] vfdev-5 commented on #1763
@schuhschuh yes, I agree that we could use `setup_logger` for setting up and retrieving existing logger.

@sdesrozis what do you think ?

[2021-03-16 17:20] #1792 closed

[2021-03-17 22:08] KickItLikeShika opened #1813 "Support for max/min ops for `sync_all_reduce`"
Running the distributed tests while `world_size > 1` makes the tests fail. I was trying to make the metric compatible with DDP with doing the same thing we have done with the other metrics but the results are different!
I tried to print out some things for a better understanding, everything seemed to be working fine (calculating the metric is very simple) but after doing `metric.compute()` returns

[2021-03-17 22:15] sdesrozis commented on #1813
That is because your reduction must be a maximum and not a summation.

[2021-03-17 22:17] KickItLikeShika commented on #1813
@sdesrozis is that can be done the same decorator `sync_all_reduce`?

[2021-03-17 22:20] sdesrozis commented on #1813
The reduction used is a sum
https://github.com/pytorch/ignite/blob/8fe6086456a9b81fc9db5840121796a3ed951eba/ignite/distributed/utils.py#L327

We have to extend the api

[2021-03-17 22:22] KickItLikeShika commented on #1813
@sdesrozis well, that can be done in a separate PR, i will work on it, Thanks!

[2021-03-17 22:23] sdesrozis commented on #1813
@KickItLikeShika Thank you.

[2021-03-17 22:25] sdesrozis commented on #1813
Otherwise, you can create a zero tensor of size world_size. Each process writes in the rank position. You reduce this tensor and compute the max.

[2021-03-18 17:46] vfdev-5 opened #1824 "Fix flaky test with time profiler"
From time to time, tests related to time profiler are failing like there:
[code]
https://github.com/pytorch/ignite/pull/1821/checks?check_run_id=2141981144

The idea is to inspect and analyse the failure case and propose a fix.

[2021-03-18 20:04] Moh-Yakoub commented on #1728
So is the scope of this task to
1. add the `torch-ccl` to the set of supported backends
2. Update the existing native dist model to allow using the new `torch-ccl` model
3. add the equivalent tests? @vfdev-5

[2021-03-18 22:45] sdesrozis commented on #1728
@Moh-Yakoub I think you got it.

[2021-03-19 08:03] vfdev-5 commented on #1728
@sdesrozis @Moh-Yakoub I think it would be better to create a new comp model that inherits from native one.

[2021-03-19 11:35] #1432 closed

[2021-03-19 21:24] Moh-Yakoub commented on #1728
Let me prepare a WIP implementing that approach and we can take it from there.

[2021-03-21 11:16] rushabh-v commented on #1824
Hi @vfdev-5, I tried investigating the cause, and here is what I found.

The error message says that the result contains `not triggered` but it should contain a number. Now the string `not triggered` is returned because of the line: https://github.com/pytorch/ignite/blob/17435926c54234b9aa90c6487d183795a030def6/ignite/contrib/handlers/time_profilers.py#L614

The data is an element of self.event_ha

[2021-03-21 14:21] vfdev-5 commented on #1824
@rushabh-v thanks for investigating this issue ! Yes, I agree, it should be about test fix.

What would be the fix according to your analysis ? Yes, you can send a draft PR and we'll iterate over.

[2021-03-21 19:56] trsvchn opened #1836 "GitHub Actions Workflow Improvements"
There are some elements in our CI that can be improved:

For example, `code-style.yml` starts very often in non-code updates. The same for `docs.yml` for non-docs.

`pytorch-version-tests.yml` fails to open the issue because of access problem:
https://github.com/pytorch/ignite/runs/2157534748?check_suite_focus=true#step:9:8

- [x] code-style
- [x] docs
- [x] unit-tests: https://github.com/pytorch/

[2021-03-21 21:35] vfdev-5 commented on #1836
@trsvchn why there was a message for the first contribution here ?

[2021-03-21 21:39] trsvchn commented on #1836
@vfdev-5 Yeah, I think its a bug and removed it.

[2021-03-21 21:40] trsvchn commented on #1836
But honestly, it worries me now

[2021-03-21 21:48] trsvchn commented on #1836
@vfdev-5 Because, It was my second issue, but the first issue is closed so there was no open issue by me, is this what action call "first contribution"?

[2021-03-21 21:51] vfdev-5 commented on #1836
Can you try that on a separate repo to see what it works exactly. For me "first contribution" is the first and only the first issue issue (same for PR).

[2021-03-21 21:53] trsvchn commented on #1836
Yes, exactly I'll try that!

[2021-03-21 22:45] trsvchn commented on #1836
@vfdev-5 I think I got it, I know what is happening.

According to action source code first contribution is:
you have no issues at all
[code]
or current issue number less or equal to any of issue numbers (I am not familiar with TS):
[code]
I've checked the actions logs, and turned out that it added comment not on `issue: opened`, but on `issue: edited`.
In our case on issue: edit it was kind of `i

[2021-03-21 22:48] #1725 closed

[2021-03-22 06:38] rushabh-v commented on #1824
Hi @vfdev-5, I think if the result is an instance of `str`, we can assert whether it is equal to "not triggered" else we can assert the current expression.

Sure.

[2021-03-22 07:48] ydcjeff opened #1843 "Windows GPU test is skipping"
## 🐛 Bug description

[Windows GPU tests are currently not running on master](https://app.circleci.com/pipelines/github/pytorch/ignite/1661/workflows/7cffc0a3-ac7b-4305-a291-f0de3b3c6978/jobs/4851/parallel-runs/0/steps/0-104)

[2021-03-22 07:57] rushabh-v opened #1844 "Issues with welcome workflow"
## 🐛 Bug description
There are two issues with the welcome workflow:
1. It fails with "Error: Resource not accessible by integration" (refer to the attached image).

Solution: Replace `pull_request` with `pull_request_target` [on this line](https://github.com/pytorch/ignite/blob/c955f3c4a8a1d9c4047d700097f802b38c89e358/.github/workflows/welcome.yml#L3).

-----------------
2. The text is not being

[2021-03-22 08:08] rushabh-v commented on #1844
We appreciate a lot of user's feedback on what we are doing!
If you'd like to contribute to the project, please check out our Contributing Guide.

Okay, it looks like I was facing the second issue because the workflow was failing. Only fixing issue 1 will fix issue 2 in that case.

[2021-03-22 09:22] vfdev-5 commented on #1843
Thanks for reporting @ydcjeff !

[2021-03-22 09:31] trsvchn commented on #1844
@rushabh-v Thank you for your bug report! Yes, we are working on this workflow right now and decided temporary turn off, because of unexpected behavior like this.

[2021-03-22 10:05] vfdev-5 commented on #1843
I think this is related to machine we are using on Circle CI: https://circleci.com/docs/2.0/configuration-reference/#available-windows-gpu-image which has CUDA 10.1 but we install pytorch with CUDA 11.1 support.

[2021-03-22 10:10] rushabh-v commented on #1844
Okay, should I close #1845 then?

[2021-03-22 10:12] trsvchn commented on #1844
@rushabh-v Yes, please close it. Thanks for understanding!

[2021-03-22 10:14] #1844 closed

[2021-03-22 10:17] vfdev-5 commented on #1843
I think we should do something like vision does here: https://github.com/seemethere/vision/blob/master/packaging/windows/internal/cuda_install.bat
- install cuda 11.1

[2021-03-22 13:31] vfdev-5 commented on #1735
@Rajathbharadwaj any updates on this porting ?

[2021-03-22 14:07] ydcjeff commented on #1575
This is already in use, so closing

[2021-03-22 14:07] #1575 closed

[2021-03-22 16:50] #1813 closed

[2021-03-22 22:25] vfdev-5 opened #1851 "Fix failing test if cuda device is available"
## 🐛 Bug description

If we execute the following tests:
[code]

[code]

This is due to a presence of a GPU which is not properly handled here. On the CPU CI we set up `CUDA_VISIBLE_DEVICES=` to disable any gpu.
Let's fix these tests.

cc @ydcjeff

[2021-03-23 00:28] github-actions[bot] opened #1852 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:28] github-actions[bot] opened #1853 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:28] github-actions[bot] opened #1854 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:29] github-actions[bot] opened #1855 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:29] github-actions[bot] opened #1856 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:29] github-actions[bot] opened #1857 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:31] #1853 closed

[2021-03-23 00:31] #1854 closed

[2021-03-23 00:31] #1855 closed

[2021-03-23 00:31] #1856 closed

[2021-03-23 00:31] #1857 closed

[2021-03-23 00:33] vfdev-5 commented on #1852
@Moh-Yakoub your https://github.com/pytorch/ignite/pull/1796 breakes compatibility with older pytorch versions, please take a look and send a PR with a fix. Thanks

[2021-03-23 00:36] github-actions[bot] opened #1858 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:36] github-actions[bot] opened #1859 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/build with commit 83d663d6768e935f2dc4ef583608c4411b848aa3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/677894582

Feel free to close this if this was just a one-off error.

[2021-03-23 00:37] #1858 closed

[2021-03-23 00:37] #1859 closed

[2021-03-23 08:26] #1851 closed

[2021-03-23 10:22] vfdev-5 opened #1862 "AttributeError: module 'neptune' has no attribute 'OfflineBackend'"
## 🐛 Bug description

New release of neptune (`neptune_client-0.5.3` vs `neptune-client-0.5.2`) breaks compatibility with our CI and `NeptuneLogger`:

https://github.com/pytorch/ignite/pull/1834/checks?check_run_id=2174048638
[code]

cc @jakubczakon

[2021-03-23 10:42] jakubczakon commented on #1862
Thanks for pointing it out @vfdev-5!

@pitercl can you take a look?

[2021-03-23 10:52] aniezurawski commented on #1862
Hi. Do not worry. `OfflineBackend` is still there. It just not imported in main `__init__.py` file. We will restore this import in future release this week because it was not intentional. Maybe even today.

[2021-03-23 10:56] vfdev-5 commented on #1862
@aniezurawski @jakubczakon thanks for the update. Please remove [this version freeze](https://github.com/pytorch/ignite/pull/1863/files) once you have fixed the import. Thanks!

[2021-03-23 21:57] Moh-Yakoub commented on #1852
Taking a look at it now

[2021-03-23 23:47] #1862 closed

[2021-03-24 00:30] #1852 closed

[2021-03-24 00:37] github-actions[bot] opened #1868 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/create-issue with commit f6b9b9247c2939880d78ec6a13d00e8dc3288951**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/681393446

Feel free to close this if this was just a one-off error.

[2021-03-24 00:38] vfdev-5 commented on #1868
Should be fixed by #1866

[2021-03-24 00:38] #1868 closed

[2021-03-24 02:32] Rajathbharadwaj commented on #1735
Hey @vfdev-5, I got a bit held up. But I'm working on it. Will ping you.

[2021-03-25 00:26] github-actions[bot] opened #1871 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests/create-issue with commit 7480fed2d0389acb80b2f922e7242aeb091f8acf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/684842319

Feel free to close this if this was just a one-off error.

[2021-03-25 02:29] youshaox opened #1872 "Improve Accumulation metric on tensors to work with Apex"
## 🚀 Feature Request
It seems that the ignite is not compatible with apex. When i am trying to use the (automatic mixed precision)amp from the Apex for the GPU Acceleration, I have encountered the following error. Look around the Ignite source code and I find that it uses the original torch.Tensor. Is there any timeline for Ignite to be compatible with Apex?
[code]
Apex: https://github.com/NVIDIA/

[2021-03-25 09:07] vfdev-5 commented on #1871
@Moh-Yakoub there are still few tests are incompatible with previous Pytorch versions:
- https://github.com/pytorch/ignite/actions/runs/684842319
Please, send a fix for that

[2021-03-25 09:12] vfdev-5 commented on #1872
Thanks for reporting @youshaox! Normally, Ignite is compatible with Apex, please take a look at this notebook: https://github.com/pytorch/ignite/blob/master/examples/notebooks/Cifar100_bench_amp.ipynb
in older versions we also provided image segmentation example with Apex: https://github.com/pytorch/ignite/blob/0.4.4/examples/references/segmentation/pascal_voc2012/code/scripts/training.py

However

[2021-03-25 09:42] vfdev-5 commented on #1872
@youshaox I could reproduce the issue you reported. A workaround in this case can be:
[code]

[2021-03-25 16:22] vfdev-5 opened #1874 "Upgrade CI to pth 1.8.1"
## 🚀 Feature

Update our CI to use pytorch 1.8.1:
- circle ci
- github actions
- build dockers

Ref: https://github.com/pytorch/pytorch/releases/tag/v1.8.1

[2021-03-26 00:25] github-actions[bot] opened #1875 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a4e0c910f8b2268d2eaccff54f4a111068b6730d**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/688325232

Feel free to close this if this was just a one-off error.

[2021-03-26 02:12] Nic-Ma opened #1876 "Checkpoint handler save files with wrong permissions"
## 🐛 Bug description

Hi @vfdev-5 ,

We always run programs in dockers, usually it's root user, and found an issue that: pure PyTorch program saves model(torch.save) and has the read permission for non-root users, but ignite Checkpoint handler saves model and only has read permission for root users.
You can reproduce this issue by below 2 MONAI examples:
1. https://github.com/Project-MONAI/tutoria

[2021-03-26 05:53] DongWoo-Nam commented on #435
@vfdev-5
If I have to run a script on a single multiprocess gpu, how should I run a script after modifying it?

[2021-03-26 08:25] #1871 closed

[2021-03-26 08:25] #1875 closed

[2021-03-26 08:43] #1874 closed

[2021-03-26 08:44] vfdev-5 opened #1879 "Improve versions update for docker building"
- https://github.com/pytorch/ignite/pull/1878#issuecomment-808041919

cc @trsvchn @ydcjeff

[2021-03-26 08:45] vfdev-5 commented on #1876
@Nic-Ma sure! I'll take a look at this issue today.

[2021-03-26 08:53] vfdev-5 commented on #435
@DongWoo-Nam please take a look at [our cifar10 example](https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10) which provides the code runnable on 1 or multiple GPUs or TPUs.  For example, to run the code on 2 GPUs:
[code]

[2021-03-26 09:15] vfdev-5 commented on #1876
@Nic-Ma workaround now is to set `atomic=False` in ModelCheckpoint or DiskSaver.

I'll fix the issue for atomic=True in a PR

[2021-03-26 09:19] Nic-Ma commented on #1876
Thanks for your quick response.
Let me submit a PR to set False in MONAI first.

Thanks.

[2021-03-26 10:32] ydcjeff commented on #1879
@vfdev-5 any idea how can we import yaml inside yaml ?
I found out that circleci yaml is just vanilla yaml, so we can't do normally.

Two options I found out currently
- use pyyaml and generate `config.yml` just like pytorch and domain repos are using
- use `circleci` cli to generate valid `config.yml` using [`circleci config pack`](https://circleci.com/docs/2.0/local-cli/#packing-a-config) comman

[2021-03-26 10:44] trsvchn commented on #1879
I think only GitLab has that feature

[2021-03-26 11:58] Nic-Ma commented on #1876
Hi @vfdev-5 ,

I tried `atomic=False` locally, seems it works, so I put a PR in MONAI, could you please help review it?
https://github.com/Project-MONAI/MONAI/pull/1863

Thanks in advance.

[2021-03-26 12:38] vfdev-5 commented on #1876
@Nic-Ma sure! Our #1880 should fix the issue and you could update MONAI code along with our new release.

[2021-03-26 12:55] vfdev-5 commented on #1879
@ydcjeff thanks for providing these options. Yes, there are pros/cons in all those approaches. Maybe, a third approach is to read docker values similarly to
[code]

[2021-03-26 21:25] vfdev-5 opened #1884 "Fix TPU CI, libmkl_intel_lp64.so: cannot open shared object file: No such file or directory"
- https://github.com/pytorch/ignite/pull/1880/checks?check_run_id=2205301550

I think this is related to this bad configuration:
https://github.com/pytorch/ignite/blob/05c5e19c839b1ef0138d695613997af1da2aef71/.github/workflows/tpu-tests.yml#L69

while we are using https://github.com/pytorch/ignite/blob/05c5e19c839b1ef0138d695613997af1da2aef71/.github/workflows/tpu-tests.yml#L29

[2021-03-26 21:27] trsvchn commented on #1884
I'll check that!

[2021-03-26 21:44] trsvchn commented on #1884
@vfdev-5 Setting:

[code]
didn't help
https://github.com/trsvchn/ignite/runs/2205429091?check_suite_focus=true#step:8:23

[2021-03-26 21:47] sdesrozis opened #1885 "dependabot : useful ?"
## 🚀 Feature

`dependabot` Is a tool to automatically update dependencies of projects https://dependabot.com/

It is natively into GitHub https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

Do you think it could help ?

[2021-03-26 21:47] vfdev-5 commented on #1884
@trsvchn we have to find where `pip install mkl` put its library...

[2021-03-26 21:48] #1885 closed

[2021-03-26 22:25] trsvchn commented on #1884
@vfdev-5 I've tried

[code]

[2021-03-26 22:30] vfdev-5 commented on #1884
Maybe, we can also set up latest stable xla version instead of nightly. Looks like a linking issue...

[2021-03-26 22:34] trsvchn commented on #1884
that was in sandbox repo, going try to locate in `tpu-test` workflow

[2021-03-26 22:49] trsvchn commented on #1884
the same result:
https://github.com/trsvchn/ignite/runs/2205725384?check_suite_focus=true#step:9:8

[2021-03-26 22:53] vfdev-5 commented on #1884
Here is how to repro that locally:
[code]
and
[code]

[2021-03-26 23:01] vfdev-5 commented on #1884
Workaround is
[code]

[2021-03-26 23:08] trsvchn commented on #1884
What about `ldconfig`? I've tried it here: https://github.com/trsvchn/ignite/runs/2205830908?check_suite_focus=true#step:7:1141 but I think it didn't look inside the `/opt/hostedtoolcache/Python/3.7.10/x64/lib` folder

[2021-03-26 23:10] vfdev-5 commented on #1884
That was the purpose of `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/hostedtoolcache/Python/3.7.10/x64/lib`

[2021-03-26 23:32] vfdev-5 commented on #1884
To fix the issue we can also install previous version of mkl:
[code]

[2021-03-26 23:34] trsvchn commented on #1884
Currently trying that workaround

[2021-03-27 00:10] #1884 closed

[2021-03-27 00:51] #1876 closed

[2021-03-28 12:30] #1777 closed

[2021-03-29 00:33] DongWoo-Nam commented on #435
@vfdev-5  Thank you for your review. I'll try and share the results.

[2021-03-29 16:01] ydcjeff opened #1894 "Missing `close` method in `WandBLogger` and `PolyaxonLogger` ?"
## 🐛 Bug description

Just found it unexpected. Not sure this is intended. There are `close` method overrides in provided loggers except for `WandBLogger` and `PolyaxonLogger`. [wandb states that wandb process have to close if we are on jupyter or colab env](https://docs.wandb.ai/integrations/huggingface#6-finish-your-w-and-b-run-notebook-only). Not sure about PolyaxonLogger.

We need to have one

[2021-03-30 09:19] vfdev-5 commented on #1894
@ydcjeff thanks for the report (sorry for the delay) ! Yes, I agree it would make sense to have a unified API. As for PolyaxonLogger I think there is not special need for closing it AFAIK.

[2021-03-30 09:20] vfdev-5 commented on #1879
@trsvchn or @ydcjeff would you like to solve this issue. I'd like to build new docker images this week.

[2021-03-30 11:38] vfdev-5 commented on #1879
Yes, we can do something like that but I'm not a fan of using another scripting langs in addition to bash and python...
We can think of https://github.com/pydoit/doit or python for that if needed.

[2021-03-30 11:43] trsvchn commented on #1879
Yeah, agree `Makefile` is not very user friendly, There is "the strangely familiar workflow utility " from Ken Reitz:
https://github.com/kenreitz42/bake

[2021-03-30 11:52] vfdev-5 commented on #1879
No, let's keep things without new deps

[2021-03-30 12:33] trsvchn commented on #1879
Another idea is to add these line to `docker.cfg` ini format, then no need to use pyaml

[code]

Then:

[code]

[2021-03-30 15:05] ydcjeff opened #1898 "[docs] only build and deploy master"
## 📚 Documentation
We are currently building the docs from all tags / releases using master template and configs. And there are a bunch of warnings for past releases. This can lead to docs building error if we are going to bump sphinx or use BC breaking new features from sphinx. So, we should only build and deploy from master and a tag for a release. Since we only build for master, we can enable `

[2021-03-31 20:37] KickItLikeShika opened #1900 "Replace legacy code in `TextCNN` example"
## 🚀 Feature
`torchtext` in their latest release `0.9.0` moved a lot of features to legacy code, and because of that we temporary updated our [TextCNN](https://github.com/pytorch/ignite/blob/master/examples/notebooks/TextCNN.ipynb) example to compatible with the legacy code in #1890 (as quick fix for now).
Now we need to replace the legacy code in this example with the provided features in `torcht

[2021-04-01 00:26] github-actions[bot] opened #1901 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 711a9911cd57fd619090247dc5a1d9c3215cfd05**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/706778082

Feel free to close this if this was just a one-off error.

[2021-04-01 08:37] vfdev-5 commented on #1901
Can be closed as irrelevant.

[2021-04-01 08:37] #1901 closed

[2021-04-02 11:59] #1894 closed

[2021-04-04 01:01] Nic-Ma opened #1904 "How to save / load part of checkpoint?"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I have a feature request from Clara users for transfer learning: I trained a model with 4 output classes, then I want to load the checkpoint for a 3 classes task.
How to save weights except for the last output layer in ignite `Checkpoint` handler? Or skip the last layer when loading checkpoint in the handler?

Thanks in advance.

[2021-04-04 01:04] Nic-Ma commented on #1904
I tested with `strict=False` in this line:
https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L530
But seems it can't skip "same layer name but different size"?

Thanks.

[2021-04-04 12:47] vfdev-5 commented on #1904
Hi @Nic-Ma, thanks for the question ! Yes, that's true that current version of ignite does not support this option when a layer is present in the saved file and the model but they have different sizes. Personnally, I think this could be error prone.

I'd like to better understand the steps:
- train a model for example with 4 classes and save the best model only in a .pt file (e.g. `best_model_4.pt

[2021-04-04 15:28] Nic-Ma commented on #1904
Hi @vfdev-5 ,

Thanks for your detailed solutions!
I prefer the first solution because we may not know the exact layers affected by class numbers, for example, maybe a different input channel number will affect several convolution layers.
Maybe we can enhance the MONAI `CheckpointLoader` with the `strick_shape` option later, I submitted ticket:
https://github.com/Project-MONAI/MONAI/issues/1939

T

[2021-04-04 15:41] vfdev-5 commented on #1904
@Nic-Ma sounds good to me, however, I think we should be careful with such permissive loading. For example, your above case where base UNet is 2 input channels for the first convolutions (input has 2 channels) and finetuning model work on the input with 1 channel. Thus, we load middle layers and keep random top and head layers:

Layers | Trained UNet | Finetuning UNet after loading
--- | --- | ---

[2021-04-04 15:51] Nic-Ma commented on #1904
Hi @vfdev-5 ,

Good suggestions.
I think this should be advanced feature and users can set "loading layers" and "finetune LR" separately.
Currently, we have the API to set different LR for different layers in MONAI:
https://github.com/Project-MONAI/MONAI/blob/master/monai/optimizers/utils.py#L21

Thanks.

[2021-04-05 20:03] vfdev-5 commented on #1836
@trsvchn this is misleading. We would like to rebuild the docs on master for example if a docstring in the code has been changed. We also update the docs on each commit to update master version...

[2021-04-05 20:05] vfdev-5 commented on #1836
Let me know if I'm missing something in your description on what remains to do with docs.yml otherwise I think we can close this issue.

[2021-04-06 08:39] trsvchn commented on #1836
@vfdev-5
Absolutely, docs is very tricky, docs is tightly connected with the repo code, its hard to find non-docs related parts, I was thinking about reducing the number of docs "dry runs" on pull_request by excluding `docker`, some GHA workflows, `tests` but I think its minor changes

[2021-04-07 00:24] github-actions[bot] opened #1909 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ccd9b639d1d2436ed8d1936a8c2a9fb8a5889b44**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/724301938

Feel free to close this if this was just a one-off error.

[2021-04-07 09:26] cozek commented on #1900
I did try to migrate it has have not been successful so far and haven't had time to go debug. Here is a link to the notebook
https://colab.research.google.com/drive/1LVyYWtSzY2Y65AO95gkG3Uo8rkiTRtA0?usp=sharing

I got stuck with the error:
[code]

IMO, perhaps we can keep the legacy notebook and add a fresh new one since it would require rewrite of the tutorial for the parts which used the legacy

[2021-04-07 11:06] KickItLikeShika commented on #1900
Thanks for the idea @cozek. @vfdev-5 what do you think about @cozek idea? he can send a PR to edit the name of existing `TextCNN` one to (for example `TextCNNLegacy`) and make a new notebook compatible with the new release of `torchtext`

[2021-04-07 11:15] vfdev-5 commented on #1900
@cozek thanks for investigations. I think there is no value to keep legacy notebook as API changed.
In our notebook we can add a requirement to install newer torchtext package. Yes, I agree that it would require rewriting a bit the tutorial as well.

@KickItLikeShika could you please check the error in the colab that has @cozek ?
It should be certainly related to the input dataloaders...

[2021-04-07 11:32] vfdev-5 opened #1910 "CI tests are failing on BLEU"
CI tests on Master are failing on checking Bleu metric:

- https://app.circleci.com/pipelines/github/pytorch/ignite/1755/workflows/00c8cfad-8243-4f5f-9e9e-b8eaeee58b17
- https://github.com/pytorch/ignite/actions/runs/725753501

cc @sdesrozis @gucifer

[2021-04-07 11:39] gucifer commented on #1910
It is failing because of assertion error as nltk corpus bleu is giving different results than ignite's bleu. It was passing those assertions when the original PR was made, I will check what happened since then

[2021-04-07 11:48] vfdev-5 commented on #1910
@gucifer that's true, it is new version of nltk (3.6 vs 3.5) that gives the error:
- https://github.com/pytorch/ignite/runs/2286735030?check_suite_focus=true#step:7:109
- https://github.com/pytorch/ignite/runs/2278640364#step:7:299

[2021-04-07 12:43] sdesrozis commented on #1910
Related to https://github.com/nltk/nltk/issues/2571 fix.

[2021-04-07 12:53] gucifer commented on #1910
Sure It's just a simple fix. I should change according to the new nltk update?

[2021-04-07 13:28] gucifer commented on #1910
I checked nltk's new implementation, for the first example they do num/den and (num+1)/(den+1) after that. If we do that it will fail division by zero division test.

[2021-04-07 13:33] sdesrozis commented on #1910
Ok I will check on my side later.

[2021-04-07 14:19] gucifer commented on #1910
Added PR https://github.com/pytorch/ignite/pull/1911

[2021-04-07 15:42] sdesrozis commented on #1763
Sorry for the lag, I missed this message !!

Just a remark. If user first calls `logging.basicConfig()` (or any configuration), the `root` logger is defined and embeds handlers. So after that, calling `setup_logger()` considering the suggestion of @schuhschuh should return the `root` logger initialized by the user... and it does not take into account the specific ignite handlers pushed in the meth

[2021-04-07 15:48] KickItLikeShika commented on #1900
Thanks for your nice work @cozek! as @vfdev-5 said the issue is related to the dataloaders, i have edited the way we create the dataloader (if you want to keep the bucket iterators you have to edit the `batch_sampler`), please check this copy notebook: https://colab.research.google.com/drive/16_F6G_cBmp9RJRXwhRbof36pcWd7EZ44?usp=sharing .
This notebook solves the `ERROR:ignite.engine.engine.Engine

[2021-04-07 16:22] sdesrozis commented on #1763
Another remark.

We use native `logging` module in `Engine` and `TerminateOnNan` and `LRFinder` (grep told me).

[code]
prints in console
[code]

Do we want that behavior ? IMO it would be better to use `setup_logger` in our modules rather than native `logging` as we have specific handlers for `distributed` mode. However, default level of `setup_logger` is `logging.INFO`. We would be better to hav

[2021-04-07 17:31] vfdev-5 commented on #1910
GPU CI is still failing:
- https://app.circleci.com/pipelines/github/pytorch/ignite/1759/workflows/8268b94a-b53f-46dd-be89-4a73d5d860fc

[2021-04-07 17:46] vfdev-5 commented on #1910
Sorry, wrong job.

[2021-04-07 17:46] #1910 closed

[2021-04-07 19:48] schuhschuh commented on #1763
@sdesrozis Actually, setup_logger is using the native logging module. You are not actually retrieving the root logger, because getLogger is called with the module name as argument.The question should only be whether you are able to tell if the specific logger that you obtain, which is not a reference to the root logger, has had handlers set? I would think/hope so.

[2021-04-07 20:55] sdesrozis commented on #1763
I agree that we always use native logging. I was talking about configuration, sorry it was not understandable.

If you call `setup_logger()` without argument, you get the root logger. I think that is a point to have in mind. `logging.basicConfig(...)` should not conflict with our way to setup loggers. If a logger is setup  with a specific name, I assume that it won't conflict. Finally I suppose it

[2021-04-07 22:01] vfdev-5 opened #1912 "Move param handlers to core part"
## 🚀 Feature

As discussed in https://github.com/Project-MONAI/MONAI/pull/1949#issuecomment-815283287 moving https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/param_scheduler.py to the core part: https://github.com/pytorch/ignite/tree/master/ignite/handlers could be great addition for users, apps and toolkits which do not use contrib module (e.g. MONAI).

While moving the code,

[2021-04-07 22:03] vfdev-5 opened #1913 "Add any parameter scheduling"
## 🚀 Feature

Following https://github.com/pytorch/ignite/issues/1912 we would like to enlarging the scope of `ParamScheduler` to scheduling any parameter (e.g. hyperparameters) like it is done in MONAI: Project-MONAI/MONAI#1949

[2021-04-08 04:42] danieltudosiu commented on #1912
@vfdev-5 thanks for ccing.

Just to make sure I get your right.

1) For now we will just move ParamScheduler out of contrib and add MONAI ParameterScheduler to Ignite?

2) In this issue we will not aim to combine the two into a better class because we want to maintain backwards compatibility between 0.5 and 0.4. Right?

Thanks!

[2021-04-08 05:30] cozek commented on #1900
@KickItLikeShika Thanks for your help. Please grant me access so that I can view the NB. :) I think I can fix the device related issues.

[2021-04-08 07:52] KickItLikeShika commented on #1900
@cozek you can access the NB now, Good luck!

[2021-04-08 08:32] vfdev-5 commented on #1912
@danieltudosiu yes, the point (2) is correct. For this issue we want only move the code and keep backward compatibility between v0.4.4 (now) up to future release v0.6.0.

In another PR associated to #1913, we would like to extend moved to core ParamScheduler to any parameter scheduler still keeping contrib API backward compatible.

Once we are done with both features and we released a new version,

[2021-04-08 08:40] danieltudosiu commented on #1912
@vfdev-5 perfect, will aim to have it done by the end of the weekend.

[2021-04-08 08:54] vfdev-5 commented on #1912
Sounds great, thanks @danieltudosiu !

[2021-04-08 17:38] KickItLikeShika commented on #1786
I think we can close this now, right? @vfdev-5

[2021-04-08 18:09] vfdev-5 commented on #1786
@KickItLikeShika I think we can close it once we solved the issue with AP revealed here:
- https://github.com/pytorch/ignite/pull/1808
- https://github.com/pytorch/ignite/pull/1808/checks?check_run_id=2289971532#step:10:935

[2021-04-08 19:20] ryanwongsa opened #1916 "How do you use the new Pytorch Profiler with Ignite"
## ❓ Questions/Help/Support

Recently Pytorch announced a [new profiling tool](https://pytorch.org/blog/introducing-pytorch-profiler-the-new-and-improved-performance-tool). Is there a way to use it with Ignite. The example code given in the blog post looks like:

[code]

But the issue is that we don't have access to the main for loop with Ignite. Is there an easy way to get it to work with ignite.

[2021-04-08 19:30] ryanwongsa commented on #1916
Never mind I see, I need to and an event to Event.EPOCH_STARTED with the following:
[code]

and then add to the update step:
[code]

[2021-04-08 19:30] #1916 closed

[2021-04-08 20:11] sdesrozis commented on #1916
@ryanwongsa Thank you for your feedback about this new profiling tool. In your opinion, does it make sense to provide a specific handler for this as you did ?

[2021-04-08 20:19] ryanwongsa commented on #1916
@sdesrozis Yeah so I did something like:
[code]
and added `profiler.step()` in the update training step.

I think it works for now, but might not be the best solution using the global `profiler` variable, but I am not sure about what are the alternatives.

[2021-04-08 20:31] sdesrozis commented on #1916
@ryanwongsa Thank you !

[2021-04-08 20:34] sdesrozis opened #1917 "Introduce an handler to use new profiler"
## 🚀 Feature

As discussed #1912, a new profiler tool was recently introduced and it would be nice to have a specific handler in ignite.

[2021-04-09 07:40] vfdev-5 commented on #1909
Can be closed as a false alarm.

[2021-04-09 07:40] #1909 closed

[2021-04-10 09:50] #1836 closed

[2021-04-10 12:53] Moh-Yakoub opened #1921 "Make `MetricsLambda` update it's underlying metrics"
## 🚀 Feature

As title.

The current state is that we cannot use `MetricsLambda` as a standard metric because it doesn't update/reset it's underlying metrics.
Adding this will expand the scope and usability of `MetricsLambda`

I've already an idea how to implement this based on our discussion https://github.com/pytorch/ignite/pull/1887#discussion_r610902667

So @vfdev-5 please assign the issue to

[2021-04-10 14:00] sdesrozis commented on #1921
I'm not sure that LambdaMetric should update its related metrics. If so, what happen if the metrics are attached to an engine ? I remember past discussions on that point and we stated that the update of metrics must be on user side.

[2021-04-10 14:25] vfdev-5 commented on #1921
@sdesrozis yes that's true. However, it means that our metrics arithmetics does not work with reset/update/compute API :
[code]

An idea could be to make `MetricsLambda` aware of the fact that it is attached or not and dispatch `update` according to that. What do you think ?

[2021-04-10 15:29] ydcjeff opened #1922 "Datasets are downloading only on node 0, rank 0 in Ignite examples."
## 🐛 Bug description
Datasets are downloading only on node 0, rank 0 in Ignite examples. `idist.get_rank()` should be `idist.get_local_rank()`

https://github.com/pytorch/ignite/blob/13a42b90589112e67bcc6e1780e7c826a5a34199/examples/contrib/cifar10/main.py#L204-L214

---

https://github.com/pytorch/ignite/blob/13a42b90589112e67bcc6e1780e7c826a5a34199/examples/contrib/cifar10_qat/main.py#L189-L199

[2021-04-10 15:59] Moh-Yakoub commented on #1921
That can be an option. Another idea can be that we have a new subclass called `ComputableMetricsLambda` or something like this and it won't allow engines to be attached to it.

[2021-04-10 16:14] vfdev-5 commented on #1921
This can be ambiguous, I think. For example, `err = (1.0 - Accuracy()) * 100.0` would be `MetricsLambda` or `ComputableMetricsLambda` ? User can create a new metric like that and could use it in both scenarios (separately)...

[2021-04-10 16:36] sdesrozis commented on #1921
I understand but I'm not sure...

Metrics `LambdaMetric` should check if its metrics would be already attached or not every update calls. Moreover, it means metrics would have to handle a state concerning attachment or not, and detachment.

A simple alternative would be to pass metrics to the report and not construct and attached internally...

IMO a report is not a metric. It uses metrics.

[2021-04-10 16:39] vfdev-5 commented on #1921
For me, the main point of the issue here is to solve this issue : https://github.com/pytorch/ignite/issues/1921#issuecomment-817144804

[2021-04-10 16:40] vfdev-5 opened #1923 "Introduce state.data as end-to-end data structure"
## 🚀 Feature

Following the discussions from https://github.com/Project-MONAI/MONAI/issues/1987 , we may think of providing a unified data structure where we could merge input batch and output to simplify data access inside user handlers.

@Nic-Ma could you please detail the pitch of the idea. Thanks a lot !

[2021-04-10 16:47] Nic-Ma commented on #1923
Hi @vfdev-5 ,

Thanks for raising this ticket.
The idea is that: currently, MONAI post transforms(independent with ignite) execute on the `engine.state.output` dict, the post transforms can't get some useful information in `engine.state.batch`, for example, the meta_dict of images or some transform context we put in the `engine.state.batch`. As we discussed in another ignite ticket before, I think

[2021-04-10 16:50] sdesrozis commented on #1921
I need to write codes to go further on this

[2021-04-10 17:25] ydcjeff commented on #1922
@Moh-Yakoub Sure! you can go ahead

[2021-04-10 18:13] sdesrozis commented on #1921
It's a good use case.

Here, we have one `LambdaMetric` per operator (minus and mult) defined by the tree op. Call `err.update(...)` means recursive checks on the tree where the leaf is `Accuracy()`. This metric is not attached so the `update(...)` should automatically called.

It looks simple but error prone
[code]

[2021-04-10 19:09] sdesrozis commented on #1922
I think that is correct to download dataset only on rank 0.

Usually, if you have multiple nodes, dataset is downloaded on a shared directory on the file system. We don't want to have multiple datasets on memory.

[2021-04-10 19:19] vfdev-5 commented on #1922
That's true for large datasets which we do not usually download during the training. In case of cifar10 we never stated that we have to use shared filesystem.

[2021-04-10 19:34] sdesrozis commented on #1922
Do we really have an issue here ? I'm not sure.

IMO, what is currently done is exactly what should be done. The implementation works on clusters and classical multinode systems. Change that means handle concurrent writes and maybe have different paths per node...

We should keep current code.

[2021-04-10 21:10] vfdev-5 commented on #1922
@sdesrozis we discovered that in code-generator examples and it was me who asked him to file the issue here as we replaced rank by local rank there.

My point is that doing what is described here: https://github.com/pytorch/ignite/tree/13a42b90589112e67bcc6e1780e7c826a5a34199/examples/contrib/cifar10#multiple-nodes-multiple-gpus as by default it will use `data_path="/tmp/cifar10"` which is not sha

[2021-04-11 01:24] github-actions[bot] opened #1925 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 13a42b90589112e67bcc6e1780e7c826a5a34199**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/737013794

Feel free to close this if this was just a one-off error.

[2021-04-11 08:07] sdesrozis commented on #1922
Ok I understand but I would be surprised if this would be relevant in a real scenario. Usually, datasets are not downloaded during training, they are stored in a persistent folder. Other points are the network bandwidth, cost of the downloading, etc.

[2021-04-11 08:17] ahkarami opened #1926 "[Feature Request] Save lr_finder plot instead of its showing"
It would be great, if one can save plot of LRFinder module instead of showing it. Because, for example, in many cases we run our training scripts on Servers (e.g., AWS) and it is better to save the result plot (loss against learning rate plot) instead of showing it.
Thanks

[2021-04-11 08:47] vfdev-5 commented on #1926
@ahkarami thanks for the suggestion ! I agree that [plot method](https://github.com/pytorch/ignite/blob/13a42b90589112e67bcc6e1780e7c826a5a34199/ignite/contrib/handlers/lr_finder.py#L189) could return the figure and have filepath optional argument to save current plot on disk.

[2021-04-11 08:52] vfdev-5 commented on #1922
Do you think for cifar10 we should do like for Pascal VOC ?
https://github.com/pytorch/ignite/blob/13a42b90589112e67bcc6e1780e7c826a5a34199/examples/references/segmentation/pascal_voc2012/main.py#L26-L48

[2021-04-11 11:21] ydcjeff commented on #1917
**question:** should this handler live in core module or contrib module?

[2021-04-11 11:23] vfdev-5 commented on #1917
I think in future we'll merge contrib into core. Let's already put it into core.

[2021-04-11 14:45] sdesrozis commented on #1922
I'm not sure. Cifar10 is a small dataset, I think that what is currently done is good.

[2021-04-11 15:06] bennydayana opened #1929 "ImportError: cannot import name 'Metric' from 'ignite.metrics'"
## 🐛 Bug description

Unable to use Metric for calculating roc_auc_compute

Code that caused error:

[code]

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-25-eaec9c574c2d> in <module>
      3 import torch
      4
----> 5 from ignite.metrics import EpochMetric
      6
      7

C:

[2021-04-11 15:12] vfdev-5 commented on #1929
@bennydayana thanks for reporting, we'll take a look.

Meanwhile, could you please install [nightly version](https://github.com/pytorch/ignite#nightly-releases) to see if it was fixed in between ? Thanks

[2021-04-11 15:17] bennydayana commented on #1929
Yes.. in nightly version it is solved.. Thanks

[2021-04-11 15:22] vfdev-5 commented on #1929
@bennydayana could you please provide minimal code snippet to reproduce the issue with the stable version ?
As your first message shows ignite's code, I'd like to understand the origins of the issue... Thanks

[2021-04-11 15:36] bennydayana commented on #1929
This import line caused the error
from ignite.metrics import EpochMetric

[2021-04-11 18:51] vfdev-5 commented on #1929
@bennydayana could you please detail which Windows version you are using ?

[2021-04-11 20:35] vfdev-5 commented on #1929
@bennydayana tried to reproduce the issue on windows 10 VM with conda environment and there is no issue:
[code]

Can you provide more details on your env and how cand we replicate it to reproduce the issue. Thanks

[2021-04-12 08:05] jeffydc opened #1931 "enable automatic mixed precision for xla"
### Feature

Automatic mixed precision for xla has landed in [pytorch 1.8.1](https://github.com/pytorch/pytorch/releases/tag/v1.8.1) and torch/xla nightly.
We should enable it in `create_supervised_*` helper functions.

### Suggested solution

Remove xla and amp checks in [`_check_arg()`](https://github.com/pytorch/ignite/blob/a391983e8860c0f2b1b98a64a3996d86acffd3ed/ignite/engine/__init__.py#L290

[2021-04-12 08:41] vfdev-5 commented on #1931
Is it for GPUs or TPUs as well ? I saw that and was thinking that it is for GPUs only , @ydcjeff can you check that on colab please ?

[2021-04-12 12:10] bennydayana commented on #1929
The error occurred in stable version ('0.4.4') when I tried in jupyter notebook of WinPython.

[2021-04-12 21:47] vfdev-5 commented on #1929
@bennydayana I tried with [Winpython64-3.8.8.0dot.exe](https://github.com/winpython/winpython/releases/tag/4.0.20210307), installed manually pytorch-ignite and jupyter notebook, called `﻿﻿from ignite.metrics import EpochMetric` inside a notebook and still can not reproduce your issue.
I suppose that you should something strange with your python environment.

[2021-04-13 07:38] vfdev-5 commented on #1898
@ydcjeff yes, we are building all versions and also do no-history upload to gh-pages (to avoid repository size explosion). I'm not sure about how to build only master and the latest tag, keeping previous tags without rebuilding and do no-history upload...

[2021-04-13 08:58] Nic-Ma opened #1934 "What's the usage of `event_to_attr`"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I see there is a dict property `event_to_attr` in `State`:
https://github.com/pytorch/ignite/blob/master/ignite/engine/events.py#L374
And users can register new event-to-attr "mapping" in engines.
But I didn't find the usage of this property, may I know why you defined this dict and what the usage case it is for?

In my simple mind, maybe "register event

[2021-04-13 09:05] vfdev-5 commented on #1934
Hi @Nic-Ma ,

it is, for example, used internally to resolve events filtering:
[code]
it adds a `if-else` clause: `trainer.state.epoch % 5 == 0`  and we have to connect `Events.EPOCH_COMPLETED` <-> `State.epoch`.
Please, keep in mind that some parts of this design is subject to change in future release as we'd like to have more splitting between `Engine` and `State`.

[2021-04-13 09:13] Nic-Ma commented on #1934
Hi @vfdev-5 ,

Thanks for your example, makes sense.
As Clara users usually use JSON config to develop DL pipeline, we highlight "event-handlers" as the main approach to bring their own python code.
So "register events", "register attrs", "end-to-end context dict data" would 3 most important features to construct a flexible program based on ignite handlers.

Thanks.

[2021-04-13 09:21] vfdev-5 commented on #1934
@Nic-Ma, I had a side thought about DL pipeline development. What do you think about providing an app similar to this one: http://pytorch-ignite-code-generator-dev.eu-west-3.elasticbeanstalk.com/  where the main goal is to "generate your training scripts" ?

[2021-04-13 10:46] Nic-Ma commented on #1934
Hi @vfdev-5 ,

Thanks for your sharing, a very cool online tool.
NVIDIA Clara is based on MMAR standard archive and JSON configs, many users are not programmers.
https://docs.nvidia.com/clara/tlt-mi/nvmidl/model.html#
The new version that is based on MONAI & ignite is not released yet.
Maybe we can leverage your application in the future.

Thanks.

[2021-04-13 22:01] #1922 closed

[2021-04-13 22:09] vfdev-5 opened #1938 "Usage of persistent_workers with auto_dataloader for spawned processes"
## 🚀 Feature

Since v1.7.0 pytorch introduced `persistent_workers` argument to `DataLoader`: https://pytorch.org/docs/1.7.0/data.html#torch.utils.data.DataLoader
This can reduce the time of dataloader creation for each epoch with native pytorch distributed config:
- with `persistent_workers=True`, our cifar10 example gives `CIFAR10-Training INFO: Engine run complete. Time taken: 00:02:55` on 2 pro

[2021-04-13 22:17] Moh-Yakoub commented on #1938
@vfdev-5 Are you suggesting enabling that field for all our examples that utilize the DataLoader?

[2021-04-13 22:26] vfdev-5 commented on #1938
@Moh-Yakoub I'm not yet sure about what exactly we'd like to do. We have to check "horovod" and "xla" backends as well with `persistent_workers=True`.

[2021-04-14 00:58] vfdev-5 opened #1939 "EpochOutputStore can optionally store the data to the state"
## 🚀 Feature

The idea is to give an option to have the following:
[code]

In addition, it would make sense to move it from contrib to core as well, keeping BC.

[2021-04-14 21:21] sdesrozis commented on #1938
The performance gap is quite impressive. However, I don't understand clearly the reason why. If I understand well, the option allows to keep worker threads in dataloaders through epochs. I don't understand why it accelerates the computation.

[2021-04-14 21:23] vfdev-5 commented on #1938
@sdesrozis there is no acceleration, actually, in practice that the app takes a lot of time in preparing the first batch for each epoch.

[2021-04-14 21:27] sdesrozis commented on #1938
10s gained by destroy/allocate threads (and memory so far) for 24 epochs ? It seems a very huge cost.

[2021-04-15 07:06] radekosmulski commented on #1939
Read the code of `EpochOutputStore` and I think I understand what this is about :slightly_smiling_face: Maybe this is something I could work on after I finish #1919?

Could I please ask what BC stands for?

[2021-04-15 07:20] ydcjeff commented on #1939
BC - backward compatibility

[2021-04-15 07:40] vfdev-5 commented on #1939
Thanks Jeff!

@radekosmulski Yes, BC is backward compatibility and a PR breaking it is called "BC-breaking" as far as I know.

[2021-04-15 11:35] bennydayana commented on #1929
I tried it in another system and the stable version is working there.. So no issues now.. Thanks!

[2021-04-15 11:35] #1929 closed

[2021-04-15 12:52] Nic-Ma commented on #1923
Hi @vfdev-5 ,

May I know do you guys have any updates on this topic?
We start to develop MONAI v0.6 now, making a clear data flow for all the components is a very important topic for v0.6.
We plan to use **a overall dict** to set/get data for all the components, like _data = {image: ..., image_meta: ..., label: ..., pred: ...}_:
(1) image readers read medical image content and the meta data,
(2)

[2021-04-15 13:00] vfdev-5 commented on #1923
Hi @Nic-Ma

We haven't yet  advanced on the topic, unfortunately. When I was thinking about it, a certain blockers came in mind as we do not force user to structure the batch or output = we do not know what is inside `batch` or `output`. So, minimally we can introduce `engine.state.data` as a dictionary like:
[code]

Do you think we could specify them more using some tricks ?

[2021-04-15 16:04] Nic-Ma commented on #1923
Hi @vfdev-5 ,

In my simple mind, the easiest way for MONAI is to change this line:
https://github.com/Project-MONAI/MONAI/blob/master/monai/engines/trainer.py#L160
into:
[code]
Then we can use `engine.state.output` in post transforms and handlers as the overall data flow, and don't use `engine.state.batch` anymore.
Is there any drawback?

Thanks.

[2021-04-15 16:18] vfdev-5 commented on #1923
I think that can be reasonable.

We can also think about unrolling batch and output (if sequence or mapping) into data like that:
[code]

[2021-04-15 20:46] sdesrozis opened #1941 "Scheduler using context manager to control the download of datasets"
## 🚀 Feature

The first intent of this FR is to address multiple downloading of datasets. The idea is to provide a way to schedule process using context manager. The inspiration comes from the section of OpenMP and [pe logger](https://www.researchgate.net/publication/236892277_The_Logging_Functionality_of_the_pe_Physics_Engine).

Let's consider a `scheduler` context manager defined with an orderin

[2021-04-15 22:10] Nic-Ma commented on #1923
Hi @vfdev-5 ,

Thanks for your confirm, let me move forward in MONAI with `engine.state.output = dict(engine.state.batch)` first.

And I think your proposal of `engine.state.data` can't work for our case, we don't want post transforms to depend on ignite, so we can't pass `engine.state.data` to post transforms to parse data from ignite keys `batch` and `output`, so I prefer to combine data in `eng

[2021-04-16 00:01] vfdev-5 commented on #1941
@sdesrozis interesting ideas. I think a context manager with at least zero rank + barrier could be helpful.

The name scheduler is a bit unclear, if we put it to as `idist.rank_scheduler` maybe would make sense...

By the way, I also saw this approach for downloading on a single rank:
[code]

- https://docs.ray.io/en/latest/raysgd/raysgd_pytorch.html#debugging-tips

[2021-04-16 05:48] sdesrozis commented on #1941
Using `FileLock` was my idea to implement `SharedPath` but I totally agree that the naming is not so good. That's why I prefer discuss it here with interested people before submitting a PR.

Since it seems relevant, I will submit a PR and then we can discuss it precisely. What do you think ?

[2021-04-16 08:25] vfdev-5 opened #1942 "Fix flaky Horovod CI"
## 🐛 Bug description

- https://github.com/pytorch/ignite/runs/2357481982
- https://github.com/pytorch/ignite/runs/2360505516

[2021-04-16 08:28] vfdev-5 commented on #1824
Let's close this issue as CI platform related.

[2021-04-16 08:28] #1824 closed

[2021-04-16 08:58] #1926 closed

[2021-04-16 23:02] vfdev-5 commented on #1763
@schuhschuh please take a look at this PR : #1945 with a suggested improvement to fix this problem. Thanks!

[2021-04-18 02:56] github-actions[bot] opened #1948 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a2343fa8caa5a8887af691f2eb06fa77e4b0845a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/759581673

Feel free to close this if this was just a one-off error.

[2021-04-19 08:13] sdesrozis opened #1949 "Agnostic Engine configured by specific handlers"
## 🚀 Feature

As discussed https://github.com/pytorch/ignite/pull/1919#issuecomment-821959142, some specific features are hardcoded in the `Engine` (reset of batch/output for instance). Usually it is internal concerns and therefore well encapsulated in the `Engine`.

However, the `Engine` is a use-agnostic concept that aims to iterate collections (typically `datasets`) by applying a function (i.e.

[2021-04-19 22:12] #1715 closed

[2021-04-20 00:25] github-actions[bot] opened #1953 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ec50e703a6df550362a23a2dbccc44665b7c3eae**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/765374139

Feel free to close this if this was just a one-off error.

[2021-04-20 03:02] Nic-Ma opened #1954 "Unexpected checkpoint file size"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

Our user and QA gave a bug report that the checkpoint size is unexpected when saving both `net` and `optimizer`.
You can easily reproduce it with this example program:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/ignite/unet_training_dict.py#L163
If we only save `net`, the checkpoint size is:
[code]
But if we save both `net` and

[2021-04-20 08:33] vfdev-5 commented on #1954
@Nic-Ma thanks for asking. Interesting pytorch question:
[code]

And if we inspect what was stored:
[code]
we can see that there are tensors stored inside, https://pytorch.org/docs/stable/optim.html#torch.optim.Optimizer.state_dict

[2021-04-20 21:36] vfdev-5 commented on #1912
Hi @danieltudosiu how things are going with this issue ?

[2021-04-20 21:59] Nic-Ma commented on #1954
Hi @vfdev-5 ,

Thanks for your example!!
That makes sense.

[2021-04-20 22:33] vfdev-5 commented on #1954
@Nic-Ma let me close the issue as answered :)

[2021-04-20 22:33] #1954 closed

[2021-04-21 00:26] github-actions[bot] opened #1955 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a44b3273ce39beb4c31c650e2c3fb11281a3700e**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/768947066

Feel free to close this if this was just a one-off error.

[2021-04-21 21:33] #1948 closed

[2021-04-21 21:33] #1953 closed

[2021-04-22 08:20] #1955 closed

[2021-04-22 08:36] #1900 closed

[2021-04-24 08:16] fco-dv commented on #1872
Could help with this issue, however struggling to reproduce it with autocast, @vfdev-5 would you still have the code snippet ? thanks

[2021-04-24 15:59] vfdev-5 commented on #1872
@fco-dv it is apex only related failure. To reproduce it, try to add two tensors of different types: f32 and f64 once apex is fully initialized (following above discussion).

[2021-04-25 11:12] danieltudosiu commented on #1912
@vfdev-5 sorry I had a hectic week with family issues and PhD. This week I will jump on it.

[2021-04-25 11:47] Yevgnen commented on #1476
As the original nested value is kept in the metrics dict, some logger will also flatten dict value for plot like `wandb` which results in duplicate (double) plots. Is there any suggestion on this? Thank you.

[2021-04-25 12:12] vfdev-5 commented on #1476
@Yevgnen thanks for pointing out about that !
To avoid duplicated plots, for now it is possible to specify which metrics to plot instead of using "all" :
[code]
- https://pytorch.org/ignite/contrib/handlers.html#ignite.contrib.handlers.wandb_logger.WandBLogger

Seeing the Wandb logger's code, we log everything:
https://github.com/pytorch/ignite/blob/9230a7319047b37ce19d956e024fa1b86030c30a/ignite/

[2021-04-25 12:25] Yevgnen commented on #1476
Thanks for the information about `metric_names`. I'm currently using something like `setup_wandb_logging` (another wrapper over it) which encapsulates the `logger.attach_output_handler` part itself. I might duplicate that code for now. Thanks!

I have lots metrics (E entity types + R relation types + overall) x micro/macro/precision, recall, f1 tracked over iterations). It would be nice to have un

[2021-04-25 12:34] vfdev-5 commented on #1476
@Yevgnen I agree.

Meanwhile, maybe, we add custom filtering of `state.metrics` without changing your code and copying ignite methods:
[code]

What do you think ?

[2021-04-25 12:38] Yevgnen commented on #1476
Looks good! All I should do is to ensure the filter is processed after the metrics computation, right?

[2021-04-25 12:41] vfdev-5 commented on #1476
Exactly, after they are computed by something like `evaluator.run(val_loader)` and before they are logged by wandb.

[2021-04-25 12:57] vfdev-5 commented on #1476
I'll create new issue for uniform approach between loggers.

[2021-04-25 12:57] #1476 closed

[2021-04-25 12:57] vfdev-5 opened #1965 "Make sure that all exp tracking system loggers handle metric types in the same way"
## 🚀 Feature

Related to the discussion from here: https://github.com/pytorch/ignite/issues/1476#issuecomment-826314243

We would like to ensure that all our supported experiment tracking loggers handle metric types in the same way as here:

For Neptune (correct):
https://github.com/pytorch/ignite/blob/9230a7319047b37ce19d956e024fa1b86030c30a/ignite/contrib/handlers/neptune_logger.py#L344-L351

In

[2021-04-25 23:38] djberenberg opened #1968 "Can't get `Parallel.run` with NCCL in SLURM environment to work"
## 🐛 Bug description
Dispatching a distributed multi-node/multi-gpu script via SLURM `sbatch` raises a `RuntimeError`

## To reproduce:
#### Slurm invocation:
[code]
### `test_dist.py`
Python script
[code]
### Error message (and logged output):
[code]
## Expected behavior
I would like the code to run `run_diagnostic` for each `local_rank` in the allocation. Right now it does not reach that point,

[2021-04-26 07:15] ydcjeff opened #1969 "Set `seed` for xla in `manual_seed`"
### 🚀 Feature
While reading HF's accelerate source, just found that we don't set seed for xla in `manual_seed`. We do need to set seed in xla environment right?

Ref: [XLA set seed docs](https://pytorch.org/xla/release/1.8/index.html#torch_xla.core.xla_model.set_rng_state), [HF set seed source](https://github.com/huggingface/accelerate/blob/e0a420f7cb32124cadeeae690b56e463f8fc598f/src/accelerate/u

[2021-04-26 07:23] sdesrozis commented on #1968
@djberenberg Thank you for this report.

When using SLURM, arguments for parallel distribution are automatically handled from the configuration (`srun` environment). Therefore, no need to specify in the python cmd line.

Could you try the following command
[code]
and tell me if it solves your issue ?

[2021-04-26 07:42] sdesrozis commented on #1969
@ydcjeff Thank you for pointing this out ! I think it should be added in `manual_seed`.

[2021-04-26 08:57] vfdev-5 commented on #1968
@sdesrozis do you think we should handle the case like that by showing a warning or runtime error ?
Same question about the issue in MONAI ...

[2021-04-26 11:37] sdesrozis commented on #1968
@vfdev-5 I think we should do something in that case.

[2021-04-26 12:21] vfdev-5 commented on #1969
@ydcjeff can you send a PR for that please ?

[2021-04-26 14:35] djberenberg commented on #1968
@sdesrozis Thank you for the reply! Unfortunately, your suggestion did not work for me. Rather than even throwing an error the script hangs indefinitely.

Interestingly, if I allocate:
[code]
and then `srun`:
[code]
I get a different error:
[code]
which seems related to point 3 in the relevant information I provided above.

That being said, https://github.com/sdesrozis/why-ignite did work! (that i

[2021-04-26 16:42] vfdev-5 commented on #1968
@djberenberg thanks a lot for the bug report, we'll work on it in high priority!

[2021-04-26 16:54] djberenberg commented on #1968
@vfdev-5  Awesome! Thank you so much

[2021-04-26 17:32] sdesrozis commented on #1968
@djberenberg I will run the script on a cluster as soon as possible.

However, it should be tomorrow afternoon or on Wednesday.

[2021-04-26 20:09] sdesrozis commented on #1968
@djberenberg Please have a look here https://github.com/sdesrozis/why-ignite/blob/main/basics/3_ignite/README.md to see how an example using `Parallel` is launched. Maybe it could help.

[2021-04-26 20:15] djberenberg commented on #1968
@sdesrozis Whoops, I didn't even see that directory in the repo. Yes, it's quite helpful. (Naive) question - does `master_port` have to be unique for each worker?

[2021-04-26 20:29] sdesrozis commented on #1968
Good ! Currently we are writing a blog post to explain how ignite can help to use multiple launching methods with the same code. I hope we will release this post soon.

yes it does. Each workers have to sync using master_addr:master_port.

[2021-04-26 21:10] djberenberg commented on #1968
@sdesrozis  This is very helpful, thank you. Isn't `SLURM_JOB_ID` the same for every node in the allocation though? Will there be collisions when physically different nodes connect to master?

[2021-04-26 22:07] #1969 closed

[2021-04-26 22:16] vfdev-5 commented on #1968
@djberenberg all nodes should connect to master with the same port independently of SLURM, see for example here:
 - https://github.com/pytorch/examples/tree/master/imagenet#multiple-nodes
 - https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10#multiple-nodes-multiple-gpus

[2021-04-26 23:02] vfdev-5 commented on #1934
Let me close this issue as answered. We can reopen it if needed.

[2021-04-26 23:02] #1934 closed

[2021-04-26 23:03] vfdev-5 commented on #1939
@radekosmulski would you like to work on this issue ?

[2021-04-26 23:05] vfdev-5 commented on #1786
We can close this issue as required PR and the failing test were done.

[2021-04-26 23:05] #1786 closed

[2021-04-26 23:08] vfdev-5 commented on #1660
Let's close this issue as solved.

Current state of the thing is:
- it is unsafe to use `pull_request_target` and bash script to run formatting

A solution could be to add specific label condition to run unsafe pipeline.

[2021-04-26 23:08] #1660 closed

[2021-04-27 00:30] github-actions[bot] opened #1972 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit edc418353e11913aaeee0481654fc25c8f6cd1b2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/787371309

Feel free to close this if this was just a one-off error.

[2021-04-27 00:33] KickItLikeShika commented on #1972
I think these failures are supposed to be flaky

[2021-04-27 00:36] vfdev-5 commented on #1972
Oh, this is very annoying all those broken tests... I restarted it and let's see.

[2021-04-27 00:37] KickItLikeShika commented on #1972
OK, those HTTP errors occasionally happen locally...

[2021-04-27 00:40] KickItLikeShika commented on #1972
@vfdev-5 the failures happened again, any ideas?

[2021-04-27 00:56] github-actions[bot] opened #1973 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit edc418353e11913aaeee0481654fc25c8f6cd1b2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/787371309

Feel free to close this if this was just a one-off error.

[2021-04-27 05:01] sdesrozis commented on #1968
I think it could have collision. We extract the last 4 digits of the slurm jobid, so 2 runs could have the same port. Therefore, if these runs are located on same nodes (suppose you decided to split the nodes with 4 GPUs in 2x2 GPUs), it will conflit.

However, I suppose we are talking about hypothetical scenarios. The best practice is to use full nodes as possible to avoid communication costs.

[2021-04-27 07:33] radekosmulski commented on #1939
@vfdev-5 - would love to! Will read through the code today and either come here to ask questions if anything is unclear or will start working on a draft of the implementation :slightly_smiling_face:

[2021-04-27 08:58] #1973 closed

[2021-04-27 09:00] vfdev-5 commented on #1972
For MNIST downloading we should add the same trick as here:
https://github.com/pytorch/ignite/blob/edc418353e11913aaeee0481654fc25c8f6cd1b2/.github/workflows/unit-tests.yml#L106-L108

[2021-04-27 11:18] vfdev-5 commented on #1968
@sdesrozis when you say we extract 4 last digits of jobid, do they pad the id with zeros for newly created clusters ? I mean, can't we have a situation when id is smaller then 1000 and thus parsing the id would fail ?

[2021-04-27 11:50] sdesrozis commented on #1968
Precisely we do `15000 + jobid[-4:]` but it is the same issue.

https://github.com/pytorch/ignite/blob/d90a2efded4ddaf5265f9d346be8f1ee2b94d12a/ignite/distributed/comp_models/native.py#L245

Anyway, we could let user gives a port number if it would be necessary.

[2021-04-27 11:54] vfdev-5 commented on #1968
Yes, I know that, but `jobid[-4:]` is always a number ?

[2021-04-27 12:46] sdesrozis commented on #1968
I would say yes but I don't find this info in the doc. Although it's very common to cast the job id in an integer.

[2021-04-27 17:07] radekosmulski commented on #1939
I opened #1974 but it is probably quite basic, happy to implement any changes that might be needed :slightly_smiling_face:

This is only a draft - as a next step, will move it out of contrib keeping BC.

[2021-04-27 21:42] trsvchn commented on #1972
Yes, we can do that but we need to specify a `target_dir` for MNIST, by defaukt its `./` but here we use tempdir:
https://github.com/pytorch/ignite/blob/edc418353e11913aaeee0481654fc25c8f6cd1b2/tests/ignite/contrib/handlers/test_lr_finder.py#L91

[2021-04-27 21:47] vfdev-5 commented on #1972
Let's change the test and use single root dir for this and all other tests (if any) where we require mnist.

[2021-04-27 21:49] trsvchn commented on #1972
We run this with pytest, we need to specify here an absolute path, right?

[2021-04-27 21:51] vfdev-5 commented on #1972
Yes, something like that

[2021-04-28 00:37] github-actions[bot] opened #1975 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit edc418353e11913aaeee0481654fc25c8f6cd1b2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/790903981

Feel free to close this if this was just a one-off error.

[2021-04-28 12:45] sdesrozis commented on #1968
@djberenberg from my side, the following command works
[code]
It means `torch.distributed.launch` is replaced by `srun`. However this is the commandline approach. To submit a batch job, the following command works
[code]

[2021-04-28 13:09] djberenberg commented on #1968
@sdesrozis thank you for looking into this! I will test it on my end.

[2021-04-28 16:07] sdesrozis commented on #1968
@djberenberg I was thinking about the most coherent and robust solution possible. The usage of `slurm` I suggest is to use `srun` to spawn process. It works perfectly with `sbatch` for the submission of jobs to the scheduler. If we mix `torch.distributed.spawn` or `torch.distributed.launch` with `slurm`, we have to consider 2 parallel configurations (`sbatch` and the python script). First, I think

[2021-04-28 16:18] djberenberg commented on #1968
@sdesrozis  re: docs - Personally I would have benefited greatly from a clear explanation of the interaction between slurm and ignite and how to dispatch jobs on such a system. . I'm awaiting in excitement the upcoming blog post you mentioned a few days ago. Thanks again for working on this so much for the last few days it really has helped a lot. The why-ignite package was also very helpful!

I a

[2021-04-28 17:04] sdesrozis commented on #1968
@fco-dv we definitely need the blog post about `idist` 😉

[2021-04-28 19:36] #1975 closed

[2021-04-29 01:11] SantoshGuptaML commented on #1076
Should `DistributedSampler` also support `IterableDataset` ? I get this error message

[code]

Where `TrainDataset` is an extension of `IterableDataset`

[2021-04-29 06:48] EnisBerk commented on #494
Details of the resume training moved to engine topic, see [here](https://pytorch.org/ignite/engine.html#resuming-the-training)
This issue comes up when one searches for resuming the training, so I wanted to post the new link.

[2021-04-29 12:19] vfdev-5 commented on #1076
@SantoshGuptaML no, torch's `DistributedSampler` does not support iterable datasets, only map-style datasets.

There are various way to route samples depending on process (distributed or simply mp):
- https://pytorch.org/docs/stable/data.html#single-and-multi-process-data-loading
- https://discuss.pytorch.org/t/ddp-and-iterable-datasets/79180

In case of distributed training, the simplest way to d

[2021-04-30 00:25] #1968 closed

[2021-04-30 12:02] #1872 closed

[2021-04-30 15:34] #1972 closed

[2021-05-01 00:24] github-actions[bot] opened #1980 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 130517738999cf81787a02cca6c134fa7bd7d221**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/801055137

Feel free to close this if this was just a one-off error.

[2021-05-01 00:27] KickItLikeShika commented on #1980
It's a flaky failure, feels good to see everything working as expected!

[2021-05-01 06:52] fco-dv commented on #1913
I can try to tackle it if some help is needed!

[2021-05-01 18:42] #1939 closed

[2021-05-01 20:36] #1925 closed

[2021-05-01 23:01] #1980 closed

[2021-05-03 00:24] github-actions[bot] opened #1983 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 2db9bf8ae3252716ef57091f95bdccb6ade55a58**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/805312557

Feel free to close this if this was just a one-off error.

[2021-05-04 01:28] vfdev-5 opened #1984 "[BC-breaking] Add cudnn benchmark = True into native comp model"
## 🚀 Feature

The idea is to add
[code]
into native distributed model and clearly state about that in the docs.

This will be a BC-breaking change as if user would like to disable that if more strict reproducibility matters, he/she should put that explicitly in the training method. Otherwise, we gain 2 lines and training is faster by default if `cudnn.benchmark = False` by default.

[2021-05-04 14:51] devrimcavusoglu opened #1986 "ModelCheckpoint improvement from "remove & write" to "write & remove""
Lately I experienced an issue with model checkpointing, so I wanted to move it to a discussion although I am unsure about this is a "bug", and thus I opened as "question". To sum it up, when using model checkpointing with certain a certain configuration, where
`n_saved=1`, there is a potential risk to lose the checkpoint due to "remove first, and then write" logic.

**Problem**
You can create a mo

[2021-05-04 16:16] vfdev-5 commented on #1986
@devrimcavusoglu thanks for the question and pointing out that.
In the very begining we had "write and remove" way to do things and we changed it due to https://github.com/pytorch/ignite/pull/1117 and related issue https://github.com/pytorch/ignite/issues/1056.

I understand your point and that it can be critical to lose the single model checkpoint due to that.
DiskSaver has also an option `atomic

[2021-05-04 20:38] vfdev-5 commented on #1904
I think we can close this issue as solved.

[2021-05-04 20:38] #1904 closed

[2021-05-04 21:36] #1843 closed

[2021-05-05 07:35] vfdev-5 commented on #1912
@fco-dv please start with this issue instead of #1913 while @danieltudosiu could directly start with #1913

[2021-05-05 08:11] fco-dv commented on #1912
Yes sure @vfdev-5

[2021-05-06 10:15] devrimcavusoglu commented on #1986
@vfdev-5 Thanks for the comment. I've looked over  #1056 (and [this comment](https://github.com/pytorch/ignite/issues/1056#issuecomment-639895281) spesifically). I think the order of write/remove is popped out out of scope for #1056. I feel that was an optional change.

With `n_saved=1`, and with the order "remove & write", the decision reduces whether to save a corrupted file or do not save a fil

[2021-05-06 13:50] ecm200 opened #1989 "Models not converging in image classification problem"
# The problem

I am trying to train a Torchvision GoogleNet model on a fine grained classification problem using Ignite. **I have successfully trained this model** and additional models from Torchvision and various other libraries (e.g. pytorchcv, timm), on this dataset, using a simple training script that I developed.

However, training with Ignite using all the same parameters as my simple train

[2021-05-06 14:56] ecm200 commented on #1989
After some more investigations, I noted the following had been added to the **training step** in the CIFAR-10 example.

[code]

This was compared to my original example of:

[code]

It appears the gradient scaling is doing the trick.
This is strange, because in my original simple training script, I am not using gradient scaling at all, and the model trained perfectly well.

[code]

[2021-05-06 15:02] vfdev-5 commented on #1989
Actually, grad scaler and AMP is optional and is not usually required.

[2021-05-06 15:06] ecm200 commented on #1989
Hi vfdev-5,

Thanks, I think I just found something else I missed, which was a difference between my simple script and the Ignite examples.
In the model update phase of the forward training step, the batch inference and loss calculation, and backward propagation of the loss, all take part under the call **with torch.set_grad_enabled(True)**. This was not in my original training step for the Ignite

[2021-05-06 15:18] vfdev-5 commented on #1989
Well, `with torch.set_grad_enabled(True).` is not required neither, IMO as the model usually contains parameters that requires gradients and by default gradients are enabled and updated...

Let me try to reproduce the issue here with CIFAR10: https://colab.research.google.com/drive/12tSCyNEvkJXYvEOt82dnCu-KZLWfEQVL?usp=sharing

[2021-05-06 15:22] ecm200 commented on #1989
@vfdev-5 ok that would be great.
I implemented the model to device change, to make sure it occurs before the optimizer call.

I have just tried running the mode again, without the GradScaler function, and I have the same issues again.
If I turn the GradScaler on again, I start to see convergence.

[code]

[2021-05-06 15:40] vfdev-5 commented on #1989
OK, I see the issue you have is with LR scheduler which is called with ignite every iteration instead of each epoch probably. This means that the LR was dumped to 0 and thus no training.

You can do the following with lr scheduler
[code]

[2021-05-06 15:47] ecm200 commented on #1989
That would do it!
Doh!
Thank you so much.

So, to be clear, take out the lp_scheduler.step() call from the train_step, and replace with the event handler above?

[2021-05-06 15:52] vfdev-5 commented on #1989
Yes, exactly

[2021-05-06 15:58] ecm200 commented on #1989
Who'd have thought that updating the learning rate by iteration instead of epoch would cause such an issue......
Well of course it would given the learning rate would become vanishingly small pretty quickly!

Thanks again, great spot! I've been looking for that for about a day and you nailed it.

[2021-05-06 16:04] vfdev-5 commented on #1989
@ecm200 updating LR by iteration can also be a way to train models with warm-up and down like here: https://pytorch.org/ignite/contrib/handlers.html#piecewise-linear-scheduler

But, yes, it can be tricky to check everything in a single run. Maybe, we can think of providing a debug mode where would dump all important things to check like : loss, grads, LR etc

[2021-05-06 16:05] #1989 closed

[2021-05-06 16:07] ecm200 commented on #1989
@vfdev-5
A debug mode sounds like a great idea.
I think in the end, it was just getting used to the idea of event handlers and how to make sure things happened at the correct time.

It is happily training away now with that modification:

[code]

[2021-05-06 19:56] vfdev-5 commented on #1986
@devrimcavusoglu , I'd say if we would not do that, clearml users would have 2 checkpoints instead of 1 if `n_saved=1`.

I agree with your "rep up", that

could be more critical.

There could several solutions I see:
1) no codebase change, for unstable systems, use `n_saved=2` and remove the last 2 checkpoint in the end of the training to clean up
2) we can think of introducing lazy removal op in

[2021-05-06 22:52] erksch opened #1991 "Precision Metric: must have at least one example before it can be computed"
## 🐛 Bug description

When using the precision metric and the model output does not predict any positives (neither true or false), then Ignite throws an error:

[code]

I guess this is expected because you can not compute the precision without any positives. But you would usually just apply an epsilon to the denominator and it is computable and [you even do that in the code](https://github.com/pyt

[2021-05-06 23:03] devrimcavusoglu commented on #1986
This is temporarily though, am I right ?

Option 1 is a trivial solution to the issue which is safer I believe, but option 2 is a nicer solution which comprehensively handle the situation which needs an effort though. I agree with you on option 3 not being a nice solution.

How would option 2 impact other components, or how much do we concern for dependent components in case of implementing option

[2021-05-06 23:18] vfdev-5 commented on #1991
@erksch thanks for the report!
Precision implementation handles different options like binary, multiclass and multilabel and the check
https://github.com/pytorch/ignite/blob/711a9911cd57fd619090247dc5a1d9c3215cfd05/ignite/metrics/precision.py#L43

ensures that `update` method was called at least once. By the way, I think the error is not raised for multilabel case which is inconsistent.

This is u

[2021-05-06 23:33] vfdev-5 commented on #1986
ClearML saver works with a remote storage and if i remember correctly they can not remove data from there and only overwrite it (maybe things have changed since then). This means that for `n_saved=1`, they have a single slot for the checkpoint and by calling remove we say in our code that we can now overwrite the checkpoint while calling save.

Option 2 may be problematic to implement correctly wi

[2021-05-07 05:28] sdesrozis commented on #1986
Thanks a lot for this discussion.

I agree your comments. Option 1 solves the issue. IMO Option 2 is nicer and could be added to our todo list. However, as mentioned @vfdev-5, the policy to handle memory footprint is specific for the case `n_saved=1` and should be done with attention. Option 3 lacks generality.

[2021-05-07 05:46] sdesrozis opened #1992 "Debug mode for ignite"
## 🚀 Feature

The idea is to provide a debug mode as discussed here: https://github.com/pytorch/ignite/issues/1989#issuecomment-833643158.

All the possible options can be discussed here. We could add an helper to track the workflow of handlers from the engine run. On the other hand, debug tools are needed to track the values of PyTorch objects (LR, loss, grads, etc.). Note that the preferred way

[2021-05-07 08:26] erksch commented on #1991
Thank you for your quick response!

I am using the Precision metric in a label wise metric

[code]

Together with `create_supervised_evaluator`.

My intuition for label wise precision is to have one hot encoded y_pred and y and then just look at the given class.

[2021-05-07 08:49] erksch commented on #1991
About your example, I wonder why `y_pred` is a  `torch.ones(bs, nc)`? Shouldn't it be one_hot encoded?

[2021-05-07 09:15] vfdev-5 commented on #1991
@erksch I agree that our docs is not very clear about how things are working (sorry about that, we are trying to improve that).

In multiclass case, the metric is inteneded to work on logits coming from the model and raw labels coming the dataloader:
1) scalar case

- Logits tensor `y_pred.shape = (batch_size, num_classes)`, e.g. `y_pred ~ [[-10.1, 0.2, 10.3, 2.1], ...]` for 4 classes
- Targets `y

[2021-05-07 09:26] erksch commented on #1991
Thanks!

Ah yes I see in the code that you perform one_hot on y_true and argmax + one_hot on y_pred.
But for label-wise metrics you need to use one_hot targets in output_transform so you can slice them for the class you are looking for (see my example above). But then the Precision metric applies processing on the targets that does not really fit anymore and gives wrong results.

[2021-05-07 09:32] erksch commented on #1991
Ah nevermind it does work :D Because precision thinks the input is a binary classification and does not apply the tranformations of multiclass labes.

[2021-05-07 09:32] vfdev-5 commented on #1991
Actually, `Precision` with `average=False` already gives the precision per class:
[code]

If you would like to handle your data as binary case: `y_pred ~ (batch_size, ), e.g. y_pred ~ [0.5, 0.2, ...]` and `y_true ~ (batch_size), e.g. y_true ~ [0, 1, 0, 1, ...]`, you have to provide binarized values for `y_pred` ...

[2021-05-07 09:41] erksch commented on #1991
Just tried that and it works great and is much simpler! Thank you!

Just for completion, here is a script that reproduces the initial error:

[code]

But if this kind of stuff is not really intended then we may leave everything at it is and refer to your method for handling label wise metrics.

[2021-05-07 09:41] #1991 closed

[2021-05-07 09:50] vfdev-5 commented on #1991
I think the code from https://github.com/pytorch/ignite/issues/1991#issuecomment-833939711 is simplier :)

In addition, you can do ["metrics arithmetics"](https://pytorch.org/ignite/metrics.html#metric-arithmetics) to fetch specific class precision as a its own metric:

[code]

[2021-05-07 13:28] bmartinn commented on #1986
Hi guys apologies for being so late to the discussion :)

Actually starting version (v1.0.0) there is now an API to delete remote files (even on the default http server).
This means that now `ClearML` will be able to support Option 2 as well. I actually like the fact that we avoid overwriting the remote files, because local file corruption can be though of as relatively rare, but network issues ar

[2021-05-07 15:00] sdesrozis commented on #1986
Ok so let's keep `n_saved=2` as our safest way to checkpoint models 😊

[2021-05-07 15:12] devrimcavusoglu commented on #1986
This means that now ClearML will be able to support Option 2 as well.

Well this is great. Currently, I see two consequences,

a. No change in codebase and proceed with `n_saved=2` as the safest way as @sdesrozis mentioned.
b. Add supporting option 2 to the TODO list.

If you decide to proceed with option (a), then this needs to be documented somewhere I believe. If you also think so, we can close

[2021-05-08 12:21] erksch commented on #1991
Just to clarify for me, `Precision` with average true gives the Macro Precision and not the Average Precision? Because we average the precisions of each individual class instead of actually counting total positives and negatives.

[2021-05-08 21:28] vfdev-5 commented on #1991
Yes, Precision with `average=True` is macro precision (same as `precision_score(..., average="macro")`).

True, that avg accuracy would give micro precision or recall.

However, it could be a nice enhancement either to give additional option as `average="macro"` or `average="micro"`. And also document that micro precision/recall/F1 can be computed just using `Accuracy`.

[2021-05-08 22:59] vfdev-5 commented on #1992
We could also think of different levels of debugging:

- LR, loss and grads will be essential for training low-level debugging.
- Dataflow debugging :
  - printing input shapes, dtypes, devices, data stats
  - saving input data as tensors or images for vision, etc
- usage of pytorch built-in tools
- ...

[2021-05-09 12:22] #1912 closed

[2021-05-10 00:24] github-actions[bot] opened #1994 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit c8541d714b924b1f214e0915f4cbf8f1b8f3a033**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/826287100

Feel free to close this if this was just a one-off error.

[2021-05-10 08:24] #1994 closed

[2021-05-10 15:40] devrimcavusoglu commented on #1986
@vfdev-5 yeah, I'd like to. I can try to look at this in a while (probably in a week or two), but if any volunteer is ready to take on this right away, I don't want to block.

[2021-05-10 20:16] vfdev-5 commented on #1986
@devrimcavusoglu currently no one is assigned to the issue, so it is open :)
I was also checking what could we do with

and my conclusions are not that bright... Maybe, if we could some insight on how to keep everything working and change back the order of "write" / "remove"... Let's see.

[2021-05-10 23:46] devrimcavusoglu commented on #1986
Well with the following, we can simply reverse the order to write/remove and not implementing "lazy saving" (atomic would cover this I believe).

After this change and with `n_saved=1`, there may be no need to implement a lazy save for ClearMLSaver, but only to remark `atomic` option in the docs in a way that it can be used to prevent any corruption. So `atomic` option simply became more effective

[2021-05-11 12:32] #1983 closed

[2021-05-11 22:21] schuhschuh commented on #1763
Hey, this is great! Thanks for working on this and keeping me in the loop. Sorry I didn't provide feedback as I was distracted.

The general recommendation for any Python lib should be to never use the root logger internally. Root is for applications. So I think this works well with how you've been adapting it now. I would probably have picked the default `name` to be simply `ignite`, because tech

[2021-05-12 01:00] devrimcavusoglu commented on #1986
I opened a PR which can be a first draft for

which we can iterate over altough note that with this change `clearml>=1.0.0` would now be required.

[2021-05-13 21:52] #837 closed

[2021-05-14 00:35] github-actions[bot] opened #1997 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ee2c7eeb8d07b56366868054b513f14e868f4d2e**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/840571752

Feel free to close this if this was just a one-off error.

[2021-05-14 07:43] #1997 closed

[2021-05-15 14:01] vfdev-5 commented on #1209
Fixed by #1748

[2021-05-15 14:01] #1209 closed

[2021-05-15 14:01] vfdev-5 commented on #1723
Fixed by #1748

[2021-05-15 14:01] #1723 closed

[2021-05-15 14:04] vfdev-5 commented on #1942
Can be closed now as CI seems to work.

[2021-05-15 14:04] #1942 closed

[2021-05-15 14:08] vfdev-5 commented on #1735
@Rajathbharadwaj still working on this issue ?

[2021-05-16 00:08] vfdev-5 opened #1999 "Add device arg to Engine"
## 🚀 Feature

The idea is to simplify `processing_function` with an optional `device` arg to `Engine`:
[code]

A possible implementation could be by adding a handler as in the example:
[code]

This can support the idea of https://github.com/pytorch/ignite/issues/1949

[2021-05-16 20:59] sdesrozis commented on #1763
@schuhschuh Thank you for your feedback.

I realized that `ignite.root.Logger` was not clever and planed to rename to `ignite` as you suggested. I have been a bit distracted lately, so I haven't done it yet, my bad.

I do appreciate your idea to split the existing `setup_logger` to better use the `logging` configuration. We could implement the actual `setup_logger` considering this idea and see if

[2021-05-17 16:23] Nic-Ma opened #2000 "Add `dict` properties to engine"
## 🚀 Feature

Hi @vfdev-5 ,

In the current implementation of MONAI handlers, they are deeply coupled with ignite engine.
Some users that use different workflows can't leverage our handlers, so we are trying to make handlers decouple from ignite.
We discussed the problem and got some basic ideas:
1. Add `dict` properties to the `engine`, then handlers can treat `engine` arg as a regular dict with

[2021-05-17 17:05] sdesrozis commented on #2000
@Nic-Ma Thank you for suggesting such features !

IMO the two points should be discussed separately, shouldn't they ?

In the first point, the dict is the current data ? Or more generally the state ?

In the second point, I suppose you want to have one `attach` (and one handler) and some specific behaviours at the runtime, right ? What is the limitation having multiple `attach` methods ?

Thank in

[2021-05-17 23:17] vfdev-5 commented on #2000
@Nic-Ma thanks for the proposing this feature. I'm not quite sure about what kind of final goal you would like to achieve.

In ignite there is no strong requirements on the handler type, so once a callable is attached to the engine it is called.
If your users do something else and has other "engines" with their own "events" when to trigger the callbacks it means that MONAI handler's should adhere

[2021-05-18 00:24] github-actions[bot] opened #2002 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 8aa7cdded922192861bbf223999ed49672678dfc**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/851572621

Feel free to close this if this was just a one-off error.

[2021-05-18 08:12] Nic-Ma commented on #2000
Hi @vfdev-5 and @sdesrozis ,

Thanks for your support here, sorry I didn't make my idea clear enough.
Here is a demo program for my 2 ideas:
1. Add `__getitem__()` and `__setitem__()` to the `State` and `Engine` of ignite:
[code]
2. Then define a util function to attach `handler` to the `engine` with predefined `EVENTS` of handler.
This util function is the only API related to ignite here:
[code]

[2021-05-18 09:22] KickItLikeShika opened #2004 "Add LRFinder to CIFAR10 example"
We already have an example for LRFinder: https://github.com/pytorch/ignite/blob/master/examples/notebooks/FastaiLRFinder_MNIST.ipynb , However we'd like to add LRFinder to another example.
So we want to update this example: https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10 .
The idea is to add an option as `with_lrfinder` and if true, setup and execute LRFinder and `apply_sugg

[2021-05-18 22:22] Nic-Ma commented on #2000
Hi @vfdev-5 and @sdesrozis ,

Could you please help share some comments? We are trying to refactor all the handlers in MONAI v0.6, it would be a big change and enhancement for us.

Thanks in advance.

[2021-05-19 06:40] sdesrozis commented on #2000
@Nic-Ma Thanks for the snippet of code.

Consider the engine as a dict looks weird to me, I have to think about it, even if it does not break anything.

We will discuss it as soon as possible !

[2021-05-19 13:21] #2002 closed

[2021-05-19 13:47] vfdev-5 commented on #2000
Hi @Nic-Ma , sorry for a late reply !

Normally, we do not force users to have handlers to be dependent on ignite. If he/she is using `Engine` to schedule events than any function or functor can be used as a handler: https://github.com/pytorch/ignite#power-of-events--handlers

I checked your current handlers structure and I agree that it could refactored and avoid using attach to the engine.
Howev

[2021-05-19 14:51] Nic-Ma commented on #2000
Hi @vfdev-5 ,

Thanks so much for your detailed suggestions and sample code! I think maybe we can try at own side first.
And I have a small question about:
[code]
In this way, I think the handler API should still contain the `engine` as the first arg?
[code]
I hope it could be:
[code]
BTW, please don't feel sad about the decoupling handlers, on the opposite, it might be good for ignite.
1. We are

[2021-05-19 20:28] vfdev-5 commented on #2000
Hi @Nic-Ma ,

This was the case for v0.3.0 and we dropped that as an option since v0.4.0 I think, see here: https://pytorch.org/ignite/engine.html#ignite.engine.engine.Engine.add_event_handler

Actually, my above code works with v0.4.4. So, a handler like you propose
[code]
will work.

Thanks a lot for the clarification of the decision of decoupling !

[2021-05-20 01:53] Nic-Ma commented on #2000
Cool, sounds good!
Let me try to refactor handlers for the `inference` workflows first based on this proposal.
For the first step, we are trying to co-work with some GPU optimized inference projects of NVIDIA, which are based on other workflows, like DALI, etc.

Thanks so much for your help!

[2021-05-20 05:47] liebkne commented on #1991
What should I do if I get this error in a binary classification and the model output does not predict any positives?

[2021-05-20 07:53] Nic-Ma commented on #2000
Hi @ericspod and @wyli,

Do you guys have any other opinions about this proposal?
If you all agree with it, I think we can try to adjust several existing handlers first, like `TransformsInverter`, `SegmentationSaver`, `ClassificationSaver`, etc. Then co-work with other NVIDIA teams to integrate our handlers into their GPU optimized inference products.

Thanks in advance.

[2021-05-20 08:29] vfdev-5 commented on #1991
@liebkne if you get this error, it means that metric was not given any data to compute the result and unrelated to what kind of predictions your model outputs. Please, check metric's usage. It could be helpful if you could share some code snippet that you are executing to debug your issue.

[2021-05-20 08:31] liebkne commented on #1991
@vfdev-5

Does this make sense?

[code]

[2021-05-20 08:37] vfdev-5 commented on #1991
Thanks a lot for sharing ! Yes, this looks like a bug...

[2021-05-20 08:50] vfdev-5 opened #2007 "Precision raises an NonComputableError for all zeros model predictions"
## 🐛 Bug description

Following https://github.com/pytorch/ignite/issues/1991#issuecomment-844860265

[code]
which is wrong as we do call `update`.

This is related to the check
[code]
where `self._positives` is 0 for all zeros predictions but is thought as uninitialized.

I think this should be related to a change in pytorch that previously had `torch.tensor([0, 0, 0]).sum()` as 1d tensor and now

[2021-05-20 11:05] wyli commented on #2000
thanks, I feel the utilities such as `EngineAsDict` could help onboard users for both ignite and monai. (also one of monai's principles is "to be compatible with existing efforts and ease of 3rd party integration for various components.")

the details need more discussions but they'll be ignite usage discussions instead of a feature request here... I'd suggest converting this ticket into a discuss

[2021-05-20 15:27] Kashu7100 opened #2008 "DeepSpeed support for ignite.distributed"
## 🚀 Feature

Pytorch lightning recently [added](https://pytorch-lightning.readthedocs.io/en/latest/advanced/advanced_gpu.html#ddp-optimizations) native support for [MS DeepSpeed](https://github.com/microsoft/DeepSpeed).

I believe it is also helpful for users if ignite incorporates the DeepSpeed pipeline for memory-efficient distributed training.

### 1. for idist.auto_model ..?
To initialize the

[2021-05-20 15:46] sdesrozis commented on #2008
@Kashu7100 Thank you for this suggestion!

I confirm that it would be very nice to support DeepSpeed with `idist`. Maybe a new backend could be introduced, what do you think @vfdev-5 and @fco-dv ? Currently we have docker environment configured with MS DeepSpeed.

Would you like to contribute on this ? It seems you already know how to do it 😉

[2021-05-21 04:18] Kashu7100 commented on #2008
@sdesrozis Do you think it is possible to reuse `idist.Parallel` pipeline without modifications?

[code]

[2021-05-21 05:03] sdesrozis commented on #2008
It depends on what you want to do. The (features list)[https://github.com/microsoft/DeepSpeed#features] of msdp is quite long and there are more or less deep impacts.

For instance, I think that the (pipeline parallelism)[https://www.deepspeed.ai/tutorials/pipeline/] would be a very nice feature to have but not trivial to adapt.

Maybe a first step could be the (distributed parallelism)[https://ww

[2021-05-21 06:50] sdesrozis commented on #2008
@Kashu7100 Finally, introducing a new backend does not seem to be the good option. Have a look [here](https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/utils/distributed.py), and you would see that native PyTorch distributed is used when distributed environment variables are set.

[2021-05-21 08:06] vfdev-5 commented on #2008
@Kashu7100 thanks for the feature request!

Yes, we plan to improve our support of deepspeed framework which is roughly:
- cmd line launcher + config file
- model_engine wrapper
- various modern optimizers
- pipeline parallelism
- amp using nvidia/apex
- customized distributed (support azure) on top of torch distributed

Our idea was to provide basic integration examples of how to use ignite and d

[2021-05-21 08:50] sdesrozis commented on #2008
I think this could be integrated in our native backend, beside slurm.

IMO it is not necessary.

That is a good option. As discussed a few weeks ago, the specific engine should be the tricky part. Otherwise, auto helpers could do the job. I suppose.

[2021-05-21 12:14] ericspod commented on #2000
We do want to support users wanting to use other libraries so decoupling makes sense in many ways. The handlers we have can be refactored as adapter interfaces to routines/classes that actually do the real work. These could still be defined in terms of Ignite events and a DictState object (which could be substituted with any sort of dictionary actually) so the integration with Ignite remains seeml

[2021-05-21 12:53] Nic-Ma commented on #2000
Hi @ericspod ,

Thanks for your suggestions and support.
As ignite uses built-in enum type(`ignite.EventEnum`) for event names, maybe we can extract the strings and use in our workflows? Pure strings can be also easier to understand for beginner users I think.
Anyway, I already made a PR about this feature for your review: https://github.com/Project-MONAI/MONAI/pull/2225
Let's discuss in the PR di

[2021-05-21 19:10] trsvchn commented on #2007
yes, it's true

`torch.sum` with default `keepdim=False` will squeeze the dim, 1 to 0 dim in our case.

Thus in a corner case withg zeros:

[code]
will produce `self._positives` equals `tensor(0)` with size of `torch.Size([])`, `ndim=0`

and later when checking `self._positives == 0` will produce True and raise Error, since

[code]

[2021-05-22 14:56] ydcjeff opened #2010 "[RFC] Possible speed improvement"
### Description

I recently noticed possible speed improvement when porting segmentation example to code-generator.

According to the docs, examples, helper functions, and tests, we are calling `model.train()` or `model.eval()` inside the process function given to the `Engine`.

And as per this line, I think `model.train()` or `model.eval()` gets called every iteration which I think not necessary.

[2021-05-22 15:06] KickItLikeShika commented on #2010
Oh, I think it's a very nice remark if `model.train()` is actually taking time. Assuming it takes time, you're right it, avoiding this in the Higher Level API is important.
Thanks!

[2021-05-22 21:16] sdesrozis commented on #2010
@ydcjeff Thank you for pointing out this. Did you measured the overhead calling `.train()` at each iteration ? I would expect no overhead from PyTorch...

[2021-05-23 14:33] vfdev-5 commented on #2010
Thanks @ydcjeff for the question!

The overhead of calling `module.train()` is to set `module.training` flag to the module and its children:
https://github.com/pytorch/pytorch/blob/28840b9a447e820bf2e66f6b6cdc880c12d077b7/torch/nn/modules/module.py#L1637-L1642

As @sdesrozis me neither I do not expect a large overhead on that. I agree that in a higher abstraction we could try to deal with that. Ho

[2021-05-24 06:53] ydcjeff commented on #2010
We could either explicitly mention in high level API, we have already called `.train()` or `.eval()` or let users call themselves.

[2021-05-24 15:53] Nic-Ma commented on #1923
Based on our online discussion with @vfdev-5 , we have a draft idea for dataflow:
1. **Engine** as the app level dict, contains all the components of the program: network, loss, state, etc. Handlers can read / write engine dict. Lifetime is same as the app.
2. **State** dict is part of Engine, tracks the status during training / validation: current iteration, total epochs, current metrics, etc. Li

[2021-05-24 16:06] Nic-Ma opened #2011 "MLFlow support in ignite"
## 🚀 Feature

Hi @vfdev-5 ,

As you may know, PyTorch and MLflow Integration announced last year: https://mlflow.org/news/2020/11/12/pytorch-mlflow-integration/index.html, it works well with `PyTorch-Lightning` but seems ignite doesn't support it so far?
What do you guys think about `MLFlow`? Is it possible to add support for it?
Here is the current API doc of MLFlow based on Lightning: https://ww

[2021-05-24 16:24] vfdev-5 commented on #2011
Hi @Nic-Ma , thanks for the question and FR !

Actually, MLflow was one of the first loggers we added after tensorboard and visdom. We have currently a specific logger for mlflow: https://pytorch.org/ignite/contrib/handlers.html#mlflow-logger
and previously had few examples like pascal voc using it: https://github.com/pytorch/ignite/blob/v0.4.3/examples/references/segmentation/pascal_voc2012/NOTES

[2021-05-24 21:05] trsvchn commented on #2007
After reading discussion #335 and some experiments I'd like to propose another solution. It is based on the code proposed in that discussion, but the approach is slightly different. I uses the  `__new__` magics, so we wraps the methods on instance creation, so no need to call `super()` and user cannot break it by overriding `__init__`, `reset`, `update` etc.

[code]

What do you think?

[2021-05-25 06:27] sdesrozis commented on #2007
This solution is smart but IMO it should be a temporary fix. We have a `Metric` interface that could be adapted to handle this flag. However, that would mean 2 method levels : logic (defined by user) and API (the wrappers, used to compute). To be discussed in next version ?

[2021-05-25 07:01] vfdev-5 commented on #2007
@sdesrozis I'm not sure that we would like just patch the problem as it can be recurrent for other metrics once pytorch has changed some other behaviour on which we rely on (but should not) to assert `reset -> (update)+ -> compute` logic.
As proposed change reside in `Metric` there is no change for extended classes.

Can you detail what you would like to discuss ?

[2021-05-25 21:12] trsvchn commented on #2007
@sdesrozis Thanks for the review, I have another idea, let's encapsulate `reset-comp-update` in a separate MetaClass, it looks similar to @zasdfgbnm proposed in #336 But here we put the code into metaclass `__call__`, to customize instance creation when "calling a class", like this:

[code]

Then, If we want to activate it in Custom Metric we can do:

[code]

Thus precision instance will be create

[2021-05-25 21:25] vfdev-5 commented on #2007
@trsvchn I think we should not expose that for the user. It is also a breaking change to avoid for now.

[2021-05-25 21:31] trsvchn commented on #2007
Oh, ok, I see. in such case we can:

[code]

[2021-05-26 05:56] sdesrozis commented on #2007
@trsvchn your first solution based on `__new__` is perfect regarding to BC concerns.

If we hadn't the BC constraint, we would have change how to define, and use a metric (I suppose). User would have to define the computing methods (not API methods) `reset-update-compute` as today but the usage would have been different using API methods, because of the internal logic added (counter for instance).

[2021-05-27 07:29] vfdev-5 opened #2013 "Support list of tensors in Metrics"
## 🚀 Feature

Related to discussion from here: https://github.com/Project-MONAI/MONAI/issues/2220#issuecomment-849250700

The feature request is to support list of tensors or scalars as input for metrics:
a) classification problem:
[code]

b) segmentation problem:
[code]

c) Same for API with Engine.

cc @Nic-Ma

[2021-05-29 14:39] Nic-Ma commented on #2013
Hi @vfdev-5 ,

Thanks for raising this topic to ignite.
May I know some plan or ETA for it? We are updating MONAI metrics for it and we want to refer to your metrics as base class.

Thanks in advance.

[2021-05-29 14:42] Nic-Ma commented on #1923
Hi @vfdev-5 ,

Do you have any updates about your ideas or plans for this feature request?

Thanks in advance.

[2021-05-29 20:21] vfdev-5 commented on #2013
Hi @Nic-Ma ,

I think c) option can be rather easily done on `Metric`, however making it work with `update/compute` API is not that obvious. We are planning v0.4.5 release on the first week of june. I think we could add c) feature only there.

MONAI usage of ignite metric is with Engine only, right ?

[2021-05-29 20:41] vfdev-5 commented on #1923
Hi Nic,

Thanks for pinging! We haven't yet thought about the implementation for this feature.

I have few comments on your previous comment : https://github.com/pytorch/ignite/issues/1923#issuecomment-847142939
(by the way, thanks a lot for the summary)

2) State with lifetime of 1 run. Currently, State is persistent and its lifetime is same as the one of the Engine. This is due to resuming featu

[2021-05-30 01:55] Nic-Ma commented on #2013
Hi @vfdev-5 ,

Thanks for your update, yes, MONAI only uses metrics in engine:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/engines/workflow.py#L186
We are trying to **decollate tensor batch** after model forward, so the input data for metrics would be a list of dict:
[code]
The list length is batch size of model input data, the tensors in the dict are `channel-first`.
What do you think t

[2021-05-30 14:26] vfdev-5 commented on #2013
Hi @Nic-Ma ,

Thanks for details !

I was thinking about supporting the following input:
[code]
If as a dict:
[code]
Do you think it would be easy for MONAI users to provide the data in one of those 2 formats ?

[2021-05-30 14:31] Nic-Ma commented on #1923
Hi @vfdev-5 ,

Thanks for your proposal!
I think it looks good to me. Would it be available in ignite v0.4.5 release?
@wyli, do you have any other comments? I think it's a good enhancement for ignite and we can update our MONAI components to only use `engine.state.data` later.

Thanks.

[2021-05-30 14:33] Nic-Ma commented on #1923
Hi @vfdev-5 ,

Thanks for your proposal!
I think it looks good to me. Would it be available in ignite v0.4.5 release?
@wyli, do you have any other comments? I think it's a good enhancement for ignite and we can update our MONAI components to only use `engine.state.data` later.

Thanks.

[2021-05-30 14:44] Nic-Ma commented on #2013
I see your point, your example is "dict of list", could you please also support "list of dict"? Just like the example data:
[code]

Thanks.

[2021-05-30 15:01] vfdev-5 commented on #2013
Basically, we would support the "tuple of lists" format, like the first example.

When we are supporting dicts, we have few conventions and mentioned in our docs that predictions should have "y_pred" key and the ground-truth has "y" key. See for example: https://pytorch.org/ignite/metrics.html#ignite.metrics.Accuracy

Same logic is applied here :
[code]
Otherwise, the keys are not supported and us

[2021-05-31 08:53] Nic-Ma commented on #2013
I see, thanks for your sharing.
@wyli We need to add some logic to convert data from "list of dict" to "tuple of list" for `pred` and `label`.
Would it be available in ignite v0.4.5?

Thanks.

[2021-05-31 10:50] vfdev-5 commented on #2013
I think once we are OK with details on what to add, we can try to implement it and schedule for this release.

[2021-05-31 11:52] Nic-Ma commented on #2013
Sounds great!

Thanks.

[2021-05-31 12:22] Muktan commented on #1965
I would like to work on this issue and would like to start with `wandb_logger`

[2021-05-31 12:26] vfdev-5 commented on #1965
@Muktan thanks for proposing your help! Actually, this is not a per-logger generic issue but 1 PR to fix everything. You can draft a PR with `wandb_logger` and then update it with others if found other loggers with issues.

Please, check our contributing guide and ask questions here or on our discord server.

[2021-05-31 12:29] Muktan commented on #1965
Okay, I will work on all the loggers and will try my best to complete it by june 2nd.

[2021-05-31 12:29] vfdev-5 commented on #1965
Thanks a lot !

[2021-05-31 13:53] vfdev-5 opened #2018 "Fix warnings in CI"
## 🚀 Feature

Recent PRs while moving modules from contrib to core introduced few warnings to fix:
- https://github.com/pytorch/ignite/runs/2694096058#step:12:2268
[code]
- https://github.com/pytorch/ignite/runs/2694096058#step:12:2274
[code]

Other warnings to fix:
- https://github.com/pytorch/ignite/runs/2694096324#step:12:808
- https://github.com/pytorch/ignite/runs/2694096324#step:12:812
[code

[2021-05-31 13:58] KickItLikeShika commented on #2018
Thanks for raising that!
I will work on this asap, but the deprecation warnings are supposed to be the same, right?

[2021-05-31 15:09] vfdev-5 commented on #2018
@KickItLikeShika well, on linux ci build I do not see the same issues as on windows ci build. Technically, they should be the same...

[2021-05-31 15:58] #2007 closed

[2021-06-01 00:41] github-actions[bot] opened #2020 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit be2bff832b88cfbc0a21828a38c664930f297409**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/894373371

Feel free to close this if this was just a one-off error.

[2021-06-01 08:03] 01-vyom opened #2022 "[docs] Mistake in note about engine.state.output"
## 📚 Documentation

For the note in `engine.create_supervised_evaluator` about `engine.state.output`, there is a spelling mistake in `defined`.

[Link to Doc](https://pytorch.org/ignite/engine.html#ignite.engine.create_supervised_evaluator)

[2021-06-01 08:54] ydcjeff commented on #2022
Thanks @01-vyom Can you check does this still exist on [master docs](https://pytorch.org/ignite/master)?

[2021-06-01 09:19] 01-vyom commented on #2022
Yes, it exists in master docs.

[Master Docs Link](https://pytorch.org/ignite/master/generated/ignite.engine.create_supervised_evaluator.html#create-supervised-evaluator)

Code:
https://github.com/pytorch/ignite/blob/be2bff832b88cfbc0a21828a38c664930f297409/ignite/engine/__init__.py#L548-L551

Also, found 2 other function notes with the same mistake:

https://github.com/pytorch/ignite/blob/be2bff8

[2021-06-01 09:29] ydcjeff commented on #2022
Thanks @01-vyom Would you like to send a PR to fix?

[2021-06-01 09:30] 01-vyom commented on #2022
Sure, I will make a PR.

[2021-06-01 11:10] #2022 closed

[2021-06-01 12:25] liebkne commented on #618
@vfdev-5 I have a question. Does `idist` work with `IterableDataset`? As mentions [here](https://pytorch.org/ignite/master/generated/ignite.distributed.auto.auto_dataloader.html#ignite.distributed.auto.auto_dataloader),

It seems neither work with `IterableDataset` since the `sampler` parameter is expected to be None in this situation.

[2021-06-01 13:46] vfdev-5 commented on #618
@liebkne thanks for the question! I think currently `idist.auto_dataloader` does not work with `IterableDataset`s as its purpose is to create a dataloader adapted for distributed configurations using data distributed sampling per process.
With iterable datasets one option is to do something like here: https://discuss.pytorch.org/t/using-iterabledataset-with-distributeddataparallel/92589/7
= create

[2021-06-01 13:49] vfdev-5 opened #2025 "Make idist.auto_dataloader work on IterableDataset"
## 🚀 Feature

Following https://github.com/pytorch/ignite/issues/618#issuecomment-852082567 we need to fix `idist.auto_dataloader` to make it work when dataset is IterableDataset. Basically, we probably have to remove the sampler.

[2021-06-02 07:41] 01-vyom commented on #1415
@vfdev-5, I was studying this issue for the last two days as I wanted to contribute to PyTorch as a newbie. I looked at all the code and all the comments, and here is what I understood, we already provide a `required_output_key` argument for the `Metric` class and by that, we provide any extra params we may need while calculating custom metric. We need to extend this to the `Loss` metric, where cu

[2021-06-02 10:42] vfdev-5 commented on #1415
@01-vyom thanks for the time on studying this issue. I agree it is not clearly stated what we would like to do here. Sorry about that.

The only thing to do here is to update current implementation of `Loss` by defining `required_output_keys = ("y_pred", "y", "criterion_kwargs")` instead of None and updating the docs saying that we can now interpret output's keys if it is a dictionary like here :

[2021-06-02 10:57] 01-vyom commented on #1415
Yes, it is clear. I will change the argument and add a demo code as well as a statement that we accept a dictionary argument to the docs. I will make a PR soon. Thank you for explaining the issue.

[2021-06-02 11:29] vfdev-5 opened #2026 ":octocat: Everyone is welcome to contribute 💯"
PyTorch-Ignite is a community effort, and everyone is welcome to contribute and join the contributors community no matter your background and skills !

If this is something you would like to do: help the project and join the community, please take a look at our [contributing guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md) and ask any related questions here or on our [Discord

[2021-06-02 14:29] smurching commented on #2011
Hey all! On the MLflow side, we'd be happy to see a contribution adding support for ignite autologging to the ``mlflow.pytorch.autolog`` API (https://www.mlflow.org/docs/latest/python_api/mlflow.pytorch.html#mlflow.pytorch.autolog), feel free to file a github issue so we can discuss the details. The way MLflow integrates with most ML frameworks is by exposing these sorts of `autolog` APIs so that

[2021-06-03 05:16] #2025 closed

[2021-06-03 05:41] Nic-Ma commented on #2013
Hi @vfdev-5 ,

Would you add support for `list of tensor` in ignite v0.4.5?

Thanks.

[2021-06-03 14:55] afzal442 commented on #2018
Hi @KickItLikeShika, as I noticed from the earliest PR, some of the warnings are fixed. Could you plz add here the remaining ones for better understanding to be taken up by someone[new contributors specifically]? I just spent long hours to figure out. Thanks.

[2021-06-03 15:07] KickItLikeShika commented on #2018
Hi @afzal442, thanks for you interest!
LRFinder related warnings still need to be fixed.

- https://github.com/pytorch/ignite/runs/2734075817#step:12:1241
[code]

- https://github.com/pytorch/ignite/runs/2734075817#step:12:1246
[code]

- https://github.com/pytorch/ignite/runs/2734075817#step:12:1251
[code]

- https://github.com/pytorch/ignite/runs/2734075817#step:12:1255
[code]

- https://github.c

[2021-06-03 20:36] #1415 closed

[2021-06-03 21:33] #2020 closed

[2021-06-03 21:38] vfdev-5 commented on #2013
Hey @Nic-Ma , just to make sure, are we ok with the formats to handle described here : https://github.com/pytorch/ignite/issues/2013#issuecomment-851008923 ?
Such that we could advance on that and probably include to v0.4.5 release.

[2021-06-04 06:34] Nic-Ma commented on #2013
Hi @vfdev-5 ,

Thanks for pinging.
I was thinking that: as you are adding the `engine.state.data`, maybe we can also add 2 args in ignite metrics to easily extract the  `y_pred` and `y` from `engine.state.data`? Something like:
[code]
Others look good to me so far.

Thanks.

[2021-06-04 07:47] vfdev-5 opened #2033 "Add args/kwargs to `BaseLogger.attach` method"
## 🚀 Feature

Following this question: https://github.com/pytorch/ignite/discussions/2031 we can easily propagate args/kwargs for custom handlers:
[code]

[2021-06-04 14:00] #1965 closed

[2021-06-04 15:24] afzal442 commented on #2033
Looking into it.

Hi @vfdev-5 do we need to add` *args, **kwargs` at that `def attach` method as you suggested?

[2021-06-05 00:06] Nic-Ma commented on #2013
Of course, I think you can enhance the metrics with your current proposal first.
Then maybe update again when `engine.state.data` is ready.

Thanks.

[2021-06-05 03:55] sandylaker opened #2035 "Unable to create DiskSaver when program launched with torch.distributed.launcher"
## 🐛 Bug description
As mentioned in this [issue](https://github.com/Project-MONAI/MONAI/issues/2080) in MONAI, I tried to run [this tutorial code](https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_workflows.py) with `torch.distributed.launcher`. However, the program froze at instantiating the [CheckpointSaver](https://github.com/Project-MONAI/M

[2021-06-05 08:55] sdesrozis commented on #2035
@sandylaker Thank you for opening this issue. I will have a look asap and try to reproduce on my side.

Moreover, could you explain a bit more the issues you faced using slurm and ignite.distributed.Parallel ?

[2021-06-05 09:01] gucifer opened #2036 "Extending sync_all_reduce decorator's functionality to collect function results"
## 🚀 Feature
When performing tasks involving costly calculations, it is highly possible that we wish to do lazy calculations of the costly bits and such costly functions are only called once at the end to get the final result. In such a scenario we need sync_all_reduce like functionality except to collect data from function outputs.
Example Usecase:
FID Metric has two sets of calculations. First i

[2021-06-05 09:02] sdesrozis commented on #2035
Just looking your code, it can't work if you create the DiskSaver in a if section only restricted to one process. It seems that DiskSaver needs a collective `__init__` call.

[2021-06-05 09:04] gucifer commented on #2036
https://github.com/pytorch/ignite/blob/d16d15efbbbfc476702e91f3ab2bc757b839be26/ignite/metrics/metric.py#L550
I think adding an if condition to check if attribute is a function and running said function in that case might solve work.

[2021-06-05 09:11] sandylaker commented on #2035
Thank you very much. The slurm issue is already mentioned in [here](https://github.com/pytorch/ignite/issues/1968), so one should not set `nproc_per_node` and `nnodes` when using SLURM and `idist.Parallel`. This issue is actually fixed by a recent PR. I tested with multi-node training and it worked. But when I tested with single-node multiple GPU training, with command like `srun -N1 -n4 python tr

[2021-06-05 09:40] gucifer commented on #2036
[code]
Something like this

[2021-06-05 12:41] sdesrozis commented on #2035
My bad. I had a look ant it seemed that my answer was enough. https://github.com/pytorch/ignite/issues/1968#issuecomment-828425106

Don't you agree ?

[2021-06-05 12:43] sdesrozis commented on #2035
I will try to test that today on my side and I tell you.

[2021-06-06 00:26] github-actions[bot] opened #2038 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit d16d15efbbbfc476702e91f3ab2bc757b839be26**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/910472377

Feel free to close this if this was just a one-off error.

[2021-06-06 08:48] vfdev-5 commented on #2035
@sandylaker could you please test this code with nightly version : `pip install --pre pytorch-ignite` ?
I think it should raise this runtime error:
https://github.com/pytorch/ignite/blob/d16d15efbbbfc476702e91f3ab2bc757b839be26/ignite/distributed/comp_models/native.py#L218-L222

In general, I think calling `srun python -m torch.distributed.launcher --nproc_per_node=4 --nnodes=1 script.py` is incor

[2021-06-06 09:08] sandylaker commented on #2035
1. Yes, it threw the Error as expected. But when I changed to `ignite.distributed.Parallel` context manager, and launched the script with `srun -N=1 -n=4 --ntasks-per-node=4 script.py`, the job got stuck in the queue and kept waiting for resources to be allocated. But actually the 4-GPU node is free. That's the reason why I used `torch.distributed.launcher` to launch DDP training.
2. The node that

[2021-06-06 11:11] sdesrozis commented on #2035
If the script doesn't run and stays in the queue, IMO it's not a problem from ignite. Did you try with another script ?

[2021-06-06 11:19] sandylaker commented on #2035
@sdesrozis Yeah it might be caused by the SLURM settings. I did not run another script with `ignite.distributed.Parallel`. But I have run multiple scripts with `torch.distributed.launcher`, and it worked quite well. Thus, I would like to know if ignite can enable DDP training with `torch.distributed.launcher`. Or I have to stick with `ignite.distributed.Parallel`?

[2021-06-06 12:40] sdesrozis commented on #2035
You can do as you prefer, but using `ignite.distributed.Parallel`, you would use `torch.distributed.launch`, `torch.distributed.spawn`, slurm, `xla` and `horovod` as well.

Please have a look here https://github.com/sdesrozis/why-ignite/tree/main/basics

HTH

[2021-06-06 16:51] sdesrozis commented on #2036
Let's try to explain concretely the motivation of this PR.

Consider the following pseudo approximate FID metric. The point is to call a function `fid_score` when the epoch is completed and sync the result. This result can't be computed online.
[code]

An alternative is to attach the function `fid_score` before the method `compute` and sync a variable `fid`. To do such a strategy, one must overrid

[2021-06-06 16:54] sdesrozis commented on #2035
I will try tomorrow on the cluster of my lab and I tell you. Sorry for the delay, I can't access so easily.

[2021-06-06 18:04] sdesrozis commented on #2036
I think the return of a method to sync could provide a dict. Therefore, a variable could be created from the key of the dict rather than store in the method.

We could imagine something like
[code]

[2021-06-06 19:51] vfdev-5 commented on #2036
If you need to reduce values manually, you can just skip `sync_all_reduce` and call `idist.all_reduce` on what you need to reduce. We are doing similar things for EpochMetric where we need to do `all_gather`.

However, are we sure that all procs mean of fid scores is equal to fid score computed of all procs ?

[2021-06-06 20:20] sdesrozis commented on #2036
Sure, we can do manually things, it's my first example. However, maybe we could do better.

No that is not equivalent. FID is a very bad distributed algorithm. In fact, only the feature extraction over batches can be done in parallel. After that, features would be broadcasted. We will provide this mode (expensive but correct) and a cheaper but approximate.

[2021-06-06 22:35] vfdev-5 commented on #2035
@sdesrozis @sandylaker I think I can understand now the issue with DiskSaver and the above code snippet.
Yes, it wont work and will freeze due to the fact that DiskSaver uses `one_rank_only` decorator.
What happens is the following:
[code]
To make the code snippet work, we have to remove `if dist.get_rank() == 0`.

[2021-06-07 00:29] github-actions[bot] opened #2040 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit d16d15efbbbfc476702e91f3ab2bc757b839be26**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/912974388

Feel free to close this if this was just a one-off error.

[2021-06-07 05:26] sdesrozis commented on #2035
@vfdev-5 Yes, That's what I mentioned looking the code a few days ago.

The parallel / sequential sections remain a tricky (and classical) thing in parallel computing. Having to manage the 2 behaviours (collective call similar to reduction or guard per processor) makes the codes more complicated. An idea would be to have only handlers defined in collective, we avoid the if clauses and it's simpler

[2021-06-07 06:39] sandylaker commented on #2035
@sdesrozis Thank you for your explanation. I removed the if block and run with `srun python -m torch.distributed.launch  --nproc_per_node=4 --nnodes=1 script.py`, but got following error:
[code]

[2021-06-07 06:51] vfdev-5 commented on #2035
@sdesrozis, in this particular code, as I added notes in the code, idist is not aware of dist config until we define DIskSaver. And one_rank_only implicitly calls `_NativeDistModel._compute_nproc_per_node()` from `_NativeDistModel._init_from_context()`.
If we sync with `idist.sync()` then `_NativeDistModel._init_from_context()` is called by all procs and everything should be OK.

[2021-06-07 07:18] vfdev-5 commented on #2035
@sandylaker maybe you have to specify `torch.cuda.set_device(local_rank)` to make NCCL happy ?

[2021-06-07 07:26] sandylaker commented on #2035
@vfdev-5 I tried, but got the same error.

[2021-06-07 07:47] vfdev-5 commented on #2035
Well, it is very strange. Meanwhile you can try to use "gloo" as a backend.
Which pytorch version do you have ?

[2021-06-07 07:48] sandylaker commented on #2035
@vfdev-5 pytorch 1.8.1

[2021-06-07 07:56] vfdev-5 commented on #2035
@sandylaker which cuda version ?

I can not reproduce the issue with NCCL with my setup using 1.8.1 and cuda 11.1 and 2 GPUs.

[2021-06-07 08:00] sandylaker commented on #2035
CUDA 11.0

[2021-06-07 10:42] sdesrozis commented on #2035
Yes but the if clause in your example should freeze the code, shouldn't it ?

[2021-06-07 10:59] sdesrozis commented on #2035
`srun` is a launcher similar to `torch.launch.distributed`. The interaction between these two tools could be quite weird (but explainable). See for instance https://github.com/sdesrozis/why-ignite/tree/main/basics/1_torchdistributed#more-advanced--limited-compatibility-with-slurm

I don't know what is the default `srun` configuration. I suppose it's one node but maybe it could lead to this result

[2021-06-07 11:10] sandylaker commented on #2035
@sdesrozis So it is like this:
(a) `srun -N1 -n4 --ntasks_per_node=4`: job gets stucked in queue; (b) `srun -N4 -n4 --ntasks_per_node=1`: works for multi-node.

But as I said, I have sucessfully run programs written with naive pytorch distributed module. They worked well with both single-node and multi-node settings.

[2021-06-07 21:46] #2038 closed

[2021-06-07 21:46] #2040 closed

[2021-06-08 07:04] sdesrozis commented on #2035
@sandylaker I tried a few runs on the cluster of my company.

### 1 - using `srun` and `torch.launch.distributed` without `ignite.distributed.Parallel`

[script](https://github.com/sdesrozis/why-ignite/blob/main/basics/1_torchdistributed/helloworld.py), [README](https://github.com/sdesrozis/why-ignite/blob/main/basics/1_torchdistributed/README.md)

[code]
NOTE : I removed some mandatory options li