[2018-11-09 20:34] #251 closed

[2018-11-11 19:08] vfdev-5 opened #330 "Provide maskrcnn-benchmark trainer as example"
I think this will be a great use-case for ignite as a tool.
Especially, we can simplify some stuff and provide more features. For example:

- Replace [WarmupMultiStepLR](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/solver/lr_scheduler.py#L7) by our ConcatScheduler = some WarmupLR + MultiStepLR
- [Trainer](https://github.com/facebookresearch/maskrcnn-benchma

[2018-11-11 22:49] miguelvr commented on #330
Love the idea. I'm personally using the tool already so I am happy to help

[2018-11-12 02:29] Lyken17 opened #332 "[Discussion] Is it better to separate metric and meter?"
Hi there

While I am trying to write an ImageNet training scripts as [official pytorch imagenet](https://github.com/pytorch/examples/blob/master/imagenet/main.py), I found the `ignite.metrics.TopKCategoricalAccuracy` automatically averages the results, which makes it hard to get the accuracy of current feed-forward.
[code]

So I am thinking, is it better to separate `metric` and `meter`? The metri

[2018-11-12 07:46] miguelvr commented on #330
Sounds good to me! You mean a branch in their repo, right?

[2018-11-12 07:48] vfdev-5 commented on #330
@miguelvr I meant to create a branch here. At least at the first time before we prove that it becomes useful and then we can propose something to @fmassa

[2018-11-12 07:54] vfdev-5 commented on #332
@Lyken17 thanks for the feedback! If I understand correctly your problem is that you would like to compute top-k categorical accuracy at each iteration and display it somehow during the training ?

We had a similar issue #296 but we solved it only for outputs and not metrics.
Could you please provide more details on what you mean by metric/meter separation and how it is done in tnt ?

[2018-11-12 09:35] miguelvr commented on #330
So is the idea to create a clone folder and change it there?

[2018-11-12 09:37] vfdev-5 commented on #330
@miguelvr I think we could try to install maskrcnn-benchmark as library following their install suggestion and rewrite trainer, reusing all other parts...

[2018-11-12 09:40] miguelvr commented on #330
sounds good! let's do it

[2018-11-12 09:43] vfdev-5 commented on #330
Here is the [branch](https://github.com/pytorch/ignite/tree/maskrcnn-example)

[2018-11-12 17:31] vfdev-5 commented on #330
On which dataset would you like to work? For a smoke test, maybe we would better to use VOC12 ?

[2018-11-12 21:37] Lyken17 commented on #332
@vfdev-5 Here is an example code. Hope this will better explain my proposal

[code]

[2018-11-12 21:39] Lyken17 commented on #332
The class `Metric`, only measures the model performance of current feed sample.

The class `Meter`, handles update / sum / average  and other stuffs.

[2018-11-13 00:15] vfdev-5 commented on #332
Okay, thanks, I see better the separation you propose. Could you please explain how this separation could solve your initial problem with logging TopKAccuracy (during training) at each iteration ?

If you would like to have a running average of a metric, as in the example, we have [RunningAverage](https://github.com/pytorch/ignite/blob/master/ignite/metrics/running_average.py#L5).

cc @jasonkriss

[2018-11-13 09:35] miguelvr commented on #330
I'm not a big expert in Computer Vision, just started experimenting recently... I'm more of an NLP/Speech guy. Anything easy to iterate on would be good!

[2018-11-13 19:56] anmolsjoshi commented on #310
@vfdev-5 thanks for your response! I went through the [sklearn docs](https://scikit-learn.org/dev/modules/generated/sklearn.metrics.multilabel_confusion_matrix.html) and [code](https://github.com/scikit-learn/scikit-learn/blob/02dc9ed/sklearn/metrics/classification.py#L298) for their dev branch and have a path to move forward this.

It seems that for multilabel cases, this is how sklearn handles i

[2018-11-14 09:17] labor00 commented on #330
The maskrcnn example would be a excellent  opportunity to use the ignite library in a distributed setting.
The metrics function would necessity some small changes to perform reduction of parameters and lr schedulers like reduceOnPlateau that depends of some quantity that probably also  need to be reduced.

[2018-11-16 08:23] vfdev-5 opened #335 "Metrics general supplementary checking before `compute`"
As discussed [here](https://github.com/pytorch/ignite/pull/327#discussion_r233292051), the following assumption:

holds for any metric.
Today we check metric specific variable `_num_examples` if it's equal zero and raise exception if it is the case. This behaviour can be replaced directly in `Metric` by counting the number of `update` calls between `reset` and before `compute`.
An example implemen

[2018-11-16 14:42] zasdfgbnm commented on #335
Just one thing to mention, the above approach requires the subclass call `super(MyClass, self).__init__`, if forgot, then there will be no check.

Another approach to implement this is by metaclass metaprogramming. Let me think a while and try something to see if it works.

[2018-11-16 15:19] vfdev-5 commented on #335
@zasdfgbnm thank you, sounds good ! What do you think about to implement a decorator that counts number of calls of a function (or maybe take an existing implementation from somewhere) ?

[2018-11-16 16:19] zasdfgbnm commented on #335
@vfdev-5 The metaclass approach is here: https://github.com/pytorch/ignite/pull/336, it does not require subclass to explicitly call `super().__init__`.

[2018-11-16 16:20] zasdfgbnm commented on #335
Why counting, instead of just a boolean? I didn't get your point.

[2018-11-16 16:32] zasdfgbnm commented on #335
@vfdev-5 OK, I understand the point now... Decorator vs metaclass, which is the preferred way?

[2018-11-16 16:33] vfdev-5 commented on #335
@zasdfgbnm I would say the simplest without new dependencies :)

[2018-11-16 16:34] zasdfgbnm commented on #335
@vfdev-5 actually we can get rid of new dependency if we still want to set the metaclass of `Metric` to `ABCMeta`, the current way in https://github.com/pytorch/ignite/blob/master/ignite/metrics/metric.py#L19 only works for python2...

[2018-11-16 16:38] zasdfgbnm commented on #335
For decorator approach, don't we need to manually decorate all subclasses?

[2018-11-16 16:42] vfdev-5 commented on #335
@zasdfgbnm that's true that current implementation of Metrics does not work properly with `ABCMeta`

We can decorate `iteration_completed` and `completed` what already wraps `update` and `compute`.

[2018-11-16 16:45] zasdfgbnm opened #337 "Metaclass for Metric is not working on python3"
[code]

The above code should report an error, but on python3, it doesn't.

This is because the following way of setting metaclass is python2 only:

[code]

[2018-11-16 16:46] zasdfgbnm commented on #335
@vfdev-5 I opened a new issue for the metaclass problem: https://github.com/pytorch/ignite/issues/337

[2018-11-16 16:51] zasdfgbnm commented on #335
@vfdev-5 Hmm... if we decorate `iteration_completed` and `completed`, the we are assuming that metrics would only be used with `Engine`. If this is the case, since `Events.EPOCH_COMPLETED` will always be fired after `Events.EPOCH_STARTED` then `Events.ITERATION_COMPLETED`, so we are guaranteed to have `reset->update+->compute` behavior, there is nothing to check.

[2018-11-16 17:06] vfdev-5 commented on #335
@zasdfgbnm yes, in some sense `iteration_completed` and `completed` are tightly related to `Engine`. IMO, methods `update`, `compute` are "internal" API, maybe @jasonkriss has another opinion. I understand that we use it almost everywhere when we wrap around a metric instance, e.g. RunningAverage, MetricLambda etc.

I'm hesitating to introduce another class just to cover the logic `reset-> (update

[2018-11-16 17:15] zasdfgbnm commented on #335
@vfdev-5 Another thing in my mind that I haven't said anywhere yet was to extending the idea of https://github.com/pytorch/ignite/issues/321 to metaclass, I'm not sure if this is a good idea.

What in my mind was, add `__add__`, ` __mul__`, ` __div__`, etc. to that metaclass, so that we could simplify the implementation of may metrics

For example

[code]
Then we would have a class F2 implemented

[2018-11-18 21:33] vfdev-5 commented on #335
@zasdfgbnm the implementation you had in mind is similar to what you proposed using MetricsLambda ?
If not could please provide more details on the implementation of `__add__`, `__mul__` etc

[2018-11-18 23:32] zasdfgbnm commented on #335
@vfdev-5 It is a little bit similar, but for this the operands are classes like `Precision`, and the result are also class. The idea is, if `A` and `B` are classes for metrics, then `A + B` is another class for a new metric. Should be something like

[code]

[2018-11-18 23:50] vfdev-5 commented on #335
@zasdfgbnm I definitly like this approach more that with inceptions of `MapLambda`. So, now we have arithmetics + `reset-update-compute` logic that suggest to create a metaclass for metric. I would just make sure that `reset-update-compute` logic can't be done differently than you proposed in #336

[2018-11-20 00:54] #317 closed

[2018-11-20 01:07] jasonkriss commented on #332
@Lyken17 I think I understand the proposal but I'm not sure I completely understand the motivation. I think ignite's metric's are actually more or less the same thing as tnt's meter's. E.g. https://github.com/pytorch/tnt/blob/master/torchnet/meter/classerrormeter.py. I think we could add more higher average metric's like `RunningAverage` if people found that useful.

Can you give use a lil more ba

[2018-11-21 01:11] vfdev-5 commented on #289
@miguelvr any updates on this ?

[2018-11-21 01:17] vfdev-5 commented on #229
@elanmart any updates on this ?

[2018-11-21 03:49] zasdfgbnm commented on #335
@vfdev-5 Now I think metaclass seems not to be a very good approach of implementing `reset-update-compute` logic, because wrapping of `reset`, `update` and `compute` happens very early. If in `__init__` the `self.update`, etc. is replaced (which is not very uncommon) like in https://github.com/pytorch/ignite/blob/8db9d47dd3e5d6895d2a8751358ebc81b3e7b880/ignite/metrics/running_average.py#L50
the th

[2018-11-21 08:06] vfdev-5 commented on #335
@zasdfgbnm I see your point. Need to think more on it

[2018-11-21 08:16] elanmart commented on #229
So it turns out you cannot alter the stack trace object. You can only print the filtered version.

This doesnt matter in most cases, the only one where it matters is jupyter plugin for folding stacktraces, which would no longer work properly.

I have the branch with this, let me try to finish it this weekend.

[2018-11-21 23:17] vfdev-5 opened #340 "Terminate on Nan tests fail with pytorch-nightly"
https://travis-ci.org/vfdev-5/ignite/builds/458179313

[2018-11-22 17:14] #337 closed

[2018-11-23 14:56] #340 closed

[2018-11-26 09:33] sjzcv opened #345 "TypeError: 'no_grad' object is not callable with pytorch version 0.4"
please help, error below occurred when I try to import ignite

[2018-11-26 09:37] vfdev-5 commented on #345
@sjzcv which version of pytorch you are using ?

[2018-11-26 18:07] zasdfgbnm commented on #321
done

[2018-11-26 18:07] #321 closed

[2018-11-26 23:18] vfdev-5 commented on #345
@sjzcv close this issue. Feel free to reopen if any you encounter other problems related to import ignite.

[2018-11-26 23:18] #345 closed

[2018-11-27 03:58] anmolsjoshi commented on #330
@vfdev-5 any help wanted? would love to help out with this!

[2018-11-27 08:04] vfdev-5 commented on #330
@anmolsjoshi thanks for the proposition ! I think a great improvement for this example will be the usage of Tensorboard or Visdom. I put some code [here](https://github.com/pytorch/ignite/compare/maskrcnn-example...vfdev-5:maskrcnn-example?expand=1) to start training. Next I need to adapt the inference part and then I can send a PR into mask-rcnn branch, so you can tryout your TB handler implement

[2018-11-28 01:44] anmolsjoshi commented on #307
@vfdev-5 @jasonkriss is there a reason this is closed? not all metrics from this issue have been added to ignite.

[2018-11-28 13:07] anmolsjoshi commented on #307
@vfdev-5 is it okay to work on the metrics that save the entire history of training i.e. metrics that require calculation of median and average of the ground truth? as long as appropriate warnings are included in the docstring?

[2018-11-29 00:15] vfdev-5 opened #348 "Bug in binary precision"
Basic tests of binary precision seem to fail:
[code]

@jasonkriss could you please confirm this ?

EDIT: Another failing test: https://github.com/pytorch/ignite/pull/333#issuecomment-442643530

Probably, the error is at binary to categorical mapping and counting class-0 similarly to class-1. But in binary case we should ignore class-0.

There is also input "binary or categorical" checking is missi

[2018-11-29 00:34] anmolsjoshi commented on #348
@vfdev-5 this might be happening because we map binary into categorical thus creating precision for 2 classes and then average it.

If we treat binary as just once class and round it, we should get the same answer.

The reason we’re different answers is because of ignite treats it as 2 classes while sklearn treats it as 1 class.

Works on my local machine. Will try with all the binary tests.

[2018-11-29 00:37] vfdev-5 commented on #348
@anmolsjoshi I thought to add an attribute like this:
[code]

[2018-11-29 00:40] vfdev-5 commented on #348
@anmolsjoshi IMO we should fix this bug in priority before merging multilabel case.
And we need to add more strong tests.

[2018-11-29 06:07] anmolsjoshi commented on #348
@vfdev-5 I agree that we should correct this bug.

What are your thoughts on splitting the Metric (Accuracy, Precision and Recall) as shown below:

- Have a _check_output function that decides whether the problem is binary, multiclass, multilabel. The output of this function is y_pred, y, type. Type can be determined by shape.

- In the case of binary or multilabel, make threshold_function (initia

[2018-11-29 06:44] anmolsjoshi commented on #348
@vfdev-5 see code below

[code]

[2018-11-29 07:47] vfdev-5 commented on #348
@anmolsjoshi if we unify all cases, we should make sure that the implementation is bullet-proof, all tricky cases are covered when user tries to mix types: binary, categorial, multilabel in updates during the same computation session. IMO, it becomes very difficult to follow the implementation.

[2018-11-29 17:43] anmolsjoshi commented on #348
@vfdev-5 I agree with your implementation. I'll incorporate it into the current PR #333 and update the binary tests accordingly for Precision and Recall i.e. not map y_pred to 2 classes when using sklearn.

Maybe in the future we can think of a more a sophisticated approach to unify all cases.

[2018-11-29 23:43] liuxindazz opened #350 "how to use the custom loss?"
In pytorch, I can define my loss like:
[code]
In ignite, I find that loss is using  F.lossfunction(torch.nn loss function). So I'm confused whether I could define a custom loss function, and if I could, how to do it?

[2018-11-29 23:47] vfdev-5 commented on #350
@liuxindazz there is no restriction on loss function that can be used in ignite. For example,
[code]

[2018-11-29 23:59] liuxindazz commented on #350
Thank you for the reply, I got a little bit mixed up just now.
It's clear that how to use it.

[2018-11-29 23:59] #350 closed

[2018-12-01 19:45] vfdev-5 commented on #226
Here is an example implementation what I'm talking about:
[code]
what gives:
[code]

[2018-12-01 23:18] vfdev-5 commented on #306
Updates:
Conda nightly packages:
https://anaconda.org/pytorch/ignite-nightly/
PyPI nightly packages:
https://pypi.org/project/pytorch-ignite-nightly/

[2018-12-02 01:59] zasdfgbnm commented on #306
Thanks a lot!

[2018-12-04 02:17] liuxindazz opened #353 "questions for using multiple outputs"
Question 1:
In pytorch, my model is just
`output1, output2 = model(inputs)`
`loss = criterion['1'](output1, labels)+criterion['2'](output2, labels)`

How should I do if I want to use ignite?
I wrote the code like this:
`criterion={'1':loss1, '2':loss2}`
`trainer = create_supervised_trainer(model, optimizer, criterion, device=device)`
but got the type error:` 'dict' object is not callable.`

Questi

[2018-12-04 08:10] vfdev-5 commented on #353
@liuxindazz

There are two ways to do this:

#### Using `create_supervised_trainer`
Criterion should be callable, so you can implement a callable that computes the loss as you described:

[code]

#### Without `create_supervised_trainer`

In this case you have more flexibilty and you can better control model update step. So you need to implement your own processing function (see details [here](http

[2018-12-05 02:09] liuxindazz commented on #353
@vfdev-5 Thanks, it's a great help to me.

[2018-12-05 02:09] #353 closed

[2018-12-06 16:36] vfdev-5 commented on #306
To close this one, we need to improve the following part
https://github.com/pytorch/ignite/blob/e3299b6c03e9b7f15cf294fa2b378116628ca951/.travis.yml#L174-L182

The problem is that `git push` did not update `nightly` branch on the github.

[2018-12-06 17:03] alykhantejani commented on #348
Once this is merged we should probably cut a release. I think for bugfixes we should release often, just to avoid anyone running for too long with a buggy version

[2018-12-06 19:27] willfrey opened #355 "Use collections.abc in ProgressBar instead of checking isinstance() against list or dict"
Expecting a `list` or `dict` is overly restrictive when we really just need a sequence or mapping. I have a patch that checks against `collections.abc.Sequence` instead of `list` and `collections.abc.Mapping` instead of `dict`. This will work for both Python 3 and 2.7.

If you're cool with this change, I'll submit a PR for the patch.

Thanks.

[2018-12-06 20:36] jasonkriss commented on #355
@willfrey 👍PR would be great!

[2018-12-06 21:34] vfdev-5 commented on #355
@willfrey @jasonkriss could you please explain me with an example why this is important to use sequence and mapping ?

[2018-12-07 07:32] vfdev-5 commented on #348
@alykhantejani, so new release version will be `0.1.2` or `0.1.1post1` ?
If `0.1.2` then we need also to remove `BinaryAccuracy`, `CategoricalAccuracy` as mentioned in warnings

[2018-12-07 10:50] pkdogcom opened #357 "Potential issues in Metric for empty tensor"
I encountered an issue when my output_transform given to Metric perform certain filtering (e.g. when dealing with multi-dataset training and want to have separate metrics for different datasets) and the transformed (filtered) output happen to be empty. In this case metric like Accuracy will raise error because of unsqueezing empty tensor.

I think the base Metric class may need to perform a quick

[2018-12-07 11:32] vfdev-5 commented on #357
@pkdogcom thanks for your feedback! I have doubt on what you call multi-dataset trainin, could you please detail this.
I see your point on filtering data during metrics computing but I'm not sure that this would be a correct lib usage.

[2018-12-07 12:31] alykhantejani commented on #348
So we could follow the pytorch path here. `0.2` can contain the backwards incompatible changes and this can be `0.1.2`, we can switch the warning message to say `0.2` and all the current tickets assigned to `0.1.2` we can just move to `0.2` and that can be the next release (pending no further bug fixes).

wdyt?

[2018-12-07 12:35] ntoxeg opened #358 "EpochLambda class for easily plugging in metrics"
Basically something like `ROC_AUC` in contrib but such that you just plug a function that takes predictions and labels, returning a metric.

I wrote that to myself to reduce boilerplate so if you think it makes sense to include something like that upstream, then I'll add tests for it and submit a PR.

[2018-12-07 12:36] alykhantejani commented on #355
@willfrey do you have a use case where you would use a collection other than dict or list here?

I've left a comment in the PR, but the current implementation of using Sequence is too loose

[2018-12-07 13:01] vfdev-5 commented on #358
@ntoxeg could you please detail how this would be different of `EpochMetric` . if you could provide some code here, would be helpful.

[2018-12-07 17:22] ntoxeg commented on #358
After thinking more about this, it is perhaps true that this would not be different enough from `EpochMetric`. `ROC_AUC` is a very simple derived class from `EpochMetric` too though. Would it be better if I just wrote some explicit wrappers for metrics from Scikit-learn that I'd like included?

[2018-12-07 18:03] vfdev-5 commented on #358
@ntoxeg what kind of wrappings you are thinking ?

[2018-12-07 22:01] vfdev-5 commented on #348
@alykhantejani sounds good, let's do it like you propose

[2018-12-08 00:53] zasdfgbnm commented on #306
@vfdev-5 Hmm... Actually I don't know. Shouldn't there be users that always use nightly pytorch, no matter whether it is 1.0 or 1.1 or something else?

[2018-12-09 07:16] pkdogcom commented on #357
For example, I may want to train a single multi-task model (with shared conv feature extractor and multiple output heads) which perform two different types of classification, say classifying a person's gender as well as types of clothes they are wearing, while each of the task can be trained by a dedicated dataset.
Since each dataset only contains label for one task, during back-propagation as wel

[2018-12-09 10:39] vfdev-5 commented on #357
@pkdogcom I see better your problem. There are probably at least two solutions for this.
The first one, as your problem is rather specific, you can use a sort of wrapper over `Metric` class as `RunningAverage` to filter out empty output :
[code]

The second way is to split model into two model with shared features, setup the multi-task dataset as `(x_gender, x_clothes), (y_gender, y_clothes) = bat

[2018-12-10 14:03] willfrey commented on #355
I found myself passing sequences such as `dict_keys` or tuples and got to thinking that the precondition requiring that `metric_names` be a `list` was too strong. I sought to make this a little more Pythonic by loosening the preconditions to only require the sequence or mapping protocols, but I see now that those protocols are too weak as preconditions.

An alternative approach would be to just do

[2018-12-10 16:10] vfdev-5 commented on #355
@willfrey maybe instead of calling `d.keys()` you can use `list(d)` or `list(d.keys())` as `d.keys()` is an iterator. As argument of `metric_names` we need something more "determinist" :)
But I agree that we need to change the check if list by check if list/tuple.

[2018-12-10 17:49] willfrey commented on #355
That's exactly what I've been doing. I was just seeking to hide a little more of the information inside the implementation rather than having to always cast everything to a list.

Sounds like this isn't too popular or isn't the right time to make this sort of change, so feel free to close this. Otherwise I'm open to more discussion!

[2018-12-10 18:31] vfdev-5 commented on #355
@willfrey personnally I'm not against such change if it makes code more simple and it covers some cases.

**PS:**
[code]

[2018-12-10 18:53] willfrey commented on #355
My mistake! Objects of type `dict_keys` should be an `Iterable`.

[code]
I think for `metric_names` we want `Iterable[str]` but we have the problem of the fact that just ` str` would be valid for this. Do we want to have some convention for accepting strings? The convention used for `collections.namedtuple` and `enum.Enum` is to accept strings that are whitespace/comma-delimited. I think `pytest`

[2018-12-11 17:24] asdspal opened #361 "Adding weights to loss function in case of imbalaced dataset"
How can I add weight to the loss function in case of imbalanced dataset?

[2018-12-11 22:24] zasdfgbnm commented on #306
@vfdev-5 I don't understand why do we need a separate nightly branch. Could it be something like this? https://github.com/pytorch/ignite/pull/363
I don't know travis well, so my this question might be stupid...

[2018-12-11 22:30] zasdfgbnm commented on #306
@vfdev-5 Thanks. So could we also do the merge with master operation on the cron job?

[2018-12-11 22:31] vfdev-5 commented on #306
However I agree that all stuff with `git merge, push` is a non-sense. I failed to test everything until the end. The problem is with push stuff that will trigger another build/upload etc and loop...

[2018-12-11 22:33] vfdev-5 commented on #306
Maybe we could setup CRON on master, probably there is a env variable to verify whether it is a CRON build and we should deploy or it is a simple merge and we do not need to deploy

[2018-12-11 22:39] zasdfgbnm commented on #306
It is possible to test if in cron:
https://docs.travis-ci.com/user/conditions-v1#integration

For the versioning, I am not sure if I get your point. Is it possible that, we use cron on master to push to nightly (and trigger a commit build on nightly branch), and use commit's build on nightly to deploy?

[2018-12-11 22:48] vfdev-5 commented on #306
I think this is a good idea ! Maybe we can think more about this. The problem is that in this case there tests execution two times instead of a single execution.

I thought you would like to remove `nightly` branch.

[2018-12-11 22:52] zasdfgbnm commented on #306
If the cron is per day, then one extra execution per day would not be a big problem. Otherwise, can we just add `if: branch = master` to all tests?

[2018-12-11 22:53] vfdev-5 commented on #306
There is a problem with that when tests are defined as it is done in our travis and not as a proper stage...

[2018-12-11 22:55] zasdfgbnm commented on #306
So maybe just keep the duplicate test there? It shouldn't be wrong.

[2018-12-11 22:58] vfdev-5 commented on #306
Otherwise I thought about making `nightly` branch as `gt-pages` without common origin to master and put there only `nightly` folder and its own travis file and execute `git clone` master and then deploy....

[2018-12-11 23:05] zasdfgbnm commented on #306
Can we do something like this? https://github.com/pytorch/ignite/pull/364

[2018-12-12 08:45] asdspal commented on #361
Thanks for replying. Normally, I would define my weighted loss as:
`weights =  torch.tensor([1,10])`
`loss = torch.nn.BCEWithLogitsLoss(true, output, weight=weights[true])`

The size of the weight should be equal to batch_size. I need the true labels for the weights.
How do I do that?

[2018-12-12 10:02] vfdev-5 commented on #361
@asdspal there are several ways achieve this:
1) If you use `create_supervised*` methods to construct a trainer, idea is to compute the sample weights in dataloader
[code]
2) Second method may be more more verbose but allows to fully control model updating step
[code]

HTH

[2018-12-12 13:13] asdspal commented on #361
Many thanks for clearing this up for me. I have gone with approach one and it's working.

[2018-12-12 13:18] vfdev-5 commented on #361
Okay, I'm closing this issue as problem is solved, feel free to reopen it if you have more questions on this problem.

[2018-12-12 13:18] #361 closed

[2018-12-13 14:54] vfdev-5 opened #367 "Add some notebooks in examples"

[2018-12-13 17:27] anmolsjoshi opened #368 "Adding Dice Coefficient Metric for Image Segmentation"
I wanted to implement Dice Coefficient as a metric for image segmentation problems. any interest?

[2018-12-13 17:40] vfdev-5 commented on #367
@anmolsjoshi I think the idea is to provide some basics of ignite in notebook such that user understands how to play with. If your implementation is not too heavy with translation part vs ignite part this can be interesting.

[2018-12-13 17:40] vfdev-5 commented on #368
@anmolsjoshi yes, please send a PR

[2018-12-13 18:18] anmolsjoshi commented on #368
@vfdev-5 thanks. i'll add it to ignite.contrib.metrics

[2018-12-13 22:13] #348 closed

[2018-12-14 08:09] vfdev-5 opened #369 "Update README"
I think we need to update our README.rst for 0.2.0 release in order to better present `contrib` module (e.g. `contrib.metrics.regression` module)

[2018-12-14 12:42] furkan-kucuk opened #370 "Passing a parameter to model's forward pass on an event"
First of all, I'd like to thank you for that great library.

However, I couldn't achieve a solution of my problem. I should use a different approach during the training stage and the evaluation stage. In PyTorch I could do this like this:

[code]

How can I achieve this using Ignite library?

[2018-12-14 12:44] miguelvr commented on #370
you don't have to have that argument at all.

Each module has a `self.training` parameter that is set by `model.train()` and `model.eval()`

[2018-12-14 12:49] vfdev-5 commented on #370
@furkan-kucuk please take a look at the [quickstart](https://pytorch.org/ignite/quickstart.html). For more details you can consult the implementations of [`create_supervised_trainer`](https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L16) and [`create_supervised_evaluator`](https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L52).

[2018-12-14 12:57] vfdev-5 opened #371 "Improve Quickstart"
We need to improve official [Quickstart](https://pytorch.org/ignite/quickstart.html) documentation:

- Empty link on ignite modules that are empty, for example:
  - create_supervised_trainer()
  - create_supervised_evaluator()
  - Engine
  - add_event_handler()
  - on()
- Typos

[2018-12-14 13:07] furkan-kucuk commented on #370
Thanks for the tremendous and fastest answer ever! You totally solved my problem!

[2018-12-14 13:07] furkan-kucuk commented on #370
Thank you for fast answer. I really admire your work and thankful for it!

[2018-12-14 14:10] miguelvr commented on #370
@furkan-kucuk you're welcome.

[2018-12-14 15:01] vfdev-5 commented on #289
@miguelvr I tried to implement this one by myself. Seems to be not a trivial one without changing the API and keeping all simple

[2018-12-14 15:04] vfdev-5 commented on #289
I was also thought about how to itegrate this one with [this feature](https://github.com/pytorch/ignite/pull/351): to support custom events

[2018-12-14 15:30] furkan-kucuk commented on #371
I would be glad to help as soon as I gain some more insight about the library.

[2018-12-14 20:50] vfdev-5 commented on #370
I'll close the issue as it was solved. Feel free to reopen if you needed more precisions on this question

[2018-12-14 20:50] #370 closed

[2018-12-14 23:20] eifuentes opened #372 "Support PyTorch 1.0 JIT Features"
Specifically, in `create_supervised_trainer` and `create_supervised_evaluator` it would be great if an attempt was made to optimize the passed model via the `trace` operation on the users behalf.

[2018-12-14 23:38] vfdev-5 commented on #372
@eifuentes thanks for the feedback. Could you please more detail your idea about `trace` ?

Both methods uses model as is, at most `.to(device)` is applied on the model. If user would like to use a model created by `torch.trace(model, z)`, there is no restriction on this.

For more details you can consult the implementations of [`create_supervised_trainer`](https://github.com/pytorch/ignite/blob/m

[2018-12-14 23:43] vfdev-5 opened #373 "Issue with traced models"
If user passes a traced model into `create_supervised*` methods and specifies a device, there will be the following error:
[code]

We need to check if model have the method `.to`...

[2018-12-17 07:42] vfdev-5 commented on #373
Probably, we should wait until [this PR](https://github.com/pytorch/pytorch/issues/6008) is done.

[2018-12-18 09:15] vfdev-5 commented on #306
A link to keep it here: https://github.com/pytorch/pytorch/blob/master/tools/aten_mirror.sh
May help to keep nightly branch update to master...

[2018-12-20 12:01] willprice opened #375 "Advice on gradient clipping"
Using `ignite.engine.create_supervised_trainer` I'm unable to clip my gradients as this falls between the steps:
[code]
There are no event's fired between these two pieces of code. Gradient clipping and other manipulation techniques are quite common. It'd be nice if Ignite supported these. Is there a recommended way of doing this? Or is it just a case of constructing my own `Engine` with a process

[2018-12-20 12:17] vfdev-5 commented on #375
@willprice thanks for the feedback!

Concering your problem we advise (see [Concepts](https://pytorch.org/ignite/concepts.html)) to use directly `Engine` with custom `process_fn` without complicating the system with custom events.
Methods like `create_supervised_trainer` are just helper methods for a basic usage.

HTH

[2018-12-20 12:17] willprice commented on #375
Hi @vfdev-5,
Thanks for the quick response and advice, makes sense!

[2018-12-20 12:17] #375 closed

[2018-12-21 10:17] TheCodez commented on #373
Do you mean only executing the test if on the nightly, or check if it throws a `RuntimeError` if not on the nightly?

[2018-12-21 10:18] vfdev-5 commented on #373
@TheCodez yes something like this.

[2018-12-21 16:13] ahdeabi opened #376 "execuse me"
Execuse me , i do not know why my two twitter account were suspended, I am Chinese,my country forbidden us send message via twitter due to
Policy factors. I want to make friends with all over the world and learn a lot of Penetration Testing skills. I apologize to you for the before behavior.
I would appreciate it if you help me recover my account   username 1:@water_send  username2:@KedrovaDasha

[2018-12-21 16:20] #376 closed

[2018-12-21 16:20] vfdev-5 commented on #376
@ahdeabi unfortunately we can not help you with that

[2018-12-22 17:14] Daiver opened #377 "DCGAN Example pickle exception"
First of all i'm sorry for my poor English
I just tried to run dcgan example and faced with following exception:

[code]
I'm pretty sure this is due this line ` to_rgb = transforms.Lambda(lambda img: img.convert('RGB'))`. (i commented this and example failed with channels mismatch error)
Unfortunately i'm not very good with Python/Torch/Ignite so i have no idea why this example attempts to pickle

[2018-12-22 17:30] vfdev-5 commented on #377
@Daiver thanks for the feedback! Maybe the problem you have is related to your OS (Windows).
You can try to replace the lambda by defining a function:
[code]

[2018-12-22 18:01] Daiver commented on #377
@vfdev-5 thank you for answer!
Replacing by function helps me, at least training starts. Should i close the issue?

[2018-12-22 18:06] vfdev-5 commented on #377
@Daiver glad that it helps !

Let's leave it open. I think we need to modify DCGAN example such that we can run it on any platform: Win, LInux, OSX.

And if you would like to contribute, PRs are welcome :)
See [contributing](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md) for more info.

[2018-12-23 17:55] TheCodez commented on #373
@vfdev-5 which `torch.__version__` to check for nightly?

[2018-12-23 17:57] vfdev-5 commented on #373
@TheCodez you can do it like this:
[code]

[2018-12-23 20:12] #373 closed

[2018-12-24 13:56] vfdev-5 opened #379 "Issue with metric arithmetics"
I'm trying to define my metric as
[code]
and I got the following error:
[code]
But I can define
[code]

cc @zasdfgbnm

[2018-12-25 15:13] zasdfgbnm commented on #379
Ahh, I didn't know about `__radd__` and `__rsub__`

[2018-12-25 16:33] vfdev-5 opened #381 "Improve MetricLambda implementation"
User can get the following output in the `state.metrics`:
[code]
when launch the below code:
[code]

This is due to

https://github.com/pytorch/ignite/blob/d9820451da779e0d0c393804db381e5483240b1c/ignite/metrics/metrics_lambda.py#L50-L54

and

https://github.com/pytorch/ignite/blob/d9820451da779e0d0c393804db381e5483240b1c/ignite/metrics/metric.py#L68

IMO, user is not interested of this internal i

[2018-12-27 17:36] vfdev-5 opened #387 "Custom configuration how/where to save the best model with ModelCheckpoint"
In case when user would like to integrate `ModelCheckpoint` with a package for experiment tracking, e.g. mlflow, polyaxon, etc.
In such case logging, model weights etc can be stored on a cloud storage, e.g.
[code]
Be default `ModelCheckpoint` is saving the model to the provided path `dirname`.
Idea is to provide a flexibility to execute a custom code when model is saved and be eable to store every

[2018-12-30 05:36] NeelMishra commented on #367
Hey, I would love to work on this issue. I can make some jupyter notebook examples.

[2018-12-31 09:12] sjzcv opened #388 "It would be better to make process_function as argument of run instead of the constructor"
In some situation, we'd like to train model in multiple phase with different process function! Current interface design we have to create different trainer, and install the handlers at each trainer.   I suggest to make the process_function as an argument of run instead of the constructor, that we can train as below:

[code]

[2018-12-31 14:04] vfdev-5 commented on #388
@sjzcv thanks for the feedback!
We've already thought about a similar proposition, but IMO an engine does not make sense without `process_function `.

Concerning your usecase, there several options possible to handle this more efficiently:
1) change manually the internal function: `engine._process_function = new_function`
2) factorize into a function the commands to add your handlers and reapply i

[2018-12-31 14:24] TheCodez opened #389 "Make ignite utils public"
When using a dataset which returns a tuple of more than 2 values, you have to implement your own `_prepare_batch` function. Let's say we're using this function:

[code]

As in the original `_prepare_batch` function used in `create_supervised_trainer` we're using the `convert_tensor` function. This function is located in `_utils.py` resulting in a protected member access warning. This file has some

[2019-01-01 03:02] sjzcv commented on #388
@vfdev-5 Thanks for the kindly reply!
The options will definitely work.

And yes, in the perspective of OOP, `Engine` should  have a `process_function` to make sense. But I tend to regard the `Engine` as a loop driver and Events manager which would be better to be task(`process_function`) independent, and it still make sense.

And if we make the `process_function` as an argument of `run`, we can d

[2019-01-01 17:00] vfdev-5 commented on #389
@TheCodez I agree. We need to think how to play with backward compatibility at least for other minor releases (if we do any) and just rename `_utils.py` by `utils.py` since `0.2.0`

@alykhantejani @jasonkriss what do you think ?

[2019-01-01 18:15] vfdev-5 commented on #367
@NeelMishra yes please go ahead and send a PR. I think everybody can contribute on this issue.

Something like [this](https://www.kaggle.com/vfdev5/pytorch-and-ignite-on-fruits-360) can be a good start.

[2019-01-01 18:49] vfdev-5 commented on #388
@sjzcv I see your point. Yes, we can see `Engine` as a sort of loop driver, but there is also currently the way we use engines as trainers and evaluators :
[code]
and in your proposition user have to keep trace of `process_function` when setting up the above handler...

Anyway, we go further with what you propose and see afterwards the utility. In this case I propose you to implement it as a new e

[2019-01-02 12:46] amitibo commented on #389
I suggest making `_prepare_batch` more general like:
[code]

[2019-01-03 20:41] labor00 commented on #387
I have been using a hackish solution for this problem. A lambda function at the end of the function _internal_save() that receives the path to the saved file.
 This work fine to use with the mlflow.log_artifact function that expects a file. However I few that this approach is somewhat hackish. Maybe a better approach would be to use handles to attach "output targets".

[2019-01-04 03:50] anmolsjoshi opened #391 "TQDM Progress Bar in Notebook"
I was thinking we should update the TQDM progress bar depending on whether we're running the code in console or jupyter notebook.

* Here is a [stackoverflow post](https://stackoverflow.com/a/39662359) on how to detect that
* In tqdm_logger, we could use that function to import tqdm_notebook or tqdm.
* Have two ProgressBar implementations and use the output of the function in bullet 1 to import th

[2019-01-04 12:55] vfdev-5 commented on #391
@anmolsjoshi thanks for the proposition.
Console version seems to work in jupyter notebook too... Could you please explain what we could improve by using tqdm notebook instead of plain tqdm?
It seems to me tqdm notebook needs a plugin for jupyter notebook?

[2019-01-04 15:49] anmolsjoshi commented on #391
@vfdev-5 you are correct, a jupyter notebook extension is required to complete this. Its just that the tqdm_notebook version is cleaner in Jupyter as compared to regular tqdm, functionality is not any different.

We can close this issue.

[2019-01-04 19:23] #381 closed

[2019-01-04 22:53] #310 closed

[2019-01-07 15:27] EtienneDesticourt opened #393 "Improve State documentation"
Hi,

I think the documentation of states and the way they're used by engines is not detailed enough.
Currently the only way to know what attributes are available in the default State object, used by the engines generated by convenience methods such as `create_supervised_trainer`, is to look at the source code.
Some of them are mentioned in the [Concept](https://pytorch.org/ignite/concepts.html#sta

[2019-01-07 22:42] vfdev-5 commented on #393
@EtienneDesticourt thanks for a great feedback. I agree that the docs on `State` may seem unclear.
If you would like to improve it, please, send a PR. We are really appreciate community contributions !

Generally, `process_function` is defined by user when it is inserted to `Engine`. Probably, it is unclear that `engine.state.output` will contain the output of `process_function`, see [Concepts](ht

[2019-01-08 17:45] NeelMishra commented on #367
So sorry for the delay, I will start working on it right on.

[2019-01-08 19:17] anmolsjoshi commented on #367
@vfdev-5 this might be a dumb question. do we need smoke tests for jupyter notebooks?

[2019-01-08 19:30] vfdev-5 commented on #367
@anmolsjoshi I think no. If we would like to do this more neat we could insert the notebooks into the doc as it is done for pytorch tutorials: https://github.com/pytorch/tutorials
but it is necessary.

[2019-01-10 22:43] #371 closed

[2019-01-11 03:46] anmolsjoshi commented on #368
@vfdev-5 were you thinking a binary or categorical implementation for this?

I've mainly seen binary implementations only, but a few blog posts mention categorical.

[2019-01-11 08:57] vfdev-5 commented on #368
@anmolsjoshi maybe it would be more interesting to implement [Tversky index](https://en.wikipedia.org/wiki/Tversky_index) - generalization of Dice and Jaccard.
Categorial index makes sens too, we can tryout to implement both :)

[2019-01-11 21:41] anmolsjoshi commented on #389
@vfdev-5 any reason #396 was closed?

[2019-01-11 21:53] vfdev-5 commented on #389
@anmolsjoshi thanks! my bad, I deleted fork's branch and that closed the PR. I thought we've merged it.

[2019-01-11 22:18] anmolsjoshi commented on #369
@vfdev-5 the picture in README should be updated. Currently shows BinaryAccuracy.

[2019-01-11 22:39] #389 closed

[2019-01-11 22:41] vfdev-5 commented on #369
There is also a typo with event name `Events.ITERATION_COMPLETE` :)
To generate the image we can use follow the info from [here](https://github.com/pytorch/ignite/wiki/Maintainer-Notes#side-by-side-code-compare)

[2019-01-11 23:02] anmolsjoshi commented on #369
I can work on that later today. What exactly did you want added for the regression module?

[2019-01-11 23:20] vfdev-5 commented on #369
Idea is to make README more friendly to start with and understand the package.
Some propositions:
- Add a section between Documentation and Examples and tell more about global structure:
  - core package `ignite`
  - contrib package with more features
     - regression module with more than ten various metrics

- Remove "How does this compare to Torchnet?" or put somewhere in wiki.

cc @alykhantej

[2019-01-15 15:03] #393 closed

[2019-01-16 10:19] vfdev-5 commented on #377
@anmolsjoshi the 2nd choice looks good. However I would like to ensure that this really solves the problem...

[2019-01-16 14:41] anmolsjoshi commented on #377
@vfdev-5 just wanted to clarify, aligning it closer to the Pytorch example would also remove to_rgb that is used in MNIST. I'll try tonight and report back.

[2019-01-16 15:37] vfdev-5 commented on #377
@anmolsjoshi yes, you can introduce a parameter as `nc`:

https://github.com/pytorch/examples/blob/0d3fe14a1c5a00795e3671ea3473caef6f0da72d/dcgan/main.py#L82-L89

Sounds good

[2019-01-16 23:11] #377 closed

[2019-01-17 06:52] devforfu opened #402 "Probably a typo in the documentation?"
There is the following fragment in the [docs on `EarlyStopping` handler](https://pytorch.org/ignite/handlers.html#ignite.handlers.EarlyStopping):
[code]
I am not sure why do we attach this handler to the `COMPLETED` event. This event is fired at the end training process, right? So I would expect to perform `EarlyStopping` checks at the end of an _epoch_, not the whole training process. Could it be

[2019-01-17 07:57] vfdev-5 commented on #402
@devforfu no this is not a typo. Actually, similar question was already asked several times previously and we modified the documentation with thr note:
[code]
Please, read more attentively the example.
Early stopping handler consumes a trainer, but attached to an evaluator.

[2019-01-17 08:49] devforfu commented on #402
Oh, ok, makes sense

[2019-01-17 08:49] #402 closed

[2019-01-19 05:56] #369 closed

[2019-01-21 14:16] devforfu commented on #252
Is this question still under discussion? Would be great to have a progress bar handler.

[2019-01-21 15:20] vfdev-5 opened #404 "Remove `activation` argument from AveragePrecision and ROC_AUC"
I propose to remove `activation` argument from `AveragePrecision` and `ROC_AUC`:
https://github.com/pytorch/ignite/blob/862ab0073e461a32bf5b53fa015f88c143ae9079/ignite/contrib/metrics/roc_auc.py#L23-L28
to be coherent with `Accuracy` et friends and the usage of `output_transform` to apply the binarization/activation :
https://github.com/pytorch/ignite/blob/862ab0073e461a32bf5b53fa015f88c143ae9079/

[2019-01-21 18:40] fabianschilling opened #406 "ModelCheckpoint parameter `save_as_state_dict` should default to True"
Given that the recommended way to save model checkpoints is to only serialize the `state_dict` rather than the whole object (see https://pytorch.org/docs/stable/notes/serialization.html), shouldn't `save_as_state_dict` in `ModelCheckpoint` default to `True`?

Maybe I'm nitpicking but I think this would be a better default.

Here's the line: https://github.com/pytorch/ignite/blob/862ab0073e461a32bf

[2019-01-21 19:08] vfdev-5 commented on #406
@fabianschilling I agree, thanks for the feedback. We kept it equal False because of backward compatibility to the previous versions. I think since 0.2.0 we can set it to be True by default.
If you would like send a PR with a change, please do no hesitate.

[2019-01-21 23:42] anmolsjoshi commented on #404
@vfdev-5 I agree, this would better aligned with the other metrics. Is it ok if I work on this issue?

[2019-01-21 23:45] vfdev-5 commented on #404
@anmolsjoshi yes go ahead, it is not yet assigned.

[2019-01-23 02:40] anmolsjoshi opened #409 "Bug in recursive attach of MetricsLambda"
As a result of #385, the recursive attach of MetricsLambda is not working as intended.

The code below throws this error: `NotComputableError: Accuracy must have at least one example before it can be computed.`

[code]

cc @vfdev-5 @amitibo

[2019-01-23 21:02] vfdev-5 commented on #367
@anmolsjoshi @NeelMishra any advances on this ?

[2019-01-23 21:04] anmolsjoshi commented on #367
@vfdev-5 just finished two notebooks, working on one more, will push tonight.

[2019-01-23 22:12] vfdev-5 opened #411 "Bug in multiclass case with Precision and Recall"
In case when `y_pred` contains less classes then `y_true`, we should raise `ValueError`:
[code]
Actually, above code raises an error in `to_onehot`:
[code]

[2019-01-24 00:12] #404 closed

[2019-01-24 03:07] #307 closed

[2019-01-24 06:07] vfdev-5 commented on #367
@anmolsjoshi maybe we could split this into several PRs to simplify the review ?

[2019-01-24 06:10] anmolsjoshi commented on #367
@vfdev-5 yes that was the plan, i'll send in a PR shortly.

[2019-01-24 08:20] vfdev-5 opened #414 "Add helper ops for metrics arithmetics"
Following the discussion from [here](https://github.com/pytorch/ignite/pull/410#issuecomment-457105415)

[code]

[code]

Idea is to provide some helper classes like `Mean`, `Sum` and others.

cc @amitibo

[2019-01-24 17:44] #409 closed

[2019-01-24 17:59] #411 closed

[2019-01-25 14:57] NeelMishra commented on #367
Hi, I have a similar approach, but it will be slower due to final exams next week. I am working on that fashion MNIST in ignite, and simpler stuffs like basic NN. I want to follow the trickle approach for pull request's, and I don't want to delay the development. So if urgent, please feel free to assign someone else as I will submit a PR after next week.

Also, I will be referring the above notebo

[2019-01-26 15:10] #406 closed

[2019-01-30 17:00] lmarti opened #419 "add gradient clipping to `create_supervised_trainer()`"
It would be good to add gradient clipping to the trainers created by `create_supervised_trainer`. This is already provided by `torch.nn.utils.clip_grad_norm_`.

One possible implementation could be:

[code]

[2019-01-30 17:37] vfdev-5 commented on #419
@lmarti thanks for the feedback. We discussed a similar question in #375.
Methods like `create_supervised_trainer` are just helper methods for a basic usage.
We can discuss whether such trainer could be useful and placed in `contrib.engines` module.

[2019-01-30 17:54] lmarti commented on #419
Sorry, I missed that one. I had the same doubts w.r.t. moving it to `contrib.engines`. My point against doing it is that the code would be so similar to the one in `create_supervised_trainer`. In any case, you are driving here.

[2019-01-31 14:50] vfdev-5 opened #421 "Fix new flake8 error"
Impacts `master`
https://travis-ci.org/pytorch/ignite/jobs/486833029#L466
[code]

and `nightly`
https://travis-ci.org/pytorch/ignite/jobs/486949548#L452

[2019-01-31 16:49] anmolsjoshi commented on #421
Fixed via latest commit in #420

Lines were actually over indented.

[2019-01-31 16:55] anmolsjoshi commented on #421
@vfdev-5 sending in a PR for this.

[2019-01-31 23:10] #421 closed

[2019-02-01 15:08] AntoinePrv commented on #419
A general way to maintain this would be to fire a new event (`GRADIENT_COMPUTED`?) between `loss.backward()` and `optimizer.step()`

[2019-02-01 16:03] vfdev-5 commented on #419
@AntoinePrv I think it would more simple to write custom processing function instead of custom events.

[2019-02-07 14:45] vfdev-5 opened #424 "Fix CI : bug with python 2.7 opengym"
Currently, CI is [broken](https://travis-ci.org/pytorch/ignite/builds/490068197), smoke tests of RL examples fail using opengym. Need to investigate.

[2019-02-07 17:27] Bibonaut opened #425 "Wrong event used in doc example of "ignite.contrib.handlers.LRScheduler""
At first, thanks for this nice project!

While reading the documentation, I encountered, that in the  little example on how to use `ignite.contrib.handlers.LRScheduler` the `ITERATION_COMPLETED` event is used instead of the `ITERATION_STARTED` event.  From pytorch documentation, the event should be triggered, when the iteration started.

Example from pytorch documentation ([doc link](https://pytor

[2019-02-07 18:56] vfdev-5 commented on #425
@Bibonaut yes, you are correct about that, thanks for catching !
If you would like to send a PR, we'll highly appreciate community contributions.

PS. glad that you like the project !

[2019-02-09 07:56] anmolsjoshi commented on #424
@vfdev-5 looked into this, this is an issue with the super call in discrete.py

This was recently fixed on the master branch using [this PR](https://github.com/openai/gym/pull/1312). I built gym from the master branch and the tests in travis.yml passed.

One option is to wait till a new release is cut, or we can just build from master. Thoughts?

[2019-02-09 08:21] vfdev-5 commented on #424
Thanks @anmolsjoshi, maybe we can set now the version of opengym to the previous stable one and once the bug is fixed, remove the version fix.

[2019-02-09 09:33] #424 closed

[2019-02-10 00:05] zippeurfou commented on #118
Having a predictor would be nice. it could be something pretty easy but would be worth for being complete:
[code]

[2019-02-10 13:01] #425 closed

[2019-02-10 22:54] vfdev-5 commented on #118
@zippeurfou yes, something like that but without metrics:
[code]

Anyway, please create an issue for that, if you think that can be useful in the library and we could discuss.

[2019-02-11 16:50] #414 closed

[2019-02-14 05:33] zippeurfou opened #433 "Make info logs optional"
Hi,
It would be nice to be able to remove the info logs (ie. https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L308)
I find it especially cluttering my logs when I run metrics on my epoch.
ie.
<img width="928" alt="image 2019-02-14 at 12 31 08 am" src="https://user-images.githubusercontent.com/4520383/52764917-f3791a00-2fef-11e9-8b9c-54a3e4d8415b.png">
I am not saying I don't a

[2019-02-14 08:57] vfdev-5 commented on #433
@zippeurfou thanks for the feedback, I see what you mean.
I see that you have messages from [`ignite.engine` logger](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L62) and a custom messenger/logger ("Training Results - ...").
If you are not interested of engines messenges, you can disable it. And I think it is disabled by default.
Did you activated it explicitly ?

[2019-02-14 14:37] zippeurfou commented on #433
Thanks @vfdev-5 for the reply.
This might just be me then.
I did this:
[code]
However, maybe this is wrong.

[2019-02-14 16:21] vfdev-5 commented on #433
@zippeurfou Ok, I tried to insert this code to `mnist.py` example to see the logs you have, but did not manage to reproduce your output. Anyway, I think if you can disable manually like that `logging.getLogger("ignite.engine.engine.Engine").setLevel(logging.WARNING)` or manually remove all added handlers. By default, we do not add any stream handler to it.
HTH

[2019-02-14 17:12] zippeurfou commented on #433
Closing it since it seems it's not an ignite issue 👍

[2019-02-14 17:12] #433 closed

[2019-02-15 04:29] dyngts opened #434 "Ignite vs Tnt vs Torchbearer"
Hi all,

Currently, i'm looking for high level library that can help me to simplify my Pytorch's training code. After some searches, i found these libraries are promising to try: Ignite, TNT, and Torchbearer.

After skimming the contents, i found Ignite and TNT are closely similar each other in terms of usage and the design (based on driven API design) while torchbearer offer different design (suc

[2019-02-15 09:45] vfdev-5 commented on #434
@dyngts I think the best answer you can get is by testing all these libs by yourself :)

For example, you can checkout [our examples](https://github.com/pytorch/ignite/tree/master/examples), take one and play with it.
Some other points to take into account:
- development activity
- community support on the issues
- github stars :)

PS: IMO such question should be asked at the [pytorch forum](https

[2019-02-16 13:28] dyngts commented on #434
@vfdev-5 I wish someone already did this, hence i don't need go through all the libraries by myself 😛

I just know that you're the creator of ignite, good to know that.

great idea, i'll do that. Thanks!

[2019-02-16 13:28] #434 closed

[2019-02-16 15:41] vfdev-5 commented on #434
@dyngts that way you'll get your own experience. All libs mostly do a similar stuff, that it is a matter of taste and community behind the project. Very soon we'll merge some notebook for playing in a more interactive way with ignite, so stay tuned :)

The creator of ignite is @alykhantejani, I'm just a frequent contributor :)

And if you have other concrete questions on the usage or you find uncl

[2019-02-17 04:26] snowyday opened #435 "Distributed MNIST example with Ignite"
Hi all,

I implemented an example of distributed application.
Please, give me some advice and code review.

The code is uploaded in this [gist](https://gist.github.com/snowyday/075825b436a118ba7b8b838c60cbe363), and below (updated):
[code]

[2019-02-17 09:02] vfdev-5 commented on #435
@snowyday looks correct. Can you run this code on multiple GPUs ?
Maybe train sampler setup is also needed as in ImageNet example:

https://github.com/pytorch/examples/blob/ea825a5aa6c2db3743c803821a5e220301ebf5b4/imagenet/main.py#L231-L232

[2019-02-17 10:09] snowyday commented on #435
@vfdev-5 Thank you for your review. I've run on multiple GPUs in different nodes. But, I understood DistributedSampler needs the number of epochs for [each iteration.](https://github.com/pytorch/pytorch/blob/3a01a45f06db767cc36669de70af69b09dbafb0f/torch/utils/data/distributed.py#L44) I'll be adding the traing_sampler to the script.

[2019-02-17 13:16] snowyday commented on #435
@vfdev-5  I've updated the script [(gist)](https://gist.github.com/snowyday/075825b436a118ba7b8b838c60cbe363). tring_sampler is updated for [each epoch](https://gist.github.com/snowyday/075825b436a118ba7b8b838c60cbe363#file-mnist_dist-py-L108). Thank you.

[2019-02-17 14:11] vfdev-5 commented on #435
@snowyday I think [the following](https://gist.github.com/snowyday/075825b436a118ba7b8b838c60cbe363#file-mnist_dist-py-L106) should be like this:
[code]

If you would like to send a PR [here](https://github.com/pytorch/ignite/tree/master/examples/mnist), it would be awesome.

[2019-02-17 14:27] snowyday commented on #435
@vfdev-5 Great. I'd like to appreciate your revise. I'll send the PR!

[2019-02-17 14:28] #435 closed

[2019-02-19 16:02] zippeurfou opened #438 "Allow tuple in param_scheduler"
Context:
I'd like to follow Leslie paper and change the momentum in adam at the same time I am changing the lr.
Issues:
The momentum in adam is beta 1 which is the first values of the tuples in the torch initializer:
`Adam(params, lr=0.001, betas=(0.9, 0.999), eps=1e-08, weight_decay=0, amsgrad=False)` (ie. this is 0.9). However, right now there is no way to use  `param_scheduler` with tuples let

[2019-02-19 16:40] vfdev-5 commented on #438
@zippeurfou I see your point. I tested a simple scheduling of betas as you say. Sure that `tuple`/`list` can not be used inside schedulers like `LinearCyclicalScheduler`, etc which use some arithmetics.
However, if we set values as `np.array` we hack the schedulers, like the following:
[code]
Maybe, we could develop the API in this direction...

[2019-02-19 17:00] zippeurfou commented on #438
It seems perfect to me.

[2019-02-19 18:44] vfdev-5 commented on #438
@zippeurfou I think we need to test it in more details (if such scheduling really works as intended for which schedulers etc) and if all is good then just to pass internally the input values if type is list/tuple into `torch.tensor`.

[2019-02-20 07:22] drozzy opened #439 "Doc issue"
Reading the docs here, [the explanation part](https://pytorch.org/ignite/quickstart.html#explanation), I don't understand this sentence:

[2019-02-20 07:25] drozzy opened #440 "Look inside the "create_supervised_trainer""
The [explanation](https://pytorch.org/ignite/quickstart.html#explanation) says that if we look inside the "create_supervised_trainer/create_supervised_evaluator" we can observe some pattern... however, we never actually look inside these functions, instead we look inside "create_engine". Is create_engine defined inside create_supervised_trainer?

[2019-02-20 07:31] drozzy opened #441 "Why two callbacks instead of one?"
Reading the docs about callbacks, it is not clear why there are two callbacks:

[code]

instead of just one:

[code]

[2019-02-20 07:59] vfdev-5 commented on #439
@drozzy thanks for the feedback!
I agree that this phrase may be unclear. It says that `update_function` being the only requirement to construct an `Engine` has a signature such that an `engine` and `batch` are passed into the function:
[code]
and the role of the function is that it receives the input data (i.e. `batch`) and helps to update model's parameters.
Hope this is more clear now :)

And i

[2019-02-20 08:03] vfdev-5 commented on #440
By "we look inside the "create_supervised_trainer/create_supervised_evaluator"" it means if we are curious to see the code-source of the function. Okay, maybe we can replace `look inside` by `look inside their implementations`.

`create_engine` is the pattern that we could observe.

[2019-02-20 08:09] vfdev-5 commented on #441
@drozzy the following approach allows a better modularity. You can also imagine that user would like to run evaluation of train and val at different frequencies.

Yes, you can combine all the code to execute when an epoch ends into a single function and attach it only one time as you suggest.

[2019-02-20 19:01] zippeurfou opened #442 "Allow the duration parameter to be a np.int in contrib.handler"
I had some issue with concat scheduler using numpy integer for durations instead of int:
<img width="1145" alt="image 2019-02-20 at 1 54 36 pm" src="https://user-images.githubusercontent.com/4520383/53116736-58180580-3517-11e9-9634-6dcacd0c90c4.png">
this seems pretty restrictive when you could just do something along theses lines:
[code]
Happy to submit a PR if you think it makes sense.

[2019-02-20 20:47] vfdev-5 commented on #442
@zippeurfou can you post the code that fails, please.
Maybe, it would be better to compare with `numbers.Integral`:
[code]

[2019-02-20 21:02] zippeurfou commented on #442
Sure:
[code]

[2019-02-20 21:45] vfdev-5 commented on #442
Above example looks rather artificial :)
Is it practical to set `durations` as a numpy array?

[2019-02-20 22:02] zippeurfou commented on #442
The actual practical example is when I was calculating the duration by doing something like this:
`np.floor(steps_per_epoch/2)`.I could have used the math library for it but there are case where you want to define your cycle_size, duration programmatically.
This is definitely a minor issues.

[2019-02-20 22:05] vfdev-5 commented on #442
@zippeurfou I see, make sense. Even if we can probably set it like `steps_per_epoch // 2` (integral division).
Anyway, we can replace all `isinstance(a, int)` by `isinstance(a, numbers.Integral)` to be more safe.
So, if you would like to send a PR, you're welcome :)

[2019-02-20 22:18] #441 closed

[2019-02-25 04:12] drozzy opened #445 "Early stopping not working for me - seems to compare training as well as evaluation metrics"
If I try to make use of [early stopping](https://github.com/pytorch/ignite/blob/master/ignite/handlers/early_stopping.py), it seems like both training metrics and evaluation metrics are used.

For example, if I make my score function print out when it gets called, you can see that it gets called:

[code]

you can see that it gets called twice, once for training and once for evaluation:

[code]

Th

[2019-02-25 06:53] ipod825 opened #446 "add create_trainer & create_evaluator util function"
It would be nice to have two functions that wraps up creating trainer/evaluator using `Engine`. In case where the data batch is not in `(input, label)` form, there's still some boilerplate code as described [here](https://pytorch.org/ignite/quickstart.html#explanation).
[code]
In such case, I think the following two help function would be very useful that the user only need to define a function fo

[2019-02-25 08:42] vfdev-5 commented on #445
@drozzy seems like you are using the same `evaluator` for train and validation metrics.
That's why you are seeing two prints of `Acc: *`. You should have two evaluators if you are using `EarlyStopping` on validation metrics.

[2019-02-25 10:05] vfdev-5 commented on #446
@ipod825 there are many ways to handle specific cases different of `(inputs, labels)`. The functions like `create_supervised_trainer` or `create_supervised_evaluator` are just helper functions to create faster an Engine for a basic typical task with `(x, y)`.

For other cases, we suggest to create directly the trainer and evaluator using `Engine` class:
[code]

In some cases, when your input data

[2019-02-25 10:20] ipod825 commented on #446
I understand that I can create the trainer and evaluator using `Engine` class:
[code]

My point is that `processing_function(engine, batch)` will always be like:
[code]

So I propose to free user from writing the boilerplate code and just write a `step_fn` for the two lines that might be model/machine dependent. In fact, `create_supervised_trainer` is just a special case with `step_fn` as:
[code]

[2019-02-25 10:35] vfdev-5 commented on #446
@ipod825 what are the endpoints exactly in you case ?
In the examples, you mention, `step_fn` for trainer is different of `step_fn` for the evaluator. IMO, mixing inside the `step_fn` the forward pass and loss computation does not seems good for me...

[2019-02-25 10:48] ipod825 commented on #446
Note that in my first post, `_update` returns only `endpoints`, which then become engine.state.output.

`endpoints` contains intermediate tensors when computing the `loss` tensor. Binding them to engine.state.output is useful for defining callbacks. For example, you might want to save the generated fake sample in gan every epoch. Or for example, I am implementing Variational AutoEncoder and want t

[2019-02-25 10:54] ipod825 commented on #446
Note that in my `create_evaluator`, I used `with torch.no_grad()`. So no gradient is not computed in testing phase. `step_fn` just defines the forward pass.

[2019-02-25 11:03] vfdev-5 commented on #446
@ipod825 Okay, I see better what you would like to do. Please, take a look at [this](https://pytorch.org/ignite/concepts.html#state) section. Especially, this part:
[code]
and the note on the `State` and `new_attribute`. Probably, this would help you to solve your problems without changing the API of Ignite.

Anyway, we can think about on how to get your suggestions more generic than just to outpu

[2019-02-25 11:16] ipod825 commented on #446
I see what I was missing. Definitely my VAE case can be just handled by  `create_supervised_trainer`. I was thinking about GAN that doesn't fit into this case. And I was trying to make a generic trainer by first writing the supervised_trainer in this manner. But after looking back to the GAN ignite example, I realize that my trainer can't actually handle such case. I'll give it more thought to see

[2019-02-25 11:24] ipod825 commented on #446
I think using `def processing_function(engine, batch):` is the only possible way to deal with arbitrary training procedure. Sorry for the spammer.

[2019-02-25 11:24] #446 closed

[2019-02-25 11:29] vfdev-5 commented on #446
@ipod825 no problem ! Anyway, thanks for the feedback while using Ignite.
About VAE, we have not yet merged a notebook on [this](https://github.com/pytorch/ignite/pull/415), maybe this could help ...

[2019-02-26 09:19] pkdogcom opened #447 "Ways or Features to improve data loading performance"
I was wondering if there is any planned feature to improve data loading performance. The standard Pytorch Dataset and DataLoader implementation rely on random I/O, which can be bottleneck for image classification for small input, even with a M2 SSD. It's possible to convert the dataset into a binary data file like LMDB but I was wondering if there is a standard or perhaps better way in Pytorch, id

[2019-02-26 09:47] pkdogcom commented on #447
Or is manually moving the data into RAM the best option? If they can fit into memory?

[2019-02-26 09:49] vfdev-5 commented on #447
@pkdogcom we didn't planned any features on that. If you have more details on that we can discuss more what can be introduced into Ignite.

[2019-02-26 21:46] vfdev-5 commented on #447
@pkdogcom actually maybe Nvidia/DALI can be interesting to test if improve dataflow performances.

[2019-02-27 05:31] pkdogcom commented on #447
@vfdev-5 Thanks for the information. On a second test with more data processing threads, I was able to reduce a great amount of data pre-processing time which means for a M2 SSD case CPU can potentially be the bottleneck instead of just the I/O.
I did a quick research on DALI and it seems to support LMDB/TFRecord types of data loading but not Pytorch type of image random access. Although I believe

[2019-02-27 07:55] drozzy commented on #445
Yes, creating a different evaluator worked.

[2019-02-27 07:55] #445 closed

[2019-02-27 13:36] vfdev-5 opened #448 "[Metrics] add indexing synthetic sugar"
Idea is to improve the current implementation of `Metric` and to be able to do the following:
[code]

cc @zasdfgbnm

[2019-02-28 06:23] pkdogcom commented on #447
It turns out that with a fast disk (such as M2 SSD), the bottleneck of data flow  will most likely be decoding images with CPU if using the default pytorch pil_loader. A quick and effective fix will be using a faster image decoder in place of pil_loader. I've tried jpeg4py, which is a wrapper of libjpeg-turbo, and I was able to reduce the overhead of data pre-processing, in my experiments, from 0.

[2019-02-28 08:12] vfdev-5 commented on #447
@pkdogcom yes, that's true that torchvision backended with Pillow is not the fastest data loading/processing. Have you tried Pillow-SIMD or OpenCV ?

[2019-02-28 09:35] pkdogcom commented on #447
I've been using Pillow-SIMD and OpenCV and libjpeg-turbo still gives a big performance boost. I will need to check if OpenCV can be compiled with libjpeg-turbo

[2019-02-28 09:48] pkdogcom commented on #447
It seems like from 3.4.2 onward OpenCV will default to use libjpeg-turbo instead of libjpeg. So for newer version of OpenCV it might be easier to rely on OpenCV (with most image libs enabled) as an efficient overall image loading library.

[2019-02-28 09:52] vfdev-5 commented on #358
@ntoxeg I think we can close this issue.

[2019-02-28 09:52] #358 closed

[2019-02-28 12:45] #440 closed

[2019-02-28 18:58] anmolsjoshi commented on #367
@NeelMishra any updates on Fashion MNIST example?

[2019-03-03 21:30] vfdev-5 opened #451 "Remove handler feature in Engine"
I recently encountered the cases where I would like to remove a handler and optionally replace it with another one. The following code is used:
[code]

@alykhantejani @jasonkriss what do you guys think about inserting such method into `Engine` ?
cc @anmolsjoshi

[2019-03-04 16:08] #442 closed

[2019-03-04 19:09] jasonkriss commented on #451
@vfdev-5 Do you mind giving an example use case for this?

[2019-03-04 19:28] vfdev-5 commented on #451
Sure, maybe these examples I have may look a bit particular:
1) engine that logs to the tensorboard on different datasets at different groups:
[code]
2) A handler that when attached to the engine adds some internal handlers and when finished cleans out after itself.

[2019-03-05 18:15] jasonkriss commented on #451
Thanks @vfdev-5. I'm still trying to understand the motivation...

1. Would it maybe more clear here to use two stats_collectors rather than having to remember to remove the handler?

2. Is there a benefit to cleaning up after it finishes?

[2019-03-06 10:43] vfdev-5 commented on #451
@jasonkriss it means that we need to copy previous code to reinit another `stats_collectors` ...

More on the context: I wrote a basic time profiler that collect times spent in handlers, batch preparation and process function. To do this the profiler adds manually its handlers in the special order: the first and the last handlers on the events. It adds its handler **once** the `run` is called to a

[2019-03-07 00:13] jasonkriss commented on #451
Got it! Thanks for the added context. Helps a lot. Let's go ahead and add it then.

[2019-03-08 18:10] #451 closed

[2019-03-08 18:47] vfdev-5 commented on #447
@pkdogcom I'll close this issue. Feel free to reopen if we can improve this from ignite side.

[2019-03-08 18:47] #447 closed

[2019-03-10 06:53] pkdogcom commented on #447
Sure. What about implementing a OpenCV/libjpeg-turbo image loader (and maybe converted to PIL in the loader for compatibility in downstream processing) and let the user have better awareness of this issue?

[2019-03-10 09:36] vfdev-5 commented on #447
@pkdogcom IMO the dataflow stuff (data reading, augs, batching etc) is out of scope of ignite as there is a plenty of libs who are managing some part of it. Soon I'll think to provide a contrib handler for some basic time profiling: batch creation, time passed in handlers, time of processing function. In some notes of this future handler we can mention about these accelerated ways of reading image

[2019-03-10 12:34] pkdogcom commented on #447
Agree. I think having some of these best pratices either implemented or mentioned in the contrib module should be enough

[2019-03-10 16:48] chitralverma commented on #367
@anmolsjoshi @NeelMishra
I was doing my own learning using the FashionMNIST dataset and have a notebook mostly ready for the same.

If it's ok, maybe I can adopt the notebook template used for other examples and raise a PR for this?

[2019-03-10 17:15] vfdev-5 commented on #367
@chitralverma you van take a look at thé current notebooks: https://github.com/pytorch/ignite/tree/master/examples/notebooks. Actually no template or style to follow, juste it should explain everything for beginners. And yes, please send a PR for this.

[2019-03-10 17:16] vfdev-5 commented on #367
@chitralverma you can take a look at the current notebooks: https://github.com/pytorch/ignite/tree/master/examples/notebooks. Actually no template or style to follow, juste it should explain everything for beginners. And yes, please send a PR for this.

[2019-03-13 16:36] vfdev-5 opened #453 "[Contrib metrics] Add R2 score metric"
Maybe adding [R2 metric](https://en.wikipedia.org/wiki/Coefficient_of_determination) to `ignite.contrib.metrics.regression` could make sense. Thoughts ?

[2019-03-13 17:24] anmolsjoshi commented on #453
@vfdev-5 I think that's a good idea! R2 is probably the first regression metric people start with.

[2019-03-16 13:12] ghost opened #454 "batch size scheduler"
Does the module implement the batch_size scheduler?

[2019-03-16 13:31] vfdev-5 commented on #454
@EvilPsyCHo no it is not implemented. I think this should be done on `BatchSampler`-side of the `DataLoader`. Thoughts ?

[2019-03-19 08:01] vfdev-5 opened #457 "Example with albumentations and dynamic augmentations"
Idea is to provide an example with data augmentations using [albumentations](https://github.com/albu/albumentations.git) and show a possibility to make data augmentation parameters change on epoch.

[2019-03-19 13:01] iamkucuk opened #458 "Why are the Start and End value multipliers removed from CyclicalScheduler derivatives?"
I was trying to use the cosine annealing scheduler, however I found out the multipliers for start and end values are removed from cyclical scheduler. The examples from the docs seems like not up to date. Why these multipliers are removed from Ignite?

Edit: Further explainations
`lr_scheduling_handler = CosineAnnealingScheduler(optimizer, 'lr', lr, lr / 100, len(train_loader), start_value_mult=.1,

[2019-03-19 13:44] vfdev-5 commented on #458
@iamkucuk could you please provide concrete example of what is missing/removed and what is not working ?

[2019-03-19 13:49] iamkucuk commented on #458
Further explainations added into first post.

[2019-03-19 14:07] vfdev-5 commented on #458
@iamkucuk please add which version of ignite you are using ?

[2019-03-19 14:11] iamkucuk commented on #458
Yeah I can confirm that. Maybe you can build another pypi package for the current version. It can be confusing for users :)

[2019-03-19 14:13] vfdev-5 commented on #458
We have also nightly build pip at https://pypi.org/project/pytorch-ignite-nightly/
See #306

[2019-03-19 14:17] iamkucuk commented on #458
Yeah just saw that but it requires pytorch-nightly. It's make it undesirable for me.

[2019-03-19 14:46] vfdev-5 commented on #458
@iamkucuk in this case you can install as https://github.com/pytorch/ignite/issues/458#issuecomment-474385775

And if you would like to improve our docs by solving #308, this would be highly appreciated by the community :)

I'll close this issue as solved, feel free to reopen if something is incomplete.

[2019-03-19 14:46] #458 closed

[2019-03-19 16:23] #439 closed

[2019-03-20 07:00] EvilPsyCHo opened #459 "Is it recommended to use ignite like this?"
[code]

[2019-03-20 10:05] vfdev-5 commented on #459
@EvilPsyCHo I would say this is a matter of taste. IMO I would not use such _more and more_ high-level structure.

[2019-03-20 18:47] anmolsjoshi commented on #453
@vfdev-5 do you think this should be an epoch metric? or does it make sense to calculate this batch by batch?

[2019-03-20 18:55] vfdev-5 commented on #453
@anmolsjoshi I would say batch per batch is feasible.

[2019-03-20 19:00] anmolsjoshi commented on #453
@vfdev-5 sounds good, if you haven't started working on it, I can send in a PR tonight

[2019-03-20 19:18] vfdev-5 commented on #453
yes, go ahead, please :)

On Wed, Mar 20, 2019, 20:00 Anmol Joshi <notifications@github.com wrote:

[2019-03-20 20:52] vfdev-5 opened #460 "Improve to_onehot to any shape"
Idea is to improve `to_onehot` to accept any input shape: (N, ) and (N, H, W, D1, D2, ...).
Currently supported shape is `(N, )`. Thoughts ?

[2019-03-21 16:50] #460 closed

[2019-03-22 13:01] sudarshan85 opened #462 "ReduceLROnPlateau LRScheduler error"
Hi,

I tried to use the `LRScheduler` handler for `ReduceLROnPlateau` from `torch.optim` and it threw an a `TypeError`:

[code]

[code]
The example from the documentation with `StepLR` works without problems. It seems that the objects belong to different base classes. This is indeed true as can be from the source [here](https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html). `Step

[2019-03-22 13:13] vfdev-5 commented on #462
@sudarshan85 thanks for the feedback ! Yes, you are correct about `ReduceLROnPlateau` that is not derived from `_LRScheduler`:
[code]

However, it is possible to use `ReduceLROnPlateau` as it suggested by `pytorch` and just call `step` method in a handler:
[code]

However, mixing a normal pytorch scheduler (e.g. `StepLR`) and `ReduceLROnPlateau` should be checked explicitly whether one does not ov

[2019-03-22 13:30] sudarshan85 commented on #462
@vfdev-5 Thank you for your prompt reply! Yes, I thought that I could something like that. But shouldn't the event be `EPOCH_COMPLETED`? `COMPLETED` refers to the entire training process completed right?

This might be a bit off-topic, but I'm confused about using the `evaluator.on` decorator vs using `trainer.on` decorator and using the evaluator inside the that function as is shown in the quicks

[2019-03-22 16:02] vfdev-5 commented on #462
@sudarshan85 as the handler is attached to the evaluator which goes through validation dataset only once it is correct to set `Events.COMPLETED`.

To answer your off-topic question, it would be better represent the training loop and the events happening during its run.
![ignite_training_loop](https://user-images.githubusercontent.com/2459423/54835949-7eba8f00-4cc3-11e9-82cf-be352dcb9a4c.png)

The

[2019-03-22 20:30] sudarshan85 commented on #462
Thanks. The picture does add more clarity on whats going on. The example in the documentation about early stopping shows a non-decorator version, where the score function is declared and passed onto the handler. How would we write the decorator version of it?

[2019-03-22 20:44] vfdev-5 commented on #462
Decorators are useful with user defined functions. In case of EarlyStoping
handler, as it is a callable class it is more simple to add it as described
in the docs

On Fri, Mar 22, 2019, 21:30 sudarshan <notifications@github.com wrote:

[2019-03-22 20:48] sudarshan85 commented on #462
Ok thanks. I just started using ignite today. Thats why I'm having some basic questions. Thanks for your help.

[2019-03-22 20:48] #462 closed

[2019-03-23 08:41] vfdev-5 opened #463 "Improve docs with Events timeline image"
As there is a lot of issues where folks seem not to understand well ignite's event handling, idea is to improve the docs with a visual representation like [this one](https://github.com/pytorch/ignite/issues/462#issuecomment-475677991). Thoughts ?

[2019-03-23 08:43] vfdev-5 commented on #459
@EvilPsyCHo i'll close the issue, feel free to reopen if the answer is not complete

[2019-03-23 08:43] #459 closed

[2019-03-24 08:04] houweidong opened #464 "multi GPU training problem"

[2019-03-24 08:33] vfdev-5 commented on #464
Take a look at distributed mnist exemple : https://github.com/pytorch/ignite/tree/master/examples/mnist

[2019-03-24 08:38] houweidong commented on #464
Thanks for your reply. Is there need a DistributedSampler as distributed mnist exemple when i training with multi GPU?

[2019-03-24 08:48] houweidong commented on #464
when i trained my multi gpu code, i meet the wrong as here:

Loading models
Loading dataset
THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp line=405 error=11 : invalid argument
Start training
Epoch[1] Starts with lr=0.003
Traceback (most recent call last):
  File "/home/new/dev/weidong/CubeModel/train_cube.py", line 168, in <module>
    run(args)
  File "/home/new/dev/weidong/CubeModel/

[2019-03-24 11:18] houweidong commented on #464
i have solved the problem, it's the pretrainedmodels cause the problem.

[2019-03-24 11:19] #464 closed

[2019-03-24 18:47] vfdev-5 commented on #464
Glad that you found the solution by yourself :)

[2019-03-27 04:11] anmolsjoshi commented on #463
@vfdev-5 i think this is a good idea, the more information we provide the better users are able to use ignite

[2019-03-28 03:55] anmolsjoshi commented on #308
* Up to date fork that works with Sphinx==1.8.5 - https://github.com/sphinxcontrib-versioning-ng/sphinxcontrib-versioning
* working link here - https://anmolsjoshi.github.io/ignite_sphinx_try/

[2019-03-28 06:46] vfdev-5 commented on #308
@anmolsjoshi, your working prototype looks great and seems like doing what we need ...

[2019-03-29 03:46] anmolsjoshi commented on #457
@vfdev-5 apart from changing image sizes during training, what other transformations did you think of changing on epochs?

[2019-03-29 06:54] vfdev-5 commented on #457
Maybe also check a schema like: less augmentation in the first epochs and more hard augmentations to prevent the overfitting from some epoch...

[2019-03-31 10:33] RoyHirsch opened #466 "Conda install ignite"
Hi,
I'm trying to download view pip, I've downloaded the current version of 0.1.2 but don't have the current master. For example I don't have the is_multiclass flag. How can I make sure I download the updated version in the repo ?
I've used : pip install pytorch-ignite

Thanks,
Roy

[2019-03-31 10:45] vfdev-5 commented on #466
Hi Roy, you can install the master using the following command:
[code]

If you are using pytorch-nightly, we have ignite nightly builds with
pytorch-nightly as dependency:
[code]

HTH

On Sun, Mar 31, 2019, 12:33 RoyHirsch <notifications@github.com> wrote:

[2019-03-31 12:31] RoyHirsch commented on #466
Thank you. I would like to use the Recall/Persicion measurement for a multilabel task. But I would like to compute thre recall per class. while using th is_multilabel flag I have two options:
- is avg is True: average recall for all the samples
- is avg is Fasle: reports recall per sample.

Is there a support in reporting recall per class ?
Thank you,
Roy

[2019-03-31 12:52] vfdev-5 commented on #466
@RoyHirsch could you please detail which task would you like to do:
- multiclass = target is [0, 1, 2, ..., C]
- multilabel = target are "tags", e.g. [[0, 1, 0], [0, 1, 1], ...]

In case of multiclass, the argument `avg=False` gives Precision/Recall per class, otherwise they are averaged over all classes.

In case of multilabel, AFAIK and remember we can not compute metrics per class but per sampl

[2019-03-31 13:04] RoyHirsch commented on #466
My task is multilabel, means the ground true is binary vector with arbitrary True values: [[0, 1, 0], [0, 1, 1], ...]

My prediction is a scores vector in shape NUM_CLASSES, I am processing the vector into topK predictions per sample (we can assume it is processeed into bianry vector, where ony the topK columns are True and the rest is False).
I would like to report the per class recall following:

[2019-03-31 13:23] vfdev-5 commented on #466
I see, thanks for the reference. I have an impression that they just measure each tag independently. I'm not sure if we have a metric that could be hacked to produce top-k per-class precision/recall but yes I agree this can be a relevant metric and definitly is needed to be added to Ignite.

If you would like to implement it and send a PR, would be nice ! Community contributions are very welcome :

[2019-03-31 13:26] vfdev-5 opened #467 "Top-K precision/recall multilabel metrics for ranking task"
Following the discussion from https://github.com/pytorch/ignite/issues/466#issuecomment-478339986 it would be nice to have such metric in Ignite.

In the context of a multilabel task, compute a top-k precision/recall per label (treating all labels independently).

[2019-03-31 13:39] RoyHirsch commented on #466
Thank youy for the quick help ! I will ipdate if I will have the resources to contribute a generalized code.
Roy

[2019-04-01 02:06] sudarshan85 commented on #419
@vfdev-5 While I agree with you, it would be nice to have options. In particular, it would be great if we could have more events compared to the [fastai callback system](https://docs.fast.ai/callback.html). The callbacks listed there are (events in parenthesis):

1.  on_train_begin() (Events.STARTED)
2. on_epoch_begin() (Events.EPOCH_STARTED)
3. on_batch_begin() (Events.ITERATION_STARTED)
3. on_lo

[2019-04-01 06:48] vfdev-5 commented on #419
@sudarshan85 we can think about to provide a generic callback class into contrib module.
IMO I hardly imagine a class that uses all these `on_*` methods. The example you cited, [LRFinder](https://github.com/fastai/fastai/blob/master/fastai/callbacks/lr_finder.py#L9) implements just 3 methods: on_train_begin, on_batch_end, on_train_end. This is very similar to the behaviour of our classes with `att

[2019-04-01 08:06] vfdev-5 commented on #466
@RoyHirsch  I close this issue as installation problem is solved. We can use #467 to discuss about the proposition of the new metric.

[2019-04-01 08:06] #466 closed

[2019-04-01 18:15] MottoX opened #468 "Accumulate loss and perform a backward update after several iterations?"
Is there a way to define a number N so that the loss backward update can be performed after N iterations? It is common scenario that we cannot increase the batch size due to memory constraint and we would like to do less loss computation for faster training.

[2019-04-01 19:18] vfdev-5 commented on #468
@MottoX there are several ways to do this. The most simplest is the following:
[code]

[2019-04-01 19:31] #468 closed

[2019-04-01 20:10] vfdev-5 opened #469 "Create FAQ in the docs based on questions in issues"
Idea is to create a FAQ page in the docs based on answers of questions asked in the past issues. For example:
- https://github.com/pytorch/ignite/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Aquestion+
- and other best practices.

Thoughts ?

[2019-04-01 20:12] vfdev-5 commented on #332
@Lyken17 I'll close the issue as no more activity on this. Feel free to reopen if needed

[2019-04-01 20:12] #332 closed

[2019-04-02 03:10] anmolsjoshi commented on #469
@vfdev-5 I think that's a really good idea! A lot of users end up using templates for these best practices.

[2019-04-02 06:24] Kyridiculous2 opened #470 "How to resume training with stored statistics? i.e. how to load engine state in terms of num_epochs etc"

[2019-04-02 06:42] vfdev-5 commented on #470
@Kyridiculous2 could you please provide more details on the question ?

To resume training in a basic way, you can do the following. Assuming you previosly saved state dicts of your model, optimizer, lr_scheduler.
[code]

[2019-04-02 07:30] Kyridiculous2 commented on #470
Thanks for replying.
One more question, when using checkpoint to save a class instance, I found when I change the value of some attributes of it, it still save the original value.
`    trainer.add_event_handler(event_name=Events.ITERATION_COMPLETED, handler=checkpoint_handler,
                              to_save={'model': model.state_dict(), 'optimizer': optimizer.state_dict(),

[2019-04-02 08:11] Kyridiculous2 commented on #470
Alternatively how can i save the current iteration steps using the model checkpoint handler?
since engine.state.iteration isn't initialized at first, so can be a parameter to to_save

[2019-04-02 08:35] vfdev-5 commented on #470
Maybe you can do this like the following:

[code]

[2019-04-02 08:41] Kyridiculous2 commented on #470
So what's the difference between them ?
It seems the way i saved them before take a copy of the instance at the beginning.
I'll try your suggestions though, Thank u!

[2019-04-02 08:47] vfdev-5 commented on #470
If you pass `repr(sigma_scheme)` in the begining
[code]
it becomes fixed and does not change at iteration.

To overcome this you can augment `save_dict` dynamically in a custom handler as proposed in https://github.com/pytorch/ignite/issues/470#issuecomment-478899010

[2019-04-02 08:58] Kyridiculous2 commented on #470
Thank u very much! Your suggestions help well!
So model and optimizer (pytorch objects?) are special objects that will be updated every time to be saved,while ordinary python objects will be fixed?

[2019-04-02 09:21] vfdev-5 commented on #470
Internally we are using `torch.save` on either `object` or `object.state_dict()` if there is one : https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L139
So if you can save your object `sigma_scheme` with `torch.save` directly it will work for you without the workaround I proposed previously:
[code]

[2019-04-02 09:22] Kyridiculous2 commented on #470
Thank you~!

[2019-04-02 17:09] anmolsjoshi commented on #463
@vfdev-5 might be worth it to add this in the FAQ

[2019-04-02 17:41] anmolsjoshi commented on #367
@chitralverma any updates on the FashionMNIST notebook?

[2019-04-03 03:24] #260 closed

[2019-04-03 21:30] Bibonaut commented on #387
This sounds nice. I also did some hacking and just want to share the code, in case it can be useful for anyone of you. In my case, I needed a custom save method. I didn't want to use `torch.save()`, because my own model class is still under development and I want to have compatibility between all its versions. My save method simply saves hyperparameters and weights from which the class is recreate

[2019-04-03 21:35] vfdev-5 commented on #387
@Bibonaut thanks for sharing the code ! Looks good. We can think to put it into `contrib` module.

[2019-04-03 23:38] drozzy commented on #391
The progress bar still unrolls and goes crazy sometimes in Jupyter.

Any way to enable jupyter mode (like in tdqm)?
https://github.com/tqdm/tqdm#ipython-jupyter-integration

[2019-04-04 05:10] ipod825 opened #473 "Tensorflow compaitability?"
It turned out that the whole engine module is compatible with tensoflow 2.0 (for both eager and graph mode). To make ignite fully compatible with tensorflow, only `metrics` and `handlers` need to be modified. I am wondering if this sounds interesting to the maintainer of `ignite`.

As a proof-of-concept, please see my modification and example in this [repo](https://github.com/ipod825/ignite).

[2019-04-04 06:16] #308 closed

[2019-04-04 06:48] anmolsjoshi commented on #64
Closing this in favor of #455

[2019-04-04 06:48] #64 closed

[2019-04-04 07:33] vfdev-5 opened #475 "Ignite doesn’t repackage LSTM hidden properly? And slower to converge than hand-made training loop?"
From https://discuss.pytorch.org/t/ignite-doesnt-repackage-lstm-hidden-properly-and-slower-to-converge-than-hand-made-training-loop/39542

[2019-04-04 07:38] vfdev-5 commented on #473
@ipod825 nice proof-of-concept, thanks for the feedback !

Personnally, as I'm not using tf, so having a contrib module to make ignite compatible with TF seems not be a priority for me. I think this can be a side project with its own CI etc.
Probably, other maintainers have other ideas.

cc @anmolsjoshi @alykhantejani @jasonkriss

[2019-04-04 07:40] vfdev-5 commented on #391
@drozzy yes, this happens everytime when it was exited with an exception...

OKay, as we are working on some refactoring of ProgressBar, we can take a look at this too.

[2019-04-04 11:05] vfdev-5 opened #477 "Improve create_supervised_trainer with optional output_transform"
Following [the discussion](https://github.com/pytorch/ignite/pull/476#discussion_r272108999), idea is to give more flexibility to users who are using `create_supervised_trainer`:
[code]

cc @IlyaOvodov

[2019-04-04 11:11] IlyaOvodov commented on #477
@vfdev-5 ... and pass it as parameter to create_supervised_trainer? Sounds good...
But I think make 2 functions `output_loss` and `output_y_pred_y` and:
[code]
It is more meaningful, IMHO

[2019-04-04 16:57] IlyaOvodov commented on #477
I'll make it

[2019-04-04 20:58] #477 closed

[2019-04-06 01:27] #463 closed

[2019-04-06 16:06] anmolsjoshi commented on #469
Closing in favor of #471

[2019-04-06 16:06] #469 closed

[2019-04-08 03:51] #289 closed

[2019-04-08 03:52] #391 closed

[2019-04-09 09:31] #448 closed

[2019-04-09 10:11] vfdev-5 commented on #387
@Bibonaut would you like to send a PR with this code and some basic tests ? It would be awesome !

[2019-04-09 14:05] Bibonaut commented on #387
@vfdev-5  Sorry for my late response, still very busy :| I'ld really like to contribute if you can wait until mid of May where I have to meet a deadline. Then I'ld like to share and discuss some more features with you I made to make my workflow and investigations a lot easier.

[2019-04-09 14:10] vfdev-5 commented on #387
@Bibonaut no problems, we can wait until your deadline :)

[2019-04-09 15:46] jamesmyatt opened #485 "CPU conda package"
Is there any chance of a conda package that depends on pytorch-cpu instead? Or am I missing something?

[2019-04-09 15:56] vfdev-5 commented on #485
@jamesmyatt in this case, probably, you can install `pytorch-cpu` at first and then install `ignite` without dependencies:
[code]
HTH

[2019-04-09 16:29] vfdev-5 opened #486 "Docs is not deployed when tag is created"
https://travis-ci.org/pytorch/ignite/jobs/517865617
[code]

[2019-04-11 14:22] jamesmyatt commented on #485
Does that work in an environment.yml file? i.e. can I add `pytorch::ignite --no-deps`?

[2019-04-11 14:52] vfdev-5 commented on #485
@jamesmyatt probably your issue is a duplicate of https://github.com/conda/conda/issues/7911
I think there is no flag like that in yml. Even if you install packages like proposed above and then export  the environment into `yml`, it is not possible to create new environment with `pytorch-cpu` and `ignite` that does not bring `pytorch`...

[2019-04-11 16:15] jamesmyatt commented on #485
Agreed. I think it's the same as that conda issue.

[2019-04-13 17:50] vfdev-5 commented on #485
@jamesmyatt the following yaml can probably solve your problem:
[code]

[2019-04-17 09:47] jyzhang-bjtu opened #494 "How to resume training in terms of num_epochs and num_iterations?"
I want to resume training not only in terms of num_epochs, but also in term of number of iterations?
How can I do it?
And the issue #470 can only resume training on number of epochs

[2019-04-17 09:56] vfdev-5 commented on #494
@jyzhang-bjtu the following should work:
[code]
HTH

[2019-04-17 11:56] vfdev-5 opened #495 "Add tag to OptimizerParamsHandler"
Idea is to improve `OptimizerParamsHandler` (`tensorboard_logger`, `visdom_logger`, ...) by adding a tag free field in order to be able to log several optimizers in different plots. This can be helpful when logging lr of generator/descriminator optimizers in GAN.

[code]

[2019-04-17 14:06] anmolsjoshi commented on #494
@vfdev-5 maybe we can add this to the FAQ

[2019-04-17 14:08] vfdev-5 commented on #494
@anmolsjoshi good idea ! if you can send a PR, it would be perfect :)

[2019-04-18 01:55] jyzhang-bjtu commented on #494
Thanks for all replies. However, I found that there are some problems to be fixed.

1. if we restart at a given iteration, then the dataloader can not restart at the same position.

2. According to the source of engine, the restarted engine.state.epoch should be  resume_epoch - 1.

[2019-04-18 02:01] jyzhang-bjtu commented on #494
For the problem 2, I suggest put the

at the end of the while block.

And the same for

[2019-04-18 06:33] vfdev-5 commented on #494
@jyzhang-bjtu resuming from an iteration is not that simple. We have a WIP PR on that #182.
Mainly, the question is how to efficiently "fast forward" an iterator.

You are free to modify resuming handler as you wish
[code]

[2019-04-18 08:56] jyzhang-bjtu commented on #494
Thanks a lot!
I provide some idea from my experience.
We can use the engine.state.iteration as an indicator for the dataloader.
If the dataloader has the method seek, then it can resume from the given position.

[2019-04-19 05:11] anmolsjoshi commented on #368
@vfdev-5 working on this now, found an implementation here - https://github.com/kevinzakka/pytorch-goodies/blob/master/losses.py#L131-L175

Idea is that we create a general Tversky Index Metric, and then create children Metrics such as Jaccard Index and Dice Coefficient by forcing values of alpha and beta.

[2019-04-21 19:22] philip-bl opened #497 "What is the canonical way to log some images to tensorboard?"
Hello. I would like to know, what is the best way (i.e. least spaghetti code) to log some images via tensorboardx logger? E.g. I am creating a denoising autoencoder. Every time I evaluate the model on validation dataset, I would like to also use its input (noisy image), its output (reconstructed image), and the target (noiseless image) - to extract a few random images from them, put them into `tor

[2019-04-21 19:47] vfdev-5 commented on #497
@philip-bl you can do this by several ways:
1) `TensorboardLogger` exposes `writer` so you can use it in your custom handlers to do everything you want.
2) You define a handler and attach it as it shown in the docstring (e.g. `OutputHandler`). Below an example of how to log images generated by a GAN (cycle gan horses):
[code]
HTH

[2019-04-21 19:49] vfdev-5 commented on #485
@jamesmyatt I'll close the issue as solved (see the solution in the previous message). Feel free to reopen if needed.

[2019-04-21 19:49] #485 closed

[2019-04-22 05:26] #453 closed

[2019-04-24 19:55] pldelisle commented on #368
Tversky loss is indeed more interesting and offer more flexibility afterwards with fixed alpha and beta values.
Does using the Confusion Matrix object is the best way to implement this or inheriting from _BaseClassification is better ?

[2019-04-24 20:17] vfdev-5 commented on #368
@anmolsjoshi sorry, I haven't notice your link on kevinzakka's repo. His implementation seems like to be image-wise and can not be used in our `update-compute` paradigm.

@pldelisle we think to implement it using a confusion matrix and provide it as `IoU` or `mIoU` methods... @anmolsjoshi should be working on it...

[2019-04-25 09:25] vfdev-5 opened #499 "Bug with ProgressBar with TerminateOnNan"
If we attach `ProgressBar` and `TerminateOnNaN` handlers to a trainer and `TerminateOnNan` stops training on the first iteration. We have the following error:

[code]

[2019-04-26 12:47] Mxbonn opened #501 "event_to_attr should be extensible for register_event"
There should be a way to extend `event_to_attr` when registering new events.

[2019-04-26 14:15] vfdev-5 commented on #501
Yes, I agree. @Mxbonn if you would like to propose a PR, you are welcome to contribute :)

[2019-04-26 14:47] pldelisle commented on #368
I have also been working a bit on this (needed to implement Dice coefficient for my own project, then stumbled on this library which proposes a pretty good structure, so I decided to contribute). I've done it for the Dice Coefficient, but I struggle a bit for the Tversky Index and the relative complement.

As I can understand, the relative complement is the position N_xy in the diagonal where x=y

[2019-04-26 20:54] vfdev-5 opened #503 "Fix CI"
CI is broken in `test_create_lr_scheduler_with_warmup` with `pytorch-nightly`.
https://travis-ci.org/pytorch/ignite/jobs/525001845

Problem is related to the breaking change in pytorch-nightly : https://github.com/pytorch/pytorch/pull/7889
and https://github.com/pytorch/pytorch/pull/14010

[2019-04-28 08:55] #503 closed

[2019-04-28 18:58] #497 closed

[2019-04-28 19:07] #495 closed

[2019-05-01 10:25] vfdev-5 opened #507 "Update CI and our examples to PyTorch 1.1"
PyTorch is now 1.1 and it has some breaking changes such as
1) https://travis-ci.org/pytorch/ignite/jobs/526722950#L1356
2) https://pytorch.org/docs/stable/optim.html#how-to-adjust-learning-rate
Previously, it was
[code]
and now it is
[code]

[2019-05-01 21:09] #507 closed

[2019-05-01 21:34] #499 closed

[2019-05-01 21:40] philip-bl opened #510 "dcgan.py: `df.plot(x=np.array([1, 101, 201]))` doesn't work"
Line https://github.com/pytorch/ignite/blob/master/examples/gan/dcgan.py#L393 fails with an error,saying that nothing in `Int64Index([1, 101, 201])` is in `df.columns` (or something like that). To fix it, set index of the dataframe instead of passing `x` argument.

Replace this:
[code]
with this
[code]

My python version is 3.7, pandas is 0.24.2.

[2019-05-01 21:48] philip-bl commented on #510
I have tested that it works by running dcgan.py to completion on lfw dataset once.

[2019-05-01 21:55] vfdev-5 commented on #510
@philip-bl yes, I reproduce the problem too. However, I would prefer to improve the written `logs.tsv` file. Currently, it looks like
[code]
and we have no idea on which iteration we have logged data. IMO it worth to add iteration at the first column 'iteration' and while loading the csv set index by `iteration` columns... What do you think ?

[2019-05-01 22:03] philip-bl commented on #510
@vfdev-5 Yes, that sounds better. Just to be clear, I don't want to do that.

[2019-05-01 22:04] vfdev-5 commented on #510
It's not a big deal as change :) But as you wish. Anyway thanks for reporting.

[2019-05-01 22:12] philip-bl commented on #510
Actually scratch that. This fixes it:

[code]

Have tested that it works by running on lfw once.

[2019-05-01 22:15] philip-bl commented on #510
Also I wonder if there's a good reason why this script implements tsv formatting on its own instead of using `csv.writer`.

[2019-05-01 22:16] vfdev-5 commented on #510
@philip-bl you still do not want to send a PR with the code ? :)

I would say no reason. If you can improve it, go ahead !

[2019-05-01 22:28] philip-bl commented on #510
@vfdev-5 Not really. Overhead of doing `git clone`, setting up remote repositories, applying patch there, pushing, creating a PR - it's too much.

[2019-05-02 13:27] vfdev-5 opened #512 "Average value metric"
Discussed on the slack:

I have a very simple question, how do I compute an average over a validation set?I have an evaluator engine and I am considering the EpochMetric, and pass `None` as the label and make the compute_fn only average over the first column, or the `RunningAverage` metric with `alpha=1`. However both feel a bit gross for this very simple problem.

Idea is to provide some metric c

[2019-05-02 13:45] #510 closed

[2019-05-02 15:58] jphdotam opened #513 "Class-wise metrics (Accuracy etc.) for multi-label problems"
Hi,

I've made a multi-label classifier using `BCEWithLogitsLoss`. In summary a data sample can be one of 3 binary classes, which aren't mutually eclusive, so y_pred and y can look something like [0, 1, 1].

My metrics include `Accuracy(output_transform=thresholded_output_transform, is_multilabel=True)` and `Precision(output_transform=thresholded_output_transform, is_multilabel=True, average=True)

[2019-05-02 16:04] vfdev-5 commented on #513
@jphdotam thanks for the feedback! You are correct, multi-label case is always averaged for now for Accuracy, Precision, Recall.

There is an issue with a similar requirement https://github.com/pytorch/ignite/issues/467
For instance we have not much bandwidth to work on that. If you can send a PR for that, we'll be awesome.

You can find a link for that here : https://pytorch.org/resources

[2019-05-02 16:05] marrrcin opened #514 "Tensorboard Logger does not work with layer freezing"
Consider the following (simplified and self-contained) notebook:
https://gist.github.com/marrrcin/629227cf33d88af6192048871daa3a09
which uses mostly the code from Ignite examples to create `trainer` and attach `TensorboardLogger` to training events.

If you use pre-trained model and freeze some layers, you end up with code that will not work, as Ignite tries to collect gradient histograms/scalars

[2019-05-02 16:09] vfdev-5 commented on #514
@marrrcin thanks for reporting. Yes, you are correct that there is no checking whether `p.grad is not None`.  If you would like to contribute to ignite and fix this bug, it would be awesome !

[2019-05-02 16:12] marrrcin commented on #514
I was just creating one: https://github.com/pytorch/ignite/pull/515

[2019-05-02 16:50] #514 closed

[2019-05-02 19:00] jphdotam commented on #513
Many thanks, I've made a pull request here: https://github.com/pytorch/ignite/pull/516

I'm quite new to working on large projects so apologies if I have gone about this inappropriately.

[2019-05-03 07:27] jphdotam commented on #513
In the mean time whilst the core team decide how best to implement this, this is a custom class I've made for the task which inherits from Accuracy:

[code]

[2019-05-03 14:36] vfdev-5 opened #517 "Reset should_terminate between runs"
Following the [comment](https://github.com/pytorch/ignite/issues/227#issuecomment-410770504), currently, Engine's `should_terminate`/`should_terminate_single_epoch` are not reset between runs. IMO, starting a run we need to set them arguments to `False`

[2019-05-04 12:46] y0ast commented on #512
Thanks for making this issue @vfdev-5

Would it be reasonable to just remove the restrictions from Loss? Perhaps make arguments for supervised learning the default arguments.

[2019-05-04 14:03] philip-bl commented on #202
I can create a tensorboard logger example of a very simple image segmentation task, where the model finds which pixels represent borders of some cells. I doesn't use much ignite functionality absent from other example, but I think overall the are not enough examples of using tensorboard logger. Will that be useful? Would you like me to do it? Below you can see some images and the corresponding tar

[2019-05-04 14:51] vfdev-5 commented on #202
@philip-bl sure that ignite lacks examples on segmenation/object detection tasks. An example on [Pascal VOC Segmentation from torchvision](https://github.com/pytorch/vision/blob/master/torchvision/datasets/voc.py) can be a more canonical, but we can use something else. What is the dataset you are using ?

[2019-05-04 14:59] vfdev-5 commented on #512
@y0ast should we still compute a `loss_fn` on a single entry ?
https://github.com/pytorch/ignite/blob/fc85e25dc4f938d780b4c425acb2d40f6cac6f24/ignite/metrics/loss.py#L44

[2019-05-04 15:47] philip-bl commented on #202
@vfdev-5 [bbbc018_v1](https://data.broadinstitute.org/bbbc/BBBC018/)

[2019-05-04 16:01] vfdev-5 commented on #202
@philip-bl, ok, go ahead, send a PR and then let's discuss how to make it useful. You can provide a script example or notebook, as you like

[2019-05-06 15:30] aktgpt opened #518 "Removing tensorboardX dependency for tensorbord_logger"
Hi,
As pytorch now supports tensorboard, wouldn't it be a good idea to remove tensorboardX dependency from the contrib module?

[2019-05-06 15:33] vfdev-5 commented on #518
@aktgpt haven't use it yet, but saw some issues with. Maybe we can wait a bit until torch TB becomes more stable...

[2019-05-07 17:45] y0ast commented on #512
In my case, `y_pred` is batch size by 1. So my loss function is just `torch.mean` to average over the batch.

It's a bit ugly to call that a loss function, so perhaps a different metric is a good idea after all.

[2019-05-07 21:39] vfdev-5 opened #519 "Improve OutputHandler's API"
Following a dicsussion from the slack:

cc @thomwolf

[2019-05-08 14:39] TheCodez opened #520 "Add mAP metric for object detection"
It would be a good idea to add a mAP metric which is often used in object detection. For this the newly added [IoU](https://github.com/pytorch/vision/blob/master/torchvision/ops/boxes.py#L102-L124) function from torchvision could be used.

[2019-05-09 08:51] vfdev-5 commented on #520
@TheCodez yes, that's can be a good idea. If you would like to contribute, it would be 👍

[2019-05-09 14:28] roytseng-tw opened #521 "Bug in ConfusionMatrix"
When passing in the groundtruth `y` with the format of `shape (batch_size, num_categories, ...) and contains ground-truth class indices`, flattened one-hot encoding tensor `y_ohe_t` will result in wrong order with respect to that of prediction. https://github.com/pytorch/ignite/blob/fc85e25dc4f938d780b4c425acb2d40f6cac6f24/ignite/metrics/confusion_matrix.py#L79-L80

https://github.com/pytorch/igni

[2019-05-09 14:40] vfdev-5 commented on #521
@roytseng-tw seems like it is a bug and there is no test for these cases. Thanks for reporting !

[2019-05-09 14:43] vfdev-5 commented on #521
If you would like to contribute to ignite and send a PR with a fix (and a test), it would be awesome 🎉

[2019-05-09 22:23] #521 closed

[2019-05-10 14:40] TheCodez commented on #520
@vfdev-5 I have some code [here](https://github.com/TheCodez/pytorch-box2pix/blob/jit/metrics/mean_ap.py). It's probably not even working but maybe it can be used as a starting point. I don't think I can get this finished so it would be awesome if someone else could contribute here :)

[2019-05-12 07:53] vfdev-5 commented on #301
I think we can close this one. If there are any other suggestions to plot metrics, please open another issue.

[2019-05-12 07:53] #301 closed

[2019-05-12 09:21] anmolsjoshi commented on #501
@Mxbonn thanks for bringing this up. I would like to get more information on this issue. See code below

[code]

CustomPeriodicEvent handles this in some manner. Does this work for you? Would appreciate if you provide an example, if it does not.

[2019-05-12 10:38] Mxbonn commented on #501
@anmolsjoshi I guess in my use case I could use something like `CustomPeriodicEvent`. However I believe it makes sense to add functionality to map new events to new attributes.

In my case I have a custom Engine which uses an extra outer loop, so you have `inq_iterations`, `epochs` and `iterations`.

[code]

I think it would make sense to add an optional event_to_attrib dictionary mapping to the `

[2019-05-12 14:24] vfdev-5 commented on #501
@Mxbonn yes, that makes sense. We talked with @anmolsjoshi and supposed that this issue is about to include some optional `event_to_attrib` mapping to `register_events`. So, your example confirms our assumption.

[2019-05-13 06:16] #501 closed

[2019-05-13 10:23] vfdev-5 commented on #501
@Mxbonn we merged to the master a PR that fixes this issue. However, it would be good to hear from you whether it work for you. Thanks :)

[2019-05-13 19:50] #512 closed

[2019-05-14 01:59] #517 closed

[2019-05-14 08:16] jiangxiluning opened #526 "[BUG] missing key "percentage" with progressbar handler"
when iteration compeled, tqdm claimed the "percentage" keyerror.

ignite == 0.2.0
tqdm == 4.32.1

[2019-05-14 08:26] #526 closed

[2019-05-14 13:13] vfdev-5 opened #527 "[Docs] Provide TOC for core metrics"
Currently, as there is a lot of different core metrics provided : https://pytorch.org/ignite/master/metrics.html a Table of Content is missing for better navigation.

[2019-05-14 22:43] anmolsjoshi commented on #519
@vfdev-5 here is code I mentioned on slack - https://github.com/anmolsjoshi/ignite/blob/tensorboard_fix/ignite/contrib/handlers/base_logger.py#L30-L55

In this branch, I have updated mnsit_with_tensorboard_logger.py to evaluate at CustomPeriodicEvent at every 500 iterations.

Thoughts?

Edge cases?

[2019-05-20 05:47] philip-bl opened #528 "`Engine` should have events `BatchLoaded` and `BatchPrepared`"
My use case is that I want to log inputs or some statistics of theirs which my model receives to make sure that I haven't messed up.

Currently if I use `create_supervised_trainer` and `create_supervised_evaluator`, I can do this by passing `prepare_batch` argument to them which does the logging. But I don't like the fact that this requires me to create tensorboard logger before creating trainer a

[2019-05-20 07:01] philip-bl commented on #528
Also I think `prepare_batch` argument in `create_supervised_*` should be a function that takes only batch as argument, without arguments `device` and `non_blocking`, because if an engine is created via `create_supervised_*`, its `device` and `non_blocking` properties don't change in the middle of the program.

[2019-05-20 11:24] vfdev-5 commented on #528
@philip-bl what do you think about that these events `BatchLoaded` and `BatchPrepared` can be custom for your engine ?

I see, more or less, your point about logging the input batch data. This can be done in various manner, for example:
[code]

Tell me if it works for you.

[2019-05-20 13:25] philip-bl commented on #528
@vfdev-5 AFAIK, if `update` returns such dict, I will need to pass `output_transform` to all the loss objects and metric objects. I think that's a suboptimal solution.

Sure, I can write my own engine, I guess. But I think logging inputs is a pretty useful and somewhat commonly used piece of functionality, e.g. Karpathy recommends doing that https://karpathy.github.io/2019/04/25/recipe.

Personall

[2019-05-20 14:18] vfdev-5 commented on #528
@philip-bl I see, yes that's correct about `output_transform`.

However I do not completely understand the purpose of batch prepared ? Function `prepare_batch` is just moving data to GPU etc.

Actually, there is maybe another more simple way to intercept the batch as it is stored in `state.batch` :
https://github.com/pytorch/ignite/blob/6b3244265a35b1cac77893c18a78ddd6688f5775/ignite/engine/engine

[2019-05-20 14:20] yuliuyu opened #529 "ValueError: Object should have `state_dict` method."
hi，when I train your reid_baseline model ,I met a error that I can't solve. the error is as follows:

Traceback (most recent call last):
  File "/home/lc/Desktop/reid_baseline/tools/train.py", line 87, in <module>
    main()
  File "/home/lc/Desktop/reid_baseline/tools/train.py", line 83, in main
    train(cfg)
  File "/home/lc/Desktop/reid_baseline/tools/train.py", line 46, in train
    num_query

[2019-05-20 14:25] philip-bl commented on #528
Oh, I didn't know the batch is saved there. That makes everything easier, thanks for the info.

[2019-05-20 14:25] #528 closed

[2019-05-20 14:31] vfdev-5 commented on #529
@yuliuyu can you provide a snippet of which objects you are trying to save ?
Take a look at the doc of [ModelCheckpoint](https://pytorch.org/ignite/handlers.html#ignite.handlers.ModelCheckpoint), argument `save_as_state_dict` and the example of usage. Maybe this can help.

[2019-05-20 15:21] vfdev-5 opened #530 "Tensorboard logger won't work with tensorboardX 1.7 (latest release)"
New release of tensorboardX 1.7 has some [breaking changes](https://github.com/lanpa/tensorboardX/pull/422/files#diff-0900f72201599ce7d24575f21ca88a85) that will result in a bug of `TensorboardLogger` init : https://travis-ci.org/pytorch/ignite/jobs/534870310#L2664

[2019-05-21 04:31] yuliuyu commented on #529
/home/lc/Desktop/Screenshot from 2019-05-21 12-30-54.png

[2019-05-21 04:34] yuliuyu commented on #529
![Screenshot from 2019-05-21 12-30-54](https://user-images.githubusercontent.com/44492204/58068586-7946cb80-7bc4-11e9-8f91-78c247b7142f.png)

[2019-05-21 07:27] vfdev-5 commented on #529
@yuliuyu unfortunately, this image wont help. Can you provide the code you are running ?

[2019-05-21 07:41] yuliuyu commented on #529
hi，here are  the code link   [https://github.com/L1aoXingyu/reid_baseline.git](url)  ,I thought you write the project

[2019-05-21 08:11] vfdev-5 commented on #529
@yuliuyu your problem is here: https://github.com/L1aoXingyu/reid_baseline/blob/852bb8ae8bd6635527e5a39609f8beed81be26c0/engine/trainer.py#L108-L109

Change it to this and it should be fine:
[code]

[2019-05-21 08:17] yuliuyu commented on #529
thank you for your help ,  I will try

[2019-05-21 14:26] #519 closed

[2019-05-21 15:48] #527 closed

[2019-05-22 09:08] vfdev-5 commented on #529
@yuliuyu i'll close the issue as resolved, if you still experience an issue, please feel free to reopen it

[2019-05-22 09:08] #529 closed

[2019-05-22 22:15] g-karthik opened #534 "TypeError: __init__() got an unexpected keyword argument 'log_dir'"
**Machine**: Amazon EC2 Deep Learning AMI (pytorch_p36 environment)

I have a training script that is trying to create a `TensorboardLogger`, but that is failing with the below stacktrace. I have pip installed the latest version of ignite.

[code]

Could you please explain why this is happening and what I can do to fix it? Thanks!

[2019-05-22 22:17] vfdev-5 commented on #534
@g-karthik this is due to the newest tensorboardX release 1.7, https://github.com/pytorch/ignite/issues/530
Either install tensorboardX < 1.7 or install ignite from master, we fixed that recently.
HTH

[2019-05-22 22:32] g-karthik commented on #534
Awesome, thanks @vfdev-5!

For others blocked on the same issue right now and unwilling to wait until the fix is in PyPI, do:
[code]

Able to successfully create a `TensorboardLogger` now.

[2019-05-22 23:07] g-karthik commented on #534
[code]

It looks like the `SummaryWriter` changes aren't in master yet?

[2019-05-23 00:21] g-karthik commented on #534
Okay never mind, I see that I have to install tensorboardX from master too. Works now.

[2019-05-23 00:21] #534 closed

[2019-05-26 23:16] vfdev-5 opened #536 "CI fails with torchvision 0.3.0"
Currently, CI fails when running example that depend on torchvision. The later try to import CUDA library which is absent on travis: https://travis-ci.org/pytorch/ignite/jobs/537516166#L1411

We need to investigate whether it is our bug or torchvision one.

[2019-05-26 23:21] vfdev-5 commented on #536
Solution is given [here](https://github.com/pytorch/vision/issues/946): we need to install `torchvision-cpu` instead

[2019-05-26 23:51] #536 closed

[2019-05-27 14:50] UltraSpecialException commented on #534
Hi @g-karthik, I am running into the problem you got here

I have already uninstalled tensorboardX and installed it again using the commands you gave above. What do you mean installing tensorboardX from master?

Thanks

[2019-05-27 14:52] vfdev-5 commented on #534
Probably,
[code]

[2019-05-27 14:59] UltraSpecialException commented on #534
I did that, but still am encountering the problem. I reverted my tensorboardX to 1.6, I think it's fixing the problem.

[2019-05-27 15:01] vfdev-5 commented on #534
@UltraSpecialException did you installed ignite from master too ?
[code]

[2019-05-27 15:39] UltraSpecialException commented on #534
Yeah, I did ran

I'm not sure if your modules are compatible with Python3 or not. But I assume it should, since, if you're wondering I'm trying to run the script found [here](https://github.com/huggingface/transfer-learning-conv-ai/blob/master/train.py). Which uses Python3, since I believe Python2 doesn't allow the call .copy() on a list (line 77) of the script.

[2019-05-27 15:52] vfdev-5 commented on #534
@UltraSpecialException I think the code you are trying to use:
https://github.com/huggingface/transfer-learning-conv-ai/blob/b7f295f840f719056287504554083ec3f2688651/train.py#L234
is working with tensorboardX < 1.7 since tensorboardx master SummaryWriter has attribute `logdir` instead of `log_dir`...
https://github.com/lanpa/tensorboardX/blob/3e35c9b5f85e8ceb0294532d9eb772341a04c097/tensorboardX/w

[2019-05-27 15:55] UltraSpecialException commented on #534
Ah I see, so I suppose installing an older version of ignite was the approach. Thank you!

[2019-05-27 16:22] UltraSpecialException opened #538 "TypeError: type object got multiple values for keyword argument 'logdir'"
gives the following error:

This also happens when I run

However, when I do don't put in logdir=log_dir, and simply pass in log_dir, it works fine.

I was looking to see if there's any conflicting reference with `self` or anything like that, but it doesn't seem like that's the problem, since all the `self`'s seem to be in place, so I'm not sure.

Any ideas?

ignite version: 1.1.0
tensorboard vers

[2019-05-27 16:35] vfdev-5 commented on #538
Could you please detail ignite and tensorboard versions you have?

[2019-05-27 16:39] UltraSpecialException commented on #538
Please check out my updated question. I've included the versions.

[2019-05-27 16:50] vfdev-5 commented on #538
@UltraSpecialException unfortunately, ignite latest pypi/conda version is still 0.2.0. So I suppose you mean pytorch `1.1.0`. My question is whether you installed ignite from master or the latest release?

[2019-05-27 16:52] UltraSpecialException commented on #538
@vfdev-5 My bad, I was looking at another ignite, my pytorch-ignite is indeed 0.2.0.

[2019-05-27 17:15] vfdev-5 commented on #538
@UltraSpecialException I can not reproduce your problem:
[code]
and
[code]
Please, check your dependencies or tell me if I'm missing something ?

[2019-05-27 17:31] UltraSpecialException commented on #538
I think the problem is in `self.writer = SummaryWriter(logdir=log_dir)` in `tensorboard_logger.py` (line 408 in the class TensorboardLogger). `logdir` should be `log_dir`(since the class SummaryWriter has parameter `log_dir`, not `logdir`).

[2019-05-27 17:56] vfdev-5 commented on #538
@UltraSpecialException it depends on the version of installed tensorboardX. In 1.6 it is `log_dir` and since 1.7 it is `logdir`.

[2019-05-27 18:00] vfdev-5 commented on #538
I think we need handle both version for instance until 0.3.0. So we need to intercept the exception
[code]
and raise a warning saying to update to tensorboardX==1.7 and setup `self.writer` with another argument.

[2019-05-29 03:05] roholazandie commented on #538
I had the same problem. This fixed the issue for me:.

`pip uninstall pytorch-ignite
pip uninstall tensorboardX
pip install pytorch-ignite==0.2.0
pip install tensorboardX==1.6`

[2019-05-31 07:01] #538 closed

[2019-06-01 02:27] g-karthik opened #540 "TypeError: __new__() got an unexpected keyword argument 'serialized_options'"
Steps to reproduce:

1. pip install --upgrade git+https://github.com/pytorch/ignite.git
2. pip install  --upgrade  git+https://github.com/lanpa/tensorboardX.git
3. Open Python in the terminal and do the following:

[code]

cc @vfdev-5

[2019-06-01 03:03] g-karthik commented on #540
Okay, after a bit of messing around, I found that I had to uninstall protobuf and then install tensorboardX and ignite from master. Consequently, when I installed tensorboardX, it did a fresh install of protobuf from PyPI.

[code]

[2019-06-01 03:03] #540 closed

[2019-06-02 00:47] vfdev-5 opened #541 "Possibly a bug when try to simulate lr scheduling values"
The following code fails:
[code]
with the error
[code]

In this case optimizer has a real model inside.

[2019-06-02 11:20] vfdev-5 commented on #541
Another observation: we need to multiply by 1.25 `warmup_end_value` in order to end the warmup with `warmup_end_value` value. This should be fixed.

[2019-06-06 17:02] TheCodez opened #543 "Problem with IoU"
I'm training a FCN on the Cityscapes dataset. All ignored classes are mapped to 255. This works perfectly fine for the loss function using ignore_index.

Using the Ignite IoU metric however results in this error:

```/pytorch/aten/src/THC/THCTensorScatterGather.cu:188: void THCudaTensor_scatterFillKernel(TensorInfo<Real, IndexType>, TensorInfo<long, IndexType>, Real, int, IndexType) [with IndexTyp

[2019-06-06 18:56] vfdev-5 commented on #543
@TheCodez thanks for the report! Yes, that's can be a problem if we would like to ignore an index that is not contigous... In the docs I think we mentioned that https://pytorch.org/ignite/master/metrics.html#ignite.metrics.ConfusionMatrix

But I agree that such flexibility could be helpful

[2019-06-07 06:39] TheCodez commented on #543
@vfdev-5 it seems that the [torchvision](https://github.com/pytorch/vision/blob/master/references/segmentation/utils.py#L75-L117) implementation doesn't have this limitation.

[2019-06-07 10:25] vfdev-5 commented on #543
@TheCodez yes, I saw that they compute it too, but didn't inspect in details. It seems that if target is outside `num_classes` it is ignored as we may wish but there is no explicit definition of ignored indices... Maybe we could produce something in between... If you would like to send a PR, you're welcome !

[2019-06-07 10:40] TheCodez commented on #543
@vfdev-5 I will create a pull request for it :+1

[2019-06-13 14:50] vfdev-5 opened #545 "LR scheduling with Nvidia/APEX"
Probably, since https://github.com/NVIDIA/apex/pull/310 optimizer's param group is replaced and ignite's contrib lr schedulling is not applied to the actual param group.

[code]

[2019-06-14 13:16] honghanchenchh opened #546 "Any one can show a ignite example with custom dataset?"
In some time,  my custom dataset  __getitem__ function return 3 values with img,path,label

[2019-06-14 13:21] vfdev-5 commented on #546
@honghanchenchh no problems with custom datasets. Just define your update function that passed to `Engine` and that's it. Take a look here: https://github.com/pytorch/ignite/blob/master/examples/notebooks/CycleGAN.ipynb

[2019-06-14 13:38] honghanchenchh commented on #546
@vfdev-5
Thank you very much!

[2019-06-14 14:04] vfdev-5 commented on #546
@honghanchenchh you're welcome! I let you close the issue if it answers your question.

[2019-06-15 16:44] jayleverett opened #547 "Compute metrics on "slices" of the data?"
A nifty feature in Tensorflow Model Analysis is the ability to [compute metrics on slices of a dataset](https://www.tensorflow.org/tfx/guide/tfma#slicing_metrics_tab).

Is this sort of thing possible with Ignite?

[2019-06-15 17:16] vfdev-5 commented on #547
@jayleverett interesting feature, however it is not very clear how these slices are chosen.
Actually, ignite can compute metrics on provided data loader (by defining an evaluator with attached metrics). If a data loader can be configured such that it could provide different slices of the full dataset, than ignite can compute metrics per slice...

[code]

[2019-06-17 10:00] #546 closed

[2019-06-25 08:14] ANUBHAVNATANI commented on #367
@anmolsjoshi  I am interested in working on FashionMNIST notebook or other such basic neural network notebooks. I want to contribute to open source. I think this would be a good start. Please suggest any other good first issues if this is not available.

[2019-06-25 19:16] anmolsjoshi commented on #367
@ANUBHAVNATANI please go ahead and work on FashionMNIST, and send in a PR. Let us know if you have any questions

[2019-06-26 05:34] ANUBHAVNATANI commented on #367
Thanks for the response, I have started working on the project.

[2019-06-26 15:32] ANUBHAVNATANI commented on #367
@anmolsjoshi  I had completed the notebook can I directly make a pull request to master or I have to do something else.

[2019-06-26 16:15] vfdev-5 commented on #367
@ANUBHAVNATANI yes you can create a PR to master and we'll review it. Thanks

[2019-06-26 17:08] ANUBHAVNATANI commented on #367
@vfdev-5 @anmolsjoshi  I had made the pull request #549 for the Fashion MNIST dataset.

[2019-06-27 16:08] TheCodez opened #550 "Improve ModelCheckpoint naming"
The checkpointer currently appends the epoch/iteration to the filename. However this number is reset when resuming a training from a checkpoint.
This is really annoying when say for example the last checkpoint is named ```checkpoint_60.pth```, then training is stopped and later resumed. The next checkpoint will then be named ```checkpoint_1.pth```.

A solution might be to add a ```global_step_tran

[2019-06-27 16:36] vfdev-5 commented on #550
@TheCodez yes I agree that we need improve `ModelCheckpoint`. Recently I worked on #387 and a flexibility is lacking in this class... That's true that in "resume" use case that internal counter inside ModelCheckpoint is not restored and this is bad.

[2019-06-29 16:25] vfdev-5 commented on #367
I'll close this issue as we have already 5 tutorial notebooks with Ignite usage. I think it is OK for this issue.

[2019-06-29 16:25] #367 closed

[2019-06-29 17:39] henrique commented on #78
Hey guys, I'm trying to understand what happened to the metrics history. Is it stored anywhere currently? or what is the best way for storing all validation scores during training?
Thanks for the good work!

[2019-06-29 17:48] vfdev-5 commented on #78
Hey @henrique , yes, now metrics history is not stored by engine's state. I would say the best way to keep it available is to log it : print, tensorboardx, write into file or any long-term living variable to plot, ...).
Take a look at our [notebook examples](https://github.com/pytorch/ignite/tree/master/examples/notebooks):
- log to TensorboardX: EfficientNet_Cifar100_finetuning or CycleGAN
- log

[2019-07-01 12:26] kilsenp commented on #526
I have the same problem, did you find a solution?

[2019-07-01 13:03] vfdev-5 commented on #526
@kilsenp please provide the code with the problem. Otherwise try to install ignite from master:
[code]

[2019-07-01 13:12] kilsenp commented on #526
I found the issue, it happens when the dataloader takes more iterations than originally specified.

If there are more iterations, no total will be set
https://github.com/tqdm/tqdm/blob/master/tqdm/_tqdm.py#L322

so that this branch is executed and no percentage is calculated:
https://github.com/tqdm/tqdm/blob/master/tqdm/_tqdm.py#L452
The bar format however still always requires percentage in the

[2019-07-01 13:23] vfdev-5 commented on #526
@kilsenp thanks for the details! Yes, I think this is out of scope of ignite. I labelled this issue as question so that it'll help other users.

[2019-07-01 13:33] jiangxiluning commented on #526
@kilsenp try with lower version of tqdm

[2019-07-05 09:19] hust-kevin opened #551 "how to custom metric, such as kappa"

[2019-07-05 09:35] vfdev-5 commented on #551
@hust-kevin could you provide a detailed definition of this metric ?

[2019-07-05 09:41] hust-kevin commented on #551
@vfdev-5  I want to metric the Quadratic Weighted Kappa on the validation set,  sklearn has method [sklearn.metrics.cohen_kappa_score](https://docs.w3cub.com/scikit_learn/modules/generated/sklearn.metrics.cohen_kappa_score/) to compute it, ,but i don't kown how to use it in ignite
but

[2019-07-05 09:49] vfdev-5 commented on #551
@hust-kevin there are two ways to do this. If in your case it is possible to store whole history of `y1` and `y2` (as defined in sklearn `sklearn.metrics.cohen_kappa_score(y1, y2, labels=None, weights=None, sample_weight=None)`), then you can use [`EpochMetric`](https://pytorch.org/ignite/metrics.html#ignite.metrics.EpochMetric) with defined `compute_fn` as in the case of [`AveragePrecision`](http

[2019-07-05 12:20] hust-kevin commented on #551
thanks, I solved it !

[2019-07-05 12:20] #551 closed

[2019-07-09 08:54] jhxing commented on #529
Hello， I got the same issue as mentioned, and I tried your solution above, still, the issue is there.  What should I do next to solve this issue ?

[2019-07-09 09:07] vfdev-5 commented on #529
@jhxing could you please post your code that produce the issue, such that I could inspect the problem.

[2019-07-09 10:43] jhxing commented on #529
I used the code "Experiment-all_tricks-tri_center-market.sh" in the program and I modified the code to:

`CUDA_VISIBLE_DEVICES=1 python3 tools/train.py --config_file='configs/softmax_triplet_with_center.yml' MODEL.DEVICE_ID "('0')" DATASETS.NAMES "('market1501')"  DATASETS.ROOT_DIR "('/home/smc/hongxing/data')" OUTPUT_DIR "('/home/smc/hongxing/re_ID/reid-strong-baseline/market1501/Experiment-all-t

[2019-07-09 11:25] vfdev-5 commented on #529
@jhxing as far as I understand this is an issue of `re_ID` code. Please update this code according to above comment : https://github.com/pytorch/ignite/issues/529#issuecomment-494287537

[2019-07-09 11:29] jhxing commented on #529
Thank  you  for  your  advice , I tried  this  solution , still  the  same  issue  happened .
Are  there  any  other  solutions ？

[2019-07-09 12:12] vfdev-5 commented on #529
@jhxing it is very difficult to inspect your problem without seeing the exact code. When I see the actual code of `reid_baseline`:
https://github.com/L1aoXingyu/reid_baseline/blob/852bb8ae8bd6635527e5a39609f8beed81be26c0/engine/trainer.py#L108-L109
it still uses wrong API, but should be
[code]

[2019-07-10 02:01] jhxing commented on #529
Thank you for your patience, I will show my code below (/engine/trainer.py):
`    #trainer.add_event_handler(Events.EPOCH_COMPLETED, checkpointer, {'model': model.state_dict(),
    #                                                                 'optimizer': optimizer.state_dict()})
    trainer.add_event_handler(Events.EPOCH_COMPLETED, checkpointer, {'model': model, 'optimizer': optimizer})`

And

[2019-07-10 08:04] vfdev-5 commented on #529
@jhxing what is exactly `Experiment-all_tricks-tri_center-market.sh` script and which code it executes ?

[2019-07-10 08:27] jhxing commented on #529
It is a code about training Re ID models, I download this form the github [https://github.com/michuanhaohao/reid-strong-baseline](url).  And in the  "/engine/trainer.py" , I have fix the code line you mentioned above. And the errors I can post below:
`Traceback (most recent call last):
  File "tools/train.py", line 158, in <module>
    main()
  File "tools/train.py", line 154, in main
    train(cf

[2019-07-10 10:18] vfdev-5 commented on #529
@jhxing did you change the code here ?
https://github.com/michuanhaohao/reid-strong-baseline/blob/da3f2fea1a183d125f3009f9269759a8bd474830/engine/trainer.py#L238
[code]

[2019-07-11 06:27] parulML opened #552 "Printing loss after every batch"
I want to print loss after completion of every batch and I am using below code for the same but it's not working the way I am expecting. Can anyone please suggest me that what am I doing wrong.

Thanks in advance.

[code]

[2019-07-11 09:35] jhxing commented on #529
No, I did not changed code here, so , what should I do ? What should I changed this line to ?

[2019-07-11 10:01] vfdev-5 commented on #552
@parulML if you would like to print training batch loss during the training phase this can be done as
[code]
More on the conepts can be found [here](https://pytorch.org/ignite/concepts.html)
If you would like to log batch output with tqdm or tensorboard logger, please take a look at
- https://pytorch.org/ignite/contrib/handlers.html#module-ignite.contrib.handlers.tqdm_logger
- https://pytorch.org/

[2019-07-11 10:03] vfdev-5 commented on #529
@jhxing you need to remove `.state_dict()`
[code]

[2019-07-11 10:22] jhxing commented on #529
Thank you for your patient help, I will try it. Thank you angin !

[2019-07-14 12:05] budui opened #553 "support for torch.utils.tensorboard when using `tensorboard_logger`"
With PyTorch 1.1.0, TensorBoard is now [natively supported](https://pytorch.org/docs/stable/tensorboard.html) in PyTorch.

Can we add a new option to switch `torch.utils.tensorboard` or `tensorboardX`?

I found that `tensorboard_logger` only need `SummaryWriter` to implement `add_histogram` and `add_scalar`. It seems that we can just import `torch.utils.tensorboard` when import tensorboardX failed

[2019-07-14 12:40] vfdev-5 commented on #553
@budui yes, such switch seems ok. If you would like to send a PR for this, it could be helpful. We need however to ensure that the tests are passing for both options.

[2019-07-14 13:43] vfdev-5 commented on #518
I'll close this issue in favor of #553

[2019-07-14 13:43] #518 closed

[2019-07-15 07:58] leomao opened #554 "`type_as` will not move Tensor to the same device"
In some metrics, we use `type_as` to change the data type of tensors. But `type_as` does not move the tensor to the same device.
https://github.com/pytorch/ignite/blob/c92838c950699839c37f57bb50f79f84ecb71fc3/ignite/metrics/confusion_matrix.py#L73-L90
In the code above,  if `y` is on a non-default cuda device, then `confusion_matrix` will be move to the  **default** cuda device at line 87. This ma

[2019-07-15 10:17] vfdev-5 commented on #554
@leomao thanks for the feedback. Yes, we need to reconsider ingite metrics for distributed configuration. Concerning confusion metrics implementation, probably we need to follow the code similar as in torchvision, see https://github.com/pytorch/ignite/issues/543

[2019-07-15 14:30] Vietdung113 commented on #551
can u push your solution?
i still don't know how to do that?

[2019-07-16 23:44] szhang104 opened #555 "y and y_pred shape error in _BaseClassification._check_shape()"
Hello,

In a single-label, multiple-class classification task, suppose my model gives the output logits `y_pred` of shape (batch, num_classes, 1) and the correct results are `y` of shape (batch, 1), which are the integer labels, then the _check_shape() gives an error
`y must have shape of (batch_size, ...) and y_pred must have "
                             "shape of (batch_size, num_categories, .

[2019-07-17 06:35] vfdev-5 commented on #555
@szhang104 thanks for the feedback! Yes, your input shapes seems to be not correctly covered by `Accuracy`.
A solution can be to provide `output_transform` function to get rid of these extra dimensions of size 1:
[code]

HTH

[2019-07-17 15:23] szhang104 commented on #555
Thanks for the comment.
Is there a plan to change the squeezing logic to accommodate user input shapes like reported?

[2019-07-17 15:30] vfdev-5 commented on #555
@szhang104 yes, I think we need to review this logic

[2019-07-19 04:12] hust-kevin opened #559 "how to use early stop and lr Schedule"

[2019-07-19 04:13] hust-kevin opened #560 "how to use early stop and lr schedule?"
hi, can you give me a example how to use early stop and lr schedule (I want to set new_lr=lr*0.1 after per 10 epoch)

[2019-07-19 04:14] #559 closed

[2019-07-19 06:50] vfdev-5 commented on #560
Hi @hust-kevin,

the following code does Early Stopping on a monitored validation metric:
[code]
For a complete example, take a look at : https://github.com/pytorch/ignite/blob/master/examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb

For LR scheduling you have two possibilities:
a) use torch lr schedulling
b) use ignite param schedulling (use with care in case of mixing with NVidia/APEX,

[2019-07-19 06:52] vfdev-5 commented on #552
@parulML I close the issue as answered. Feel free to reopen if you still have a trouble with this answer. Thanks

[2019-07-19 06:52] #552 closed

[2019-07-20 09:26] andreydung opened #561 "Accumulate output of .run()"
Thanks for the useful library.

Currently for validation I'm implementing the following for loop:

[code]

`Evaluator` is a custom class which receives pred/target in batches, accumulate them and then perform metric calculations and generate predictions as pandas dataframe.

I'm wondering how could I use ignite to represent this? My current approach is:

[code]

I wasn't able to figure out how to

[2019-07-20 10:27] vfdev-5 commented on #561
@andreydung thanks for the feedback!

Your current implementation can be ported to ignite in several ways:

1) Rewrite your custom `Evaluator` as `ignite.metrics.Metric`.
If I understand correctly, your custom `Evaluator` class is a sort of metric computation class. In ignite we have `Metric` abstraction for that and it works as following: a) `reset` internal accumulator state,  b) `update((y_pred

[2019-07-20 12:42] hust-kevin commented on #560
@vfdev-5  thanks for your reply, if I want to to print current lr in very iteration, how can I get the current lr?

[2019-07-20 12:52] vfdev-5 commented on #560
@hust-kevin this can be simpy done checking lr value from optimizer:
[code]

For more details how this can be simply done with Tensorboard logger, take a look here :  https://pytorch.org/ignite/v0.2.0/_modules/ignite/contrib/handlers/tensorboard_logger.html#OptimizerParamsHandler

[2019-07-20 12:59] hust-kevin commented on #560
thanks

[2019-07-20 12:59] #560 closed

[2019-07-20 13:01] vfdev-5 commented on #561
@andreydung I close the issue as answered. Feel free to reopen if you still need a support this.

[2019-07-20 13:01] #561 closed

[2019-07-20 14:12] vfdev-5 commented on #561
@andreydung this can be done directly if `compute_metrics` is in the same scope as `trainer` :
[code]

if it is not the case, you can pass `trainer` as an argument to the handler. See here: https://pytorch.org/ignite/v0.2.0/engine.html#ignite.engine.Engine.add_event_handler

[2019-07-29 11:29] vfdev-5 opened #564 "BaseOutputHandler plots all available metrics"
Idea is to improve loggers in a way that any OutputHandler accepts `metric_names='all'` to plot all provided metrics (by `engine.state.metrics`):
[code]

[2019-07-29 12:54] #564 closed

[2019-07-29 23:07] #555 closed

[2019-07-30 01:03] anmolsjoshi commented on #541
@vfdev-5 could you provide some more code to reproduce this issue?

[2019-07-30 08:49] vfdev-5 commented on #541
@anmolsjoshi following snippet should reproduce the error:
[code]

[2019-07-30 12:25] vfdev-5 opened #566 "Add GPU memory consumption as metric"
Idea is to provide used GPU max memory during the engine run.
For example,
[code]
with output
[code]

However wrapping the handler into a class as `RunningAverage`

[2019-07-30 13:16] vfdev-5 opened #568 "Adapt metrics to be used with distributed"
Idea is to ensure that metrics computation works correctly on multiple GPUs.

[2019-07-30 15:05] hust-kevin opened #570 "how to use swa in ignite?"
hi, swa is supported by pytorch,https://pytorch.org/blog/stochastic-weight-averaging-in-pytorch/

how can i use it in ignite?

[2019-07-30 15:09] vfdev-5 commented on #570
Hi, I tried this rapidly [here](https://github.com/vfdev-5/UDA-pytorch/blob/master/code/main.py#L186) but not sure whether it is correctly used.

[2019-07-31 01:34] anmolsjoshi commented on #541
@vfdev-5 updating [this line of code](https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/param_scheduler.py#L490) to the code below seems to resolve the issue and the tests are still passing.

Do you know if this correctly resolves the issue? I don't want things to silently fail.

[code]

[2019-07-31 01:35] anmolsjoshi commented on #541
Could you clarify [this comment](https://github.com/pytorch/ignite/issues/541#issuecomment-498022062) further?

[2019-07-31 06:29] hust-kevin commented on #570
thanks, I will try it , if I use automatic  mode,https://github.com/vfdev-5/UDA-pytorch/blob/master/code/main.py#L192
the update_swa function may not need?

[2019-07-31 07:00] vfdev-5 commented on #541
@anmolsjoshi, the only problem I feel with this fix
[code]
is that we pass the real model's parameters to the replicated optimizer and lr scheduler. Maybe the thing wont work if there more than 1 `param_groups` ?

I was thinking about whether the following line is really necessary :
https://github.com/pytorch/ignite/blob/c5dda81be18cc938ba8f1e96dde4eb7b05730ca6/ignite/contrib/handlers/param_schedu

[2019-07-31 10:01] hust-kevin commented on #570
hi, @vfdev-5 I try your code, there is no error,but after swa, there is no final weight generate! maybe should add code to save the final weight??

[2019-07-31 10:17] vfdev-5 commented on #570
@hust-kevin please feel free to add or modify that code as you wish. As I said I'm not sure whether SWA works correctly in that code. I have not much time to recheck this.

[2019-08-02 03:56] anmolsjoshi commented on #541
@vfdev-5 commenting that line out caused other tests to fail. [This error](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L24-L25) is being raised.

[2019-08-02 07:04] vfdev-5 commented on #541
@anmolsjoshi this should check this condition:
https://github.com/pytorch/ignite/blob/c5dda81be18cc938ba8f1e96dde4eb7b05730ca6/ignite/contrib/handlers/param_scheduler.py#L435

I agree that it would be better to write it as :
[code]

[2019-08-02 07:23] vfdev-5 commented on #554
@leomao I'm working on adapting all metrics to handle distributed computations when val/test data is sampled with pytorch DistributedSampler. Could you please provide some more info in which case you have `y` to be on a non-default cuda device ? Thanks

[2019-08-04 04:23] leomao commented on #554
Actually, it was my friends who encountered this problem.  AFAIK, they have computers with multiple GPUs and they manually use a device id like 'cuda:1' to specify which GPU they want to use.  I am not sure if they are trying to use multiple GPUs at the same time.  But I think this problem is still a valid issue.

[2019-08-04 08:03] vfdev-5 commented on #554
@leomao okay, I see, thank you. Yes, you  are  right, we need to handle properly the devices. I pushed #572 PR which should fix this. And more generally there is work to adapt metrcs to distributed settings, #573

[2019-08-04 09:38] hust-kevin opened #574 "how to progressive image size with train epoch"
I want to know how to use diffierent image size with train epoch?

in ingite, use `trainer.run(train_loader, max_epochs=epochs)`to train,however image size is decided in train_loader, how to dynamic change the image size in ignite?

[2019-08-04 09:38] #570 closed

[2019-08-04 10:41] vfdev-5 commented on #574
@hust-kevin maybe this can be done like that:

[code]

I've just created a draft PR #575 to make this without rewriting `update`:
[code]

[2019-08-04 23:02] #543 closed

[2019-08-06 03:37] sshleifer opened #577 "Possible to use ignite for training but not eval?"
I am using ignite for my training engine, and just want to run a custom evaluation function on some data that ignite shouldn't care about once after every epoch.
something like

trainer.

`trainer.add_event_handler(Events.EPOCH_COMPLETED, run_eval)`
where run_eval has no arguments.

1) What is the correct way to do this?
2) Additionally, is it possible to have training run on multiple GPUs but my

[2019-08-06 09:03] vfdev-5 commented on #577
@sshleifer if you could give more details on what you would like to do in `custom evaluation function` and whole the training pipeline. If this `run_eval` is standalone and does not need to iterate over batches etc. So, yes, call it as I suggested
[code]

In this case your model should not be DDP, right ?
if it is the case, you can just specify it with `dist.get_rank() == 0` and tell other GPUs to

[2019-08-06 22:20] williamFalcon commented on #434
@dyngts Check out PyTorch Lightning as well. Comes with a lot of advanced fewtures out of the box while still keeping the research code in pure PyTorch.

Here’s a useful comparison between the three frameworks (didn’t see torchbearer when the article was written).

https://towardsdatascience.com/pytorch-lightning-vs-pytorch-ignite-vs-fast-ai-61dc7480ad8a

[2019-08-07 10:10] gyc521zsc opened #578 "TypeError: 'str' object is not callable"
python test.py --config_file='/home/gyc/Ranked_Person_ReID-master/configs/softmax_ranked.yml' MODEL.DEVICE_ID "('3')" DATASETS.NAMES "('market1501')" TEST.FEAT_NORM "('yes')" MODEL.PRETRAIN_CHOICE "('self')" TEST.WEIGHT "('/home/gyc/Ranked_Person_ReID-master/modeling/mar_resnet50_ibn_a_model.pth')"

Traceback (most recent call last):
  File "test.py", line 67, in <module>
    main()
  File "test.p

[2019-08-07 10:57] vfdev-5 commented on #578
This seems not ignite issue, but the code you use :
[code]

[2019-08-07 10:57] #578 closed

[2019-08-07 22:03] kamalaVJ commented on #464
@houweidong  How did you solve the error? I am facing the same issue however I'm not using nay pre-trained model.

[2019-08-07 22:12] vfdev-5 commented on #464
@kamalaVJ can you give more information on your issue ?
In my case, in multi GPU case with Nvidia apex, I'm wrapping the model using `apex.parallel.DistributedDataParallel` and launch everything with `torch.distributed.launch`.
We need also to set default cuda device `torch.cuda.set_device(local_rank)`.

Today, there can be an issue with ignite when computing metrics. Results are not collected acr

[2019-08-07 22:35] kamalaVJ commented on #464
@vfdev-5  I'm wrapping the model using the pytorch DataParallel. I also mention the device ids. I initialize using torch.distributed.init_process_group with backend as nccl. I still end up getting the same error.

[2019-08-07 22:52] vfdev-5 commented on #464
@kamalaVJ I was suspecting ignite's trainer to be responsible for this. Another question, can you check if the following works for your model and setting:
[code]

[2019-08-12 05:37] hust-kevin opened #579 "how to use transform.TenCrop in ignite?"
if I want to use Tencrop transform, I need modify the code
[code]

I don't know where should I add  `input.view(-1, c, h, w)`

[2019-08-12 06:23] vfdev-5 commented on #579
@hust-kevin please read the concepts of ignite here : https://pytorch.org/ignite/concepts.html#engine

[2019-08-17 19:10] sshleifer commented on #577
This `dist.get_rank()` construction is exactly what I needed. Thank you!

[2019-08-17 19:10] #577 closed

[2019-08-21 08:32] willprice commented on #63
I'm not sure ignite currently provides a satisfactory way of determining data loading time. A data loader timer needs to be attached as the very first handler for `ITERATION_STARTED` and the very last one for `ITERATION_COMPLETED` for the timings to be accurate. If this isn't the case then the timer will also factor in the time spent running other handlers, which can occasionally be quite large if

[2019-08-21 08:34] willprice commented on #447
FWIW you can build Pillow-SIMD against libjpeg-turbo and this greatly improves its performance without having to abandon torchvision: https://docs.fast.ai/performance.html#installation

[2019-08-21 09:00] vfdev-5 commented on #63
@willprice yes, you are correct, `Timer` should be used with care to measure data loading.

In the contrib I planned to provide some basic profiling utility like that
[code]

[2019-08-21 09:13] willprice commented on #63
@vfdev-5, brilliant. Thanks for the code that looks super useful. I'll have a play around with it.

[2019-08-21 22:35] Darktex commented on #566
Could this be done without depending on another library?

`torch.cuda.memory_allocated(device)` would return the currently-used memory for tensors and `torch.cuda.memory_cached(device)` would return the one currently allocated to cache, while `torch.cuda.get_device_properties(device).total_memory` would return the total memory of the GPU. All of them return ints (number of bytes), so they would ha

[2019-08-22 06:21] vfdev-5 commented on #566
@Darktex I get more precise gpu memory usage values with pynvml vs `torch.cuda.memory_*`.
There was a similar discussion here:
https://discuss.pytorch.org/t/measuring-peak-memory-usage-tracemalloc-for-pytorch/34067

[2019-08-22 22:12] dobosevych opened #583 "Fix Gradients accumulation example"
Link: https://pytorch.org/ignite/faq.html
It should be
[code]
instead of
[code]

[2019-08-23 06:19] vfdev-5 commented on #583
@dobosevych thanks! yes, there is a bug in FAQ with
[code]
Your code is shorter, I'll change the FAQ to this.

[2019-08-23 06:43] #583 closed

[2019-08-23 06:48] vfdev-5 commented on #541
@anmolsjoshi any updates on this ?

[2019-08-23 17:21] asford opened #586 "[Feature Request] "Removable" event handlers."
_I'm happy to open a PR for this immediately if the feature seems useful._

Ignite's event interface provides both add and remove operations however the "remove" operation requires a reference to the original event handler. This makes temporary or one-off event handlers somewhat tricky to implement.

Pytorch's existing hook interface provides a solution to this issue by returning a "RemovableHandl

[2019-08-23 18:16] vfdev-5 commented on #586
@asford thanks for the feature request, interesting observation about missing event handle!
In my use-cases, such handle was event handler itself, such that I could remove the handler.

Providing a temporary event handler seems interesting idea, could you please provide more details for its use-cases ?

[2019-08-23 18:49] asford commented on #586
I've implemented and used this feature to implement single-iteration diagnostic handlers connected to an ignite engine. As a concrete example, I'm debugging model training via a handler that accumulates parameter gradients for a single iteration, logs gradient histograms to tensorboard after iteration completion, and then self-detaches from the engine via the removable handlers. This allows me to

[2019-08-23 18:59] vfdev-5 commented on #586
So if I understand correctly this attach-remove behaviour is needed for executing a handler once n iterations ?
If it is the case, there is another also a contrib possibility to perform this using [custom events](https://pytorch.org/ignite/contrib/handlers.html#module-ignite.contrib.handlers.custom_events).
I wonder whether this could help in your situation ?

Another option how to use such self-d

[2019-08-23 19:05] asford commented on #586
Yes, there are multiple ways of implementing the equivalent behavior for single-shot handlers. I've just found this method to be low-overhead and relatively easy to keep tidy.

As you point out, I'm also using this feature to "reuse" an evaluator engine across multiple datasets with different logging configurations.

I think the context manger support offered by this feature is the key to increase

[2019-08-23 19:08] vfdev-5 commented on #586
@asford I agree with that ! If you wish to send a PR, it would be awesome :)
IMO, the class `RemovableEventHandle` from your example, looks good. Probably, we could integrate it without `attrib` as a new dependency... What do yout think ?

[2019-08-23 19:17] asford commented on #586
Absolutely, I'll open a PR with a vanilla implementation shortly.

[2019-08-23 19:18] vfdev-5 opened #587 "Hyperparameters tuning example with Ax"
It would be helpful for the community to provide an example of usage Ignite and Ax to finetune a CNN on CIFAR10 dataset.

Refs:
- https://ax.dev/tutorials/tune_cnn.html

[2019-08-26 05:57] #586 closed

[2019-08-26 05:57] vfdev-5 commented on #586
A side note, if we had some handler like `LearningRateFinder` it could be neatly used with this context manager:
[code]

[2019-08-26 06:04] vfdev-5 opened #589 "Basic Time Profiling into contrib"
Following https://github.com/pytorch/ignite/issues/63#issuecomment-523366321
we can provide some basic time profiling.

cc @willprice what do you think about this profiler, any code, API updates to suggest ?

[2019-08-26 06:18] vfdev-5 opened #590 "[FR] LR Finder"
There is a repository which already has ignite version of [LRFinder](https://github.com/ItamarWilf/super-convergence/blob/master/super_convergence/lr_finder_engine.py#L13). It would be helpful to put this class to ignite/contrib/engines.

cc @ItamarWilf

[2019-08-26 17:57] ItamarWilf commented on #590
Hi , thanks for finding the code useful, it's mostly based on the great work of @davidtvs

Right now It's not really implemented as an ignite Engine. I can re implement it as an Engine it but it would probably have less functionality (no matplotlib based plotting, not measuring loss on val loader, etc...)

What do you prefer?

cc @vfdev-5

[2019-08-26 19:07] vfdev-5 commented on #590
@ItamarWilf that's true, I didn't correctly analysed your code. At first I was thinking about a handler that should be attached to an existing trainer. But seing the example in your code : `lr_finder.range_test(dataloader, end_lr=100, num_iter=100)`, I thought about inherited Engine.

Thinking more about LRFinder as Engine, this probably limits the usage to a supervised single model training. If w

[2019-08-26 20:50] ItamarWilf commented on #590
Even in the most simple case, the lr_finder needs to use both a dataloader and optimizer to run the trainer for some iterations while increasing the lr, and that trainer must return some loss value, which already somewhat limits the trainer. Now, in order to have any effect on the trainer, it must reset the optimizer's lr using some guess for the correct lr (like the suggestion in fast.ai), which

[2019-08-26 21:22] vfdev-5 commented on #590
@ItamarWilf okay, I see, thanks for the clarifications. I understand that LRFinder needs in any case an optimizer to vary the learning rate, a trainer to get training loss and we need to save/restore initial state after running the LRFinder.
My only point is to replace somehow this line : https://github.com/ItamarWilf/ignite/blob/7812d507e3a35d1dbc6f6e8db441d81e6234b9df/ignite/contrib/engines/lr_f

[2019-08-26 21:54] ItamarWilf commented on #590
@vfdev-5  hmm, now I think I got what you mean. I will try to make something more along these lines. Thanks for the feedback :)

[2019-08-27 10:27] Soo95 opened #591 "I got an error in EfficientNet notebook example"
torch : '1.2.0+cu92'
ignite: '0.2.0'
tensorboardX: '1.8'

Hi, I just followed efficientNet notebook example in the git.
[code]

In this part, I got an error

My tensorboardX version is different or is there anything I can fix?

[2019-08-27 12:23] vfdev-5 commented on #591
@Soo95 thanks for the feedback! Yes, most probably my tbX version was 1.7 at the moment of writing. Anyway, I'll check and fix this error in the coming days.

[2019-08-27 14:14] ItamarWilf commented on #590
@vfdev-5 okay, I re implemented the LRFinder as a handler that can be attached to any engine, as long as some loss value is returned from the processing_fn, much like the API you suggested.

Could you take a look at the [code](https://github.com/ItamarWilf/ignite/blob/master/ignite/contrib/handlers/lr_finder.py) and the [example notebook](https://github.com/ItamarWilf/ignite/blob/master/examples/c

[2019-08-27 14:38] Soo95 commented on #591
@vfdev-5
https://github.com/lanpa/tensorboardX/issues/483
This is the same issue with me. the tensorboard graph has a problem after pytorch 1.2 version.
I think I can do nothing unless this bug is fixed from tensorboard.

[2019-08-27 14:38] #591 closed

[2019-08-28 02:34] lemon234071 opened #592 "How to add event that happen every few steps"
I want to see metric every few steps instead after EPOCH_COMPLETED, how to that? Thank you.

[2019-08-28 03:08] lemon234071 commented on #592
Found a way

[2019-08-28 03:08] #592 closed

[2019-08-28 14:18] ipScore opened #593 "How to run distributed training with ignite in a nvidia-docker container?"
**Environment:**

1. nvidia-docker container: Ubuntu 16.04 with 4 2080Ti GPUs
2. Framework version: PyTorch 1.2
3. Ignite version: 0.2.0
4. CUDA version: 10.1
5. NCCL version: 2.1.4
6. Python version: 3.6.8
7. GCC version: 7.4.0

**Question:**
Hello, I'd like to use ignite for distributed training. According to the mnist_dist.py example, I need to **lauch two terminals in one machine** that each t

[2019-08-28 23:02] philip-bl commented on #590
@ItamarWilf

A small problem with your code: after running the trainer with `LRFinder` attached, the trainer's `should_terminate` is set to True, hence next time the trainer is run, it will terminate right at the beginning.

[2019-08-28 23:33] philip-bl commented on #590
Another problem is that running trainer for multiple epochs doesn't work. See https://github.com/ItamarWilf/ignite/blob/62d71127a2fec2f9e9503146600f29e2ac75f3b4/ignite/engine/engine.py#L430. It compares current epoch with `max_epochs`, not with `state.max_epochs`.

[2019-08-29 00:14] philip-bl commented on #590
Also I suggest you call this lr finder a more specific name, because it is obviously a very dirty and unpolished way to choose lr, in the future there will be better ways, and we don't want the simplest name `LRFinder` to belong to this type of lr finder.

[2019-08-29 04:17] Soo95 opened #594 "Question on Efficientnet notebook example"
Hi, I started to learn ignite a few days ago.
I have a question on efficientnet notebook example.

why is 'eval_train_loader' created for 'train_evaluator'?

is there a problem if I put 'train_loader' as train_evaluator instead of 'eval_train_loader'?
I'm curious why two train_loader are needed.

[2019-08-29 08:14] Bibonaut commented on #593
In my company, we have the same *one-terminal* restriction.
I am using `nohup` (allows you to close the shell and keep the job running), redirect the command line output to a file and send the process to the background:
`$ nohup COMMAND  > output.txt &`

https://www.tecmint.com/run-linux-command-process-in-background-detach-process/

[2019-08-29 10:13] vfdev-5 commented on #594
Hi @Soo95,

Idea is to compute metrics on a train subset and on the test dataset.
Train subset (by `eval_train_loader`) is smaller than the train dataset and not shuffled in the loader. And if we would like to make it more clean, train subset dataset transformations should be as for the test dataset.

There is no problem with that. However, metrics computation can take more time and as it has rand

[2019-08-29 10:18] vfdev-5 commented on #593
@ipScore in case of single machine, multiple GPUs you can also use built-in torch distributed launcher :
[code]
See [here](https://pytorch.org/docs/1.1.0/distributed.html#launch-utility) for more details.

[2019-08-29 11:06] Soo95 commented on #594
@vfdev-5
Thanks a lot! I understood why it is need.

[2019-08-29 11:06] #594 closed

[2019-08-29 12:11] vfdev-5 commented on #590
@ItamarWilf sorry for delay, I'll test your code in details as I'll have more time. I agree with @philip-bl that we need to check properly that attach/detach both work as intended and trainer can do its job after using LR finder.
Concerning class name, `FastaiLRFinder` can be an option.

[2019-08-29 12:36] vfdev-5 opened #595 "Update ignite's master nightly builds deployment"
Following

I think we can go the same way as pytorch. Ignite's master nightly builds on pypi can be similar as pytorch with `--pre` and we will need to pass to `pytorch-nightly` channel for conda.

On both I think it'll be user's responisibility to install correct pytorch with `--pre` or `-c pytorch-nightly`. As `pip install --pre pytorch-ignite`/`conda install ignite -c pytorch-nightly` will inst

[2019-08-29 12:36] vfdev-5 commented on #306
Closed in favor of #595

[2019-08-29 12:36] #306 closed

[2019-08-29 12:40] vfdev-5 commented on #475
Closed as the issue is unclear.

[2019-08-29 12:40] #475 closed

[2019-08-29 12:47] vfdev-5 commented on #595
Once this issue is resolved, we need to check
* [ ] if we can remove `nightly` branch
* [ ] if travis cron can run on master branch only

[2019-08-29 12:49] ItamarWilf commented on #590
@philip-bl thanks for the review !
I added some changes to the code regarding your concerns:

1. I believe that self.should_terminate is reset on every run ([link](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L424)). Either way I added a test to make sure that after detach the engine runs normally without terminating.

2. Regarding the max_epochs issue, by default the engi

[2019-08-29 12:53] vfdev-5 commented on #590
@ItamarWilf could you please send a PR with your code such that we can comment out in the code and follow the updates :)

[2019-08-29 12:59] ItamarWilf commented on #590
@vfdev-5 No problem :)

[2019-08-29 13:11] philip-bl commented on #590
Hmm. Perhaps I have an older version of ignite which doesn't do this.

[2019-08-30 02:06] ipScore commented on #593
Thanks for your advice, @vfdev-5 . However, when I run the main.py with torch.distributed.launch, it doesn't work and always **hangs** after calling model = DistributedDataParallel(model, [args.gpu]). It seems that 2 processes  have been spwan, however waiting for something to complete.

**python3 -u -m torch.distributed.launch --nproc_per_node=2 mnist_dist.py**

[code]
![image](https://user-image

[2019-08-30 07:13] vfdev-5 commented on #593
@ipScore yes, probably we need to update `mnist_dist.py` as it was the first example with distributed training. We are working on adapting ignite to work correctly in distributed settings, so you can take a look at [CIFAR10 example](https://github.com/pytorch/ignite/tree/distrib/examples/contrib/cifar10) in `distrib` branch.

[2019-08-30 07:57] ipScore commented on #593
@vfdev-5 I'll try CIFAR10 Example soon. Thank you~

[2019-08-30 08:00] ipScore commented on #593
@Bibonaut Thank you for your advice. I wonder if **nohub** supports the operations under a nv-docker container as the host machine? I'll try it later.

[2019-08-30 10:09] Bibonaut opened #597 "TensorboardLogger init - forwarding kwargs to SummaryWriter"
### Problem
When a TensorboardLogger object is created, it also initialises a SummaryWriter object.
At the moment, the TensorboardLogger init function accepts the only argument `log_dir` that is passed to SummaryWriter but SummaryWriter accepts a lot more keyword arguments I want to make use of.

[Link to current implementation](https://github.com/pytorch/ignite/blob/01f2f5f96f55b8358edfe280dc6852

[2019-08-30 13:22] Bibonaut opened #598 "TensorboardLogger - tag/prefix for weights, grads and optimizer logging"
### Problem
I have to log multiple models/optimizers with TensorboardLogger and I want them to be displayed in tensorboard in separate *subpanels* with distinct names/tags.
At the moment, it is not possible to provide a custom tag or prefix for some handlers that log model parameters, because the tag is deduced from `model.named_parameters()`.

As a consequence, parameters of multiple models are p

[2019-08-30 14:18] vfdev-5 commented on #597
@Bibonaut yes, we can forward positional and kw args. Please, do no hesitate to send a PR to fix the issue :)

[2019-08-30 14:28] vfdev-5 commented on #598
@Bibonaut I think we had something similar with `OptimizerParamsHandler` and we added `tag` in https://github.com/pytorch/ignite/pull/502

I agree that we may need to add `tag` to other handlers too.

So, yes, if you can send a PR on this, it would be very helpful !

[2019-08-31 02:45] ipScore commented on #593
@vfdev-5 It works well with CIFAR10 example. Umm, I wonder why two process occupies diffrent memory?
![image](https://user-images.githubusercontent.com/30183023/64058352-6e94cd00-cbdc-11e9-8903-8974170d3fbb.png)

[2019-08-31 02:48] ipScore commented on #593
@vfdev-5 It works well with CIFAR10 example in my docker container. I wonder why two process occupy different memory?

![image](https://user-images.githubusercontent.com/30183023/64058366-bd426700-cbdc-11e9-8027-acb45c3f6bc2.png)

[2019-08-31 08:15] vfdev-5 commented on #593
@ipScore it should be related with master and worker processes.

I let you close the issue if the question is answered.

[2019-08-31 22:55] vfdev-5 opened #600 "[FR] LayerRotation indicator"
Following ["Layer rotation: a surprisingly powerful indicator of generalization in deep networks?" paper](https://arxiv.org/pdf/1806.01603v2.pdf), layer rotation indicator provides quantative measure on generalization. We can integrate a LayerRotation indicator handler based on this [implementation](https://github.com/vfdev-5/LayerRotation-pytorch/blob/master/code/handlers/layer_rotation.py) into

[2019-09-01 07:05] #593 closed

[2019-09-01 08:47] Soo95 opened #601 "Question for using multiple schedulers"
Hello, I have a question on how to use multiple schedulers!
I refered this inspring kaggle kernel
https://www.kaggle.com/hmendonca/multitask-efficientnetb4-ignite-amp-clr-aptos19?scriptVersionId=19866910

I changed the code a little bit for applying my encoder-decoder model.

[code]
![image](https://user-images.githubusercontent.com/32061883/64073939-d8e26600-ccdf-11e9-851d-36cbd606c14e.png)

I pl

[2019-09-01 08:59] vfdev-5 commented on #601
@Soo95 are you using Nvidia/Apex with opt_level="O2" ?

[2019-09-01 09:02] vfdev-5 commented on #545
If using opt_level="O1", ignite's params schedulers seem to work

[2019-09-01 09:11] Soo95 commented on #601
@vfdev-5
Yes! Thanks a lot.
I'll change opt-level to "O1".

[2019-09-01 09:11] #601 closed

[2019-09-01 18:35] #595 closed

[2019-09-02 14:32] #597 closed

[2019-09-03 09:13] Patil2099 commented on #589
Can I work on this issue? Can you also tell on which file I have to work?
Thanks!

[2019-09-03 09:25] vfdev-5 commented on #589
@Patil2099 thanks for the proposition ! Yes, you can work on it. Please follow these guide lines :
https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md

You can add the code from https://github.com/pytorch/ignite/issues/63#issuecomment-523366321 to `ignite/contrib/handlers/time_profiler.py` and add some tests.
The code from the comment needs some update to the current API, especially hand

[2019-09-03 11:09] #566 closed

[2019-09-04 09:42] Bibonaut commented on #598
@vfdev-5 Thank you for the hint with `OptimizerParamsHandler`.  I see that in #502 the `tag` property was also introduced in `BaseOptimizerParamsHandler`.  So I would do it the same way for gradients and weights handlers and add `tag` property to their base classes. Do you agree?

[2019-09-04 09:52] vfdev-5 commented on #598
@Bibonaut sounds good, please go ahead 👍

[2019-09-04 11:34] #598 closed

[2019-09-05 13:39] riverarodrigoa opened #610 "How can I use the LBFGS optimizer with ignite?"
Hi all,

I started using Ignite recently and i found it very interesting.
I would like to train a model using as an optimizer the LBFGS algorithm from the `torch.optim` module.

This is my code:

[code]

And the error that raises is:
`TypeError: step() missing 1 required positional argument: 'closure'`

I know that is required to define a closure for the implementation of LBFGS, so my question is

[2019-09-05 13:50] vfdev-5 commented on #610
Hi @riverarodrigoa ,

I do not know exactly how works `LBFGS` with closures, but with ignite it could be probably used like that:

[code]

Let me know if this solves the problem.

[2019-09-06 14:52] Bibonaut opened #611 "BaseWeightsScalarHandler has side effects on random number generation"
### Problem
BaseWeightsScalarHandler uses `torch.rand` to test the reduction function that is passed as an argument.
This is very confusing, because experiments are not reproducible when tensorboard logging is switched on or off, e.g. in debug sessions.

### Solution
Replace the random tensor with a non random tensor.

[2019-09-06 16:19] vfdev-5 commented on #611
@Bibonaut no problem, please send a PR for that :)

[2019-09-07 13:45] miguelvr commented on #568
hey @vfdev-5

This is a topic I'm very much interested and willing to help.

I just looked at the distrib branch, and I see some problems with the current implementation.

I think that we could have a decorator to mark each existing metric as distributed compatible and raise a warning / error if the user tries to use the metric in a distributed scenario.

Using a sum all reduce op, does not work f

[2019-09-07 14:01] vfdev-5 commented on #568
Hey @miguelvr yes, we are very interested in testing ignite distrib branch in various use-cases and improve the code. For example, [here](https://github.com/pytorch/ignite/pull/576) I'm trying to reproduce various benchmarks in distributed setting.

Yes, my idea was to adapt all metrics be default to be compatible and if one is not compatible, we warn about this.

Yes, there are cases like that an

[2019-09-07 14:17] vfdev-5 opened #613 "Fix broken CI with pytorch-nightly"
https://travis-ci.org/pytorch/ignite/jobs/581706238#L2662

[2019-09-07 14:51] #613 closed

[2019-09-07 16:05] #611 closed

[2019-09-08 18:11] miguelvr opened #615 "MNIST Distributed example is incorrect"
The MNIST distributed example does not reduce the loss tensors, and therefore is incorrect.

By not reducing the loss, backpropagation is currently being computed on each process separately, leading to different sets of weights.

To fix this, a custom process function with a call to all_reduce needs to be passed to the engine.

Same applies to the metrics computed. They will all be unreliable sinc

[2019-09-08 19:13] vfdev-5 commented on #615
@miguelvr yes [mnist_dist.py](https://github.com/pytorch/ignite/blob/master/examples/mnist/mnist_dist.py) needs to be reworked or even to be removed. For distributed example I would suggest [cifar10](https://github.com/pytorch/ignite/tree/distrib/examples/contrib/cifar10).

[2019-09-08 19:16] miguelvr commented on #615
doesn't seem like the loss is being reduced in that example either

[2019-09-08 19:18] vfdev-5 commented on #615
Each process has its batch loss and we log only batch loss of the master. IMO synchronization and copying at each iteration can cost (to check).

[2019-09-08 19:22] vfdev-5 commented on #615
I'm not really sure about this. If we take pytorch/examples/imagenet as example of correct distributed training, there is no reduction of loss across batches : https://github.com/pytorch/examples/blob/master/imagenet/main.py#L293

Am I missing something ?

[2019-09-08 19:23] miguelvr commented on #615
correct me if i'm wrong but:

if you don't call `loss = torch.distributed.all_reduce(loss)` before the backward call, you are computing different gradients in each process, leading to different model parameter version per process.

I've checked [maskrcnn_benchmark code](https://github.com/facebookresearch/maskrcnn-benchmark/blob/24c8c90efdb7cc51381af5ce0205b23567c3cd21/maskrcnn_benchmark/engine/tr

[2019-09-08 19:27] vfdev-5 commented on #615
I would say, that
[code]
is only for correct logging and not the training.

Yes, pytorch handles this "automagically" :) See https://pytorch.org/docs/stable/nn.html#torch.nn.parallel.DistributedDataParallel
[code]

[2019-09-08 19:29] miguelvr commented on #615
ah cool :) 👍 thanks for the clarification

[2019-09-08 20:00] #615 closed

[2019-09-09 22:41] PCerles opened #618 "Compatibility with IterableDataset"
Hi,
As it stands I don't think Pytorch Ignite is compatible with the IterableDataset class (https://pytorch.org/docs/stable/_modules/torch/utils/data/dataset.html#IterableDataset), since this dataset doesn't have the __len__ attribute. To run Ignite with the usual train/evaluate handles, the Engine would need to be modified to allow a user-inputted epoch size. Is this in the works? Otherwise can p

[2019-09-09 23:10] vfdev-5 commented on #618
Hi @PCerles ,

Yes, `Engine` requires as sized iterable object and usually it is a `DataLoader` which [has `__len__`](https://pytorch.org/docs/stable/_modules/torch/utils/data/dataloader.html#DataLoader).

If you would like to work directly with an `IterableDataset`, it is possible to do like this :
[code]

HTH

[2019-09-10 01:39] PCerles commented on #618
Thanks, this works.

[2019-09-10 01:39] #618 closed

[2019-09-10 09:53] vfdev-5 opened #620 "Improve TQDM, progress bar value formatting"
Idea is to use tqdm's value renderer instead of using current implementation. Newer version will looks like:
[code]
out:
[code]

This will help to better display integer values as `123` instead of `1.23e+02`.

cc @miguelvr

[2019-09-10 14:16] #620 closed

[2019-09-10 15:37] Data-drone commented on #467
any update on this?

[2019-09-10 15:40] vfdev-5 commented on #467
cc @anmolsjoshi

[2019-09-10 15:41] vfdev-5 commented on #467
@Data-drone in case, maybe you could be interested in [this temporary solution](https://github.com/pytorch/ignite/issues/467#issuecomment-488983281)

[2019-09-13 08:06] Darktex opened #623 "Metrics objects are not pickleable"
Pickling Metrics objects fails due to infinite loop.

The reason for that is the following:

To make metrics composable, the base class Metric has [methods](https://github.com/pytorch/ignite/blob/master/ignite/metrics/metric.py#L86) to return a `MetricsLambda` object. However, this means that pickling `Metrics` requires pickling `MetricsLambda`, but since `MetricsLambda` depends on `Metrics` we en

[2019-09-13 08:10] vfdev-5 commented on #623
@Darktex thanks for the feedback ! A naive question about why would you like to pickle metrics ?

[2019-09-13 18:55] Darktex commented on #623
I'm working on making a friendly interface to DDP by having an API that looks like the following:

[code]

The way this is implemented, `DistributedEngine` does all the DDP os.environ sync in its `__init__`, and `run` becomes just the called for `torch.mp.spawn(train_one)`.

`train_one` needs to get a pointer to the dataloader and to spawn copies of the engine, so I want to pickle the engine to se

[2019-09-13 19:50] vfdev-5 commented on #623
@Darktex thanks for the context, I see better. That's true that in my case I used `torch.distrib.launch` utility that just runs several processes as is. For example, https://github.com/pytorch/ignite/tree/distrib/examples/contrib/cifar10

In your case I imagine that there could be some cases too when pickling dataloader can be impossible if there are some lambdas involved.

If you have some ideas

[2019-09-13 23:58] Darktex commented on #623
Couple of ideas on this one :)

- To pickle the lambdas we could simply use `dill` or `cloudpickle`. Yes, it's one more external dep but it could be optional (if the dataloader has a lambda and you didn't install the package, just raise and explain what to do)
- Ideally, I think it's best to not pass the DataLoader around. The reason is that by pickling the dataloader you have to also pickle the D

[2019-09-14 13:22] #553 closed

[2019-09-14 18:03] bosr opened #625 "Switch website theme to PyTorch?"
I am updating the docs theme to leverage [pytorch_sphinx_theme](https://github.com/pytorch/pytorch_sphinx_theme) so that Ignite docs look like PyTorch's. The diffs are minimal.

Pros:
- closer to PyTorch
- darkifiable with existing Userstyles (see screenshots)

Caveats:
- pytorch_sphinx_theme comes with footers that are not really relevant to Ignite, and I could not yet find a way to alter them.
-

[2019-09-15 06:44] vfdev-5 commented on #625
@bosr yes this theme looks nicer :) I think if we can update current theme to this one !
Just I would prefer to keep:
- our versioning feature
- remove pytorch-only footer

@bosr is it possible ?

[2019-09-15 06:47] bosr commented on #625
thanks @vfdev-5, perfect I'll try to do so, then I'll open the PR (the code is currently in bosr/ignite@doc/pytorch-theme)

[2019-09-15 06:49] vfdev-5 commented on #625
@bosr sounds good! Thank you !

[2019-09-15 09:22] bosr commented on #625
Good opportunity to refresh my rusty Sphinx knowledge!

Among other fixes, I removed the footer and customized the header. I'm still missing the versions links. It looks like this (zoomed out 85% but that's not relevant):

<img width="1512" alt="Screenshot 2019-09-15 at 11 19 51" src="https://user-images.githubusercontent.com/1936828/64919436-f406a880-d7aa-11e9-8836-e16b9ba4ee61.png">

[2019-09-15 09:46] vfdev-5 commented on #625
Looks awesome !

[2019-09-18 13:50] Soo95 opened #627 "save the best score in engine.state?"
Hi, I want to print the best score at the end of training.

ModelCheckpoint handler can save the best model with the best score,
however, I just want to print the best score at the end of training.

Is it possible to save the best score till the end of training?

[2019-09-18 13:56] vfdev-5 commented on #627
@Soo95 there is nothing done for this today. I would say this can be done manually when run evaluators.
[code]

HTH

[2019-09-18 13:58] vfdev-5 commented on #610
Close the issue as answered. Feel free to reopen if needed

[2019-09-18 13:58] #610 closed

[2019-09-18 13:58] Soo95 commented on #627
@vfdev-5
I always thank for your kind replies!

[2019-09-18 13:58] #627 closed

[2019-09-18 14:00] vfdev-5 commented on #579
I close the issue as answered. Please feel free to reopen if need more support.

[2019-09-18 21:59] #625 closed

[2019-09-19 03:08] Soo95 opened #629 "Engine.run with multiple dataloader"
Hi, I'm implementing semi-supervised learning.
In training, I want to train with 'label data' and 'non-label data' sequentially per each iteration.

However, 'label data' and 'non-label data' are unbalanced.
let say if label:non_label = 9:1
In pytorch, I may solve this

[code]

But I couldn't figure out how I can do this in ignite.
In Engine.run, 'data' argument accepts 'list' or 'dataloader'.

Is

[2019-09-19 03:10] Soo95 commented on #629
Ahh I may use Events.ITERATION_COMPLETED!
I'll try

[2019-09-19 05:17] vfdev-5 commented on #629
@Soo95 maybe the 1st snippet of this answer can help : https://github.com/pytorch/ignite/issues/574#issuecomment-517992456

[2019-09-19 07:11] Soo95 commented on #629
@vfdev-5
Thanks a lot! I'll try

[2019-09-19 07:11] #629 closed

[2019-09-20 16:06] duongna21 opened #631 "A typo in the documentation."
In [QUICKSTART](https://pytorch.org/ignite/quickstart.html#id1), there is a redundant argument at the code

`@trainer.on(Events.ITERATION_COMPLETED)
def log_training_loss(engine):
    print("Epoch[{}] Loss: {:.2f}".format(engine.state.epoch, len(train_loader), engine.state.output))`

whereas it should be

`@trainer.on(Events.ITERATION_COMPLETED)
def log_training_loss(engine):
    print("Epoch[{}]

[2019-09-20 17:34] vfdev-5 commented on #631
@duongna21 thanks for the feedback ! Yes, we need to improve the documentation.

[2019-09-20 18:09] #631 closed

[2019-09-21 08:22] #541 closed

[2019-09-21 09:42] #486 closed

[2019-09-26 08:05] tanguycdls opened #636 "[Contrib] Custom periodic event: simplify name of events:"
Hi I'm currently using Custom periodic event in a wrapper however I find its usage quite complex and redundant:

When defining a custom event you write:
[code]
its now clear that `cpe1` should run every 1000 iterations. However when using it as an event we have to write:
[code]
We have to know how the custom event was created to use it:  as in reality only  ITERATIONS_1000_COMPLETED, ITERATIONS_10

[2019-09-26 08:34] vfdev-5 commented on #636
Hi @tanguycdls thanks for the feedback. I agree that `CustomPeriodicEvent` is too ugly to use. We are working on another built-in version of periodic events in this PR : https://github.com/pytorch/ignite/pull/624.
Please join the discussions and if we could agree on easy-usage API we will merge it quickly.

[2019-09-26 09:30] tanguycdls commented on #636
Oops sorry ! Yes I will join the conversation

Thank you !

[2019-09-26 09:30] #636 closed

[2019-09-26 17:54] szhang104 opened #638 "Does the user need to restore engine state when resuming training from checkpoints?"
I noticed that the provided `ModelCheckpoint` does not come with a corresponding hook for loading checkpoints to resume training, so normally people just manually use vanilla `torch.load()` to restore the `state_dict`s of model, optimizer and lr_scheduler.

Can any developer confirm if the user need to save and restore the training and evaluation engine states as well? Will restarting from a blank

[2019-09-26 19:11] vfdev-5 commented on #638
@szhang104 we are working on simple resuming training.
Actually, user needs to load its model, optimizer, lr scheduler and the trainer as
[code]
No particular need to resume evaluator.

HTH

[2019-09-28 07:39] Aiden-Jeon opened #639 "running average with for loop"
Hi, I have a problem with running average when using it in for loop.
for example i got this code on issue #353
[code]

if i use this code like this
[code]
running average returns same value with the key it is declare at last. (in this case 'output2' value only)

how can i solve this problem ?

thank you

[2019-09-28 08:32] vfdev-5 commented on #639
Hi @Aiden-Jeon this lambda problem that can not store internal variables: `key`. To setup `RunningAverage` in the loop like that, you can use `functools.partial` :
[code]
https://github.com/pytorch/ignite/issues/311#issuecomment-435524176

[2019-09-28 08:47] Aiden-Jeon commented on #639
Oh, i missed the basic python usage.

i solved the problem.

thank you!

[2019-09-28 08:54] vfdev-5 commented on #639
I close the issue as solved. Feel free to reopen if needed

[2019-09-28 08:54] #639 closed

[2019-10-03 22:38] vfdev-5 commented on #638
I close the issue as answered. Feel free to reopen if needed more support on this

[2019-10-03 22:38] #638 closed

[2019-10-07 18:36] vfdev-5 commented on #554
Probably we can close this issue as solved as today Confusion Matrix was reimplemented in #572

[2019-10-07 18:36] #554 closed

[2019-10-07 18:38] vfdev-5 commented on #574
I close the issue as solved. Note that user now can use both above snippets.

[2019-10-07 18:38] #574 closed

[2019-10-17 11:40] lintangsutawika opened #642 "Using `CTCLoss` with `create_supervised_trainer`"
I noticed that `create_supervised_trainer` doesn't have an option to include more arguments to the defined loss function. Or rather, the loss function is assumed to only have arguments `y_pred` and `y` so CTCLoss cannot be used here. Perhaps this could be a feature request?

[2019-10-17 12:20] vfdev-5 commented on #642
There several solutions to handle this depending on type of parameters you would like to insert
1) create your own `update_fn`
[code]

2) recode loss function to reinterpret intput `(y_pred, y)` as `((y_pred, y_pred_lengths), (y, y_lengths))` and use default `create_supervised_trainer`

[code]

HTH

[2019-10-20 13:10] ipod825 commented on #473
Some of the modules (such as `ignite.engine.Engine`) also require modification to be more efficient for TensorFlow. I've built a package called [tfignite](https://github.com/ipod825/tfignite). Anyone interested in this thread can check it out.

[2019-10-20 13:10] #473 closed

[2019-10-22 06:42] DrStoop opened #643 "[ignite.metrics.Metric](ignite/metrics/metric.py) for all use-cases: Expand Metric's arguments by attachment events"
### Issue
[`ignite.metrics.Metric`](ignite/metrics/metric.py) currently only supports the calculation (and therefore also the visualization/tensorboard logging) of metrics at each completed epoch. In regular use-cases, e.g. to determine/visualize the optimum iteration for early stopping, it is required to return the loss metric after each iteration or at a customized event. This is currently alway

[2019-10-22 07:54] vfdev-5 commented on #643
@DrStoop thanks for the issue, definitely make sense to add this feature !

I was thinking to add such custom events to `attach` method as it is done here :
https://github.com/pytorch/ignite/blob/f5aad5f6d764cf5c131c953830d305c4d71dd1c6/ignite/contrib/handlers/tqdm_logger.py#L137-L140

Anyway, please send a PR and we could iterate on the code.

[2019-10-22 09:18] DrStoop commented on #643
Hi @vfdev-5,

yes, me too was exactly between your idea with `attach()` and `__init__()`. I went for `__init__()` for the following reasons:
- The metric is strongly defined by the events at which it is started, updated and computed, meaning you have to answer these questions when you initialize it. Also for debugging it is important to have the events together with the other metric parameters in

[2019-10-22 09:25] vfdev-5 commented on #643
@DrStoop thanks for the explanation, yes I agree with your suggestions - let's setup events in `__init__`.

yes, a PR please :)

[2019-10-22 09:45] DrStoop commented on #643
coming up... :)

[2019-10-22 15:03] vfdev-5 opened #645 "Improve create_lr_scheduler_with_warmup"
Actual behavior of `create_lr_scheduler_with_warmup` is a bit incoherent and varies upon pytorch version (1.3.0 vs nightly).

Actual problems:
- warmup duration is +1 event longer than expected on torch lr schedulers
- learning rate after warmup for torch lr schedulers should follow optimizer's initial lr
- first learning rate after warmup is skipped in discontinuous case

PyTorch v1.3.0
![image](

[2019-10-22 15:50] #645 closed

[2019-10-23 21:07] DrStoop opened #648 "Generalization & Enhancement of customized events, e.g. `CustomPeriodicEvent()`"
### Issue

The current `CustomPeriodicEvent` and other classes like `EarlyStopping`, `NanOutput` (more to come) share common features like condition checking, condition updating and firing events which could/should be inherited from a base class. Also the current `CustomPeriodicEvents` is limited to iteration/epoch-number-periodicity of `Events.ITERATION_COMPLETED` and `Events.EPOCH_COMPLETED`, th

[2019-10-23 21:26] vfdev-5 commented on #648
@DrStoop thanks for the issue and the propositions ! Please, correct me if I misunderstood something in your idea.
Mainly, I agree that we need to generalize and improve events system to be more customizable and such idea was recently proposed in https://github.com/pytorch/ignite/pull/624
I think `CustomPeriodicEvent` is hard to use and we probably need to propose something light and easy to use d

[2019-10-24 14:06] #568 closed

[2019-10-24 20:04] vfdev-5 commented on #642
I close this issue as solved, feel free to reopen if needed

[2019-10-24 20:04] #642 closed

[2019-10-25 06:18] DrStoop commented on #648
Agree, we need more sugar! ...I guess I'll think about the sugar more like in #624 before proceedings with issues/PRs... may take a bit, haven't got the fastest brain ;)

[2019-10-25 14:59] Bibonaut commented on #648
Currently, I am also investigating the code to get an understanding what can be realized with proposition from #624 and this proposal. But I also need some time to dig in :)

[2019-10-25 20:40] vfdev-5 commented on #330
Close the issue as wont fix

[2019-10-25 20:40] #330 closed

[2019-10-26 20:13] vfdev-5 opened #651 "Improve code with typing"

[2019-10-29 09:44] danlub commented on #391
Hi, for me the progressbar still unrolls
Is it required to put a parameter or something? I'm not sure if it's a bug or i'm just using it wrong

[code]

(the data has a strange structure, but that shouldn't really matter, right?)

[2019-10-29 09:48] vfdev-5 commented on #391
@danlub what is your env: script or notebook and how many entries do you have in `events_x`, `events_y`  ?  If you could show a screenshot of what you have, it could be helpful.

[2019-10-29 10:02] danlub commented on #391
events_x and events_y are dictionaries, and for each key there is a numpy array of (82, N), where N depends on the event.  Also, N <= 20

It appears so, because 1000 iterations is very quick (less than a minute)

Your first bar works well, and the second doesn't, it unrolls. (thank you!)

What's exactly the difference between the two of them? (just to know and avoid possible problems in the future

[2019-10-29 10:07] vfdev-5 commented on #391
@danlub actually, according to the screenshot, this is a correct behaviour.
By default, progressbar shows with its bar iteration progress (and not updates on epoch only), so what you see is OK, green bar progresses with iterations. Once an epoch is done, progress bar is closed and as it is setup as persistent it is not cleared. Then new progressbar is setup and so on.

If my example, I have two pr

[2019-10-29 11:08] danlub commented on #391
Ok ok
I added the persistance after discovering the problem.
The thing was that the progress bar for iterations cleared out but the next was not generated in the same place of the older one, but in another "line". So when everything finished, all i got was a very long white space (since I was using 100 or 1000 epochs)

I guess the default behavour is something like this, rigth?:

![image](https://

[2019-10-29 11:17] vfdev-5 commented on #391
Well, this maybe depends on tqdm and jupyter versions...

![image](https://user-images.githubusercontent.com/2459423/67762450-c5d0e580-fa45-11e9-9083-62a96f244e43.png)

![image](https://user-images.githubusercontent.com/2459423/67762467-cf5a4d80-fa45-11e9-8d0e-622f4630afa5.png)

when finished:
![image](https://user-images.githubusercontent.com/2459423/67762547-02044600-fa46-11e9-8208-4403ca8600b1.

[2019-10-29 21:41] #587 closed

[2019-11-06 14:02] #648 closed

[2019-11-06 18:15] vfdev-5 opened #659 "Training hangs in RunningAverage with distrib config"
Trainer with an update function in distributed config hangs on the first iteration. A code snippet:
[code]

[2019-11-07 09:19] vfdev-5 commented on #659
Ops, it is project internal bad usage. Close the issue as unrelated to ignite.

[2019-11-07 09:19] #659 closed

[2019-11-09 16:30] lzcn opened #660 "Would it be better to initialize the Engine with nn.Module？"
When users create an engine, they use `Engine(process_function)` and the `process_funtion` will be saved as `self._process_function`. The requirements for `process_function` is that it must be callable and return output for future handlers. Since an `nn.Module` matchs these requirements, it can be used as an alternative.

And my question is would it be better to use `nn.Module` and expose it as `s

[2019-11-09 16:49] vfdev-5 commented on #660
@lzcn thanks for the feedback and a suggestion. If I understand correctly your point, in this case engine is a sort of associated with a single model, however the role of the engine to be generic and also handle other situations with multiple models: GAN, self-ensembling methods, etc. IMO, adopting your strategy would restrict the usage of the package.

If you would like to avoid global variables

[2019-11-11 04:56] lzcn commented on #660
I'm so grateful for your solution and it solved my problem completely.  :)

[2019-11-11 04:56] #660 closed

[2019-11-14 17:39] vfdev-5 opened #662 "404 pages in docs"
For example, while being at https://pytorch.org/ignite/master/contrib/handlers.html
and clicking on "Examples" in top header it redirects to https://pytorch.org/ignite/master/contrib/examples.html
which does not exist :(

Same happens with other header links: Concepts, Quick Start etc

cc @bosr

[2019-11-15 05:33] kwonjunn01 opened #663 "how to download pytorch-ignite 0.1.0 version?"
I can' find the old version and model requirement's is 0.1.0.

Where can I download this version

plz help me..

[2019-11-15 07:59] vfdev-5 commented on #663
@kwonjunn01
How about this command ?
[code]

[2019-11-20 06:49] g-karthik opened #664 "EarlyStopping for distributed training job"
https://github.com/pytorch/ignite/blob/87a42e3c5336317f2582262fa08cab24df36b0a0/ignite/handlers/early_stopping.py#L6

What is the expected/observed behavior of this class when trying to "early stop" a distributed training job?

Secondly, how would one go about implementing this behavior? I'm currently all-reducing the negative log-likelihood and have it as an additional ignite metric attached to m

[2019-11-20 09:35] vfdev-5 commented on #664
@g-karthik thanks for the feedback. That's true that early stopping is not unit-tested in ignite in distributed configuration. Let me take care of it.

The behaviour I would expect of EarlyStopping handler in distrib config is that the trainer on all processes (ranks) have this handler (not only rank == 0) and while being attached to an evaluator it should have access to all-reduced metric value t

[2019-11-20 16:41] vfdev-5 commented on #664
I'll keep it open for time of discussions

[2019-11-20 17:05] vfdev-5 commented on #663
Close the issue as answered. Please, feel free to reopen if needed

[2019-11-20 17:05] #663 closed

[2019-11-20 22:08] g-karthik commented on #664
@vfdev-5 thanks for the quick reply and for adding the tests! Indeed, I think we should early-stop using the all-reduced metric.

But if we were to use the process-level metric, we'd end up early-stopping each process separately (at different points in time, presumably), leading to a different kind of early-stopping that depends on the actual batches sent to each GPU. I wonder if such an early-sto

[2019-11-20 23:09] vfdev-5 commented on #664
@g-karthik I think if we would stop one process-level trainer by such process-level early-stopping, other trainers still then continue the training and probably would freeze on the next grads reduction op when we update the model. Probably, this is not what we would like to have...

I would say, yes. IMO, in this case you will need to define N evaluators for N validation datasets and to each evalu

[2019-11-20 23:59] vfdev-5 opened #667 "Add state_dict/load_state_dict to ParamScheduler"
Idea is to improve `ParamScheduler` by providing two methods :
- state_dict
- load_state_dict
as native pytorch LRScheduler. This would help to save and restore a ParamScheduler

[2019-11-21 03:05] g-karthik commented on #664
Yeah that makes sense! Also we wouldn't want the main rank-0 process to early-stop and die this way, while the others are running.

Yep, exactly, that's the kind of behavior I'm looking for, thanks!

[2019-11-21 03:05] #664 closed

[2019-11-21 05:23] Oktai15 commented on #470
Can be closed, @vfdev-5?

[2019-11-21 07:24] vfdev-5 commented on #470
Technically, yes, but I still keep open those related to coming engine refactoring, #640

[2019-11-21 09:19] Oktai15 opened #668 "CIFAR-10 example has strange event names for tb loggers"
https://github.com/pytorch/ignite/blob/f71fc8606c3c498d770bec6fde9869e54d8b03ac/examples/contrib/cifar10/main.py#L163

https://github.com/pytorch/ignite/blob/f71fc8606c3c498d770bec6fde9869e54d8b03ac/examples/contrib/cifar10/main.py#L169

Why has `COMPLETED` been used rather than `EPOCH_COMPLETED`? We want to get information about metrics across all epochs, not across one epoch or I don't understan

[2019-11-21 09:33] vfdev-5 commented on #668
@Oktai15 this is correct, please take a look here : https://pytorch.org/ignite/faq.html#each-engine-has-its-own-events

Yes, this is correct. Just, in some sense it is much more easy to use `another_engine` vs `global_step_from_engine`. Maybe both could exist... and the warning about deprecation can be removed...

[2019-11-21 09:51] Oktai15 commented on #668
@vfdev-5 but it is not correct for this case. COMPLETED for trainer is end of training (e.g after 100 epochs), isn't it?

[2019-11-21 09:58] vfdev-5 commented on #668
@Oktai15 if I understand correctly your question, the following code is not clear for you :
[code]
As you can see, `tbOutputHandler` via `tb_logger` is attached to `train_evaluator` and `evaluator`. These engines are configured to evaluate trained model and runs on training and test dataloaders.

Maybe this section can help to understand better : https://pytorch.org/ignite/concepts.html#timeline-a

[2019-11-21 10:03] Oktai15 commented on #668
@vfdev-5 Ohh, yes, you are right.

My problem was the following: I thought that `another_engine` overrides first parameter of `attach` function, i.e `event_name` is related to `another_engine` engine. But it is not true, because  `another_engine` only override output function for `tbOutputHandler`... Sorry

[2019-11-21 10:03] #668 closed

[2019-11-21 10:07] vfdev-5 commented on #668
No problems. Hope it is more clear now :)

[2019-11-21 10:40] Oktai15 opened #669 "process_function in Engine has strong signature?"
I checked all docs, but I can't understand if we have any restriction for `process_function` for `Engine`.

For example, I want to resolve the following questions:
* Must my `process_function` has `engine` as a first argument? If it is true, then it would be great to notice about it in docs.
* Can I use another signature instead of `process_function(engine, labelled_batch)`? For instance, `process