[2021-06-08 07:12] sandylaker commented on #2035
@sdesrozis Thank you very much for the detailed experiments. I suppose there might be some incorrect configuration of the SLURM on my server.

[2021-06-08 07:15] sdesrozis commented on #2035
The usefull options from my side
* `--wckey` to ping the runs to the projects from our side
* `-J` to give a authorized job name
* `-p` to select to the good partition
* `--gres=gpu:2` to select the gpus
* `--mem` to add some memory because a low memory linux is used

[2021-06-08 11:44] vfdev-5 opened #2043 "Fix failing codecov action"
## 🐛 Bug description

Codecov action started randomly failing and now is failing almost all the times:
- https://github.com/pytorch/ignite/runs/2771190987

Let's configure it such that CI is not failing if report is not uploaded.

Ref: https://github.com/codecov/codecov-action/issues/330

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you i

[2021-06-08 14:17] #2043 closed

[2021-06-08 15:46] #2018 closed

[2021-06-08 17:00] #2033 closed

[2021-06-09 07:41] gucifer opened #2046 "Mypy Errors with new version of mypy"
## 🐛 Bug description
With the new version of mypy, ignite/handlers/checkpoint.py and ignite/utils.py has some errors related to typing.
[code]

## Environment

- Ignite Version (e.g., 0.3.0): Current master branch
- OS (e.g., Linux): Linux
- How you installed Ignite (`conda`, `pip`, source): source
- Python version: 3.8.6
- Any other relevant information:
    mypy version: mypy-0.901-cp38-cp38-man

[2021-06-09 07:48] gucifer commented on #2046
cc: @trsvchn and @ydcjeff

[2021-06-09 17:05] Nic-Ma commented on #2013
Hi @vfdev-5 ,

Do you have any updates here?

Thanks in advance.

[2021-06-09 20:40] vfdev-5 commented on #2013
Hi Nic, thanks for pinging. Yes, we plan to work on it and have it for the next release.

[2021-06-09 23:24] Nic-Ma commented on #2013
Sounds great!

Thanks for your update.

[2021-06-10 03:50] Nic-Ma opened #2048 "distributed program hangs in SLURM"
## 🐛 Bug description

Hi @vfdev-5 ,

We got an urgent issue from MONAI and Clara users that the distributed program hangs in NVIDIA NSL-B platform, which is based on SLURM.
You can reproduce the issue with this simple example:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/distributed_training/unet_training_workflows.py
It will hang when creating ignite Accurary metric, seems

[2021-06-10 06:00] sdesrozis commented on #2048
Hi @Nic-Ma ! Sorry to hear that we have such an issue with SLURM.

In that script, you use `torch.distributed` method to create process group. We have the `ignite.distributed` (`idist`) used on our side, in order to handle SLURM, parallel contexts (slurm, horovod, tpu, etc.) with one code version. The interaction is generally transparent, yet I suspect that SLURM could require a little modificatio

[2021-06-10 06:06] Nic-Ma commented on #2048
Hi @sdesrozis ,

Thanks for your detailed analysis.
So I think you mean we should use `ignite.distributed` to init the process group? Let me have a try.

Thanks.

[2021-06-10 06:07] Ishan-Kumar2 commented on #2004
Hi @KickItLikeShika I am new to PyTorch Ignite, but I would like to have a go at this issue :)

[2021-06-10 06:09] sdesrozis commented on #2048
It could also help us for understanding what is running wrong to have the launch command.

Do you have a sbatch script using `torch.distributed.launch` inside ?  using `srun` ?

Thanks in advance !

[2021-06-10 06:11] sdesrozis commented on #2048
Maybe you could try the following configuration

[code]

[2021-06-10 06:13] Nic-Ma commented on #2048
Should I call `dist.init_process_group` or `idist.init_process_group`?
Thanks.

[2021-06-10 06:24] sdesrozis commented on #2048
See https://github.com/pytorch/ignite/blob/86cec1165441a945c93c938c23544ac52a17a170/ignite/distributed/utils.py#L477

[code]

[2021-06-10 06:25] Nic-Ma commented on #2048
I see!
Let me have a try and get to you soon.

Thanks for your help!

[2021-06-10 06:56] sahilg06 commented on #2026
Hi @vfdev-5, I am new to PyTorch ignite. I would like to contribute to it. Can you please guide me to some **good first issue**?
Thanks!

[2021-06-10 07:12] vfdev-5 commented on #2048
Hi @Nic-Ma, could you please provide how you run the example such that we could reproduce the issue. Thanks !

cc @MrA2k2 can you please try to run this example on our aws parallel cluster ?

[2021-06-10 07:41] KickItLikeShika commented on #2004
Hi @Ishan-Kumar2 , thanks for showing interest! I can provide you guide and help for tackling this issue, please join our Discord server https://github.com/pytorch/ignite#communication to ask questions, and you will find me there if you want to talk to me privately that's OK too!

[2021-06-10 08:18] vfdev-5 commented on #2026
@sahilg06 thanks for asking ! There is a new good first issue to fix mypy failure: https://github.com/pytorch/ignite/issues/2046
Please comment out there if you would like to tackle it.

[2021-06-10 08:23] sahilg06 commented on #2046
Hi @gucifer,  I am new to PyTorch Ignite,  I would like to have a go at this issue

[2021-06-10 15:43] YuanTingHsieh commented on #2048
I add `idist.sync()` right after `dist.init_process_group()`

And I get different error messages as below:

[code]

What do you think might solve this issue?

Thank you.

[2021-06-10 15:56] vfdev-5 commented on #2048
Hi @YuanTingHsieh , thanks for the logs and the command line.

I think the pain point here is the usage of torch.distributed.launch with `srun`. Both are schedulers and as discussed with @sdesrozis we normally have to use srun only as it already defines necessary env vars and ignite can recognize that. So, the command should be:
[code]
Could you please this command ?

By the way, I think if you re

[2021-06-10 16:11] kkersten commented on #2048
A bit more background on this.  This is a cluster running Slurm with [pyxis/enroot](https://github.com/NVIDIA/pyxis) for container orchestration.

The `pyt-save-21.02.sqsh` container filesystem image is built and saved using the following:
[code]

[2021-06-10 16:58] sdesrozis commented on #2048
@YuanTingHsieh hi!

`srun` and `torch.distributed.launch` have the same meaning. Using `idist`, you can use only `srun` to run your app, which could really help and make code simpler.

I discussed and shown the different usages (`torch.distributed.launch`,`srun` and `idist`) here https://github.com/sdesrozis/why-ignite/tree/main/basics
You will see with a few examples how `idist` helps.

Note that

[2021-06-10 17:00] YuanTingHsieh commented on #2048
Hi @vfdev-5

I've tried your suggestion with a few modifications to the original python file.
Scripts and logs in here: https://gist.github.com/YuanTingHsieh/2669a473b4759289233e75faec73758d
It can run successfully now.

I see there is a log printing
[code]

Do you think this is an issue?

[2021-06-10 17:02] YuanTingHsieh commented on #2048
Hi @sdesrozis

Thanks for the info!
Yes, I also found your tutorials from another issue.
I've changed the code based on idist in the comment above.

If you have any suggestions to improve the code please also comment on the gist: https://gist.github.com/YuanTingHsieh/2669a473b4759289233e75faec73758d

[2021-06-10 17:52] sdesrozis commented on #2048
Very happy to help !

I think the sync line 67 could be removed, just keep the one line 51.

[2021-06-10 18:08] YuanTingHsieh commented on #2048
Thanks!
If I don't add sync in line 67, I observe that when rank 1 is running faster than rank 0, the data is not ready and an error will occur.

[2021-06-10 18:33] YuanTingHsieh commented on #2048
Hi @vfdev-5 and @sdesrozis,

Thanks for the prompt response!
I remove the first idist.sync and change the second one to idist.barrier.
Things are running fine now.

[2021-06-11 04:01] net777oz commented on #1615
Got damn good person, U saved me.

[2021-06-11 04:03] YuanTingHsieh commented on #2048
I found if I use
[code]

(instead of `dist.init_process_group(backend="nccl", init_method="env://")` and `dist.destroy_process_group()`)

I will have the following error message:

[code]

So I will use dist + idist code right now.

[2021-06-11 05:15] sdesrozis commented on #2048
It means the command `scontrol` is not available in your environment. This command is typically installed on machines working with `slurm`. I don't know why it's missing here.

Could you check whether `scontrol` available ? Thanks !

[2021-06-11 06:10] sdesrozis opened #2051 "Alternative to the command scontrol"
## 🚀 Feature

Using `idist` on a slurm cluster relies on the command `scontrol` for selecting an hostname as `MASTER_ADDR`.

https://github.com/pytorch/ignite/blob/86cec1165441a945c93c938c23544ac52a17a170/ignite/distributed/comp_models/native.py#L258

As discussed in #2048, we should provide another way whether the command missing, for instance, using container launcher as `pyxis`.

[2021-06-11 07:22] vfdev-5 commented on #2051
@sdesrozis any ideas how quickly we could support that ?

[2021-06-11 07:24] vfdev-5 commented on #2048
Thanks for reporting that @YuanTingHsieh , looks like it can be an enhancement from our side !

[2021-06-11 07:53] sdesrozis commented on #2051
https://sphinx-python.readthedocs.io/en/latest/source/hostlist.html ?

[2021-06-11 17:37] YuanTingHsieh commented on #2048
scontrol is available, I guess you are right it is that the container is somehow not picking that up

[2021-06-12 00:32] Nic-Ma commented on #2048
Seems the issue had been fixed.
@vfdev-5 @sdesrozis Thanks so much for your great help as usual!!!

[2021-06-12 18:05] #2046 closed

[2021-06-12 22:00] vfdev-5 commented on #2048
@Nic-Ma thanks for the feedback, glad to help !

I think alternative to using scontrol, still make sense to add in our codebase as we would have potentially a similar issue if we are using our own docker images with slurm.

[2021-06-14 10:36] vfdev-5 opened #2054 "Wrong docstrings for Metric `update` method's input type"
## 📚 Documentation

For example, [accuracy documentation](https://pytorch.org/ignite/metrics.html#ignite.metrics.Accuracy) says that

which is incorrect as it can only takes `(y_pred, y)` but `iteration_completed` can handle both types.

[2021-06-15 00:21] github-actions[bot] opened #2056 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ebaf8099df207e1226398d93f05d6672f65eac38**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/937553214

Feel free to close this if this was just a one-off error.

[2021-06-15 10:41] #2013 closed

[2021-06-15 10:49] #2056 closed

[2021-06-16 04:44] afzal442 commented on #2054
Want to take up this.

[2021-06-16 13:00] vfdev-5 commented on #2054
@afzal442 thanks for proposing help with this issue, I'm not sure what should be done here. Either code improvement or removing this from docs...

[2021-06-16 14:46] afzal442 commented on #2054
As per the issue fallback, we need to fix docs, I believe.

Also after quick overview I found, `updates internal variables and accumulators with provided batch output (y_pred, y)`.
[code]

[2021-06-17 00:04] liebkne commented on #1635
Any update of this?

@vfdev-5 May I ask what's the best way to move the metric tensor back to CPU before logging? I've thought the logger will do it automatically until I got `TypeError: can't convert cude:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first.` when using `Precision` with `wandb` logger.

[2021-06-17 00:21] github-actions[bot] opened #2059 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 038d4787e26d6236c0b2076f9cc1153a146accbc**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/944661305

Feel free to close this if this was just a one-off error.

[2021-06-17 07:02] vfdev-5 commented on #2059
@gucifer fid pr breaks old versions compatibility

[2021-06-17 08:01] vfdev-5 commented on #1635
@liebkne thanks for asking and reporting the issue.
Currently there is no actions decided on this issue, but I agree that we could make sure that output tensors are on CPU device.

Concerning the issue you are facing, are you using explicitly device as cuda ?
[code]

[2021-06-17 08:07] liebkne commented on #1635
@vfdev-5 Hi, thanks for the quick reply.

I'm using `Precision(average=False, device=idist.device())` in my code, and in that specific run I run my code with `CUDA_VISIBLE_DEVICES=2 python main.py` and using both None value for `nproc_per_node` and `backend`. So I guess it's indeed `cuda`.

[2021-06-17 08:17] vfdev-5 commented on #1635
Yes, it is CUDA if cuda is available, I think as a workaround you can omit this argument and by default it will be cpu.
I agree that we can add a logic to send cuda tensor to cpu before writing to `engine.state.metrics`:
https://github.com/pytorch/ignite/blob/038d4787e26d6236c0b2076f9cc1153a146accbc/ignite/metrics/metric.py#L335-L347

[2021-06-17 10:05] liebkne commented on #1635
Didn't know this, thanks. Since the day I switched to `idist`, I turned everything related to `idist.xxx`. 😅

[2021-06-18 00:30] github-actions[bot] opened #2063 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 038d4787e26d6236c0b2076f9cc1153a146accbc**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/948200263

Feel free to close this if this was just a one-off error.

[2021-06-18 12:59] #2059 closed

[2021-06-18 20:28] vfdev-5 commented on #1284
Remaining metrics:
- [ ] https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/regression/mean_error.py
- [ ] https://github.com/pytorch/ignite/blob/master/ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py

[2021-06-18 20:50] vfdev-5 opened #2065 "Update circle CI pytorch images 1.8.1 -> 1.9"
## 🚀 Feature

Update : https://github.com/pytorch/ignite/blob/4ead17cf4cf96022d77704b39045feffc6e0f2b8/.circleci/config.yml#L3-L29

https://hub.docker.com/layers/pytorch/pytorch/1.9.0-cuda11.1-cudnn8-runtime/images/sha256-e04020e1b6cc744659c70f5afdc0ab602486f24d74f9ba44929c14b7442dca31?context=explore

[2021-06-18 21:17] trsvchn opened #2066 "`linkcheck` job fails on release event"
## 🐛 Bug description

ci docs `linkcheck` job fails on release event.

https://github.com/pytorch/ignite/runs/2861705532?check_suite_focus=true#step:6:480

---

Possible Solution to prevent this in a future:
Turn on docs workflow triggering for dev branches.
Perfect solution:
Trigger only for release-like branches: x.x.x

## Environment

GH Actions runtime
- Any other relevant information:

[2021-06-19 05:14] afzal442 commented on #2065
Is it like refactoring the version from 1.8.1 to 1.9? T!
e.g.
`default: "pytorch/pytorch:1.9.0-cuda11.1-cudnn8-runtime" `

[2021-06-19 05:53] ydcjeff commented on #2065
Yes @afzal442

[2021-06-19 05:57] ydcjeff commented on #2063
Fixed by #2061

[2021-06-19 06:06] ydcjeff commented on #2066
I think this is due to this revert commit: 57b1d200e7ca56e39b1b8456749cc1a3fecb3681 which is not on master, so the check failed.

[2021-06-19 10:45] vfdev-5 commented on #2066
Yes, certainly due to that, I think there are two points to address here:
- workflow should run on origin branches (let's say any branch)
- fix the issue on 0.4.5 branch

Would you like to tackle this issue, @ydcjeff ?

[2021-06-19 10:46] #2063 closed

[2021-06-19 10:59] ydcjeff commented on #2066
If we have a release branch naming (like `v.x.x.x` or `x.x.x`), we could run on any other branch

[2021-06-19 11:51] vfdev-5 commented on #2066
To avoid collisions:
- release branches: x.x.x
- tags created from release branches: vx.x.x

[2021-06-19 12:31] ydcjeff commented on #2066
Ohh! We could run the action only on push and pull, no need to filter with branches

[2021-06-20 12:25] #2065 closed

[2021-06-20 14:04] #2066 closed

[2021-06-21 15:50] 01-vyom commented on #1999
I would like to work on this issue.

[2021-06-21 22:08] vfdev-5 commented on #1999
@01-vyom this issue needs to be updated as current description is not ideal and technically we do not want to specify the device but inherit it from `idist.device()`... As it is still marked as "needs-discussion", I suggest to select another one from the list: https://github.com/pytorch/ignite/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22
What do you think ?

[2021-06-22 03:54] 01-vyom commented on #1999
Ok, will find another issue 👍🏻

[2021-06-22 17:29] log-layer opened #2072 "Bug Definition MBConv Class - EfficientNet_Cifar100_finetuning.ipynb"
Hi, I think a found a bug in one of the PyTorch examples:

## 🐛 Bug description

In the iPython notebook "EfficientNet_Cifar100_finetuning.ipynb", there is a bug in the definition of the MBConv class:

In the third line after the sub-section `# Add identity skip`, the function `_drop_connect` is called without assigning the returned values to x. The code simply says `self._drop_connect(x)` instead

[2021-06-22 18:30] sdesrozis commented on #2072
@log-layer Thank you for pointing out this !!

What do you think about submitting a PR to correct this error ? It would be a great help.

[2021-06-22 20:55] log-layer commented on #2072
@sdesrozis Thank you for the feedback, I just created a pull request. I hope that everything is ok, this is my first time performing a contribution.

[2021-06-22 22:13] #2072 closed

[2021-06-23 10:25] vfdev-5 opened #2076 "DeterministicEngine rng state on cuda if loaded checkpoint on cuda"
## 🐛 Bug description

Using `engine` as `DeterministicEngine`, loading on cuda can lead to the following issue:
[code]

Code:
[code]

To fix the issue, we have to make sure that rng tensor is on cpu (otherwise put to cpu):
https://github.com/pytorch/ignite/blob/b49a82a8fb3339f1442752a0dbf2ecd6f15cb1fa/ignite/engine/deterministic.py#L238-L240

and add appropriate test.

### Workaround

- Load on cp

[2021-06-23 15:19] H4dr1en commented on #966
Bringing here a specific use case that this FR could solve:

Having the `RunningAverage` metric being able to restore the state would allow to not "forget" previous iterations scores when resuming an experiments. Otherwise the metric can show "peaks" when resuming an experiment, as can be shown in the figure below:
![newplot(3)](https://user-images.githubusercontent.com/16240134/123123264-fea5a580

[2021-06-24 18:54] aksg87 opened #2078 "type hint for ProgressBar.attach, metric_names should be Optional[Union[str, List[str]]] = None"
## 🐛 Bug description

type hint for `ProgressBar.attach`, `metric_names` should be `Optional[Union[str, List[str]]] = None`

[code]

## Environment

- Ignite Version (e.g., 0.3.0):
- How you installed Ignite (`conda`, `pip`, source): pip
- Python version: 3.7.10
- Any other relevant information: As discussed with @vfdev-5 on discord.

[2021-06-24 19:26] #2078 closed

[2021-06-24 21:41] #2076 closed

[2021-06-28 15:35] KickItLikeShika opened #2087 "Improve GMARE metric computation formula"
Months ago I tried to improve GMARE to be compatible with DDP, but I had a very strange issue, and the distributed tests were failing, I thought I did something wrong (even I updated +10 metrics for DDP then) so I ignored it at that time, today I was trying to update it and send the PR but I had the same issue, the tests distributed tests are failing.
[code]
And here is the code and the tests
http

[2021-06-28 20:16] sdesrozis commented on #2087
This metric is similar to the Geometric Mean Absolute Error which works fine in ddp. I think the error is in the computation of the relative term.

Line 147 of the test, `np_y.mean()` is computed on the complete `y` vector gathered over procs. However, Line 48 of the metric, the mean is computed on `y` separately on each proc.

@KickItLikeShika What do you think ?

[2021-06-29 08:03] KickItLikeShika commented on #2087
Interesting! thanks for the explanation @sdesrozis , but I'm wondering here, isn't that mismatch in the results confusing for the user? I don't exactly which way is the right one for computing this metric (computing the mean on each proc separately -like the metric itself-, or  the way in the tests). So I don't know should I edit the way we compute the metric, or this test?

[2021-06-29 10:20] thistlillo opened #2089 "Incomplete section in documentation"
## 📚 Documentation

Please have a look at section 2 in:
https://pytorch-lightning.readthedocs.io/en/latest/starter/converting.html#converting

The title is `2. Move the optimizer(s) and schedulers`, but there is only one example for the optimizers. I think that at least the name of the corresponding method for the schedulers would be very helpful for those starting to use the library.

Cheers

[2021-06-29 10:24] KickItLikeShika commented on #2089
Hi @thistlillo, I think you opened the issue in the wrong repository

[2021-06-29 10:30] vfdev-5 commented on #2089
@thistlillo check out our docs and examples : https://pytorch.org/ignite/ instead

[2021-06-29 10:30] #2089 closed

[2021-06-29 10:54] thistlillo commented on #2089
I think you are absolutely right and I beg your pardon. Sorry.

[2021-06-29 14:54] sdesrozis commented on #2087
The answer is in the GAMRE definition 😊

The actual implementation sounds weird to me. The results should be different whether the number of procs used. I didn't look in details and I think you should do to fix this issue. I can help if needed.

IMO the good implementation is the test one.

[2021-06-29 18:12] KickItLikeShika commented on #2087
OK, I will change the way we compute this metric, does this sound OK for you? @sdesrozis @vfdev-5

[2021-06-29 20:07] sdesrozis commented on #2087
From the reference paper p14 :

Inclusion of the actuals mean 𝐴̅ is intended to lower the risk of division-by-zero situations. Actuals mean is implemented in R packages (e.g. in MLmetrics, metrics, rminer). In general case, normalization can use an error from a benchmark method (usually naïve forecasting) (Hyndman, 2006).

So the key point is to understand well what means the mean of all actuals.

[2021-06-30 13:22] KickItLikeShika commented on #2087
Thanks for @sdesrozis for providing help!
After more digging I understood what's going on here, I tried to update this metric to be like the other, so I implemented something like this
[code]
It worked well but not for the integration tests as we define batches (and that was the reason that the integration tests were different from other metrics), so we calculate the mean over a single batch, and

[2021-06-30 13:46] sdesrozis commented on #2087
@KickItLikeShika Thanks for exploring the usage of this metric.

We don't have any time series use case. Why not provide such an example to illustrate the GMRAE usage, and others regression metrics as well ? Although I don't have any experience on this topic.

[2021-07-01 07:50] KickItLikeShika commented on #2087
I have been looking for examples or something shows the usage of the metric, but I found nothing solid yet, but this link you sent above somehow clarifies the usage of the metric https://support.numxl.com/hc/en-us/articles/115001223403-GMRAE-Geometric-Mean-Relative-Absolute-Error

[2021-07-01 18:20] sdesrozis commented on #2087
Yep I cited this article in my previous post. Nothing solid, I agree.

[2021-07-03 08:19] #2051 closed

[2021-07-03 08:43] #1921 closed

[2021-07-04 13:12] #2087 closed

[2021-07-04 19:53] sandylaker opened #2097 "Exponential moving average (EMA) handler"
## 🚀 Feature
As discussed in the MONAI's issue thread, it would be great if EMA handler can be added to the ignite's handlers family.
EMA aims to keep an exponential moving averaged version of model weights. This smoothed version of weights are used for validation and inference.

Context: https://github.com/Project-MONAI/MONAI/issues/2514

[2021-07-06 20:09] vfdev-5 opened #2100 "Update BaseOutputHandler to accept state attributes"
## 🚀 Feature

Here is the feature I would like to have, for example, with TensorboardLogger, but we can implement that for all exp tracking systems:
[code]
where `state_attrs` defines some attributes from `trainer.state` to log to TB.

Currently, this could be done as
[code]

We would like to support state attributes types same as for metrics:
See https://github.com/pytorch/ignite/blob/4d6d220e7be

[2021-07-09 22:17] #2097 closed

[2021-07-09 23:00] vfdev-5 opened #2101 "Add missing distributed tests to core handlers"
## 🚀 Feature

- Early stopping:

Currently, early stopping tests does not run any distributed tests with horovod:
https://github.com/pytorch/ignite/blob/a75d228ddae9558f925384bf3a199832c78de8c3/tests/ignite/handlers/test_early_stopping.py#L336-L352

ToDo:
- [x] add hvd distributed test similarly to
https://github.com/pytorch/ignite/blob/a75d228ddae9558f925384bf3a199832c78de8c3/tests/ignite/metrics

[2021-07-13 13:57] KickItLikeShika opened #2105 "Add `start_lr` option to `LRFinder`"
## 🚀 Feature

Currently we choose the start learning rate for the Learning Rate Finder as the learning rate specified with the optimizer
in case of linear `step_mode`
https://github.com/pytorch/ignite/blob/master/ignite/handlers/lr_finder.py#L124
And also in case of exp `step_mode` (we use torch `_LRScheduler`) they specify their `base_lrs` as the given learning rates given with the optimizer also

[2021-07-14 14:50] KickItLikeShika opened #2108 "Fix mkl Linking Issue in TPU tests is failing"
`Fix mkl Linking issue` with TPU tests is failing, for more info:
https://github.com/pytorch/ignite/pull/2107/checks?check_run_id=3067881243#step:8:1

[2021-07-14 20:58] sdesrozis opened #2109 "Tracking the metrics with performance gaps on XLA"
## 🚀 Feature

Since this [commit](https://github.com/pytorch/ignite/commit/002b595daa8a8345286c5e096c33e278948686a7), the metrics have been disabled with xla device due to a performance regression.

https://github.com/pytorch/ignite/blob/7bdf92322a15ba0bea71ad76f3f785b7ea5907c3/ignite/metrics/metric.py#L224-L225

To solve this, it would be interesting to track which metrics work fine and which hav

[2021-07-15 08:48] #2108 closed

[2021-07-16 02:57] ReloJeffrey opened #2112 "Need help about https://github.com/pytorch/ignite/blob/master/examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb"
## Help

I want to reproduce the result of efficientnet on cifar100. But I even cannot install nvidia/apex pacakge in EfficientNet_Cifar100_finetuning.ipynb. Can you give some suggestions or another more friendly implement. Thanks.

[2021-07-16 07:57] vfdev-5 commented on #2112
Hi @ReloJeffrey , if you can use docker container, we have a number of pre-built images like:

- [pytorchignite/apex:latest](https://hub.docker.com/r/pytorchignite/apex)
- [pytorchignite/apex-vision:latest](https://hub.docker.com/r/pytorchignite/apex-vision)

with nvidia/apex installed.

See details here: https://github.com/pytorch/ignite#using-pre-built-images

Otherwise, you can install nvidia/a

[2021-07-16 09:40] sdesrozis commented on #2112
Hello @ReloJeffrey

The issue you faced is related to the mismatch of the CUDA versions of the preinstalled PyTorch binaries and the compilation tools found to build apex.

I solved this by matching the version of CUDA used and the PyTorch version
[code]
and
[code]

Sorry for this, it is not easy to track such an issue.

HTH

[2021-07-16 10:25] sdesrozis opened #2113 "NVIDIA/APEX installation errors on Colab"
## 🐛 Bug description

#2112

Due to a mismatch on PyTorch binaries and compilation tools installed on colab, NVIDIA/APEX installation doesn't work.

See the discussion
https://github.com/pytorch/ignite/issues/2112#issuecomment-881316895

## Environment

- PyTorch Version (e.g., 1.4): Colab
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux): Colab
- How you installed Ignite (`conda`, `pip`, source)

[2021-07-16 10:34] vfdev-5 commented on #2113
@sdesrozis we can put the following into the cells where we are installing nvidia/apex:
[code]

[2021-07-16 13:13] KickItLikeShika opened #2114 "Improve doc examples rendering"
Currently we are rendering our examples in the docs like this https://pytorch.org/ignite/generated/ignite.engine.engine.Engine.html#ignite.engine.engine.Engine which is not very neat.
What we want to do is to find a better way to make it more good looking, and update our docs examples

![image](https://user-images.githubusercontent.com/2459423/129027565-5363ac3b-03ec-4f72-a41e-c3d1441cc7f5.png)

-

[2021-07-17 11:52] 01-vyom commented on #2113
Seems pretty simple, just have to add the above line in all of the `.ipynb` files. Can I work on this issue?

[2021-07-17 12:42] vfdev-5 commented on #2113
@01-vyom yes, please

[2021-07-17 13:48] #2105 closed

[2021-07-18 13:07] vfdev-5 commented on #2048
@YuanTingHsieh we recently fixed the issue if scontrol is missing in this PR: https://github.com/pytorch/ignite/pull/2092 by @sdesrozis could you please check your code with the latest ignite version: `pip install --pre pytorch-ignite` and let us know if it solves the issue ? Thanks a lot

[2021-07-19 08:10] #2113 closed

[2021-07-19 23:50] aschuh-hf opened #2118 "Do not wrap existing DistributedSampler in DistributedProxySampler in auto_dataloader()"
## 🚀 Feature

I've looked at the implementation of ``ignite.distributed.auto_dataloader()`` and found that when the data loader has a sampler set, it will always wrap this sampler in a `DistributedProxySampler`. This works fine when the data loader sampler is of type `Sampler` and does itself not handle distribution of samples across processes. However, in my case I want to distribute samples diff

[2021-07-20 07:15] sdesrozis commented on #2118
@aschuh-hf Thank you for this request !!

Maybe you could try providing the `batch_sampler` rather than the `sampler` ? Anyway, we will have a look !

[2021-07-20 07:25] vfdev-5 commented on #2118
@aschuh-hf thanks for FR and giving the context, it helps to understand !

Yes, I agree that we can think about adding this possiblity to skip wraping `sampler` as `DistributedSampler` with `DistributedProxySampler`.

[2021-07-20 08:36] aschuh-hf commented on #2118
@sdesrozis I see, providing a `BatchSampler` that wraps my distributed sampler is a better option indeed than using a proxy `IterableDataset` that wraps the map-style dataset and custom sampler.

Still, having a distributed sampler wrapped by another distributed sampler doesn't seem quite right. I think it should at least trigger a warning or error if not supported by Ignite? But passing on the us

[2021-07-20 08:52] vfdev-5 commented on #2118
Yes, I agree.

Sounds great ! Let me assign it to you.

[2021-07-20 09:14] schuhschuh commented on #2118
Ok, I've submitted two separate PRs. One that just raises an error in `DistributedProxySampler` to avoid wrapping a `DistributedSampler` and the other that modifies `auto_dataloader()` to allow users to provide their own distributed sampler.

[2021-07-20 09:22] vfdev-5 commented on #2118
@schuhschuh thanks! Sounds good !

[2021-07-20 11:44] #2118 closed

[2021-07-27 05:57] riyaj8888 opened #2124 ""Accuracy must have at least one example before it can be computed.""
NotComputableError "Accuracy must have at least one example before it can be computed."

may i know why its coming

[2021-07-27 06:21] trsvchn commented on #2124
@riyaj8888 Thanks you for your question and interest in PyTorch-Ignite!
To compute accuracy we need two tensors: y_pred and y. Every iteration Accuracy (in attached form) accumulates value via calling update method: .update(y_pred, y).
At the end of each epoch engine invokes another Accuracy method update, responsible for computing average value of the accuracy.

Thus, if you try to run compute me

[2021-07-28 21:17] vfdev-5 opened #2126 "Move BasicTimeProfiler and HandlersTimeProfiler from contrib to core"
## 🚀 Feature

The idea is to move two classes: `BasicTimeProfiler` and `HandlersTimeProfiler` from `ignite.contrib.handlers` to `ignite.handlers`.

While moving the code, we would like to ensure BC-compatibilty for at least one future release. Once the code has been moved we can put deprecation message for classes and methods inside contrib module

Similar PRs where we moved LRFinder and ParamSche

[2021-07-31 13:54] vfdev-5 opened #2129 "Use `score_name` as metric's key in Checkpoint"
## 🚀 Feature

We can provide a simplification of our code when saving the best model by metric.

Currently, to save 2 best models according to the validation accuracy, we are doing:
[code]

However, we can fetch define `score_function` as `Checkpoint.get_default_score_fn("accuracy")` by default if `score_name` is set. Thus, we can remove one line of code:
[code]

[2021-08-02 17:10] vfdev-5 opened #2131 "[CI] Fix "Trigger Build and Push Docker images to Docker Hub""
- https://github.com/pytorch/ignite/runs/3223083163?check_suite_focus=true#step:4:1

I have to renew the access token. It can not be org one but user's one.

[2021-08-02 17:22] trsvchn commented on #2131
For the future we can try to split this workflow of 2 jobs into 2 workflows:
pip build workflow -> trigger docker workflow

https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_run

[2021-08-02 21:20] KickItLikeShika commented on #2129
Do we want to delete `score_function` argument?

[2021-08-02 22:08] vfdev-5 commented on #2129
Definitely, not

[2021-08-03 08:04] vfdev-5 opened #2133 "Update versionadded/versionchanged in master accordning to the latest releases"
Currently, we are manually updating versionadded/versionchanged for each v0.4.X release:
- https://github.com/pytorch/ignite/commit/eee8dc5159eaec741d677c8a6db9f7ba00d50afa
- https://github.com/pytorch/ignite/commit/84e51c3b4987c16f6dd27a6abd2f9ff95da3dc6c
- https://github.com/pytorch/ignite/commit/84e51c3b4987c16f6dd27a6abd2f9ff95da3dc6c

Tasks to do to fix this issue:
- [ ] Let's update versiona

[2021-08-04 10:41] KickItLikeShika opened #2134 "Move `LRFinder` and `ParamScheduler` tests"
We already moved `LRFinder` and `ParamScheduler` form contrib to core at #1988 and #1998, however we missed moving the tests to core either. So we need to move the tests.

[2021-08-04 12:24] #2134 closed

[2021-08-04 12:58] #2126 closed

[2021-08-05 00:21] github-actions[bot] opened #2138 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 155e17344cfc8c815a5e07da27a90b036a278afa**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1099607642

Feel free to close this if this was just a one-off error.

[2021-08-05 12:51] schuhschuh opened #2139 "How to configure multiple processes to use same GPU?"
## ❓ Questions/Help/Support

I have been using Ignite to distribute training over multiple GPUs on the same node. Here, each process is assigned a single dedicated GPU. I am wondering how I could have multiple processes use the same GPU? As in fractional GPU usage in Ray.Tune for example. As concrete example, what would I have to do in order to run 4 processes (`nproc_per_node=4`) with 2 GPUs, 2 p

[2021-08-05 13:57] vfdev-5 commented on #2139
Interesting question, as far as I know we can not assign multiple processes to the same cuda device if we are using inter-proc communications with NCCL (can not find a reference for that):
[code]

[code]

However, this code works with "gloo" backend.

I can try a bit later one of our distributed examples to run like that: 2 procs on 1 GPU with gloo and can report here later.

HTH

[2021-08-05 14:31] schuhschuh commented on #2139
Interesting, thanks for looking into this so swift. I am now wondering if this even makes sense. I thought about it because I only used half the GPU memory. But having two processes with DistributedDataParallel on same GPU would probably be the same as doubling the batch size instead?! So I suppose the latter would be more reasonable in my current scenario.

For hyperparameter search with Ray.Tune

[2021-08-05 15:15] vfdev-5 commented on #2139
Computation part can be a bottleneck if using the same GPU. For example, if you launch the same training script on 1 GPU twice, training time for both processes will increase.

Model will be copied for each process. As for the batch size you can still rescale it by the number of participating processes...

Maybe you can simply increase the batch size to take more GPU memory with a single process ?

[2021-08-05 20:00] schuhschuh commented on #2139
Thanks! Indeed my original use case / intent was probably not meaningful.

As for Ray.Tune, I was just looking into how to use it with Ignite and came across the issue thread you linked. Looking forward to see how this can be done!

[2021-08-05 20:00] #2139 closed

[2021-08-05 23:27] schuhschuh commented on #1916
Would it make sense and possible to add the profiler to the engines state?

I think you can do

[code]

And in the `process_function` of the engine:
[code]

But otherwise, I am surprised this works without entering a context? There seem to be some things happening in `__enter__`:
https://github.com/pytorch/pytorch/blob/5c431981b5b36da6dba61f0e5d5101e72d2fd726/torch/autograd/profiler.py#L170-L177

[2021-08-06 00:21] github-actions[bot] opened #2141 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 155e17344cfc8c815a5e07da27a90b036a278afa**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1103336602

Feel free to close this if this was just a one-off error.

[2021-08-06 01:10] YuanTingHsieh commented on #2048
Hi @vfdev-5  I've tried with the latest ignite version.
With idist.parallel my code have the following error reported:

[code]

[2021-08-06 06:19] vfdev-5 commented on #2141
@KickItLikeShika can you inspect the failures. They are LRFinder related. Thanks

[2021-08-06 06:20] #2138 closed

[2021-08-06 06:23] vfdev-5 commented on #2131
Updated CIRCLE_TOKEN and rebuilt new images:
- https://hub.docker.com/u/pytorchignite
- https://app.circleci.com/pipelines/github/pytorch/ignite/2071/workflows/e3521eac-2365-4463-8b85-a518571367eb/jobs/6341

Closing as solved

[2021-08-06 06:23] #2131 closed

[2021-08-06 06:36] vfdev-5 commented on #2048
Hi @YuanTingHsieh , yes this is expected as seems like you are using SLURM and `torch.distributed.launch`. We suggest to use only SLURM as processes scheduler:
[code]

Please, see our blog post on distributed with SLURM: https://labs.quansight.org/blog/2021/06/distributed-made-easy-with-ignite/#with-slurm

cc @sdesrozis @fco-dv

[2021-08-06 07:57] KickItLikeShika commented on #2141
@vfdev-5, thanks for noting, the failure here is related to the pytest fixture `recwarn` that counts warnings here
https://github.com/pytorch/ignite/blob/master/tests/ignite/handlers/test_lr_finder.py#L313
And I think the issue here is that we are using random dataloader so the results won't be consistent, so IMO it will be highly inconsistent to speculate it won't raise warnings for example for `

[2021-08-06 08:01] vfdev-5 commented on #2141
Can't we make dataloader deterministic ?

[2021-08-06 08:16] vfdev-5 commented on #1916
cc @Priyansi for visibility and tutorials

[2021-08-06 08:26] KickItLikeShika commented on #2141
@vfdev-5 I will find a way to do that, thanks for proposing!

[2021-08-07 00:29] github-actions[bot] opened #2144 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 4168ef9e885d68880910c99772e734372844c048**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1106770978

Feel free to close this if this was just a one-off error.

[2021-08-08 00:19] github-actions[bot] opened #2145 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 11671133ef8993e59559206639159121123a9b47**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1108938052

Feel free to close this if this was just a one-off error.

[2021-08-09 10:02] #2144 closed

[2021-08-09 10:02] #2145 closed

[2021-08-09 12:16] Ishan-Kumar2 commented on #2100
Hi @vfdev-5 so now that we have moved the data type handling to `BaseOutputHandler` should the tests which check data types like [this](https://github.com/pytorch/ignite/blob/59dc7b1c2b7db52c8fd9a213efabb9671849f4a5/tests/ignite/contrib/handlers/test_mlflow_logger.py#L52) be removed? Instead we can have it in `test_base_logger` itself (maybe interchange with [this](https://github.com/pytorch/ignit

[2021-08-09 12:24] vfdev-5 commented on #2100
@Ishan-Kumar2 I think we can keep these tests as they ensure the key formatting.

[2021-08-09 12:27] Ishan-Kumar2 commented on #2100
Okay.
I'll take up visdom next :)

[2021-08-10 00:20] github-actions[bot] opened #2150 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f51ef0c299511399639c15e9735a78cb6b60db97**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1114756532

Feel free to close this if this was just a one-off error.

[2021-08-10 03:57] Ishan-Kumar2 commented on #2100
Will add Clearml next

[2021-08-10 10:16] vfdev-5 commented on #2036
Can we close this issue ?

[2021-08-10 13:32] #2129 closed

[2021-08-10 17:18] vfdev-5 commented on #2124
Close as stale

[2021-08-10 17:18] #2124 closed

[2021-08-10 19:36] Ishan-Kumar2 commented on #2100
Will add neptune and WandB next

[2021-08-11 00:26] github-actions[bot] opened #2156 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f6ededa5d7b13f58592c890f460cee65f72eaa9f**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1118186360

Feel free to close this if this was just a one-off error.

[2021-08-11 11:26] Priyansi opened #2157 "`Timer`'s misleading behaviour when epoch completion time calculated"
When I tried calculating the time taken to complete a single epoch via `Timer`, the handlers attached to `trainer` before `Timer` were executed first, and thus their time also got recorded by the `Timer` too for a single epoch. Therefore the true time taken for epoch completion, provided by `trainer.state.times`, is less than what `Timer` calculated. This can be misleading. More clarification on h

[2021-08-11 15:51] schuhschuh opened #2158 "RunningAverage: Confusion matrix must have at least one example before it can be computed"
## 🐛 Bug description

I tried to use a `DiceCoefficient` metric based on `ConfusionMatrix` in conjunction with a `ignite.contrib.handlers.tqdm_logger.ProgressBar`. This gives the below `NotComputableError`. When removing the running average metric from the `metrics` argument of the progress bar, I still get this error suggesting it is not related to the progress bar (which is attached to the engin

[2021-08-11 16:19] vfdev-5 commented on #2158
@schuhschuh thanks for reporting that ! @trsvchn could you please check it and inspect what is the problem exactly. Thanks

[2021-08-11 16:51] schuhschuh commented on #2158
The below script reproduces the error:

[code]

[2021-08-11 18:29] trsvchn commented on #2158
@schuhschuh thank you for reporting that!
@vfdev-5 sure, I'll check that!

[2021-08-11 18:37] lyhyl opened #2159 "`ignite.contrib.metrics.roc_auc` does not invoke `output_transform`? Is it by design?"
## ❓ Questions/Help/Support

`ignite.contrib.metrics.roc_auc` does not invoke `output_transform`?
Is it by design?

ignite==0.4.6

[code]
So, I have to do it manually
[code]

[2021-08-11 19:19] vfdev-5 commented on #2159
@lyhyl yes, you are right, output transform is not called if using reset/update/compute API and should be called manually. However, it is automatically called if metric is attached to Engine.

[2021-08-12 03:19] lyhyl commented on #2159
OK. But it is strange to me that metric takes `output_transform` to construct but does not use it. Why not make `output_transform` as parameter of Engine?

[2021-08-12 05:28] vfdev-5 commented on #2159
yes, that's right Engine can be used with different metrics with different output_transforms.

output_transform is applied automatically in `iteration_completed` method. For custom metrics, `update` method is implemented by user and in the current design we didn't ask user to call output_transform there.
I agree that it would be nice to fix this design issue.

[2021-08-12 10:45] Ishan-Kumar2 commented on #2100
Will add MLFlow next

[2021-08-12 11:24] Chandan-h-509 commented on #2133
Hi @vfdev-5 . I am new to PyTorch Ignite and would like to work on this issue to gain some experience.

[2021-08-12 11:32] Chandan-h-509 commented on #2133
Sure.. I'll start working on it. Thank you @vfdev-5

[2021-08-12 15:15] BryanWBear commented on #1096
@ryanwongsa I tried your example and the loss doesn't seem to be updating. Any idea why?

[2021-08-12 18:05] Ishan-Kumar2 commented on #2100
Will add Polyaxon and Tqdm next

[2021-08-13 07:11] Chandan-h-509 commented on #2133
Hey @vfdev-5 .
I have found all the mentions of 0.4.5 and 0.4.6 in v0.4.6.
Can you kindly help me in proceeding further.

[2021-08-13 09:40] vfdev-5 commented on #2133
Please submit a draft PR. Here is a guideline on how to fork and create a PR : https://github.com/firstcontributions/first-contributions
Make sure to accomplish both tasks from this issue description. Thanks

[2021-08-13 10:31] #2100 closed

[2021-08-13 11:05] vfdev-5 commented on #2100
@Ishan-Kumar2 thanks a lot for your work on this issue. It is very helpful !

[2021-08-13 18:20] Ishan-Kumar2 commented on #2100
@vfdev-5 thanks for the reviews, looking forward to more contributions :)

[2021-08-13 19:30] vfdev-5 commented on #2100
@Ishan-Kumar2 hopefully, we have a list of help-wanted issues :)

[2021-08-13 20:21] trsvchn commented on #2158
@schuhschuh thank you for your patience!

Looks like `RunningAverage` in `v0.4.5` is not able to update `MetricsLambda` and it's dependency metrics, like `ConfusionMatrix` in your case.

https://github.com/pytorch/ignite/blob/fbedab9d2ab99d7160388a4c13418087972a7243/ignite/metrics/metrics_lambda.py#L83-L87

Here is another example that you can try to reproduce this kind of  issue:

[code]
[code]

[2021-08-14 11:17] schuhschuh commented on #2158
Great, thanks for looking into this. Will update Ignite!

[2021-08-14 11:17] #2158 closed

[2021-08-14 21:58] #2036 closed

[2021-08-15 14:39] #2133 closed

[2021-08-16 05:44] Ishan-Kumar2 commented on #2101
Interested in this, will raise a PR soon!

[2021-08-16 22:49] sdesrozis commented on #2157
The logic is here https://github.com/pytorch/ignite/blob/38f30c41076ebe5bb954228729b17b9334e8e7eb/ignite/engine/engine.py#L745

The state timers should return the times for specific events. However, if an handler, during a given event, tries accessing the state timer of this event, the time is not yet computed. Yet the value in the timer is the time spent in the previous events rather than an unde

[2021-08-17 16:58] sandylaker opened #2168 "Feature Request: add an additional argument to auto_optim to allow for gradient accumulation"
When we use horovod backend and perform gradient accumulation, we get the following error:
`AssertionError: Gradients were computed more than backward_passes_per_step times before call to step(). Increase backward_passes_per_step to accumulate gradients
locally.`

Thus, we need to change the default argument `backward_passes_per_step` of `horovod.DistributedOptimizer` to enable gradient accumulati

[2021-08-17 17:26] Ketan-Kapse commented on #2114
Hi @KickItLikeShika, I'm interested in working on this issue! It would be my very first contribution.

[2021-08-17 17:44] KickItLikeShika commented on #2114
Hi @Ketan-Kapse, thanks a lot for showing interest! You're welcome to send PRs to tackle this

[2021-08-17 19:37] vfdev-5 commented on #2168
@sandylaker thanks for the feature request ! Maybe, we can enable kwargs for `auto_optim` as it is done for `auto_model`. In the docs we can explicitly say where kwargs goes exactly.

[2021-08-18 18:34] aschuh-hf commented on #2158
@trsvchn I now had a chance to update ignite to 0.4.6 and try this. I suppose it works, but the issue I am facing now is that I cannot attach the metric which the `RunningAverage` is based on to the engine. As I am using the running average just for progress status reporting, I am still interested to compute the actual epoch-wise metric that it is based on because it's the latter that I am interes

[2021-08-18 18:49] aschuh-hf commented on #2158
The work-around I thought of gives me another problem. I have a custom `output_transform` attached to `ConfusionMatrix` which converts the binary `y_pred` engine outputs into one-hot encoded 2-class vectors as required. This works fine when I just attach the `dsc = DiceCoefficient(cm)` metric lambda to the engine. However, when I use `RunningAverage(DiceCoefficient(cm))`, I receive the following e

[2021-08-18 23:11] trsvchn commented on #2158
@schuhschuh Thank you for the questions! I'll start with the second one:

by default, `output_transform` is called only in attached mode, (similar issue #2159). it is applied in `iteration_completed`:

https://github.com/pytorch/ignite/blob/0e0200d7911776f5cd378f6ef29fde169836837c/ignite/metrics/running_average.py#L123
then
https://github.com/pytorch/ignite/blob/0e0200d7911776f5cd378f6ef29fde16983

[2021-08-18 23:50] trsvchn commented on #2158
Agreed! it makes not to compute CM 2 times. But, unfortunately, current api doesn't allow you to use the same attached metric in epochwise and running avg mode. Since, for the first mode we need to accumulate batch results. for the second RunningAvg resets metric before update to ensure that it wasn't no side updates. So, you have to store 2 values one for epochwise compute and one for batchwise c

[2021-08-19 01:05] aschuh-hf commented on #2158
Thanks for clarifying! That we have to maintain two separate accumulators makes sense. Interesting idea to work around this and avoid having to compute the batch confusion matrix twice. I am thinking this could maybe extended for reusability by let's say the metric which computes the confusion for a given engine output, and then use something akin to `Average` or `RunningAverage` to obtain the epo

[2021-08-19 19:52] vfdev-5 commented on #2158
@schuhschuh I'm a bit curious about the way how you are using metrics, i.e. DiceCoefficient and RunningAverage. I'm assuming that you would like to compute dice coefficient on a validation set using a validation engine ?
In this case, won't it be more interesting to do the following: call explicitly `compute` in parallel on every iteration while reusing the same metric:
[code]

[2021-08-19 21:32] schuhschuh commented on #2158
Indeed, this would work for my use case I think. Your suggestion makes me think that maybe I just needed a different MetricsUsage, something in-between BatchWise and EpochWise, where the computation of the metric is triggered both every iteration and at the end of the epoch, but reset is only called at the beginning.

The use case is that I have a standalone validation script which I run with a gi

[2021-08-20 04:59] vfdev-5 commented on #2158
Indeed, maybe we could enable a combination of metric usages...
Thanks for details on the usage!

[2021-08-20 08:34] Chandan-h-509 commented on #2168
Hey @vfdev-5 .
I would like to work on this issue.
Before I start I just want to know whether I have to add backward_passes_per_step as an argument into the ignite.distributed.auto_optim function?

[2021-08-20 09:06] trsvchn commented on #2168
@Chandan-h-509 !
The idea is to introduce `kwargs` for the `auto_optim` argument and pass it to `DistributedOptimizer` like we did for the `auto_model` in a very similar way.
And then we need to describe in a doc very carefully, where it (`kwargs`) goes exactly.

[2021-08-20 09:18] Chandan-h-509 commented on #2168
ohk.. Got it.. Can i work on it?

[2021-08-20 09:36] trsvchn commented on #2168
Sure! Go ahead! Thanks!

[2021-08-20 16:09] HasnainRaz opened #2170 "Parameter "max_iters" present in master but missing in release"
## ❓ Questions/Help/Support

Hey guys,

So in master, I observed this new argument has been present since Nov 2020: https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L608

But in the commit linked in the latest release (0.4.6), it not there: https://github.com/pytorch/ignite/blob/84e51c3b4987c16f6dd27a6abd2f9ff95da3dc6c/ignite/engine/engine.py#L596

Also, looking at the commit

[2021-08-20 20:49] vfdev-5 commented on #2170
@HasnainRaz thanks for the question. The reason why max_iters arg is excluded from stable releases is related to this known issue: https://github.com/pytorch/ignite/issues/1521
We will possibly fix it together with engine refactoring in v0.5.X

[2021-08-20 21:41] sandylaker opened #2171 "Improve the example of Timer's usage"
## 📚 Documentation

The example in the `Timer's documentation suggest to estimate the processing time for a batch as follows:
[code]
It is to note that this timer will be reset at the start of each epoch. When we use multiple workers in the data loader, the first couple of iterations at each epoch often take longer than the later ones. The reset behavior will incur an inaccurate estimation of the

[2021-08-21 06:31] vfdev-5 commented on #2171
Thanks for reporting @sandylaker !
I haven't yet checked the results, but I wonder how inaccurate the results are. Could you please give an example of current behavior vs expected.
Another question why can't we use Events.STARTED instead ?

@Priyansi what do you think?

[2021-08-21 08:14] sandylaker commented on #2171
@vfdev-5 Here is an example log of experiment.
[code]
We can see that the estimated batch time drops in each epoch as the iteration number increases. This is because I use 8 workers. We also see that the ETA in the first log message in the 3rd epoch is longer than the previous ones. This is due to the fact that the timer is reset, and unfortunately the first couple of batches in epoch 3 take longe

[2021-08-21 09:28] HasnainRaz commented on #2170
Thank you, that works

[2021-08-21 09:28] #2170 closed

[2021-08-21 10:10] Ishan-Kumar2 opened #2172 "Add translation Example to Ignite"
## :rocket: Feature
Ignite already has a example for Text Classification using Huggingface Transformers, but having a example with sequence to sequence model used for Translation like [this](https://github.com/huggingface/transformers/blob/master/examples/pytorch/translation/run_translation.py) would be useful. This is because unlike the classification example here the output of the model is a seq

[2021-08-21 10:52] vfdev-5 commented on #2172
This is great suggestion, @Ishan-Kumar2 , thanks!
@Priyansi can you please explain how to proceed with such a how-to guide or tutorial.

[2021-08-21 12:35] Priyansi commented on #2172
Hey, @Ishan-Kumar2 thank you for the suggestion! We are currently working on making tutorials and how-to guides for Ignite in this [repo](https://github.com/pytorch-ignite/examples). All the content is in the form of notebooks.
I am going to work on converting the Text Classification example with transformers that you mentioned to a notebook with explanation. And I agree, having a tutorial on tran

[2021-08-21 13:34] Ishan-Kumar2 commented on #2172
@Priyansi sounds good, although are you sure we should go for a notebook? I think having python scripts may be easier to make changes to. Let me know your thoughts :)

[2021-08-21 13:49] Priyansi commented on #2172
Yes, we decided to go with notebooks because readers would find it more intuitive to see the output as they read along plus it cuts down on all unnecessary code and maintains a flow. It's also so we can convert these notebooks to markdown for easy hosting on our site.

We are trying to organize our examples into tutorials and how-to guides. Since this example's objective, as you stated above, woul

[2021-08-21 15:41] vfdev-5 commented on #2171
Thanks @sandylaker , make sense.
Can you please check if using Events.STARTED would work ?

[2021-08-21 21:40] sandylaker commented on #2171
@vfdev-5 It also works. Please see the following log:
[code]

[2021-08-22 19:42] vfdev-5 commented on #2171
@sandylaker thanks ! Would you like to send a PR with a fix ?

[2021-08-22 20:07] #2171 closed

[2021-08-23 12:36] #2168 closed

[2021-08-23 17:32] Ishan-Kumar2 opened #2175 "Wrong import in Rouge Documentation example"
## 🐛 Bug description
The import line in the docs for RougeN docstring [here ](https://pytorch.org/ignite/generated/ignite.metrics.RougeN.html#ignite.metrics.RougeN) `from ignite.metrics.rouge import RougeN` doesnt work.

It should be replaced with either
`from ignite.metrics import RougeN`
`from ignite.metrics.nlp.rouge import RougeN`
`from ignite.metrics.nlp import RougeN` (Which is how its done

[2021-08-23 19:31] vfdev-5 commented on #2175
Thanks for reporting @Ishan-Kumar2 ! @gucifer please fix this

[2021-08-24 03:24] gucifer commented on #2175
https://github.com/pytorch/ignite/pull/2176

Added the changes.

[2021-08-24 15:52] Ishan-Kumar2 opened #2178 "Using Bleu for batch input"
The example provided in docs for Bleu is for Single input. In that case the output from the engine should be in this format
[code]

When calculating Bleu score for a Batch what is the format for output from the engine?
It should be something like
[code]
Doing this gives an error.
[code]
The typing for `update` requires predictions to be a `Sequence[Any]` and References to be `Sequence[Sequence[Any

[2021-08-24 18:43] vfdev-5 commented on #2178
Cc @sdesrozis @gucifer

[2021-08-24 20:35] sdesrozis commented on #2178
@Ishan-Kumar2 Thanks for this question.

You are right, we didn't expose a batchwise api. Note that the internal function to compute the bleu score could be use in that sense. However, it will compute a bleu score per batch which would be different to a batch bleu score.

https://github.com/pytorch/ignite/blob/cc2c1aa9e31c297f8eb8fe14f3301dd201be8e48/ignite/metrics/nlp/bleu.py#L190

Would you like

[2021-08-25 07:32] Ishan-Kumar2 commented on #2178
@sdesrozis thanks for the update, I am interested in contributing to this.
I agree we should implement the micro avg version also. Then the `corpus_bleu` can be renamed to `sentence_bleu` and the new `corpus_bleu` should be used for corpus/batch level calculations.

[2021-08-25 08:01] sdesrozis commented on #2178
Firstly, the `_corpus_bleu` should be split in 2 parts : (1) the accumulation of ngrams counter (maybe the lenghts of cand/hyp too) and (2) the computation of bp, smoothing and geometric mean. The sentence bleu score (ie macro avg) is (1) + (2) for each sentence and (3) average. The corpus bleu score (ie micro avg) is (1) for each sentence then (2).

For batch version, the macro avg means apply th

[2021-08-25 15:24] Ishan-Kumar2 commented on #2178
Hey @sdesrozis
Since the `_corpus_bleu` already has a loop to iterate over a batch, what if instead of splitting it into 2 seperate functions, we call it once for micro-avg case and multiple times(for each hypothesis in batch) for macro avg.
Like this

[code]

[2021-08-31 10:56] vfdev-5 opened #2181 "CI XLA failing test: test_ema_final_weight_distrib_single_device_xla"
tests/ignite/handlers/test_ema_handler.py::test_ema_final_weight_distrib_single_device_xla

- https://github.com/pytorch/ignite/pull/2180/checks?check_run_id=3471518836#step:9:147

[code]

cc @sandylaker

[2021-08-31 10:58] sandylaker commented on #2181
@vfdev-5 Thanks for the cc. I will create a PR to fix it as soon as possible.

[2021-08-31 11:00] vfdev-5 commented on #2181
Thanks @sandylaker , I think we can cast it tensors to f32 for xla without any harm...

[2021-08-31 14:04] sandylaker commented on #2181
@vfdev-5 I have a question. It would be nice if you could help me.

Why is this test only failed on XLA devices?

We first intialize a dummy model (nn.Linear). By default the `dtype` of `weight.data` is `torch.float32`. So why is the `dtype` of the actual tensor is `torch.float64` as shown in the log message above?

[2021-08-31 15:46] vfdev-5 commented on #2181
@sandylaker good question. Seems like the cast happens inside `torch.testing.assert_allclose`:
https://github.com/pytorch/ignite/pull/2182/checks?check_run_id=3473653855#step:9:206

[2021-08-31 15:57] sandylaker commented on #2181
@vfdev-5 So a floating point will casted to `torch.float64` anyway, according to [torch.testing](https://github.com/pytorch/pytorch/blob/0ef8760bf6b3e8098ef42df60f1e451234151f32/torch/testing/_asserts.py#L396). But I think the problem might be caused by `torch_xla`. Please have a look at my comments in the PR #2182 .

[2021-09-02 12:18] KickItLikeShika opened #2183 "Deterministic Engine failing on nightly version"
Some of CI tests in `test_deterministic.py` are broken on nightly version https://github.com/pytorch/ignite/runs/3472053263#step:12:12780

[2021-09-02 12:36] #2181 closed

[2021-09-02 19:54] Moh-Yakoub commented on #2109
@sdesrozis I am interested in this task. I have few questions though:

1. Do we have a plan about measuring those? How did we measure the performance regression in the first place?
2. Do you recommend we enable them one by one till we hit the regression or do some sort of performance measure prior to see which metrics would benefit from the xla? Do you suggest having this as a part of our examples

[2021-09-03 09:21] vfdev-5 commented on #2112
Let's close this issue as answered. Feel free to reopen if needed

[2021-09-03 09:21] #2112 closed

[2021-09-06 12:28] ivankitanovski opened #2185 "Using ignite.distributed with 3 or more processes hangs indefinitely"
## ❓ Questions/Help/Support

Trying to use the `ignite.distributed` to train a model with DDP. The issue I encounter is that when spawning 3 or processes to run my code, it seems to hang indefinitely. Works fine with 2 processes. I even tried a very basic script and still hangs (similar to the tutorial).

[code]

Executing this with:

[code]
I'd be very grateful if anyone can weigh in on this.

##

[2021-09-06 12:42] vfdev-5 commented on #2185
@ivankitanovski thanks for reporting, we'll investigate what happens exactly.

Meanwhile, can you try to run the training with torch dist launcher :
[code]
[code]

[2021-09-06 13:05] ivankitanovski commented on #2185
Thanks for the quick feedback @vfdev-5. I tried that and, unfortunately, it sill the same (for 3 or 4 processes). Again, tried it with 2 processes and that worked.

[2021-09-06 13:26] sdesrozis commented on #2185
@ivankitanovski Could you try using the gloo backend instead of nccl ? Thanks in advance.

[2021-09-06 13:29] vfdev-5 commented on #2185
Could you please check if pytorch distributed only works with A100 on 4 gpus. Please try to run this code:
[code]

[2021-09-06 13:39] sdesrozis commented on #2185
I just tried on a cluster 8 GPUs per node using SLURM and it works fine.

[2021-09-06 21:52] sdesrozis commented on #2185
I will try asap on another machine without using the slurm configuration.

[2021-09-06 22:19] vfdev-5 commented on #2185
Tested all above code snippets on 3 and 4 V100 GPUs (aws) with pytorch 1.9.0 and python 3.9 and everything works fine. Here are logs for the first code with spawn:

<details>
<summary>
Spawn on 3 GPUs
</summary>

[code]

</details>

<details>
<summary>
Spawn on 4 GPUs
</summary>

[code]
</details>

<details>
<summary>
nvidia-smi
</summary>

[code]
</details>

[2021-09-07 13:25] vfdev-5 commented on #2185
@ivankitanovski can you please share more info on your infrastucture, total number of gpus available on the node. How exactly you run the code and if any logs are printed before hanging...

[2021-09-07 16:40] #2178 closed

[2021-09-07 16:46] ivankitanovski commented on #2185
Thanks for the quick feedback again. We are working on a package (aitlas) that has multiple modules in it. I am rnning the script in the root of package with `python -m package.test`. The `package/test.py` script has the code I shared earlier.

The server has 4 A100-PCIE-40GB GPUs. It has 2TB of RAM memory and 256 AMD EPYC 7742 64-Core Processors.

Pytorch (1.9.0) and Pytorch-ignite (0.4.6.) are i

[2021-09-07 20:42] vfdev-5 commented on #2185
@ivankitanovski thanks for the info. I was suspecting that if your server has more than 4 GPUs than when ignite calls barrier could freeze everything...
Could you please also run this script to get more env info:
[code]
Do you have any chance to check the same code on other multi-gpu machine ? I would like to understand if it is related to A100 (hardware) or software, for example if you run the sa

[2021-09-08 06:10] sdesrozis commented on #2109
Sorry for the late answer, I completely missed your message !!

Firstly, we could compare the performance gap between runs on CPU, GPU and TPU. The idea is to get an overview of the performance of all metrics. We could use the tests as a first step, try identifying the time consuming metrics on xla and look at them more closely.

What do you think ?

[2021-09-08 06:22] sdesrozis opened #2187 "Automatic jupyter environment detection"
## 🚀 Feature

Running code from jupyter (Colab or whatever), one have to add the argument `start_method="fork"` in order to launch a parallel run.

https://github.com/pytorch/ignite/blob/4a243a1b1045ddd1ca8c70afe153b1b208777213/ignite/distributed/launcher.py#L114

An idea would be to detect if a jupyter environment is used and automatically add the `start_method` value if necessary.

EDIT:
this is

[2021-09-08 10:44] vfdev-5 commented on #2101
@Ishan-Kumar2 it remains adding hvd tests to Checkpoint. Would you like to help with that as well to finalize this issue ?

[2021-09-08 14:38] Chandan-h-509 commented on #2187
Hey @sdesrozis . I would like to work on this issue.

[2021-09-08 18:23] sdesrozis commented on #2187
@Chandan-h-509 Thank you for the help !

[2021-09-09 02:14] 01-vyom commented on #1931
I would like to work on this issue

[2021-09-09 03:24] Ishan-Kumar2 commented on #2101
@vfdev-5 sure, I will raise a PR soon.

[2021-09-09 05:59] sdesrozis commented on #1931
@01-vyom Hi ! Thank you for your help !

IMO a good starting point should be to check the @vfdev-5 remark above on colab.

[2021-09-09 11:05] vfdev-5 commented on #998
Let's close this issue as Arpan already implemented FID and IS, available in v0.4.6

[2021-09-09 11:05] #998 closed

[2021-09-09 11:07] vfdev-5 commented on #1357
@KickItLikeShika you have worked on LR finder recently. Can I assign this issue to you to improve it ?

[2021-09-09 11:11] KickItLikeShika commented on #1357
@vfdev-5 Yes that's a good one, I can work on it, thanks!

[2021-09-09 12:15] KickItLikeShika opened #2189 "Restrict model options in transformers examples"
In transformers example https://github.com/pytorch/ignite/tree/master/examples/contrib/transformers it's up to user to override the default model which is `bert-base-uncased`, a lot of models take similar inputs to `BERT` and similar outputs too, but models like `distilbert-base-uncased`, `distilroberta-base`, `bart-base` (and many other models) will not work here as they work on a bit different w

[2021-09-09 12:20] vfdev-5 commented on #2189
Thanks for reporting that @KickItLikeShika , I think the first option is good enough.

[2021-09-09 12:28] KickItLikeShika commented on #2189
@vfdev-5 Updated the description.

[2021-09-09 13:49] Ishan-Kumar2 commented on #2189
@KickItLikeShika Another way I think we can fix this is by passing the dictionary that tokenizer returns instead of making our own dictionary in `dataset.py`. So models which don't require `token_type_ids` their tokenizer will not produce them also.  Have a look at [this](https://github.com/huggingface/transformers/blob/master/examples/pytorch/text-classification/run_glue_no_trainer.py#L297-L311)

[2021-09-09 14:06] KickItLikeShika commented on #2189
@Ishan-Kumar2 seems like a good idea for resolving the input issues, but we still have the same issue related to the Transformer output, most of other transformers don't have a `pooled_output`, I don't see how your suggestion can solve this, what do you think?

[2021-09-09 14:32] KickItLikeShika commented on #2189
Initially it looks good, what do you think @vfdev-5? if that's OK, can you try this out please? @Ishan-Kumar2

[2021-09-09 14:34] vfdev-5 commented on #2189
OK for me if you think it could be understandable by other users.

[2021-09-09 16:00] ivankitanovski commented on #2185
Thanks for this script. I ran it and this is the output:

[code]

Unfortunately, I don't have access to another multi-gpu machine. I have another one, which is single GPU, but that won't make sense.

Thanks again for looking into this.

[2021-09-09 19:40] vfdev-5 commented on #2185
@ivankitanovski thanks for the info. I'm really interested to understand what happens in your case on your infrastructure.
There are few things which seem a bit strange to me.
- cudatoolkit is installed from conda-forge. Technically, pytorch recommended that for v1.8.0 but for v1.9.0 they say to use `nvidia` channel.

Could you please try the following things:
1) run again your hanging script with

[2021-09-10 09:46] tadejsv opened #2191 "Compatibility with `torch.distributed.elastic`?"
Is ignite compatible with [`torch.distributed.elastic`](https://pytorch.org/docs/stable/distributed.elastic.html)? Namely, do `auto_model` and other utils work if the script is launched using `torch.distributed.run`, instead of `torch.distributed.elastic`?

[2021-09-10 09:56] vfdev-5 commented on #2191
@tadejsv thanks for the question. I'd say no changes required in ignite code for using torch distributed elastic.
[cifar10 example](https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10) with a single node can be run without issues:
[code]

[2021-09-10 12:23] tadejsv commented on #2191
That's great, thanks for confirming

[2021-09-10 12:23] #2191 closed

[2021-09-12 18:42] 01-vyom commented on #1931
I check it out on the Colab for TPUs : [Colab](https://colab.research.google.com/drive/1OB6kcFcakVgGAa3vR2H3fIla80P13fXm?usp=sharing), it works on TPU.
Code used from the following issue: https://github.com/pytorch/pytorch/issues/61804

I tried to test on GPU but I am not able to match the versions of pytorch-xla and pytorch cuda.

Also, multiple developers on xla and pytorch suggest that AMP will

[2021-09-13 16:14] ivankitanovski commented on #2185
This did it.

Don't _why_ I didn't try this in the first place. But, any how, it works now. Not sure, if there are major drawbacks to using this over `nccl`, but I see the GPUs are getting used and things are processed.

Thanks for the help @vfdev-5 @sdesrozis

[2021-09-13 16:43] vfdev-5 commented on #2185
Thanks for the feedback, @ivankitanovski !
I'd expect gloo a bit slower than nccl.
For completeness sake, could you still please run above commands to understand what happened with nccl.

[2021-09-13 22:05] vfdev-5 commented on #1931
@01-vyom thanks a lot for the tests and the feedback !

For TPUs can you please check on Colab updated ignite code (tpu + amp) on CIFAR10 dataset if it trains and faster then without amp ?

As for GPUs, maybe if we could clearly understand how to install xla with GPU support on an infrastructure with GPUs (using docker), we could test that from our side as well. In this case, maybe we could have m

[2021-09-15 10:22] vfdev-5 opened #2193 "Use inference_mode instead of no_grad for pth v1.9.0"
## 🚀 Feature

The idea is to replace where it is appropriate `torch.no_grad` with `inference_mode` to speed-up computations: evalutation, metrics.

This works since pytorch v1.9.0.

- https://pytorch.org/docs/1.9.0/notes/autograd.html#inference-mode
- https://pytorch.org/docs/1.9.0/generated/torch.inference_mode.html?highlight=inference_mode#torch.inference_mode

Let's also benchmark the speed-up

[2021-09-15 17:48] Priyansi opened #2194 "Automatically detect `DiskSaver` as `save_handler` in `Checkpoint`"
## 🚀 Feature

Currently, when we use `Checkpoint`, we have to specify a `save_handler` even when we want to store the checkpoints on disk:
[code]
An enhancement can be to automatically detect the `save_handler` as `DiskSaver` if a path is passed, like this:
[code]
Internally,
[code]

[2021-09-15 20:01] mfoglio opened #2195 "ConfusionMatrix axis - labels"
I am looking at the [ConfusionMatrix documentation](https://pytorch.org/ignite/generated/ignite.metrics.confusion_matrix.ConfusionMatrix.html ) and I can't understand what axis corresponds to the _predicted values_ and which one to the _actual values_.

In other words, which one of the two following options is correct?
1) https://miro.medium.com/max/1000/1*fxiTNIgOyvAombPJx5KGeA.png
2) https://mir

[2021-09-15 20:07] YuanTingHsieh commented on #2048
Hi @vfdev-5 ,

I think I was using "srun" command in SLURM.
But with idist.parallel it did not work for me.
So, we will still use the "dist + idist" approach.

[2021-09-15 20:13] vfdev-5 commented on #2195
Thanks for the question, @mfoglio ! It should a standard definition: lines are predictions and rows are targets. The second image: https://miro.medium.com/max/1400/1*85t6zbUiQA0fotnhDaJLaA.png

[code]

[2021-09-15 20:23] mfoglio commented on #2195
Thank you @vfdev-5 . I would love to update the doc. Should I create a new branch from `master` or simply commit my edit to `master`? This would be my first time contributing to open source project :) Thanks for the help.

[2021-09-15 20:30] vfdev-5 commented on #2195
@mfoglio you can do the following:
- fork from this repository
- clone your fork locally and create a branch : `git clone <your-fork>`, `git checkout -b fix-docs-2195`
- try to render docs locally: https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#writing-documentation
  - you can skip katex installation
- make doc changes
- rerender docs and check your modification
- once everything l

[2021-09-15 20:33] #2101 closed

[2021-09-15 21:00] vfdev-5 commented on #2194
@Priyansi thanks for FR. Actually I was thinking about the following:
[code]
where 2nd arg is `save_handler: Union[Callable, BaseSaveHandler],` which be updated to
`save_handler: Union[str, Callable, BaseSaveHandler],` and internally interpreted as you suggested:
[code]

What do you think ?

[2021-09-15 21:24] mfoglio commented on #2195
Thank you @vfdev-5 ! I am almost done. What upstream branch should I use? `fix-docs-2195`?

[2021-09-15 21:34] vfdev-5 commented on #2195
@mfoglio sounds good! You can use any name, for example `fix-docs-2195`

[2021-09-15 21:43] mfoglio commented on #2195
Pull request is [here](https://github.com/pytorch/ignite/pull/2196). If I did anything wrong, let me know how can I do better next time.

[2021-09-15 23:22] #2195 closed

[2021-09-16 01:47] hw-ju commented on #2048
Hi @vfdev-5 ,
I run the helloworld.py within a NGC PyTorch container 21.07 (converted to Singularity container, https://ngc.nvidia.com/catalog/containers/nvidia:pytorch) with the latest ignite v0.4.6 on an university's SLURM cluster with SBATCH and without `torch.distributed.launch`, and get the same error:
[helloworld_idist_error.txt](https://github.com/pytorch/ignite/files/7174310/helloworld_idi

[2021-09-16 05:01] Priyansi commented on #2194
Yeah sounds good. Should I send a PR for this?

[2021-09-16 06:53] H4dr1en opened #2197 "Load checkpoints within a DeterministicEngine"
## 🐛 Bug description

When loading a checkpoint trained with an`Engine` using a `DeterministEngine`, the following error is raised:

[code]

Expected behavior:
Since the checkpoint doesn't have rng_states, DeterministEngine should print a warning and ignore the previous rng_states (recreate on the fly)

How to reproduce:
1. Train a pytorch model with an Engine
2. Save a checkpoint
3. Resume the tr

[2021-09-16 07:05] sdesrozis commented on #2197
@H4dr1en Thank you for reporting this issue ! It makes sense to have a better interoperability between `Engine` and `DeterministicEngine`.

Would you like to help us on this ?

[2021-09-16 07:23] vfdev-5 commented on #2194
@Priyansi yes, please

[2021-09-16 07:33] vfdev-5 commented on #2048
@YuanTingHsieh @hw-ju thanks for you reports. Our team will inspect these issues and get back here asap.

[2021-09-16 07:47] vfdev-5 commented on #2048
@hw-ju I explored your logs and a bit confused about the env variables defined in your case configuration. Could you please provide the output for the following code if you run it in the same as the previous example.
[code]

Thanks a lot for you help !

[2021-09-16 09:30] sdesrozis commented on #2048
@hw-ju Thanks for the report. It seems that there is a conflict with your environment, and it sounds weird... Could you dump the environment in the script, as done hereafter, and share the result ? Thanks in advance !
[code]

[2021-09-16 11:37] #2187 closed

[2021-09-16 14:57] vfdev-5 opened #2199 "Improve GHA CI when old pytorch nightly version is installed"
From time to time we have tests failing when using pytorch nightly because of old version is installed.
For example: https://github.com/pytorch/ignite/runs/3620746086

Failing tests:
[code]
because of at "Install dependencies" step, conda installed
[code]
which dates on April 2021 and not September (today).

Let's add an option to skip all other tests if we detect that pytorch nightly version date

[2021-09-16 18:34] hw-ju commented on #2048
Hi @vfdev-5,
Thanks for your super fast reply!! :-D
Here's the output:
[helloworld_idist_v1_8644813_out.txt](https://github.com/pytorch/ignite/files/7180185/helloworld_idist_v1_8644813_out.txt)

[2021-09-16 18:44] hw-ju commented on #2048
@vfdev-5
I also tried manually setting DDP related environment variables, but got the same runtime error.
The BATCH script:
[launch_helloworld_idist_env.txt](https://github.com/pytorch/ignite/files/7180221/launch_helloworld_idist_env.txt)
[pt_multinode_helper_funcs.txt](https://github.com/pytorch/ignite/files/7180227/pt_multinode_helper_funcs.txt)
The helloworld python script:
[helloworld_idist_en

[2021-09-16 20:55] sdesrozis commented on #2048
@hw-ju Thanks for the report.

it seems that your environment contains some variables set usually by PyTorch launcher. In the current ignite distributed module, slurm and PyTorch launcher are mutual exclusive, since srun has the same usage than PyTorch launcher. That explains the raised error.

However, I would say that the conflicting variables are set somewhere but it’s not easy to track…

[2021-09-16 20:56] vfdev-5 commented on #2048
@hw-ju thanks a lot for the logs !
Looks like when you execute the code on the workers with srun (inside sbatch file), somehow you have already defined "RANK", "LOCAL_RANK" and "WORLD_SIZE" env variables. Do you know which process sets them or why they are already present ? Ignite raises the issue because of that.

To make Ignite work we can do the following hacky solution:
[code]

However, we wou

[2021-09-16 21:01] vfdev-5 commented on #2048
@sdesrozis can we our internal check a bit less strict: even if we have LOCAL_RANK, RANK and WORLD_SIZE defined in env vars and if they match corresponding SLURM env vars like SLURM_LOCALID, SLURM_PROCID and SLURM_NTASKS, we can continue otherwise we can raise the error. What do you think ?

[2021-09-16 21:18] sdesrozis commented on #2048
Yes, that sounds good. We introduced this check on environment to avoid such inconsistent situations, yet it could be improved as you suggested ! However, note that it may not solve this issue, we are not absolutely sure that the variables are built from all slurm variables. Anyway, we should try this.

[2021-09-17 03:05] hw-ju commented on #2048
@vfdev-5
Sorry I don't know why those env vars are present. I don't set them up in any script.
I run the hacky code and got a ValueError:
[helloworld_idist_v2_8676600_out.txt](https://github.com/pytorch/ignite/files/7182291/helloworld_idist_v2_8676600_out.txt)

[2021-09-17 05:59] sdesrozis commented on #2048
Ok, we face a new issue. Again, it seems related to the environment. The hostname is not found during the PyTorch initialisation of process group. As it’s done using singularity, you have to check that the hostname is reachable for the containers.

On our side, we must run some tests on such an infrastructure (slurm + docker/singularity + nvcr images).

[2021-09-17 08:32] vfdev-5 commented on #2048
I checked the code snippet inside nvcr.io/nvidia/pytorch:21.07-py3 docker container and nothing special , everything runs correctly.

The ValueError from the output means that TCPStore can't connect the host. For example, you can reproduce the error if master address is incorrect:
[code]

It may happen that we have an issue while parsing hostnames:
 https://github.com/pytorch/ignite/blob/fa0a76e6b

[2021-09-17 08:36] ydcjeff commented on #2199
I suggest to use `pip` instead of miniconda.

[2021-09-17 08:45] vfdev-5 commented on #2199
Why it would solve the problem of installing old package ?

[2021-09-17 08:48] ydcjeff commented on #2199
We can define the PyTorch S3 URL for installation.
https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html doesn't have 1.9.0 binaries.

[2021-09-17 08:56] vfdev-5 commented on #2199
In this case we have to generate the name of wheel we need by today, yesterday date + python version etc... I think it may be more complex than just verify conda installed package date from version and stop further tests if date is 2-3 months old.

[2021-09-17 08:59] ydcjeff commented on #2199
I think we don't need to generate date. This nightly command is shown on pytorch.org.
[code]

[2021-09-17 09:04] vfdev-5 commented on #2199
Technically, if pip would behave as conda for some reason, it could also install an old version, thus we have to check version date as well. Similarly, you can see the files on anaconda : https://anaconda.org/pytorch-nightly/pytorch/files
We can try to replace conda by pip if this implicitly solve the problem...

[2021-09-17 09:09] ydcjeff commented on #2199
Yes, pip can also behave like conda. But it would be great if pytorch team can remove old binaries from nightly channel.

[2021-09-17 12:35] #2189 closed

[2021-09-17 16:25] sdesrozis opened #2202 "SLURM and conflicting environment variables"
## 🚀 Feature

Discussed here https://github.com/pytorch/ignite/issues/2048#issuecomment-921153418

Currently, if slurm environment variables are detected, an exception may be thrown if conflicting environment variables are defined (LOCAL_RANK, RANK, WORLD_SIZE). Typically, these variables are defined in `idist` using the slurm variables. This mutual exclusion is safe and avoid misuse of PyTorch la

[2021-09-17 17:26] hw-ju commented on #2048
@vfdev-5 @sdesrozis
I tried the code, here's the output file:
[helloworld_idist_check_env_8715330_out.txt](https://github.com/pytorch/ignite/files/7187379/helloworld_idist_check_env_8715330_out.txt)
There's an extra space before the hostname?

[2021-09-17 17:39] hw-ju commented on #2048
@vfdev-5 @sdesrozis
By the way, `torch.distributed` can run for distributed training on the same cluster. This is a sample main():
[sample_main.txt](https://github.com/pytorch/ignite/files/7187451/sample_main.txt)

[2021-09-17 18:23] sdesrozis commented on #2048
In your previous experiment, something is weird :
[code]
but
[code]
It seems the result of `_expand_hostlist` is wrong. It could explain the TCP issue but only if the command `sconstrol` is not available.

[2021-09-17 18:27] sdesrozis commented on #2048
@hw-ju under the hood, something similar is done by idist. To be sure to understand, could you give the command to launch such a script ? Thanks in advance.

[2021-09-17 21:05] vfdev-5 commented on #2048
@sdesrozis I confirm that `_expand_hostlist` is buggy:
[code]
vs
[code]

[2021-09-17 21:19] vfdev-5 opened #2203 "Bug with `_expand_nodelist`"
## 🐛 Bug description

[code]
but should be
[code]

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0): 0.4.6
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

cc @sdesrozis

[2021-09-18 00:21] github-actions[bot] opened #2205 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 554fd807ffb2d9e48b5e04f3bc710ea54505aea8**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1247377549

Feel free to close this if this was just a one-off error.

[2021-09-18 05:53] sdesrozis commented on #2048
@hw-ju We had a bug when the slurm hostname list was parsed, now it is fixed. Sorry for that. Could you try again the hacky code ? Thanks in advance !

[2021-09-19 13:43] #1357 closed

[2021-09-20 08:42] #2202 closed

[2021-09-20 09:04] KickItLikeShika commented on #2193
I will work on this, `torch.no_grad` exists in:
- Examples
- Docs
- Metrics
- Engine
I will start workin on them in this same order, what do you think?

[2021-09-20 09:14] vfdev-5 commented on #2193
@KickItLikeShika it is more a discussion issue. Can you first benchmark how quicker `inference_mode` vs `no_grad` for one of our examples, e.g. cifar10

[2021-09-20 09:19] KickItLikeShika commented on #2193
Cool, will do that on CIFAR and share the results, maybe more complex use case like CIFAR, can get us more clear benchmarks.

[2021-09-20 09:43] vfdev-5 commented on #2193
I agree. To see more clearly we can just benchmark metric updates

[2021-09-20 13:18] KickItLikeShika opened #2207 "Raise friendly errors in case of `num_epochs` is less than `num_warmup_epochs` in CIFAR10 and Transformers examples"
I was trying to benchmark `torch.inference_mode` vs `torch.no_grad` on CIFAR10 example, so I just wanted to run for 3 epochs and average the benchmarks, the default warmup epochs is 4, so the scheduler will raise this error, which is not very clear to new users
[code]
So I suggest to check `num_epochs` vs `num_warmup_epochs` inside `run` method and raise more clear error message for the users.

[2021-09-20 14:12] KickItLikeShika commented on #2193
Ran CIFAR10 example for 5 epochs each (no_grad, inference_mode), and averaged the time for evaluating test metrics. (on Colab GPU).
- torch.no_grad: 3.7 sec
- torch.inference_mode: 3.688 sec
NB: https://colab.research.google.com/drive/1zfWxg8H0XOutqXfh8BORXaz2sJ4hFE_-?usp=sharing

[2021-09-20 17:20] KickItLikeShika commented on #2207
We have these 2 examples:
- https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10
- https://github.com/pytorch/ignite/tree/master/examples/contrib/transformers

in both, if the num_epochs is less the num_warmup_epochs, the error in the description will be raised,
we want to check inside the `rum` method in bot if `num_epochs` is less than `num_warmupds_epochs` we should raise a fr

[2021-09-20 17:21] KickItLikeShika commented on #2207
Hey @himanshu007-creator, thanks a lot for showing interest, we have these 2 examples:
- https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10
- https://github.com/pytorch/ignite/tree/master/examples/contrib/transformers

in both, if the num_epochs is less the num_warmup_epochs, the error in the description will be raised,
we want to check inside the `rum` method in bot if `num_ep

[2021-09-21 22:39] hw-ju commented on #2048
@sdesrozis Sorry for the late reply! I rerun the hacky code, and got an error.
Output file:
[unet_training_ddp_slurm.txt](https://github.com/pytorch/ignite/files/7206635/unet_training_ddp_slurm.txt)
master_addr is using all node names instead of one, is that the bug?

[2021-09-21 23:11] hw-ju commented on #2048
@sdesrozis @vfdev-5 Here are the launch scripts,
[launch_ddp_slurm_sh.txt](https://github.com/pytorch/ignite/files/7206737/launch_ddp_slurm_sh.txt)
[pt_multinode_helper_funcs_sh.txt](https://github.com/pytorch/ignite/files/7206738/pt_multinode_helper_funcs_sh.txt)
[run_ddp_slurm_on_node_sh.txt](https://github.com/pytorch/ignite/files/7206739/run_ddp_slurm_on_node_sh.txt)

In `pt_multinode_helper_f

[2021-09-22 01:28] FarehaNousheen commented on #2114
Hi, I'm not clear about the suggested ways of improving the doc. Kindly guide me on this so that I can proceed ahead in improvising this.

[2021-09-22 01:32] FarehaNousheen commented on #2207
Please brief me about the issue a little more. I'll work on this issue.

[2021-09-22 07:44] sdesrozis commented on #2048
@hw-ju Thanks again for the report !

Yes, that is a bug :( I'm sorry of that. In your case, the hostnames of your cluster are not classical... Usually, you have naming rules such `[cluster-name]-[node]` and here, it's quite different. Anyway, I fix it now.

[2021-09-22 08:28] KickItLikeShika commented on #2114
Hi @FarehaNousheen, you can see here how we render examples https://github.com/pytorch/ignite/issues/2114, if you're familiar with Sphinx, we are using Sphinx to create our docs: https://www.sphinx-doc.org/en/master/. We would like to change the way we render our examples, we left a suggestions in the description of the issue, if you have another idea to render our docs we can discuss it here.
For

[2021-09-22 08:32] KickItLikeShika commented on #2207
Hi @FarehaNousheen, please check the comment above https://github.com/pytorch/ignite/issues/2207#issuecomment-923125971, it explains what we need to do in depth. If you still can't understand what we need to do, please ping me on discord.

[2021-09-22 09:41] sdesrozis commented on #2203
Two wrong results
* `c1009a-s17,c1010a-s11`
* `compute-b24-[1-3,5-9], compute-b25-[1,4,8],compute-b25-[2-9,13]`

[2021-09-22 12:46] vfdev-5 commented on #2048
@hw-ju thanks a lot for debuging this issue with us ! We'll merge a fix today and nightly version will be created after 00h UTC. If you could give another try with the updated nightly version it would be great !

[2021-09-22 14:49] riyaj8888 opened #2209 "config file not find"
i dont find config file. from where it is imported do anyone have idea.

[2021-09-22 15:35] #2203 closed

[2021-09-22 16:40] vfdev-5 commented on #2209
@riyaj8888 If you are talking about this `config`:
https://github.com/pytorch/ignite/blob/053411d73047e278f22008f9f0f1775d0e51dcd5/examples/contrib/cifar10/main.py#L21

It is fetched from local args here:
https://github.com/pytorch/ignite/blob/053411d73047e278f22008f9f0f1775d0e51dcd5/examples/contrib/cifar10/main.py#L191-L193

[2021-09-23 06:48] riyaj8888 commented on #2209
is it required to pass config file always? because most of function has config as arguments .

[2021-09-23 06:53] riyaj8888 commented on #2209
do we always need to implement training function for parallel run

[2021-09-23 07:34] vfdev-5 commented on #2209
In general, it can be helpful to have configuration file but not always necessary. Config as argument is one way to implement things. Another way would be to specify all required args directly without grouping them into config dict.

If we would like to do parallel computations with [ignite support backends] then yes, we need to create a function, like `training`. See more details [here](https://p

[2021-09-23 09:04] riyaj8888 commented on #2209
i am getting this error after made changes according to "https://colab.research.google.com/github/pytorch/ignite/blob/master/assets/tldr/teaser.ipynb#scrollTo=bCK9z8MD--zQ"

`2021-09-23 14:27:49,272 ignite.distributed.auto.auto_dataloader INFO: Use data loader kwargs for dataset '<src.datasets.damage':
        {'batch_size': 1, 'num_workers': 8, 'pin_memory': True, 'drop_last': True}
2021-09-23 14

[2021-09-23 11:57] sdesrozis commented on #2209
@riyaj8888 Sorry this is not really easy to help, could you try to get the relevant part of the error message ?

You said you have made a few changes in the original notebook, maybe you could give more details.

Thanks.

[2021-09-23 12:03] vfdev-5 commented on #2209
@riyaj8888 if you are using Jupyter to launch the code, please use `start_method = "fork"`:
[code]

[2021-09-23 12:09] vfdev-5 opened #2210 "Fix failing CI on stable v1.9.1 pytorch"
## 🐛 Bug description

[code]

https://github.com/pytorch/ignite/blob/053411d73047e278f22008f9f0f1775d0e51dcd5/tests/ignite/distributed/test_launcher.py#L96-L98

<details>
<summary>
Error message
</summary>

[code]

</details>

[2021-09-23 12:14] riyaj8888 commented on #2209
can you provide sample code/script of distributed training?

what minimum code should be we insert inside

`def training(local_rank, config, **kwargs):
    # ...
    print(idist.get_rank(), ": run with config:", config, "- backend=", idist.backend())
    # ...

backend = "gloo"
config = {}
with idist.Parallel(backend=backend, start_method = "fork") as parallel:
    parallel.run(training, config, a

[2021-09-23 12:16] riyaj8888 commented on #2209
@vfdev-5
what is a,b in the .run

[2021-09-23 12:17] riyaj8888 commented on #2209
`import ignite.distributed as idist

def train_fn(local_rank, a, b, c):

    import torch.distributed as dist
    assert dist.is_available() and dist.is_initialized()
    assert dist.get_world_size() == 4

    device = idist.device()
    assert device == torch.device(f"cuda:{local_rank}")

backend = "nccl"  # or "gloo" or "horovod" or "xla-tpu"
idist.initialize(backend)
local_rank = idist.get_loca

[2021-09-23 12:17] riyaj8888 commented on #2209
https://pytorch.org/ignite/distributed.html

[2021-09-23 12:21] vfdev-5 commented on #2209
@riyaj8888 here is a working code:
[code]

`config`, `a`, `b` are example argument that you can remove, replace etc.

PS: @riyaj8888 please write a single message with all your questions such that we wont spam all other users watching this repository.
If you would like to discuss with instant messages, please use our discord server: https://discord.gg/djZtm3EmKj

[2021-09-23 12:39] riyaj8888 commented on #2209
Thanks for your reply.

i have one question sorry for multiple questions,
once we creata training function inside main.py then how do we  do traiining on multiple devices ? can u assist in this

[2021-09-23 16:14] hw-ju commented on #2048
@vfdev-5 I just installed the latest nightly version and reran the hacky and non-hacky helloworld scripts. The original errors come back. Could you double check?

non-hacky script
[helloworld_idist.txt](https://github.com/pytorch/ignite/files/7219147/helloworld_idist.txt)
output
[helloworld_idist_9045796_out.txt](https://github.com/pytorch/ignite/files/7219183/helloworld_idist_9045796_out.txt)
`Ru

[2021-09-23 17:00] vfdev-5 commented on #2048
@hw-ju thanks for the new reports ! According to the logs, ignite version is 0.4.6 but should be '0.5.0.dev20210923'
Please, try the following: `pip3 install --upgrade --pre pytorch-ignite`

[2021-09-23 23:29] hw-ju commented on #2048
@vfdev-5 Now the helloword script can run! :)
It raised 1 warning: `[W ProcessGroupNCCL.cpp:1671] Rank 9 using best-guess GPU 1 to perform barrier as devices used by this process are currently unknown. This can potentially cause a hang if this rank to GPU mapping is incorrect.Specify device_ids in barrier() to force use of a particular device.`
output:
[helloworld_idist_9070595_out.txt](https://gi

[2021-09-24 04:26] sdesrozis commented on #2048
@hw-ju Great news !

Although we discussed it, this feature is not yet supported. However, I can work on it asap !

[2021-09-24 07:17] vfdev-5 commented on #2048
Great news that it finally can work ! Thanks a lot for your patience @hw-ju !

Yes, this warning appears with the new version of NCCL, we'll also fix it.

Unfortunately, we can not ignore it by any additional call as we call barrier internally. And yes, you are right, `idist.barrier()` does not accept any kwargs. We can think to add that if it make also sense for other backends.

[2021-09-24 07:27] vfdev-5 opened #2212 "Fix NCCL warning caused by barrier if using `idist`"
## 🚀 Feature

The following code will produce warnings with the latest PyTorch :
[code]
Output:
[code]

These NCCL warnings are caused by this code:
https://github.com/pytorch/ignite/blob/053411d73047e278f22008f9f0f1775d0e51dcd5/ignite/distributed/comp_models/native.py#L128-L129

Solutions:
- verify the API of `dist.barrier` and specify participating processes
- remove barrier and argue why

[2021-09-24 07:29] vfdev-5 opened #2213 "[FR] Add kwargs to `idist.barrier`"
## 🚀 Feature

A feature request to add kwargs to `idist.barrier`.

- Verify if all supported backends now can accept additional args to their `barrier` methods
- Add kwargs and route it to backend implementations
  - warn if kwargs are specified but can not be used by the backend
- Update documentation
- Add test

[2021-09-25 00:22] github-actions[bot] opened #2215 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 053411d73047e278f22008f9f0f1775d0e51dcd5**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1271737480

Feel free to close this if this was just a one-off error.

[2021-09-25 06:51] #2210 closed

[2021-09-25 13:28] Ishan-Kumar2 commented on #1662
Hi @ydcjeff and @vfdev-5 I would like to add gradient accumulation in the ``create_supervised_trainer``. It can be added as a seperate step like ``supervised_training_step_grad_acc`` which applies just grad acc or would it be useful to allow grad acc as a flag in the existing ``supervised_training_step*`` functions so that it can be coupled with existing ones like amp?

[2021-09-25 13:42] vfdev-5 commented on #1662
@Ishan-Kumar2 I think a flag to existing `supervised_training_step*` can be a good option.

[2021-09-25 20:40] vfdev-5 opened #2224 "Update sphinx to 3.5.4 or latest"
## 📚 Documentation

Let's bump Sphinx version to 3.5.4 or later for our docs building.

[2021-09-26 07:48] #2114 closed

[2021-09-26 07:54] ydcjeff commented on #1898
To keep building master and latest tag and avoid rebuilding for old docs, why don't we use https://readthedocs.org ?

[2021-09-26 08:15] vfdev-5 commented on #1898
Readthedoc is a service and I think it should be paid if using our own server.

[2021-09-26 09:06] ydcjeff commented on #1898
But it is free for open source, right?

[2021-09-26 10:59] Anubha13kumari commented on #2224
hi @vfdev-5 .first timer this side .i want to work on this issue please guide me .

[2021-09-26 12:59] vfdev-5 commented on #2224
Hi @Anubha13kumari , please check out https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#writing-documentation and try to build locally our docs. Next, change sphinx version in `docs/requirements.txt`, reinstall the new version and rebuild the docs. Please report here how it works and send a PR with the change.

[2021-09-28 10:11] vfdev-5 opened #2229 "CI is failing with Visdom tests on macosx"
## 🐛 Bug description

[code]

Let's temporarily disable these tests on macosx and fix them later.

- https://github.com/pytorch/ignite/pull/2201/checks?check_run_id=3730936423#step:15:201

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2021-09-28 10:13] #2199 closed

[2021-09-28 11:03] ydcjeff commented on #2229
It's failing on macos, not windows.

[2021-09-28 11:11] ydcjeff commented on #2224
As a side note, updating to latest (4.2.0) is [failing to build the old versioned docs](https://github.com/ydcjeff/ignite/runs/3731615939?check_suite_focus=true).

We should think about how to manage old versioned docs.

[2021-09-28 11:15] vfdev-5 commented on #2224
Looks like it is an issue with https://github.com/pytorch-ignite/sphinxcontrib-versioning which we can update as well from our side

[2021-09-28 13:21] sdesrozis opened #2230 "Use doctest to execute examples in the docstring"
## 📚 Documentation

Example snippets are inserted into the docstring to show usage. However, these pieces of code might be deprecated, or might not work. The module `doctest` aims to execute the tests written in docstring and it works fine with sphinx. It could help to detect earlier doc issues and provide a better doc.

Useful links
* https://docs.python.org/3/library/doctest.html
* https://www.s

[2021-09-28 22:05] #2141 closed

[2021-09-28 22:11] hw-ju commented on #2048
@vfdev-5 Thanks for all the help!

Is it safe to ignore this warning? Can rank-to-GPU mapping go wrong?

`idist.barrier()` is for all processes?

I'm not sure if it's appropriate to ask the question here, but what are the benefits of using `torch.distributed.launch` compared with pure SLURM launch?
I really appreciate idist's support for SLURM!! :))

[2021-09-28 22:44] vfdev-5 commented on #2048
I would say we can ignore before we fix. In the message I saw in our tests, it is was pretty straightforward assignment between rank and GPU... Can it go wrong, I think we can make it fail while assigning local ranks manually but otherwise, I hope it wont be an issue.

I think it is fine. With SLURM it is more simple to launch multi-node training. `torch.distributed.launch` prior to v1.9.0 was jus

[2021-09-29 06:27] sdesrozis commented on #2048
SLURM is a workload manager, it means you can control how your machine is used. This is dedicated to HPC / IA clusters. For the end user, `torch.distributed.launch` or `srun` seems equal but in fact this is not the case. Some users use `torch.distributed.launch` without consider the limits except number of processes, but it exists memory, time, cpu per node (and not only gpu), and others limits. O

[2021-09-29 08:00] vfdev-5 commented on #2209
Let me close this issue as solved. Feel free to ask other questions on Discord or GH Discussions or in another issue.

[2021-09-29 08:02] #2215 closed

[2021-09-29 08:04] vfdev-5 commented on #2230
Interesting idea. I think Jeff or Taras proposed already something like that previously. Probably we wont be able to execute all doc snippets like ddp etc

[2021-09-29 08:46] sdesrozis commented on #2230
Of course, but it could help to keep most examples correct.

[2021-09-30 00:23] github-actions[bot] opened #2235 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e30dbada90235edc13d851019debcdb13d80ab6a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1289007550

Feel free to close this if this was just a one-off error.

[2021-09-30 18:15] avats-dev commented on #2229
Hey @vfdev-5 , I want to take up this issue and contribute. Can you guide me further on how to implement this?

[2021-10-01 04:08] DevPranjal commented on #2230
Hello @sdesrozis, @vfdev-5, I'd like to work on the Ignite docs, can you provide some more details about this issue? Do we have to check each doctest for deprecation? Or do we have to refactor the doctests to a follow a particular template?

[2021-10-01 04:36] sdesrozis commented on #2230
A good first point would be to check whether `doctest` would help. Maybe we could choose a module and see how it helps. Meanwhile we must assess the required effort for the rest of the doc.

I propose to focus on a few metrics. Select ones having a piece of example code inside the docstring and check how `doctest` + sphinx extension works. What do you think ?

Anyway, I think this issue is a huge

[2021-10-01 06:16] DevPranjal commented on #2230
Since this is a fast developing library, I think it would be great to have doctests to stay updated on the docs. I will start looking into how doctests work with sphinx.

[2021-10-01 09:52] KickItLikeShika commented on #2183
Doesn't work yet https://github.com/KickItLikeShika/ignite/runs/3765495876?check_suite_focus=true#step:15:1938

[2021-10-01 12:43] vfdev-5 commented on #2229
@avats-dev sounds good about helping us with this issue. It is not about implementing things but using pytest skip feature to skip above mentioned tests in order to make CI happy on macosx.

[2021-10-01 19:05] avats-dev commented on #2229
Ok, I'm working on resolving this. Would let you know if need help somewhere. Thanks!

[2021-10-02 04:48] DebarshiChanda commented on #2207
Hey @KickItLikeShika, I think adding an assertion can solve this issue. Can you assign this to me?

[2021-10-02 12:01] theory-in-progress commented on #2207
Hey @KickItLikeShika, I think I've made the necessary changes in three of the files to raise an user friendly message when ``num_epochs`` is greater than ``num_warmup_epochs``. Am I free to create a Pull Request, since this hasn't been assigned to me...

[2021-10-02 21:07] vfdev-5 commented on #2207
@DebarshiChanda @theory-in-progress to be fair if someone is assigned to the issue his/her PR has higher prio (conditioned also by the time it takes to work on the issue). Thanks a lot to you both on working on this tiny issue ! In this particular case, @theory-in-progress 's PR looks better and we'll proceed with it.
@DebarshiChanda please pick another issue to work on, thanks a lot !

[2021-10-02 21:10] #2235 closed

[2021-10-02 21:10] vfdev-5 commented on #2229
@avats-dev any updates on this issue ?

[2021-10-02 21:11] #2205 closed

[2021-10-02 21:12] vfdev-5 commented on #2185
Let's close this issue as resolved. @ivankitanovski feel free to reopen if needed

[2021-10-02 21:12] #2185 closed

[2021-10-02 21:12] #2150 closed

[2021-10-02 21:12] #2156 closed

[2021-10-03 03:04] theory-in-progress commented on #2207
Of course! sorry for barging in... Thanks for the opportunity @vfdev-5! I'm happy to work on this issue

[2021-10-03 11:35] theory-in-progress commented on #2229
Hey @vfdev-5! I think I can resolve this issue... Those tests are already being skipped on Windows, I just need to add a statement to make the tests skip on Macos too right?

[2021-10-03 12:22] vfdev-5 commented on #2229
@theory-in-progress if no signs from @avats-dev in 5h, we can accept your PR on this issue as well

[2021-10-03 13:59] Ishan-Kumar2 opened #2239 "Update install links for PyTorch XLA in MNIST TPU example"
The PyTorch XLA install link in [MNIST_on_TPU](https://github.com/pytorch/ignite/blob/master/examples/notebooks/MNIST_on_TPU.ipynb) is outdated and doesn't work anymore, this can be updated to the 'nightly' version or getting the latest version from XLA repo as done in this [example](https://github.com/pytorch-ignite/examples/blob/main/tutorials/cifar10-distributed.ipynb).

[2021-10-03 14:03] vfdev-5 commented on #2239
@Ishan-Kumar2 thanks for reporting. Yes, using nightly or latest stable (as [here](https://colab.research.google.com/github/pytorch/ignite/blob/master/assets/tldr/teaser.ipynb)) can be a fix.

[2021-10-03 14:36] vfdev-5 opened #2240 "[CI] test loss with kwargs is broken on nightly"
## 🐛 Bug description

[code]

- https://github.com/pytorch/ignite/pull/2236/checks?check_run_id=3782539427#step:15:1375

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2021-10-04 04:15] ydcjeff commented on #2224
@vfdev-5 I think at some point, we might have used deprecated API of latest sphinx to work with old versioned docs since old docs used old sphinx features.

[2021-10-04 11:35] #1662 closed

[2021-10-04 13:43] #2240 closed

[2021-10-04 13:54] theory-in-progress commented on #2229
Sure! I'll get right on to it.

[2021-10-04 15:27] #2194 closed

[2021-10-05 00:21] github-actions[bot] opened #2244 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9cce2e86d00de43c0e80d9877a4ee9211d2f7074**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1305765035

Feel free to close this if this was just a one-off error.

[2021-10-05 09:23] vfdev-5 commented on #2229
@theory-in-progress you can either check that by setting up the same GH actions on your fork or sending a PR to this repository and we'll see

[2021-10-05 20:24] mfoglio commented on #1383
I would love to have the possibility of computing accuracy per each class out of the box too :)

[2021-10-06 00:21] github-actions[bot] opened #2248 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit c6617f2e28e9340e896397049a51622b7fe57520**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1309818284

Feel free to close this if this was just a one-off error.

[2021-10-06 07:53] sdesrozis opened #2249 "Update the `black` version and format the strings"
## 🚀 Feature

We currently use `black` version `19.10b0`. The idea is to upgrade to the version `21.9b0` and use the following option
[code]
to format strings.

This should be included in the script `run_code_style.sh`
[code]

A point is to check and report the impact of the upgrade.

[2021-10-06 07:58] vfdev-5 commented on #2249
@sdesrozis can you try locally that ? The last time I tried that and black reformatted a lot of code into ugly things like:
[code]

That was principal blocker to update. If the newest version does not produce weird result and our codebase remains practially the same I'd agree to update.

[2021-10-06 10:08] vfdev-5 commented on #2249
in case of
[code]
the last comma after `drop_last=True,` makes it line by line. If you remove it, it should be unexpanded.

[2021-10-06 10:11] sdesrozis commented on #2249
The option `--skip-magic-trailing-comma` would have helped, it removes last comma. Otherwise, the default is to add a comma at the end of a pack and put one argument per line (can't avoid just the line breaking).
[code]

[code]

[2021-10-06 10:23] vfdev-5 commented on #2249
We are using `--skip-magic-trailing-comma` once, right ? If yes, then ok

[2021-10-06 10:25] #2249 closed

[2021-10-06 13:53] FarehaNousheen commented on #2239
Hi @vfdev-5 @Ishan-Kumar2 the version needs to be updated as shown in the example in this issue. Kindly assign this to me.

[2021-10-06 15:23] #2248 closed

[2021-10-06 16:16] #2229 closed

[2021-10-06 16:17] vfdev-5 opened #2251 "Broken CI on macosx with MNIST example"
Another weird failure with Macos

[code]

[2021-10-06 17:09] trsvchn commented on #2251
Yeah, that's weird, looks like Python 2 is used:
[code]

[2021-10-06 17:18] trsvchn commented on #2251
This this because of from conda to pip migration, now we are using default python, and for macosx it's python 2.7
https://docs.python.org/3/using/mac.html#getting-and-installing-macpython

[2021-10-06 17:22] trsvchn commented on #2251
Let me check possible solution!

[2021-10-06 20:52] #2251 closed, assigned to tarasio-mirror

[2021-10-06 23:04] vfdev-5 commented on #2224
@trsvchn can you check how much effort it can take to update https://github.com/pytorch-ignite/sphinxcontrib-versioning  ? thanks

[2021-10-07 14:45] avats-dev commented on #2229
Sorry @vfdev-5, I was busy somewhere else so couldn't do this. Good work @theory-in-progress ! 🎉

[2021-10-09 07:56] Ishan-Kumar2 commented on #1992
Hi @sdesrozis and @vfdev-5, I think this is a great idea and much needed tool. I am interested in implementing it.

I agree with @vfdev-5's idea of having it in levels. We can pass the level in `engine.run`. So level 1 could be dataflow/workflow debugging, that means running the engine and logging all the events and handlers.
Something like
[code]
Doing this is start forward, we just need to set t

[2021-10-09 20:53] vfdev-5 commented on #1757
Detectron2 code to inspire from:  https://github.com/facebookresearch/detectron2/blob/7f8f29deae278b75625872c8a0b00b74129446ac/detectron2/utils/comm.py#L148

[2021-10-09 21:42] #2212 closed

[2021-10-09 21:52] vfdev-5 commented on #2048
Let's close this issue as solved. Feel free to open another issue if there are other issues or questions.
Thanks again to all here for reporting the bugs and thus contributing to make this lib better !

[2021-10-10 00:26] github-actions[bot] opened #2255 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit e810c089961f086f98e60d9167722d2ed3d01cc1**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1324607097

Feel free to close this if this was just a one-off error.

[2021-10-10 18:01] #2255 closed

[2021-10-11 09:13] fco-dv opened #2258 "Improve codecov for state_param_scheduler simulate_values function"
## 🐛 Bug description

Improve codecov based on https://github.com/pytorch/ignite/pull/2090#discussion_r725908334

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2021-10-12 06:31] fco-dv commented on #2258
Sure please go ahead , you're very welcome! If it's your first time issue please have a look at [the contributing guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md), also you can ask for help and support on [our discord server](https://discord.gg/djZtm3EmKj)

[2021-10-12 11:46] sdesrozis opened #2260 "Improve idist for gather using nccl and reduce for gloo + gpu"
## 🚀 Feature

Consider the following piece of code
[code]

The `idist.all_gather()` is used to collect the tensor from all the processes even if only the rank 0 needs it. The `gather()` method would be used but the backend `nccl` does not support it. See [here](https://pytorch.org/docs/stable/distributed.html).

The idea here is to implement the `gather()` method in `idist` using `all_gather()` fo

[2021-10-12 12:09] fco-dv commented on #2260
cool feature @sdesrozis  !

[2021-10-13 00:19] github-actions opened #2262 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 0be46fdb8f2e2f7b3cdc4014e52d5401790482b2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1335328958

Feel free to close this if this was just a one-off error.

[2021-10-14 07:38] vfdev-5 opened #2263 "Pip install is failing for unit tests on windows"
## 🐛 Bug description

[code]
- https://github.com/pytorch/ignite/pull/2241/checks?check_run_id=3890679130

[2021-10-14 11:25] ydcjeff opened #2265 "[docs] Add doctests for metrics"
### 📚 Documentation

Following #2230 , I listed the metrics places (suggested by @sdesrozis) where doctests can be added.

#### Metrics

- [x] Average (#2332)
- [x] GeometricAverage (#2332)
- [x] VariableAccumulation (This class is an helper, no test needed)
- [x] Accuracy (#2345)
- [x] ConfusionMatrix (#2336)
- [x] ClassificationReport (#2346)
- [x] DiceCoefficient (#2336)
- [x] JaccardIndex (#23

[2021-10-14 11:29] ydcjeff opened #2266 "[docs] Add doctests for parameter schedulers"
### 📚 Documentation

Following #2230 , I listed the parameter schedulers places (suggested by @sdesrozis) where doctests can be added.

- [x] StateParamScheduler (Abstract class, no test needed)
- [x] ConcatScheduler (#2384)
- [x] CosineAnnealingScheduler (#2384)
- [x] CyclicalScheduler (Abstract class, no test needed)
- [x] LRScheduler (#2389)
- [x] LinearCyclicalScheduler (#2327)
- [x] ParamGrou

[2021-10-14 12:42] vfdev-5 commented on #2265
Sure @wanjuntham , go for it

[2021-10-14 16:15] Nic-Ma opened #2267 "Release program in standard pipeline"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I remember you shared with me a project to set up some ignite training pipeline with standard config, could you please help share it again? We want to compare it with our NVIDIA Clara solution in details.

Thanks in advance.

[2021-10-14 16:28] vfdev-5 commented on #2267
Hi @Nic-Ma ,

We have sort of references here: https://github.com/pytorch/ignite/tree/master/examples/references
where configuration is not that standard (python config) but brings a lot of flexibility in terms of configuration and avoid any meta-languages.

[2021-10-14 16:31] Nic-Ma commented on #2267
Cool, thanks for your sharing!
Let me try to investigate them.

Thanks.

[2021-10-15 00:21] github-actions[bot] opened #2268 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9468c0adaf3121a6257d2325f51fe67b68dcec2e**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1343992555

Feel free to close this if this was just a one-off error.

[2021-10-15 17:27] ydcjeff opened #2269 "A utility for hashing a checkpoint file"
### 🚀 Feature

By default Ignite save a checkpoint with the following structure `{filename_prefix}_{name}_{suffix}.{ext}` which is great.
At first, I would like to add an argument for hashing a checkpoint in `Checkpoint` class. But that could occur a read + write overhead if we turn on hashing which may not be used very often during development.

So instead, I would like to propose to add a utilit

[2021-10-16 15:03] Ishan-Kumar2 opened #2271 "Update `common.setup_common_training_handlers` ProgressBar to work in distributed"
## 🐛 Bug description
Currently the `common.setup_common_training_handlers` has the same step for setting up the `ProgressBar` [here](https://github.com/pytorch/ignite/blob/a967d872209b9bf71a8371c8f1f3eb64df1da2f7/ignite/contrib/engines/common.py#L215-L223) for both single device and distributed training.

In case of Distributed Training (>1 GPUs) this doesnt take into account whether the `rank` of

[2021-10-16 16:07] vfdev-5 commented on #2271
@Ishan-Kumar2 I'm not sure to follow you here. Here is a line that does what you suggest:
https://github.com/pytorch/ignite/blob/a967d872209b9bf71a8371c8f1f3eb64df1da2f7/ignite/contrib/engines/common.py#L252

Am I missing something ?

[2021-10-16 16:40] Ishan-Kumar2 commented on #2271
@vfdev-5 yes you are right, I missed this part. It should work, I'll investigate in my code.
Thanks for the help, closing this.

[2021-10-16 16:40] #2271 closed

[2021-10-16 16:58] FarehaNousheen commented on #2157
Hi, I would like to work on this issue, please assign this to me. Also, please provide examples to understand the issue better.

[2021-10-17 10:39] anirudhb11 commented on #2026
Hi @vfdev-5, I am also new to Pytorch Ignite and would love to contribute to it. Can you please guide me to some good first issue?
Thanks!

[2021-10-18 15:49] ydcjeff opened #2274 "Python 3.10 support"
Tracking for Python 3.10 support:

- https://github.com/pytorch/pytorch/issues/66424 (probably in PyTorch 1.11)
- https://github.com/pytorch/pytorch/pull/66530

[2021-10-19 00:22] github-actions[bot] opened #2275 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ed5e1ddf87df116f22b2ac35d30f9854f004deb2**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1356974854

Feel free to close this if this was just a one-off error.

[2021-10-19 21:00] #2183 closed

[2021-10-20 05:00] Atharva-Phatak opened #2281 "Out of box PyTorch style datasets for standard tasks"
## 🚀 Feature

Ignite is amazing :heart: . I like the concepts of event handlers very much. I was looking at the roadmap for the library there is a reference to improving ignite.data.
To talk about the feature, I think if we have PyTorch style datasets already implemented for standard tasks like image classification,etc will be really helpful since it could be a start to something much bigger(maybe

[2021-10-20 07:09] sdesrozis commented on #2281
@Atharva-Phatak Thank you for your support and nice words.

The roadmap for `ignite.data` is much less ambitious than what you proposed. An idea was to provide a way in order to manage multiple data sources.

Anyway, this FR requires discussions and a good motivation. Today, we let the definition of native PyTorch objects such the datasets, models, etc. to the user.

[2021-10-20 10:42] #2268 closed

[2021-10-20 11:45] ydcjeff opened #2282 "Update for `timeline_and_event` image"
### 📚 Documentation

When I first read about [timeline and events in PyTorch-Ignite concepts](https://pytorch.org/ignite/master/concepts.html#timeline-and-events), I noticed I had to rotate my head around 30 degree to read [`timeline_and_event` image](https://pytorch.org/ignite/master/_static/img/concepts/timeline_and_events.png).

Should we update the image so that it will be easier to read?

[2021-10-20 14:46] Atharva-Phatak commented on #2281
@vfdev-5 Awesome. When is the ETA for release of data-pipes. By datatransforms do you mean torchvision transforms or is it a new module ? Can you provide a link to the repo ?
I am very open to ideas and willing to invest my time to develop this integral part in Ignite.
I understand this is a big change and we need a lot of discussions. But yeah I am very open to guidance from you guys and would lo

[2021-10-20 15:17] Atharva-Phatak commented on #2281
@vfdev-5 sure I will try to create a google colab which uses fastai and ignite. And share the same here. Will that work for you guys ?

[2021-10-20 15:17] vfdev-5 commented on #2281
Sounds good, thanks @Atharva-Phatak !

[2021-10-22 14:06] #2262 closed, assigned to nobody

[2021-10-22 15:34] vfdev-5 opened #2289 "List of schedulers support in `setup_common_training_handlers`"
## 🚀 Feature

Feature request to support the case like :
[code]

cc @DhDeepLIT

[2021-10-26 10:35] fco-dv opened #2291 "Attach method for ParamScheduler"
## 🚀 Feature
`StateParamScheduler`has introduced an `attach` method. Following this comment https://github.com/pytorch/ignite/pull/2090#discussion_r717412539 , maybe this could also be introduced in the optimizer's parameter scheduler (`ParamScheduler`) ? It will be necessary to keep BC.

[2021-10-27 00:23] github-actions[bot] opened #2293 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 4a37e35dcb9548bb777dc86ab649ff390c6fb631**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1387973941

Feel free to close this if this was just a one-off error.

[2021-10-27 06:40] RicherMans opened #2294 "EMAHandler with warm-up counter-intuitive."
## ❓ Questions/Help/Support

Hello there,
First of all, thanks for the cool package, it's just super useful.

I recently checked out the new version of ignite, which provides a cool new feature: [EMAHandler](https://pytorch.org/ignite/_modules/ignite/handlers/ema_handler.html#EMAHandler).
The EMAHandler uses a momentum value (\alpha), which in contrast to most implementations that I've seen is the

[2021-10-27 09:39] vfdev-5 opened #2295 "Make work EMAHandler with state parameter scheduler"
## 🚀 Feature

I'd like to make custom EMA decay scheduling with, for example, `PiecewiseLinearStateScheduler`. Here is failing code:
[code]
it gives:
[code]

By the way, error message is missing spaces between sentences.

cc @sandylaker

[2021-10-27 16:27] vfdev-5 opened #2296 "[CI] failing netlify docs deployment"
- https://app.netlify.com/sites/pytorch-ignite-preview/deploys/617976e70d7a3d0007baf2d8#L677-L679

cc @ydcjeff

[2021-10-27 16:28] #2258 closed, assigned to nobody

[2021-10-27 17:27] #2296 closed, assigned to nobody

[2021-10-27 21:25] vfdev-5 opened #2299 "[CI] Something wrong with Nvidia/Apex and GPU CI is failing"
## 🐛 Bug description

- https://app.circleci.com/pipelines/github/pytorch/ignite/2271/workflows/1595d648-99bc-4089-b6a9-4f03ab4399b7/jobs/7083

- https://app.circleci.com/pipelines/github/pytorch/ignite/2271/workflows/1595d648-99bc-4089-b6a9-4f03ab4399b7/jobs/7085

- https://app.circleci.com/pipelines/github/pytorch/ignite/2271/workflows/1595d648-99bc-4089-b6a9-4f03ab4399b7/jobs/7086

[code]

[2021-10-28 17:15] arisliang opened #2300 "How checkpoint gets called and save model when it's added to Events.Completed handler?"
## ❓ Questions/Help/Support

In [checkpoint](https://pytorch.org/ignite/generated/ignite.handlers.checkpoint.Checkpoint.html) example:
[code]
The checkpoint handler is added to `COMPLETED` event, which fires only at the last epoch. How does the checkpoint gets called and save the model during training?

[2021-10-29 01:45] #2300 closed, assigned to nobody

[2021-10-29 04:45] arisliang opened #2301 "Any example in documentation for load model and resume training?"
## ❓ Questions/Help/Support

Noticed an old issue #638 relating to restore model from saved checkpoint. I wonder if there're any documentation for a more complete example, similar to save model with checkpoints documentation.

[2021-10-29 07:59] vfdev-5 opened #2302 "Update pytorch.org/ignite, README, contributing docs"
## 📚 Documentation

We have now https://pytorch-ignite.ai/ with a lot of helpful resources, examples, tutorials etc.

We need to update the content of
- https://pytorch.org/ignite/ : mention the site and start grqdually removing the header with "Quickstart", "Concepts" etc
- README.md : we should add a link to the site
- CONTRIBUTING.md : should mention [Examples](https://github.com/pytorch-ignite

[2021-10-29 09:10] vfdev-5 opened #2303 "Make `Checkpoint.load_objects` to accept `str` and load internally"
## 🚀 Feature

The idea is to simplify the following code:
[code]
into
[code]
while keeping backward compatibility.

We need to update `load_objects` method:
https://github.com/pytorch/ignite/blob/7c596fccc7afe3981b49777bcf209f4ae121da0f/ignite/handlers/checkpoint.py#L509-L510

such that it could also accept `str` value of `checkpoint` argument.

What to do:
- [ ] update the code for `load_objects`

[2021-10-29 11:19] MinWang1997 opened #2304 "Mixture of validation and evaluation"
## ❓ Questions/Help/Support

Hi,

I found that you use test set as validation and evaluation
E.g., in examples/contrib/cifar10/main.py

Usually during the training process, the model should not touch the test data and should use validation set for validation and then we evaluate the model on test dataset.

Best wishes,
Min

[2021-10-29 14:44] #2301 closed, assigned to nobody

[2021-10-29 20:37] #2303 closed

[2021-10-30 01:30] arisliang commented on #2301
guess i was confused about where the model was linked from loading the checkpoint. Turns out it's in the `to_load=to_save`, since model (and other objects to restore) is one of its entry.

[2021-10-30 04:12] ydcjeff commented on #2302
Just want to mention that we can use https://pytorch-ignite.ai/chat as a shortcut for discord link.

[2021-10-31 11:35] ismael-elatifi commented on #708
To avoid having `tqdm` printing each new iteration on a new line, use this class instead :
[code]

[2021-10-31 11:36] ismael-elatifi commented on #852
To avoid having tqdm printing each new iteration on a new line, use this class instead :

from ignite.contrib.handlers.tqdm_logger import ProgressBar

class ProgressBarCustom(ProgressBar):
    """To force tqdm to overwrite previous line"""

    def __init__(self, **kwargs):
        super().__init__(**kwargs)
        from tqdm import tqdm as tqdm_base

        def tqdm_custom(*args, **kwargs):

[2021-11-03 00:51] github-actions[bot] opened #2309 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 79678b916e1fbef702f861d71d5832e17c188351**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1414639410

Feel free to close this if this was just a one-off error.

[2021-11-05 11:54] #2309 closed

[2021-11-05 11:57] vfdev-5 commented on #2299
Problem is that we have to build nvidia/apex with cpu and cuda extensions. This will make CI time much more longer and we have 2 tests to run. Another solution could be to use a prebuilt docker image...
We decided to disable the tests and remove apex installation from CI.

[2021-11-05 11:57] #2299 closed

[2021-11-05 19:24] sandylaker commented on #2294
@vfdev-5 There might be a conflict when using StateParamScheduler to schedule the momentum.

In the current implementation of EMAHandler, we create a state attribute `momentum` when we initialize and attach the handler to engine. But later when we initialize a StateParamScheduler to schedule the `momentum`, it will raise an error due to the fact that `momentum` is already defined in the engine's s

[2021-11-05 19:52] vfdev-5 commented on #2294
Yes, i opened an issue for that: #2295
We have to figure out what would be the most reasonable way to fix it...

[2021-11-07 14:15] Ishan-Kumar2 commented on #1917
Hi @sdesrozis and @vfdev-5, I am interested in this.

[2021-11-07 17:13] sdesrozis commented on #1917
Great !

[2021-11-08 10:50] #2304 closed

[2021-11-08 10:55] vfdev-5 commented on #2295
@fco-dv how about something like user gives an authorization to create new one. It means by default, state scheduler overrides existing vars and if we need create a new one we pass the option like `create_new=True`. This way for `EMAHandler` and `PiecewiseLinearStateScheduler` we do not need to add another +1 option like override. By default, the option like `create_new=False`.

[2021-11-08 12:30] vfdev-5 commented on #2157
Things to do for this issue:
- [ ] Reproduce the results from https://colab.research.google.com/drive/1xX7slM9BiDSWYGId5zB_8ISneJ0wezAM
  - rerun the notebook and confirm that there is a difference of 15-20 seconds between time measurements for the single epoch. For example:
[code]
- [ ] Modify the notebook such that `timer` is attached before running the validation:
Current notebook
[code]
Expect

[2021-11-08 12:46] fco-dv commented on #2295
@vfdev-5 yes it sounds good to me, will make a PR for this.

[2021-11-09 03:41] Atharva-Phatak commented on #2281
I am sorry I am really busy with my college and assignments as my exams are going on. But I will work on a colab notebook by the end of this week. Sorry for the delay guys 😭

[2021-11-09 05:57] Eunjnnn commented on #2265
Hello
This is my first contribution :-)

can I work on `Loss` ?

[2021-11-09 10:26] sdesrozis commented on #2265
@Eunjnnn thank you ! Yes you can 😉

[2021-11-09 10:49] kong13661 opened #2312 "ignite.distributed.Parallel: master_port seems always to be 2222 when using env:// init_method"
I want to use another master_port in my machine. My code is below:

[code]

I use the command to run this:

`python normal_train_ddp.py  --matser-port 50001`

I found it always use master port 2222.

I found this code.  It seems ignore my master_port setting when init_method is None or env://.

https://github.com/pytorch/ignite/blob/8a1de70e2152936ffcb051f3bd618138130626ec/ignite/distributed/comp_

[2021-11-09 11:51] vfdev-5 commented on #2312
@kong13661 thanks a lot for the report! It looks like it is a bug propagated since https://github.com/pytorch/ignite/pull/1767

Meanwhile you can do the following: you can use `init_method` as tcp where you can specify master address and port:
[code]

[2021-11-09 12:01] kong13661 commented on #2312
It works. Thanks.

[2021-11-09 13:57] fco-dv opened #2313 "StateParamScheduler raises KeyError when save_history=true and multiple parameters are scheduled"
## 🐛 Bug description
When scheduling multiple parameters on an engine, a `KeyError` exception is raised when `save_history=True`
To reproduce the bug:
[code]
A fix should be applied here :
https://github.com/pytorch/ignite/blob/79678b916e1fbef702f861d71d5832e17c188351/ignite/handlers/state_param_scheduler.py#L55

[code]

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0)

[2021-11-09 14:21] arisliang opened #2314 "Add no improvement handler (similar to early stopping handler)"
## 🚀 Feature

To add a 'no-improvement' handler. It's similar to early stopping, except that early stopping calls the training to terminate, 'no-improvement' handler would've calls a function that user pass in. User could pass in different functions that they want to execute if they find no improvements is made. They may want to try various things before terminate the training.

[2021-11-09 20:31] sdesrozis commented on #2314
@arisliang Thank you for this FR !

Could we imagine that the actual `EarlyStopping` is just a specific case of the more general `NoImprovmentHandler` you suggested? I mean `NoImprovmentHandler` + `Stop Policy Function` = `EarlyStopping`? And maybe it's worth considering other trending policies than `no-improvment` like `too-fast-improvment` or whatever. What do you think ?

[2021-11-10 02:21] arisliang commented on #2314
@sdesrozis Thanks for the response.

Yes exactly. I'd imagine `EarlyStopping` would be a specific case of the more general `NoImprovmentHandler` by passing in the `Stop Policy Function`, then it becomes `EarlyStopping`. So `NoImprovement` determines a scenario where no improvement is made, and decouples the action to be taken, be it stop training, logging, or other things.

I haven't thought about

[2021-11-10 02:26] arisliang commented on #2314
Not sure which is more suitable, `no-improvement` may even be thought of as an scenario-based event, and actions like `stop training` can then register as an event handler when `no-improvement` happens.

[2021-11-10 12:50] wanjuntham commented on #2265
@vfdev-5 Hey, I actually didnt have time to work on this. Could you unassign me?

[2021-11-10 23:10] knc6 opened #2318 "Making a conda-forge pytorch-ignite package"
## 🚀 Feature
Hi,

I would like to make a [`conda-forge`](https://github.com/conda-forge/) package for [ALIGNN network](https://github.com/usnistgov/alignn) which uses pytorch-ignite. As ignite is only available on pytorch conda channel and not on conda-forge, I submitted a PR for making a conda-forge pytorch-ignite implementation [here](https://github.com/conda-forge/staged-recipes/pull/16795).

I

[2021-11-11 08:48] vfdev-5 commented on #2318
Hi @knc6 thanks a lot for creating a conda package on conda-forge for pytorch ignite.
Happy to know that it works as few time ago it was a problem to install pytorch, cudatoolkit etc using conda-forge channel.
From our side everything is ok.

[2021-11-11 14:51] vfdev-5 opened #2319 "Approximate PR/ROC AUC Metics"
## 🚀 Feature

Taken from [this colab](https://colab.research.google.com/drive/17Xo80swTxcaZsZOKS08GI-LHYHkg5kud) by @EricZimmermann

### Description

#### Problem
For large tensors, computing AUC metrics over multiple thresholds is exhaustive and slow. For a sufficiently large dataset, caching or saving outputs is too expensive and must be done in post.

#### Solution
Assuming the distribution of

[2021-11-12 00:22] github-actions[bot] opened #2320 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit b78dbc4f57f218a4ed490e676a100670f49e680a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1451045586

Feel free to close this if this was just a one-off error.

[2021-11-12 09:12] #2320 closed

[2021-11-12 12:54] sdesrozis commented on #2265
@Eunjnnn Are you still working on `Loss` ? Or do you need help ?

[2021-11-12 14:14] Eunjnnn commented on #2265
@sdesrozis Hi I'm trying to work on it, but actually i'm not sure where to start,,

[2021-11-12 16:41] sdesrozis commented on #2265
First, take a look to our [contribution guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md). Then, you will have to set up your environment (testing, building the doc).

And finally, you will find [here](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md#writing-documentation) what is needed to write the doc and doctests according to our guidelines :)

[2021-11-12 17:19] vfdev-5 opened #2322 "Update xla download script"
@Priyansi your script to download torch xla is not working for 1.10
[code]
It gives `1.1`

Could you please fix and update it. Thanks

[2021-11-12 20:25] Ishan-Kumar2 commented on #2265
I'll add some of the contrib regression metrics ``FractionalBias``, ``FractionalAbsoluteError``, ``CanberraMetric``, ``GeometricMeanAbsoluteError``

[2021-11-12 21:27] knc6 commented on #2318
Perfect, sounds good!

[2021-11-12 21:27] #2318 closed

[2021-11-12 22:18] sdesrozis commented on #2314
@arisliang I will try to write a piece of code to illustrate my thoughts.

[2021-11-13 21:54] vfdev-5 commented on #2318
@knc6 looks like your PR for the recipe is merged, maybe we can update our readme and other places with additional new instructions on how to install ignite using conda-forge channel ?

I'm also wondering about how this recipe will be sync with new releases ?

I also checked which pytorch version is installed using only conda-forge channel and it looks like it proposes only old 1.9.0 cpu version:

[2021-11-13 22:07] vfdev-5 opened #2325 "Update pytorch.org/ignite site and reference pytorch-ignite.ai"
## 📚 Documentation

Our project new website is online and available. We need to update pytorch.org/ignite to reflect only API and provide links to pytorch-ignite.ai as source for examples/tutorials/how-to guides etc.

### Redirections:

Quickstart -> https://pytorch-ignite.ai/tutorials/beginner/01-getting-started/
FAQ -> https://pytorch-ignite.ai/how-to-guides/
Concepts -> TBD
Examples -> TBD
Gith

[2021-11-15 18:42] FarehaNousheen commented on #2157
That's a really detailed description. Thank you for sharing it. I'll work on it tomorrow.

[2021-11-15 23:18] #2313 closed

[2021-11-16 11:34] sdesrozis commented on #2314
Ok so the actual `EarlyStopping` is the following.
[code]

We could think about a more flexible implementation based on a `score_function` (as today) associated to a `stop_function` (i.e. what to do whether no improvment) and a `pass_function`  (i.e. what to do whether improvment).
[code]

What do you think ?

[2021-11-16 12:16] #1227 closed

[2021-11-16 12:17] vfdev-5 opened #2328 "WeightsHistHandler should plot all weights (incl those without grad)"
## 🚀 Feature

Currently, `WeightsHistHandler` do not log weights without grad:
https://github.com/pytorch/ignite/blob/a168476762061f74af64793bce1b2d5b6e9b3f15/ignite/contrib/handlers/tensorboard_logger.py#L434-L435

Let's put an option to enable logging all weights. Maybe, we can make it even without option and just log everything ?

Meanwhile, here is a workaround code for TensorboardLogger:
[cod

[2021-11-16 12:58] DhDeepLIT commented on #2328
Assume you have a partial frozen model, it makes sense to only trace the evolution of the weight which are updated.
The question is does checking if p.grad is not None is what we want ?
What about weights modification with other computation ? like pca_low_rank ?

[2021-11-16 12:59] vfdev-5 commented on #2328
I see what you mean. Ultimately, we would like to have an optional list of weights to plot ?

[2021-11-16 14:01] DhDeepLIT commented on #2328
BTW it would be very nice to add a filter on the weights/grads to monitor : a list of str could be enough

# keys_to_log : list of str

for name, p in self.model.named_parameters():
            if p.grad is None:
                continue

            name = name.replace(".", "/")
            for k in keys_to_log:
                      if k in name:
                             logger.writer.add_hi

[2021-11-16 14:12] vfdev-5 commented on #2328
@DhDeepLIT I thought you wanted to avoid the case of inexisting grads and log weights in any case ?
[code]

[2021-11-16 14:14] DhDeepLIT commented on #2328
BTW your proposed patch is fine for my need, the whitelist is a great idea too.

[2021-11-16 14:16] vfdev-5 commented on #2328
FYI: zero_grad does not set grads to None by default :)

https://github.com/pytorch/pytorch/blob/33e9a0b5f6674bd429bda689534e1c987b38cf6e/torch/nn/modules/module.py#L1785-L1794

[2021-11-16 14:16] DhDeepLIT commented on #2328
Maybe it should be the other way around though :
it is easier to filter the weights/grad we want if a key is present in the module full name say you want to check ALL fc layer. It would be better to check if 'fc' is in the named parameter of the module, right ?

[2021-11-16 14:17] vfdev-5 commented on #2328
I agree that non-exact match for names_whitelist could be helpful...

[2021-11-16 14:18] DhDeepLIT commented on #2328
https://pytorch.org/docs/stable/generated/torch.optim.Optimizer.zero_grad.html

There is a option with 'set_to_none=True'

[2021-11-16 18:12] vfdev-5 opened #2330 "Gpu ci hvd is failing"
## 🐛 Bug description

https://app.circleci.com/pipelines/github/pytorch/ignite/2290/workflows/ccd463d1-cba7-402b-a1b0-872cedc13415/jobs/7139

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2021-11-17 04:29] arisliang commented on #2314
Looks great for both current need and flexible. What is `stuck_function`? Is it just typo of `pass_function`?

[2021-11-17 07:12] sdesrozis commented on #2314
Yeah, a typo. Fixed. Let's see whether this design works although the naming, concepts and scope need to be carefully considered.

[2021-11-19 11:25] #2322 closed

[2021-11-21 21:34] #2295 closed

[2021-11-24 18:32] FarehaNousheen commented on #2157
Hi all, I have modified the notebook with the timer attached before running the validation.
Sharing the link of Google colab here
https://colab.research.google.com/drive/1xX7slM9BiDSWYGId5zB_8ISneJ0wezAM#scrollTo=ItoswUK-23St

[2021-11-26 00:21] github-actions[bot] opened #2337 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 5455fa5885225f7d5e39aab31a796b7efc067768**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1505622912

Feel free to close this if this was just a one-off error.

[2021-11-30 00:23] github-actions[bot] opened #2338 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f8c39828cb1dac49b6ef358cdf77865bf2430106**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1518453503

Feel free to close this if this was just a one-off error.

[2021-11-30 23:17] JustinSzeto commented on #2319
@vfdev-5

We've updated the colab notebook with more metrics and updated the test code with pytest methods.

[2021-12-04 19:10] Ishan-Kumar2 commented on #2265
I'll add the remaining contrib metrics ``AveragePrecision``, ``PrecisionRecallCurve``, ``ROC_AUC`` and ``RocCurve``

[2021-12-07 15:42] FarehaNousheen commented on #2157
I executed the notebook with the Timer attached before the second code snippet and removed the cell where the Timer is attached after validation. In doing so I got the result that is updated on the copy of the Colab shared above. In short sharing results below.
Training Results - Epoch[1] Avg accuracy: 0.95 Avg loss: 0.16
Time taken by a single epoch calculated by Timer: 73.73
Time Taken for singl

[2021-12-08 10:53] #2338 closed

[2021-12-08 10:54] #2337 closed

[2021-12-09 22:17] dasturge opened #2342 "How should I use ignite metrics when not using a model?"
## ❓ Questions/Help/Support

let's say for whatever reason, I have all my predictions already.  Maybe I've done some smoothing or postprocessing on them which had to be done after inference, or maybe I've saved them but I don't want to rerun everything and just want to test out metrics.  What's the best way to use metrics as standalones,  say as though they were a scikit learn metric?

[2021-12-09 23:00] vfdev-5 commented on #2342
@dasturge Metrics can be used with Engine (using `attach` method) or without it (https://pytorch.org/ignite/metrics.html#reset-update-compute-api). So, if you have predictions and ground truth stored somewhere/somehow and let's say available as iterables, you can do something like that:
[code]

[2021-12-10 10:54] iamhardikat11 commented on #2325
Is this issue open to be taken up?

[2021-12-10 13:37] vfdev-5 commented on #2325
Hi @iamhardikat11 , this issue is a bit critical for the project, but yes, you can help with a part of it, for example, replacing the links for: about us, FAQ, Quickstart (as suggested in the description) and remove those .rst files.

[2021-12-10 14:09] H4dr1en opened #2343 "ClearrMLLogger freezes logging in distributed env"
## 🐛 Bug description

Instantiating a `ClearMLLogger`instance in a distributed training freezes the logging of the subprocesses. The bug can be reproduced by executing the following script: https://github.com/H4dr1en/trains/commit/642c1130ad1f76db10ed9b8e1a4ff0fd7e45b3cc

I will open a PR to fix it.

## Environment

- PyTorch Version (e.g., 1.7.1):
- Ignite Version (e.g., 0.5.0):
- OS (e.g., Linux

[2021-12-10 14:12] vfdev-5 commented on #2343
Thanks a lot for reporting @H4dr1en ! Do you know to what it is exactly related ?

[2021-12-10 14:24] vfdev-5 commented on #2343
@H4dr1en a question about your example. I'm not quite sure to fully understand it. https://github.com/H4dr1en/trains/blob/642c1130ad1f76db10ed9b8e1a4ff0fd7e45b3cc/examples/frameworks/pytorch/pytorch_distributed_example.py#L159 Looks like all processes are creating clearml task, but I was expecting only rank zero doing that.

[2021-12-10 14:29] H4dr1en commented on #2343
@vfdev-5 It happens like that:
- The main process creates the first task, the first time it runs that Task.init
- The subprocesses, when calling Task.init, will contact the main process to retrieve the main task. They don't recreate a new task, but get a copy of the task created by the main process.
- Any logging done on the subprocesses will be tunnelled to the main process, that will take care o

[2021-12-10 21:59] vfdev-5 opened #2350 "TPU CI failure"
- https://github.com/pytorch/ignite/runs/4484818799

[code]

[2021-12-11 05:07] iamhardikat11 commented on #2325
Yup, I can work on that. I will Submit my PR By today Night.

[2021-12-11 22:04] bmartinn commented on #2343
@H4dr1en you are correct 😄
The first "main process" creates the actual Task and sets an OS environment variable specifying the newly created Task. When the child processes call the "same" `Task.init` they inherit the environment variable from the main process, so it knows to connect with the main Task and log everything back to it, instead of creating a new Task, specifically here, I think the iss

[2021-12-11 23:26] vfdev-5 opened #2354 "Engine.run make input data optional"
## 🚀 Feature

In certain use-cases, for example in RL or multi-data cases, it does not make much sense to call `engine.run` with an artificial data that only defines epoch lenght:
[code]
For example,
https://github.com/pytorch/ignite/blob/4759e01034f53bb0334f661b8a8d61f76f6be9e4/examples/reinforcement_learning/reinforce.py#L70

https://github.com/pytorch/ignite/blob/4759e01034f53bb0334f661b8a8d61f

[2021-12-12 02:34] sdesrozis commented on #2354
Yes I understand the idea and agree that it would be great to have such a feature !

[2021-12-12 08:58] fco-dv commented on #2354
This API would seem clearer in such uses-cases, yes!

[2021-12-12 13:31] fco-dv commented on #2350
Seems that mkl 2022.0.0 was [released](https://pypi.org/project/mkl/2022.0.0/)  recently and may cause this bug :
[code]
Maybe we could make a test by setting mkl version to the previous working version in the ci ? `pip install mkl==2021.4.0`

[2021-12-12 16:24] #2265 closed

[2021-12-12 16:50] #2350 closed

[2021-12-13 09:15] #2343 closed

[2021-12-13 11:45] vfdev-5 opened #2356 "Improve typing hints for Engine and helper methods"
## 🚀 Feature

1) Let's improve typing hints for process_function arg:
- https://github.com/pytorch/ignite/blob/8a1de70e2152936ffcb051f3bd618138130626ec/ignite/engine/engine.py#L122
We have to provide the signature: [Engine, Any] -> Any in mypy recognizable way

Also here: https://github.com/pytorch/ignite/blob/8a1de70e2152936ffcb051f3bd618138130626ec/ignite/engine/deterministic.py#L179

2) Let's i

[2021-12-15 13:07] #2330 closed

[2021-12-15 14:20] vfdev-5 opened #2358 "Fix warning in the test for SSIM metric"
## 🚀 Feature

We can see on the CI that we are using a deprecated arg.
[code]

The idea is to fix that as suggested by skimage doc and the message.

[2021-12-15 17:41] bibhabasumohapatra commented on #2358
hey @vfdev-5  I have changed the multichannel = True to channel_axis = 3,       This is my first pull request,
Let me know if I miss something.
#2360

[2021-12-16 04:06] bibhabasumohapatra commented on #2358
https://github.com/scikit-image/scikit-image/issues/4294

[2021-12-16 10:25] bibhabasumohapatra commented on #2358
**my pull request fixes the warnings**
first one is the master branch
and second is my new branch1 changes
![image](https://user-images.githubusercontent.com/68384968/146353796-6ee635d9-da2d-49d5-92e9-b741c03f251f.png)

[2021-12-16 22:08] vfdev-5 opened #2361 "Fix mypy issues with mypy==0.920"
## 🐛 Bug description

Our code base mypy check is failing:
[code]
for mypy==0.920

Let's make our codebase compatible.

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`, source):
- Python version:
- Any other relevant information:

[2021-12-16 22:28] vfdev-5 opened #2363 "Remove python 3.6 support due to EOL, 2021-12-23"
Let's remove python 3.6 from our CI from due to EOL, 2021-12-23 (https://www.python.org/downloads/)

[2021-12-17 12:16] louis-she commented on #2356
Many of the callbacks like `prepare_batch` are called with keyword arguments in many places in the source code. But `typing.Callable` can only annotated positional arguments, not keyword arguments or more complicated cases.

So if we change the annotation of the callbacks by `typing.Callable`.  `mypy` will complaint about it where there is a invokation with keyword arguments.

`typing.Protocol` is

[2021-12-17 12:25] bibhabasumohapatra commented on #2363
hey @vfdev-5 ,
 to remove python-version 3.6 and py36 support from
IG I can remove that the following way from these paths ,right?

1. **.github/workflows/unit-tests.yml**

2. **.github/workflows/pytorch-version-tests.yml**

 `python-version: [3.6, 3.7, 3.8, 3.9]`    ->   `python-version: [3.7, 3.8, 3.9] `

3. **pyproject.toml**
 `target-version = ['py36', 'py37', 'py38']`  -> `target-version = [

[2021-12-17 13:45] louis-she commented on #1007
I'm thinking of a cli command tool may be helpful for this. Like:
[code]
or we can use a interactive way like `cookiecutter` does.

[2021-12-17 14:34] vfdev-5 commented on #1007
@louis-she today we have also [pytorch-ignite code generator](https://code-generator.pytorch-ignite.ai/) that should be a sort of interactive cookiecutter. Please take a look and if you have any feedback on how to improve it, we would be happy to have it. Thanks

[2021-12-17 15:02] bibhabasumohapatra commented on #1007
[pytorch-ignite code generator](https://code-generator.pytorch-ignite.ai/)  looks great!!

[2021-12-17 15:19] louis-she commented on #1007
Wow the generator site is way more cooler thant cookiecutter 💯

[2021-12-18 00:03] vfdev-5 commented on #2363
@bibhabasumohapatra yes probably removing python 3.6 from these paths can be enough.

[2021-12-18 16:01] vfdev-5 opened #2366 "Update black to 21.12b0"
The idea is to update black version and minimally reformat the codebase.

If we blindly reformat the codebase with newer black it will modify 105 files
[code]

Most of modifications are related to handling trailing commas in the lists:
Today we have with old black:
[code]
and new black make it as
[code]
However, if we remove the last `,` with the new black it will become again as
[code]

I'll crea

[2021-12-19 18:09] #2354 closed

[2021-12-20 20:25] #2363 closed

[2021-12-20 23:19] #2294 closed

[2021-12-20 23:24] vfdev-5 opened #2373 "Nightly releases on Pypi are failing"
## 🐛 Bug description

https://github.com/pytorch/ignite/runs/4576936077?check_suite_focus=true

- build and publish PyPi binaries
[code]

- create issue if workflow failed (=> fixed on master by #2374 )
[code]

cc @trsvchn @ydcjeff

[2021-12-21 00:02] vfdev-5 commented on #2294
@RicherMans we fixed this issue on master and the fix will be available on conda nightly release in few hours. Could you please check it out and leave us a feedback if everything works as expected for you. Thanks  !

[2021-12-21 00:13] github-actions[bot] opened #2375 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **Nightly Releases with commit a1465f77acbccd221b497c29fc9fc1e2cba9eb2d**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1604522129

Feel free to close this if this was just a one-off error.

[2021-12-21 00:23] github-actions[bot] opened #2376 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit a1465f77acbccd221b497c29fc9fc1e2cba9eb2d**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1604509221

Feel free to close this if this was just a one-off error.

[2021-12-21 00:34] vfdev-5 commented on #2375
duplicate of #2374

[2021-12-21 00:34] #2375 closed

[2021-12-21 01:05] vfdev-5 commented on #2373
Issue is related to pkginfo version and the way how conda envs work.
- Step "Install dependencies" installs pkginfo==1.8.2 which is ok and should work
- Step "Build and Publish Conda binaries" and the command `conda install -y conda-build conda-verify anaconda-client` install pkginfo==1.7.1 which incompatible.
- twine reports using 1.8.2 and even `conda list | grep pkginfo` shows 1.8.2 but `python

[2021-12-21 08:55] #2366 closed

[2021-12-21 09:45] #2358 closed

[2021-12-21 09:55] #2293 closed

[2021-12-21 22:31] #2373 closed

[2021-12-21 23:15] vfdev-5 commented on #2267
Let me close this issue as answered, please feel free to reopen if needed

[2021-12-21 23:15] #2267 closed

[2021-12-22 00:22] github-actions[bot] opened #2381 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 43f94a84fcc7ee7491f57f8fc6e86513ebd9ff15**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1609177906

Feel free to close this if this was just a one-off error.

[2021-12-22 08:31] vfdev-5 commented on #2376
Fixed by #2377

[2021-12-22 08:31] #2376 closed

[2021-12-22 08:32] vfdev-5 commented on #2356
@louis-she would you like to fix points 1 and 3 ?

[2021-12-22 11:46] louis-she commented on #2356
Of course, i will work on it.

[2021-12-22 15:54] louis-she commented on #2356
https://github.com/pytorch/ignite/pull/2382

[2021-12-23 00:48] github-actions[bot] opened #2383 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 43f94a84fcc7ee7491f57f8fc6e86513ebd9ff15**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1613520299

Feel free to close this if this was just a one-off error.

[2021-12-23 13:35] #2356 closed

[2021-12-23 16:33] vfdev-5 commented on #2383
@bibhabasumohapatra looks like there is an issue with a test for pytorch 1.8.1 and 1.7.1 with python 3.9
For example for 1.8.1
[code]
Can you check if it was a pytorch bug that is fixed on 1.10.X or there is something also from our side ?

[2021-12-23 17:58] bibhabasumohapatra commented on #2383
Okay, looking into it!

[2021-12-23 19:25] bibhabasumohapatra commented on #2383
again ///  ig  only problem is  3.9 and 1.7.1
[code]
I ran again ... with pulled recent commits!
![image](https://user-images.githubusercontent.com/68384968/147281852-428ebe67-7e9f-49d3-9dfd-0c4ec13dbfa3.png)

[2021-12-23 23:35] RicherMans commented on #2294
@vfdev-5 I checked it out yesterday and ran some experiments using EMA. The new version does actually work ( the previous one, as stated above was unable to provide reasonable results).
Thanks a lot for the work!

[2021-12-24 00:22] github-actions[bot] opened #2385 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit f8c2094016e8d341c97b79016414237d583b8b7e**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1617471978

Feel free to close this if this was just a one-off error.

[2021-12-24 05:31] bibhabasumohapatra commented on #2383
but now the same both errors -
![image](https://user-images.githubusercontent.com/68384968/147320474-704f4266-36ea-4da2-b49e-f244c4750dbd.png)

[2021-12-24 07:41] vfdev-5 commented on #2294
Thanks a lot for the feedback @RicherMans ! We also planning the next release in mid-january 2022 so this fix will be in the stable version

[2021-12-25 00:21] github-actions[bot] opened #2386 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 075da542a27825a23cf47ef5aa8d1f19844abc66**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1620497310

Feel free to close this if this was just a one-off error.

[2021-12-25 23:39] vfdev-5 commented on #2383
Link found by @bibhabasumohapatra : https://github.com/pytorch/pytorch/issues/70237
Maybe related to the failures for 3.9, 1.8.1

[2021-12-25 23:40] #2381 closed

[2021-12-25 23:40] #2385 closed

[2021-12-25 23:40] #2386 closed

[2021-12-26 00:25] github-actions[bot] opened #2387 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 075da542a27825a23cf47ef5aa8d1f19844abc66**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1622831333

Feel free to close this if this was just a one-off error.

[2021-12-26 02:29] bibhabasumohapatra commented on #2383
#2387
in this there is no more 3.9 ,1.8.1  failure, it doesn't come up now!

[2021-12-27 00:36] github-actions[bot] opened #2388 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 075da542a27825a23cf47ef5aa8d1f19844abc66**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1625255285

Feel free to close this if this was just a one-off error.

[2021-12-28 00:21] github-actions[bot] opened #2390 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 075da542a27825a23cf47ef5aa8d1f19844abc66**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1628683516

Feel free to close this if this was just a one-off error.

[2021-12-29 00:22] github-actions[bot] opened #2393 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 79acb959a222f58f74ad40b6a565b41a56f6ecb0**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1632232456

Feel free to close this if this was just a one-off error.

[2021-12-30 00:21] github-actions[bot] opened #2396 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ec6bacc322d94570b62e562f80ca4772812815a0**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1635783125

Feel free to close this if this was just a one-off error.

[2021-12-31 00:07] github-actions[bot] opened #2397 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **Nightly Releases with commit ec6bacc322d94570b62e562f80ca4772812815a0**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1639172210

Feel free to close this if this was just a one-off error.

[2021-12-31 00:22] github-actions[bot] opened #2398 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit ec6bacc322d94570b62e562f80ca4772812815a0**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1639162880

Feel free to close this if this was just a one-off error.

[2022-01-01 00:26] github-actions[bot] opened #2401 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit c7d7780c0a4374f64b5d89b8da07688228ffaedc**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1642048607

Feel free to close this if this was just a one-off error.

[2022-01-01 16:40] #2266 closed

[2022-01-02 00:22] github-actions[bot] opened #2403 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 4f61e20c7ec521440bc05f198895302dfbc1d12a**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1644785061

Feel free to close this if this was just a one-off error.

[2022-01-02 06:08] sayantan1410 commented on #2302
Hello I would like to contribute to this issue, is it still unassigned ? Can I contribute ?

[2022-01-03 00:22] github-actions[bot] opened #2405 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1a1873a4d794c4a9811957049ac12966dae70411**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1647398723

Feel free to close this if this was just a one-off error.

[2022-01-03 00:33] Moh-Yakoub commented on #2361
@vfdev-5 Is the issue fixed by the above mentioned PR, or is anything else is required to close this task

[2022-01-03 03:06] bibhabasumohapatra commented on #2361
IG @vfdev-5  forgot to close the issue, #fixed

[2022-01-03 03:32] bibhabasumohapatra commented on #700
great Idea! ... I usually due to this had to mention the data again and again and cant use create_supervised_trainer()

[2022-01-03 03:38] bibhabasumohapatra commented on #700
but this sounds extremely correct too!! .

[2022-01-03 07:21] vfdev-5 commented on #2361
@Moh-Yakoub yes, the issue is still open. We need to fix above mentioned mypy error on the master with mypy>=0.920.

@bibhabasumohapatra No, the issue is not fixed. Above PR just pins mypy version to 0.910 but we would like to have the codebase compliant with >=0.920

[2022-01-04 00:21] github-actions[bot] opened #2406 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1a1873a4d794c4a9811957049ac12966dae70411**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1651475037

Feel free to close this if this was just a one-off error.

[2022-01-04 16:00] #2387 closed

[2022-01-04 16:00] #2388 closed

[2022-01-04 16:00] #2390 closed

[2022-01-04 16:00] #2393 closed

[2022-01-04 16:00] #2396 closed

[2022-01-04 16:00] #2401 closed

[2022-01-04 16:00] #2403 closed

[2022-01-04 16:01] vfdev-5 commented on #2383
@bibhabasumohapatra can you disable the tests for 3.9 ,1.8.1 and 3.9 ,1.7.1 and mention this issue in the comment. Thanks.
Otherwise, there is too much notifications every day.

[2022-01-05 00:22] github-actions[bot] opened #2410 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 1a1873a4d794c4a9811957049ac12966dae70411**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1656103125

Feel free to close this if this was just a one-off error.

[2022-01-05 10:04] #2406 closed

[2022-01-05 10:04] #2410 closed

[2022-01-06 18:41] bibhabasumohapatra commented on #2197
I think, the problem is not about Deterministic and Engine compatibility, rather I think . . .
https://github.com/pytorch/ignite/blob/84e51c3b4987c16f6dd27a6abd2f9ff95da3dc6c/ignite/engine/engine.py#L506
has no attribute 'rgn_states' in
 _state_dict_one_of_opt_keys = ("iteration", "epoch")
https://github.com/pytorch/ignite/blob/84e51c3b4987c16f6dd27a6abd2f9ff95da3dc6c/ignite/engine/engine.py#L121

[2022-01-07 15:50] bibhabasumohapatra commented on #2197
[code]

[2022-01-08 05:00] budui opened #2413 "torch.distributed.launch is deprecated"
## ❓ Questions/Help/Support

Hi, I noticed that when I run the DDP program with `torch.distributed.launch`, pytorch indicates that `torch.distributed.launch` is about to be deprecated.

[code]

The related code in PyTorch is [here](
https://github.com/pytorch/pytorch/blob/704af23ee496248628feed1c34d3a33d158350d7/torch/distributed/launch.py#L177-L189):

[code]

The migration guide is documented [he

[2022-01-08 05:03] budui opened #2414 "`torch.distributed.launch` is deprecated, but the alternative `torchrun` is incompatible with ignite"
## ❓ Questions/Help/Support

Hi, I noticed that when I run the DDP program with `torch.distributed.launch`, pytorch indicates that `torch.distributed.launch` is about to be deprecated.

[code]

Environment:

[code]
The related code in PyTorch is [here](
https://github.com/pytorch/pytorch/blob/704af23ee496248628feed1c34d3a33d158350d7/torch/distributed/launch.py#L177-L189):

[code]

The migration gu

[2022-01-08 05:12] budui commented on #2414
sorry, create same issue twice

[2022-01-08 05:12] #2414 closed

[2022-01-08 08:31] vfdev-5 commented on #2413
Thanks for the report, yes we should update our docs about that.
However in terms of code, I can recheck but ignite IS compatible with torchrun, take a look :  https://github.com/pytorch/ignite/issues/2191
Let me know if I missed anything

[2022-01-08 08:53] budui commented on #2413
I got it, and I confirmed that it really doesn't require any code changes.🤦‍♂️Sorry for the confusion.
I previously thought local_rank was specified with a command line argument, but torchrun no longer has that command line argument, so we need to change the code.
But anyway, we need to update the documentation.

[2022-01-08 08:53] #2413 closed

[2022-01-08 14:47] vfdev-5 opened #2415 "Update docs with `torchrun` instead of `torch.distributed.launch`"
## 📚 Documentation

Following https://github.com/pytorch/ignite/issues/2413 we need to update our docs and also ensure that everything still works as expected. We already did the first pass on that in #2191
Now we need to update all our docs and example about that. Certainly, the pytorch-ignite.ai content could be also related to that.

[2022-01-10 08:48] #2197 closed

[2022-01-13 00:21] github-actions[bot] opened #2417 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 192d721db38ae8587742bf49d4e66ab3c66c8596**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1690316029

Feel free to close this if this was just a one-off error.

[2022-01-13 11:23] vfdev-5 opened #2418 "Replace all `os.path` in ignite and tests by `pathlib.Path`"
Let's update the codebase and tests:
1) replace all `os.path.exists(folder)` usage by `Path(folder).exists()`
2) replace all `os.path.join(a, b)` by `Path(a) / b`
3) replace `os.makedirs(folder)` by `Path.mkdir(folder, parents=True)`
4) update all folder/files being `str` to `Union[str, Path]` and make all folder/file-like attributes as `Path` objects.
  - https://github.com/pytorch/ignite/blob/06

[2022-01-13 11:26] parthvaidya commented on #2418
Can you specify which file to work on? I am new to open source but am interested in working on it.

[2022-01-13 11:29] vfdev-5 commented on #2418
@parthvaidya thanks for you interest in working on this issue ! Actually, there are plenty of files where we would like to make this changes. I'd suggest to do a "seach in files" with your IDE and you can find them. If using GitHub:
- https://github.com/pytorch/ignite/search?q=%22os.path%22

[2022-01-13 11:30] parthvaidya commented on #2418
Sure I got the files. Will work on it and update soon.

[2022-01-13 11:34] vfdev-5 commented on #2418
Feel free to send a draft PR to iterate over. If you got stuck please ask questions here or on discord : https://pytorch-ignite.ai/chat
Meanwhile, please also take a look as contributing guide: https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md

[2022-01-13 12:38] yash-0501 commented on #2418
Hey @vfdev-5 If this issue is still open, I would love to contribute in this.

[2022-01-13 12:44] vfdev-5 commented on #2418
@yash-0501 we can divide the work between you and @parthvaidya. I let you propose which part you can work on such that there is no overlap between you two. I relabelled the tasks by numbers.

[2022-01-13 12:46] parthvaidya commented on #2418
No let Yash work as I actually got caught up in something else

[2022-01-13 13:08] #2417 closed

[2022-01-13 14:55] #2312 closed

[2022-01-14 12:17] sayantan1410 commented on #2361
@vfdev-5 I would like to contribute to this issue, if this is not assigned to someone else.

[2022-01-16 20:06] mbchang opened #2423 "FID calculation is five orders of magnitude different from the reference FID implementation"
## 🐛 Bug description

The documentation states that `ignite.metrics.FID` is inspired by the reference Pytorch implementation of FID [here](https://pytorch.org/ignite/generated/ignite.metrics.FID.html). However, when I compare ignite's calculated FID score to the reference implementation's, I see that their scores are off by about five orders of magnitude.

Here is a script based on the example in

[2022-01-16 23:25] vfdev-5 commented on #2423
Thanks for reporting @mbchang !
The main difference is related to the InceptionV3 model used to compute features. In ignite case, by default we are using InceptionV3 from torchvision pretrained on ImageNet. I agree that it is not stated clearly and docs should be improved.
In case of fid_pytorch cmd tool, they are using a bit different Inception V3: https://github.com/mseitzer/pytorch-fid/blob/3d6

[2022-01-17 00:03] mbchang commented on #2423
Ah I see, thank you so much! This works for me.

[2022-01-17 12:30] Moh-Yakoub commented on #2325
@vfdev-5 Any other parts that I can help with at the moment?

[2022-01-17 12:33] vfdev-5 commented on #2325
@Moh-Yakoub yes, you can help. Nothing is done at the moment. You can submit a PR with docs updates for the redirections (see the description). What do you think ?

[2022-01-17 13:11] #2415 closed

[2022-01-17 14:51] Moh-Yakoub commented on #2325
Great, I will start doing that. Thanks a lot!

[2022-01-17 14:55] vfdev-5 commented on #2342
@dasturge I close the question as resolved. Feel free to reopen if needed

[2022-01-17 14:55] #2342 closed

[2022-01-17 14:56] vfdev-5 commented on #2230
@sdesrozis can we close this issue as solved or still there is something to be done ?

[2022-01-17 15:08] sdesrozis commented on #2230
It's done !

[2022-01-17 15:10] #2230 closed

[2022-01-18 00:20] github-actions[bot] opened #2429 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 5b1ec280fb36c8c95eb58da236cbfe63fff83eb3**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1710365629

Feel free to close this if this was just a one-off error.

[2022-01-18 00:31] vfdev-5 commented on #2429
Due to https://github.com/pytorch/ignite/pull/2420/files#diff-c2b540fd3a5add90fcbbbed2c3b6042dc312fa4a8869632f060fe2832abf2a54R69

[2022-01-18 17:48] Moh-Yakoub commented on #2325
@vfdev-5 I just checked the updated task description.

I agree with your suggested approach, but maybe add some description to explain the missing documentation i.e. something like "All our documentation moved to https://pytorch-ignite.ai." or something similar.

[2022-01-18 17:49] vfdev-5 commented on #2325
Yes, I agree, thanks for the suggestion!

[2022-01-19 00:20] github-actions[bot] opened #2434 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 21a2ccc25dd7ff0aec5f1538387597cb093fe36e**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1715450005

Feel free to close this if this was just a one-off error.

[2022-01-19 00:21] #2434 closed

[2022-01-19 09:08] #2429 closed

[2022-01-20 03:50] nishithshowri006 commented on #2418
Is anyone still working on this? If not can I work on it?

[2022-01-20 11:06] vfdev-5 commented on #2418
@nishithshowri006 there is #2422 PR covering a part of it.

[2022-01-20 14:06] #2361 closed

[2022-01-20 18:13] vfdev-5 opened #2436 "[doctest] Provide definition of `default_evaluator` and other default objects"
## 📚 Documentation

It was already discussed and also pointed out in the forum that it is unclear how default objects are defined inside doctest examples. For example: https://pytorch.org/ignite/generated/ignite.metrics.Accuracy.html#ignite.metrics.Accuracy

[code]

We can think of different solutions:
- 1) for all doctests, add a link on https://github.com/pytorch/ignite/blob/111fc7a0c57bb4d96d94

[2022-01-20 18:18] vfdev-5 opened #2437 "Add an explanation on how metrics work with engine"
## 📚 Documentation

It is unclear for newcomers what does the code below from docs (for example, Accuracy)
[code]
More precisely, it is unclear that the metric is computed online and at each iteration some internal variables are updated and on epoch completed metric value is computed.

For each metric docs, let's add a link on the explanation that we can add explicitly to https://pytorch.org/ignit

[2022-01-21 06:49] sdesrozis commented on #2436
4. Don't hide any piece of code except import ? This is the more verbose approach but the less confusing.

[2022-01-22 17:43] sadra-barikbin commented on #2437
Hi,
You mean to add a thorough explanation at the beginning of the [this page](https://pytorch.org/ignite/metrics.html) and include a link to it in every metric page?

[2022-01-22 17:53] sadra-barikbin opened #2438 "Seemingly unnecessary dictionary comprehension in contrib's BaseOutputHandler"
Hi,
`output_dict` is made sure to be a dictionary just above the line below.

https://github.com/pytorch/ignite/blob/21a2ccc25dd7ff0aec5f1538387597cb093fe36e/ignite/contrib/handlers/base_logger.py#L108

So this line could be replaced with:

[code]

[2022-01-22 18:17] vfdev-5 commented on #2438
Thanks for pointing out that, @sadra-barikbin !
Would you like to send a PR to fix that ?

[2022-01-22 18:18] vfdev-5 commented on #2437
Yes, exactly !

[2022-01-22 19:25] sadra-barikbin commented on #2438
Yes, sure!

[2022-01-22 20:38] #2438 closed

[2022-01-23 08:29] louis-she commented on #2423
I have had a look on this, the difference of the 2 implementations are coming from 2 source:

1. **the input is not exactly the same**

the code provided is not strict enough. the ignite version called `torchvision.utils.save_image` to convert the random 0 ~ 1 float tensor to `png`, and the FID official using `torchvision.transform.ToTensor` to convert that png to 0 ~ 1 float number.

There will b

[2022-01-23 09:24] vfdev-5 commented on #2423
Thanks a lot @louis-she for this detailed analysis !

[2022-01-24 20:33] sadra-barikbin opened #2441 "create_lr_scheduler_with_warmup does not change init_lr to proper value"
Hi,

In order to get expected sequence of `lr`s from `create_lr_scheduler_with_warmup`'s scheduler, one must not attach it to engine on event `EPOCH_COMPLETED` because it produces the `lr` passed to optimizer's constructor at the beginning and then warmup `lr`s. This hurts warmup procedure.  As a workaround, one could use event `EPOCH_STARTED` but it might not be a good solution.

It seems there s

[2022-01-24 21:45] vfdev-5 commented on #2441
@sadra-barikbin have you seen the example from docs: https://pytorch.org/ignite/generated/ignite.handlers.param_scheduler.create_lr_scheduler_with_warmup.html#ignite.handlers.param_scheduler.create_lr_scheduler_with_warmup

I'm not sure if it makes sense to perform warm-up on epochs.

But anyway, if you check our docs, almost all `ignite.handlers.param_scheduler` are attached to `ITERATION_STARTED

[2022-01-25 08:17] sadra-barikbin commented on #2441
Um, you're right! People do warm-up on iterations. The question that arises is that how to do warm-up on iterations and then do normal scheduling on epochs by use of the `create_lr_scheduler_with_warmup`'s scheduler? At this moment, it does only listen to epoch events or iteration events.

[2022-01-25 09:40] vfdev-5 commented on #2441
@sadra-barikbin you can simply schedule your post-warm-up epoch-wise scheduling using iterations if possible.
Otherwise, you can try to combine events as below:
[code]

By the way, our docs on `create_lr_scheduler_with_warmup` is incorrect, cc @sdesrozis .
We should trigger `scheduler` on `ITERATION_STARTED` instead of `ITERATION_COMPLETED` if we would like to avoid the first iteration to take opt

[2022-01-25 14:50] rishav-karanjit commented on #2418
Can I work on this. If no one else is working on it?

[2022-01-26 10:57] ozancaglayan opened #2444 "Potential bug/confusion when is_multilabel=True for some metrics"
Hello,

in the documentation for `Precision`, `Recall` and `ClassificationReport`, if the task is multilabel, following examples are given:

[code]

In all metric docs, a first-dim is added by `unsqueeze(0)` to both `y_true` and `y_pred`, but it is also told that the shapes must be `(batch_size, num_categories, ...)`. From my understanding of the latter, both `y_true` and `y_pred` should have `n_s

[2022-01-26 11:02] vfdev-5 commented on #2444
@ozancaglayan thanks for the question!
@sdesrozis can you take a look ?

[2022-01-26 11:31] vfdev-5 commented on #2444
@ozancaglayan I agree that docs look a bit weird. The correct usage should look like in the tests where we match results vs sklearn: https://github.com/pytorch/ignite/blob/master/tests/ignite/metrics/test_classification_report.py#L77-L141

Sorry about that.

[2022-01-26 11:47] ozancaglayan commented on #2444
even from the tests, I can't understand how this is supposed to work? I get it to work with sklearn as in the tests but:

[code]

this does not work either. Is this only supposed to work if you slice the batch dim iteratively but not give that at once? But that shouldn't matter, dunno.

[2022-01-26 12:24] vfdev-5 commented on #2444
@ozancaglayan I checked from my side and agree that `ClassificationReport` metric does not work as I would expect.
Here is how you can compute sample avg precision, recall, f1 meanwhile we are fixing this issue:
[code]
Please, let me know if it works for you. Thanks

[2022-01-26 13:26] vfdev-5 commented on #2423
@louis-she looks like pytorch-fid results depend on the batch-size:
[code]

<details>

<summary>
Following your great catch on different input data due to float->uint8 conversion and back, here is the code I used to compute FID score. Even taking the same batch sizes, ignite results are slightly different:
</summary>

[code]

</details>

However, model's forward pass give consistent results :
[cod

[2022-01-27 17:03] vfdev-5 commented on #2441
Docs issue is fixed in https://github.com/pytorch/ignite/pull/2442
Let's just add another example with mixing events as in the code above: https://github.com/pytorch/ignite/issues/2441#issuecomment-1020991178

[2022-01-27 17:11] sayantan1410 commented on #2437
@vfdev-5 Can I work on this issue ?

[2022-01-29 11:45] sadra-barikbin commented on #2441
Shall I add the example to docs?

[2022-01-29 12:40] vfdev-5 commented on #2441
Yes, this could be helpful. Thanks!

[2022-01-29 15:47] soma2000-lang commented on #2436
@vfdev-5 Please assignme this.I would like to work on this

[2022-01-29 16:02] vfdev-5 commented on #2436
@soma2000-lang sounds good, I can assign it to you. Which solution you plan to provide ?

[2022-01-31 09:54] vfdev-5 commented on #2274
Nightlies are shipping 3.10 python binaries.
For example, see https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html

[2022-02-01 14:44] louis-she commented on #2444
assign to me pls

[2022-02-02 09:37] H4dr1en opened #2447 "DataParallel is used by auto_model with single GPU"
## 🐛 Bug description

I am not sure whether it is a bug or a feature:

The DataParallel is being applied/patched by `idist.auto_model` in the context of a single gpu (backend=None, nproc_per_node=1). What is the reason behind this choice? Does it bring any speed improvements?

The only way to prevent it is to set `os.environ["CUDA_VISIBLE_DEVICES"] = "0"` for single-gpu contexts.

## Environment

[2022-02-02 10:59] vfdev-5 commented on #2447
@H4dr1en I haven't yet checked the code but I agree that this seems useless to wrap the model by `DataParallel` in case of 1 device.

[2022-02-02 12:48] H4dr1en commented on #2447
DataParallel seems to drastically slow down the model training. I tried with the cifar10 example from the pytorch-ignite/examples repository on [this fork](https://github.com/H4dr1en/examples/commit/4e7a1bb91d3e44bc200533157796735aac5445ae), I ran this script on a g4dn.12xlarge (x4 T4 GPUs AWS instance).

The default training time reported by ignite is
[code]
If I set `os.environ["CUDA_VISIBLE_DEV

[2022-02-02 13:59] sdesrozis commented on #2444
Sorry, I completely missed that question!

[2022-02-02 15:39] vfdev-5 commented on #2447
Yeah, I was also confused about how you are using `nproc_per_node` in your code. By the way, I still do not quite understand what happens exactly if `nproc_per_node > 1`, what happens with the subprocess entering into `__main__`, `config` has `nproc_per_node=4` by default, so how it works that it does respawn inf number of processes ?

I'd expect training on 4 GPUs in DDP mode (not DP) is faster t

[2022-02-02 16:22] H4dr1en commented on #2447
The subprocesses have args.local_rank defined, so they just start the training

Yes, on the same page. What I want to raise in this issue is the fact that `idist.auto_model`, when being executed with an environment where `nproc_per_node=1`, regardless of the number of GPUs available, should not use DP, and only train using a single GPU. - does it make sense?

[2022-02-02 16:27] vfdev-5 commented on #2447
Yes, it makes perfectly sense, but how ignite can understand that you have `nproc_per_node=1` ?

[2022-02-03 09:14] H4dr1en commented on #2447
Can we maybe check the world_size?

Is it justified to keep this use case, now that DDP is out and is faster than DP? I don't fully understand the different use cases, so I might be wrong, in which case I understand that we should not change this behaviour

[2022-02-03 09:41] vfdev-5 commented on #2447
yes, we are using world_size to setup DDP. If world_size is defined and >1 then there is a distributed processing group and there is no point to use DP.

Here is the code: https://github.com/pytorch/ignite/blob/6d83dd72bb0bb7e655cd284789f367b46ab36a9e/ignite/distributed/auto.py#L201-L230

[2022-02-03 12:36] sadra-barikbin commented on #1754
Hi there,
I make this feature's PR. Is it OK? What else should I do?

[2022-02-03 15:52] sdesrozis commented on #1754
@ahmedo42 It exists the class `LRScheduler` to wrap PyTorch schedulers. Out of curiosity, have you tried it? And if so, why doesn't it work on this case? Thanks a lot for the feedback!

[2022-02-03 16:16] sadra-barikbin commented on #1754
@sdesrozis `LRScheduler` does not support `param_group_index` and also It's not sufficient to just wrap a PyTorch's `ReduceOnPlateau`, but one should also feed its `step` function with a metric value.

[2022-02-05 00:19] github-actions[bot] opened #2451 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 052d66a2d23c06820307cfa5a7ca0122084e2ebf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1797715882

Feel free to close this if this was just a one-off error.

[2022-02-06 00:22] github-actions[bot] opened #2452 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 052d66a2d23c06820307cfa5a7ca0122084e2ebf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1800816097

Feel free to close this if this was just a one-off error.

[2022-02-07 00:21] github-actions[bot] opened #2453 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 052d66a2d23c06820307cfa5a7ca0122084e2ebf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1803827841

Feel free to close this if this was just a one-off error.

[2022-02-07 08:36] vfdev-5 commented on #2453
We have to fix the following issue with approx:
https://github.com/pytorch/ignite/runs/5086507277?check_suite_focus=true#step:9:1479
[code]

[2022-02-07 08:36] #2451 closed

[2022-02-07 08:36] #2452 closed

[2022-02-07 12:24] nishantb06 commented on #2453
After correcting the syntax , It is still throwing an assertion error due to the values not being the same -
[code]

How can this be improved?

[2022-02-07 12:31] vfdev-5 commented on #2453
@nishantb06 thanks for the info !
According to https://github.com/pytorch/ignite/issues/2444 there is something wrong in the implementation and tests of `ClassificationReport`.

Let's add [pytest.mark.xfail](https://docs.pytest.org/en/6.2.x/skipping.html#xfail-mark-test-functions-as-expected-to-fail)
to the failing test and submit the PR.

[2022-02-07 13:12] nishantb06 commented on #2453
Thanks, I've submitted a PR

[2022-02-08 00:20] github-actions[bot] opened #2455 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 052d66a2d23c06820307cfa5a7ca0122084e2ebf**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1809520037

Feel free to close this if this was just a one-off error.

[2022-02-08 11:29] #2453 closed

[2022-02-08 11:53] nishantb06 commented on #2436
@vfdev-5 , @sdesrozis I have a solution in mind - please let me know if this is feasible or not. For each metric we can envelop the code in a function and define the evaluator inside it. Now `default_evaluator` is a local variable and should not interfere with the one defined in `conf.py`. And then simply call the function to get the output -(Example shown below)
[code]

[2022-02-08 12:30] vfdev-5 commented on #2436
@nishantb06 thansk for a suggestion. If I understand correctly, you propose to show in examples `func_name` definition and `func_name()`. I think this would be very strange to see in the docs.

We can avoid using `func_name` and just define `default_evaluator` clearly in each  docstring example. This is almost the same as the idea (4) from https://github.com/pytorch/ignite/issues/2436#issuecomment

[2022-02-08 18:01] nishantb06 commented on #2436
@vfdev-5 I understand your point which is why I tried to implement idea (4) and built the docs locally. Following is a screenshot attached -

<img width="794" alt="Screenshot 2022-02-08 at 10 21 21 PM" src="https://user-images.githubusercontent.com/90783807/153046250-150ac73b-da3f-4e5b-8c97-28056b5862ad.png">

Do you think something like this would be suitable for a PR?

[2022-02-08 19:15] sdesrozis commented on #2436
And why not having a dedicated module to wrap snippets used in the doctest ?

[code]

[2022-02-08 22:39] vfdev-5 commented on #2436
I'm not sure that it is really necessary to introduce a dummy module into the library to solve a doctest representation issue.

Let's go with the idea (1) as we are passing almost 20 days to solve this issue :)
- to each docstring we add a text with a link on conf.py defaults.
Thus, for accuracy docs it will be:
[code]

Ideal solution would be to find how to make this code foldable (IMO, it should

[2022-02-09 05:52] DevPranjal commented on #2436
Hi @vfdev-5 @sdesrozis, I was trying a few options to resolve this problem

I ended up with this using the `sphinx_togglebutton` extension

https://user-images.githubusercontent.com/72960463/153129453-84a1aeba-f0b8-4396-8059-e809cf9c181f.mp4

Currently, I am using code docstring below:
[code]

But as mentioned,

I tried the below, but was not able to get it to work:
[code]

[2022-02-09 07:28] vfdev-5 commented on #2436
@DevPranjal looks very cool with the toggle button ! Thanks a lot for investigating ! Can you share a link on your fork where you have this implemented to try out ?

If there is specific repository for the plug-in we could ask there.
Do you see any warnings/errors when building the docs using `.. include:: defaults.rst` ?
For example if you do not use any toggle tags, can you still include default

[2022-02-09 08:54] DevPranjal commented on #2436
The link to my fork is [here](https://github.com/DevPranjal/ignite/tree/toggle-for-docs)

The error in the `include` directive is not due to the plug-in. Even after removing the `toggle` directive, I get the same error:

InputError: [Errno 2] No such file or directory: 'source/generated/default.rst'.

I am assuming I am creating `defaults.rst` in the wrong directory. Could you guide me on where I

[2022-02-09 12:19] #2455 closed

[2022-02-10 00:20] github-actions[bot] opened #2458 "Scheduled workflow failed"
Oh no, something went wrong in the scheduled workflow **PyTorch version tests with commit 9039aebaf087532b1a6a5008a3a958730e6528d4**.
Please look into it:

https://github.com/pytorch/ignite/actions/runs/1821088942

Feel free to close this if this was just a one-off error.

[2022-02-10 21:43] #2436 closed

[2022-02-12 07:04] gucifer commented on #1735
Hey @vfdev-5 , if no one else if working on this, can I pick this up?

[2022-02-12 09:48] vfdev-5 commented on #1735
Go ahead

[2022-02-12 10:33] egaznep opened #2459 "GradsScalarHandler logs 0 gradients if default update function is used"
## 🐛 Bug description

Logging the gradients per epoch / iteration is a useful way to debug an under-performing model. Ignite provides an easy-to-use tensorboard_logger handler, an example accessible from `ignite.contrib.handlers.tensorboard_logger.GradsScalarHandler`. However, the default `update` function used by Engines generated by `create_supervised_trainer` zero the gradients before terminati

[2022-02-12 11:27] vfdev-5 commented on #2459
Thanks for reporting @egaznep !
Yes, that's true that we zero grads after optimizer.step : https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L107

This is mainly due to simplify gradients accumulation.

[2022-02-12 11:30] egaznep commented on #2459
Sure, but re-writing as I proposed would still keep all the benefits concerning gradients accumulation, or do I miss something?

[2022-02-12 11:35] vfdev-5 commented on #2459
@egaznep in the beginning we implemented it in a similar way and there was a bug in the implementation and we switched to the current implementation. We have to check carefully your solution to ensure that it works perfectly. I haven't yet checked it in details just giving a bit of context.

[2022-02-12 17:14] snnipetr commented on #2418
Is this issue open for contribution?

[2022-02-12 19:25] vfdev-5 commented on #2418
Yes, it is open for contributions

[2022-02-14 11:02] developer0hye opened #2462 "learning rate initialization of create_lr_scheduler_with_warmup"
## 🐛 Bug description

It seems that learning rate initialization for `create_lr_scheduler_with_warmup ` is not working well.

## how to reproduce it

[code]

## Results
[code]
I thought that learning rate of optimizer should have been 1e-5. But I got 1e-3.

## Environment

- PyTorch Version (e.g., 1.4):
- Ignite Version (e.g., 0.3.0):
- OS (e.g., Linux):
- How you installed Ignite (`conda`, `pip`,

[2022-02-14 12:14] vfdev-5 commented on #2462
@developer0hye thanks for reporting. Actually it depends on when you check the learning rate: before / after applying the scheduler.

Learning rate value is applied to the optimizer when `lr_scheduler(None)`. Here is master docs with fixed example: https://pytorch.org/ignite/master/generated/ignite.handlers.param_scheduler.create_lr_scheduler_with_warmup.html (v0.4.8 doc's example is wrong: `Event

[2022-02-14 12:19] developer0hye commented on #2462
@vfdev-5
Thanks for your reply!

Should I call lr_scheduler(None) to train model with `warmup_start_value` at first iteration  before optimizer.step()?

[code]

[2022-02-14 12:23] vfdev-5 commented on #2462
@developer0hye yes, we can call it manually like that or attach to the engine for `Events.ITERATION_STARTED`:

[code]

[2022-02-14 12:54] developer0hye commented on #2462
@vfdev-5

I made a repository related to learning rate warmup method on Torch with pytorch-ignite!

https://github.com/developer0hye/Torch-Warmup

[2022-02-14 13:02] vfdev-5 commented on #2462
@developer0hye Sounds great ! By the way, using ignite's param schedulers in addition to LR scheduling you can also update other params like momentum (SGD), betas (Adam) etc.

[2022-02-14 13:26] developer0hye commented on #2462
@vfdev-5
Wow! I have to study pytorch-ignite harder! Thanks for sharing your works!

[2022-02-14 13:36] vfdev-5 commented on #2462
It is a joint work of [many contributors](https://github.com/pytorch/ignite/graphs/contributors), thanks to all of them!
By the way, if you are interested in helping the project, feel free to connect to our discord server: https://pytorch-ignite.ai/chat and join #start-contributing channel.

[2022-02-14 13:40] vfdev-5 commented on #2459
@egaznep could you please check your implementation if it also covers the issue we had previously [here](https://github.com/pytorch/ignite/issues/583). Looks like `if (engine.state.iteration + 1) % gradient_accumulation_steps == 0` should fix the issue we had previously.
If you'd like to send a draft PR for that, it would be nice ! Thanks

[2022-02-14 13:45] developer0hye commented on #2462
@vfdev-5
I joined! Thanks!

[2022-02-14 13:49] vfdev-5 opened #2464 "Fix docs building"
## 📚 Documentation

Following https://github.com/pytorch/ignite/pull/2457 docs build is failing due to copying of orphaned defaults.rst file:

- https://github.com/pytorch/ignite/runs/5148163094?check_suite_focus=true
[code]

More details on how docs are built:

- https://github.com/pytorch/ignite/blob/master/.github/workflows/install_docs_deps.sh
- https://github.com/pytorch/ignite/blob/master/.g

[2022-02-14 14:09] vfdev-5 opened #2465 "Make LRScheduler attachable to Events.ITERATION_STARTED"
## 🚀 Feature

Currently, the correct way to use `LRScheduler` wrapper for pytorch >= 1.1.0 is the following:
[code]

[code]

- https://github.com/pytorch/ignite/pull/2463

however, other schedulers should be used as following ([link](https://pytorch.org/ignite/generated/ignite.handlers.param_scheduler.PiecewiseLinear.html#ignite.handlers.param_scheduler.PiecewiseLinear))
[code]

The idea is to imp

[2022-02-14 22:37] sdesrozis commented on #2465
Maybe an extra argument could be introduced to keep the current (but not expected) behaviour ?

[2022-02-14 22:45] vfdev-5 opened #2466 "Setup CI to check on 2 GPUs"
As CircleCI removed resource class with 2 GPUs we can not run tests on 2 GPUs with Circle CI:
- https://app.circleci.com/pipelines/github/pytorch/ignite/2461/workflows/5686c0d7-6dcc-4693-926a-3d91b1e92119/jobs/7650

Available resource classes are only 1 GPU: https://circleci.com/docs/2.0/configuration-reference/#gpu-executor-linux

There is a feature request on below link (but IMO it is a regressi

[2022-02-15 13:14] #2458 closed

[2022-02-15 13:54] trsvchn commented on #2441
Furthermore, as discussed, another option is to follow the sklearn's practice we can put this example into how-to-guides and cross link it in a docstrings.

[2022-02-15 17:49] soma2000-lang commented on #2464
Working on this

[2022-02-16 04:11] DevPranjal commented on #2464
Hey @soma2000-lang, we were discussing about solutions to this issue. One of the workarounds that @vfdev-5 proposed was to skip copying files if it doesn't exist. I have implemented that for now. You could propose any other solution to @vfdev-5 (maybe somehow skip copying `defaults.rst` and make the `master-conf` work for all branches).

[2022-02-16 09:05] #2464 closed

[2022-02-16 13:35] egaznep commented on #2459
I was wrong actually, it should be `(engine.state.iteration - 1)`. I tested for two cases (`gradient_accumulation_steps = 1` and `gradient_accumulation_steps = 3`). The behavior is as follows.

`gradient_accumulation_steps = 1`:

1. zero_grad, accumulate, step,  (ITERATION_COMPLETED)
2. zero_grad, accumulate, step,  (ITERATION_COMPLETED)
...

`gradient_accumulation_steps = 3`:

1. zero_grad, accum

[2022-02-17 03:58] louis-she commented on #2444
Sorry i'm a little busy these days, i have not started this one yet. @nishantb06 you can take this one. I will focus on #2423

[2022-02-17 12:59] vfdev-5 opened #2472 "Fix DeprecationWarning: distutils Version classes are deprecated"
We need to fix `DeprecationWarning: distutils`:

[code]
- In the CI and in the code

In addition to the code change we have to figure out if we need to add `packaging` as a dependency.
It is most probably brought with some other packages but we have to ensure that on a clean environment it is (or not) installed together with for example pytorch.

---

`packaging` is not installed with torch cpu on

[2022-02-17 17:57] vfdev-5 commented on #2465
@avats-dev checkout https://pytorch-ignite.ai/concepts/02-events-and-handlers/

[2022-02-18 09:29] DevPranjal commented on #2472
Hello! I would like to fix this.
I am looking if `packaging` is a dependency in any other required package.

[2022-02-18 09:33] vfdev-5 commented on #2472
@DevPranjal thanks !
The only dependency ignite has is pytorch: https://github.com/pytorch/ignite/blob/750719f01585b068bb86cdbcc6c618439f555016/setup.py#L27-L29

So, if pytorch requires `packaging` it would be good.

[2022-02-18 12:13] DevPranjal commented on #2472
@vfdev-5 Just a few facts I found:
- [This](https://github.com/pytorch/pytorch/pull/69823) approved PR in `pytorch` would include `packaging` to the requirements.
- Any system with `pip` installed would have the `packaging` module (from this [comment](https://github.com/pytorch/pytorch/pull/69823#pullrequestreview-831808434))

[2022-02-18 12:20] vfdev-5 commented on #2472
Yes, let's add it now and remove once torch included it

[2022-02-18 13:20] KevinMusgrave opened #2475 "Allow filename_pattern to be passed to ModelCheckpoint"
[Checkpoint](https://pytorch.org/ignite/v0.4.8/generated/ignite.handlers.checkpoint.Checkpoint.html#ignite.handlers.checkpoint.Checkpoint) accepts ```filename_pattern``` as an argument, but [ModelCheckpoint](https://pytorch.org/ignite/v0.4.8/generated/ignite.handlers.checkpoint.ModelCheckpoint.html#ignite.handlers.checkpoint.ModelCheckpoint) doesn't.

[2022-02-18 14:54] vfdev-5 commented on #2475
Thanks for reporting @KevinMusgrave ! It shouldn't be difficult to pass it through, i think.

[2022-02-18 17:23] vfdev-5 opened #2478 "CI failure with recent markupsafe release"
[code]
- https://github.com/pytorch/ignite/runs/5250538975?check_suite_focus=true

Ref:  https://github.com/pallets/markupsafe/issues/284

Temporary fix in https://github.com/pytorch/ignite/pull/2477

The issue can closed once we removed temporary fix.

[2022-02-19 10:28] KevinMusgrave opened #2479 "Checkpoint loading doesn't work if object doesn't contain a torch.nn.Module"
## 🐛 Bug description

Running the following code:
[code]

results in the following error:
[code]

if ```to_load``` doesn't contain a ```torch.nn.Module```.

For example, ```{"optimizer": optimizer}``` fails, but ```{"model": torch.nn.Linear(10, 10)}``` succeeds.

## Notebook to reproduce
https://colab.research.google.com/drive/1G-iVC-ixMQrw90AEp5mDuSjxUAPyO8YF?usp=sharing

## Environment
Run on go

[2022-02-19 12:05] KevinMusgrave opened #2480 "Pass filename components into Checkpoint.load_objects"
## 🚀 Feature

Currently, objects can be loaded like this:

[code]

It would be nice to have the following as an option:
[code]

In other words, pass in components of ```self.filename_pattern```. The Checkpoint object already has ```self.filename_pattern```, ```self.filename_prefix```, ```self.ext```, and it should also have the ```dirname``` that is passed into ```__init__```. So most of the compo

[2022-02-19 15:18] vfdev-5 commented on #2479
@KevinMusgrave thanks for the report. I tried your colab and it fails elsewhere.

However, you should be able to save model, optimizer, lr_scheduler, trainer etc
Here is a working code (tested in your colab)
[code]

Meanwhile I'll try to figure out what is the issue that give you reported error: "load_state_dict() got an unexpected keyword argument 'strict'".

[2022-02-19 15:33] vfdev-5 commented on #2480
@KevinMusgrave interesting feature request. What is "name" in your example ?
So, you would like to see an instance method (today we have a static method) `load_objects` that could reuse previous info to recreate filepath using a dictionary ?
[code]