[2019-11-21 10:55] vfdev-5 commented on #669
@Oktai15 well, probably it is not very clearly stated, but it is said here:
https://pytorch.org/ignite/engine.html#ignite.engine.Engine

But, true, probably, we should improve this part and clearly say about the only accepted signature:
[code]

Actually, restricted signature is not a real problem, IMO. You can define your other argument with `functools.partial`:
[code]

What do you think ?

PS. If

[2019-11-21 11:30] Oktai15 commented on #669
@vfdev-5, I am not a highly skilled in python, but I have the following ideas:
* We need to update docs using `typing`. Something like this:

What do you think?
* We need to change signature of `process_function`. My suggestion:
[code]
I want to notice that we implicitly use this idea for [handler](https://pytorch.org/ignite/engine.html#ignite.engine.Engine.add_event_handler). But in this case, we

[2019-11-21 12:12] vfdev-5 commented on #669
Actually, there is an issue to improve the code with `typing`, https://github.com/pytorch/ignite/issues/651. So, yes, this improvement could help.

Just, the update of documentation using typing without updating the code, IMO, is not sufficient...

For instance, for me, there is no real need to add other arguments. We can keep this as an idea to think about. IMO, some practical use-cases should dr

[2019-11-22 07:34] RomanShen opened #670 "TypeError: 'Events' object is not callable"
Hello! I'm a beginner for ignite and am still learning on it. I ran the example 'mnist_with_tensorboardx' and I came across the aforementioned problem. The error message looks like below:

`  File "mnist_with_tensorboardx.py", line 93, in run
    @trainer.on(Events.ITERATION_COMPLETED(log_interval))
TypeError: 'Events' object is not callable
`

I didn't make any change to the source code and I sea

[2019-11-22 07:49] RomanShen commented on #670
After I update the ignite to dev version, the issue is resolved.

[2019-11-22 07:49] #670 closed

[2019-11-22 07:59] vfdev-5 commented on #670
@RomanShen yes, as you tried to run example code from master, it needs master version of the library

[2019-11-22 15:56] mpariente commented on #669
The `process_function` already depends on "global" variables such as the model which is always used without being an argument. From this point, I don't see the use of adding new arguments..

[2019-11-23 23:02] vfdev-5 opened #672 "Engine with data echoing/minibatch persistency/BA"
Idea is to propose 2 things:
- a supervised trainer with minibatch persistency [3] (configurable K = same batch reusage)
- a handler that can be used inside user's `update_fn` of the trainer and implementing
  - minibatch persistency [3] or
  - Batch Augmentation [1]

Refs:
[1] https://arxiv.org/abs/1901.09335
[2] https://arxiv.org/abs/1907.05550
[3] https://arxiv.org/abs/1806.07353

cc @ericspod

[2019-11-27 07:39] PyExtreme commented on #368
Hi @vfdev-5 , I am looking to contribute to ignite.
Could you please help me by detailing out this issue please? I have gone through the conversation but couldn't understand it exactly. Would be of great help to me.

Thank you

[2019-11-27 09:17] vfdev-5 commented on #368
Hi @PyExtreme thanks for the proposition.
Idea here is to provide precoded Dice Coefficient metric. It is more simple to start from [Confusion Matrix](https://github.com/pytorch/ignite/blob/master/ignite/metrics/confusion_matrix.py) and implement Dice Coefficient as it is done for [IoU](https://github.com/pytorch/ignite/blob/master/ignite/metrics/confusion_matrix.py#L118).
Please, take a look at o

[2019-11-27 22:56] vfdev-5 opened #676 "Drop support Python 2.7"
Remove python 2.7 part from
- travis
- code

PR to merge in 2020

[2019-11-27 23:13] #387 closed

[2019-11-27 23:13] #550 closed

[2019-11-28 02:14] PyExtreme commented on #667
Hi @vfdev-5 , I would like to take this up. I am interested to contribute to ignite and seems like a good starting point.

Thank you

[2019-11-28 07:38] vfdev-5 commented on #667
@PyExtreme sorry, this one is more tricky than I thought in the beginning. I'll handle it by myself.
Please, go ahead with Dice Coefficient as you asked yesterday, once you are OK with your code, do not hesitate to send a PR.

[2019-11-29 12:17] oteph opened #677 "ModelCheckpoint score_function confusing to use"
I use `create_supervised_trainer` in combination with `ModelCheckpoint`.

[code]

With supervised trainer in not straight forward to add a metric. So users only have access to the state.output, which only contains the minibatch. This causes models to be saved that based on the model performance on the last minibatch, not the whole epoch.

It might be a good idea to add a warning to the description

[2019-11-29 12:34] oteph opened #678 "Mnist example trainer evaluator split"
The mnist example creates a trainer and a sperate evaluator.

[code]

The evaluator is the used to calucalte the loss over the whole batch:

[code]

In this configuration the training sets gets evaluated twice. This slows down training. Also if the training data is randomized in any way -`shuffle=True` - (or especially with random augmentations), the data the evaluator sees is different form the d

[2019-11-29 13:15] vfdev-5 commented on #677
@oteph thanks for the feedback! Could you please explain what would you like to achieve using `ModelCheckpoint` on the trainer ?

In general, `ModelCheckpoint` is used to create training checkpoints and save best models according to validation scores.
1) Create training checkpoints
[code]
2) Save best models
[code]

I assume that you are also aware of the fact that during the training, the model i

[2019-11-29 13:25] vfdev-5 commented on #678
@oteph, well, more precisely, it is evaluated once with fixed weights model. During the training model weights are updated and metrics computed during the training do not represent the latest model's performances. And this also causes the differences for

Concerning

This is correct and in more serious cases we can think to provide 3 data loaders:
- random data augmented training data loader for t

[2019-11-29 14:04] oteph commented on #677
@vfdev-5

I was aware, but now that you point it out it makes sense that the `create_supervised_trainer ` does not take any metrics.

But this still seems problematic for the `ModelCheckpoint` `score_function` as either you can only access the output of the last minibatch, or a metric that does not represent the final model state.

[2019-11-29 14:12] vfdev-5 commented on #677
@oteph or some custom value, as I said in the previous message...
It really depends on what would you need to store.

[2019-11-29 17:34] oteph commented on #677
@vfdev-5  alright what got me confused was the assumption that i cannot use the evaluator as EPOCH_COMPLETED gets triggered for the training and the validation set. So as long as i split the engines further and have one dedicated solely to the evaluation of the training batch, everything should work as expected. (as you mentioned in https://github.com/pytorch/ignite/issues/678#issuecomment-5597892

[2019-11-29 18:13] vfdev-5 commented on #677
@oteph hope to make it more clear. Also, do not hesitate to look at other example scripts and notebooks to see how ignite helps to get the code more flexible and refactored.

Feel free to close the issues if they are answered :)

[2019-11-29 21:41] #677 closed

[2019-12-04 12:36] lintangsutawika commented on #457
Hi, @vfdev-5 is this something open to contribute to?

[2019-12-04 13:12] vfdev-5 commented on #457
@lintangsutawika yes, idea is to provide some cool example Ignite + Albumentations usage. It is rather open and some ideas are described above. So, if you would like to contribute let's discuss a bit of what kind of example you would like to provide and as always PR are welcome :)

[2019-12-05 22:52] pldelisle commented on #368
@PyExtreme See https://github.com/banctilrobitaille/kerosene/blob/3c27cdfefcb3624e0a0de9590108d40c36a1810e/kerosene/metrics/metrics.py#L76 for my implementation.

[2019-12-05 23:02] pldelisle opened #683 "Add Hausdorff distance in Metrics"
I think it would be nice to add a standard implementation of the Hausdorff distance in Ignite as a `Metric`.

[2019-12-05 23:10] vfdev-5 commented on #368
@pldelisle thanks for the link, looks good !

Btw, I wonder what is the purpose of this kerosene more higher level API framework ?
Would not be better to enhance contrib module with such higher level abstractions ?

[2019-12-05 23:11] vfdev-5 commented on #683
@pldelisle could you please add some reference for this distance (and some use-cases for my culture :) ). Thanks

If you would like to contribute, you are welcome !

[2019-12-05 23:12] vfdev-5 commented on #678
@oteph I close this issue as answered. Please feel free to reopen if needed

[2019-12-05 23:12] #678 closed

[2019-12-05 23:14] vfdev-5 commented on #669
@Oktai15 I close the issue as solved. If you think we need to discuss more on it, please feel free to reopen it

[2019-12-05 23:14] #669 closed

[2019-12-06 18:04] #355 closed

[2019-12-06 19:26] pldelisle commented on #368
The goal of Kerosene was to support the multi-GPU and mixed precision features of Pytorch Lightning while keeping the flexibility of ignite (No strict interface for user defined models). The template method in the trainer let the user only focus on the model and makes it very simple to train new model architecture with multi-gpu, mixed-precision and automatic Visdom logging (only a model and a con

[2019-12-09 12:30] miguelvr opened #684 "ConfusionMatrix is extremely slow"
I'm trying to do some grid search on some thresholds for the labels of my models, and the computation of 580 confusion matrices takes about 22 minutes on the GPU and about 8 minutes on CPU (yes, it is slower on the GPU).

I think the issue is probably related to `torch.bincount`

[2019-12-09 14:22] vfdev-5 commented on #684
@miguelvr thanks for the feedback, could you please provide some details on what kind of data you are using to compute CMs ?
Yes, it would be good to run profiling and benchmark execution on GPU vs CPU...

[2019-12-09 14:31] miguelvr commented on #684
I'm putting together a small-ish code snippet with the benchmarks, I'll get back to you ASAP

[2019-12-09 15:03] miguelvr commented on #684
the issue might be related to the fact that a lot of computations are made on the CPU (I'm using a lot of cmAccuracy, cmPrecision and cmRecall), and there the overhead of transferring data between GPU and CPU too often impacts performance significantly.

in my benchmark, the numbers are actually okay, so I'm closing this for now.

[2019-12-09 15:03] #684 closed

[2019-12-09 15:05] miguelvr commented on #684
benchmark gist: https://gist.github.com/miguelvr/2ffb0c0a9d3110325e67c9278f224119

[2019-12-09 15:19] vfdev-5 commented on #684
@miguelvr OK, let's keep it as is. Could you please add your numbers for the benchmark ?

Well, we need to pass the code into profiler. I can look at this as I have more free time...

[2019-12-10 12:28] miguelvr commented on #684
[code]

[2019-12-16 14:01] 2356852131 opened #687 "TypeError: 'Events' object is not callable"
please help,
when I run the code:
 @trainer.on(Events.ITERATION_COMPLETED(every=log_interval))
    def log_training_loss(engine):
        print("Epoch[{}] Iteration[{}/{}] Loss: {:.2f}"
              "".format(engine.state.epoch, iter, len(train_loader), engine.state.output))
        writer.add_scalar("training/loss", engine.state.output, engine.state.iteration)
arise the error:
Traceback (most re

[2019-12-16 14:34] vfdev-5 commented on #687
@2356852131 please use latest nightly release to have it working:
https://github.com/pytorch/ignite#nightly-releases

[2019-12-17 23:04] vfdev-5 commented on #687
I close the issue as solved, please feel free to reopen it if need more support on the issue.

[2019-12-17 23:04] #687 closed

[2019-12-23 10:53] vfdev-5 opened #689 "Metric can accept a dictionary"
Idea is to simplify user code and add logic into `Metric` to accept engine's output as
[code]
Such that `Metric` can work on the output of the following formats:
- `(y_pred, y)`
- `{'y_pred': y_pred, 'y': y, ...}`

This could help to avoid writing `output_transform` adaptor.

[2019-12-26 00:46] vfdev-5 opened #692 "Add example ignite+kornia"
Idea is to provide a cool example (e.g. kornia depth regression https://github.com/kornia/kornia/blob/master/examples/depth_regression/main.py) of usage ignite and kornia and show "flexibility/factorization", "less code to write" features of ignite.

[2019-12-26 00:48] #667 closed

[2019-12-26 00:49] vfdev-5 commented on #545
Fixed by #690

[2019-12-26 00:49] #545 closed

[2019-12-26 11:57] avangelizer commented on #687
Hi, I've still got the error even though I installed the latest nihtly release. I'm currently working on google colab. Don't know if that makes any difference.

[2019-12-26 12:14] vfdev-5 commented on #687
@avangelizer please take a look at this colab where it works :
https://colab.research.google.com/drive/1nUkbM8WqatZJWYs9DfeNgJVljjk0NdBO

[2019-12-27 03:10] JaneEyreliu opened #693 "issue with tensorboardX"
@g-karthik this is due to the newest tensorboardX release 1.7, https://github.com/pytorch/ignite/issues/530
Either install tensorboardX < 1.7 or install ignite from master (`pip install git+https://github.com/pytorch/ignite.git`), we fixed that recently.
HTH

_Originally posted by @vfdev-5 in https://github.com/pytorch/ignite/issues/534#issuecomment-494994872_

[2019-12-27 03:11] JaneEyreliu commented on #693
but i have done this ,none of it work

[2019-12-28 05:58] vfdev-5 commented on #693
@JaneEyreliu could you please provide more details on your setup and what exactly does not work for you ?

[2019-12-31 08:23] beyondyoni opened #694 "Allow user defined for logger"
When training with both a trainer and evaluator, all log outputs are of the form:
``` LEVEL:ignite.engine.engine.Engine:...```
Making it very hard to identify the message creator.

Adding an optional argument for the logger name will improve logs readability.

[2020-01-03 18:51] vfdev-5 commented on #694
@beyondyoni thanks for the feedback. Let me see what we can do with that

[2020-01-07 18:16] vfdev-5 commented on #694
@beyondyoni you can setup logger name for the engines in the following way:
[code]
Output
[code]

Please, tell me if this solves your issue.

[2020-01-09 13:52] beyondyoni commented on #694
It does solve it. Thanks!
I did a very similar fix myself, just thought it'd better to it have as an official option, or maybe unprotect the _logger attribute

[2020-01-09 13:52] #694 closed

[2020-01-10 10:00] vfdev-5 commented on #694
@beyondyoni thanks for the feedback! Yes, I agree, we can add such setup logger method (with more options: for format, for other handlers, etc) into Engine and unprotect the logger everywhere.

If you would like to contribute, please do not hesitate to send a PR with such fix.
For details we can discuss in the PR, if needed.

[2020-01-11 18:01] DrStoop commented on #689
Hi @vfdev-5,

i had solved that already, also adding `another_event` (analogous to `another_engine`) and shared plots. i am working on some other concept changes that's why i haven't PRed it so far. but for the meanwhile here are 2 patches that hopefully should work in the current version. You could copy+replace them & see if they run. any errors due to diverging versions may probably be obvious t

[2020-01-11 22:48] EliasVansteenkiste commented on #526
Same issue with:
[code]

Stack trace:
[code]
For us it happened randomly, sometimes after 16 hours of training.

[2020-01-11 22:55] EliasVansteenkiste commented on #526
Which lower version did you use?

[2020-01-12 22:41] vfdev-5 commented on #689
I thought about automatically prepare `output = {'y_pred': y_pred, 'y': y, ...}` into `output  = (y_pred, y)` between 118 and 119 if `self._output_transform(engine.state.output)` outputs a mapping.
https://github.com/pytorch/ignite/blob/5a328168299379880e03eb35fc60981607a3566f/ignite/metrics/metric.py#L117-L119

[2020-01-13 21:49] #62 closed

[2020-01-13 23:13] vfdev-5 commented on #470
I close the issue as resolved. Please see [here](https://pytorch.org/ignite/master/concepts.html#resume-training) for more details on how to resume a training.

[2020-01-13 23:13] #470 closed

[2020-01-13 23:14] vfdev-5 commented on #494
I close the issue as answered. For more details on how to resume the training, please see [here](https://pytorch.org/ignite/master/concepts.html#resume-training)

[2020-01-13 23:14] #494 closed

[2020-01-13 23:23] vfdev-5 opened #700 "Support for multiple data sources"
Idea is to enhance `Engine` to be able to run on multiple data sources:
[code]

[2020-01-13 23:43] #676 closed

[2020-01-15 13:35] vfdev-5 opened #702 "Add option to Checkpoint, ModelCheckpoint to disable n_saved"
Following the discussion [here](https://github.com/Project-MONAI/MONAI/issues/5#issuecomment-574636483), idea is to provide the option to disable `n_saved` argument and thus save all objects without removing previously stored ones.

cc @ericspod

[2020-01-15 14:50] #702 closed

[2020-01-15 20:54] #689 closed

[2020-01-19 17:38] beyondyoni opened #706 "Make sure metric handlers are fired first"
Hi,

I noticed that since event handlers are invoked at the order of their insertion, there's a potential bug- if a metric handler is inserted after a TensorBoard handler, the metric value will not be ready at the time of writing.

While this has only minor effects (one epoch shift in the results), I think it can be easily solved by one of two approaches:
1. separating handlers list to two: one fo

[2020-01-19 18:56] vfdev-5 commented on #706
@beyondyoni thanks for the ideas. IMO, the order of handlers is up to user to respect. So, if user adds at first the loggers and after that handlers providing the info, it is his/her resposibility.

However, I think adding some argument to setup a sort of priority of handlers can be an interesting enhancement ! For instance, I do not know how can we provide such option. If you would like to draft

[2020-01-19 22:15] beyondyoni commented on #706
I agree with your opinion of order of execution being the user's responsibility but I think the current situation isn't clear enough (I actually came across this bug because a co-worker of asked for my help to solve it).

I made a new push. Let's discuss it there

[2020-01-19 22:26] vfdev-5 commented on #706
Okay, I see. Well, let's try to fix this behaviour :)

Could you please make a separate PR for this. Thanks

[2020-01-20 16:58] wangyirui opened #708 "Using progress bar for both training and validation"
Hi, I am trying to show the progress bar for both the training and validation process, but the examples only demonstrate how to use pbar for the trainer.

If I directly attach both the trainer and the evaluator to the pbar, then the total number of iterations in the validation process becomes incorrect (still the number of training iteration).

So I am wondering how to use it for both trainer and

[2020-01-20 17:02] vfdev-5 commented on #708
@wangyirui please take a look at [this example](https://github.com/pytorch/ignite/blob/master/examples/references/classification/imagenet):

we can setup 3 progress bars: for the trainer, for train_evaluator (validation on train subset) and evaluator (validation on test dataset):

https://github.com/pytorch/ignite/blob/5b1bcd3df3e16812a1c15543973ed8c520d97420/examples/references/classification/ima

[2020-01-20 18:50] wangyirui commented on #708
Thanks for your quick reply!!!!  I will go through these examples.

[2020-01-20 22:44] nbcmguarin0 opened #709 "ignite/examples/mnist/mnist.py throwing error out of the box just fyi"
Traceback (most recent call last):
  File "ignite_tester.py", line 118, in <module>
    run(args.batch_size, args.val_batch_size, args.epochs, args.lr, args.momentum, args.log_interval)
  File "ignite_tester.py", line 68, in run
    @trainer.on(Events.ITERATION_COMPLETED(every=log_interval))
TypeError: 'Events' object is not callable

[2020-01-20 22:46] vfdev-5 commented on #709
Duplicate of https://github.com/pytorch/ignite/issues/687

[2020-01-20 22:46] #709 closed

[2020-01-21 00:18] vfdev-5 opened #710 "Handler Events as flags"
Idea is to provide the following flexibility:
[code]
such that `execute_some_handler` is triggered at the first iteration and at 10th, 20th, ...etc and in the end of the training.

[2020-01-21 21:14] #368 closed

[2020-01-21 21:17] #202 closed

[2020-01-21 21:18] vfdev-5 commented on #202
Closed the issue as we provided most of discussed examples

[2020-01-22 12:13] vfdev-5 commented on #693
@JaneEyreliu I close it as stale. Feel free to reopen if needed

[2020-01-22 12:13] #693 closed

[2020-01-22 12:14] vfdev-5 commented on #547
@jayleverett I close this isssue as stale. Feel free to reopen if needed

[2020-01-22 12:14] #547 closed

[2020-01-22 13:25] samedii commented on #618
Are there plans for a non-hack solution?

[2020-01-22 13:32] samedii commented on #618
Note that this hack also works:

`trainer.run(map(lambda x: x, train_data_loader), max_epochs=1, epoch_length=2)`

[2020-01-22 13:34] vfdev-5 commented on #618
@samedii recently refactored engine now can allow to work with iterators and `epoch_length` can control epoch size if `__len__` is not available.

[2020-01-22 13:55] vfdev-5 opened #714 "Issue with DataLoader with _dataset_kind = Iterable"
The following code wont work:
[code]
and gives the error
[code]

Patching it like [here](https://github.com/pytorch/ignite/issues/618#issuecomment-577183132) can be a workaround:
[code]

[2020-01-22 14:12] samedii commented on #618
@vfdev-5  Great! I started on a PR but then saw that you already started making changes. I see that `epoch_length` is not used in `_from_iteration`. I think that would solve the last issues.

I started with a check `isinstance(self.state.dataloader.dataset, torch.utils.data.IterableDataset)` earlier but it failed later because it's still trying to look for the `__len__` attribute in those function

[2020-01-22 14:18] vfdev-5 commented on #618
@samedii yes, there are two places where the code made an implicit guess on Map type of the dataset inside the dataloader:
- when we replace batch_sampler by a index reproducible batch sampler
- when we setup the data from the starting iteration

Could like tell me the use-case where such structure are helpful, I mean DataLoader on IterableDataset ? Maybe it could be good to check more such cases

[2020-01-22 14:37] #714 closed

[2020-01-22 14:39] samedii commented on #618
@vfdev-5 Sure! Our use case is when we have multiple datasets that we want to merge in some manner.

This can be because we want to create balanced batches of different classes or data sources.

E.g. an advanced example:
- One sample from each class
- Samples might be split third-third-third between data source A, data source B and semi-supervised

It is very nice then to be able to define a sampl

[2020-01-22 14:47] vfdev-5 commented on #618
@samedii thanks for details ! Yes, I see. That's true that a specific sampler in the data loader wont be simple to setup while working with for multiple sources... (May be tricky, a naive solution can be also to concat all sources into a single dataset and than define weights per class and per source indices...)

Can you provide a link for tensorflow where they have done this thing ? Thanks

[2020-01-22 15:22] samedii commented on #618
Here are some links and examples of how they might be used. I might merge a normal dataset with a mixup dataset with the functions below:

https://www.tensorflow.org/api_docs/python/tf/data/Dataset#prefetch
https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_generator
https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shuffle

[code]

https://www.tensorflow.org/api_docs/python/

[2020-01-22 15:31] vfdev-5 commented on #618
@samedii thanks

[2020-01-23 19:53] vfdev-5 opened #717 "Refactor engine.py"
Idea is to refactor engine.py into several files:
- engine.py
- events.py
- ...

cc @justusschock

[2020-01-24 05:33] justusschock commented on #700
Question : why do we need this? Can't we wrap all sources by a single dataset, that returns a dict?

[2020-01-24 06:42] justusschock opened #718 "Remove Python2 specific code"
Since we don't support Python 2.7 any longer, we should also remove the code that was only necessary due to Python 2.7
 (as mentioned in #716 )

[2020-01-24 06:45] justusschock opened #719 "Dynamic Typing"
Sometimes there are types assumed and hardcoded, where it is not necessary.

For example there is [this part](https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L971) where we should infer the previous type of the data loader and re-use this.
Other examples include type specific operations. E.g. we often check for mappings in general but then we only create dicts after doing som

[2020-01-24 06:48] justusschock opened #720 "Clearer separation of core and contrib"
currently we always refer to the core and the contrib package, without the existence of a real core package (we mean `ignite.engine`, `ignite.handlers` and `ignite.metrics` if we refer to `core`). I would propose one of two things:
1.) Either create a new repo for the contrib stuff to have a clearer separation
2.) Create a real `ignite.core` which will contain the above mentioned packages.

What d

[2020-01-24 06:51] justusschock opened #721 "Automated Versioning"
I would like to have something as [this versioner](https://github.com/warner/python-versioneer) included, which infers the version based on the latest git tags (and automatically fixes them for binaries). This has two main advantages:

1.) We don't have to manually bump the version and it is not hardcoded
2.) We have a unique version for each commit.

Thoughts @vfdev-5 ?

[2020-01-24 07:57] justusschock opened #725 "__all__ for each source file"
I want to add the `__all__` attribute to each source file in the core package, which defines, what should be imported by `*` (e.g `from ignite.metrics import *`). Per default this are all objects whose name is not starting with '_'. But this includes all imports from other files and packages, which is not desired.

[2020-01-24 09:14] vfdev-5 commented on #700
@justusschock yes we can wrap them but it would take more headache to setup such dataset of datasets. For example, we have 2 datasets for different sizes: supervised_dataset (1k samples) and  unsupervised_dataset (50k samples). It would be rather obvious, IMO, to run engine like
[code]

Another use-case can be a image-to-image gans.

What do you think ?

[2020-01-24 09:18] #718 closed

[2020-01-24 09:42] vfdev-5 commented on #720
@justusschock here I'm not sure about that.
It seems to me having contrib in the library is rather common practice: e.g. pytorch (no public classes there), tf, ... So introducing another module `core`, IMO is a but redundant.
Spliting line between "core" functionalities and "contrib" is in:
- contrib can bring other dependencies
- contrib can contain experimental functionalities
- contrib API can

[2020-01-24 09:46] vfdev-5 commented on #725
Well, we can add this and define manually `__all__` for each file.
Personnally, I prefer not to use `from module import *` because we are not then sure where come from a class or method.

[2020-01-24 09:49] justusschock commented on #725
I know, I don't like this as well, but many users do this nevertheless and adding that is not much effort for us.

[2020-01-24 09:50] vfdev-5 commented on #725
Okay, I'm not against this so let's add this :)

[2020-01-24 09:52] justusschock commented on #700
I agree that this might be good to have, but I would not add this feature to the general engine, but maybe derive a subclass for this. Maybe we can reintegrate this later, if we see, this is not to much effort, but I think this will complicate many things.

[2020-01-24 09:55] vfdev-5 commented on #700
I see, let's wait a bit with this one. Until 0.4.0 we have a lot of space for intermediate releases

[2020-01-24 09:57] justusschock commented on #720
I agree. And that's why I would actually prefer this to be a separate repository.

But if you don't like that, it's also fine for me. Just a suggestion :)

[2020-01-24 09:59] vfdev-5 commented on #721
Idea maybe nice. I have two questions:
- do we need additional dependency for the library to make it work ?
- with ~650 stars on github it seems not to be widely adopted, do you know whether some big libraries use this for versionning ?

[2020-01-24 10:01] vfdev-5 commented on #720
Let's keep in mind this possibility :)

[2020-01-24 10:05] justusschock commented on #721
Regarding the first point: We don't need any new dependencies for that, we just have to set it up once and this will add a few additional files to the repo.
The biggest project using this is the [python extension for vs code from microsoft](https://github.com/microsoft/vscode-python).

[2020-01-24 10:05] justusschock commented on #720
So I'll close this for now.

[2020-01-24 10:05] #720 closed

[2020-01-24 10:30] vfdev-5 commented on #721
I need to play around it from my side...

[2020-01-24 10:47] vfdev-5 commented on #706
@justusschock what do you think about this ?

[2020-01-24 10:54] vfdev-5 opened #728 "Helpers args for event filtering"
Sometimes I would like to execute some handlers since or before an iteration/epoch. Idea is to add built-in arguments like `after` and `before` to callable events. Example API
[code]

[2020-01-24 10:58] justusschock commented on #706
I think this is a general question. We should decide, whether we want priorities/sorting of handlers or not (but definitely not support both versions).

If we implement it, it should always be used, but this may also introduce unwanted behaviour if some handlers are for example added by an internal function with a different priority, this may also confuse the user, since he might expect some other

[2020-01-24 12:04] justusschock commented on #728
Isn't that somehow similar to #710 ?

Maybe one could just pass a function there, which takes in the current epoch and returns a Boolean indicating, whether the handler should be executed?

Something like:

[code]

[2020-01-24 14:25] vfdev-5 commented on #728
Yes, a solution like that could work
[code]

Well I agree, that it could be than misleading how to use both etc. Let's close this.

[2020-01-24 14:25] #728 closed

[2020-01-24 14:29] #725 closed

[2020-01-24 14:55] #719 closed

[2020-01-24 15:46] #717 closed

[2020-01-27 09:50] vfdev-5 opened #732 "Remove from __future__ import print_function from all examples"
We need to remove `from __future__ import print_function` from all examples, as it was forgotten while dropping python 2.7 support.

[2020-01-27 10:58] Joxis opened #733 "Checkpoint filename not using absolute score value"
The [Checkpoint documentation](https://pytorch.org/ignite/handlers.html?highlight=checkpoint#ignite.handlers.Checkpoint) mentions the use of the absolute value of the score in the filename.

However, it seems the score (priority) is not used as an absolute value:
https://github.com/pytorch/ignite/blob/a1cae3148a92ddc82bfb1412859e04d4b51f0f25/ignite/handlers/checkpoint.py#L186

The `abs` call was r

[2020-01-27 11:02] vfdev-5 commented on #733
@Joxis thanks for the catch! Yes, previously, we wanted to store only positive score values. In #679 I thought that we however can also store negative value in the filename. So, we need just to fix the documentation.

If you would like to contribute to the library and make it better, please feel free to send a PR with docs fix. Thanks !

[2020-01-27 11:21] Joxis commented on #733
@vfdev-5 I will submit the docs fix PR.

I think it would be a nice feature to allow custom formatting of the score value in the filename. Currently I have lengthy filenames with negative loss values with over 15 decimal places. A possibility is to add an extra 'score_format' argument to the Checkpoint class. This argument would expect a function taking the score values as input and returning the

[2020-01-27 11:29] vfdev-5 commented on #733
@Joxis thanks !

Well, I'm hesitating to introduce another argument for that. If we hardcode the format to `{:.4f}` or `{:.5f}` maybe this could be OK for everyone ? IMO, this is only an indicator to avoid looking at the dashboard where validation score is presented...
What do you think ?

[2020-01-27 11:35] Joxis commented on #733
@vfdev-5 I agree that hard-coding the decimal places would be fine. I previously hesitated that some users would require more precision but as you said, the filename only serves as an indication.

[2020-01-27 15:32] wangyirui opened #735 "RuntimeWarning: Only one class present in y_true. ROC AUC score is not defined in that case.."
Hi, I am using ROC_AUC metric to track the training performance. However, this warning frequently appears:

It seems the ROC_AUC compute_fn will be called every time we update the (y, y_pred) accumulator. In my scenario, it's possible that one batch only contains negative samples (unbalanced classes). So this warning may be annoying.

Is there any way to disable this warning? Or whether it's bette

[2020-01-27 15:53] vfdev-5 commented on #735
@wangyirui I see your problem and agree that such warnings can be annoying.
Normally, such warning you should see once at the first update only. Idea of this sanity check is to avoid some exceptions raised (some typos, bugs) after iterating over complete epoch which can take time.

What can we do from your side is to replace that `RuntimeWarning` warning by a specific warning `EpochMetricWarning`

[2020-01-27 15:56] wangyirui commented on #735
@vfdev-5 Thanks for your suggestion! I will do so from my end.

Is it possible to change the behavior officially in the next version? Thanks!

[2020-01-27 15:58] vfdev-5 commented on #735
Yes, I can do this rather quickly. And it can be available in next nightly releases.

[2020-01-27 15:59] wangyirui commented on #735
@vfdev-5 Appreciate it!

[2020-01-27 16:11] #733 closed

[2020-01-27 17:15] #735 closed

[2020-01-27 19:44] #651 closed

[2020-01-27 23:40] akandadai opened #737 "Make optimizer available for access in engine"
I think it would be nice to have access to the optimizer through the ignite.engine.Engine class for more customization.
For example if I wanted to tune momentum while training I could do the following:
[code]
Currently this is not possible because optimizer is local to the `_update()` function used to initialize `ignite.engine.Engine`

This would also open the door to supporting logging of gradien

[2020-01-27 23:51] vfdev-5 commented on #737
@akandadai this is possible by setting the optimizer to the state like that:

[code]
or simply passing optimizer as a param to the handler:
[code]

[2020-01-27 23:53] vfdev-5 commented on #737
This is already done with tensorboard/visdom/etc loggers:
- https://pytorch.org/ignite/contrib/handlers.html#ignite.contrib.handlers.tensorboard_logger.WeightsScalarHandler
- https://pytorch.org/ignite/contrib/handlers.html#ignite.contrib.handlers.tensorboard_logger.GradsScalarHandler

[2020-01-27 23:55] akandadai commented on #737
Awesome! You guys were really thorough

[2020-01-27 23:55] #737 closed

[2020-01-28 09:40] justusschock commented on #710
what we could most likely implement way easier is to provide something like
[code]
where each argument given there is concatenated with `|`

[2020-01-28 09:58] justusschock commented on #700
How should the resulting batches look there?

if you provide something like `trainer.run({"supervised": sup_dataloader, "unsupervised": unsup_dataloader}, max_epochs=10, epoch_length=len(sup_dataloader))`
will you get something like
[code]

That way you have much more control regarding your sampling (this may even be dependent between both datasets) and all the other stuff. We can provide such a t

[2020-01-28 10:04] #732 closed

[2020-01-28 10:09] vfdev-5 commented on #710
@justusschock here is a subtle detail is that the signature of
[code]
so, `Events.ITERATION_STARTED(once=1), Events.ITERATION_STARTED(every=10) , Events.COMPLETED` means `<Event>=Events.ITERATION_STARTED(once=1)` and others are `*args`...

[2020-01-28 10:14] justusschock commented on #623
I think using `dill` here would be a good idea, since this would be only optional and is a rather lightweight dependency.

On the other hand I really don't like introducing plasma here. There are a couple of reasons for that:
If you really do it in a distributed manner that you are on different workstations, there is no other option than passing around data in some way. From my point of view, this

[2020-01-28 10:23] justusschock commented on #710
Exactly, that's why we would just have to introduce additional checks there, which will wrap them to a function, but this is way easier to implement than having them connected by the user as a boolean via `|`. Because currently I see no way to implement flagging behaviour without having to previously evaluate them for each possible event value.

If you're okay on separating them with ',' instead o

[2020-01-28 17:53] achigeor opened #741 "Engine's save and load state_dict don't use the full state"
I have a question regarding the Engine's state and more specifically the engine's metrics.

When using `ModelCheckpoint()` to save an `Engine()` object, it only saves (according to docs):
* Iteration / epoch
* max_epochs
* epoch_length
* seed

This omits the metrics (if any). Accordingly, when loading an Engine's state, metrics are hardcoded as an empty dictionary https://github.com/pytorch/ignite

[2020-01-28 22:26] vfdev-5 commented on #741
@achigeor idea is to save only necessary thing to resume the training part only handled by the Engine. Metrics can be recomputed and anyway we do not store the history of them in `engine.state`.

For example, when we train a network on MNIST (https://github.com/pytorch/ignite/tree/master/examples/mnist#training-save--resume) and the training is stopped (e.g. due to an exception) in the middle. Log

[2020-01-28 22:27] vfdev-5 commented on #708
@wangyirui can we close the issue as answered ?

[2020-01-28 22:28] wangyirui commented on #708
@vfdev-5 Sure. It works good now. Thanks!

[2020-01-28 22:28] #708 closed

[2020-01-29 16:55] Stannislav opened #746 "Bug in example code on front page"
In the example code in the `README.md` file the statement `model.train()` is outside of the training loop. The function `validate(...)` calls `model.eval()` and the model ends up in eval mode for the rest of the training.

**How it should be:** either put `model.train()` inside the training loop or let `validate(...)` remember and restore the model state.

[2020-01-29 17:06] CDitzel opened #747 "correct the type hints of this function"
https://github.com/pytorch/ignite/blob/ca738d8f3f106093aa04b6bce9506129a1059df8/ignite/engine/events.py#L81

this really should read

`    def wrapper(engine, event: int) -> bool:`

[2020-01-29 17:06] vfdev-5 commented on #746
@Stannislav yes, you are right about that. We need to fix this.

[2020-01-29 17:07] vfdev-5 commented on #747
@CDitzel Thanks for the feedback!
@justusschock could you please take a look on that.

[2020-01-29 17:39] #746 closed

[2020-01-29 23:10] kilianbreathnach opened #749 "Misleading warning when exiting iteration while loop"
I get the following warning in each epoch

[code]

Looking into it, I see that the exception handler on [#L416](https://github.com/pytorch/ignite/blob/d56eacf7ee9efc05dce7762638282741f66801f9/ignite/engine/engine.py#L416) for `StopIteration`, upon reaching the end of the data loader, sets `should_exit = True`. Then, on the next attempt to iterate, it goes through the `except` block again and it ch

[2020-01-30 01:03] vfdev-5 commented on #749
@kilianbreathnach could you please share some details on your data iterator and how are you using it for the training ?

Assumptions made in `Engine` when working with iterators is that they provide data until `StopIteration` and this should ("normally"?) correspond `epoch_length * max_epochs` iterations. Once iterator stops and raises `StopIteration` as we can not restart it, the training should

[2020-01-30 07:27] justusschock commented on #747
Yep, that's right. I'll fix that

[2020-01-30 10:21] vfdev-5 opened #750 "Checkpoint and ModelCheckpoint automatically saves base model for DDP wrapper"
Idea is to avoid saving [DDP wrapped](https://pytorch.org/docs/stable/nn.html#torch.nn.parallel.DistributedDataParallel) model with `Checkpoint`/`ModelCheckpoint` classes and save instead its base model. Such that state dictionary wont contain prefix `module.` in the keys.

[2020-01-30 12:27] vfdev-5 opened #752 "Regression introduced with typing"
A regression is introduced with https://github.com/pytorch/ignite/pull/716
such that import of the package raises an exception for python<3.7
[code]

cc @justusschock

[2020-01-30 12:31] vfdev-5 opened #753 "Setup github CI for python 3.5 and 3.6"
Idea is to setup and run unit tests only with Github CI (.github/workflows/pythonapp.yml) for python 3.5 and 3.6 as they were removed from travis recently.

An example project using Github CI: [here](https://github.com/Project-MONAI/MONAI/blob/master/.github/workflows/pythonapp.yml).

[2020-01-30 14:22] kilianbreathnach commented on #749
I am using the `DALIGenericIterator` from the [NVIDIA/DALI](https://github.com/NVIDIA/DALI/blob/663a4d55729f42a9504c138147f480ebf990f007/dali/python/nvidia/dali/plugin/pytorch.py#L59) package.

Shouldn't `StopIteration` occur at the end of each epoch? It happens inside the `_run_once_on_dataset` method, which is called inside a loop over epochs in the `_internal_run` method:

[code]

Checking for

[2020-01-30 14:32] vfdev-5 commented on #749
Thanks for the details. Do you use `auto_reset=True` or call `data_iterator.reset()` ?

I think in your case we need to specify `auto_reset=True` or call by your self with (need to check this)
[code]
I assume that in this case, the iterator wont finish after a single epoch and can continue the number of epochs needed.

PS: We can later provide an example of using Nvidia/DALI.

[2020-01-30 14:35] #752 closed

[2020-01-30 15:18] #662 closed

[2020-01-30 15:44] #747 closed

[2020-01-30 16:01] kilianbreathnach commented on #749
Yes, I ,manually call `.reset()` using a function defined to run on `EPOCH_COMPLETED`, as I mentioned in the original issue. I see now that if I were to use the `auto_reset` option, then the iterator would reset on [#L436](https://github.com/pytorch/ignite/blob/d56eacf7ee9efc05dce7762638282741f66801f9/ignite/engine/engine.py#L436) and the loop would continue. However, the manual reset will not hap

[2020-01-30 16:02] #749 closed

[2020-01-30 16:17] vfdev-5 commented on #749
Ok I see the problem. Thanks for the feedback!

[2020-01-31 09:00] vfdev-5 opened #756 "Improve filename produced by Checkpoint when score value is Integer"
Following the comment: https://github.com/pytorch/ignite/pull/745#issuecomment-580632176

cc @Nic-Ma

[2020-01-31 09:01] vfdev-5 opened #757 "Incompatibility with Python 3.5"
Following the comment: https://github.com/pytorch/ignite/pull/745#issuecomment-580553663

[2020-01-31 09:22] vfdev-5 commented on #757
@Nic-Ma could you please provide a bit more details on how to reproduce the issue.

From my side, I do the following checking and can not reproduce the issue:
[code]

[2020-01-31 10:42] #756 closed

[2020-02-02 07:44] beyondyoni commented on #706
I think the current design implicitly supports priorities, and is, therefore, a source for (potential) confusion, so I'm glad to see you're leaning towards changing that.

If I understand correctly, your implementation approach requires introducing a new Handler class right? I think it's a good idea, as it will also improve areas in the code such as the following:
[code]

[2020-02-02 14:24] justusschock commented on #706
Yes it requires a new handler class but also some code that allows all current handler implementations to continue working by providing good defaults and wrapping possibilities

[2020-02-03 16:37] CDitzel opened #763 "progress bar output seems to be off"
Soi I am using the Progressbar from the contrib module for indicating progress in the training loop. Currently the batch size is 1 for an exemplary dataset of 16 samples.

But for some reason the progressbar seems to skip the first step and I am not sure if this is due to an issue related to my dataloading or simply a displaying problem.

iter counter 0
Epoch [1/500]: [0/8]   0%|

[2020-02-03 16:52] vfdev-5 commented on #763
@CDitzel I would say this is a visualization issue with our progressbar. I was able to reproduce the output:
[code]

Value of `engine.state.iteration` starts from 1. Progressbar should be sync with iteration on update, but obviously not in the begining. That's why we see: `0, 2, 3, 4, ...`
We can fix this, I think. Thanks for the catch!

[2020-02-04 09:23] #589 closed

[2020-02-04 10:13] vfdev-5 commented on #753
Done by #762

[2020-02-04 10:13] #753 closed

[2020-02-04 11:21] CDitzel commented on #763
thank you for attending to this matter so quickly. Will you do the change and merge request then?

[2020-02-04 11:23] vfdev-5 commented on #763
@CDitzel if you would like to send a PR with this quick change, we are very welcome :) We have https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md guide to help out.

Otherwise @ykumards can fix it

[2020-02-04 16:20] CDitzel opened #764 "whats the most idiomatic way to track the best validation accuracy and then fire events"
Following the common pattern
[code]
an evaluator is instantiated once but its run method is called for one epoch every time the trainer has completed an epoch and the evaluator.state gets reset after every epoch.

What is the idiomatic way to fire a custom Event in case the current evaluation accuracy surpasses all evaluation accuracies before?

I need keep state of evaluators best accuracy across

[2020-02-04 17:05] fran6co commented on #330
@vfdev-5 why was this marked as wont fix?

[2020-02-04 20:36] bernardomig opened #765 "Accuracy with no ignore_index"
I think it would be nice to have an `ignore_index` parameter on the accuracy metric. I know it is possible to do with the `output_transform` parameter, but it is so common (for example, in semantic segmentation), that it should be there.
Any thoughts on this?

[2020-02-05 07:00] CDitzel commented on #763
I will take a look at the weekend

[2020-02-05 16:28] vfdev-5 commented on #764
Maybe like this
- attach a handler to trainer to compute accuracy after each epoch (we still need this)
- attach a handler to evaluator to store best value in `trainer.state`. State according to our docs is intended to store any user data: https://pytorch.org/ignite/concepts.html#state
  - and call custom method "in case the current evaluation accuracy surpasses all evaluation accuracies before"
[

[2020-02-05 16:29] vfdev-5 commented on #330
@fran6co maskrcnn-benchmark, IMO, is an intermediate state to detectron2 and detection models in torchvision. I think it would be better to workout detectron2 code instead of maskrcnn-benchmark.

[2020-02-05 16:31] fran6co commented on #330
ah, I thought this was a catch all issue for mask rcnn

[2020-02-05 16:35] vfdev-5 commented on #765
@bernardomig for semantic segmentation we suggest to compute [confusion matrix](https://pytorch.org/ignite/metrics.html#ignite.metrics.ConfusionMatrix) and then compute accuracy with [this function](https://github.com/pytorch/ignite/blob/master/ignite/metrics/confusion_matrix.py#L205). To remove undesired index is possible with metrics arithmetics:
https://pytorch.org/ignite/metrics.html#metric-ar

[2020-02-06 08:01] CDitzel commented on #764
thank you for your detailed reply. I appreciate it. Thats one solution I came up with.
Another ist, that I wrote a custom class and after overloading its call operator, attached it to the event epoch.completed of the evaluator that keeps state and does all the work.

[2020-02-06 10:45] mi-lad opened #767 "log_message() method fails `desc` is passed to contrib tqdm"
## 🐛 Bug description

If I pass a `desc` argument when instantiating a `ignite.contrib.handlers.ProgressBar` the calls to its `log_message()` method fail with this exception:

[code]

## Environment

 - PyTorch Version: 1.3.1
 - Ignite Version: 0.3.0
 - OS: Linux
 - How you installed Ignite (`conda`, `pip`, source): Conda
 - Python version: 3.7
 - Any other relevant information:

[2020-02-06 16:11] vfdev-5 commented on #767
@mi-lad could you please provide installed tqdm version ?
@maxfrei750 could you please take a look at this issue ? thanks

[2020-02-06 16:13] mi-lad commented on #767
tqdm version: 4.36.1

[2020-02-06 16:26] maxfrei750 commented on #767
The reason for the error is, that not all optional arguments of tqdm are valid for the write method as well. I'm going to write a fix and make a PR.

[2020-02-06 23:29] vfdev-5 commented on #764
Yes, definitely

[2020-02-07 10:23] bernardomig commented on #765
Ah ok. Yeah, that makes sense. Thank you.

[2020-02-07 10:23] #765 closed

[2020-02-07 15:45] Nic-Ma opened #770 "why change checkpoint dict to value if only 1 item?"
## 🐛 Bug description
We found there is a logic in checkpoint handler that change the dict to value if only has 1 item.
This logic makes it's hard to restore model with unified load API(_using 'to_load' dict_).
Why did ignite design this logic?

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): 0.3.0
 - OS (e.g., Linux): ubuntu
 - How you installed Ignite (`conda`

[2020-02-07 18:38] vfdev-5 commented on #770
@Nic-Ma the logic is the following:
if user stores a single object in the dictionary `to_save={'model': model}`, then stored filename is `model_XYZ.pth`, where `model` is the key of the single object in `to_save`. If `to_save` contains more objects `{'model': model, 'optimizer': optimizer, ...}`, then filename is `checkpoint_XYZ.pth`.

Why it is like that ? In most of the cases, if user stores `mo

[2020-02-07 19:31] vfdev-5 commented on #757
@Nic-Ma could you please confirm that you still experience this issue ?

[2020-02-08 01:55] Nic-Ma commented on #770
Hi @vfdev-5 ,

Sorry maybe I didn't make the issue clear enough.
The problem is not the filename, it's about this line in CheckpointHandler:
[code]
It change the **dict** object to **value** if only 1 item existing.
And if use **to_save={'network': net}** to save and **use to_load={'network': net}** to load, it will fail.
Because it didn't save a dict with key "network" if only has this 1 item.
Bu

[2020-02-08 01:58] Nic-Ma commented on #757
Hi @vfdev-5 ,

We already updated all our environments to latest NVIDIA docker which uses Python 3.6.
Didn't see this issue anymore.
And according to my google check, it's related to typing.py in 3.5 which is not compatible with 3.6.
Thanks.

[2020-02-08 09:18] vfdev-5 commented on #757
Well, can we close the issue? I could not reproduce the issue and it is solved for you also.

[2020-02-08 09:29] vfdev-5 commented on #770
@Nic-Ma thanks for the details. I understand better the problem. IMO, when saving a single object as dictionary seems a bit superficial. But I see your problem with loading method. Let me see if we can improve loading method to cover this case.

[2020-02-08 10:21] Nic-Ma commented on #770
@vfdev-5 , Yes, we use your loader.

[2020-02-08 10:29] Nic-Ma commented on #757
Yes, please close.
Thanks.

[2020-02-08 15:35] #757 closed

[2020-02-09 23:32] vfdev-5 commented on #764
@CDitzel I close this issue as answered. Feel free to reopen if needed

[2020-02-09 23:32] #764 closed

[2020-02-09 23:33] vfdev-5 commented on #741
@achigeor I close the issue as answered, please feel free to reopen if more support needed on this topic.

[2020-02-09 23:33] #741 closed

[2020-02-10 10:48] vfdev-5 commented on #763
Hey @CDitzel will you have time to send a PR with a fix for this issue ?

[2020-02-11 09:48] vfdev-5 opened #774 "Setup GPU CI"
## 🚀 Feature

Setup GPU CI following pytorch/vision as example :  https://github.com/pytorch/vision/tree/master/.circleci

We would like run unit tests marked with GPU and, optionally, run the smoke tests:

https://github.com/pytorch/ignite/blob/0e97cb289f64de9679a04f18969c6e761aa146b0/.travis.yml#L43

https://github.com/pytorch/ignite/blob/0e97cb289f64de9679a04f18969c6e761aa146b0/.travis.yml#L78-

[2020-02-11 10:04] CDitzel commented on #763
I see that it is already well underway

[2020-02-11 10:11] CDitzel opened #775 "Required input to confusion matrix"
I understand that the input to the confusion matrix metric has to be in the shape of

batch_size x num_classes, e.g. for a binary classification problem

[code]
Also the target is to expected to be of int type rather than float due to the use of torch.bincount.

I am wondering, if it would make sense to change the API so that input of the shape batch_size suffices, i.e.

[code]

Also a more consis

[2020-02-11 10:24] vfdev-5 commented on #775
@CDitzel is your question is about to remove `argmax` or make it optional ?

Maybe, we should also keep in mind that CM can be also used for semantic segmentation where `y_pred.shape=(N, C, H, W)` and `y.shape=(N, H, W)`.

Well, this is necessary for binary and multilabel cases and holds for Accuracy, Precision, Recall metrics.

If you have an idea how to make it more lean, I'm happy to discuss mo

[2020-02-11 12:10] CDitzel commented on #775
I specifically mean this line

https://github.com/pytorch/ignite/blob/0e97cb289f64de9679a04f18969c6e761aa146b0/ignite/metrics/confusion_matrix.py#L74

why do we force users to have multi dimensional prediction tensors?

[2020-02-11 12:39] vfdev-5 commented on #775
@CDitzel Okay, I see you would like to cover binary case. Maybe we can do something with it.

Concerning your code with `transform`, there is firstly an assumption about the output to be probabilities (not logits) and, anyway, this can be made a single line like this:
[code]

[2020-02-11 12:44] CDitzel commented on #775
mh so my issue is literally based on my ignorance of the Ignite lib and the Deep Learning Matter as a whole, Embarrassing. Thank you Sir

[2020-02-11 12:49] vfdev-5 opened #777 "Update .travis.yml"
## 🚀 Feature

According to travis, there are several warnings in the current .travis.yml configuration: https://travis-ci.org/pytorch/ignite/jobs/648860097/config?utm_medium=notification&utm_source=github_status
[code]

We need to improve this.

[2020-02-11 12:53] vfdev-5 commented on #775
No problems :) Feel free to close the issue if it answers your question. Thanks

[2020-02-11 13:02] #775 closed

[2020-02-11 21:22] #763 closed

[2020-02-11 21:57] #770 closed

[2020-02-11 22:33] fdlm opened #778 "Conda package not available for Python 3.8"
The release notes indicate that ignite 0.3 supports Python 3.8. However, there is no ignite 0.3 package for Python 3.8 available in the conda pytorch channel:

[code]

## Environment

 - OS (e.g., Linux): Linux
 - Python version: 3.8
 - Any other relevant information: looks like the conda recipe does not list Python 3.8

[2020-02-11 22:39] vfdev-5 commented on #778
@fdlm thanks for this feedback :)
Well, the release note does not clearly indicate that we deliver python 3.8 binary package and at the release moment there were no releases of pytorch for 3.8.
However, I agree that we can now include it to our nightly releases and stable ones.
Now, you can install ignite from pypi for 3.8 as it is a universal package, most probably, it should work.

[2020-02-11 22:49] #767 closed

[2020-02-12 00:34] Nic-Ma commented on #770
Hi @vfdev-5 ,

I checked your patch, I think it will fail for below case:
1. Save network, optimizer, engine during training.
2. Only load network for inference(length of to_load is 1).
Right?
Thanks.

[2020-02-12 00:49] vfdev-5 commented on #770
Hi @Nic-Ma

this case is covered too:
https://github.com/pytorch/ignite/blob/9973377c8dcc10f0745238dd6ccc69a8478428e1/ignite/handlers/checkpoint.py#L245-L250
method `to_load` loads directly state_dict if key (like "model") is not found in the checkpoint. Otherwise, it falls down into previous behaviour.

In your workflow "save checkpoints and load the last checkpoint" do you save the best model ?

[2020-02-12 01:00] Nic-Ma commented on #770
Hi @vfdev-5 ,

1. OK, got it.
2. to save model with engine together, then we can know the best model epoch, etc. when do evaluation.
Thanks.

[2020-02-12 07:49] vfdev-5 commented on #770
@Nic-Ma, I see. Another way to save trainers epoch can be done in the filename too.

[2020-02-12 08:09] Nic-Ma commented on #770
Hi @vfdev-5 ,

Can I save a filename with 2 dynamic items? Like:

'_checkpoint_best_metric=**0.9845**\_epoch=**23**.pth_'

Thanks.

[2020-02-12 08:15] vfdev-5 commented on #770
@Nic-Ma please take a look at the last example of https://pytorch.org/ignite/handlers.html#ignite.handlers.Checkpoint
[code]

[2020-02-12 10:30] Nic-Ma commented on #770
Hi @vfdev-5 ,

Thanks for your tips.
I checked the example but not quite understand where to get the epoch number in your example:
best_model_**9**_val_acc=0.77.pth
I think the score function can only support "val_acc=0.77" in the example.
Thanks.

[2020-02-12 10:41] vfdev-5 commented on #770
Hi @Nic-Ma , here is a complete example
[code]
[code]

To make epoch appear, you need to set `global_step_transform=global_step_from_engine(trainer)`.

[2020-02-12 11:12] Nic-Ma commented on #770
Hi @vfdev-5 ,

Oh, I see.
Thanks for your detailed example.
It's very implicit to get the epoch number in the evaluator.
In my practice, I tried to set trainer's **state.epoch** to evaluator's **state.epoch**,
and set evaluator's **state.max_epoch = state.epoch + 1**.
Because it's needed **not only** in Checkpoint handler but also in my Stats handler, etc.
Anyway, thanks for your sharing.

[2020-02-12 16:42] CDitzel commented on #764
one more question, coming from other languages like C++ etc., why would I ever need to have engine or trainer as parameter to the handler function instead of _ like you did above, when the trainer is in scope anyways?

[2020-02-12 16:49] vfdev-5 commented on #764
@CDitzel you can imagine that those handlers can be defined in a separate module where trainer/evaluator are not in the scope. Refactoring can make the code more clear after all.

[2020-02-14 08:29] CDitzel commented on #764
thank you

[2020-02-14 13:49] #778 closed

[2020-02-14 15:15] remisphere opened #782 "tqdm_logger does not take epoch_length into account"
## 🐛 `tqdm_logger` does not take `epoch_length` into account

When calling `Engine.run()` with a custom `epoch_length`,
the tqdm progress bar does not adapt and displays the full number of batches in the data.
Here is a minimal example:
[code]
We have 100 items in `data` but the true end of the epoch is at 50 iterations, yet the progress is displayed over the range of 100 and just ends midway, whe

[2020-02-14 15:23] vfdev-5 commented on #782
@remisphere thanks for the feedback! We need to fix it here:
https://github.com/pytorch/ignite/blob/0f97baff7f718f2917421774e2daf7819561c047/ignite/contrib/handlers/tqdm_logger.py#L220-L221
as
[code]

[2020-02-14 17:01] vfdev-5 opened #784 "Improve Frequency"
## 🚀 Feature

If we would like to log datapoints/second every 100 iterations, we most probably do like this
[code]
however, seems like this wont take into account all other iterations while computing the total number of tokens.
[code]
IMO, should be
[code]

cc @erip

[2020-02-15 21:34] #782 closed

[2020-02-17 13:52] Nic-Ma opened #786 "How to enable "determinism" or "reproducible" training?"
## ❓ Questions/Help/Support
Hi @vfdev-5 ,

1. We are trying to set random seeds for numpy, random and PyTorch, but I found you have logic to control them in ignite. Are they enough to make sure determinism training? How to enable and disable?
2. Should we use only 1 worker for PyTorch DataLoader?
3. Should we set "torch.backends.cudnn.benchmark=False"?

Thanks.

[2020-02-17 14:42] vfdev-5 commented on #786
Hi @Nic-Ma ,

I think it depends on what kind of determinism you wish to achieve...
I think complete reproducibility up to 1e-10 tolerance on metrics and final model weights for every run can be tricky without any performance impact.
However, we can also admit some variation in final validation metrics and say that trainings are "reproducible". There are several aspects to keep in mind about this:

[2020-02-18 13:58] y0ast opened #787 "Increase flexibility of setting seed"
I was running some code that has randomness during evaluation. However I found that my, supposedly, random preprocessing was always done in exactly the same way.

This is related to setting the random seed by default to 12: https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L583

An alternative mechanism, that respects the user's choice of setting a random seed is to change `see

[2020-02-18 14:34] y0ast commented on #787
Aside from using `torch.randint` there are a bunch of other options: https://pytorch.org/docs/stable/torch.html#random-sampling

Spelling out the two cases:

1. users sets no random seed: need seed from ignite for proper restarting
2. users sets random seed: ignite shouldn't overwrite using default seed, it is unexpected behaviour for a training framework. Instead it should support restarting and

[2020-02-18 14:44] vfdev-5 commented on #787
@y0ast maybe we can even do something like this I think:
[code]

[2020-02-18 14:55] y0ast commented on #787
Hmm, so this solution allows us to not touch the random state for getting the initial seed.

However in https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L616 and https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L671 you overwrite the global random state anyway, so have you really gained anything?

I would argue this is worse, because the newly set seed is

[2020-02-18 14:59] vfdev-5 commented on #787
Well, actually, `self._setup_engine()` is called after `Events.STARTED` and `Events.EPOCH_STARTED` handlers where user can do something based on his random state...

[2020-02-18 15:16] y0ast commented on #787
Good point, we would break backwards reproducibility of scripts that use randomness in those two events.

We could check if `self.state.seed` is `None` in `setup_seed` and do `torch.randint` in there instead of in `run()`

[2020-02-18 16:27] CDitzel commented on #787
another question is what happens in the case, when the evaluation only runs for one epoch after each training loop and is thus always seeded to 12. Is there a simple way to circumvent this?

[2020-02-18 16:29] vfdev-5 commented on #787
@CDitzel you can still pass `seed` argument to `run` function.

[2020-02-18 16:51] WeirdKeksButtonK opened #789 "Inconsistency when checkpointing a single object"
Hi! Let's consider the following code:
[code]
The problem occurs when I change the line
[code]
to this:
[code]
The cause of the problem is [this](https://github.com/pytorch/ignite/blob/fceb3d7ddfed1558841b880e8cd7decf7a4be924/ignite/handlers/checkpoint.py#L209).

Is it really useful to handle single-object checkpoints in some special way? I think it is rather inconvenient that my code *by default*

[2020-02-18 16:51] CDitzel commented on #787
yes but if I dont want any seed?

[2020-02-18 17:00] vfdev-5 commented on #789
@WeirdKeksButtonK thanks for your feedback !
This is issue seems like to be related to https://github.com/pytorch/ignite/issues/770
and should be fixed in the master. You can use our nightly build releases with pypi or conda: https://github.com/pytorch/ignite#nightly-releases

[2020-02-18 17:06] vfdev-5 commented on #787
@CDitzel Sorry, I do not understand what do you mean by this. Could you please details your use-case and explain why the seed being 12 is not working for you if you do not want to set a seed in run function ? Thanks

[2020-02-18 17:15] vfdev-5 commented on #787
@y0ast You mean to delay the setup in where it is needed ? Why you do not like to use another generator as proposed previously ?

[2020-02-18 17:41] y0ast commented on #787
So using another generator leads to any randomness used in user code after https://github.com/pytorch/ignite/blob/master/ignite/engine/engine.py#L616 to be not reproducible, because the global manual_seed is set using the generator created seed.

No run will be reproducible.

[2020-02-18 20:10] WeirdKeksButtonK commented on #789
Well, it solves the problem, although I don't understand why instead of removing a special case from the method `__call__`, a new special case was added in the method `load_objects` :smiley:
Moreover, it can lead to strange errors (namely, when some key in this single object's state will be the same as the only key in the `to_load` variable). So I still believe that processing all cases in the sam

[2020-02-18 22:16] vfdev-5 commented on #789
The reason for that is rather simple. In most of the cases, if user wants to checkpoint the training, he/she needs to store: model(s), optimizer(s), lr_scheduler(s), trainer, ... => dictionary of state_dicts. If he/she would like to save the best model or models, IMO it does not make sense to save either everything in a single dict (you can imagine that you can need only one model, but you should

[2020-02-18 22:30] vfdev-5 commented on #787
@y0ast sorry, I still do not understand your point about lack of reproducibility using another generator. Let me show you an example
[code]
It gives the following
[code]
Please hint me, why this could not work as a solution ?

[2020-02-19 01:56] Nic-Ma commented on #786
Hi @vfdev-5 ,

Thanks for your detailed explanation.
So you mean the normal ignite training(don't set seed manually and randomly) is already reproducible?
I will try to train several times on same dataset with workers=4 and compare the results.
BTW, how to **disable the logging output** from ignite? We have formatted log, want to disable ignite log.
Thanks.

[2020-02-19 05:23] anmolsjoshi commented on #784
@vfdev-5 is this because the user can change the event?

Doesn't the above example work as proposed?

[2020-02-19 07:49] CDitzel commented on #787
I am not sure if I am doing cross-posting here, but relating to my previous post. The issue is that usually the run method of an evaluation engine is called once every time one epoch of the training engine is finished.

Every epoch I do some random-related business in my dataloader.

But the validation engine's seed is always reinitialized to 12 and thus the validation sequence is always the same

[2020-02-19 09:37] justusschock opened #794 "Change Fileextension of checkpoints"
## 🚀 Feature

Switch the default file extension for saving checkpoints to `.pt` instead of `.pth`.

We must ensure backward compatibility to also load `.pth` files, but raise a DeprecationWarning until 0.4.0

Reason: `.pth` is also used as an internal extension in python: https://docs.python.org/3.6/library/site.html

[2020-02-19 10:28] vfdev-5 commented on #787
@CDitzel let me be more explicit with an example and please comment out what is the issue with that for you.
[code]
This gives
[code]

Right now, we need to set the seed for evaluator `seed = torch.seed() % 100; evaluator.run(random_val_data_loader(20), seed=seed)`, and your data coming to evaluator is randomly sampled and does not repeat between the calls. Otherwise it will be randomly sampled, b

[2020-02-19 11:11] vfdev-5 opened #795 "Dataflow randomness problem with infinite data iterators"
## 🐛 Bug description

[code]
gives
[code]
The problem is that `_manual_seed` is not called in this case and randomness of the data is configured by `evaluator`. Thus we have the same data all other epochs.

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): 0.4.0.dev20200206
 - OS (e.g., Linux): Linux
 - How you installed Ignite (`conda`, `pip`, source): pip
 - Py

[2020-02-19 15:42] y0ast commented on #787
@vfdev-5 ah, I now see why we didn't understand each other.

In your example the manual seed of the user is not at all respected. It only looks the same because you pass `seed=seed` twice and `seed` is sampled just once.

If you append these lines:

[code]

[code]

It has the same output as the other seeds! This isn't correct and comes from the call to `manual_seed` inside ignite.

if instead you

[2020-02-19 15:51] vfdev-5 commented on #787
@y0ast I think this is a correct behaviour :
[code]
as IMO it is Engine's role to setup correct random state once run is called. And yes, `torch.manual_seed(42)` is just ignored.

What is exact code to produce the last snippet, please ?

[2020-02-19 15:55] y0ast commented on #787
See below for the script.

I think seeding the generator using the user's manual seed would be an option, which is very similar to my proposed `torch.randint(100)` solution but fixed for the epoch/iteration started events.

[code]

[2020-02-19 16:00] vfdev-5 commented on #787
In this code, after the run1 you regenerated another seed which was then used with the Engine. So, it is obviously that run2 and run3 wont give the same results as run1.

[2020-02-19 16:04] y0ast commented on #787
I understand, however consider a normal users workflow with your proposed generator change:

script.py trains a model, the user sets a manual seed and gets a particular output

the user reruns script.py to train a new model, with the same manual seed, now that user gets a different output.

The difference comes from the generator inside `run` which produced a different seed in both occasions.

Ins

[2020-02-19 16:46] vfdev-5 commented on #787
According to our slack discussion with @y0ast
It would be nice to have the following behaviour:
1) without setting a seed to `run`
[code]
have reproducible run if everthing is executed multiple times. (still the case now)
2) randomness to be controlled by `torch.manual_seed(123)`
[code]
has same reproducibility as in 1) but all random dataflow etc is different.

Joost's solution is to simply setup

[2020-02-19 16:50] ykumards opened #797 "Add example notebooks to Google Colab"
Similar to Pytorch [examples](https://pytorch.org/tutorials/), we should try to port most of the ignite examples (at least all the notebooks) to be runnable in Google Colab. This way it becomes more accessible to new users.

We could add an [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebo

[2020-02-19 16:52] vfdev-5 commented on #797
Totally agree with this !

[2020-02-19 21:57] #787 closed

[2020-02-21 00:44] Nic-Ma commented on #786
Hi @vfdev-5 ,

BTW, we want to support a special metric that average other metrics, does it already supported in ignite?
For example, we computed 4 AUC for 4 labels in a multi-label task and want to use the average.
Should we manually compute the average AUC in user program?
Thanks.

[2020-02-21 09:18] vfdev-5 commented on #786
@Nic-Ma , Engine is using standard logging, maybe passing Null handler can help

[2020-02-21 09:30] vfdev-5 commented on #789
Closed the issue as answered. Feel free to reopen if needed

[2020-02-21 09:30] #789 closed

[2020-02-21 10:20] Nic-Ma commented on #786
Hi @vfdev-5 ,

Thanks for your tips.
I didn't find API in engine to set handler. Do you mean set handler to engine.logger directly?
[code]
Thanks.

[2020-02-21 10:24] vfdev-5 commented on #786
Yes, as it is a public attribute you can set it as you mentioned.
btw, I sent you an email on your publicly visible address at your github's profile (mp...@163.com), could you please take a look. Thanks.

[2020-02-21 10:35] Nic-Ma commented on #786
Hi @vfdev-5 ,

Cool, thanks for that and also replied to your private email.
Thanks.

[2020-02-21 11:05] vfdev-5 commented on #795
WIth #799 we do not have the same data all other epochs anymore as evaluator's seed is now random. But if we provide a fixed seed `evaluator.run(random_val_data_generator(), epoch_length=4, seed=1)`, than training dataflow will be the same after each evaluation part.

The problem is about if trainer's random dataflow should / should not be impacted by the randomness of attached handlers.

To deal

[2020-02-22 08:15] g-karthik opened #802 "Accuracy computation with variable classes"
## ❓ Questions/Help/Support

I've been using the `Accuracy` class (in `ignite.metrics`) successfully so far in a multi-class setting to compute test set accuracy.

Recently, I've hit a new scenario/dataset where the test set has different number of classes for each example. You can think of this as a multiple-choice selection task, where each example has a different number of candidates.

Now in t

[2020-02-22 09:21] vfdev-5 commented on #802
@g-karthik I see your problem. `_BaseClassification ` is also used for `Precision` and `Recall` where number of classes checking is important. Let's see what can be done for your case.

[2020-02-22 13:53] vfdev-5 commented on #802
@g-karthik thinking about your problem, correct me if I wrongly understand it, you have the following:
[code]
What kind of model it is that you can vary like that the number of classes ? Does it make sense to pad `y_predX` on maximum number of classes ?
Anyway, I'm trying to estimate the impact of adding a flag for accurary only to accept variable number of classes.

[2020-02-22 13:57] #777 closed

[2020-02-23 00:14] #590 closed

[2020-02-23 01:22] g-karthik commented on #802
@vfdev-5 Thanks a lot for the quick response! Here's an example [model](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_gpt2.py#L620), `GPT2DoubleHeadsModel` from the `transformers` library by Hugging Face.

For the multiple-choice classification task, in principle one could have a varying number of candidates/choices across examples in the test set.

So `x1` migh

[2020-02-24 23:08] g-karthik commented on #802
@vfdev-5 for now, I've unblocked myself by creating a copy of `accuracy.py` where I raise a warning when `num_classes` changes instead of raising a `RuntimeError`.

[2020-02-26 12:20] DrStoop opened #810 "Training State Centered Framework vs. Engine Centered Architecture"
Hi!

I was thinking for some time about the current architecture of Ignite and how to improve the workflow both, during application development (writing training scripts) and during feature development. When writing training scripts I could not code the individual training I wanted and when trying to code the feature for my training script I ended up writing infrastructure/architecture code instea

[2020-02-26 12:53] justusschock commented on #810
Hi,

First of all: thank you very much for your work, this looks awesome!

I had a look at your code and what you did there is impressive.
I have a few things to comment on:

1.) You are right, that it has some restrictions using transient state and I often had to implement some workarounds as well, but on the other hand, I really don't like the idea of a state that contains virtually everything.

[2020-02-26 12:54] vfdev-5 commented on #810
@DrStoop thanks for such huge feature request ! There is a lot of points raised, a lot of text to understand, but I think it worth the effort !

I'm trying to figure out two issues you stated about the current implementation:
1) Engine centered vs State centered
2) Ingite's Events vs Variable triggered events

Concerning "Engine centered vs State centered", well, I understand your point in some se

[2020-02-26 13:37] DrStoop commented on #810
hi @vfdev-5,

didn‘t expect such a fast reply;) thx! although i was totally committed to ignite & it‘s concepts & features, there‘s still quite some difference which may take a bit to fully oversee.

but you‘re faster than me it seems, you first point state.run is already a good point i also stooped over. regarding the full concept i left it like that for the moment. issues like that are easily ch

[2020-02-26 16:50] DrStoop commented on #810
Hi @justusschock,

man, you guys are really fast! I was hoping to get some hours downtime for that much text and code ;-)

You hit the points I also was struggling with especially with 1.) you're pointing out this global state I really didn't feel good about in the beginning! But in conclusion, I excluded my worries. Find some of my thoughts below, that's definitely the main discussion point of th

[2020-02-26 17:25] DrStoop commented on #810
hey, didn't know pytorch-slack is restricted to certain company email. i'm not working for any of them. (...& non of them belong to me either;-) )

[2020-02-27 03:30] Nic-Ma opened #811 "Does ignite support to load weights for different num_classes?"
## ❓ Questions/Help/Support
Hi @vfdev-5 ,

Does ignite Checkpoint handler support the case that pre-trained model has different number output with the model load to?
For example, the weights in model checkpoint is for 1000 classes output, and now user defines the network with 3 classes output and use ignite handler to load pretrained model for the weights.
Thanks.

[2020-02-27 07:01] justusschock commented on #810
I really think the best way is to move forward and start implementing parts of your proposals. I'm sure we'll encounter some problems during that, but I think this is the only way to really get an overview here.
Regarding the namespace: I think we should carefully think about what we're adding. So I would not like to add everything just because we can. But I agree that some stuff would be benefici

[2020-02-27 07:09] justusschock commented on #811
Hi @Nic-Ma
I think this is currently not supported, because we simply load the checkpoint and don't do any checks on the Tensor sizes.
We should allow kwargs in the `load_objects` function and you would have to pass everything except the last layer as `to_load`. I think implementing a general interface for that is not that easy, but I'll think on that.

[2020-02-27 07:32] vfdev-5 commented on #811
Hi @Nic-Ma ,

yes, as @justusschock said this is not supported and probably the reason for that is related to the fact that pretrained weights loading in most of the cases provided by model definition (e.g. in torchvision `resnet18(pretrained=True)`). In that case, user's modification can be easily done a posteriori :
[code]

[2020-02-27 08:17] justusschock commented on #811
@vfdev-5 we should nevertheless think about kwargs for the load_objects function, to allow kwargs for both, `torch.load` (for example the `map_location`) and the `load_state_dict` (for example the `strict`).

[2020-02-27 08:23] vfdev-5 commented on #811
Yes, I agree!

[2020-02-27 09:00] Nic-Ma commented on #811
Hi @vfdev-5 and @justusschock ,

Thanks very much for your sharing. Looking forward to this feature.
It's really useful for us, especially to provide "Transfer Learning" function in our product.
Currently, we can't exclude FC layer when loading weights, users raised this request.
Thanks.

[2020-02-27 10:39] DrStoop commented on #810
Okay @justusschock, this is for sure a way to get through it. I'll try to assist setting up an implementation plan by sorting your points (and adding maybe a point here & there) in a way to implement, starting with the major changes:
1. Should `state` be transient?
2. `state` vs. `Engine.state` scope?
3. What's the right scope for a `state`?
4. "Stick `Events` together"
5. 1-on-1 Feature-for-Task

[2020-02-27 12:13] vfdev-5 commented on #810
@DrStoop please give me your email and I'll try to get you an invitation

[2020-02-27 12:21] vfdev-5 commented on #810
Let's try to discuss about each point separately:

1. Should state be transient?

Why state is None at the begining and reset at each run ? Related questions https://github.com/pytorch/ignite/issues/297 and https://github.com/pytorch/ignite/pull/640

This is "historiacal" and sort of relies on a pattern we would like to adopt.
Currently, we have the following logic:
[code]

This covers the cases:

[2020-02-27 12:24] vfdev-5 commented on #810
@DrStoop ping on

Could you provide more details or a code snippet for this please?

[2020-02-27 12:31] justusschock commented on #810
Okay, let me just say my thoughts on this:

1.) I agree, that the state must not be transient, if it does not hold things like the model and the optimizer. But we have to reset it properly.

2.) The point of splitting up the state is that in your run not all engines might always be related to one model. This is why we are aiming for most flexibility and thus the most local scope possible.

3.) We

[2020-02-27 12:32] DrStoop commented on #810
Sure, my email: berr@gmx.de, real name if required: Maximilian Berr.... thx @vfdev-5 !

give me a sec on the multi engine snippets... coming up

[2020-02-27 12:35] vfdev-5 commented on #810
@DrStoop I sent a request to send you an invitation. Probably, we need to wait until the morning in US/NYC zone...

[2020-02-27 15:01] DrStoop commented on #810
@vfdev-5 regarding 3 engines:

### A simple example for the metrics of 3 engines compared in one chart per metric type: [mnist_with_tensorboard_logger_and_low_level_apis.py](https://drstoop.github.io/ignite_framework/examples/mnist_with_tensorboard_logger_and_low_level_apis.html)
You have 3 engines `state.trainer` (check `state.engines.trainer`), `state.xvalidator` & `state.evaluator` with differe

[2020-02-27 15:19] jwindhager opened #812 "Subclasses of torch.utils.data.DataLoader are not supported"
## 🐛 Bug description

When using the Ignite engine with a subclass of `torch.utils.data.DataLoader`, the engine re-instantiates the dataloader with its `torch.utils.data.DataLoader` base class, if the DataLoader's batch_sampler is not a `ReproducibleBatchSampler`. See engine.py, line 874 in my version (call to `_update_dataloader`).

This is super-dangerous, as people might not even notice that th

[2020-02-27 15:27] vfdev-5 commented on #812
@jwindhager thanks for the report. Yes, we, probably, should have fixed that issue in the master : https://github.com/pytorch/ignite/blob/master/ignite/engine/utils.py#L16

I understand your point. This dataloader update is a price to pay to have reproducible dataflow.
Today, we are going to rethink this code, see https://github.com/pytorch/ignite/issues/795#issuecomment-589607610, such that to ad

[2020-02-27 15:48] jwindhager commented on #812
@vfdev-5 Thanks for your quick reply and apologies, should've checked master first! In any case, in my opinion, re-initializing the DataLoader without a warning is not a good idea, as the constructor call may have side effects and doesn't necessarily produce an "identical" DataLoader instance.

Either way, I hope that this issue will soon be fixed with a future release!

[2020-02-27 15:51] vfdev-5 commented on #812
Yes, you are right about the warning, thanks for that.

If you have an idea on how to improve that, we are happy to discuss and implement that :)

You can also try our [nightly releases](https://github.com/pytorch/ignite#nightly-releases) with the latest features.

[2020-02-27 16:10] jwindhager commented on #812
Unfortunately not really, sorry. I think for the way it's currently implemented, a safer option would be to just raise an exception at runtime in case the user provides a custom DataLoader without a (subclass of) ReproducibleBatchSampler as batch_sampler. Another option would probably be to wrap the entire DataLoader instead of just the BatchSampler and sample the batch indices within the DataLoad

[2020-02-27 16:29] DrStoop commented on #810
Correct, there are many ways to easily reset. With **reseting** in mind I implemented the `StateObject.__delete__` to reset the current value to its `initial_value`. (Also because deleting a class descriptor from its class just does not make sense at all.)

In general you can implement it in 2 ways:
- Either implement the reset method in each feature (or `BaseFeatureType`) specifically and append

[2020-02-27 17:21] DrStoop commented on #810
okay, is this what `global_step_transform` is doing?
* `trainer` is used as a global object
* `global_step_transform` is used as a reference object that slices out `trainer.state.iteration` and passes it into the `OutputHandler`?
* so you have to implement the referencer each time you want a different step variable?

Comparison with the Ignite framework:
* All this is done automatically in the fra

[2020-02-28 08:35] sdesrozis opened #813 "CosineAnnealingWarmRestarts is not compatible with LRScheduler.simulate_values()"
## 🐛 Bug description

`CosineAnnealingWarmRestarts` is not compatible with `LRScheduler.simulate_values()`. Precisely, a object of type `CosineAnnealingWarmRestarts` can't be replicated by `LRScheduler._replicate_lr_scheduler()`. It works for `CosineAnnealingLR`.

For example :

[code]

produces the following error

[code]

This issue is due to the assumption that `lr_scheduler.__state_dict__` con

[2020-02-28 10:05] vfdev-5 commented on #813
Thanks for the report @sdesrozis ! I'll investigate the issue and push a fix.

[2020-02-28 14:39] sdesrozis opened #814 "Error printing BasicTimeProfiler results"
## 🐛 Bug description

Don't know if it's normal (because not yet stable feature) but using the following code :
[code]
and I got a runtime error (I put here stack including print msg)
[code]
There is no key `Events_STARTED` and more generaly no one begins with the `Events_` prefix. Did I miss something ? Or is it the `output_message` variable in the `time_profilers.py` file which is corrupted ?

T

[2020-02-28 14:52] vfdev-5 commented on #814
@sdesrozis I can not reproduce your issue. Could you please provide a snippet to reproduce it.
Here is mine
[code]
Thanks!

[2020-02-28 14:59] sdesrozis commented on #814
Your snippet doesn't work for me... I got the following stack (print uncommented) :
[code]

Any idea ? pytorch installed from conda (but I suppose it doesn't matter).

[2020-02-28 15:03] vfdev-5 commented on #814
I got it, while updating to the `master`. Thanks for pointing out the bug !

[2020-02-28 21:58] #814 closed

[2020-02-28 23:05] vfdev-5 commented on #814
@sdesrozis bug should be fixed now on the master.

[2020-02-29 10:37] sdesrozis opened #816 "Conditional metrics ?"
## ❓ Questions/Help/Support

How do you deal the confusion matrix metric ? It is an expensive metric that is interesting to have punctually during the training. A naive way is to attach `ConfusionMatrix` to evaluators but it could have a performance issue. Otherwise, a dedicated evaluator could be created but it multiplies evaluators... Any advice on that point ? My feeling is we need "conditional

[2020-02-29 14:00] vfdev-5 commented on #816
@sdesrozis I think this depends on application and the additional cost needed to be quantified.
You can take a look at this example: https://github.com/pytorch/ignite/blob/master/examples/references/segmentation/pascal_voc2012/code/scripts/common_training.py#L137
Where validation IoU metric is computed with CM and evaluation is triggered every n epochs.
HTH

[2020-02-29 14:14] sdesrozis commented on #816
Ok, thank you for your answer :+1:
I noticed that because I did a classification training (approx 20 classes) and I had to move CM to postprocess due to performance. Tho, it wasn't a blocking issue.
In your example, how would you add additionnal metrics running at each epoch completed ? I don't see any other solution than adding an evaluator.

[2020-02-29 17:40] vfdev-5 commented on #816
Yes, actually, there is no simple solution without adding another evaluator.
We can think of this as a feature request :)

[2020-02-29 18:46] sdesrozis commented on #816
It would be a pleasure for me to contribute on that point 😊

[2020-02-29 20:53] vfdev-5 commented on #816
That's good ! So, now we need to decide on the API for such feature. Something simple and looking cool :)
For example, how about that:
[code]

Obviously, with such solution, when logging the values from `evaluator.state.metrics` on every evaluator's `Events.COMPLETED`, accuracy will be updated every training epoch, but CM will be updated by steps, like that
[code]
which is not that good. To handle

[2020-02-29 21:02] sdesrozis commented on #816
If CM is bot computed, dict metrics shouldn’t contain key « CM ». So easily checkable for logging. My question is should we disable explicitly metric or should we apply a predicat or filter to enable / disable implicitly during event handling.

[2020-02-29 21:18] vfdev-5 commented on #816
Correct, the state will be reset on each run.

Metrics are "attached" (they add multiple handlers), so, currently, there is no simple API to enable/disable a metric. I agree with you that we can also propose a sort of `detach` method that can remove all previously attached handlers. I maybe this is a better API than previously proposed `disable`/`enable`.

In my previous idea, it was thought as in

[2020-02-29 23:08] sdesrozis commented on #816
I like this API which is simple to deploy. An alternative is to try to have only one call to evaluator.run() (cheaper, less data load) and use the filter (every=5) attached to the metric itself. It shouldn’t solve logging issues (we have to know what is computed). Sorry I can’t propose snippets atm because my only access to github is my smartphone. Tho, I don’t know if it’s feasible neither user f

[2020-03-01 00:36] sdesrozis commented on #816
Nb : `detach` should have an argument ˋevaluator` because it shouldn’t be a collective detachment, should it?

Maybe the condition ˋtrainer.state.epoch % 5 == 0` could be managed as an extra argument of the first attachment loop (only for CM metric). I try to illustrate tomorrow (I’m in France).

[2020-03-01 00:50] vfdev-5 commented on #816
Technically with the current implementation, yes. But I think now we need to go futher with `Metric` class and register as a weakref the engine. As we'll allow attach/detach we need to make sure to handle properly multiple faulty attaches etc. So, once metric know its engine, we wont need to insert engine as argument to `detach`.

I think this is tricky to do as `attach` uses evaluator, but event

[2020-03-01 08:47] sdesrozis commented on #816
I understand that the metric could encapsulate the engine. But a metric could be related with several engines. Maybe I didn’t catch your idea.

It looks like decoration pattern in your implementation.

Super :)

[2020-03-01 16:46] #797 closed

[2020-03-02 08:07] sdesrozis commented on #816
I implemented the following test
[code]

I added following in `Metrics`
[code]
@vfdev-5 any advice ? I didn't add engine ref in `Metrics` because metrics are implemented stateless atm.

[2020-03-02 09:12] sdesrozis commented on #816
Alternative using `custom_event` :
[code]

[2020-03-02 09:54] vfdev-5 commented on #816
@sdesrozis thanks for the snippets. I'll take a look in details a bit later. In general, I would say
explicit calls will be more intuitive. Solution with `attach_on_the_fly` looks interesting but probably the API needs to be polished.

[2020-03-02 10:03] sdesrozis commented on #816
@vfdev-5 Perfect. I'm testing these APIs in real code and finally `attach_on_the_fly` is not my preferred choice. The `event_filter` solution is great but decorators must be setted carefully. Don't know how far to go... My thought is we need hooks on events (per engine).

Btw, the minimal I see is to have a `detach` in metrics as I suggested previously.

[2020-03-02 10:08] CDitzel commented on #787
so do I understand correctly now, that for having reproducible results, I need to pass in the seed explicitly to the run function, otherwise the seeding will change from run to run

[2020-03-02 10:13] CDitzel opened #818 "Strange program flow if using custom dataloader"
If using a custom dataloader that implements the __len__ method, the current epoch is terminated upon this line https://github.com/pytorch/ignite/blob/90d4e1b78f280293116706d5c42cc9243212ea29/ignite/engine/engine.py#L455
which causes an exit of the while True loop in
https://github.com/pytorch/ignite/blob/90d4e1b78f280293116706d5c42cc9243212ea29/ignite/engine/engine.py#L405.

However, at the start

[2020-03-02 10:14] vfdev-5 commented on #787
@CDitzel yes. This is necessary for the training. For validation, in most of the cases, there is less randomness in validation dataflow, so, setting up the seed is optional.

[2020-03-02 10:15] vfdev-5 commented on #818
@CDitzel can you please provide some details on your custom dataloader ?

[2020-03-02 10:54] CDitzel commented on #818
I use [Tensorpack's Dataflow](https://tensorpack.readthedocs.io/tutorial/dataflow.html) which, at its core, is just a chain of iterators which yield one batch after another until exhaustion and that implement the __len__() method to return the 'epoch_length'. Nothing too fancy, in its simplest form, sth. along the following lines:

`class MyDataFlow(DataFlow):
  def __iter__(self):
    # load data

[2020-03-02 11:03] mashu opened #819 "Predicting multiple outputs"
I have a model which predicts 4 distinct multi-label classes. I have 4 independent losses which are weighted and summed into single loss, but also 4 different distinct accuracies. It seems like Ignite engine returns only one output (y_hat) and target y. Is is possible or how to do it with multiple model outputs?

Thanks

[2020-03-02 11:07] vfdev-5 commented on #818
Ok, thanks for the details. The point is the following, when using iterators it is impossible to restart it. For example,
[code]
So, it means that if provided data is iterator, there are 2 ways: a) either it defines complete number of iterations `(num_epoch * epoch_length)`, b) either it defines a single epoch and we need to call a `reset` method to restart the iterator.

I think this should be th

[2020-03-02 11:11] vfdev-5 commented on #819
@mashu you can define your own model update function and return anything you wish. Please, see [here](https://pytorch.org/ignite/concepts.html):
[code]

[2020-03-02 11:57] CDitzel commented on #818
I reset the state after every sample has been used. So it can be reused. But how does this relate to my question? Why do we need both, the break statement and the StopIteration Handling?

[2020-03-02 12:11] vfdev-5 commented on #818
Because, dataflow can have its "length" and user can define another `epoch_length` smaller, larger or equal dataflow's one.

[2020-03-02 13:11] mashu commented on #819
How then accuracy metric gets calculated for every separate prediction?

[code]
I see this part. But I get very strange values and loss is not changing.
I think I miss something.

[2020-03-02 13:30] CDitzel commented on #818
thanks, but why then not discard the exception part altogether?

[2020-03-02 13:30] mashu commented on #819
In the docs https://pytorch.org/ignite/metrics.html#ignite.metrics.Accuracy
I see that

That would imply I need to return very specific parameters, and it would support only single accuracy metric, or am I missing something?
Can I find somewhere more complete example with multiple accuracies updated?

[2020-03-02 13:47] vfdev-5 commented on #818
I do not get what you mean by that. But, we also keep in mind that other data providers like torch DataLoader can be restarted by reapplying `iter(loader)`. So, when exception is catched we restart the loader.

[2020-03-02 14:00] vfdev-5 commented on #819
Please provide an example/code snippet of what you are talking about. It would help to understand the problem.

IMO, it make sense to compute accuracies on a "fixed" model, so during the evaluation phase. You can do the following:
[code]
This will compute 4 accuracies for validation dataset.

[2020-03-02 14:05] mashu commented on #819
Ok, so the solution it to return tuples for each accuracy. That makes sense, thanks a lot!

[2020-03-02 14:10] vfdev-5 commented on #819
Yes, you can return everything you wish: tuple, dict etc, just need to adapt correspondingly `output_transform` such that `Accuracy` gets either tuple or a dict with specific keys.

I let you close the issue if it solved for you. Thanks !

[2020-03-02 14:43] y0ast commented on #787
Actually, you don't need to. As long as you set a manual seed in your script then it'll work as expected.

Because the new mechanism reads from global random state: https://github.com/pytorch/ignite/pull/799/files

[2020-03-02 15:11] CDitzel commented on #818
mh I thank you for your answers. I will have to think about the implications for a while...

[2020-03-02 20:18] vfdev-5 commented on #816
@sdesrozis I think it makes more sense to have `Metric` as other handlers without dependency on attached engine. So, yes, `detach` then should have engine as input argument. I think we can go on with this simple change of the API, adding `detach` only. In addition we can think to provide a helper method to setup a similar behaviour as `attach_on_the_fly` ?

[2020-03-02 21:36] sdesrozis commented on #816
@vfdev-5 Provide a helper method is a good idea. I will keep trying to design a better solution because I’m not convinced by the API `attach_on_the_fly` that I proposed.

[2020-03-02 22:54] vfdev-5 opened #822 "Make optional argmax for y_pred in Confusion Matrix"
## 🚀 Feature

Today, the conditions on the input of the CM are the following:
[code]

Taking argmax on `y_pred` can be an option if we would like to determine winning class by some other rule. Let's keep argmax as default behaviour if `y_pred` is `(N, C, ...)` and do not apply it if `y_pred.shape == y.shape` and `(N, ...)`.

[2020-03-03 07:42] sdesrozis opened #823 "argument `metrics` in method `create_supervised_trainer` ?"
## ❓ Questions/Help/Support

To define evaluators using helper `create_supervised_evaluator`, metrics can be added for attachment to engine :
[code]
Using helper `create_supervised_trainer`, metrics have to be added by hand :
[code]
What do you think about add argument `metrics` in method `create_supervised_trainer` ?

[2020-03-03 07:54] vfdev-5 commented on #823
@sdesrozis it depends on what kind of metrics you would like to add. For `RunningAverage` it is OK. For others it was discussed several times previously, for example
- https://github.com/pytorch/ignite/pull/165
- https://pytorch.org/ignite/quickstart.html#id1 (footnote)

[2020-03-03 08:03] sdesrozis commented on #823
@vfdev-5 Perfect. I didn't see the footnote. Adding `RunningAverage` in common helper makes sense in accordance with the footnote.
Thanks for your help.

[2020-03-03 08:34] sdesrozis commented on #823
Sorry, I reopen :(

It seems that `create_supervised_trainer` with default `output_transform` is not compatible with `setup_common_training_handlers` and `output_names` :
[code]
is ko because default `output_transform` :
[code]
To fix with API :
[code]
A better fix could be done in `common.py` line 125 letting `output_transform` dealing with numbers (in the same way as the tensors).

[2020-03-03 08:36] vfdev-5 commented on #823
Thanks for catching that! Could you please send a PR to fix this? And maybe we can also update the docs...

[2020-03-03 08:38] sdesrozis commented on #823
Sure.

[2020-03-03 11:10] Luhan-Cheng opened #825 "set global_step from checkpoint"
## ❓ Questions/Help/Support

Hello, I wonder how am I suppose to set the global_step from checkpoint for handlers?

Specifically, i would like to have most of the handlers in tensorboard logger using engine.state.iteration as global step.
Since engine.state.iteration is reset when i do engine.run. I had to create my own counter (like the following), which basically add an offset to current iterati

[2020-03-03 11:38] #823 closed

[2020-03-03 12:05] vfdev-5 commented on #825
Hi @Luhan-Cheng, could you detail your use-case please?

We provide `global_step_transform` to transform the global_step for evaluators as their internal state is not related to the trainer's one. So, it means if we attach a handler to an evaluator without `global_step_transform` like that
[code]
we will log values always with global step equal 1 as evaluator runs once over validation dataset (1 e

[2020-03-03 12:06] vfdev-5 commented on #819
@mashu I close the issue. Feel free to reopen it if needed

[2020-03-03 12:06] #819 closed

[2020-03-03 12:13] Luhan-Cheng commented on #825
Thank you @vfdev-5 for fast response,
Yes, I would like to resume training. I did run `trainer.load_state_dict` and it set the trainer.state.iteration to the final iteration last run. However, as long as i run `trainer.run(...)` It reset the iteration to 0 in https://github.com/pytorch/ignite/blob/3ab78a21fff39933a8623f3070fe9fe4770723bc/ignite/engine/engine.py#L607

[2020-03-03 12:18] vfdev-5 commented on #825
Please, provide a code snippet of your use-case. It would be helpful.

State is reset when 1) either it is not provided previously or 2) training is done.

[2020-03-03 12:43] Luhan-Cheng commented on #825
Training function
[code]

trainer is created through
[code]

when i run `ensorboard  --logdir  logdir/ --host localhost`
I got scalar plot reset its global_step
![image](https://user-images.githubusercontent.com/52887530/75776774-c4734900-5da8-11ea-947d-191997c663ba.png)

[2020-03-03 13:03] Luhan-Cheng commented on #825
Here is a minimal example @vfdev-5
[code]
output
[code]
You can see the iteration is indeed reset

[2020-03-03 13:10] vfdev-5 commented on #825
@Luhan-Cheng thanks for the last snippet.
Yes, the state is reset because of
[code]
this `init_state` defines a run of 1 epoch of 8 iterations but starting from 8th iteration.

If you would like to continue, you need to set more epochs. For example, like that
[code]

[2020-03-03 13:35] Luhan-Cheng commented on #825
Thank you @vfdev-5 ! this solved my issue

[2020-03-03 13:35] #825 closed

[2020-03-03 15:32] sdesrozis commented on #816
@vfdev-5 PR for detach a metric ? (I suppose a test is required)

Consider the following snippet (`cm` standing for a `ConfusionMatrix` object) :
[code]
It works as expected but if a logger is attached on `evaluator`, it could warn. Indeed, tensor from `cm` can't be logged by tensorboard logger.

Notice that tag `all` is used in `setup_any_logging` for `OutputHandler`, so can't fix the warning wit

[2020-03-03 15:38] vfdev-5 commented on #816
@sdesrozis yes please with a test :)

This part is a bit unclear for me.

[2020-03-03 15:58] sdesrozis commented on #816
I admit that my post was very confusing, sorry! There is no link with the subject metric attach / detach... I think it's a new issue / question.

[2020-03-03 16:55] vfdev-5 commented on #816
@sdesrozis okay, I let you create new issue for that :)

[2020-03-04 03:14] g-karthik opened #828 "Engine gets hung at some X%"
## ❓ Questions/Help/Support

I'm using an `Engine` for inference using a trained model and writing the inference outputs to a file. Specifically, I have something like

[code]

My first question is: is this approach the "right" way of doing what I want to do with ignite? Specifically, to do inference (beam search) on the model and write the output to a file?

My second question/concern is that in

[2020-03-04 06:23] sdesrozis opened #829 "Warning using ConfusionMatrix and setup_tb_logging"
## ❓ Questions/Help/Support

logger configured by `setup_tb_logging` warns when a `ConfusionMatrix` metric is attached to the evaluator
[code]

The reason is `setup_tb_logging` (via  `setup_any_logging`) defines `OutputHandler` using `metric_names="all"`
https://github.com/pytorch/ignite/blob/a22a0f5e909ac70d2a1f76a60b6e84b2134f196c/ignite/contrib/engines/common.py#L248-L254

What do you think to

[2020-03-04 06:48] sdesrozis commented on #816
Proposition of helper `metric_on_the_fly` :
[code]
with
[code]
@vfdev-5 Thoughts?

In addition, this could be easily generalized to any attachable object and any event but I don't have use case yet.

[2020-03-04 17:32] vfdev-5 commented on #828
Hi @g-karthik

Yes, this seems OK for me. In my project I do something similar but with batch size > 1 to accelerate NN stuff. Writing I do in a specfic handler attached on `Events.ITERATION_COMPLETED`, better factorization etc.

yes, this looks strange. To debug that I would try the following things:
- dataloader `num_workers=0` = disable multiprocessing
- Is your dataloader is shuffled ? If not,

[2020-03-04 21:49] g-karthik commented on #828
@vfdev-5 Can you share an example of how you write to a file with an ignite handler? I wanted to do the writing in a clean fashion by opening the file with the `with` command, but as you can see in my code snippet above, I didn't follow Pythonic best practice for file writing.

I figured out the reason the code is stuck at 47% -- there is a while loop in my decoding/inference which is not breaking

[2020-03-04 22:04] vfdev-5 commented on #828
@g-karthik in my example it is about images and saving predictions as images. So, if it can help you, here is the code:
- https://github.com/vfdev-5/UNOSAT_Challenge/blob/master/code/scripts/inference.py#L145
- https://github.com/vfdev-5/UNOSAT_Challenge/blob/37e12db083b794e1f135a6b7f7ab3df5a7bbff60/code/utils/handlers.py#L106
- https://github.com/vfdev-5/UNOSAT_Challenge/blob/37e12db083b794e1f135

[2020-03-05 19:17] kai-tub opened #830 "model is moved too early in create_supervised_trainer/evaluator"
Hi, first of all, thanks for the great library!
I have a general "bug" report or question on the specific implementation of `create_supervised_trainer` and `create_supervised_evaluator`.
As seen for example here:
https://github.com/pytorch/ignite/blob/master/ignite/engine/__init__.py#L64

The moment a supervised evaluator/trainer is created the model is moved to the specific device and
*not* durin

[2020-03-05 20:21] vfdev-5 commented on #830
@kai-tub thanks for awesome feedback and thanks for your remark ! I understand that this could be done in a more lazy way, for example, when engine is started (probably, calling `model.to` every iteration I think can have some performance impact.)
Definitely, `create_supervised_*` can setup model's device in a handler:
[code]

In this way, certainly we can alternate for example, training on GPU an

[2020-03-05 20:34] kai-tub commented on #830
This looks great!
I don't see why this shouldn't be adapted (or are there different parts of the library that work similarly?)

And thanks for the quick reply. :)

[2020-03-05 21:42] vfdev-5 commented on #830
@kai-tub main reason for that I would say that there were no particular need to switch devices like that. For example, if we use DDP wrapper for model, we train and evaluate within the same context. And another point is that `create_supervised*` are just basic helpers, personnally I setup by myself the update function etc.

[2020-03-06 05:40] justusschock commented on #830
I would rather move the model more often. This way the user is more flexible and also these calls become no-ops in PyTorch, when the model is already on the correct device

[2020-03-06 05:41] jgbradley1 opened #831 "Update mnist example"
## 🚀 Feature

Please update the mnist [example](https://github.com/pytorch/ignite/tree/master/examples/mnist) `mnist_with_tensorboardx.py`. Rather than depend on an external library (tensorboardX), it would be nice to have an example that utilizes the [built-in](https://pytorch.org/docs/stable/tensorboard.html) version of PyTorch.

[2020-03-06 06:32] sdesrozis commented on #816
I keep playing to find something I like
[code]
with the proxy `OnTheFly` to keep a coherent API
[code]
and `last_epoch`
[code]
@vfdev-5 Feel free to comment :)

[2020-03-06 06:43] sdesrozis commented on #816
Concerning events, it would have been nice to decouple concepts `STARTED`, `COMPLETED` (bounding box) from the type of event `EPOCH`, `ITERATION` (counters), etc.

For instance
[code]

[2020-03-06 07:22] justusschock commented on #831
Yes, that's true, but unfortunately this would limit the users to a certain PyTorch version. But we can use a conditional import there and first check, whether the PyTorch version will be recent enough.

[2020-03-06 07:25] kai-tub commented on #830
@vfdev-5 I agree that setting up the update function is the obvious alternative (and is what I've done).
But for someone who never used PyTorch half a year ago, I really liked to use ignite to learn Pytorch in a "top-down" fashion. I could focus more on the design of the workflow and less on the actual implementation. Afterwards I looked at the underlying implementation to understand how it works.

[2020-03-06 20:22] g-karthik commented on #802
also @vfdev-5, in the `update()` method for `Accuracy`:
[code]

this is basically computing recall@1 -- could you enhance the `Accuracy` class to compute recall@k instead of just assuming k=1? Perhaps `k` could be an argument for the `__init__` method of the class?

[2020-03-06 20:25] vfdev-5 commented on #802
@g-karthik maybe [TopKCategoricalAccuracy](https://pytorch.org/ignite/metrics.html#ignite.metrics.TopKCategoricalAccuracy) can help ?

[2020-03-06 23:16] sdesrozis commented on #816
I tried this API and I really enjoy
[code]
@vfdev-5 ?

[2020-03-06 23:30] sdesrozis opened #832 "CProfiler"
## 🚀 Feature

Here a tiny tool to profile runtime using `cProfile`
[code]

[2020-03-07 04:28] crypdick commented on #513
For anyone trying to use @jphdotam code in https://github.com/pytorch/ignite/issues/513#issuecomment-488983281 ,

`y_pred, y = self._check_shape(output)`

throws an exception because that function now returns nothing. Instead, use
[code]

However, there's something wrong with it because I'm getting ```'labelwise_accuracy': [0.9070000648498535, 0.8530000448226929, 0.8370000123977661, 0.745000064373

[2020-03-07 09:45] vfdev-5 commented on #832
There is also torch built-in tool : https://pytorch.org/docs/stable/bottleneck.html
I think we need to define the scope of this tool etc such that we do not duplicate the things ...

[2020-03-07 09:50] vfdev-5 commented on #816
@sdesrozis are you talking about `OnTheFly` or context manager or both as "this" API ?

Personnally, I would rename `OnTheFly` by something else, the name is not obvious what it does.
About context managers to add metrics, well, I do not see the advantage of using it vs ordinary `m.attach(engine, "name")`. Could you please detail this, probably I'm missing something

[2020-03-07 12:36] sdesrozis commented on #816
@vfdev-5 both :)
I agree, `OnTheFly` is not suitable name. It applies `filter` to a metric. Don't know how to name this correctly atm.

For context manager, I see 2 advantages
* it adds ... context :) don't write repetitive lines
* it adds feeling of scope (not real)
In my point of view, it improves api but it it's purely personal.

[2020-03-07 16:18] sdesrozis commented on #832
Thank you for the ref! I didn’t know this awesome tool! IMO the feature becomes useless.

[2020-03-07 16:18] #832 closed

[2020-03-08 12:51] WeirdKeksButtonK opened #833 "How to set a new dataloader during training?"
## 🚀 Feature

Sometimes I want to replace my engine's dataloader with a new one during training. For example, it happens when I want to change a batch size or even change batch sampling strategy. Earlier, I used to change the field `engine.state.dataloader`, but it doesn't look correct, because there are some fields like `_dataloader_len` or `_dataloader_iter` that may need some adjustment as well

[2020-03-08 13:19] vfdev-5 commented on #833
@WeirdKeksButtonK thanks for the feedback! Yes, in the current version it would be a bit tricky to replace the dataloader just by replacing engine.state.dataloader. There are some other issue with the current implementation that we need to fix up.
The most "proper" way (hack?) currently to replace the dataflow is to provide a dummy list to `run(data)`:
`data=list(range(total_num_iterations))` and

[2020-03-08 20:40] WeirdKeksButtonK commented on #833
@vfdev-5 thanks for the idea.
Indeed, it will be more convenient if updating the dataloader is supported natively.

And here is a version without dummy data:
[code]

It has its own drawbacks, but one may find it sufficient.

[2020-03-09 10:27] CDitzel commented on #818
I found that GET_BATCH_STARTED is called twice when stop Iteration is thrown in engine.

This program flow just seems wrong

[2020-03-10 08:47] kai-tub commented on #830
Since this is labeled as "help wanted" should I issue a PR with the changes mentioned by @justusschock?

[2020-03-10 09:00] vfdev-5 commented on #830
yes, please

On Tue, Mar 10, 2020, 09:47 kai-tub <notifications@github.com> wrote:

[2020-03-10 09:43] vfdev-5 commented on #818
Let me check that.

[2020-03-10 10:05] vfdev-5 commented on #828
@g-karthik did you resolved your issue ? Can we close this one ?

[2020-03-10 19:35] g-karthik commented on #828
@vfdev-5 yes, I am closing it!

[2020-03-10 19:35] #828 closed

[2020-03-12 17:12] vfdev-5 opened #836 "Move FastaiLRFinder_MNIST.ipynb to examples/notebook"
## 🚀 Feature

It would be better to move FastaiLRFinder_MNIST.ipynb notebook to principal notebooks location. All those notebook already use contrib module, so there is no need to keep `examples/contrib/notebooks`

Additionally, we need to create a link colab and insert it into README.md

[2020-03-12 20:25] vfdev-5 opened #837 "LRFinder in DDP"
## 🚀 Feature

We need to check FastaiLRFinder's usage in DDP and probably imrove the docs, provide complete example of on its usage.

[2020-03-14 21:06] mkartik commented on #836
Hi @vfdev-5 , I would like to contribute to this enhancement.

[2020-03-14 22:04] vfdev-5 commented on #836
Hi @mkartik sounds good ! Please go ahead with a PR. Feel free to ask questions if any.

[2020-03-15 00:31] #836 closed

[2020-03-17 15:11] mikael10j opened #840 "Why the engine doesn't release the train dataloder processes before validating ?"
Hi all,
Facing memory (RAM) issues when using num workers > 0 in dataloader, I have noticed that with ignite the processes of the train loader are not released before validation starts. This leads to doubling the number of processes used during validation. Here is a toy example:

[code]
and the memory-profiler output:

![test_3_epoch_ignite](https://user-images.githubusercontent.com/10218967/76869

[2020-03-17 15:34] vfdev-5 commented on #840
@mikael10j thanks for the report. This is a good question and describes rather common situation : training + validation after an epoch. However, in general case, we can consider epoch length to be unrelated to the length of the dataloader.

Such behaviour may seem OK as there are two engines: trainer and validater and only trainer can be aware of the second engine. Internally, every engine keeps a

[2020-03-17 15:49] mikael10j commented on #840
@vfdev-5 thank you very much for the explanation and the tips. I've used memory-profiler: https://github.com/pythonprofilers/memory_profiler

[2020-03-17 16:00] #840 closed

[2020-03-17 21:40] snie2012 opened #841 "When will version 0.4.0 be available on PyPi?"

[2020-03-17 22:01] vfdev-5 commented on #841
This is a good question, we have the roadmap of issues to close here : https://github.com/pytorch/ignite/projects/7 before going to 0.4.0
Probably, engine's behaviour in 0.4.X will be changed vs 0.3.X. Thus we need to test and check a lot.

Meanwhile, we have nightly releases available on PyPi and conda:
[code]

[2020-03-18 06:54] justusschock commented on #812
To jump into this: wrapping the whole dataloader would be difficult I think, because then we would probably bypass the user's custom dataloader and directly use the dataset, which is also not wanted here.

IMO raising an exception is also not a good idea, since there are some user's (like me) who carefully designed their custom dataloader to work and behave as expected with ignite. Raising a warni

[2020-03-18 09:46] sdesrozis opened #842 "Typehint of ignite._utils._to_hours_mins_secs not satisfied with float"
## 🐛 Bug description

That is a so tiny bug. The `typehint` of the following function of `ignite._utils` is not satisfied with a `float` argument
[code]
We have
[code]

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): 0.3.0
 - OS (e.g., Linux): Linux
 - How you installed Ignite (`conda`, `pip`, source): conda
 - Python version: 3.7
 - Any other relevant informat

[2020-03-18 13:25] vfdev-5 commented on #842
@sdesrozis please send a PR to fix it :) I think there could be others like that. I think typing issue is not completely done.

[2020-03-19 02:15] vfdev-5 opened #843 "Provide tiny wrapper over pytorch ThroughputBenchmark"
## 🚀 Feature

PyTorch utils module provides `[ThroughputBenchmark](https://github.com/pytorch/pytorch/blob/v1.2.0/torch/utils/throughput_benchmark.py#L62)` since 1.2.0
[code]

It would be interesting to provide a tiny wrapper over this to simplify usage with ignite.

[2020-03-19 10:07] #842 closed

[2020-03-19 10:22] CDitzel commented on #818
did you find what I was saying is true?

[2020-03-19 10:58] vfdev-5 commented on #818
It depends on your iterator. For infinite iterator everything is OK
[code]
gives
[code]

For a finite iterator, yes, I confirm `GET_BATCH_STARTED` called more than once
[code]
gives
[code]

However, as event name states "get batch started" = batch fetching is started, so engine tries to fetch data without success multiple times as required by `epoch_length` and `max_epochs`.

[2020-03-19 12:38] vfdev-5 opened #845 "Bug with average="recall" in Confusion matrix"
## 🐛 Bug description

[code]
gives
[code]

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): 0.4.0.dev20200302
 - OS (e.g., Linux): Linux
 - How you installed Ignite (`conda`, `pip`, source): pip
 - Python version: 3.7
 - Any other relevant information:

[2020-03-21 17:41] #845 closed

[2020-03-21 19:30] sdesrozis commented on #822
So
1. argmax should be optional and user should be able to give their own rule.
2. if `y_pred.shape == y.shape` and `(N, ...)`, do not apply
Is it ok ?

[2020-03-21 19:37] vfdev-5 commented on #822
If `y_pred` has C dimension like `(N, C, ...)` there is no way to compute a metric without taking argmax with `y_true` as `(N, ...)`. In this case we should take argmax without an option, IMO.

yes. In this case, user can perform winning class selection in `output_transform` or anywhere before metrics update.

[2020-03-21 19:41] sdesrozis commented on #822
Ok I do it soon

[2020-03-22 15:22] sdesrozis commented on #822
The following code from `precision.py` (same for `recall.py`) can't be done if shape is `(N, ...)`
https://github.com/pytorch/ignite/blob/cfb1b3a0683ca1e6334cc832e9371ab34418bbbf/ignite/metrics/precision.py#L144-L153

From `accuracy.py`, implementation is different
https://github.com/pytorch/ignite/blob/cfb1b3a0683ca1e6334cc832e9371ab34418bbbf/ignite/metrics/accuracy.py#L154-L156

[2020-03-22 15:44] sdesrozis commented on #822
Original code
https://github.com/pytorch/ignite/blob/cfb1b3a0683ca1e6334cc832e9371ab34418bbbf/ignite/metrics/accuracy.py#L62-L77
Modified code
[code]
The value of the parameter `_num_classes` is not important, it is used to ensure the consistency of `y_pred` in `update` calls. So `None` should be an acceptable value.

@vfdev-5 thoughts ?

[2020-03-22 16:17] sdesrozis commented on #822
In test
[code]

[2020-03-22 20:59] kai-tub commented on #843
Hi,
I would like to contribute. :)
But the documentation of throughput_benchmark is rather short.
For example, I can't figure out, what the point of `x2=input[1]` is.
Looking at the documentation it doesn't seem like anything is done with this value.

Looking at the C/C++ binding (which I have very little experience with) https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/throughput_b

[2020-03-22 21:38] vfdev-5 commented on #822
If we make argmax optional, then in the branch `elif y.ndimension() == y_pred.ndimension():` we can have the following situations:
- binary case : `y: (N, ...)`, `y_pred: (N, ...)` and `y ** 2 == y` and `y_pred ** 2 == y` (as previously)
- multilabel case :  `y: (N, C, ...)`, `y_pred: (N, C, ...)` and `y ** 2 == y` and `y_pred ** 2 == y` (as previously)
- multiclass case (new) : `y: (N, ...)`, `y_

[2020-03-22 22:20] vfdev-5 commented on #843
Hi @kai-tub, that's great! Thanks for that.

Well, I agree that first of all, we need to understand how ThroughputBenchmark is working.

I think `input` in the example are just samples (without targets), same as the inputs of forward of the module ...

What should the ignite wrapper provide for value? Should it automatically move the model to a given device similar to create_supervised_*? Should i

[2020-03-22 22:24] kai-tub commented on #843
But given that it seems to be a tuple, it looks more like a batch to me. 🤔

I agree

Sure! Feel free to throw around some ideas. :)

[2020-03-23 08:44] sdesrozis commented on #822
Ok, so I use the predicat `y ** 2 == y` and `y_pred ** 2 == y` to discriminate, I got it.

[2020-03-24 04:36] snie2012 commented on #841
@vfdev-5 How about smaller versions like 0.3.1 and so on? Would like to have them on PyPi

[2020-03-24 08:57] VinhLoiIT opened #848 "Set alpha value to 0 for RunningAverage"
## ❓ Questions/Help/Support
When I look at the source code of `RunningAverage` class, I see that there is a factor variable, `alpha`, which is set to `0.98` as default. As far as I know, this is to smooth the value of a metric like this:
[code]

The use case is that I want to log my metrics during validation time (using `contrib.metrics.ProgressBar`), these metrics should not be smoothed, however.

[2020-03-24 09:49] vfdev-5 commented on #848
@VinhLoiIT `RunningAverage` is mostly used to average values during the training: batch loss, etc
When setting alpha to 0, there is no point to use `RunningAverage`, so just skip it.

Could you please detail your use case, such I could help better with the problem.

PS:

It is also possible to remove TB smoothing on the UI.

[2020-03-24 10:13] VinhLoiIT commented on #848
The use case is that I use `RunningAverage` while validating, because it will trigger my metric computation every iteration (which can then pass to the tqdm logger `ProgressBar` class), and it supports epoch bound. Therefore, by setting alpha to zero, I would have the raw value of my metric while iterating through the validation set but still have the correct average at the end of the phase

The p

[2020-03-24 10:35] vfdev-5 commented on #848
Normally, it should not trigger metric's computation.

OK, I think I understand your use-case, probably it would be better to do like that:
[code]

Could you please raise a new issue on that. Thanks!

[2020-03-24 10:48] kai-tub commented on #843
Ok, so I've done a couple of quick experiments:
[code]
This is a minimal working example for the ThroughputBenchmark.

Everything that is added with: `add_input` will be used in the forward function of the model. In my upper example, only `X` is used in the forward function and if `x2=` is used, as in their example: `bench.add_input(input[0], x2=input[1])` will produce the following error:
`TypeEr

[2020-03-24 12:17] VinhLoiIT commented on #848
First of all, let me show you my case:

I have written my own custom metric base on class `Metric` [as in this tutorial](https://pytorch.org/ignite/metrics.html#how-to-create-a-custom-metric).

[code]

So at a glance, this is similar to `Accuracy` class.

When I attach to the evaluator, it would call the `Metric`'s attach method right?
[code]
So when I look at the `Metric`'s attach method:
[code]

[2020-03-24 13:15] sdesrozis commented on #822
Consider `y: (N, ...)` and `y_pred: (N, ...)`. During `update` calls, type should switch from `mutliclass` to `binary` and vice versa, it depends on the values and the test to check if `y` and `y_pred` lead to binary type.

It means we can't infer the type of the metric using `update`. Right ? Is it an information given by user (we have multilabel, why not binary ?).

@vfdev-5 thoughs ?

[2020-03-24 13:20] vfdev-5 commented on #848
@VinhLoiIT yes, your reasoning is correct about how `Accuracy` and `Metric` are working.

Maybe we can think to provide a specific interface for such iteration-wise metrics.
cc @justusschock @ykumards any thoughts ?

This is OK as metrics computation in general use-case is to compute single value over a list of batches and not of a single batch.

[2020-03-24 13:25] kai-tub commented on #843
Here is one example I came up with, which is nothing more than a tiny wrapper around the module.
The only addition I've done is to allow the user to specify an `input_transform` which would allow them to use their loader of the dataset and select the correct input.

[code]

I don't think this should be attached to an engine, as the model should be converted to the ScriptModule for "correct" testin

[2020-03-24 13:39] justusschock commented on #848
I think, we should definitely have an interface for that. I also agree that if you set alpha to 0, you don't have a running average any more.

Instead we should probably have a mixin class that handles that and should derive `RunningAverage` from this class

[2020-03-24 14:23] justusschock commented on #843
I think, I would like that as a context manager similar to what we decided in #596
This way you would have a benchmark at the beginning and later on you could just do your training in the very same script

[2020-03-24 16:24] VinhLoiIT commented on #848
I personally think that `RunningAverage` is fine, just interpret `alpha` parameter as a **smoothing** factor, so that it can be in range of [0..1]. `alpha=0` means I do not want to smooth then it should return the raw value of the metric.

[2020-03-24 16:42] kai-tub commented on #843
Hmm. So now my approach would look something like this:
[code]

Problems I have with this approach:
- I have to access the data part of the batch. The user has to make sure that the batch is correctly transformed to the desired data, especially if they use `create_supervised*`'s `prepare_batch`. Maybe a note in the docstring would be enough.
- The user could be inclined to benchmark the complete d

[2020-03-24 17:17] vfdev-5 commented on #848
I thought about adding an option to `Metric.attach`, something like this : https://github.com/pytorch/ignite/pull/644 or just put an option for batch-wise computation...

[2020-03-24 17:51] justusschock commented on #848
@vfdev-5 Sounds good as well

[2020-03-24 17:54] justusschock commented on #843
You could use an argument max_batches together with a counter for this. And I think a note in docstrings should be sufficient

[2020-03-24 19:14] kai-tub commented on #843
I've used a custom `event_filter` (mostly because I just want to get more familiar with the code)
[code]

I hope it is fine, that I am not including the docstrings and the input tests here, to keep the output short and because we are still discussing the design. (These are my first contributions to OS projects, sorry for asking trivial questions sometimes)

[2020-03-25 07:13] justusschock commented on #843
IMO this looks fine. Can you maybe open a PR on that and write tests and a short example for this part? This way it would become easier for us to see, if this works or not and we can comment on more specific parts on the code!

[2020-03-25 09:13] CDitzel commented on #818
so you are saying this is a feature rather than a bug?

[2020-03-25 10:32] vfdev-5 commented on #818
@CDitzel could you please provide a minimal snippet to reproduce your case ?

[2020-03-25 11:06] vfdev-5 commented on #843
@kai-tub thanks for the code, yes, it looks fine. Please, open a PR. We have some guidelines on  how to contribute: [CONTRIBUTING.md](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md). Please, feel free to ask questions if something is not clear about that :)

[2020-03-25 17:19] VinhLoiIT commented on #848
@vfdev-5 I think it worth to mention that the new metric (e.g., `Running`) should have an option to reset the metric very `reset_interval` (similar to the behavior of  `running_loss` in pytorch [tutorial](https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#train-the-network)), so it can be used in both training and validating. Therefore, to calculate running metrics while training o

[2020-03-25 23:59] vfdev-5 commented on #841
@snie2012 I see, but now in master we have several BC breaking changes such that 0.3.1 is not backward compatible with 0.3.0

[2020-03-26 14:08] VinhLoiIT opened #851 "What is the intuition behind setting different seed between epochs?"
## ❓ Questions

When running the engine, it produces different results each time. I have set the seed globally:
[code]
However, the result is slightly different:
This is the results between two runs
![image](https://user-images.githubusercontent.com/8319105/77654937-4a4b7400-6fa4-11ea-8b97-dd0660432b8b.png)
And this is when I zoom in:
![image](https://user-images.githubusercontent.com/8319105/7765

[2020-03-26 14:15] vfdev-5 commented on #851
@VinhLoiIT idea is to synchronize randomness of dataflow at each epoch. This helps to tackle the problem to resume checkpointed training : https://pytorch.org/ignite/concepts.html#resume-training

However, today this has some issues (eg #795), in 0.4.0 we probably let user to disable this and make it optional.

Are you using cuda with benchmark = True ? Please, also take a look at : https://pytorc

[2020-03-26 14:34] VinhLoiIT commented on #851
Thank you, this solved the problem. After adding:
[code]
at the beginning of the program, it runs exactly the same.

Thank you

[2020-03-26 14:34] #851 closed

[2020-03-26 17:09] bendboaz opened #852 "Multiple ProgressBars Spamming"
## 🐛 Bug description
When using the ProgressBar handler for both my train and my evaluation engine
`train_pbar = ProgressBar()
train_pbar.attach(train_engine)
eval_pbar = ProgressBar(desc="Evaluation")
eval_pbar.attach(eval_engine)`

Or even when using common.setup_common_training_handlers from contrib.engines:
`common.setup_common_training_handlers(train_engine, to_save=to_save, save_every_iters=

[2020-03-26 17:42] vfdev-5 commented on #852
@bendboaz seems like it's tqdm issue ? What is your version of tqdm ? Are you launching the code as a script or in a notebook ?

As a last resort, to avoid too much lines you can set `log_every_iters=100` and have tqdm logging every 100 iterations ...

[2020-03-26 17:47] bendboaz commented on #852
@vfdev-5 my tqdm version is 4.42.1, I'll try and link this issue there as well (though it seems like a question for whoever implemented the ProgressBar class). The script is running in PyCharm (output goes to the PyCharm console), so tqdm_notebook doesn't seem relevant here. Thanks for the quick answer!

[2020-03-26 18:09] vfdev-5 commented on #852
@bendboaz I think your issue is related to PyCharm console. Here is a snippet executed in jupyter notebook and in a terminal.

[code]

<img width="1088" alt="Screen Shot 2020-03-26 at 19 07 05" src="https://user-images.githubusercontent.com/2459423/77681141-3ea48100-6f95-11ea-8c62-0200045b6ffb.png">
<img width="502" alt="Screen Shot 2020-03-26 at 19 03 28" src="https://user-images.githubuserconten

[2020-03-26 20:48] sdesrozis commented on #831
@justusschock you mean something in the idea of what is done in `tensorboard_logger.py` ?
https://github.com/pytorch/ignite/blob/587644fa7ff506323b58a62e4399d798c76b9ce5/ignite/contrib/handlers/tensorboard_logger.py#L446-L456

[2020-03-26 22:49] snie2012 opened #853 "Why is epoch_length required by iterable dataset?"
I noticed that in version 0.4.0, `epoch_length` is mandatory for iterable dataset. I am curious about the rational behind it, since very often we don't know the length of an iterable dataset beforehand and that's why we use them.

[2020-03-26 23:09] vfdev-5 commented on #853
@snie2012 let me try to explain the vision behind it.
First of all, `epoch_length` is just a value that defines after which iteration we need to update epoch's counter. For pytorch dataloader, epoch length is naturally defined by its lenght, but user still has a possibility to set it freely to any value.
Thus, a training run is a number of training steps defined by `epoch_length * max_epochs` (tot

[2020-03-27 00:40] VinhLoiIT commented on #852
I get this error as well, this is due to the tqdm module [issue](https://github.com/tqdm/tqdm/issues/630). Do you open tqdm in a small terminal? *small* means its width does not large enough to print the full line.

[2020-03-27 06:37] bendboaz commented on #852
@VinhLoiIT On the contrary, my terminal is almost double the size of the bar. I think it's a PyCharm issue like @vfdev-5 mentioned, installing WSL stuff to check it on a normal terminal right now.

[2020-03-27 18:17] snie2012 commented on #853
@vfdev-5  I totally understand the motivation. But in many situations we don't know the length of the dataset beforehand and the responsibility is on the data iterator to return an iteration-finished signal. If we manually set an `epoch_length` without knowing the actual length, we will be under-using or over-using the data.

[2020-03-27 19:34] vfdev-5 commented on #853
@snie2012 could you please some concrete examples of this and how we would like to work in such situation ?

From my point of view, any finite-unknown-length data iterator can be transformed into infinite data iterator on user side (eventually by catching StopIteration) and thus user can freely define any epoch length and work with it. What do you think ?

I would like to understand these cases an

[2020-03-28 06:14] snie2012 commented on #853
@vfdev-5 I don't quite follow, maybe I am missing something.

To elaborate what I said, let's assume we have an iterable dataset with 5 batches of data, but we don't know the number of batches beforehand. In this situation, if we pass `epoch_length=3`, we'll only see 3 batches of data in one epoch, less than we should've seen; meanwhile if we pass `epoch_length=8`, we'll see 8 batches of data, mor

[2020-03-28 14:04] vfdev-5 commented on #853
@snie2012 well, in any case I think we should have an idea of approximative size of the iterator.

I see two situations here:
1) finite-unknown-length data iterator is sufficiently large => complete training is to run over the iterator once.
2) finite-unknown-length data iterator is NOT sufficiently large => complete training is to run over the data iterator N times.

In both cases, we should cont

[2020-03-28 14:05] vfdev-5 commented on #852
As it is not related directly to this library, @bendboaz can we close the issue ?

[2020-03-28 14:20] bendboaz commented on #852
@vfdev-5 definitely, thank you.

[2020-03-28 14:20] #852 closed

[2020-03-28 20:59] #774 closed

[2020-03-29 00:04] #830 closed

[2020-03-29 01:14] vfdev-5 opened #855 "Make optional warmup_end_value in create_lr_scheduler_with_warmup"
## 🚀 Feature

It would be interesting to setup a lr scheduler without specifying `warmup_end_value` which can be deduced from provided optimizer:
[code]

[2020-03-29 01:19] vfdev-5 opened #856 "Enable multi params group for LRScheduler and create_lr_scheduler_with_warmup"
## 🚀 Feature

It would be very helpful to enable support of optimizer's multiple params group for `LRScheduler` and `create_lr_scheduler_with_warmup` :
[code]

[2020-03-29 16:00] vfdev-5 opened #860 "Fix CI for python 3.5"
## 🐛 Bug description

Previously we had CI issue with torchvision's version when installed from nightly conda channel. We temporary fixed the CI by installing torchvision from github:
https://github.com/pytorch/ignite/blob/06bde777b8a41821d1f93e74ecef14c044707ee2/.github/workflows/unittests.yml#L30
Today, this seems not work anymore on Python 3.5 :
- https://github.com/pytorch/ignite/pull/858/chec

[2020-03-29 18:20] #831 closed

[2020-03-29 19:29] #855 closed

[2020-03-30 03:57] aeklant opened #863 "fixture 'worker_id' not found"
## ❓ Questions/Help/Support

Hello all,

I'm new to the community. Been using pytorch for a few months and recently started using ignite for some projects and I would like to contribute.

I followed the instructions in the contributing guidelines but when I ran the tests with `pytest -vvv tests` all the ones marked as `distributed` (e.g. `tests/ignite/engine/test_engine.py::test_distrib_cpu`) fail

[2020-03-30 07:49] vfdev-5 commented on #863
Hi @aeklant, thanks for you interest to Ignite and willing to contribute 👍

Distributed CPU tests are launched with `pytest-xdist` package like that
https://github.com/pytorch/ignite/blob/1cb8d0f78e9d4651cb55f96895e1c4ab85392903/.travis.yml#L85-L86

The last line starts 2 workers and thus `local_rank` variable appears.

If you have any other questions, do not hesitate to ask :)
What kind of contri

[2020-03-30 10:24] #860 closed

[2020-03-30 10:38] vfdev-5 opened #864 "Add helper decorators to use event handler or method with specified rank"
## 🚀 Feature

Idea is to simplify the following code:
[code]
into

[code]

[2020-03-30 10:39] vfdev-5 opened #865 "Add W&B logger"
## 🚀 Feature

Add logger to W&B similarly to MLflow, Neptune...

[2020-03-30 13:42] vfdev-5 commented on #786
I close the issue as answered. @Nic-Ma please, feel free to reopen it if needed more support on this subject.

[2020-03-30 13:42] #786 closed

[2020-03-30 15:51] aeklant commented on #863
Hi @vfdev-5,

It looks like that `pytest-xdist` dependency is exactly what I was missing. I managed to run the distributed cpu tests now as you described and they pass. `pytest tests/ -vvv` as described in the contributing guidelines works as well.

Regarding contributions, I don't have something specific in mind but I have been looking at some of the open issues labeled with 'needs-help' and I th

[2020-03-30 15:51] #863 closed

[2020-03-30 16:09] vfdev-5 commented on #811
Closed by #861

[2020-03-30 16:09] #811 closed

[2020-03-30 16:11] vfdev-5 commented on #863
@aeklant sounds good ! How about to start with this issue :
- https://github.com/pytorch/ignite/issues/865
   - this one is not technically complicated, should be rather similar to MLflow logger or similar ones.
- https://github.com/pytorch/ignite/issues/784
  - this is a simple fix, but we need to write a bit more of tests
- https://github.com/pytorch/ignite/issues/750
  - there is a PR on that,

[2020-03-31 11:05] sdesrozis opened #869 "Engine optional in signature of event function"
## 🚀 Feature

The idea is to make optional engine argument in handler:
[code]

PS. Sylvain, I edited a bit the text

[2020-03-31 16:24] WeirdKeksButtonK commented on #853
The concept of "epoch" can usually be applied only to the training phase. And literally one hour ago I ran into a situation when my validation loader was a *finite* iterator and I wanted to run validation over this loader just "until it is exhausted". In fact I had to calculate the exact number of batches (and I can think of situations when I couldn't do it, what would I do then?) just in order to

[2020-03-31 16:39] vfdev-5 commented on #853
@WeirdKeksButtonK yes, this make sense, thanks !
In a draft implementation of engine with `epoch_length` we had such option with unknown `epoch_lenght` that automatically determinates itself on the first `StopIteration`. This added a lot of other checkings and complicated behaviour of `run`. Well, let me think what can be possible to do in your case...

[2020-03-31 16:55] snie2012 commented on #853
Essentially, the current implementation loses the information/control of how many times the data is actually iterated over. IMO, as @vfdev-5 mentioned, getting `epoch_length` automatically on the first `StopIteration` would be an ideal solution, since `epoch_length` can be helpful for purposes like visualization, but getting that length without iterating through it is challenging. Hope ignite can

[2020-03-31 18:50] vfdev-5 opened #870 "Better typing for Engine"
## 🚀 Feature

Improve typing of Engine module, especially for `event_name`.
Currently, it is specified as `str`, but actually can be anything if registered:
[code]

Let's discuss here if we would like to restrict `event_type` to some subset of types or leave as any type.

@sdesrozis, @ykumards
cc @kai-tub as you said you were big fan of typing

[2020-03-31 18:55] vfdev-5 opened #871 "Make epoch_length optional"
## 🚀 Feature

Following discussions and the message: https://github.com/pytorch/ignite/issues/853#issuecomment-606732951 it could be useful to make `epoch_length` optional for finite iterators.

[2020-03-31 20:14] sdesrozis commented on #870
First step, type `Any` should be better than nothing.

[2020-04-01 17:28] #710 closed

[2020-04-01 20:03] sdesrozis commented on #813
What about `copy.deepcopy()` ? Does it work on a `_LRScheduler` ? It could replace the home made replication ?

[2020-04-02 10:43] vfdev-5 commented on #853
I close this issue in favor of #871

[2020-04-02 10:43] #853 closed

[2020-04-02 10:47] vfdev-5 opened #872 "Make Engine with Metrics pickleable"
## 🚀 Feature

Idea is to make `Metric`class pickleable and fix #623
We need to be able to spawn Engine with metrics as suggested in #623

cc @sdesrozis

[2020-04-02 12:19] sdesrozis commented on #872
Yes!! I do it soon 😊

[2020-04-03 05:53] snie2012 commented on #871
@vfdev-5 thanks for opening this issue. I'll be following on the progress. It's currently a blocker for me to move to 0.4.0. Once this is added, I can migrate.

[2020-04-03 06:06] snie2012 opened #874 "Support custom events for metrics update"
Currently for ignite metrics, `update` function is called per iteration. In scenarios like multitasking, there can be metrics for different tasks, and each iteration might only have outputs for a subset of tasks. In this situation, only the metrics associated with those tasks having outputs can/should be updated.

To make it work, I need to overwrite the `attach` function like this:
[code]
This is

[2020-04-03 07:06] sdesrozis commented on #874
Hey, thank you for the suggestion !
To be sure to well understand, could you give pseudo code of your `update` ?

To add some inputs maybe useful, did you check event filtering ?
https://github.com/pytorch/ignite#built-in-events-filtering

The last thing which could help is the detachment of metrics
[code]

[2020-04-03 07:46] snie2012 commented on #874
@sdesrozis Thanks for your quick response!

1. For `update`, I am referring to the build in `update` functions in metrics such as this one for Precision: https://github.com/pytorch/ignite/blob/master/ignite/metrics/precision.py#L136

2. Does event filtering only support filtering on frequency? If that's the case, it won't work, since metrics' updates are irregular

3. I wouldn't vote for detach. I

[2020-04-03 07:56] sdesrozis commented on #874
2. you can filter on what you want and do irregular firing
[code]
Btw, I don't know if this could help you. I will think about your proposal on my side :)

[2020-04-03 09:05] vfdev-5 commented on #818
@CDitzel I think I could reproduce your issue:
[code]
and
[code]

Looks like a bug. Thanks for reporting that !

[2020-04-03 09:47] vfdev-5 commented on #874
@snie2012 thanks for the suggestion !

Could you please detail about your scenario the following question:
- do we need to compute metrics during the training phase = batch-wise metric with updating model ?

[2020-04-03 15:50] fdlm commented on #865
I might be able to help with this. What should the logger be able to log, at minimum, for the first version?

[2020-04-03 15:59] vfdev-5 commented on #865
@fdlm thanks ! Let's start with main wrapper and `OutputHandler` to log scalars.

[2020-04-03 22:03] mcarilli opened #876 "Native automatic mixed precision support"
Native automatic mixed precision support (`torch.cuda.amp`) is finally merged:
https://pytorch.org/docs/master/amp.html
https://pytorch.org/docs/master/notes/amp_examples.html

Apex Amp has many known pain points (extension builds, forward/backward compatibilty, DataParallel support, flaky checkpointing, i don’t even know if it can be hacked to handle double backward/gradient penalty, others…). `t

[2020-04-03 22:24] #794 closed

[2020-04-04 01:36] sdesrozis commented on #870
I suggest to use `Any` rather than `str` (and used with `int`,  etc.)

@vfdev-5 @kai-tub @ykumards  ??

[2020-04-04 01:37] sdesrozis commented on #829
Should we do that ?

@vfdev-5 ?

[2020-04-04 08:45] vfdev-5 commented on #870
@sdesrozis go ahead with a PR, please

[2020-04-04 12:53] DhDeepLIT opened #878 "simple arg name mismatch for mnist tensorboard example"
## 🐛 Bug description

Example for mnist with tensorboard does not work due to wrong arg name.

Traceback (most recent call last):
  File "mnist_with_tensorboard.py", line 161, in <module>
    run(args.batch_size, args.val_batch_size, args.epochs, args.lr, args.momentum, args.log_interval, args.log_dir)
  File "mnist_with_tensorboard.py", line 89, in run
    writer = create_summary_writer(model, tr

[2020-04-04 13:19] vfdev-5 commented on #878
@DhDeepLIT thanks for the report !
It looks like to be related to different signatures of SummayWriter between torch internal tensorboard and tensorboardX:
- https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter
vs
- https://github.com/lanpa/tensorboardX/blob/master/tensorboardX/writer.py#L210

[2020-04-04 13:26] vfdev-5 commented on #878
@DhDeepLIT if you would like to contribute, do not hesitate to send a PR with a fix.
Seems like there are only two places where need to change: `logdir` -> `log_dir`:
- mnist_with_tensorboard.py
- mnist_save_resume_engine.py

[2020-04-04 14:35] #870 closed

[2020-04-04 14:49] vfdev-5 opened #880 "Initialize engine.state before calling run"
## 🚀 Feature

Idea is to improve flexibility of Engine and simplify user code by initializing `engine.state` before calling `run`.

What we gain:
[code]

[2020-04-04 16:03] sdesrozis commented on #880
Ok so, `state` should be allocated (and not `None`) in `__init__`, maybe with some initial values. Then, `state` is reset when `run` is called. Did I catch the meaning of this issue ?

[2020-04-04 16:06] sdesrozis commented on #880
It means
[code]
should be replaced by an update :
[code]
Indeed `self.state` should keep values set by users.

Is it ok?

[2020-04-04 18:07] CDitzel commented on #818
I just saw your reply, Thank you for getting back to me on that.

[2020-04-04 18:13] sdesrozis commented on #880
@vfdev-5 @ykumards ?

[2020-04-04 18:25] vfdev-5 commented on #880
@sdesrozis maybe it wont be only that. We need to ensure that Engine follows well the requirements (https://github.com/pytorch/ignite/pull/640#issue-325080815) :
[code]
It is sort of partial initialization such that state is defined for flexibility, but it has some additional field to satisfy above requirements.

[2020-04-04 18:27] sdesrozis opened #881 "Global settings"
## 🚀 Feature

The idea is to provide a global settings tool to help the configuration
[code]

and

[code]

Parameters passed to method are used in priority
[code]

[2020-04-04 20:14] vfdev-5 commented on #876
To close this issue, we can provide a colab notebook based on [Training Cycle-GAN on Horses to Zebras](https://github.com/pytorch/ignite/blob/master/examples/notebooks/CycleGAN.ipynb)

[2020-04-04 21:44] bendboaz opened #886 "utils.convert_tensor considers `device = 0` to be no device"
## 🐛 Bug description
In utils.convert_tensor, this line appears:
`return tensor.to(device=device, non_blocking=non_blocking) if device else tensor`

This means that for `device = 0` (as returned from `torch.cuda.current_device`) no conversion is applied, which can be very confusing. I might add a PR for that tomorrow, unless people tell me there's a reason to leave that line as it is.

For reprodu

[2020-04-04 22:07] vfdev-5 commented on #886
Thanks for the report @bendboaz ! Yes, please send a PR to fix that with `if device is not None`

[2020-04-04 22:44] mcarilli commented on #876
That would be great!  Did you already try it and it worked?

[2020-04-04 23:16] #878 closed

[2020-04-05 08:42] #886 closed

[2020-04-05 20:18] #864 closed

[2020-04-06 18:48] vfdev-5 commented on #865
@fdlm  feel free to ask if you need help to implement it.

[2020-04-06 18:48] vfdev-5 opened #892 "Add Trains logger"
## 🚀 Feature

Add logger to [Trains](https://github.com/allegroai/trains) similarly to Neptune, MLflow, ...

[2020-04-06 21:41] bmartinn commented on #892
Hi @vfdev-5
That is a great idea!
I'll open an issue on [Trains](https://github.com/allegroai/trains/), for the sake of complete transparency, but we can continue the technical discussion here.

A quick question, what do you think is the most complete (feature wise) back-end logger for us to take as an example template ?
I would imagine [Tensorboard](https://github.com/pytorch/ignite/blob/master/i

[2020-04-06 21:50] vfdev-5 commented on #892
Hi @bmartinn
yes, we can Tensorboard as an example.
If you would like to add audio logging to Trains logger, no objections.
Concerning images, it can be tricky to provide a generic logger for every type of images (RGB 8b=OK, multi-bands M-bits=> needs rendering) and satisfy everyone with a simple interface. So, we skipped this. That being said, maybe, we can think to provide a logging for the simp

[2020-04-06 22:08] bmartinn commented on #892
Hmm @vfdev-5 I can totally see what you mean, both audio/image do not have a unified format, even channel order is a thing...

That said I think it makes a lot of sense to allow at least a simple way to upload images (I guess that's the most trivial use case).

Is `pillow` already in the `requirements` ? If so we could just support `PIL.Image`, if not we can just do 3-channel 8-bit `numpy` array w

[2020-04-06 22:20] vfdev-5 commented on #892
Well, we do not have PIL, neither numpy in requirements. Anyway, I think what can we do is to expose your `task` (or `experiment`) instance which can log according to your API. It is done for Tensorboard in the same way: https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/tensorboard_logger.py#L458

What do you think ?

IMO, logging just single batch of images wont make much sens

[2020-04-06 22:59] bmartinn commented on #892
Looks good to me, I think we will have the `trains.Task` and the `trains.Logger` as two properties, but that sounds like something that will be easy to implement and quite useful :)

*Trains* allows to log multiple batches, on a per step/iteration basis, but it seems what you are suggesting is adding the ability to attach some meta-data with the image itself (like text or json), is that right?

[2020-04-06 23:18] vfdev-5 commented on #892
Sorry, maybe I was not clear about that. I was talking about to log images and targets like that:
![t](https://raw.githubusercontent.com/pytorch/ignite/master/examples/references/classification/imagenet/assets/tb_dashboard_images.png)
or as here
![individualImage](https://user-images.githubusercontent.com/2459423/78613839-25d97c80-786d-11ea-91f5-1ab0bb981b5b.png)
It is an image from tensorboard wi

[2020-04-06 23:32] bmartinn commented on #892
@vfdev-5 I see, okay that's already supported , and quite easy to achieve with the `trains.Logger`
With that in mind, I think that actually adding metadata on top of the image might be useful as well, food for thought I guess :)

[2020-04-06 23:39] bmartinn commented on #892
Okay, I guess next step PR :)

[2020-04-06 23:40] vfdev-5 commented on #892
@bmartinn yes, please, go ahead :)

[2020-04-07 03:34] snie2012 commented on #874
Sorry for the late response.

@sdesrozis
Unfortunately that doesn't work, because I don't know the filter cadence beforehand. It can be random during training.

@vfdev-5
I am actually talking about epoch-wise metric. But those metric will only be updated in a subset of all iterations. Does this clarify your question?

[2020-04-07 03:51] sdesrozis commented on #874
Ok I understand your need :) Let's see how address that.

[2020-04-07 06:07] ritzvik commented on #881
@sdesrozis I know a repo which uses `.cfg` file for configuration. Check it out [here](https://github.com/timothycrosley/isort/blob/a04700812bd4b9eb687065d1199b52bb8e045774/isort/settings.py) . The file hyperlinked is the one responsible for handling global settings. With a little more clarity on this, I can proceed with working on it.

Thanks!

[2020-04-07 07:06] sdesrozis commented on #881
Thank you for the rss 😊

[2020-04-07 07:49] ritzvik commented on #881
Sure :)

[2020-04-07 09:07] sisp opened #896 "Use isort for consistent PEP8-compliant imports layout"
## 🚀 Feature

I propose to use [`isort`](https://github.com/timothycrosley/isort) to automate and enforce [PEP8-compliant imports layout](https://www.python.org/dev/peps/pep-0008/#imports), especially:

Automated code quality tools lead to more consistent code and ease code review as code style is checked automatically. Ignite already relies on `black` for code formatting and uses `pre-commit`. In

[2020-04-07 09:45] sisp opened #897 "PyTorch dependency is lacking version constraint"
## 🐛 Bug description

PyTorch is a dependency of Ignite and, thus, is specified in `setup.py`

https://github.com/pytorch/ignite/blob/4b311cc82fe45b3082661125cd7ee54007283fb0/setup.py#L24-L26

and `conda.recipe/meta.yaml`:

https://github.com/pytorch/ignite/blob/4b311cc82fe45b3082661125cd7ee54007283fb0/conda.recipe/meta.yaml#L15-L23

The PyTorch dependency is lacking a version constraint which may

[2020-04-07 10:02] vfdev-5 commented on #896
@sisp thank a lot for this suggestion! I agree, this would be a great addition !
If you would like to send a PR with that, it would be great :)
Do you think we could even set it in autopep workflow : https://github.com/pytorch/ignite/blob/master/.github/workflows/autopep8-black.yml for automatic formatting ?

[2020-04-07 10:09] vfdev-5 commented on #897
@sisp this makes sense, thanks for the suggestion !
Currently, we maintain and test the compatibility with the latest stable and nightly version of PyTorch.
Yes, I think we can add `>=1.0,<2` as compatible release constrain.

[2020-04-07 10:21] sisp commented on #896
I'd be happy to send a PR. I've not worked with GitHub Workflows, but I see no reason why it shouldn't be possible.

[2020-04-07 10:25] vfdev-5 commented on #896
@sisp sounds good !

Concerning Github Workfow, we can try to use: https://github.com/marketplace/actions/sort-your-python-imports-with-isort
[code]
and insert it into existing [autopep8-black.yml](https://github.com/pytorch/ignite/blob/master/.github/workflows/autopep8-black.yml) (maybe renaming it into autopep8-black-isort.yml ?)

[2020-04-07 14:17] sdesrozis commented on #897
We should provide tools to configure virtual envs with good like this `conda.yaml`
[code]
usable like `conda env create -f conda.yml`

[2020-04-07 14:18] sdesrozis commented on #897
and `Dockerfile` maybe

[2020-04-08 08:51] sdesrozis commented on #881
So, at the moment, there is no consensus in the team about this.

I suggest to propose APIs to help to bound the PR. What is clear from now is that we don't need to parse configuration files. Althought, thanks for the link :)

We prefer a settings dict in the `ignite` scope. How to define it and fill it is to be designed by APIs. This dict should be used in core tools (metrics, handlers, etc.) to

[2020-04-08 12:02] vfdev-5 commented on #830
A follow up on this. There can be a potential issue of the #835 when we reload state dicts from a checkpoint:
[code]

This is almost exactly the save what happens with delayed model move to device in `create_supervised_trainer`.

[2020-04-08 13:14] Muhamob opened #898 "Mistake in MLflow logger documentation"
MLflow log_params(params: dict) method accept dict, not arguments.

https://github.com/pytorch/ignite/blob/4b311cc82fe45b3082661125cd7ee54007283fb0/ignite/contrib/handlers/mlflow_logger.py#L202

[2020-04-08 13:18] vfdev-5 commented on #898
Yes, you are right. I fixed this in the examples but forgot about the docs. If you would like to contribute, please feel free to send a PR with removing `**`. Otherwise, I can do this.

[2020-04-08 13:37] Muhamob commented on #898
Yes, I can send PR

[2020-04-08 13:48] milongo opened #899 "How do I attach both train and validation metrics to evaluator engine?"
Hi,
I'm using Comet-ml to do hyperparameter search. Comet-ml basically asks for a 'fit' function that registers a final training loss. But it also allows for multiple metric logging which I would like to do.
So I'm trying to get my evaluator engine to hold train and validation metrics. Something like this:

[code]
But I don't know if event handlers can return things. After running an epoch I see t

[2020-04-08 13:51] kai-tub commented on #830
I don't know if I understand your point.
The user wants to run a training procedure with an optimizer.
So following the note from PyTorch's optimizer section:
https://pytorch.org/docs/stable/optim.html#constructing-it
The user should first move the model to the wanted device and then construct the optimizer. So wouldn't this be wrong user behavior? Although most optimizers are still working, this

[2020-04-08 15:16] vfdev-5 commented on #830
@kai-tub thanks for the links, so according to the docs and the comment. Seems like it does not make sense at all to send model to a device in `create_supervised_trainer` while optimizer is already defined.

Concerning your use-case:

How did your model get back to GPU for the training ? And according to the docs, probably, it can cause an issue with the optimizer as model's params got back on GPU

[2020-04-08 15:25] vfdev-5 commented on #899
Hi @milongo
Maybe you can store them into another state's attribute:
[code]

Otherwise, maybe you can directly log them to Comet-ML (based on this : https://pytorch.org/ignite/concepts.html#events-and-handlers):

[code]

HTH

[2020-04-08 15:40] #898 closed

[2020-04-08 15:56] kai-tub commented on #830
Yes, seems like it would be better to not move the model in `trainer`.

In my case, I only used these evaluators after the training procedure.
So there was no need to move the model back in-between steps.
But I initialized both at the same time and that is how I saw the "bug".

I don't see a good way how we could still move the model in the function.
Right now, I would favor removing the model mov

[2020-04-08 19:55] vfdev-5 opened #902 "Avoid moving model to device in create_supervised*"
## 🚀 Feature

As discussed [here](https://github.com/pytorch/ignite/issues/830#issuecomment-611041703) and previous messages, according to pytorch docs on model and optimizer. User should not move model to another device after constructing an optimizer for the model:
- https://pytorch.org/docs/stable/optim.html#constructing-it
- https://github.com/pytorch/pytorch/issues/7844#issuecomment-503713840

[2020-04-08 20:07] vfdev-5 opened #903 "Add examples to GPU CI"
## 🚀 Feature

Task is to setup examples smoke tests on single GPU CI.
Examples are run on Github CI :
- https://github.com/pytorch/ignite/blob/master/.github/workflows/unittests.yml#L51
we need to be able to run them on GPU to ensure correct behaviour.

cc @ykumards @sdesrozis

[2020-04-08 22:31] vfdev-5 commented on #881
Another config to put:
- for tqdm: "autonotebook", "cli", "notebook" (currently `from tqdm.autonotebook import tqdm`). Sometimes, I would like to force to have "cli"-type instead of "autonotebook".

[2020-04-09 02:32] g-karthik opened #906 "ModelCheckpoint's _saved variable and EarlyStopping"
I'm using ignite 0.2.1 similar to the transfer-learning-conv-ai repo by Hugging Face. In these [lines](https://github.com/huggingface/transfer-learning-conv-ai/blob/master/train.py#L251L263), you can see that:
- the checkpoint is being saved for every epoch
- just the last three saved checkpoints are being retained on disk
- the last checkpoint (due to `_saved[-1]`) is being renamed to be the fina

[2020-04-09 10:36] vfdev-5 opened #907 "Improve project's information"
We need to update/provide information about the project: roadmap, clear gouvernance: who are maintainers, how to become a maintainer, etc

Actions:
* [x] setup page "about us" in wiki or website like here (https://scikit-learn.org/dev/about.html), add link to README.md
* [x] update "contributing guide" based on https://scikit-learn.org/dev/developers/contributing.html
* [x] add website link to REA

[2020-04-09 11:34] sdesrozis commented on #906
Thank you for this report +1

I don't have `ignite 0.2.1` in mind but for checkpoint, did you see that
[code]
This snippet is from https://github.com/pytorch/ignite/blob/master/ignite/contrib/engines/common.py to help to define handlers.

So it's possible to save wrt to a metric :)

[2020-04-09 11:56] sdesrozis commented on #907
All the points are very helpful for the project :)

Really excited to see the first tweet from `ignite` :)

[2020-04-09 12:33] vfdev-5 commented on #906
@g-karthik please tell us if @sdesrozis 's solution does not fit.

Please, the [release notes of 0.3.0](https://github.com/pytorch/ignite/releases/tag/v0.3.0) and keep us updated if you have other questions :)

[2020-04-09 19:16] kai-tub commented on #865
I also thought about contributing to this feature, but due to time constraints and still having open issues (sry 😅 ) I decided not to, but I would like to put in my 2ct:
- Due to the high flexibility of wandb I would go for an implementation style like in [ml-flow-logger](https://github.com/pytorch/ignite/blob/master/ignite/contrib/handlers/mlflow_logger.py)
- A possible issue would be the differe

[2020-04-09 19:18] kai-tub commented on #902
Hi, I would like to work on this and complete the work I've started. :)
When this issue is closed I will come back to my `tiny_benchmark_wrapper`.

[2020-04-09 19:20] vfdev-5 commented on #902
@kai-tub sounds good, thanks !

[2020-04-09 19:47] kai-tub commented on #902
One quick question, what do you mean by:

Is a normal `Note:` environment in the docstrings sufficient? Or do you mean warning from `import warnings`?

[2020-04-09 19:50] vfdev-5 commented on #902
Good question, I mean this
[code]
which is rendered as here: https://pytorch.org/ignite/metrics.html#ignite.metrics.EpochMetric

[2020-04-10 00:04] #902 closed

[2020-04-10 01:14] vfdev-5 commented on #907
All done => Close the issue

[2020-04-10 01:14] #907 closed

[2020-04-10 17:01] fdlm commented on #865
I agree, and I think the general logging framework of ignite allows for a very flexible solution. Basically, you can attach output handlers to engines at the desired `Event`, so you get to decide if you log after each step, or after each epoch. Additionally, you can decide which "step" the logs should be attached to by providing the corresponding `global_step_transform` function.

So I think it's

[2020-04-11 10:55] Minyus opened #912 "Higher API for training"
## 🚀 Feature

Higher API for training will improve usability of Ignite as Keras did.

My implementation [here](https://github.com/Minyus/pipelinex/blob/master/src/pipelinex/ops/ignite_ops.py) could be used as the base code.

[2020-04-11 11:03] sdesrozis commented on #912
Thank you for this PR and your help !!

Let’s discuss and design now about this very nice feature 😊

[2020-04-11 12:38] sdesrozis commented on #912
I really enjoy the idea to have open (and clear) core tools (`engine`, `handlers`, etc.) and an api helper for compose app mixing these core tools  👍🏻

As we discussed in slack channel, we could think about very high level feature including graphical frontend. Although first step is focused on trainer 😊

Could you use your api on some examples from `ignite/examples` ? Thank you again!

[2020-04-11 12:42] vfdev-5 commented on #912
In my opinion, it would be interesting to create something like
[code]

cc @ericspod

[2020-04-11 13:55] vfdev-5 opened #913 "Add state_dict user keys"
## 🚀 Feature

There can be cases when user would like to save some custom state attributes when storing the engine. It can be helpful if `engine.state_dict` could return in addition user defined keys.
Proposed API:
[code]

[2020-04-11 14:19] sdesrozis commented on #913
It is not wanted to save automatically all what is added in `state` ?

[2020-04-11 14:21] vfdev-5 commented on #913
No, as we can have non-serializable or other large objects that are just for exchange purposes...

[2020-04-11 16:25] sdesrozis commented on #913
Ok an alternative could be to specify what should not be saved despite what should be saved. It depends on what the nominal scenario is.

[2020-04-11 18:10] #869 closed

[2020-04-11 21:32] sdesrozis commented on #903
How to test a configuration in CircleCI ? I think there is a better way than submit a PR, isn't it ? :)

[2020-04-11 21:34] vfdev-5 commented on #903
@sdesrozis you can push into pytorch/ignite branch (GPU CI tests will be launched) and then PR.

[2020-04-11 21:46] sdesrozis commented on #903
CI is enabled on PR and push actions on every branches ? Or should I push into master ?

[2020-04-11 22:00] #913 closed

[2020-04-12 13:02] vfdev-5 opened #915 "[Typing] Bad type of Events in Timer"
## 🐛 Bug description

Timer class has wrong type (str) for events:
 https://github.com/pytorch/ignite/blob/efc45a79ee0a5bf8105c3caff194758439db2426/ignite/handlers/timing.py#L87-L94

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): master

[2020-04-12 17:05] vfdev-5 opened #916 "Insert logged times into state"
## 🚀 Feature

By default, Engine measures times for single epoch and total run. These times are logged with `engine.logger`:
https://github.com/pytorch/ignite/blob/efc45a79ee0a5bf8105c3caff194758439db2426/ignite/engine/engine.py#L793-L796
and
https://github.com/pytorch/ignite/blob/efc45a79ee0a5bf8105c3caff194758439db2426/ignite/engine/engine.py#L497-L500

 Idea is to put these times (at least `tim

[2020-04-13 09:00] sdesrozis commented on #916
Very good idea!

[2020-04-13 21:21] g-karthik commented on #906
@vfdev-5 @sdesrozis I don't know what `global_step_transform` is for, I definitely don't see it in 0.2.1. But I don't think that is related to my question.

@sdesrozis's answer in EDIT 2 doesn't make sense to me. Should model checkpointing be done by the trainer or the validator? @vfdev-5 Can you please give a clean example of how to do model checkpointing along with early stopping, both based on

[2020-04-13 22:30] vfdev-5 commented on #906
@g-karthik in v0.2.1 it should work like this :

<summary>
Code
<details>

[code]

</details>
<summary>

<summary>
Output
<details>

[code]

</details>
<summary>

HTH

[2020-04-14 05:44] g-karthik commented on #906
@vfdev-5 Thanks for the example!

I think it makes sense now, I was thinking `n_saved` for ModelCheckpoint should be dependent/proportional on `patience` for EarlyStopping if we wanted to fetch the best model. But I understand now that they can be independent. I will try using the evaluator for model checkpointing.

[2020-04-14 05:44] #906 closed

[2020-04-14 10:00] vfdev-5 opened #918 "Handler without engine raises error on filtered events"
## 🐛 Bug description

The following code does not work:
[code]
Output
[code]

## Environment

 - PyTorch Version (e.g., 1.4): 1.6.0.dev20200411+cu101
 - Ignite Version (e.g., 0.3.0): 0.4.0.dev20200412

@sdesrozis could you please take a look. Thanks !

[2020-04-14 13:57] #918 closed

[2020-04-14 14:05] vfdev-5 opened #920 "[Docs] Missing docs on LR finder"
## 🐛 Bug description

LR finder docs are missing:
https://pytorch.org/ignite/master/contrib/handlers.html#module-ignite.contrib.handlers.lr_finder

[2020-04-14 14:29] vfdev-5 opened #921 "Use BasicTimeProfiler during the run"
## 🚀 Feature

1. Idea is to improve the docs with a complete example of usage of `BasicTimeProfiler`
2. Seems like using `BasicTimeProfiler` during the run does not work. It would be interesting to get an intermediate results.

[2020-04-15 00:19] vfdev-5 commented on #892
@bmartinn any updates on that ?

[2020-04-15 00:20] vfdev-5 commented on #865
@fdlm any updates on the PR ?

[2020-04-15 00:23] vfdev-5 commented on #876
- CycleGAN with AMP seems to have some problems.
Closes the issue as we provided a benchmark of AMP (Native, Apex) for Cifar-100: https://github.com/pytorch/ignite/blob/master/examples/notebooks/Cifar100_bench_amp.ipynb

[2020-04-15 00:34] fdlm commented on #865
Finalizing the tests, should have a PR ready later today or tomorrow.

[2020-04-15 08:32] vfdev-5 opened #925 "Improve the docs and README"
## 🚀 Feature

According to the feedback we had from various sources:

Other nice examples:
- https://github.com/pytorch/botorch/blob/master/README.md

[2020-04-15 09:39] bmartinn commented on #892
Hi @vfdev-5 , yes... with current affairs, holidays, and a new version things are bushed back.
That said, I'm hoping to have it next week.
When is the next release scheduled?

[2020-04-15 09:46] vfdev-5 commented on #892
@bmartinn sounds good ! We plan the next release in middle/end of May.

[2020-04-15 17:21] #921 closed

[2020-04-16 11:24] czotti opened #927 "Maybe unintended changes in ModelCheckpoint"
## ❓ Questions/Help/Support

I have been using ignite for quite some time now and recently I came across a change from the ModelCheckpoint I'm aware of the BC with v0.3.0.
Still I want to know if it was the intended behavior.

Before we would be able to do something like this to save parameters and optimizer:
[code]

This will save two files the optimizer `/tmp/models/myprefix_optimizer_{iteration

[2020-04-16 12:02] vfdev-5 commented on #927
@czotti since v0.3.0 `ModelCheckpoint` and `Checkpoint` store all objects to save in a single file instead of multiple files in previous versions. ([test](https://github.com/pytorch/ignite/blob/39c4a8e2ef9a2a6c3a6109abc395ad39316349d8/tests/ignite/handlers/test_checkpoint.py#L675))
Idea is to simplify the loading of all objects to resume a training with a single `torch.load`:
[code]
Yes, to save i

[2020-04-16 12:59] czotti commented on #927
Oh I didn't know you could load the checkpoint like this, it's fine to me. Maybe add this code snippet in the documentation to show how to load the checkpoints because at first I was doing it by hand like this or with a for loop like the `load_objects` if I have more state_dict to load.
[code]

[2020-04-16 13:19] vfdev-5 commented on #927
@czotti good idea, thanks ! Seems like `Checkpoint.load_objects` is not picked by sphinx to render the docs.

PS: if you would like to contribute to Ignite by improving our docs, do not hesitate to send a PR, it would be very helpful for us !

[2020-04-16 14:50] #927 closed

[2020-04-16 21:38] vfdev-5 commented on #899
@milongo can we close the issue as resolved ?

[2020-04-17 04:53] prclibo opened #929 "Possibility for deterministic data augmentation in `Dataset`"
## ❓ Questions/Help/Support

Hi I noticed that random augmentation happening inside a `Dataset` is not yet deterministic if resuming from the middle of an epoch. So I would like to ask if this could be possible at the current design of ignite and pytorch.

A short dig into the question results me several difficulties:

1. Random seed is updated per epoch in ignite. So when resuming training at ite

[2020-04-17 06:58] snie2012 commented on #871
Any update on this?

[2020-04-17 07:30] vfdev-5 commented on #871
@snie2012 this is currently blocked by https://github.com/pytorch/ignite/pull/895

Once it is merged I can try integrate this option `epoch_lenght=None` for iterators and ensure that all tests are passing.

[2020-04-17 08:53] sdesrozis commented on #929
Thanks for your question. I don't have input on that atm.

@vfdev-5 ?

[2020-04-17 10:43] vfdev-5 commented on #623
@Darktex sorry for late answer on this issue, seems like we found out the probleme with metrics we had to `dill` them (https://github.com/pytorch/ignite/pull/884/files#diff-eb79c89d36d424b0ace62f61e7c25dd4R295).
Could you please provide the code of your `DistributedEngine`
[code]
such that we could test your fix ? Thanks !

[2020-04-17 12:32] vfdev-5 commented on #929
@prclibo this is a good question, thanks !

Yes, this is a tough task to resume from an interation with all possible randomness that could be encountered, e.g dataflow (random sampling, data augs), model (dropout), random handlers etc...

Maybe, ultimately deterministic run can be done with synchronizing rng states on each iteration what leads to large overhead. And even in this case data prefetch

[2020-04-17 13:44] prclibo commented on #929
@vfdev-5 Thanks for the reply and it is nice to know there are some PRs dealing with similar questions.

I agree that data prefetching will easily break the rng state synchronization strategy. Not to mention that things are messier when DataLoader is executed multi-threaded. Will you have plan to deal with this prefetching or multi-thread case? My naive idea is to bind each data index with a corre

[2020-04-17 18:59] bhedayat opened #932 "Using ProgressBar with IterableDataset"
## 🐛 Bug description

Hello,

I cannot get IterableDataset to work with ignite.contrib.handlers.ProgressBar.
I followed https://github.com/pytorch/ignite/issues/618 and was able to successfully run
`trainer.run(map(lambda x: x, train_data_loader), max_epochs=1, epoch_length=2)`.
But when I added ProgressBar as an event_handler i get error below.

[code]

Here is my use case and replication of the

[2020-04-17 19:52] vfdev-5 commented on #932
@bhedayat thanks for reporting. This bug was previously fixed on master. Please, use nightly release if possible:
[code]

[2020-04-17 20:07] vfdev-5 commented on #929
@prclibo Ignite deals with data sampling to make it deterministic in the following way if dataloader is torch `DataLoader` of cause:
1 replace batch sampler by custom batch sampler
2 get all sample indices for 1 run of dataloader before restarting
3 register them in custom batch sampler and use during the run
4 on dataloader restart, repeat from 2

[2020-04-17 22:07] vfdev-5 opened #934 "Add new events"
## 🚀 Feature

Idea is to add supplementary events to Checkpoint/ModelCheckpoint, EarlyStopping  and maybe some others:
[code]

[2020-04-17 22:53] #623 closed

[2020-04-17 22:55] vfdev-5 commented on #872
Closed by #930

[2020-04-17 22:55] #872 closed

[2020-04-17 23:27] vfdev-5 commented on #915
In addition to that, fix all `Any` type hints that were put to avoid circular deps by type hints as strings (https://docs.python.org/3/library/typing.html#typing.ForwardRef):
https://github.com/pytorch/ignite/blob/c8e0089d90b13362727a6d108e44a100a07714e4/ignite/engine/events.py#L48-L51

[2020-04-17 23:36] #903 closed

[2020-04-18 03:45] amatsukawa opened #935 "Improvements around ReproducibleBatchSampler."
## 🚀 Feature

IMHO an attempt should be made to not wrap or change the data pipeline objects. Despite the name, this `ReproducibleBatchSampler` seems to be about making datasets *resumable* from the middle of an epoch by skipping the first few examples, rather than being *reproducible* since it doesn't appear to set any seeds on the samplers.

(If this is not the case, I think the point is even st

[2020-04-18 07:35] vfdev-5 commented on #935
@amatsukawa thanks for the report. Yes, we also agree on that and since v0.4.0 it will be optional. See #895 . Default behaviour will be to run as is without patching the dataloader and without dataflow sync.
Please, take a look at #895 and tell me what do you think about it ?

[2020-04-18 09:06] sdesrozis opened #936 "TimeLimit handler for competitions"
## 🚀 Feature

What do you think to be able to terminate a run after a time of computation ? This would be useful for using ignite on runtime environments like Colab or Kaggle which limit the time of session.

An implementation of such handler is available here and can be reused : ~https://github.com/Minyus/pipelinex/blob/master/src/pipelinex/ops/ignite/handlers/time_limit.py~
Updated link: https:/

[2020-04-18 13:12] amatsukawa commented on #935
@vfdev-5 thanks for the response. Glad to see this is already being addressed. The solution in #895 seems good to me.

[2020-04-18 20:37] milongo commented on #899
Yes! Even though I did not use the above solution, I ended up just logging them directly to comet doing
[code]

and passing `experiment` as argument to a `run` function.

[2020-04-18 20:37] #899 closed

[2020-04-18 20:57] amatsukawa commented on #935
I see you've merged in #938, thanks! I was wondering, would you consider doing a 0.3.1 release since it seems this is blocking the workflow of #795? After some exploration, I realized my workflow is blocked also.

It appears this currently does not work: https://pytorch.org/docs/stable/data.html#disable-automatic-batching. When automatic batching is disabled, a sampler that samples a batch of inde

[2020-04-18 20:59] ericspod commented on #912
I have simplified what I use in my code base which @vfdev-5 is referencing [here](https://gist.github.com/ericspod/f4da372d22cc8da420ee74b8968303cd).

The idea is to extend the Engine class with a BaseEngine (a different name would be good) which adds methods for converting between numpy arrays and tensors, wrapper methods around doing forward passes on network and loss functions, and for simplify

[2020-04-18 21:13] vfdev-5 commented on #935
@amatsukawa it is not yet merged to master due to missing updates on examples. It is merged to `new_engine` branch.

Once we merge `new_engine` to `master`, you can install nightly release using pypi as
[code]

If you are blocked by #795, please use the following temporary solution to keep random states
[code]
Thus, you can decorate evaluation handler with `keep_random_state` and after the handler

[2020-04-18 21:22] amatsukawa commented on #935
Thanks for the response! I'm actually blocked by not being able to disable automatic batching. Do you have a suggested workaround for that? I'd love to be able to update to take advantage of the new checkpointing features.

Perhaps I could inherit from Engine and just intercept the function here with a different one? https://github.com/pytorch/ignite/blob/012cf38acdf7697b01968b00d488e2cbf8ed1632/i

[2020-04-18 21:27] vfdev-5 commented on #935
@amatsukawa we are very sorry for that ! We'll update the library soon with more stable v0.4.0 release.

I think what can be temporary done is to convert torch DataLoader into an iterator and specify `epoch_length` in the run:
[code]
Based on #714 (so, probably this work only on nightly release)

[2020-04-18 21:32] vfdev-5 opened #941 "Take into account dataloaders with disabled auto batching"
## 🚀 Feature

Based on discussions from [here](https://github.com/pytorch/ignite/issues/935#issuecomment-615951683)
In deterministic engine, there can be an issue with batch sampler while tried to be replaced by `ReproducibleBatchSampler`.

- https://pytorch.org/docs/stable/data.html#disable-automatic-batching

@amatsukawa could you please provide a minimal code snippet on what issue you experienc

[2020-04-18 21:54] amatsukawa commented on #941
Thanks for tracking this, here's a code snippet to reproduce:

[code]

[2020-04-19 02:20] snie2012 commented on #871
@vfdev-5 Thanks for the quick response. Looking forward to the upcoming updates!

[2020-04-19 14:09] #920 closed

[2020-04-20 08:35] prclibo commented on #929
@vfdev-5 Thanks for the explanation.

[2020-04-20 22:39] holynski commented on #941
I've also run into this issue when attempting to use `IterableDataset` with Ignite.

AFAIK, IterableDataset doesn't support a defined `batch_sampler`, so the replacement with `ReproducibleBatchSampler` results in an error at:

https://github.com/pytorch/pytorch/blob/dbdd0f50f4f25b6d45187e93c8cc5969c8dc794c/torch/utils/data/dataloader.py#L180

I've managed to get around this limitation with this ha

[2020-04-21 01:21] erip commented on #916
I'm interested in working on this, @vfdev-5. What's your envisioned API? Something like `engine.state._complete_epoch()` and `engine.state._complete_train()`?

[2020-04-21 05:23] isolet opened #945 "Engine run starting with max_epochs=1."
## ❓ Questions/Help/Support

Inserting logger settings like

[code]

in the beginning of the [MNIST example](https://github.com/pytorch/ignite/blob/master/examples/mnist/mnist.py) causes logging

[code]

after each epoch is finished and the `1` does not changes. What is this mean?

<img width="720" alt="Screen Shot 2020-04-21 at 1 22 20 PM" src="https://user-images.githubusercontent.com/5475262/79

[2020-04-21 09:43] #915 closed

[2020-04-21 10:12] vfdev-5 commented on #916
@erip thanks ! I was thinking about something like that:
[code]

What do you think ?

[2020-04-21 10:26] vfdev-5 commented on #945
@isolet the message `INFO:ignite.engine.engine.Engine:Epoch[1] Complete. Time taken: 00:00:02` is associated with evaluator and corresponds to the epoch's number of the evaluator as we run only one time over the validation dataset.

To better log multiple engines, we can set the logger with names like that
[code]
and this gives
[code]

HTH

[2020-04-21 13:00] isolet commented on #945
@vfdev-5  I didn't realize that the log was from evaluator... Thanks for the tip!

[2020-04-21 13:00] #945 closed

[2020-04-21 14:28] erip commented on #916
That seems good - it would imply that a timer of some sort will need to be instantiated internal to `Engine.state`, right? I'm trying to think through how the Δt will be computed in the `log_times` call above.

[2020-04-21 14:35] vfdev-5 opened #946 "Unexpected keyword argument 'experiment_name' in Neptune logger"
## 🐛 Bug description

I instantiate the logger as
[code]
and I get the error
[code]

@jakubczakon any ideas why it happens ?

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0): 0.4.0.dev20200418

[2020-04-21 14:44] vfdev-5 opened #947 "KeyError: 'api_token' in NeptuneLogger"
## 🐛 Bug description

When I specify api_token from `os.environ["NEPTUNE_API_TOKEN"]` I have the following warning
[code]

When I remove `api_token`
[code]
there is the following error:
[code]

@jakubczakon shouldn't we explicitly set it up internally to None ?

## Environment

 - PyTorch Version (e.g., 1.4): 1.4
 - Ignite Version (e.g., 0.3.0):  0.4.0.dev20200418
- Neptune: 0.4.111

[2020-04-21 14:52] vfdev-5 commented on #916
@erip Actually, we above snippet is wrong. I fixed it.

Yes, in `run` method or even in `State` by default...

Maybe we do not need any deltas to compute as
- `time_taken` in `_run_once_on_dataset` will give the time for 1 epoch.
- `time_taken` in `_internal_run` will give the time for complete run.

Does it sound good ?

[2020-04-21 15:16] jakubczakon commented on #946
Hi @vfdev-5 I am looking into it right away.

[2020-04-21 15:16] jakubczakon commented on #947
Hi @vfdev-5 I am looking into it right away.

[2020-04-21 15:50] vfdev-5 opened #948 "Improve Neptune logger"
## 🚀 Feature

Idea is to be able use neptune API directly from an instance of `NeptuneLogger`. Same is done for MLflow logger:
https://github.com/pytorch/ignite/blob/29058e2f0e7d753cbd8dbb254652288afa81bda0/ignite/contrib/handlers/mlflow_logger.py#L248-L254

[2020-04-21 15:54] vfdev-5 opened #949 "-"

[2020-04-21 16:13] jakubczakon commented on #948
What would be the benefit @vfdev-5 ?

Currently, you can access neptune experiment directly:

[code]

Which gives you a lot of flexibility (not all).

There are things that you may want to access on the project level (one above experiment) and there is an API for that but I am wondering if that is important for the ignite user.

I am fine with adding this, just would like to understand more.

[2020-04-21 16:16] jakubczakon commented on #946
For simplicity, it is simply called `name` not `experiment_name` in the ignite integration.
It is different than what you can find in the "pure" Neptune API.
Is that a problem @vfdev-5?

[2020-04-21 16:18] jakubczakon commented on #949
What would be the benefit @vfdev-5 ?

Currently, you can access neptune experiment directly:

[code]

Which gives you a lot of flexibility (not all).

There are things that you may want to access on the project level (one above experiment) and there is an API for that but I am wondering if that is important for the ignite user.

I am fine with adding this, just would like to understand more.

[2020-04-21 16:30] jakubczakon commented on #947
Mhm, I see the problem.
I'll fix and PR.

The warning is on the neptune-client side, and it's not going to be converted to errors but still, it shouldn't be there.

[2020-04-21 16:55] jakubczakon commented on #946
@piotrcl could you look into that?

[2020-04-21 16:57] #949 closed

[2020-04-21 17:01] vfdev-5 commented on #948
@jakubczakon idea is to simplify the usage and economize the number of chars to write
[code]

if user would like to access experiment's specific ops, he/she can use
[code]

EDIT: Removed duplicated message

[2020-04-21 17:08] vfdev-5 commented on #946
@jakubczakon well, actually I understand why it is. For example, here is two calls of `log_text` and in UI, we see:
[code]
So, if '\n' were kept, it could be difficult to distinguish. Maybe, an empty line can be a split...

[2020-04-21 17:17] pitercl commented on #946
Hi @vfdev-5, yes, this is a part of the reasoning. Other reason is that the mechanism of scrolling text logs in our UI is actually farily complex and relies on each log being a single line.

We might change that in the future, however, if we get enough push from our users :)

[2020-04-21 17:19] vfdev-5 commented on #946
@pitercl well, maybe it is not appropriate place to ask, but can we log somehow stdout with Neptune and avoid using `log_text` ?

[2020-04-21 17:52] bhedayat commented on #932
Thank you! When will the stable release become 0.4.0?

[2020-04-21 17:52] #932 closed

[2020-04-21 17:54] jakubczakon commented on #948
Mhm, I understand now!

I am almost done with updating the logger and tests.

PS:
Sorry for the duplicated comments, I think github server had some problems.

[2020-04-21 18:12] ryanwongsa commented on #948
@jakubczakon I think the recent merged PR #937 might have affected the `n_saved` parameter in the Checkpoint handler and NeptuneSaver as it seems to save more checkpoints than the number I specified for my neptune experiments. It wasn't happening a couple of days ago.

[2020-04-21 18:16] jakubczakon commented on #948
@ryanwongsa thanks for the info!

Let me take a look, could you open a separate issue (No worries if you don't)?

[2020-04-21 18:20] vfdev-5 commented on #948
@jakubczakon @ryanwongsa sorry for breaking that ! I'll fix that

[2020-04-21 18:23] jakubczakon commented on #948
Perfect @vfdev-5 !

[2020-04-21 18:24] ryanwongsa opened #950 "NeptuneSaver saves more checkpoints than specified by the n_saved parameter"
## 🐛 Bug description

The recent change to Checkpointing in PR #937 seemed to have affected the NeptuneSaver in that it saves more than the specified `n_saved` checkpoints.  It is probably because it doesn't have the the `BaseSaveHandler` interface. Maybe because of this change [checkpoint.py]( https://github.com/vfdev-5/ignite/blob/f5d00c9887888fa31059ca4cc7a5e744889ce49f/ignite/handlers/checkpoi

[2020-04-21 18:25] ryanwongsa commented on #948
I added the Neptune Saver issue #950

[2020-04-21 18:33] ryanwongsa opened #952 "TPU Example / Support"
## ❓ Questions/Help/Support

I would like to use Ignite with TPUs and was wondering if there are any examples currently available which currently use TPUs with Ignite or does Ignite have some limitations which would not allow for easy compatibility with TPUs.

[2020-04-21 19:14] vfdev-5 commented on #952
@ryanwongsa unfortunately, there is no yet examples of using Ignite with TPUs.

I think there is no limitations on that as PyTorch xla API is rather similar to GPUs. But, yes, it will be good idea to add some example with Colab link.

[2020-04-21 19:32] #946 closed

[2020-04-21 19:32] #947 closed

[2020-04-21 19:32] #948 closed

[2020-04-21 20:04] bhedayat opened #955 "Running trainer for more than one epoch with torch.utils.data.IterableDataset"
## 🐛 Bug description

Hello,
I don't know if I am missing something but I am currently trying to run my trainer for more than 1 epoch where each epoch has 5 iterations. However there is not a new iterator initialized over the dataloader and you get the warning below.

[code]
Now if I do not use the ignite package and write the loop to iterate over the number of epochs it works fine.  Here is a cod

[2020-04-21 20:41] sdesrozis commented on #955
@bhedayat Thank you for the report ! I can reproduce. Let me check.

[2020-04-21 21:10] #950 closed

[2020-04-21 21:44] sdesrozis commented on #955
It seems your codes w/wo ignite are not similar. The code wo ignite should be the following
[code]
The issue occurs in both cases.

[2020-04-21 21:46] vfdev-5 commented on #955
@bhedayat you can add a restart iterator in epoch completed handler as in your in your snippet:
[code]

[2020-04-21 21:48] sdesrozis commented on #955
@vfdev-5 You are so fast :)

[2020-04-21 23:08] #952 closed

[2020-04-21 23:12] vfdev-5 commented on #952
@ryanwongsa please checkout added [example](https://github.com/pytorch/ignite/blob/master/examples/mnist/mnist_with_tensorboard_on_tpu.py) or [notebook in Colab](https://colab.research.google.com/github/pytorch/ignite/blob/master/examples/notebooks/MNIST_on_TPU.ipynb) and, please, do not hesitate to give us any feedback.

[2020-04-22 01:33] erip commented on #916
One last question: do we want to maintain these times for _each_ epoch? Or only for the last completed epoch? i.e., do we want `trainer.state.times[Events.EPOCH_COMPLETED.name]` to be a list or just a time?

[2020-04-22 03:58] isolet opened #959 "Transforming metric values"
## ❓ Questions/Help/Support

The [document](https://pytorch.org/ignite/metrics.html#ignite.metrics.Metric) of `Metircs` says that return value of `compute` can be `Any`. So I'm trying to do this in a single pass evaluation over the whole validation data loader.

[code]

The problem is, if this metric is attached to the evaluator by passing `metrics={'super': SuperMetrics(vocab_size))}`, I will get

[2020-04-22 07:42] ryanwongsa commented on #952
Thanks.

I am not sure if it is suitable for including in an example notebook but there are currently Kaggle kernels which use TPU training on 8 cores, such as [bert-multi-lingual-tpu-training-8-cores](https://www.kaggle.com/abhishek/bert-multi-lingual-tpu-training-8-cores) and I was wondering what the best approach would be to do it in a similar way with Ignite.

The torch_xla `ParallelLoader` is

[2020-04-22 08:08] #865 closed

[2020-04-22 08:58] sdesrozis commented on #959
@isolet Thank you very much for your question !

You can use `MetricLambda` to create proxies of your nested metric (and use it in loggers). For instance, have a look of the following example
[code]

We should include an example in the doc.

Please tell me if that does not answer to your problem.

HTH

[2020-04-22 08:58] vfdev-5 commented on #916
@erip yes, both can be helpful and I agree with you about

We can leave to the user the way to store all times, as other values we store in the state, e.g. metrics, batch, output etc.

[2020-04-22 09:28] vfdev-5 commented on #959
@isolet looking into your implementation, it looks like you store all data `_y`, `_y_pred`, `_num_drugs` during the run and in the end compute the metrics. We have a similar helper class `EpochMetric`, however, due to `_num_drugs` it seems it wont fit your need.

Please, be aware, that in distributed data configuration, the following code
[code]
will try compute the sum of `_y`, `_y_pred`, `_num_d

[2020-04-22 09:29] vfdev-5 commented on #952
@ryanwongsa let me check this kernel with Ignite.

[2020-04-22 09:32] vfdev-5 opened #960 "Port "bert multi lingual tpu training (8 cores)" to Ignite"
## 🚀 Feature

Recently included example of TPU usage with Ignite includes a training on a single TPU.
Idea is to port this kaggle kernel: https://www.kaggle.com/abhishek/bert-multi-lingual-tpu-training-8-cores to Ignite and include it in Ignite's show-case

Based on https://github.com/pytorch/ignite/issues/952#issuecomment-617609519

[2020-04-22 12:37] isolet commented on #959
@sdesrozis Thanks for the hint of implementing nested metrics! That would be quite helpful. However, in this specific case (require predictions over all batches), since the doc says updating nesting metrics will not update the nested metric, is there a way to maintain the only one copy `y` and `y_pred` in the nested metric instead of all nesting lambda metrics?

[2020-04-22 12:39] isolet commented on #959
@vfdev-5 Thanks for correcting me about `sync_all_reduce`. I just copied this piece of code from the document and have not dig into it completely...😅 I switch from `lightning` to `ignite` yesterday and quite happy with `ignite`!

[2020-04-22 12:49] vfdev-5 commented on #959
@isolet thanks for the feedback :)

In order to "unneest" your computed metrics, I think you can simply override https://github.com/pytorch/ignite/blob/0b363974e93e2f79e468cf4a7851a149b96028a7/ignite/metrics/metric.py#L138
like that:
[code]

However, this can be also an enhancement for `Metric` class: if result is a dictionary -> write its items into `engine.state.metrics` instead of result as `di

[2020-04-22 13:04] sdesrozis commented on #959
I think It's a good improvement. However, we should check that dict contains tensors or scalars.

In the same way, we could imagine the same flattening feature for `list`
[code]

[2020-04-22 13:06] sdesrozis commented on #959
@isolet Maybe you are interested to contribute on that ?

[2020-04-22 13:54] isolet commented on #959
@sdesrozis I might try it tomorrow. Shall we limit the type of return value of `Metric.compute` to `numbers.Number, torch.tensor, List, and Dict`? I'm not sure if I'm missing any use case of the original `Any` type?

[2020-04-22 14:58] sdesrozis commented on #959
Very happy to have you with us on this issue 😊

ATM I don’t know if `list` is a good idea or not. I suggest working on `dict` first since it’s your needs.

[2020-04-22 17:10] bhedayat commented on #955
It works! Thank you for your help

[2020-04-22 17:10] #955 closed

[2020-04-22 18:24] bhedayat opened #961 "Results for .on vs .add_event_handler differ when using Timer"
## ❓ Questions/Help/Support

Hello,

For some reason when I use .on vs .add_event_handler the results differ in the sense that .on calls time.value() one more time

[code]

[code]
Thank you

## Environment

 - PyTorch Version (e.g., 1.2):
 - Ignite Version (e.g., 0.2.1):
 - OS (e.g., Linux):
 - How you installed Ignite (`pip`):
 - Python version: 3.6.5
 - Any other relevant information:

[2020-04-22 19:32] jkhenning commented on #892
Hi @vfdev-5,

I'm working on the trains logger PR, and have a quick question - it seems `BaseWeightsScalarHandler` is equivalent to the Tensorboard gradients (aka histogram) but in the Tensorboard handler, `BaseWeightsHistHandler` is used to log histograms as well? Do you think I should just mimic this behavior even though the underlying implementation is basically the same?

Also, do you think I

[2020-04-22 19:51] vfdev-5 commented on #892
Hi @jkhenning, thanks for working on that ! So, @bmartinn delegated it to you if I understand correctly ?

I'm sorry, I do not understand your question. All `BaseWeights*Handler` classes are interfaces (they do not log, just some initialization checks) and real logging classes like in TensorBoard logger inherit from them and do the job. Yes, as you correctly remarked `BaseWeightsScalarHandler` is

[2020-04-22 20:09] vfdev-5 commented on #961
@bhedayat thanks for the report, however this is related to your code. When you get `a_iteration_time_list` to print it you added another value by calling `collect_latency_per_iteration`:
[code]
To have the same number of values you can use `a_iteration_time_list` from the global scope
[code]

[2020-04-22 21:29] jkhenning commented on #892
Hi @vfdev-5 ,

Just lending a helping hand :)

As for your answers - I agree. Thanks for the quick reply!

[2020-04-22 22:17] vfdev-5 opened #963 "Setup CI as running on TPU"
## 🚀 Feature

Ignite will support distributed training on TPU (e.g. #960). Currently, metric's computation is impacted in the same way as for DDP on GPUs. This should be addressed in a different Issue/PR.
Idea of this issue is to setup CI to emulate running on TPU as it is done in pytorch/xla.

* [ ] Setup another workflow on our CirlceCI as it is done for xla:
- https://github.com/pytorch/xla/blo

[2020-04-22 22:30] vfdev-5 opened #964 "Check sync all reduce of metrics in DDP"
## 🚀 Feature

Idea is to benchmark this part of the code:
https://github.com/pytorch/ignite/blob/0b363974e93e2f79e468cf4a7851a149b96028a7/ignite/metrics/metric.py#L92-L95

and if it produce a considerable overhead, therefore make a global definition of `dist.is_available() and dist.is_initialized()` inside `Metric.__init__` instead of checking all the times.

cc @sdesrozis

[2020-04-22 22:33] vfdev-5 opened #965 "Metrics reduction on distributed TPU setting"
## 🚀 Feature

Ignite will support distributed training on TPU (e.g. #960). Currently, metric's computation is impacted in the same way as for DDP on GPUs.

Idea is to improve metric's computation and reduce internal values as it is done for DDP:
https://github.com/pytorch/ignite/blob/0b363974e93e2f79e468cf4a7851a149b96028a7/ignite/metrics/metric.py#L92

To check if we are running in distributed TP

[2020-04-22 22:39] sdesrozis commented on #964
Called per epoch ? I should be surprised if it produces overhead.

[2020-04-22 22:40] vfdev-5 commented on #964
Let's consider `RunningAverage` as example.

[2020-04-22 23:18] amatsukawa opened #966 "Checkpoint stateful handlers and metrics"
## 🚀 Feature

Things that are attached to the `Engine` might have state that would ideally be checkpointed and restored using as part of the `Engine`'s `state_dict`.

An example is a `Checkpoint` handler when it has a `score_function`. Currently, the priorities the `Checkpoint` class stores is not saved anywhere. It is not able to recover gracefully from failure without manual intervention to pars

[2020-04-22 23:23] vfdev-5 commented on #966
@amatsukawa thanks for FR. Yes, it makes sense for handlers and metrics with internal state 👍

[2020-04-23 00:55] erip commented on #784
Not sure how I missed the cc here - sorry about that! Let me reacquaint myself quickly and I'll try to submit a PR.

[2020-04-23 01:06] erip commented on #784
Yes - this seems right. I'll write some tests to confirm this works as expected first.

[2020-04-23 02:38] isolet commented on #959
😅It took me some time to learn how to write tests... I've submitted a PR of this.

[2020-04-23 11:12] #916 closed

[2020-04-23 12:27] vfdev-5 commented on #965
The following monkeypatching works to reduce metrics

[code]

https://colab.research.google.com/drive/1Gy8bblDyXYBqMI7PuLAcIDKzRZGSoeYl

[2020-04-23 19:02] bhedayat commented on #961
It works! Thank you for your quick and helpful response

[2020-04-23 19:02] #961 closed

[2020-04-23 19:18] mcarilli commented on #876
Debugged the cyclegan example you sent, the problem appears unrelated to either Amp or your cyclegan script:  https://github.com/pytorch/pytorch/issues/37157

[2020-04-23 21:47] vfdev-5 commented on #929
@prclibo I close the issue as solved. Feel free to reopen if needed.

[2020-04-23 21:47] #929 closed

[2020-04-23 21:57] vfdev-5 opened #969 "Refactor code of EpochMetric and _BaseRegressionEpoch"
## 🚀 Feature

Following #967, seems like `_BaseRegressionEpoch` code is largely based on `EpochMetric` code.
Idea is to simplify the code between these 2 classes :`EpochMetric` and `_BaseRegressionEpoch` by relaxing restrictions of `EpochMetric` on input data.

[2020-04-24 01:16] erip commented on #784
I'm having some trouble executing the distributed tests on my Mac. 😬

I'm trying to execute

[code]
but I'm met with `ValueError: no gateway type found for 'python=python3.6'`.

Does this look familiar, @vfdev-5? Once I have this figured out I can start running some my tests locally and confirm your hypothesis that the frequency stats are being reset.