[2020-04-24 01:51] erip commented on #784
I'm actually having trouble getting the original tests to pass on my Mac. 😬

When I run

[code]

I see a nasty stack trace which seems to imply that the `_elapsed` is being invoked a) as a raw float (which it probably shouldn't be - rather it should probably be `torch.tensor(0)`), b) that `Frequency.update` isn't being called...

[code]

[2020-04-24 06:11] CDWJustin opened #971 "Are there any build in multiclass accuracy methods?"
I'm new to ignite, and I want to check are there any build in multiclass accuracy methods? Like giving each class's accuracy? I don't see there is one in the doc and the multilabel option for Accuracy seems not working for me.
[code]
And this is how I used the mutlilabel option, but it gives me a summed up accuracy instead of accuracy for each class, what should I do to fix this?

Thanks!

[2020-04-24 07:22] sdesrozis commented on #971
@CDWJustin thank you for this question!

You are right, actually there is no such built-in metric. I discussed exactly the point with @vfdev-5 few weeks ago.

However, as you did, it’s possible to use `output_transform` to create class-wise metrics

[code]

[2020-04-24 07:33] vfdev-5 commented on #971
@CDWJustin absence of this option is also related to the fact that how would you define it ?
In scikit-learn for example, there is no option for that neither. See how accuracy is defined in scikit-learn : https://scikit-learn.org/stable/modules/model_evaluation.html#accuracy-score

However, yes, we can one-hot encode targets and then iterpret multiclass problem as multilabel one and use the code f

[2020-04-24 08:05] vfdev-5 commented on #784
@erip I'm on Mac too, the following test passes on `master` on my pc.

[2020-04-24 09:50] #959 closed

[2020-04-24 09:55] sdesrozis commented on #971
@CDWJustin PR #968 just merged. It could help you to write your metric with specific `output_transform` and built-in `Accuracy`. Tell me if you need help.

[2020-04-24 13:15] isolet opened #973 "Use `setup_tb_logging` to log training loss without duplicate computation?"
## ❓ Questions/Help/Support

I'm trying to use `setup_tb_logging` to replace my manual logger setup code. But I can't get `loss` curve in my tensorboard.

The `process_function` of my trainer returns a `loss` with type `torch.tensor`. Looking into `setup_any_logger`, since [no](https://github.com/pytorch/ignite/blob/master/ignite/contrib/engines/common.py#L225) `output_transform` is passed to crea

[2020-04-24 13:24] vfdev-5 commented on #973
@isolet yes, you're right about `setup_tb_logging` behaviour, it logs only metrics and not outputs from `process_function`.

What can be done :
1) add `OutputHandler` with `output_transform`:
[code]
2) compute `RunningAverage` metric of batch loss, like it is done with `setup_common_training_handlers`:
https://github.com/pytorch/ignite/blob/68452b987b84116d74896330bd5f75f0aa470bc2/ignite/contrib/e

[2020-04-24 13:30] isolet commented on #973
Thanks for the quick reply!

The first way is exactly what I was doing before I found `setup_tb_logging`. I was trying to replace this code by `setup_tb_logging` though.

Thanks for the hint of the your second advice.

Is that safe and recommended to do `engine.state.metrics['loss'] = value` directly before returning in `process_fuction` if I don't want to introduce `Metric` classes to `trainer`?

[2020-04-24 13:35] vfdev-5 commented on #973
Yes, it is safe and you can do it. It is almost the same what is done by `RunningAverage` in addition with computing average.

[2020-04-24 13:36] isolet commented on #973
Thank you very much! I'll look into it!

[2020-04-24 13:36] #973 closed

[2020-04-24 17:57] sdesrozis commented on #874
@snie2012

I’m working on this issue. I would be on the same line as you. You said that these metrics should be updated in a subset of iterations. I understand that this subset is not known, so we can’t use filter.

Questions :
- How do you know / inform when update the metric ?
- Is it a collective update ? I mean all process update together (or not) ?

Thanks for you help 🙏🏻

[2020-04-24 19:11] sdesrozis opened #974 "Add sync after `init_process_group`"
## 🚀 Feature

CI is not very stable due to random dysfunction maybe originating from the initialization of parallelism by `init_process_group`.

According to the discussion https://github.com/facebookresearch/maskrcnn-benchmark/issues/172, the idea is to add a sync in `contest.py` right after `init_process_group` to improve stability of CI.

[2020-04-25 02:27] CDWJustin commented on #971
Thanks so much! Will try this out!

[2020-04-25 03:11] CDWJustin commented on #971
Thanks so much! Problem solved! I'll close the issue then!

[2020-04-25 03:11] #971 closed

[2020-04-25 10:57] vfdev-5 commented on #227
I close this issue as stale, but we'll keep it in mind for future if we opt to a more flexible design of the Engine.

[2020-04-25 10:57] #227 closed

[2020-04-25 13:14] #974 closed

[2020-04-25 17:55] #784 closed

[2020-04-25 19:33] erip commented on #963
I'd be interested in helping with this, but it seems like it'll require some administration on the CI side (setting env vars at least). Are TPU instances available freely for CI through CircleCI or is TPU virtualized through docker? Not sure how that works...

[2020-04-25 19:36] erip commented on #881
It might be nice to use hydra for this (https://hydra.cc). I have some experience with this and it makes things pretty easy.

[2020-04-25 19:40] vfdev-5 commented on #963
@erip thanks ! I think it is CPU emulation what is done on xla CircleCI. If you could take a look how they propose contributors to work on xla dev and run tests. In our case, we wont need to rebuild xla etc, we can just use their docker and setup CPU emulation stuff.

[2020-04-25 19:44] sdesrozis commented on #881
@erip thank you 🙏🏻 Could you write some example codes to show how hydra could be used with ignite ? I’m very curious 😁

[2020-04-25 19:48] erip commented on #881
I'm happy to give it a try! Since it's kind of involved, I'll create a working example in a separate repo and link it here. We can discuss the API and any potential limitations here.

[2020-04-25 20:01] sdesrozis commented on #881
We discussed a lot about settings and we definitely need to experiment !

`google/gin-config` is another tools which could be great (but another language...)

[2020-04-25 20:11] vfdev-5 commented on #692
Close as more or less irrelevant now

[2020-04-25 20:14] vfdev-5 opened #977 "Setup Typing in contrib part of the library"
## 🚀 Feature

Following #651, idea is to improve contrib code by adding Typing.

[2020-04-25 20:29] vfdev-5 opened #978 "Make EpochMetric work in DDP"
## 🚀 Feature

Currently, metrics like `EpochMetric` which store complete history of predictions and targets, are not supporting DDP setting.
Idea is to perform [gather](https://pytorch.org/docs/stable/distributed.html#torch.distributed.gather) on zero rank process in `compute` method to accumulate all predictions and targets across all the processes and then execute metric function...
We may also

[2020-04-25 20:35] sdesrozis commented on #978
Maybe this feature could be disabled by user if he can do better.

[2020-04-25 20:37] vfdev-5 commented on #978
I agree

[2020-04-25 20:53] erip commented on #963
It seems like if we want to use the XLA docker images that pytorch/pytorch and pytorch/xla use in GitHub Actions, we'll need to [develop an action](https://help.github.com/en/actions/building-actions/creating-a-docker-container-action) that wraps the container. What's not immediately clear is how the tests actually get run from there. 😄 I'll need to do some reading, but just commenting here to doc

[2020-04-25 21:00] vfdev-5 commented on #963
@erip I think it is more simple than that:
- run tests inside the docker like that : https://github.com/pytorch/ignite/blob/master/.circleci/config.yml#L83
- setup docker just by pulling their docker : `docker pull gcr.io/tpu-pytorch/xla:r1.5`

[2020-04-25 21:13] vfdev-5 opened #980 "Simplified base logger's API"
## 🚀 Feature

Idea is to simplify current logger's API by creating a shortcut methods:
Currently, to log output parameters and optmizer's params we do (example is for TB, but is generic for others too):
[code]
Proposed API:
[code]

In addition, this can fix "bad-practice" current implementation of `setup_any_logging` taking as input logger and logging_module:
https://github.com/pytorch/ignite/blob

[2020-04-25 21:16] vfdev-5 commented on #980
@sdesrozis any other suggestions for simplified API

cc @sisp (if you have any suggestions too), once this issue is solved we can fix and merge your PR #901

[2020-04-25 23:00] vfdev-5 commented on #965
Follow up about dtype support : https://github.com/pytorch/xla/issues/1952

[2020-04-26 11:46] vfdev-5 opened #983 "Deprecate ignite.contrib.handlers.custom_events.CustomPeriodicEvent"
## 🚀 Feature

Custom events `CustomPeriodicEvent` from contrib seem heavy and unusable.

Idea is to

- [ ] raise a warning about deprecation since v0.4.0 and removing since v0.5.0 and suggest to use filtered events.
- [ ] remove all docs about them

[2020-04-26 15:00] sdesrozis commented on #980
I don't have any suggestion. We might have a generic attachment using `getattr`.

[2020-04-26 17:13] #963 closed

[2020-04-26 18:02] vfdev-5 commented on #980
@sdesrozis,  please, this point

[2020-04-26 18:22] sdesrozis commented on #980
Class is encoded in name of methods. Using `__getattr__`, I think that it is possible to parse the name and allocate related object in a generic way.

[2020-04-26 19:16] snie2012 commented on #874
@sdesrozis Thanks a lot for working on this and apologies for late reply. Answer your questions:

1. I use custom event to inform an update, as shown in the code snippet at the top of the issue.
2. Yes, it is a collective update and should behave so in a distributed manner.

[2020-04-26 19:21] snie2012 commented on #874
@sdesrozis Would you mind showing an example of using the changes you made in sdesrozis:issue_874 to update on custom events?

[2020-04-26 20:15] vfdev-5 commented on #874
@snie2012 to detail "1.", what is exactly your custom event ? Is it a built-in event from `Events` or a your own registered event ?

About "2." and what you posted in the very begining of the issue:

Could you, please, provide a complete example of how do you use it with `MetricLambda` ? Thanks

[2020-04-26 20:22] sdesrozis commented on #874
Yes, `MetricUsage` should be the way to configure your metric.

Epoch-wise accuracy :
[code]
It means reset of metric at `Event.EPOCH_STARTED`, update at `Event.ITERATION_COMPLETED` and complete at `Event.EPOCH_COMPLETED`

Batch-wise accuracy :
[code]
It means reset of metric at `Event.ITERATION_STARTED`, update at `Event.ITERATION_COMPLETED` and complete at `Event.ITERATION_COMPLETED`

You can de

[2020-04-26 20:43] #983 closed

[2020-04-26 20:51] vfdev-5 commented on #969
Closed by https://github.com/pytorch/ignite/pull/970

[2020-04-26 20:51] #969 closed

[2020-04-27 20:59] vfdev-5 opened #990 "Fix typing problem with pytorch-nightly"
## 🚀 Feature

Since today CI detects a problem with the following way to use torch DataLoader in typing: https://github.com/pytorch/ignite/blob/c3c1ff22343d4f76979595ff7ac0707b49fc7c98/ignite/engine/utils.py#L7-L9
Error:
https://github.com/pytorch/ignite/pull/989/checks?check_run_id=623744155#step:5:30

[2020-04-27 21:25] vfdev-5 commented on #990
Seems like it is related to the bad pytorch-nightly install : v0.4.1 instead of 1.6.0

https://github.com/pytorch/ignite/pull/989/checks?check_run_id=623744155#step:3:1950

[2020-04-27 21:25] #990 closed

[2020-04-27 22:19] vfdev-5 opened #991 "RunningAverage should average output value instead of sum"
## 🐛 Bug description

Current implementation of `RunningAverage` in DDP only sums the value of output quantity (e.g. loss), however it would be better to compute the average:

https://github.com/pytorch/ignite/blob/6ec32e36d9098dfa5f055bbc582911b7189766fc/ignite/metrics/running_average.py#L114

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 -

[2020-04-28 00:08] erip opened #992 "Ignite should expose the ability to run distributed jobs on TPUs"
## 🚀 Feature

Because ignite relies on distribution to happen only when `dist.is_initialized()`, etc. are set and because xla has a different mechanism for distribution, distributed training won't work within ignite on TPUs.

We'll need an abstraction within ignite to handle this for us. Things to consider:

1. How do we want the API to look?
1. How (if at all) do we handle mixed GPU/TPU training?

[2020-04-28 12:00] H4dr1en opened #993 "Engine restarts training from scratch unexpected"
## 🐛 Bug description

Engine `_is_done` function only takes into account `max_epochs` parameter read from the state of the object. This leads to the followling unexpected behavior:

1. Instantiate a simple engine, train for 2 epochs (set max_epochs=2). Save checkpoints.
2. Train for 2 more epochs (set max_epochs=4) using last checkpoint.
3. This leads to the training restarting from scratch instea

[2020-04-28 12:57] vfdev-5 commented on #993
@H4dr1en thanks for the report !

I could reproduce the problem:
[code]
This looks like a bug. If run's input params override defined state, it should taken into account before checking `_is_done`.

[2020-04-28 13:42] #795 closed

[2020-04-28 13:42] #818 closed

[2020-04-28 13:42] #812 closed

[2020-04-28 13:42] #935 closed

[2020-04-28 13:42] #941 closed

[2020-04-28 15:58] #871 closed

[2020-04-28 19:43] #993 closed

[2020-04-28 19:45] vfdev-5 commented on #993
@H4dr1en this bug is fixed in the master and in nightly release since.

[2020-04-29 13:36] H4dr1en commented on #993
Works like a charm @vfdev-5, thanks for the quick fix!

[2020-04-29 21:27] vfdev-5 commented on #980
@sdesrozis it's too hacky for me, such approach.

Let's implement the methods `logger.attach_output_handler` and `logger.attach_opt_params_handler`

[2020-04-30 02:06] CDWJustin opened #996 "Are there any ways to filter out or ignore a batch in engine?"
## ❓ Questions/Help/Support

I'm really new to the ML area and I'm trying to train a network with a dataset that when sampling batches, it can create batches with really large sizes (the sampling method is just torch's weightedSampling). Though the batch size is fixed the data size in the batch will be really large sometimes.
It seems pretty complicated to define a customized sampler, and the way

[2020-04-30 07:20] sdesrozis commented on #980
I will do it this week-end if nobody does ;)

[2020-04-30 07:35] sdesrozis commented on #996
@CDWJustin Thank you for your question !!

I didn't catch

So, I understand you want to ignore some batches during loop. I don't think we have this feature in engine. @vfdev-5 do you confirm ?

[2020-04-30 11:24] vfdev-5 commented on #996
@CDWJustin currently, there is no way to skip easily an iteration in ignite.

With the current code base, we need to return the output anyway, so skipping a batch can be done as
[code]

In general, when skipping the batch you can output anything you would like: previous output (as in the example), zeros etc.

There is a similar request here : https://discuss.pytorch.org/t/how-to-make-ignite-traine

[2020-04-30 11:28] sdesrozis commented on #996
Excellent and easy to do 👍🏻

[2020-04-30 11:42] vfdev-5 commented on #996
In the previous example, we still need to output something, e.g. None. The difference is that it wont go into other handlers attached to `ITERATION_COMPLETED` and which uses `state.output`.

Update: maybe it can be also catched after `Events.GET_BATCH_COMPLETED`:
https://github.com/pytorch/ignite/blob/b4f1035b6ba575ca32bafa0b4a083ff39983495e/ignite/engine/engine.py#L696
in case if we would like ev

[2020-04-30 11:53] vfdev-5 opened #998 "Metrics for GANs"
## 🚀 Feature

It would be interesting to provide metrics for generated image evaluation like here:
- https://github.com/clovaai/stargan-v2/blob/master/metrics/
- https://github.com/Tetratrio/stylegan2_pytorch/tree/master/stylegan2/metrics

[2020-04-30 16:06] vfdev-5 opened #999 "TPU and Checkpoint"
## 🚀 Feature

In case when working with TPU, we need to go to cpu in order to save the model: http://pytorch.org/xla/release/1.5/index.html#saving-and-loading-xla-tensors
This case should be automatically covered by `Checkpoint`.

[2020-04-30 23:23] CDWJustin commented on #996
Thanks!!
BTW, if I used conda to install ignite, is there a way to update the changes you made to master branch? Or do I need to build it from source?

[2020-04-30 23:27] vfdev-5 commented on #996
@CDWJustin you can intall nightly release with conda (https://anaconda.org/pytorch-nightly/ignite)
[code]
Currently, it corresponds to https://travis-ci.org/github/pytorch/ignite/builds/681588654

[2020-05-01 03:08] CDWJustin commented on #996
Cool, thanks!

[2020-05-01 10:02] yiyinying opened #1003 "state.batch"
- PyTorch Version (e.g., 1.5):
 - Ignite Version (e.g., 0.3.0):

state.batch @trainer.on(Events.EPOCH_COMPLETED) not have a batchdata

[2020-05-01 10:03] #1003 closed

[2020-05-01 20:58] #833 closed

[2020-05-02 20:10] sdesrozis opened #1004 "Bug adding handler in case of decoration + class function + filtered event"
## 🐛 Bug description

I would like to report a bug using handler defined by decorated function in a class with filtered event.

The following code reproduces all possible situations to add an handler defined w/wo decoration in a class or not, w/wo engine (or args), using an event w/wo filter

[code]

The error is
[code]

Why ?

First, a handler defined with a filtered event is wrapped with decorat

[2020-05-04 14:06] vfdev-5 opened #1007 "Add a template generic example script as a quick start with Ignite"
## 🚀 Feature

Idea is to simplify user's learning curve and provide a template example that can be copied by the user and modified to his/her needs. Something like that but an executable working example:
[code]

[2020-05-04 14:50] vfdev-5 opened #1009 "Add Expected Calibration Error metrics and derived"
## 🚀 Feature

Idea is to provide Expected Calibration Error metrics as coded in Baal : https://github.com/ElementAI/baal/blob/master/src/baal/utils/metrics.py#L88

cc @Dref360

[2020-05-04 18:58] sdesrozis commented on #1007
I agree!! That is an excellent idea! We have so much options and possibilities to tune. We can’t provide only helpers.

[2020-05-04 23:00] vfdev-5 opened #1011 "Make setup_common_training_handlers less dependent on torch.dist DDP"
## 🚀 Feature

Current implementation of https://github.com/pytorch/ignite/blob/bef668c152dc86334a8ab09e9ce9368c48e48102/ignite/contrib/engines/common.py#L25

makes a lot of assumption about distributed type (=torch.dist). In case of TPU dist, some of provided bricks are not applicable or lead to undesired exceptions.

What to improve:

- cover TPU dist config
https://github.com/pytorch/ignite/blob

[2020-05-05 07:36] sdesrozis opened #1012 "Interoperability of logging with ignite logger"
## 🐛 Bug description

This bug is related to logger from module logging. Actually, (logging) handlers are attached to loggers created by user. https://github.com/pytorch/ignite/blob/bef668c152dc86334a8ab09e9ce9368c48e48102/ignite/utils.py#L64-L137

From `logging` documentation (https://docs.python.org/3/howto/logging.html#loggers)

This code shows the problem of propagation to ancestor

[code]

Re

[2020-05-05 08:39] #1012 closed

[2020-05-05 21:12] #980 closed

[2020-05-05 23:15] erip opened #1017 "Fix test flakiness"
## 🐛 Bug description

The tests are very flaky. We should identify the flaky tests are try to address them in some other way.

[2020-05-06 09:19] #897 closed

[2020-05-06 09:50] jkhenning commented on #892
Hi @vfdev-5,

Sorry for the delay. I have the implementation in my forked repository (branch named `trains-integration`) if you'd like to take a look before I open a PR.
If not - I'll just open one :)

https://github.com/jkhenning/ignite/tree/trains-integration

Thanks!

[2020-05-06 21:05] vfdev-5 commented on #892
Hi @jkhenning
I looked quickly the implementation, looks good. Please, open a PR and we can iterate on details.
Just to make recent updates, we introduced 2 methods into BaseLoggers to simplify the API etc
- https://github.com/pytorch/ignite/commit/662433798683ef72920f7ba4b248b16558df6adc
  - `_create_output_handler`
  - `_create_opt_params_handler`
- https://github.com/pytorch/ignite/commit/0afaa

[2020-05-07 14:35] jkhenning commented on #892
Hi @vfdev-5

Your feedback is much appreciated :)

I've added the missing code and opened a PR (https://github.com/pytorch/ignite/pull/1020).

Please note the `trains==0.14.3rc0` requirement in `requirements-dev.txt` - the integration required some minor adjustments to make things easier - I'll release the v0.14.3 patch version in a day or two  so we can change it before merging the PR.

Thanks!

[2020-05-07 18:17] vfdev-5 commented on #876
As pytorch/pytorch#37157 was fixed in pytorch nightly we can retrain
- apex based https://github.com/pytorch/ignite/blob/master/examples/notebooks/CycleGAN.ipynb
- torch native amp CycleGAN

[2020-05-07 18:58] erip commented on #1017
This looks like it might be my fault. 😄 The `Frequency` tests fail fairly often.

[2020-05-07 23:00] bhedayat opened #1022 "Backwards incompatibility between ignite 0.4.0.dev20200420 vs 0.2.1 for torch.utils.data.Dataset"
## 🐛 Bug description

Hello,
When I run the script below with  ignite version 0.2.1. I get the expected output
[code]
However when I run same script with Ignite Version 0.4.0.dev20200420 I get the following error

[code]

I need to use ignite 0.4.0.dev20200420 to use torch.utils.data.IterableDataset (https://github.com/pytorch/ignite/issues/932#event-3257231397).
The script is below.
Thank you

[c

[2020-05-07 23:16] vfdev-5 commented on #1022
@bhedayat thanks for the report! Yes, this should be a bug mix between pytorch and ignite.

There are two solutions:
1) you can simply update ignite to more late nigtly release where Engine is simplified and do not patch dataloader to be deterministic etc

2) If you need to use specifically ignite==0.4.0.dev20200420, then you need update pytorch to a higher version. It works for 1.5.0.

However, i

[2020-05-08 08:46] #1017 closed

[2020-05-10 13:43] #892 closed

[2020-05-10 21:14] vfdev-5 commented on #896
Closed by #901

[2020-05-10 21:14] #896 closed

[2020-05-10 21:16] vfdev-5 commented on #876
Online logging:
- https://app.wandb.ai/vfdev-5/ignite-cyclegan-torch-amp
  - https://colab.research.google.com/drive/1RRbI6ojMQUd7CYQ6Pio3IW5ZV35aguAP
- https://app.wandb.ai/vfdev-5/ignite-cyclegan-apex
  - https://colab.research.google.com/drive/1P2D_bYRn9l3I6t1veaKOsPWyxU-Y9-Jg

[2020-05-11 08:41] #1022 closed

[2020-05-11 11:33] #880 closed

[2020-05-11 19:29] #876 closed

[2020-05-13 09:16] #856 closed

[2020-05-13 14:17] Bibonaut commented on #936
Your link seems to be broken. But I think I've already something like that in use. Not well formatted,  without help but perhaps a (more or less) good starting point. It measures time in hours.  I can implement it with tests but I have not much time at the moment. Could take me around 4 weeks :-|

[code]

[2020-05-13 14:24] vfdev-5 commented on #936
Here is a correct link : https://github.com/Minyus/pipelinex/blob/ca64d78e34added4cd7ff19865aa724e71423394/src/pipelinex/extras/ops/ignite/handlers/time_limit.py

[2020-05-13 18:07] vfdev-5 opened #1038 "Remove deprecated args for v0.4.0"
## 🚀 Feature

Remove some arguments that should be removed since v0.4.0.

[2020-05-15 07:24] achigeor opened #1039 "TrainsSaver requires TrainsLogger but doesn't use it"
## ❓ Questions/Help/Support

Hi,

I'm opening this issue as a question, because I'm not sure if it's an artifact or it has an intended purpose that I don't understand.

The new trains support introduced `TrainsSaver` together with `TrainsLogger`.  It seems that to initialize the `TrainsSaver` object, you're required to pass a `TrainsLogger` logger (https://github.com/pytorch/ignite/blob/master/ign

[2020-05-15 07:45] sdesrozis commented on #1039
@achigeor Thank you for this question.

That needs to be confirmed by @jkhenning but I think the `TrainLogger` is mandatory to have the stream opened to the cloud `trains` server. Indeed, `TrainLogger` not directly used but ensures that the `trains` session is created (and not closed). @achigeor Does it make sense ?

HTH

[2020-05-15 07:54] jkhenning commented on #1039
Hi @achigeor,

@sdesrozis is quite right 😄

Just to add some details, In order to use Trains, you must create an experiment session and work with a remote Trains Server (your own installed server, for example). Since initializing a Trains experiment might require various parameters (such as name, project etc.) and since `TrainsLogger` already provides this functionality, duplicating it in the `Tra

[2020-05-15 11:00] achigeor commented on #1039
Thanks for the clarifications @jkhenning and @sdesrozis!
Wouldn't the same functionality be achieved by checking if a task is running and if not throw an error (or warning and create a task ad hoc?)
We do use trains in our project! However, we take care of handling the tasks and logging ourselves, so in order to use the `DiskSaver` I end up just passing an empty logger object (trains is clever eno

[2020-05-15 11:18] sdesrozis commented on #1039
It makes sense to me. @jkhenning your thoughts ?

[2020-05-15 11:57] BlackHC opened #1040 "gpu_info crashes because it cannot parse "N/A""
## 🐛 Bug description

When trying to use gpu_info, it throws:

[code]

There is error handling code above it, but it does not catch the issue ("N/A" is returned).

I assume my GPU does not support it. However, it would be neat to have a graceful failure mode.

Thank you!
Andreas

## Environment

torch 1.5 on a GTX 780 TI (source)
ignite 0.3.0 (conda)
pynvml 8.0.4 (pip)

[2020-05-15 12:00] vfdev-5 commented on #1040
Hi Andreas, thanks for catching that !

Maybe, we can cast it to -1 or 0 if no support of `gpu_util`.
Actually, what shows `nvidia-smi` on your GPU ?

[2020-05-15 12:41] jkhenning commented on #1039
@achigeor @sdesrozis What do you think about using a default value of `None` for the `logger` - this will still be a hint for non-experienced users that a logger is the quickest way to get Trains working in this context, but will allow more advanced users who already initialized Trains to skip it. Of course, if no logger is passed and Trains was not initialized, a UsageError will be raised.
Makes

[2020-05-15 16:44] sdesrozis commented on #1039
@jkhenning if we want to handle remote sessions opened by users outside ignite loggers (and be interoperable), we should do following your idea 👍🏻

[2020-05-15 18:24] achigeor commented on #1039
@jkhenning yeap makes a lot of sense, this covers all usecases for advanced as well as new users as you said :+1:

[2020-05-16 00:10] vfdev-5 commented on #1039
Anyone would like to send a PR with this minor fix ?

[2020-05-16 09:41] jkhenning commented on #1039
Created https://github.com/pytorch/ignite/pull/1043 😄

[2020-05-16 13:17] #1039 closed

[2020-05-16 16:54] #1040 closed

[2020-05-16 17:58] BlackHC commented on #1040
Thank you! And sorry for the reply! nvidia-smi also displays N/A

[2020-05-16 22:48] vfdev-5 commented on #964
Closes as irrelevent due to coming `idist` branch

[2020-05-16 22:48] #964 closed

[2020-05-16 23:45] vfdev-5 opened #1049 "Fix codecov reporting"
Since awhile we do not receive codecov reports on PR. Settings to update.

CI reports are not always delivered. For example:
- https://travis-ci.org/github/pytorch/ignite/jobs/687912525#L2373
==> probably, due to degraded service

[2020-05-16 23:58] #1004 closed

[2020-05-18 12:37] #874 closed

[2020-05-18 12:42] vfdev-5 commented on #874
@snie2012 we just merged the PR #979 with `MetricUsage`, it will be available today or tomorrow in nightly releases. If you can give it a try and leave us a feedback, it would be awesome! Thanks !

[2020-05-18 13:25] vfdev-5 commented on #848
@VinhLoiIT we just merged the PR #979 with `MetricUsage`, it will be available today or tomorrow in nightly releases. If you can give it a try and leave us a feedback, it would be awesome! Thanks !

[2020-05-18 13:27] #848 closed

[2020-05-18 17:11] snie2012 commented on #874
Will do. Thanks a lot!

[2020-05-19 08:36] sdesrozis opened #1052 "Add usage name in MetricUsage"
## 🚀 Feature

Following @ericspod comment, usage name should be embedded in usage classes.

[code]

https://github.com/pytorch/ignite/pull/1018#issuecomment-630506840

[2020-05-19 20:38] sdesrozis opened #1055 "Use decorator one_rank_only on Checkpoint and BaseLogger"
## 🚀 Feature

Handlers may not be parallel and be triggered on the master proc (rank=0). The idea is to use the decorator `one_rank_only` (in branch `idist`) on `__call__` methods or specific working methods for `Checkpoint` and `BaseLogger`.

[2020-05-20 00:41] #1038 closed

[2020-05-20 01:00] erip commented on #1055
One thing to keep in mind is that in the XLA context, this constraint is maintained internally in `xm.save`. I haven't looked at the implementation of `one_rank_only` yet, so it might be a moot point. 😄

[2020-05-20 14:25] achigeor opened #1056 "TrainsSaver doesn't respect Checkpoint's n_saved"
## 🐛 Bug description

As the title says, it seems that `TrainsSaver` bypasses the `Checkpoint` `n_saved` parameter. That means that all models are saved and never updated / deleted.

Consider this simple example:
[code]
The above saves every checkpoint. You end-up with
[code]

Now if we do, the same with `DiskSaver`:
[code]
We get only:
[code]
as expected.

Same behaviour if we save only best mode

[2020-05-20 14:32] vfdev-5 commented on #1056
Thanks for the report @achigeor ! Let us reproduce the issue and have deeper look on where is the problem.

cc @jkhenning

[2020-05-20 17:20] #1052 closed

[2020-05-20 21:04] vfdev-5 commented on #1056
Checked the number of temporary saved checkpoints and only one remains in temp folder. Probably, the problem is that we need to explicitly remove them from Trains' storage: override
remove method
https://github.com/pytorch/ignite/blob/0452e4199ae0da627274f563a901493d9654b80d/ignite/handlers/checkpoint.py#L370-L372

@jkhenning do you have an API to remove stored artifact ?

[2020-05-20 21:19] jkhenning commented on #1056
Hi @achigeor ,

When you say you see:
[code]
Do you mean tyou see them in the Trains UI models page, or somewhere else? As @vfdev-5 said, I believe these files will not be present in the `dirname` folder (or the temp folder used if `dirname` is not provided)

[2020-05-20 21:53] vfdev-5 commented on #1049
Done

[2020-05-20 21:53] #1049 closed

[2020-05-21 10:00] achigeor commented on #1056
Hey @jkhenning,

I mean I see them in the directory I pass as `output_uri`. E.g. if you pass `output_uri="checkpoints"`,  you will see these checkpoints in `checkpoints/trains_project_name/trains_task_name.task_id/models/`:
[code]

In the Trains UI, you would only see the _last_ model model saved in `artifacts/Output Model`, i.e `task_name-epoch_checkpoint_3.pt`.

Following is a fully reproducible

[2020-05-21 11:40] bmartinn opened #1057 "TrainsLogger example + tutorial"
## 🚀 Feature - Add TrainsLogger  Example + Tutorial

I think it makes sense to add a TrainsLogger example, something similar to what we already have here in the [Pascal VOC example](https://github.com/pytorch/ignite/tree/master/examples/references/segmentation/pascal_voc2012)
From what I understand, what is missing is a few entries in the [common_training](https://github.com/pytorch/ignite/blob/ma

[2020-05-21 11:43] jkhenning commented on #1056
Hey @achigeor

I see what you mean, and you're quite correct about Trains "uploading" the model files to the `output_uri` which in this case is a folder.
The thing is, `output_uri` is also (most commonly) used to represent remote storage services, like an S3 bucket, in which cases supporting a `delete` action might add additional constraints (requiring the credentials to allow these permissions) o

[2020-05-21 12:54] vfdev-5 commented on #1056
@jkhenning maybe this approach is not suitable for `epoch_checkpoint_<N>.pt` or best model file `best_model_val_score=<0.XYZ>.pt` where `<N>` indicates training epoch and `<0.XYZ>` best validation score. We can not cycle on those values, otherwise they do not make sense...

About `output_uri` and `dirname` args of `TrainSaver` shouldn't we limit to only one provided possible (in case of when `outp

[2020-05-21 13:18] sdesrozis commented on #1057
Thanks @bmartinn for this suggestion 😊

Would you be interested to contribute on that ?

[2020-05-21 13:19] bmartinn commented on #1056
@vfdev-5 if I may chime in.

We are using the filename as a way to add meta-data on the model weight itself.

Maybe the best usage for TrainsLogger would be to store that meta-data as a comment on the model, this way it is also searchable? (we could also use the model name in the Trains system and store the meta-data there)
Another option is using the model configuration entry (that can store anyt

[2020-05-21 13:19] bmartinn commented on #1057
@sdesrozis, Of course with pleasure :)

[2020-05-21 13:21] jkhenning commented on #1056
Hey @vfdev-5

Well, I agree it makes little sense to store twice, however I'm not sure detecting when `output_uri` is local and  when not is a good approach (from experience, likely to break on edge-cases).

I would say we should instruct users to use `dirname` for local storage, and `output_uri` for remote storage, but this means users who'd like to test their code with `output_uri` before switch

[2020-05-21 13:27] sdesrozis commented on #1057
@bmartinn good 😊

I think that you have catched the idea of how loggers are plugged in this example 👍🏻 IMO you can go forward 😊

@vfdev-5 agreed ?

[2020-05-21 13:36] vfdev-5 commented on #1057
@bmartinn yes, that's correct, we need
- specific script for `trains` here : https://github.com/pytorch/ignite/tree/master/examples/references/segmentation/pascal_voc2012/code/scripts . For example, `training_with_trains.py` or another name if you have a better idea :)
- note on how to use with Trains in reproducible manner
- templates or usable files for Trains-Agent etc like here : https://githu

[2020-05-21 13:51] vfdev-5 commented on #1056
@bmartinn thanks for the idea ! If I understand correctly your suggestions is to :
- pick filename which is need to be stored, e.g. `epoch_checkpoint_1.pt` and setup some meta-data
- save checkpoint on Trains system with another name that we can rewrite in a cycle manner as proposed by @jkhenning
=> on Trains UI we have a good number of stored artifacts and their meta-data contain the name we inte

[2020-05-21 14:00] bmartinn commented on #1057
Thanks @vfdev-5
All is well, with the exception of the templates, I don't think you need anything additional to the code to make it reproducible :)

It's basically out-of-the-box experience, once you run the code it creates it's own "template" in the *trains-server* from that point, you can clone/enqueue for execution and you will get the exact same run (installed by the *trains-agent*). The autom

[2020-05-21 14:09] vfdev-5 commented on #1057
@bmartinn thanks for the details !

We can just put a link on your documentation :)

I think we need to give all details about that such that this automatical system is transparent for user and he/she could easily reproduce the trainings for fixed versions, update versions if needed etc.

@sdesrozis I thinks we also need to make some updates on our code, especially :
https://github.com/pytorch/ign

[2020-05-21 14:13] bmartinn commented on #1057
Yes I think you are right, I'll make sure the documentation (i.e. readme) describes the mechanism so it's less magic more automation :)

[2020-05-21 18:38] bmartinn commented on #1056
@vfdev-5 yes exactly!
a minor detail though:

Trains separates artifacts from Models. Basically artifacts you store once, and are tied with an experiment, where as  Models you store multiple times (e.g. snapshots) and have their own entity. This means we can easily track models between experiments. Unfortunately Artifacts already received the meta-data feature, and Models are still missing it, but

[2020-05-21 20:14] vfdev-5 commented on #1038
@erip seems like sometimes we use `UserWarning` and other time `DeprecatedWarning` to warn about deprecation. Could you please replace all `UserWarning` by `DeprecatedWarning`:

https://github.com/pytorch/ignite/search?q=deprecated&unscoped_q=deprecated

[2020-05-21 20:44] achigeor commented on #1056
Hi all,

What's not clear to me regarding `output_uri` is what @jkhenning mentioned about remote saving. We will indeed use S3 to save our models and artifacts - we're now finalizing integrating Trains in our workflow and were using a local dir as `output_uri` for testing.
But from my understanding, trains would behave the same regardless, i.e, what I'm experiencing locally will still happen if I

[2020-05-21 20:58] vfdev-5 commented on #1056
@achigeor you are right, there is no easy way to store checkpoints without suffix. Maybe we can create a feature request for that inside `Checkpoint`. However, meta-data (e.g. epoch index or score) may be missing in the `.pt` file.

[2020-05-21 21:16] jkhenning commented on #1056
Hey @achigeor

You're absolutely right - that was my point, that Trains currently handles remote and local storage locations exactly the same, without using any delete-like feature.

@vfdev-5

Naively, can't we keep one argument, e.g. output_uri?

Well, the original intent of keeping `dirname`was to keep part of the `DiskSaver` interface since we need a local storage where checkpoint are stored pr

[2020-05-21 21:38] achigeor commented on #1056
Thanks got it now! I have this followup question then:

Is there a specific reason that uploading happens while the task is running? What I see happening now is:
* `Checkpoint` with `TrainsSaver` writes to `/tmp` or `dirname`, respecting `n_saved` param
* `TrainsSaver`, through trains task's `output_uri` uploads the model from `/tmp` to `output_uri` everytime a model is saved

Would it be possible

[2020-05-21 21:43] vfdev-5 commented on #1056
@achigeor this can be possible, but we should keep in mind that we can loose everything if script crashes before the `task is finished` and we didn't catch that.

[2020-05-21 22:24] bmartinn commented on #1056
From what I understand, [Checkpoint](https://github.com/pytorch/ignite/blob/master/ignite/handlers/checkpoint.py#L68) is doing the filename creation, and it seems that "`_`" is a hard-coded separator.

In case `output_uri` is  passed, we could parse the filename, extract the filename_prefix/name and use that as the base filename for upload, or we can use a hard-coded fixed name.

This way if `outp

[2020-05-21 23:27] vfdev-5 commented on #1056
Well, both approaches are not ideal, but between parsing and hard-coded fixed name, IMO, hard-coded fixed name probably better... especially if in UI full correct filename is used.

[2020-05-22 16:22] n2cholas opened #1059 "MNIST Example runs train loader twice per epoch?"
I'm new to ignite, and was looking at the MNIST example. At the end of each training epoch, the evaluator is run on the train loader (https://github.com/pytorch/ignite/blob/master/examples/mnist/mnist.py#L78). This means the train loader is run twice per epoch, right? Doesn't it make more sense to compute a running average (using a Metric) throughout the training epoch? Or report the running avera

[2020-05-22 16:31] sdesrozis commented on #1059
@n2cholas Thanks for the question.

Yes, training set is used twice per epoch. The first time is to train the model. The second, cheaper, is to compute metrics (accuracy, f1, etc.) and evaluate how performs the model on data used for training. Sometimes, you will see people who compute metrics during the training phase, meaning the model is changing. A good practice is to do it when model is fixed

[2020-05-22 17:32] n2cholas commented on #1059
Thanks for the quick reply @sdesrozis!

[2020-05-22 17:32] #1059 closed

[2020-05-22 21:12] bmartinn commented on #1056
@vfdev-5 I agree, I think hard-coded is probably safer, but we should have a way to differentiate between two models being stored. for example GAN training. We brings me back to parsing...
How about we inherit Checkpoint, that way we know what's the prefix and can easily make those decisions. What do you think?

[2020-05-22 21:42] vfdev-5 commented on #1056
I was also thinking about if we can pass more info to `save_handler` in addition to `object_to_save` and `filename`:
https://github.com/pytorch/ignite/blob/c012166f93e56f8e9538741f5745a5010983ba38/ignite/handlers/checkpoint.py#L21

For example, we can opt to pass some meta-info about the checkpoint to save:
[code]

This certainly requires minor API change for `DiskSaver` and other savers. However,

[2020-05-22 22:04] bmartinn commented on #1056
@vfdev-5 I like it! I think it makes a lot of sense. That means the DiskSaver can gain more insight into the model being stored (so for example, if the model score is lower then the previous, it can only store it locally and choose to skip the upload).

[2020-05-22 22:12] vfdev-5 commented on #1056
Yes, for a cloud disk savers or other more complex savers where we can set some metadata it can be helpful and avoid parsing the filename :)

Normally, it is the role of `Checkpoint` with score function etc.

[2020-05-22 22:18] vfdev-5 opened #1060 "Add meta-data as optional arg for BaseSaveHandler"
## 🚀 Feature

According to https://github.com/pytorch/ignite/issues/1056#issuecomment-632919883
it could be helpful to provide checkpoint metadata to a save handler.

Idea is to have
[code]

We also need to make sure to update all existing save handlers like `DiskSaver`, `NeptuneSaver` etc.

[2020-05-22 22:50] vfdev-5 opened #1061 "Fix warnings in test"
## 🚀 Feature

Currently, we have several warnings raised during the tests from our side but not catched with `pytest.warns`:
- https://travis-ci.org/github/pytorch/ignite/jobs/689725736#L3577
- https://travis-ci.org/github/pytorch/ignite/jobs/689725736#L3589
- https://travis-ci.org/github/pytorch/ignite/jobs/689725736#L3593
- etc

We need to improve the code of tests by introducing
[code]

[2020-05-23 13:28] #1060 closed

[2020-05-23 13:32] vfdev-5 commented on #1056
@bmartinn PR with metadata is landed. So, you may try to incorporate it into `TrainsSaver` and give a feedback on that....

[2020-05-23 19:50] bmartinn commented on #1056
Thanks @vfdev-5 ! kudos for the quick PR!
We will add it into `TrainsServer` (probably needs to add a bit of support in `Trains` as well)
I'll update here once the PR is ready

[2020-05-23 21:13] jkhenning commented on #1056
@vfdev-5 Great idea, and 👍 for pushing things so quickly - once we'll add the required support in trains I'll open a PR 😄

[2020-05-24 00:01] vfdev-5 opened #1065 "Skip metric computation if output is None"
## 🚀 Feature

Considering the context of https://github.com/pytorch/ignite/pull/1024
and another point about [using `tensor.item()` on each iteration with TPU which slows down the computation](https://github.com/pytorch/xla/issues/2120#issuecomment-633078574), we need to have a way to skip using `state.output` if set to `None`.

In training on TPU
[code]
however, if we have a running metric attach

[2020-05-24 07:51] sdesrozis commented on #1065
Why do not return the tensor `loss` in function `training_step` and do the fix internally ? Like that, if one day it is resolved, we will not have to change user code.

[2020-05-24 09:16] vfdev-5 commented on #1065
@sdesrozis for XLA (see the link above):

This is why we suggest (unless one does not care of execution time) to do that once every ~20 steps:
https://github.com/pytorch/xla/blob/3b4b5790ba9e9141f19b0e33b3a7a7cd1bad8ead/test/test_train_mp_mnist.py#L129

[2020-05-24 10:08] sdesrozis commented on #1065
Ok I agree what you said. But I’m really not fan, I hope it will be fixed by xla (if possible...)

[2020-05-26 11:03] bmartinn commented on #1057
@vfdev-5 quick question, it seems that there is no way to change the "config" values after calling [config.setup()](https://github.com/pytorch/ignite/blob/master/examples/references/segmentation/pascal_voc2012/code/scripts/mlflow_training.py#L29), well actually you can change them but it has no effect. For example changing the batch_size  will not actually control the batch size, as the function t

[2020-05-26 11:25] Bartolo1024 opened #1069 "Livelossplot logger"
## 🚀 Feature - Livelossplot logger

The logger that is similar to Neptune, W&B, tensorboard loggers available in Ignite.
livelossplot:
[https://github.com/stared/livelossplot](url)
ignite plugin that is available in the livelossplot:[https://github.com/stared/livelossplot/blob/master/livelossplot/inputs/pytorch_ignite.py](url)
notebook example:
[https://github.com/stared/livelossplot/blob/master/e

[2020-05-26 11:54] samedii opened #1070 "Some way of dodging ReproducibleBatchSampler"
## 🚀 Feature

I want to be able to change the weights of my sampler while training and let it have an effect before the next epoch

Doing this at the moment requires some type of ugly hack. I'm currently doing:
[code]

_Note that I've never told ignite to do anything deterministically anyway_

Sidenote: I also had issues with ReproducibleBatchSampler earlier because of large/infinite length of the

[2020-05-26 12:05] sdesrozis commented on #1069
@Bartolo1024 Thank you for this feature !! You already discussed with @vfdev-5 about this, we need to open a PR to discuss deeper :)

Do you want to contribute on it ? It would be a pleasure for us :)

[2020-05-26 12:17] vfdev-5 commented on #1070
@samedii thanks asking. This behaviour will be removed in v0.4.0 (which RC will be released very soon). At the moment, please, nightly release which has default `Engine` without patching dataloader and `DeterministicEngine` which replicates current v0.3.0 behaviour.
Please, tell me if it handles your problem ?

[2020-05-26 12:22] vfdev-5 commented on #1069
@Bartolo1024 thanks for opening FR here !

Let's discuss here a detail about your comment: https://github.com/stared/livelossplot/pull/105#issuecomment-633967435

Is it possible to do If we would like to log `lr` or batch loss per iteration in addition to logging metrics per epoch ?

And yes, as @sdesrozis proposed, feel free to send a PR if you would like to contribute !

[2020-05-26 12:29] samedii commented on #1070
Sounds great! Cannot use it without some pain so I will hold off until it's released then. (CallableEvents cannot be imported)

[2020-05-26 12:29] #1070 closed

[2020-05-26 12:33] vfdev-5 commented on #1070
@samedii is it with nightly release ? If yes, could you please detail what is the problem you have with it ?

[2020-05-26 12:54] vfdev-5 commented on #1057
@bmartinn yes, your understanding is correct about it. Otherwise, I think, it will be rather difficult to trace all modifications for reproducible training.

[2020-05-26 12:54] sdesrozis commented on #813
The bug is also with `MultiplicativeLR`. The way to replicate `_LRScheduler` is really not safe. This scheduler have an argument `lr_lambda` but it stores in `self.lr_lambdas`. To replicate, we use `self.__state_dict__` and pass it to `__init__`. It can't works.
IMO plot values with replication is too tricky.

[2020-05-26 12:56] sdesrozis commented on #813
`copy.deepcopy()` will replicate `params` of the related `optimizer`, not a good idea.

[2020-05-26 12:59] sdesrozis commented on #813
@vfdev-5 maybe we should accept that we can't use a `LRScheduler` after ploting values ? (and do not replicate but can plot for every schedulers).

[2020-05-26 13:03] vfdev-5 commented on #813
@sdesrozis how about the same approach as used with lr finders etc :
- save initial state dicts
- do something
- restore init state
?

[2020-05-26 13:05] sdesrozis commented on #813
You save my day 😊 I check if it’s ok.

[2020-05-26 13:33] Bartolo1024 commented on #1069
Yes, it is possible - each LogItem has value and step, which can be specified in `plotlosses.update` method.

Of course, it will be an awesome experience. I will prepare a PR :)

[2020-05-26 14:05] samedii commented on #1070
I could not import CallableEvents

`from ignite.engine.engine import CallableEvents`

Guessing we are not supposed to use it since it's under `engine.engine`

[2020-05-26 14:26] vfdev-5 commented on #1070
Thanks for pointing out this ! We need to backport that for v0.4.0 as we reworked events system.

Replacement of `CallableEvents` is `Events` as now all events are callable.

[2020-05-26 14:30] vfdev-5 opened #1071 "Backport and deprecate `CallableEvents`"
## 🐛 Bug description

According to https://github.com/pytorch/ignite/issues/1070#issuecomment-634046751 user could use `CallableEvents` since v0.3.0. To improve backward compatibility, we need to reintroduce `CallableEvents` as `CallableEventWithFilter` and put a deprecation note (removed since v0.5.0 and use `Events`).

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.

[2020-05-26 22:07] snie2012 opened #1073 "Is there a place to keep track of the newly added features?"
I can see a list of features when a new version in released. However, is there a place to track of the features added to the latest master?

[2020-05-26 22:09] vfdev-5 commented on #1073
Yes, you can see them here : https://github.com/pytorch/ignite/compare/v0.3.0...master

[2020-05-27 01:56] Nic-Ma opened #1074 ""=" in the checkpoint name may be incompatible with OSs"
## ❓ Questions/Help/Support
Issue raised by Eric from MONAI team:
File names with operators in them may be valid names in Linux but that's not the case in other OSs, plus shells like bash really don't like them.

[2020-05-27 07:17] sdesrozis commented on #1074
@Nic-Ma Thank you for this question.

I don't know any problematic OS with `=` operator in filenames but even with Linux, you have to be careful and sometimes use quotes.

The filename policy is here
https://github.com/pytorch/ignite/blob/cc78b3bbd764da9ae7dee0df21676b2b8a50fba8/ignite/handlers/checkpoint.py#L93-L105

Maybe we could add a format based on regex that user could set (default is exist

[2020-05-27 07:23] Nic-Ma commented on #1074
Hi @sdesrozis ,

Thanks for your quick response.
A regex or user-defined separator sounds good, the default still can be "=".
Thanks.

[2020-05-27 18:32] snie2012 commented on #1073
Thanks @vfdev-5. Apart from that, any documentation of the major features added?

[2020-05-27 19:40] sdesrozis commented on #1073
We don’t have yet ChangeLog or ReleaseNote. Thanks for the suggestion @snie2012 👍🏻

[2020-05-27 22:45] bmartinn commented on #1057
Hi @vfdev-5,  I have a draft for the PR [here](https://github.com/bmartinn/ignite/tree/trains_segmentation_example/examples/references/segmentation/pascal_voc2012).
I took the liberty of adding a `requirements.txt` for the sample project, it seemed to be that the only way to get the list of packages was inside the conda yaml file in the mlflow directory :)

What do you think?

[2020-05-27 23:38] vfdev-5 commented on #1057
@bmartinn looks good ! I think I'll need to follow your readme to reexecute the training and check how it works. There are some points to fix, but seems like OK.
About `requirements.txt`, in some sense, yes, maybe it would be better create a common list of them. The problem was with Polyaxon when we build training docker image requirements file was not yet available or something (maybe now it's ch

[2020-05-27 23:59] snie2012 opened #1076 "Length check fails for IterableDataset"
I am using IterableDataset with unknown length. It fails inside the following `if` clause:

https://github.com/pytorch/ignite/blob/cc78b3bbd764da9ae7dee0df21676b2b8a50fba8/ignite/engine/engine.py#L642

Here is the logic why it fails:
1. Data is PyTorch DataLoader, which has the `__len__` attr, so it goes into the `if` clause
2. It runs the code `epoch_length = len(data)`, and leads to `length = se

[2020-05-28 00:05] vfdev-5 commented on #1076
@snie2012 thanks for the report. Yes, you are right about that. We have a test with `IterableDataset` but it has gone to deterministic engine and now default engine has escaped the checking. Yes, definitely, we need to support that !

[2020-05-28 00:10] bmartinn commented on #1057
@vfdev-5 just a quick FYI, for the smoothest experience, I suggest waiting for the next RC (should be available some time next week), we added some improvements that were also needed here #1056

Sounds like a great idea , Slack is probably more suited for that, feel free to DM me on our slack channel :)

[2020-05-28 03:05] InCogNiTo124 commented on #1061
Hello, I'd like to help if I may. How much trouble do you think it would be?

[2020-05-28 07:49] vfdev-5 commented on #1061
@InCogNiTo124 thanks for proposing help on the issue. Well, the issue is not a big deal. Just to wrap testing code that raises warning with `pytest.warns`. The steps are the following:
- take recent CI report, for example: https://travis-ci.org/github/pytorch/ignite/jobs/691837078
- find all messages about non catched warnings raised by ignite (like described in the issue message)
- find the test

[2020-05-28 10:33] InCogNiTo124 commented on #1061
It sounds really doable. I'll open a PR by tommorow

[2020-05-28 12:14] vfdev-5 opened #1079 "Replace conda install in github CI by actions/setup-python@v2"
## 🚀 Feature

In order to accelerate env and dependencies installation we can opt to replace:
https://github.com/pytorch/ignite/blob/cc78b3bbd764da9ae7dee0df21676b2b8a50fba8/.github/workflows/unittests.yml#L19-L25
by
https://github.com/pytorch/ignite/blob/cc78b3bbd764da9ae7dee0df21676b2b8a50fba8/.github/workflows/tpu-tests.yml#L14-L19

with correct python version

[2020-05-28 12:25] #1076 closed

[2020-05-28 20:57] devashishshankar opened #1080 "Log a warning/ raise an error when lightning replaces an existing Sampler"
## 🚀 Feature

First of all, thanks for this awesome project! Really enjoying using it!

I'm pretty new to lightning - and recently moved one of my models to lightning.
Unaware of the details, I chose ddp training strategy (since it was recommended).
For a long time, my model was not converging on the val set - and it took me a lot
of time to realise what was happening - lightning had replaced my D

[2020-05-28 21:14] devashishshankar commented on #1080
On a separate note, can anyone here explain why exactly is `DistributedSampler` needed when using DDP? I can see that it will help if I have shuffle=false. It will probably help maintain sanity of an epoch (since otherwise epoch length will become num_processes*epoch).

But let's say I am doing random shuffling - and am cognizant of the fact that my epoch sizes will be higher, there is no real rea

[2020-05-28 21:30] vfdev-5 commented on #1080
Hi @devashishshankar, may I ask if the issue is really related to **PyTorch-Ignite** not lightning ?

[2020-05-28 22:08] #1071 closed

[2020-05-28 22:21] devashishshankar commented on #1080
Very sorry :/ You're right :P

[2020-05-28 22:21] #1080 closed

[2020-05-29 09:19] InCogNiTo124 commented on #1061
@vfdev-5 there are quite a few deprecation warnings. Maybe it would be better to fix the tests?

[2020-05-29 09:25] vfdev-5 commented on #1061
@InCogNiTo124 I'm sorry I do not understand what do you mean by fix the tests ?
In some sense, yes, we need to update tests by adding
[code]
We do not need to modify `ignite/ignite` code, but only `ignite/tests/ignite`...

[2020-05-29 15:04] #813 closed

[2020-05-29 15:17] InCogNiTo124 commented on #1061
Yes of course, I was confused for a bit, sorry. It's just that a lot of warnings are DeprecationWarnings and I was worried things will break if you ever up the dependencies.

Also, due to life, I don't think I'll be able to fix these tests until today. I hope next week is not too late?

[2020-05-29 15:28] vfdev-5 commented on #1061
@InCogNiTo124 no worries. This issue is not related to coming release, so, it can wait.

[2020-05-30 02:26] n2cholas opened #1082 "Metrics Implementation Question"
Thanks for the great library, especially the metrics. I have a few questions to better understand the implementation:

During the update stage, why are the values converted to Python floats instead of keeping them as torch values (e.g. [here](https://github.com/pytorch/ignite/blob/master/ignite/metrics/mean_squared_error.py#L27))? This operation incurs a device->host transfer, so the operation is

[2020-05-30 09:31] vfdev-5 commented on #1082
@n2cholas thanks for good question !

Depending on metric, but, yes, majority of metrics internally stores scalars and that's true that passing those scalars to CPU on update has a slight overhead (~20 ms per 1000 updates).
Reasons for that were: implicit graph detach, no GPU storage (tiny part). However, I agree that we can store them as tensors, use `device` arg to define where to keep the tenso

[2020-05-30 16:02] n2cholas commented on #1082
Thanks for the quick reply! If we keep them as tensors, would it be better to keep them on the GPU or CPU by default? I believe tf.keras metrics are on the GPU by default. This would allow the `update` method to be completely async.

I would be happy to contribute this enhancement to the metrics, though I don't have experience benchmarking performance to see if we get an improvement/regression.

[2020-05-30 16:34] sdesrozis commented on #1082
@n2cholas thank you to contribute on that issue :)

IMO the first point should be to have a performance comparison between keep tensors on GPU or not. Bench could be done on cifar10 for instance.

[2020-05-30 23:16] vfdev-5 commented on #1082
@n2cholas sounds great about contributing ! If you would like to start right now, please use [idist](https://github.com/pytorch/ignite/tree/idist) branch as reference code, otherwise we plan to merge it within 1-2 days, so you can work from the master.

About benchmark, I think a simple time measure of 2 codes where we run validation phase with metrics computation several times (e.g. 10) can be OK

[2020-05-31 00:10] #750 closed

[2020-05-31 08:01] Yevgnen opened #1087 "wandb: WARNING Adding to old History rows isn't currently supported."
## 🐛 Bug description

When `setup_wandb_logging` is used, no metric is logged into `wandb`.

Replace all `wandb` setup codes in the [example](https://github.com/pytorch/ignite/blob/master/examples/contrib/mnist/mnist_with_wandb_logger.py) with

[code]

Sample output:

[code]

When login to [wandb](https://app.wandb.ai/), no metric is logged.

## Environment

 - PyTorch Version (e.g., 1.4): 1.5.0

[2020-05-31 08:32] vfdev-5 commented on #1087
@Yevgnen thanks for reporting ! Indeed, as we log evaluators' metrics on epochs:
https://github.com/pytorch/ignite/blob/cfd07999b891016b7a365139cb9995f7770e2e4d/ignite/contrib/engines/common.py#L250-L254
and this is not supported by wandb...
Let's see what can be done

[2020-05-31 14:53] WeirdKeksButtonK opened #1089 "Possible improvements for Accuracy"
In full detail the feature request is described [here](https://github.com/pytorch/pytorch/issues/22439#issuecomment-636454497), below is a quick recap.

There are two inconveniences I experience with the current interface of Accuracy.

#### 1. Inconsistent input format for binary classification and multiclass problems
In the first case, Accuracy expects labels as input, whilst in the second case i

[2020-05-31 19:36] #1087 closed

[2020-05-31 21:07] InCogNiTo124 commented on #1061
Although this issue is connected with tests, I found one line in the source connected to 66 warnings in 48 tests. `ignite/metrics/accumulation.py:L57` creates a tensor with value `0.0` but dtype `torch.long`, which then throws a warning because pytorch is considering getting rid of implicit conversion with `int()`.

Should I fix that line? The fix is trivial, but really effective, and without it I

[2020-05-31 23:07] #965 closed

[2020-05-31 23:07] #992 closed

[2020-05-31 23:08] #991 closed

[2020-05-31 23:08] #999 closed

[2020-05-31 23:08] #1011 closed

[2020-05-31 23:08] #1055 closed

[2020-05-31 23:28] vfdev-5 commented on #1061
@InCogNiTo124 yes, sounds good !

[2020-06-01 09:38] beyondyoni opened #1091 "DistributedDataParallel support"
## ❓ Questions/Help/Support

Hi,
When trying to use DistributedDataParallel, I'm getting the following error:
TypeError: can't pickle _thread.lock objects

Can anyone help?

[2020-06-01 09:46] vfdev-5 commented on #1091
@beyondyoni normally, DDP is fully supported with ignite. Please, share a minimal code to reproduce your problem. Thanks !

[2020-06-01 10:15] beyondyoni commented on #1091
@vfdev-5 Thanks! do you have a working example of a model trained using DDP?
I'm pretty sure that I'm doing some silly mistakes - we're creating Ignite engines for every spawned process. Is this the right approach?

Anyways, this is the method we try to spawn:
[code]

create_engines creates a set of trainer + evaluator, define handlers, and returns the engines to run.
In DDP case, _generate_data_l

[2020-06-01 10:26] vfdev-5 commented on #1091
@beyondyoni yes, please see https://github.com/pytorch/ignite#distributed-cifar10-example or https://github.com/pytorch/ignite#reproducible-training-examples
However, those examples, however, are not using spawn.

What is your version of pytorch-ignite ?

Looking at your code, seems like it mp.spawn is called from class method and should insert its own method ... I have a slight doubt about how it

[2020-06-01 20:25] vfdev-5 commented on #1091
@beyondyoni if you can use the latest nightly release, something similar to your example can be done like that:
[code]
and
[code]
HTH

[2020-06-01 23:15] snie2012 opened #1094 "This is breaking my IterableDataset use case: is it a bug or intended?"
Looking at the following line of code:
https://github.com/pytorch/ignite/blob/523798c13a9465f4c95565cb54ae3c5aa0786ac6/ignite/engine/engine.py#L742
It breaks out of the loop without resetting the dataloader (means without calling `self.set_data(self.state.dataloader)`), it's breaking all my use cases where my own implementation of dataloader only raises `StopIteration` once. Is this a bug or inten

[2020-06-01 23:35] vfdev-5 commented on #1094
@snie2012 yes, it is intended because what happens (as I understand it) is the following:
[code]
Data iterator is exhausted and `StopIteration` is raised. We, then, see that `epoch_length` is not defined => we define it => so, epoch is done => we need to quit single epoch loop.
If we call again `iter(dataloader)` and `dataloader` is exhausted, it does not make much sense. On the next epoch, engine

[2020-06-02 00:58] snie2012 commented on #1094
@vfdev-5 Thanks for the quick response! I am a bit confused. My understanding is that when `dataloader` is exhausted, calling `iter(dataloader)` will do the resetting. Am I missing something?

[2020-06-02 08:20] vfdev-5 commented on #1094
Yes, you are right about `iter(dataloader)` if dataloader is a torch DataLoader. I missed the fact that you have `IterableDataset`.
[code]
Here is how it would work as I expect
[code]

Could you, please, detail what is not working for your use-case. Thanks !

[2020-06-02 17:46] snie2012 commented on #1094
@vfdev-5  Never mind, I think I can fix this on my end.

A separate but related issue: DDP with unknown length `IterableDataset ` fails. I tried multiple runs, the first epoch works totally fine, but at the second epoch, there is simply no data, so the engine either silently quits or cause some metric computation error (no data to compute). I am not familiar with the DDP code in ignite, but this s

[2020-06-02 19:54] ryanwongsa opened #1096 "Training on TPU with threading"
## ❓ Questions/Help/Support

Currently I am trying to train multiple folds of my dataset on each TPU core using threading but ignite has issues where the one thread either takes preference over others or causes my training to crash.

I created two simple versions to show an ignite version of MNIST on multiple folds vs a regular pytorch version as an example
- [Ignite TPU multi-fold]( https://colab

[2020-06-02 20:20] CreateRandom opened #1097 "Saving double execution cost during training"
Hi there,

thanks for the great library, it's proven quite useful for me already. In line with #1059, I've noticed that all the examples presume that the training loader is iterated over twice per epoch, but I find that during prototyping and when inference is expensive, it would be preferable to use the already computed predictions for metric computations. I've experimented with using the Trainer

[2020-06-02 20:42] sdesrozis commented on #1096
@ryanwongsa thank you for this excellent usecase !! I suspect some issues with some unwanted syncs. Thank you again for the codes, we will have a look on it !!

[2020-06-02 20:54] sdesrozis commented on #1097
@CreateRandom thank you for your comments 😊 Very happy to read this.

First, your approach is a clever use of what ignite allows!! However, it can’t work with huge dataset.

I think you should try to attach metrics on trainer. Using `output_transform`, you should keep `loss`, `y_pred`, etc. and use the metrics in a one pass mode.

[2020-06-02 21:01] vfdev-5 commented on #1097
Yes, @CreateRandom thanks for a great feedback !

Please, correct me if I misunderstood your point, you would like to compute training metrics during the training phase with permanently updated model.

You can do this with the engine following your snippet (personally, I would define my training step, but it is almost the same). For example, we will compute Accuracy during the training:
[code]
and

[2020-06-02 21:05] vfdev-5 commented on #1094
I'm still curious about on how do you use those `IterableDataset` and where ignite fails (without DDP).

@snie2012 thanks for pointing out. Let's investigate it. Could you please provide a minimal snippet of your `DataLoader` ?  Is it different from toy one as I used above ?
Thanks

[2020-06-02 22:35] vfdev-5 commented on #1096
@ryanwongsa let me investigate the issue. Since yesterday we merged a huge part of dist config handling which should normally work on GPUs and TPUs.

Looking the code in details, the codes are not exactly the same:
1) in ignite version we should not use `num_workers=1` and `pin_memory=True` with XLA.
2) our implementation of `create_supervised_evaluator` unfortunately does not do `barrier=True`.
3

[2020-06-02 22:47] snie2012 commented on #1094
For this, the root cause is my own implementation of `IterableDataset` only raises `StopIteration` once. The second time it's called, it throws an error.

Yes in this case, the Dataloader is the same as in your example. Let me know, thanks!

[2020-06-02 23:23] ryanwongsa commented on #1096
@vfdev-5 thanks for your feedback, I tried running your version and set the metrics to be an empty dictionary and commented out the printing of the metrics and it seems to run without crashing. So I think the main issue is that there is some sort of synchronisation for metric computation even when the trainers are independent.

[2020-06-02 23:31] vfdev-5 commented on #1096
@ryanwongsa well, let me check that. Thanks for pointing out about metrics' sync for XLA. We need to verify it. Naively, I would say it tries to `all_reduce` with world size = 1, so nothing special... but as we have more than one device used maybe there are some interferences...

PS: I was wondering why not to use `xmp.spawn` for a similar task ?

[2020-06-02 23:50] ryanwongsa commented on #1096
@vfdev-5 Just incase it is of any use, I am pretty sure experiencing this issue before the changes from PR #1042 was merged so it might be a general sync issue that might affect GPUs too but I haven’t tried it.
Also it is weird that the metrics in the evaluator is causing the kernel to crash as it crashes during the training process, so it might be an initialisation issue (maybe?).

As for the `xm

[2020-06-02 23:57] vfdev-5 commented on #1096
OK, I understand your use-case. Yes, that's correct about `xmp.spawn` and one model on all cores.

Thanks ! Need to dig into that. Normally, with GPUs if no initialized native torch processing group, we should not do anything to sync ... But, again, let me investigate it.

Yeah, I remarked that too. On metrics creation we check current world size...

[2020-06-03 00:20] vfdev-5 commented on #1096
I think I got the problem which is here :
https://github.com/pytorch/ignite/blob/2d30d1d332da55bc14a28f081c90512facd04287/ignite/distributed/comp_models/xla.py#L31-L33

We create a XLA distributed computation model just if we have xla support. And when we setup it
we compute various params like nprocs per node etc by using all_reduce which should cause crashing at some point ...

If I hack the con

[2020-06-03 07:35] ryanwongsa commented on #1096
Thanks, I tried that change on my project its works.

[2020-06-03 08:10] Yevgnen opened #1098 "Incorrect log position"
## 🐛 Bug description

When `{bar}` is removed from `bar_format` of argument of `ProgressBar`, immediate logger output does not print in newline.

<img width="674" alt="Screen Shot 2020-06-03 at 3 58 28 PM" src="https://user-images.githubusercontent.com/16749790/83612133-932b3480-a5b4-11ea-831b-5d90da046813.png">

Add

[code]

to beginning of [mnist_with_tqdm_logger.py](https://github.com/pytorch/i

[2020-06-03 09:12] sdesrozis commented on #1096
I think `k-fold` is a scenario that we have to improve with distributed feature.

[2020-06-03 09:49] vfdev-5 commented on #1098
@Yevgnen thanks for reporting ! I could reproduce the issue which is related to the fact that internally in engine, logger.info for epoch complete is called before calling all attached handlers (incl. ProgressBar). What can be done is to move `self.logger.info("Epoch[%s] Complete.`
after `self._fire_event`:
https://github.com/pytorch/ignite/blob/2d30d1d332da55bc14a28f081c90512facd04287/ignite/engi

[2020-06-03 11:40] Yevgnen commented on #1098
@vfdev-5 You are always fast :-)

[2020-06-03 12:17] Yevgnen commented on #1098
Does logs like these look weird?

[code]

The train finished log is printed after all the evaluator logs...

[2020-06-03 12:35] vfdev-5 commented on #1098
@Yevgnen I think new logs are OK
- trainer is started => trainer INFO: Engine run starting with max_epochs=5.
- epoch completed => run evaluation =>
[code]
- all handlers are executed => `trainer INFO: Epoch[1] Complete. Time taken: 00:00:00`

[2020-06-03 12:40] Yevgnen commented on #1098
Yes, I see that. But the elapsed time outputted by the `trainer` does not include the evaluations, I thought that it might confused users. I'm OK with it.

[2020-06-03 12:48] vfdev-5 commented on #1098
True. Let's see what others say... cc @erip @sdesrozis

[2020-06-03 13:51] niowniow opened #1100 "Misleading ValueError - Accuracy Metric Multilabel"
## 🐛 Bug description

When using Accuracy.update() with both inputs having the second dimension 1, e.g. in my case `torch.Size([256,1])` the raised error message is misleading.

To reproduce
[code]
`ValueError: y and y_pred must have same shape of (batch_size, num_categories, ...).`

In this case the y and y_pred do have the same shape but the issue is that it's not an accepted multilabel input (t

[2020-06-03 14:08] niowniow commented on #1100
Ok, I'm still working through this. Sorry for having posted too early. Maybe the issue is that the two [lines](https://github.com/pytorch/ignite/blob/01a2bc0f79ca03565dd0c112b73d6508bc81b070/ignite/metrics/accuracy.py#L145)
[code]
should be in reverse order!?
Maybe someone could have a look at it.

[2020-06-03 14:16] vfdev-5 commented on #1100
@niowniow thanks for posting !
I agree with your fist message about misleading error message regarding the input as in your example. Maybe, even the condition `y.shape[1] != 1` is a bit wrong and should be `y.shape[1] > 1` (to cover cases like `t = torch.zeros(10, 0, 2)`).

I think, we just need to improve the error message to
[code]

What do you think ?

[2020-06-03 14:18] sdesrozis commented on #1100
@niowniow Thank you for the question.

@vfdev-5 You are too fast!! :)

[2020-06-03 14:35] niowniow commented on #1100
@vfdev-5 That would probably do it. However, I'm don't know if it holds for `y.shape[1] > 1`
@sdesrozis Yes, it should be greater than one. However, I ran multiple tests with varying number of categories. Some happen to have only one category. And I didn't check for it before instantiating Accuracy.

But would there be a difference in the output of the binary case and the multilabel case with `num

[2020-06-03 14:40] sdesrozis commented on #1100
Ok it makes sense, thank you for that clarification.

Actually we don't have the same implementation but I agree that should not be different. Let's see what we can do.

[2020-06-03 14:46] vfdev-5 commented on #1100
If `num_categories` changes, another error is raised:
https://github.com/pytorch/ignite/blob/01a2bc0f79ca03565dd0c112b73d6508bc81b070/ignite/metrics/accuracy.py#L88-L91

[2020-06-03 15:32] CreateRandom commented on #1097
Thanks for the detailed and fast suggestions, this works like a charm! I was able to attach metrics directly to the trainer and to compute them online by means of the output_transform @vfdev-5 included.
[code]
Attaching the logger directly to the trainer rather than the evaluator then allowed me to log the metric easily. Really appreciate it.

[2020-06-03 15:32] #1097 closed

[2020-06-03 17:03] sdesrozis commented on #1098
Digression mode : Hey, I was looking for an issue that is related, I guess. When I activate root logger of `logging` using `setup_logger()` (similar to what is done by `basicConfig`), `ProgressBar` does always persist despite `persist=False`... And I suppose that is linked with the current discussion !!

I think time resume for an epoch should include the evaluations.

[2020-06-03 18:27] beyondyoni commented on #1091
Works perfectly!!!

@vfdev-5 thank you very very much!

[2020-06-03 18:27] #1091 closed

[2020-06-04 00:25] snie2012 commented on #1094
Do you have any successful use cases with DDP and unknown length IterableDataset?

[2020-06-04 08:20] vfdev-5 commented on #1094
@snie2012 here is a working code on DDP with "gloo" backend on 4 procs, 1 node:
[code]
Output:
[code]

[2020-06-04 08:31] vfdev-5 commented on #925
Idea for quickstart tutorial: https://captum.ai/#quickstart

cc @erip @sdesrozis

[2020-06-04 11:02] sandylaker opened #1103 "EpochMetric signature check caused error"
## 🐛 Bug description
I tried to re-implement the `ROC_AUC` like the one in `contrib.metrics.roc_auc`, and passed some extra kwarg options to support for multiclass and multilabel classification. However, when I run my code, an Error "Number of classes in y_true not equal to the number of  columns in 'y_score' " was raised by `scikit-learn`. I checked the` y_true` of the whole epoch, and the number

[2020-06-04 11:09] vfdev-5 commented on #1103
@sandylaker thanks for the report !

Yes, that's true that we check on the first iteration if `compute_fn` can compute a value. This is a sort of sanity check. But, as you see in the code:
https://github.com/pytorch/ignite/blob/ebd1876a12ebe16403889e0ede6de61d84c1b44b/ignite/metrics/epoch_metric.py#L73-L78
it is wrapped by try/except and only warns if there is a problem. I do not quite understand

[2020-06-04 11:24] sandylaker commented on #1103
Sorry, I apologize for my wrong description, yes it was a `RuntimeWarining` instead of an `Error`. But for `AveragePrecision`, the warning said "RuntimeWarning: invalid value encountered in true_divide recall = tps / tps[-1]".
The evaluation took a whole night, while it should be computed whin several minutes. After I removed the signature check block, this problem was eliminated. So I hope that y

[2020-06-04 11:29] vfdev-5 commented on #1103
Thanks for the update and sorry for inconvenience with this sanity check. Let me reproduce it.
In the master version we replaced `RuntimeWarining` by a specific warning to ignore the warning. Maybe, we can introduce an argument to disable it, if user knows what he/she is doing...

[2020-06-04 13:35] #1061 closed

[2020-06-04 13:43] vfdev-5 commented on #1098
OK, let's address the problem of update of time taken by epoch with the times after all handlers in a separate issue.

[2020-06-04 13:47] vfdev-5 opened #1104 "Epoch Completed and Completed times should include handlers times"
## 🚀 Feature

Following discussions here: https://github.com/pytorch/ignite/issues/1098#issuecomment-638170742 idea is to include the times spent in executing handlers attached to `EPOCH_COMPLETED` and `COMPLETED` into https://github.com/pytorch/ignite/blob/93e090ea77f536c1cd50b27ba162adadf64491fc/ignite/engine/engine.py#L699
and
https://github.com/pytorch/ignite/blob/93e090ea77f536c1cd50b27ba162a

[2020-06-04 15:11] #1098 closed

[2020-06-04 18:13] Joel-hanson commented on #1074
Shall I take this up @sdesrozis

[2020-06-04 19:39] sdesrozis commented on #1074
@Joel-hanson thank you to contribute on this issue 😊

The idea is to replace the operator `=` in filename of checkpoints. To do it, we can introduce a separator attribute (default is `=`) as suggested by @Nic-Ma. A more sophisticated option is to provide a string pattern like `{filename_prefix}_{name}_{score_name}={score}.{ext}` and process it by replacing labels.

What do you think?

[2020-06-04 20:00] vfdev-5 commented on #1074
How about setting this pattern as a class member of Checkpoint:
[code]

If user would like to change it, there is a possibliity.

[2020-06-04 20:04] sdesrozis commented on #1089
@WeirdKeksButtonK I really appreciate this API !

[2020-06-04 20:25] #1096 closed

[2020-06-04 20:30] vfdev-5 commented on #1096
@ryanwongsa I just merged a PR that should cover this issue. You can try it with this Colab:
https://colab.research.google.com/gist/vfdev-5/d6bce745a4a70195630725008a1be7f3/ignite_on_tpus.ipynb#scrollTo=NSu1tXLhZCWW

Note: concerning the threading, please see the comment from xla devs : https://github.com/pytorch/xla/issues/2171#issuecomment-639065832

[2020-06-04 21:02] ryanwongsa commented on #1096
Nice, thanks for the quick fix and update regarding the threading.

[2020-06-04 21:09] snie2012 commented on #1094
@vfdev-5 Thanks for the example! Is this the canonical set up to do distributed training with ignite? I'd like to learn more of how to set up DDP in ignite, any documentations or code examples on this?

[2020-06-04 21:23] vfdev-5 commented on #1094
@snie2012 in this example, I just reproduce one of the pytorch tutorials on distributed computation.  However, the part with `MyIterableDataset` is just my imagination on how to dispatch data over processes. Honestly, I do not know how it canonically should be setup `IterableDataset`, `DistributedSampler` and `DataLoader`...

At the moment, Ignite does not provide any helpers on DDP, it just integ

[2020-06-04 21:30] vfdev-5 commented on #1056
@bmartinn as 0.15.0 is out from your side, what can be done here to fix this issue ?

[2020-06-04 21:31] snie2012 commented on #1094
@vfdev-5 Thanks for the clarification. In my case, I am manually calling `mp.spawn(one_ddp_fn)` to spawn the processes. `IterableDataset` is constructed inside `one_ddp_fn`. My understanding is that this is pretty much the same as your code example. Not sure what went wrong.

[2020-06-04 21:32] vfdev-5 commented on #1094
@snie2012 if you wish to share the code somewhere, we can debug it :)

[2020-06-04 21:33] bmartinn commented on #1056
@jkhenning could you help with a PR fix?

[2020-06-04 21:35] jkhenning commented on #1056
@bmartinn, @vfdev-5 I'll get on it :)

[2020-06-04 23:40] snie2012 commented on #1094
I would like to but there are some proprietary code I cannot share. I'll look into it at my end. Also, let me know if you find something!

[2020-06-05 04:46] niowniow commented on #1100
Thanks. It's fine for me to have another if-condition checking if my input should use `binary`.

[2020-06-05 06:36] Joel-hanson commented on #1074
@sdesrozis replacing labels seems like a good option and the suggestion by @vfdev-5 is worth considering. I will note down what I have in mind to be more clear before moving forward.

I will set the `filename_pattern="{filename_prefix}_{name}_{score_name}={score}.{ext}" as a class member for the Checkpoint. The filename will have the default pattern if there is no change in the class member. If a

[2020-06-05 06:51] isolet commented on #1098
I have a similar issue, when handlers for `Events.ITERATION_COMPLETED` which lies between `Events.EPOCH_STARTED` and `Events.EPOCH_COMPLETED` output logs(e.g., adjust `lr` based on iteration and output a info message like `lr adjusted to ...`), they come after the progress bar if the `{bar}` is hidden.

[2020-06-05 06:51] sdesrozis commented on #1074
@Joel-hanson What you have in mind seems good 😉 str + format with fixed keywords (`score`, `ext`, etc.) looks good. It’s similar to what is done in `logging` format. It should be a good inspiration.

And you are right, we have multiple patterns depending of the usage context. IMO if user give a pattern, we should use it. Otherwise, legacy policy remains used. Let’s see if it fits class member appr

[2020-06-05 06:52] sdesrozis commented on #1100
@niowniow Perfect!

[2020-06-05 08:40] vfdev-5 commented on #1074
@Joel-hanson let's consider that if user changes the pattern he/she knows what he/she is doing.
So, no internal additional appends. For example, if pattern is
[code]

[2020-06-05 11:51] Joel-hanson commented on #1074
Thanks, @sdesrozis @vfdev-5 for the quick response. So I shall start implementing based on what @vfdev-5 has conveyed.

[2020-06-05 21:30] bmartinn commented on #1057
PR #1095 merged, closing this issue.
Open if something pops.

[2020-06-05 21:30] #1057 closed

[2020-06-05 22:31] jkhenning commented on #1056
Hi @vfdev-5,

I've pushed a draft into my fork, branch `fix_trains_checkpoint_n_saved` (see [here](https://github.com/jkhenning/ignite/tree/fix_trains_checkpoint_n_saved)) - I'd appreciate your input.

Basically, I changed the `TrainsSaver` behavior to use the new Trains pre/post registration/upload callbacks, which always uses the filename as passed to the saver (which removed the need to have a

[2020-06-05 22:55] vfdev-5 commented on #1056
@jkhenning thanks for working on that !
Could you please confirm me that overriding `DiskSaver.remove` method can not help for that ?
For example, `TrainsSaver` receives checkpoints with the filenames and metadata:
[code]
if you store somewhere a mapping between `training_checkpoint_X.pt` and a way you save `n` checkpoints stored on server, maybe it could be possible to override `remove: training_

[2020-06-05 23:33] bmartinn commented on #1056
I think the reason `remove` might not be enough, is that it will basically be too late.
In other words if `n_saved` equals to 5, the first time the TrainsLogger will see a `remove` called will be after the 6th model was created, so essentially although you wanted the "last" 5 models, TrainsLogger will store the "last" 6.

@vfdev-5 makes sense ?

[2020-06-06 06:45] n2cholas commented on #1082
I ran the benchmarks using this script: https://gist.github.com/n2cholas/654850d6345242c4406e0bef23e3d060. Essentially, I evaluated the accuracy metric for training on CIFAR 10 over one epoch. I'd love feedback on this benchmarking script, if it's flawed in any way.

Over 20 runs, here's a summary:
|Accuracy Impl| Avg Time (s) | Std Deviation|
|----------| ---------| ----------|
|Ignite Master| 15

[2020-06-06 08:50] sdesrozis commented on #1082
@n2cholas Thank you for this work. Your code looks perfect.

Results are interesting and I agree with you. I’m curious about similar experiment in testing mode rather than training.

[2020-06-06 12:23] vfdev-5 commented on #1082
@sdesrozis there was an issue on ConfusionMatrix: https://github.com/pytorch/ignite/issues/684
Its implementation uses torch tensors on cpu and double precision for precision.

[2020-06-06 12:27] vfdev-5 commented on #1082
@n2cholas thanks for the gist, nice code !
I rerun it on Nvidia 1080 Ti and here is my numbers:
[code]
[code]

Let me check a bit details and as you say probably we should check with more realistic example.

[2020-06-06 13:09] vfdev-5 commented on #1065
An update on that. I tried to implement skipping and there can a potential roadblock with `MetricUsage`. For example, `RunningAverage` metric when setup to average output coming from `engine.state.output` need to skip its `update()` AND `compute()`.
While skip `update()` is easy with `Metric` class inside `iteration_completed` method by checking if `engine.state.output is None`. There is no simple

[2020-06-06 14:57] sdesrozis commented on #684
I discover this issue. Looking results, I don’t catch, GPU or CPU ConfusionMatrix is better ?

Sorry 😅

[2020-06-06 15:08] sdesrozis commented on #1065
`compute()` should be skipped if no `update()` has been triggered until last `reset()`, right ?

[2020-06-06 21:11] n2cholas commented on #1082
@vfdev-5 thanks for the rerun and choosing a more realistic batch size.

@sdesrozis Here is a [similar script](https://gist.github.com/n2cholas/b6f04900321f0a49378da9ac22331aaf) for evaluating a validation loop instead of training. I used a batch size of 512 (like @vfdev-5 ) and 50 runs to get a tighter standard deviation. This and my previous runs were both on a GTX 1080. The results are pretty s

[2020-06-07 07:55] jkhenning opened #1110 "0.4.0-pre import ignite broken on Windows machine with cpu-only"
## 🐛 Bug description

`import ignite` fails with the following exception:
[code]
When using ignite 0.4.0 pre-release on a Windows machine with no GPU (i.e. cpu-only)

## Environment

 - PyTorch Version (e.g., 1.4): 1.5.0
 - Ignite Version (e.g., 0.3.0): 0.4.0 pre-release
 - OS (e.g., Linux): Windows 10
 - How you installed Ignite (`conda`, `pip`, source): `conda install ignite -c pytorch-nightly`

[2020-06-07 08:08] sdesrozis commented on #1110
@jkhenning Thank you for reporting this bug. I suppose that it miss some guards around idist usage...

[2020-06-07 10:15] vfdev-5 opened #1111 "Setup Windows CI with github actions"
## 🚀 Feature

To prevent bugs like https://github.com/pytorch/ignite/issues/1110 we need to setup windows CI. For example as a github action.

https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners

[2020-06-07 15:04] #1110 closed

[2020-06-07 15:43] vfdev-5 commented on #1082
@n2cholas in some sense maybe it could make sense to update metrics code, such that internal cumulators where is not done become tensors and user can specify the storage by device. We already have this argument but it is unsed in most of the cases... We also should be careful about specfic implementations where double precision is required...

[2020-06-07 18:18] sdesrozis commented on #1082
@n2cholas Thank you for this. We can do a FR on this following @vfdev-5 remarks.

[2020-06-08 11:15] #692 closed

[2020-06-08 23:25] #1079 closed

[2020-06-08 23:25] #1111 closed

[2020-06-09 10:31] vfdev-5 opened #1114 "Update frequency of ignite tests vs pytorch versions"
## 🚀 Feature

Idea is update cron schedule of https://github.com/pytorch/ignite/blob/00ef5710b10191f412d33b32baa1e01148b985ff/.github/workflows/pytorch-version-tests.yml#L4
and make it once per 1 or 2 days instead of 1 week.

[2020-06-09 14:39] vfdev-5 opened #1115 "ProgressBar does not close the bar on Colab if every is used"
## 🐛 Bug description

Progress bar is set with `common.setup_common_training_handlers(... log_every_iters=15, ...)` and it does not close itself as being not terminated ...

<img width="451" alt="Screen Shot 2020-06-09 at 16 34 53" src="https://user-images.githubusercontent.com/2459423/84161178-48effa80-aa6f-11ea-9fd1-5b6c673c940f.png">

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Ve

[2020-06-10 10:49] vfdev-5 commented on #1073
@snie2012 now you can track newly added features etc here :

https://github.com/pytorch/ignite/releases/tag/v0.4rc.0.post1

I close the issues as soved. Please, feel free to reopen if needed.

[2020-06-10 10:49] #1073 closed

[2020-06-10 23:21] Ceceu opened #1118 "Ignite on multiple GPUs"
The [Ignite quickstart](https://pytorch.org/ignite/quickstart.html#code) is an exciting guide showing the essentials for define and training a simple model. But the examples provided which use multi GPU training do not seem to follow the same simplicity.

Would it be difficult to do something as shown in the code snippet below?
[code]
Is there a tutorial that shows how simple it would be to train

[2020-06-10 23:34] vfdev-5 commented on #1118
@Ceceu thanks for asking ! Currently, in stable v0.3.0 release we relies only on native torch distributed API. Example of that can be found [here](https://github.com/pytorch/ignite/blob/v0.3.0/examples/contrib/cifar10/main.py). User need to manually setup distributed proc group and execute the script with `torch.distributed.launch` tool. Or use `mp.spawn`...

However, we aim to simplify this by pr

[2020-06-10 23:44] Ceceu commented on #1118
@vfdev-5,
These are great news.

[2020-06-10 23:44] #1118 closed

[2020-06-10 23:48] vfdev-5 commented on #1103
@sandylaker could you please provide some random data that can help reproduce the issue ? Thanks

[2020-06-11 05:31] sandylaker commented on #1103
So my dataset contains 13 classes, maybe you can generate some random labels. If batch size is set to a number smaller than 13, let's say 8, so the first batch output cannot contain all the 13 classes. The output tensor has shape (8, 13), while the unique classes of y_target is at most 8. If we try to compute the metrics based on the first batch output, it would result in errors raised by sklearn

[2020-06-11 08:34] jkhenning commented on #1056
Hi @vfdev-5

Indeed :)

[2020-06-11 10:04] vfdev-5 opened #1119 "Polyaxon logger internal update"
## 🚀 Feature

A cross-reposting of https://github.com/polyaxon/polyaxon/issues/787

[2020-06-11 13:31] vfdev-5 commented on #1103
OK, I could reproduce the warning.
Anyway, let's introduce an argument to disable this check. By default, it is True (run checking). Such that if user knows what he/she is doing, can disable it.

[2020-06-11 15:58] vfdev-5 opened #1120 "Align idist args and method names to torch.distributed.launch"
## 🚀 Feature

Following https://github.com/pytorch/ignite/pull/1116#discussion_r438634275 we need to unify args and methods:
- `num_procs_per_node` -> `nproc_per_node`
- `idist.get_ntasks_per_node()` -> `idist.nproc_per_node()`
- ...

[2020-06-11 16:09] vfdev-5 opened #1121 "Inspect periodic test fail with lr_finder"
https://travis-ci.org/github/pytorch/ignite/jobs/697283437#L3863

[2020-06-11 19:32] vfdev-5 commented on #1074
@Joel-hanson any updates on this ? Can we help you to start implementation ?

[2020-06-11 19:49] #1120 closed

[2020-06-11 21:23] vfdev-5 opened #1123 "Improve usage of contrib common methods with other save handlers"
## 🚀 Feature

Currently, methods like `common.save_best_model_by_val_score` and `common.setup_common_training_handlers` work with local storage setup by `output_path`.

If we would like to use other save handlers than `DiskSaver`, it is almost impossible to use those helpers.

Idea is to be able user's setup of save handler for internal `Checkpoint` class.
There can be several ways, I see, how to

[2020-06-12 03:25] Joel-hanson commented on #1074
Sorry @vfdev-5 was busy with some pending works will start tomorrow.

[2020-06-12 15:50] vfdev-5 opened #1124 "Inspect UserWarning: TrainsLogger output_handler can not log metrics value type <class 'torch.Tensor'>"
## 🚀 Feature

Currently, when running pascal voc12 training with Trains, we have the following warnings:

[code]

[2020-06-12 16:56] sdesrozis commented on #1123
The first solution sounds good. We can keep `output_path` which create `DiskSaver` internally and add a new parameter `saver` (type `BaseSaveHandler`) mutually exclusive with `output_path`.

I really don't like others alternatives with `None` argument...

[2020-06-12 17:40] vfdev-5 commented on #1123
If we add another argument we have set none to output_path, right ?

[2020-06-12 18:07] sdesrozis commented on #1123
Yes. I didn't catch arguments without default. It's a problem. And I suppose you are thinking about BC...

[2020-06-12 20:33] vfdev-5 commented on #1123
Another idea is to introduce argument `output` and deprecate `output_path` and `output` can be str and `BaseSaveHandler`...

[2020-06-12 21:41] vfdev-5 commented on #1056
@jkhenning done !

[2020-06-13 14:15] Joel-hanson commented on #1074
Sorry for the delay @vfdev-5 @sdesrozis
I have created a PR #1127 for the following issue. If the PR satisfies the requirement and the code quality, I shall add the required tests and also update the docs.

[2020-06-13 20:08] vfdev-5 opened #1128 "auto_dataloader can auto set pin_memory if appropriate"
## 🚀 Feature

Idea is to automatically set `pin_memory=True` if `idist.backend()` is `nccl` or default device is `cuda`.

In the code we can omit this param instead of
https://github.com/pytorch/ignite/blob/6b88eb89cf40e3c4ebe05e0fe67f3c8013ecc5c2/examples/contrib/cifar10/main.py#L199

[2020-06-13 23:02] InCogNiTo124 commented on #1128
Hey, me again :)

So there is only one line that should be changed? Did I understand that right?

[2020-06-13 23:11] vfdev-5 commented on #1128
Hey @InCogNiTo124 :)

1) It is about adding some code on L91
https://github.com/pytorch/ignite/blob/6b88eb89cf40e3c4ebe05e0fe67f3c8013ecc5c2/ignite/distributed/auto.py#L90-L92

check if `kwargs` contains `pin_memory` and if not set to True if `idist.device()` is `cuda`.
Probably, more than one line.

2) update examples
- cifar10

[2020-06-13 23:26] InCogNiTo124 commented on #1128
Sounds doable. And what about docs or tests?

[2020-06-13 23:31] vfdev-5 commented on #1128
Just say here : https://github.com/pytorch/ignite/blob/6b88eb89cf40e3c4ebe05e0fe67f3c8013ecc5c2/ignite/distributed/auto.py#L26-L28
that we auto set pin_memory=True for cuda devices if user does not provide pin_memory arg.

For tests, we can check `pin_memory` attribute of DataLoader here :
https://github.com/pytorch/ignite/blob/6b88eb89cf40e3c4ebe05e0fe67f3c8013ecc5c2/tests/ignite/distributed/test

[2020-06-14 19:35] #1128 closed

[2020-06-15 09:43] vfdev-5 opened #1130 "Auto dataloader - ValueError: batch_size should be a positive integer value, but got batch_size=0"
## 🐛 Bug description

The following code will brake if `batch_size` is smaller than world size :
[code]
[code]

A fix can be:
- keep batch size as provided if smaller than world size
- same for `num_workers`

## Environment

 - PyTorch Version (e.g., 1.4): 1.5.0
 - Ignite Version (e.g., 0.3.0): master
 - OS (e.g., Linux): linux
 - How you installed Ignite (`conda`, `pip`, source):
 - Python versio

[2020-06-15 12:23] InCogNiTo124 commented on #1130
Sure, I will look into it sometime this week. Is there a deadline I should know of?

[2020-06-15 12:27] vfdev-5 commented on #1130
@InCogNiTo124 thanks! I'd say sooner is better. Let's say to have it done before this friday. Anyway, no worries about if you haven't time for that. If it becomes urgent, we'll do it :)

[2020-06-15 12:29] InCogNiTo124 commented on #1130
@vfdev-5 alright, I'll let you know if I can't fix it by then :)

[2020-06-16 16:22] vfdev-5 opened #1133 "Inspect warnings from Visdom that make CI flaky"
## 🐛 Bug description

LR finder catch errors from Visdom server and thus fails.

[code]
https://travis-ci.org/github/pytorch/ignite/jobs/698932904#L3758

Need to inspect and fix that.

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

[2020-06-16 16:23] vfdev-5 commented on #1121
Duplicate of #1133

[2020-06-16 16:23] #1121 closed

[2020-06-16 19:31] #1100 closed

[2020-06-16 22:26] erip commented on #1115
The expected behavior is the `Epoch [...]: [...]` line should be replaced on each epoch?

[2020-06-17 09:21] vfdev-5 opened #1136 "Improve XLA tensor logging"
## 🚀 Feature

Following https://github.com/pytorch/xla/issues/2225, we need to improve our code of experiment tracking loggers when run on XLA devices.

[2020-06-17 11:47] InCogNiTo124 commented on #1130
I think I know the source of the bug, the `world_size` in this example is `8`, but `batch_size` is `6`, so `ignite/distributed/auto.py:L68` makes it `0`.

[2020-06-17 11:54] vfdev-5 commented on #1130
@InCogNiTo124 yes, you are correct about that: 6 // 8 = 0

And yes, it is a typo .

[2020-06-17 16:33] vfdev-5 commented on #1094
Hi @snie2012 could you solve the problem you had with `IterableDataset` and DDP ?

[2020-06-17 22:24] amatsukawa commented on #700
I randomly saw this issue while checking in on the 0.4 release. I also feel that this should be left up to the datasets. It's not immediately clear what the semantics are if the iterators are not the same length.

Perhaps this is not the right venue for this, but I just want to offer my unsolicited $.02 on features such as this one.

IMHO the strength of ignite over other packages such as pytorch-

[2020-06-17 22:37] vfdev-5 commented on #700
@amatsukawa thanks for your feedback, I really appreciate it :)

I understand your point about our willingness of complicating API and thanks a lot for saying that !
I would like to have your opinion on the Enigne of 0.4.0 RC where we removed all those deterministic patching (and put into `DeterministicEngine` if  user would like to have 0.3.0 Engine). Does it solves the issues you encountered wit

[2020-06-17 23:40] amatsukawa commented on #700
@vfdev-5 yes, by the looks of it, it does seem to solve our problems. That's why I was checking up on the official 0.4 release when I came across this in one fo the kanban boards :)

I have yet to actually try it, but if I can find some time next week, I will install the rc and give it a go.

[2020-06-18 04:36] snie2012 commented on #1094
@vfdev-5 I haven't had time to work on this. Feel free to close the issue for now.

[2020-06-18 21:35] amatsukawa commented on #700
@vfdev-5 sorry to keep hijacking this thread, but I've already done it so I might as well do it one last time :) Re: trying the rc, I'm wondering what your ETA is for releasing 0.4? I'm still on 0.2.1 (didn't want to install a nightly in prod) so I'd like to give it a try to make sure we can upgrade to 0.4, just trying to see how much time I have to do so. Thanks!

[2020-06-18 21:40] vfdev-5 commented on #700
@amatsukawa no problems at all :)

We are planning to release it before June 30th : fixing "bugs" from https://github.com/pytorch/ignite/projects/7 and updating README, docs etc.

[2020-06-18 22:02] #1114 closed

[2020-06-19 09:40] #1103 closed

[2020-06-19 09:42] vfdev-5 commented on #1103
@sandylaker sorry for delay with the issue. We just merged a PR that should introduce the argument as discussed here. This functionality will be available in nightly in 12h and in stable 0.4.0 in 1.5-2 weeks.

[2020-06-19 11:56] achigeor opened #1143 "Engine state no longer keeps a seed?"
## ❓ Questions/Help/Support

Hi @vfdev-5

Not sure if that's the best place but I was investing a reproducability issue on my project and found the following:
It seems that in ignite 0.4.0, the engine state no longer holds a `seed` parameter.
The following is:
* The first one is the val engine saved with `0.4r0.post1`
* The second one is the val engine saved with `0.3.0`
[code]
Is this a bug or kn

[2020-06-19 12:10] vfdev-5 commented on #1143
@achigeor this is a right place to ask :)

Yes, this is an intended BC breaking change due to various problems we encountered with v0.3.0 and its "deterministic" engine's implementation (see #940 #939 #938).

In few words, now we removed dataflow synchronization and left up to the user to setup manual seed (as internal seed setup is very critical for Bayesian DL and similar).
New Engine normally s

[2020-06-19 12:24] vfdev-5 opened #1144 "Add migration notes : v0.3.0 -> v0.4.0"
Idea is to add a small descriptive note (a markdown or a wiki page) with examples of how to migrate v0.3.0 code to v0.4.0 while keeping a similar behaviour:
- Engine and random seed, DeterministicEngine
- Metrics and device
- ...

Following : https://github.com/pytorch/ignite/releases/tag/v0.4rc.0.post1

[2020-06-19 14:10] achigeor commented on #1143
@vfdev-5  thanks for the quick reply!

I had completely missed this and was expecting the same behaviour. Thanks for pointing it out!

Just tried with `manual_seed()` and has the behaviour I was expecting and the reproducability tolerance we look for.

I also got a question regarding `DeterministicEngine`. What is the trade off of using this instead of `Engine`? I mean what is the use case of _not

[2020-06-19 14:27] vfdev-5 commented on #1143
Main trade off is the training speed due to

in [DeterministicEngine](https://pytorch.org/ignite/engine.html#ignite.engine.deterministic.DeterministicEngine).

For other unintended behaviours that could happens with `DeterministicEngine`, please see all "Warnings" in https://pytorch.org/ignite/concepts.html#dataflow-synchronization.

But on the other hand, in *certain configuration* we can have th

[2020-06-19 15:03] achigeor commented on #1143
I see makes sense. Thank you for the clarifications @vfdev-5! I will also pay more attention to the release logs next time, just saw the above were listed in the release :)

[2020-06-19 15:04] #1143 closed

[2020-06-20 19:26] sdesrozis commented on #1115
Do you have the notebook ?

[2020-06-20 21:14] sdesrozis commented on #1115
It seems that if `pbar` doesn't reach `pbar_total` on notebook, the bar persists... Actually I don't know why.

[2020-06-20 21:21] sdesrozis commented on #1115
Found why here
https://github.com/tqdm/tqdm/blob/0cd9448b2bc08125e74538a2aea6af42ee1a7b6f/tqdm/notebook.py#L240-L250

[code]

[2020-06-20 22:10] vfdev-5 commented on #1115
@sdesrozis thanks for digging up the cause of the problem !

[2020-06-21 19:39] #1130 closed

[2020-06-21 20:30] #925 closed

[2020-06-21 21:06] vfdev-5 commented on #1144
WIP: https://github.com/pytorch/ignite/wiki/Migration-note-:-v0.3.0----v0.4.0

[2020-06-22 02:03] amatsukawa opened #1148 "Getting iterations in Checkpoint is wrong for `global_step_transform`"
There seems to be two bugs in `Checkpoint` related to `global_step_transform` when it's attached to the valid rather than train engine.

First, `global_step_transform` does a lookup based on the event fired. This causes issues when the handler is not attached to an `{EPOCH/ITERATION}_COMPLETED`, eg. when it's attached to `COMPLETED` on the valid engine as the docs suggest.

Second, `global_step_tr

[2020-06-22 07:55] vfdev-5 commented on #1148
@amatsukawa thanks for report ! Let me check and reproduce the first 2 points.

About the third point, it was raised here: https://github.com/pytorch/ignite/pull/847 and can provide incoherent list of saved files inside `Checkpoint._saved`.

[2020-06-22 12:40] vfdev-5 commented on #1148
@amatsukawa I'm trying to reproduce the 1st point you mentioned.
I followed the docs of Checkpoint, attached to `COMPLETED`: `evaluator.add_event_handler(Events.COMPLETED, handler)` and it works as expected, i'd say.

Let me show you my code and let's discuss where is the bug :
[code]
this gives
[code]

[2020-06-22 12:55] vfdev-5 commented on #1148
About 2nd point, if `global_step_transform` should define the priority. I was thinking about that recently and I'd say its Checkpoint's API docs are not enough clear and should be reworked, IMO.

As you know the priority is defined by either 1) attribute of attached event (`Events.ITERATION_COMPLETED` -> `engine.state.iteration`) or 2) by `score_function`.

First case "attribute of attached event"

[2020-06-22 13:39] amatsukawa commented on #1148
Hi @vfdev-5 thanks for looking into this.

Re: second point, my use case is to attach a checkpointer, without a score function, onto the valid engine. The motivation is #966, to guarantee the checkpointer runs last. I suppose I could pass a score function that actually returns the trainer's iteration, but IMO it seems natural for global_step to serve this function, it's a little strange that it do

[2020-06-22 13:56] vfdev-5 commented on #1148
Yes, mapping is done via https://github.com/pytorch/ignite/blob/de4c80fd226aeb0e57d41af2769ac125e7db64b3/ignite/engine/events.py#L299-L308

Yes, we need to improve the docs and clarify our terms, how and where to use each argument...

Well, in the following code

[code]
we pass current engine (evaluator) and the event when it was called (e.g. `COMPLETED`) as arguments for some context. However, us

[2020-06-22 14:32] amatsukawa commented on #1148
I want to:

- Attach to valid engine without a score fn.
- Save every N iterations, rather than epochs.

Naively, I might just change the event on `run_eval`:

[code]

The above example results in this, ie. checkpoints are dropped due to point #2 of my first post.
[code]

After our discussion, it seems I need to do this at the moment:

[code]

This gives:
[code]
Note the `checkpoint_10`, which is

[2020-06-22 14:58] vfdev-5 commented on #1148
Thanks for explicit example @amatsukawa !

So, ideally we would like to have the following code
[code]
produce the output
[code]

Yes, you are right about this. And if you are using Tensorboard, global step notion is more relaxed :)

[2020-06-22 15:08] amatsukawa commented on #1148
Thanks for your attention on this!

Yup, that would be ideal. I think this would require that `global_step` be used as `priority` if it exists.

[2020-06-22 20:12] #1115 closed

[2020-06-22 20:17] vfdev-5 commented on #1148
@amatsukawa, so just let me tell that if you would like to contribute to the project and send an initiali PR that we could work out further, please do not hesitate :)

[2020-06-23 11:06] vfdev-5 opened #1153 "Fix failing tests on windows"
## 🐛 Bug description

[code]

Related to https://github.com/scipy/scipy/issues/12400

A fix can be downgrading scipy to `1.4.1`.

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

[2020-06-23 11:39] #1153 closed

[2020-06-23 17:05] #1148 closed

[2020-06-23 20:06] vfdev-5 commented on #1144
Note was approved internally and the issue can closed as solved

[2020-06-23 20:06] #1144 closed

[2020-06-23 21:59] #1056 closed

[2020-06-24 09:05] vfdev-5 commented on #1082
@n2cholas would you be interested in working on this feature request ?

[2020-06-24 17:13] n2cholas commented on #1082
@vfdev-5 @sdesrozis Sorry about not following up: I currently don't have the bandwidth to work on this. I will have more time in August, and would be happy to work on this feature request then.

[2020-06-24 18:39] sdesrozis commented on #1082
@n2cholas thank you for your answer. Let’s see if someone take it, otherwise it’s yours in august 😊

[2020-06-25 01:41] g-karthik opened #1162 "PiecewiseLinear dict support"
In ignite 0.2.1, `PiecewiseLinear` didn't expect the optimizer to be strictly a sub-class of `torch.optim.Optimizer` and allowed generic parameter group [dicts](https://github.com/pytorch/ignite/blob/v0.2.1/ignite/contrib/handlers/param_scheduler.py#L26) as well.

But it looks like in later versions, this generic support was withdrawn.

What's the context behind this change?

I had been successful

[2020-06-25 01:42] g-karthik commented on #1162
@vfdev-5

[2020-06-25 09:17] #1094 closed

[2020-06-25 11:46] sdesrozis commented on #1162
@g-karthik @vfdev-5 I think we should consider such optimizers ! Thank you for report this!

An alternative could be to introduce a wrapper in a similar way to LRScheduler. It could bind optimizer non native PyTorch. Maybe it could facilitate others kinds of optimizers not considered here.

At the moment, the most pragmatic thing to do is what @vfdev-5 said 😉

[2020-06-25 21:06] g-karthik commented on #1162
@vfdev-5 @sdesrozis yes, I agree with the supplementary check approach for `param_groups`. Do you think you could add this small change and release this?

[2020-06-25 21:08] g-karthik commented on #1162
One more thing, even `OptimizerParamsHandler` expects a sub-class of `torch.optim.Optimizer` -- perhaps this check could be put in there too.

[2020-06-25 21:15] vfdev-5 commented on #1162
@g-karthik thanks for the update ! Yes, this is our plan, we will delay the release until merging the PR closing this issue.

[2020-06-25 23:55] vfdev-5 commented on #1162
@g-karthik PR is under testing and hopefully will be merged soon.

I was also wondering if in your use-cases using this DeepSpeed zero optimizer is that fast, works on large models as its docs says ?

[2020-06-26 00:05] #1162 closed

[2020-06-26 00:46] g-karthik commented on #1162
@vfdev-5 cool, thanks! yep, the ZeRO optimizer is pretty cool and works reasonably well for larger models!

[2020-06-26 00:55] vfdev-5 commented on #1162
@g-karthik I saw it sometime ago, however the API is a bit strange with required `args` and python argparser... Even constructing `DeepSpeedLight` is not obvious...
If not speaking about large models, how would you compare it vs only nvidia/apex (which they use internally), any gains by deepspeed ?

[2020-06-26 01:50] g-karthik commented on #1162
@vfdev-5 I actually haven't used deepspeed for smaller models, but it is just using `torch.distributed` with NCCL backend under the hood. I haven't tried it for smaller models but there will be reduced memory footprint even with those, so you could train those smaller models with larger batch sizes and longer sequence lengths.

[2020-06-28 11:46] vfdev-5 commented on #1162
@g-karthik I now take a look a bit closer on deep speed and seems like the evaluation in their code is done on a single device... as in training they use `model_engine`, but in evaluation it is still initially defined `model` is used. Is it correct and how are you doing with that ? Thanks !

[2020-06-28 15:22] vfdev-5 commented on #1069
Hey @Bartolo1024 how about the PR :)

[2020-06-29 00:20] g-karthik commented on #1162
@vfdev-5 yes, I am using `model_engine` during training and `model` for evaluation, that's correct. As for DDP, you can use the `dist_init_required` flag in `initialize()` for it.

[2020-06-29 11:50] sdesrozis opened #1165 "idist initialize with nccl backend without GPU"
## 🐛 Bug description

Call `idist.initialize("nccl", ...)` without GPU (but pytorch providing `nccl`) raises an error
[code]
Exception is thrown in barrier following `dist.initialize`.

Case `nccl` + no GPU should raise an explicit exception.

## Environment

 - PyTorch Version (e.g., 1.4): 1.5
 - Ignite Version (e.g., 0.3.0): 0.4
 - OS (e.g., Linux): Linux
 - How you installed Ignite (`conda`, `p

[2020-06-29 12:15] vfdev-5 commented on #1165
Similar code on pure pytorch
[code]
just say
[code]

[2020-06-29 13:13] Bartolo1024 commented on #1069
Firstly I was busy and after that, I have forgotten about it :( Here is the PR #1167 but I have to add tests. Additionally, I have one question there.

[2020-06-30 13:21] vfdev-5 opened #1168 "Provide idist support for Horovod"
## 🚀 Feature

Idea is to provide support for Horovod distributed configuration in the same way as it is done for native pytorch dist and xla.

[2020-07-01 08:34] vfdev-5 opened #1169 "Make ready for training with Trains - reproducible Pascal VOC12 example"
## 🚀 Feature

We plan to provide openly accessible online experiment logs on Trains server for reproducible examples:
- pascal voc12
- imagenet

Idea is to make reproducible Pascal VOC12 example ready for training with Trains:

TODO:
- [x] Improve `exp_tracking` module
- [x] Save models as artifacts on Trains server with TrainsSaver, blocked by #1123
- [x] Improve output & metric's logging:
  - [

[2020-07-01 17:27] pseeth opened #1172 "Suddenly failing tests with a NotImplementedError"
## 🐛 Bug description

Getting a strange bug in recent commits to nussl with the latest ignite version. They look like this:

[code]

The full log is here:

https://github.com/nussl/nussl/runs/827399639

Did something in the Events API change? This worked in ignite 0.3 no problem.

Thanks!

[2020-07-01 18:11] sdesrozis commented on #1172
@pseeth Thank you for this report. We will have a look on that!!

[2020-07-01 18:16] #1124 closed

[2020-07-01 18:23] vfdev-5 commented on #1172
@pseeth the issue is about that all events and custom ones should inherit from `EventEnum`.
As `ValidationEvents` is an extension of `Enum`, that's why it fails, I think. @pseeth could you please check it ?

We need to update Migration note and documentation to clearly state this in `Events` class description.

The only place where it is stated is https://pytorch.org/ignite/engine.html#ignite.engi

[2020-07-01 18:23] sdesrozis commented on #1172
@pseeth

Your custom events are defined inheriting `Enum`. For now, you have to inherit from `EventEnum`.

Have a look here https://github.com/pytorch/ignite#custom-events-to-go-beyond-standard-events

HTH

[2020-07-01 21:27] vfdev-5 commented on #1172
@sdesrozis you can be faster in doc fix :)

[2020-07-02 20:15] #1123 closed

[2020-07-02 20:54] ryanwongsa opened #1174 "Distributed model initialisation - CIFAR 10 example"
## ❓ Questions/Help/Support

In the cifar10 example when a [model](https://github.com/pytorch/ignite/blob/master/examples/contrib/cifar10/main.py#L51) is defined inside the process, is the model updated and shared between the `nproc_per_node`?

In most of the TPU examples I have seen they define the model before the `Parallel` process.
- [tpu-training-super-fast-xlmroberta](https://www.kaggle.com/

[2020-07-02 21:06] vfdev-5 commented on #1174
@ryanwongsa in the examples you cite seems like they define a model on CPU once and on each proc they move it to the corresponding device. If you take a look at [one of "official" pytorch/xla examples](https://github.com/pytorch/xla/blob/master/test/test_train_mp_imagenet.py), you can see that the model is created inside spawned function: https://github.com/pytorch/xla/blob/master/test/test_train_

[2020-07-02 21:16] ryanwongsa commented on #1174
Ah, I see thanks for the links.

I have a second question relating to the CIFAR example. What is the best way to update it support mixed-precision with the ignite auto distribution methods.
Should something like:
[code]
be done before or after
[code]

[2020-07-02 21:21] vfdev-5 commented on #1174
Good question! It should be like here:
https://github.com/pytorch/ignite/blob/master/examples/references/segmentation/pascal_voc2012/code/scripts/training.py#L30

[code]

We need to update the docs, probably, if these functions are not clear.

[2020-07-02 21:23] ryanwongsa commented on #1174
Nice. Thanks for the help.

[2020-07-02 22:45] #1165 closed

[2020-07-03 07:55] sdesrozis commented on #1172
I plan to update the doc this weekend 😉

[2020-07-05 02:33] #1172 closed

[2020-07-09 16:48] ryanwongsa opened #1191 "DistributedProxySampler RuntimeError when indices are padded"
## 🐛 Bug description

The RuntimeError that occurs in the `DistributedProxySampler` on [line 241](https://github.com/pytorch/ignite/blob/master/ignite/distributed/auto.py#L241) shouldn't be there since the indices are padded with the full sample which was updated because of [this comment](https://github.com/pytorch/pytorch/issues/23430#issuecomment-597191137).

## Environment

 - PyTorch Version (

[2020-07-09 17:39] vfdev-5 commented on #1191
@ryanwongsa thanks for reporting. Can you provide any reproducible example of this error occured ? Thanks

[2020-07-09 18:14] ryanwongsa commented on #1191
Taking the example from the [unit test](https://github.com/pytorch/ignite/blob/master/tests/ignite/distributed/test_auto.py#L152) and setting the `num_replicas` to 8 produces the error

[code]
The assert will fail too but that is because of the padding.

[2020-07-09 19:54] vfdev-5 commented on #1191
@ryanwongsa thanks for the repro snippet ! Well, there are two points there:
1) `len(indices)` can be indeed larger than `self.total_size` and this can be fixed by adding for example

[code]
2) test on 100 samples seems like a small test and depends on seed. While setting `num_samples=200`, test passes
[code]

(here `FixedDistributedProxySampler` is `DistributedProxySampler` with added 2 lines fro

[2020-07-09 21:06] ryanwongsa commented on #1191
@vfdev-5 Thanks for the response

1. I think adding the extra code to check the condition `len(indices) != self.total_size` seems a bit redundant as the previous line in the sampler currently is
[code]
So it guarantees that the `len(indices)==self.total_size` will be met if you add:
[code]
I could be wrong but it doesn't seem useful to have the `RuntimeError` check in place and adding the `indices

[2020-07-09 21:15] vfdev-5 commented on #1191
@ryanwongsa yes, you are right about, this check is redundant and we can remove it if we cut the number of indices as proposed.

Yes, this could work like that. However, what is important is the samples seen by the model during the training. What happens here is that on a single device model during a single epoch will see 100 samples and distributed model will see 104 samples.
All samples (100 and

[2020-07-09 21:33] ryanwongsa commented on #1191
@vfdev-5 I created PR #1192 with the changes you described above. The test has also been updated to reflect the newer test you described earlier. I am not sure if the PR how you wanted it so would be good to get feedback. Thanks

[2020-07-09 22:14] #1191 closed

[2020-07-10 12:41] #1104 closed

[2020-07-10 21:25] #1169 closed

[2020-07-11 09:23] #1074 closed

[2020-07-11 15:31] vfdev-5 commented on #841
Here is v0.4.0 release: https://github.com/pytorch/ignite/releases/tag/v0.4.0.post1
I close the issue as solved. For other questions, please, open a new issue. Thanks

[2020-07-11 15:31] #841 closed

[2020-07-13 12:14] #1174 closed

[2020-07-14 08:15] vfdev-5 opened #1198 "Pascal training bug with CM"
## 🐛 Bug description

[code]

## Environment

 - PyTorch Version (e.g., 1.4):
 - Ignite Version (e.g., 0.3.0):
 - OS (e.g., Linux):
 - How you installed Ignite (`conda`, `pip`, source):
 - Python version:
 - Any other relevant information:

[2020-07-14 14:52] vfdev-5 opened #1199 "Make configurable `start_method` for XLA, set as "fork" by default"
## 🚀 Feature

Currently, `start_method` for `xmp.spawn` method is set to "fork" only for Colab env. On Kaggle it has a considerable performance impact. Idea is to make `start_method` configurable for XLA and set as "fork" by default for TPUs

[2020-07-14 17:01] VladimirIsakov91 opened #1202 "Ignite + Ray Tune"
Hello Team, I have recently started using the Ignite library for Deep Learning, and would like to thank you for creating such a high quality library.
I have a question which I ran into while playing around with the tutorials. Is there any way to integrate Ignite with the Ray Tune library? I would like to perform hyperparameter optimization for a model, but I keep running into serialization issues

[2020-07-14 17:55] sdesrozis commented on #1202
Hi @VladimirIsakov91 ! Thank you for your comments 😊

From my side, I don't use Ray but I think it should be a huge contribution to provide an example of how this lib could be used with ignite. We can support if you need and are interested to help on this! What do you think?

Maybe @vfdev-5 has more inputs about this.

[2020-07-14 18:59] vfdev-5 commented on #1202
@VladimirIsakov91 I tried ray tune some time ago by porting cifar10 example, but I didn't pushed it into examples, I do not remember why. Anyway, I think it shouldn't be much more different from Optuna or Ax:
- https://github.com/optuna/optuna/blob/master/examples/pytorch_ignite_simple.py
- https://github.com/pytorch/ignite/blob/master/examples/notebooks/Cifar10_Ax_hyperparam_tuning.ipynb

As @sde

[2020-07-14 19:00] #1199 closed

[2020-07-14 19:15] VladimirIsakov91 commented on #1202
Thanks for the links, I will look into them and see if I can come up with an example.

[2020-07-14 19:15] #1202 closed

[2020-07-14 19:26] #1198 closed

[2020-07-15 12:57] Nic-Ma opened #1203 "How to enable distributed training with ignite"
## ❓ Questions/Help/Support

Hi @vfdev-5 ,

I saw you guys added distributed training support in 0.4, that's cool!
Where can I find some example or tutorial to show how to use it in ignite?
I developed distributed training example for MONAI based on native PyTorch APIs, evaluating ignite workflows for it.

Thanks.

[2020-07-15 13:03] vfdev-5 commented on #1203
Hi @Nic-Ma

Please, see the docs about [ignite.distributed](https://pytorch.org/ignite/distributed.html) and a complete example of [cifar10 training](https://github.com/pytorch/ignite/tree/master/examples/contrib/cifar10).

Please, do not hesitate to ask other questions.
Thanks

[2020-07-19 10:04] #1136 closed

[2020-07-19 11:21] anniezhi commented on #345
Hi. I'm using pytorch 0.5.0 and encounters the issue again. Would downgrading possibly solve the problem?

[2020-07-19 11:28] vfdev-5 commented on #345
@anniezhi please use more recent pytorch. Ignite>=0.4.0 supports only  pytorch>=1.3.0. Thanks !

[2020-07-20 10:11] Minys233 opened #1209 "EpochMetric should be compatible with regression tasks."
## 🚀 Feature

`EpochMetric` should be accept both `float32` output and target.

## Description
Currently, `EpochMetric` only accept `float32`  output and `long` target. This is good for classification tasks. However, for regression tasks, such as: Input_Data --> Network --> [Real_Target_1, Real_Target_2,...], EpochMetric does not work. (Note: here `metrics.MeanSquaredError` also does not fit the p

[2020-07-20 12:55] vfdev-5 commented on #1209
@Minys233 thanks for the report !

Yes, the last time I was checking the code of `EpochMetric`, I also thought that several conditions can be relaxed.

Concerning regression type of output, we have a bunch of regression metrics too (with a support of epoch-wise type of metrics) :
- https://pytorch.org/ignite/contrib/metrics.html#module-ignite.contrib.metrics.regression
- https://github.com/pytorch

[2020-07-21 09:42] nwschurink opened #1210 "No optimizer.zero_grad() in supervised trainer?"
## ❓ Questions/Help/Support
Hi,

I was wondering something. In almost every explanation I find, writing training code for a pytorch network involves

1. a prediction step: `y_pred = model(x)`
2. calculation of loss: `loss_fn(ypred, y)`
3. calculation of the gradients using: `loss.backward()`
4. taking a step in the direction of the calculated gradient: `optimizer.step()`
5. zeroing all calculated

[2020-07-21 09:49] vfdev-5 commented on #1210
@nwschurink thanks for asking. `optimizer.zero_grad()` is called just above:
https://github.com/pytorch/ignite/blob/68d3ba1baa70d16d7bc35771538a3213300177c4/ignite/engine/__init__.py#L97

If you would like to perform grad accumulation, it is possible to zero grads just after the `step` like explained here:
https://pytorch.org/ignite/faq.html#gradients-accumulation

[2020-07-21 09:53] nwschurink commented on #1210
Ah my mistake, I looked over it!

It's like you read my mind as I was indeed intending on using the gradients accumulation. As the zero_grad is written there after the step function I was expecting to find it there as well in the create_supervised_trainer() function.

Thanks for your help 👍

[2020-07-21 09:54] #1210 closed

[2020-07-22 11:33] ydcjeff opened #1213 "SSIM Metric"
## 🚀 Feature

I would like to request to have SSIM metric in ignite. Since it has a few steps to implement on your own when you want to use in your project/paper implementation, I thought it's good to have OOTB in ignite and supported by the community.

I would like to implement this and if I am allowed, under which module/sub-module should my implementation go in?

Here's [my current implementati

[2020-07-22 12:23] vfdev-5 commented on #1213
@ydcjeff thanks for the feature request ! Yes, I agree that it would be good to have it in Ignite !

Sure, contributions are welcome and highly appreciated !
Normally, all metrics we put into `ignite/metrics/` folder: e.g. `ignite/metrics/ssim.py`. Let me check your implementation and we can discuss ignite's implementation details here and then you can send a PR. Does this sound good for you ?

[2020-07-22 12:29] vfdev-5 commented on #1213
@ydcjeff looking to the implementation under the link I'm wondering whether we can compute this metric in online manner:
[code]
?

[2020-07-22 14:41] ydcjeff commented on #1213
@vfdev-5 sure, i will keep align with other metrics implementation.
The included link is just plain ssim implementation, haven't brought to the ignite style.
so the final api will look like this?

[2020-07-22 14:44] vfdev-5 commented on #1213
@ydcjeff yes, basically, we implement those methods for a metric. Metric API can be used either like that or with an engine using a single method `attach()` like in the examples here : https://pytorch.org/ignite/metrics.html#ignite-metrics

[2020-07-22 14:48] ydcjeff commented on #1213
okay, can I now start implementing with `update`, `compute` method first? `attach()` will come after that.

[2020-07-22 14:49] vfdev-5 commented on #1213
Yes, let's start with update/compute and attach is automatically provided (see here: https://pytorch.org/ignite/metrics.html#how-to-create-a-custom-metric)

[2020-07-22 14:54] vfdev-5 commented on #1213
Actually, I'm still wondering how to compute SSIM in online manner. What kind of temporary updatable data we need to store before computing the final metric...
The most intuitive and not optimized at all method is to store all prediction and target images and then compute SSIM on all these data.
So, probably, we can precompute something on updates and use this precomputed info to compute the final

[2020-07-22 15:01] ydcjeff commented on #1213
how do you mean by the "online manner"?
for the computation, i will need some time to check.

[2020-07-22 15:09] vfdev-5 commented on #1213
See above https://github.com/pytorch/ignite/issues/1213#issuecomment-662425049 :)

[2020-07-22 15:11] vfdev-5 commented on #1213
What is the shape of `ssim_idx` here : https://gist.github.com/ydcjeff/ae94ef310cdf269353400aba7e65aae1#file-ssim-py-L109 for a batch of predictions and targets of shape (4, 3, 32, 32) ?

[2020-07-22 15:18] ydcjeff commented on #1213
Sorry for the inconvenience. now i get it.

It would be (4, 3, 22, 22)

[2020-07-22 15:28] vfdev-5 commented on #1213
@ydcjeff no problems at all :)

OK, if ssim_idx is of the shape (4, 3, 22, 22) and final metric probably can be seen as a mean of 4 mean ssim indices of shape (4, ) where we just averaged C, H, W dimensions. So, we can then just compute final ssim_idx as an average of "batchwise" ssim idx (of shape (B, )).
In the nutshell, it can be implemented as :
- on every update: we compute batchwise ssim idx

[2020-07-22 17:56] #1133 closed

[2020-07-23 14:29] ydcjeff commented on #1213
yep, i also thought of that way

[2020-07-23 18:20] sdesrozis opened #1214 "Docker for users"
## 🚀 Feature

Ignite should provide prebuilt docker images for users stored on dockerhub to handle different configurations.

Base should be latest PyTorch images, stable pip versioned ignite, maybe some recurrent tools like opencv, albumentations, etc.

Images could be
* ignite-examples (including all stuff to reproduce examples, meaning trains, albumentations, fire, py_config_runner, etc.)
* ign

[2020-07-23 18:51] ZhiliangWu commented on #669
Hi @vfdev-5, I am trying to use this great package to accelerate my development cycle. However, I cannot quite understand why the function `process_function()` must take `engine` as its input argument. The only usage of it is in the `_run_once_on_dataset()` method to [compute the `self.state.output`](https://github.com/pytorch/ignite/blob/db7e00149831e5513547353ed41070968366a32b/ignite/engine/engi

[2020-07-23 19:01] vfdev-5 commented on #669
@ZhiliangWu having engine as an argument of `process_function` can help with fetching easily the current state: iteration, state, custom variables etc. For example, when during the training you have total loss function composed of two part and an alpha parameter that is also updated during the training:
[code]

This is just an example, but you can imagine other use-cases where usage of trainer's s

[2020-07-23 20:06] vfdev-5 commented on #1214
I can provide some basic instruction on how to build `ignite + hovorod`. Mostly based on https://github.com/pytorch/ignite/blob/6488587a3be6d22b4de2dced48f177514207e71c/.circleci/config.yml#L233

[2020-07-24 05:54] sdesrozis opened #1215 "Static stack of Engine"
## 🚀 Feature

`Engine` can be customized using event system to plug handlers. Handlers can also use others engines. A typical app's workflow is handler attached on a trainer calling evaluator runs. So we have engine's nested runs. It could be needed to catch some information from another engine. For instance `global_step_from_engine` has been introduced to help on that point. Another way is to set

[2020-07-24 07:43] vfdev-5 commented on #1215
@sdesrozis thanks for the FR :)
So, the idea is about providing a global object to consult currently available engines, right ?
For example, `Engine.stack : Dict[str, Engine]` can work also in the same idea ?
[code]

- What happens if engine is destroyed stack should be aware of it somehow...

Could you, please, provide a more detailed use-case where this can be helpful/easy to use ?

[2020-07-24 07:45] vfdev-5 commented on #1213
OK, so, please, let's work this inside a PR. Could you please send one ?

[2020-07-24 07:45] FrAnCOisCokELaER commented on #1214
Hi! I'm a first-time contributor, I could give a try on this issue if it's ok for you.

[2020-07-24 07:47] vfdev-5 commented on #1214
@FrAnCOisCokELaER yes, please, go ahead :)

[2020-07-24 08:02] ydcjeff commented on #1213
Okay 👌 I will send one

[2020-07-24 14:51] sdesrozis commented on #1215
For example, Engine.stack : Dict[str, Engine] can work also in the same idea ?

Yes.

Engines should added in and removed from stack only at `run` calls. Stack is related to running engines so they can't disappear. I guess it could be enough but it needs to write some scenarios.

Things I see it should help :
* Alternative to `global_step_from_engine` in logger's API.
* Improve event filters that

[2020-07-27 06:15] sdesrozis opened #1219 "SimCLR example"
## 🚀 Feature

Idea is to provide new class of example for self supervised learning.

It could be an implementation of paper "A Simple Framework for Contrastive Learning of Visual Representations" https://arxiv.org/abs/2002.05709

Things to do are
* normalized temperature-scaled cross entropy loss (NT-Xent loss)
* Pair-transformed dataset
* CIFAR example using resnet
* compare to imagnet pretrainin

[2020-07-27 07:27] sdesrozis opened #1220 "JIT support"
## 🚀 Feature

It could be interesting to support JIT or we should at least make sure that everything is ok.
Support could be an handler ? Option of checkout ?
Note that it seems some problems occur with DDP...

[2020-07-28 00:27] isabela-pf opened #1221 "Create a logo for Ignite"
### 🚀 Feature

@vfdev-5  asked me to work on a logo to represent Ignite and its relation to main PyTorch, so I’m opening this issue to post iterations and provide a place for discussion.

All feedback is welcome! I'm looking forward to hearing the community's thoughts.

These first iterations use the same orange as PyTorch (`#ee4c2c`)and maintain similar line weight (and sometimes the small circle

[2020-07-28 00:29] isabela-pf commented on #1221
I’ve also been experimenting with different type that has a little more character, but also aligns a little less with PyTorch’s current logo. Here it is mocked up next to each of the directions.
<img width="502" alt="varta1" src="https://user-images.githubusercontent.com/50221806/88605380-92e86c00-d02e-11ea-98dd-f5d176cb96c6.png">
<img width="502" alt="varta2" src="https://user-images.githubuserco

[2020-07-28 06:28] sdesrozis commented on #1221
@isabela-pf thank you very much for this amazing work 😊

Personally I enjoy the option 4 😊 I think that moving from orange to another colour is a good idea.

However, if it's a small task, could you try with another font? I'm not convinced but the "y" rendering.

Thank you again!!

[2020-07-28 18:30] ericspod commented on #1221
Looks good! My choice would be option 1 and definitely some other could be nice, maybe a thematic colour for different parts of the library.

[2020-07-29 18:49] VikasRajashekar opened #1222 "AttributeError: type object 'torch.distributed.ReduceOp' has no attribute 'BAND'"
Stack Trace:

  File "./interact.py", line 16, in <module>
    from train import SPECIAL_TOKENS, build_input_from_segments, add_special_tokens_
  File "/home/vikas/Desktop/chatbot_thesis/approaches/Hugging_face/train.py", line 14, in <module>
    from ignite.engine import Engine, Events
  File "/home/vikas/anaconda3/envs/hugging/lib/python3.6/site-packages/ignite/__init__.py", line 2, in <module>

[2020-07-29 20:17] sdesrozis commented on #1222
@VikasRajashekar thank you for this report.

What is the version of PyTorch that you used ?

The minimal supported version of PyTorch is 1.3. See release note https://github.com/pytorch/pytorch/releases/tag/v1.3.0 : BAND reduce op is introduced.

HTH

[2020-07-29 20:21] ZhiliangWu commented on #309
Hi @vfdev-5, I used `EpochMetric()` as a utility to quickly save the entire output history so as they can be used for possible plotting functions (maybe the use case is a bit rare). Therefore, I defined the `compute_fn` as `lambda y_pred, y_true: torch.stack([y_pred, y_true], dim=1)`, where `y_pred.shape=(#samples, )`.  Things seem to work as expected.

My point here is, maybe the [documentation f

[2020-07-29 21:22] VikasRajashekar commented on #1222
I am using **torch:1.6.0**

I installed a req.txt from anaconda.

First I created a conda environment with python 3.6.

My req.txt was as follows:
[code]
However, I created new environment with python 3.7 and repeated with the same req.txt and the error vanished?
How is it possible?

[2020-07-29 21:26] VikasRajashekar opened #1223 "TensorboardLogger: TypeError: __init__() got an unexpected keyword argument 'another_engine'"
Here is my sample code:

[code]

But seems like There is no "another_engine".

I set up my environment using req.txt from conda:

[code]

Was keyword another_engine removed?

[2020-07-29 21:27] vfdev-5 commented on #1222
A possible explanation : torch 1.6.0 was released one day ago and at the
moment of conda env creation required binary was not available or some bad
dependency resolution made such that it installed some anterior version...

On Wed, Jul 29, 2020, 23:22 Vikas_Rajashekar <notifications@github.com>
wrote:

[2020-07-29 21:34] vfdev-5 commented on #1223
yes, it was deprecated since 0.3.0 and removed since 0.4.0. Please, use
global step transform :

https://pytorch.org/ignite/contrib/handlers.html#ignite.contrib.handlers.tensorboard_logger.TensorboardLogger

On Wed, Jul 29, 2020, 23:29 Vikas_Rajashekar <notifications@github.com>
wrote:

[2020-07-29 21:37] vfdev-5 commented on #309
Hi Zhiliang,

I think EpochMetric should remain a metric and compute a scalar or vector.
Maybe it would make more  sense to introduce some specific handler to store
all output history. What do you think ?

On Wed, Jul 29, 2020, 22:21 Zhiliang <notifications@github.com> wrote:

[2020-07-29 21:52] VikasRajashekar commented on #1223
@vfdev-5 thanks for the info. Just in case if I wish to use 0.3.0 of ignite. Which version of PyTorch is compatible? Is there a table  of compatibility for the Pytorch version and ignite version.

[2020-07-29 21:59] vfdev-5 commented on #1223
Ignite 0.3.0 can run with pytorch >= 1.0 I think.
There is a sort of compatibility table here :

https://github.com/pytorch/ignite/actions/runs/186425963

But it is for 0.4.0 and master...
Unfortunately, there is no table with pytorch / ignite compatibility
versions.

On Wed, Jul 29, 2020, 23:52 Vikas_Rajashekar <notifications@github.com>
wrote:

[2020-07-30 08:33] ZhiliangWu commented on #309
Hi @vfdev-5, yes, it would make more sense to have something like `entire_history` handler. Actually it took me a while to finally realize the `EpochMetric()` is able to do that, though it's designed for some more advanced computation usage.

[2020-07-30 10:31] vfdev-5 commented on #309
Hi Zhiliang, if you would like to contribute a class, e.g.
ignite.handlers.stores.EpochOutputStore that appends engine's output into a
list during one epoch, it could help the library development :)

On Thu, Jul 30, 2020, 10:33 Zhiliang <notifications@github.com> wrote:

[2020-07-30 12:10] ZhiliangWu commented on #309
Hi @vfdev-5, I am happy to contribute if possible. Currently, I am a bit confused about whether it should be a handler or a metric. Maybe you can help me with it.
**From the implementation point of view it looks like a metric**. As the output values are accumulated in an online fashion from the `process_function` like any other metrics. It would be a subclass inherited from `EpochMetric()` and ove

[2020-07-30 21:46] vfdev-5 commented on #309
Hi Zhiliang, thanks for pointing out those points !
Probably, we need to review again the use-case where we could need a
structure like `EpochMetric` to store the data. What is exactly your
use-case where you use `EpochMetric` as utility without computing a metric
value. The drawbacks of this approach is extensive memory consumption. In
your use-case, can you perform plotting per iteration instead

[2020-07-31 07:05] ZhiliangWu commented on #309
Hi @vfdev-5, actually yes. I have to admit it's quick and dirty usage, where I wanted to investigate some regression metrics visually with [prediction error plot API provided by yellowbrick](https://www.scikit-yb.org/en/latest/api/regressor/peplot.html). As everything is based on matplotlib, incrementally plotting should be possible. Though online updating is more elegant, I feel it's okay to use

[2020-07-31 08:49] vfdev-5 commented on #309
Hi @ZhiliangWu yes, the use-case makes sense and we can provide some simplification handlers like described above. Anyway, let's implement it as a handler with three methods: reset, update and attach (where we add reset and update to provided engine). This can be the first iteration and after we can refactor the code with appropriate interfaces.

[2020-07-31 13:32] ZhiliangWu opened #1224 "EpochOutputStorage"
## 🚀 Feature

As discussed with @vfdev-5 in #309, it could be sometimes useful to provide a handler to store all output prediction history for visualization purposes. Following is my first try to implement it.

[code]

[2020-07-31 16:06] sdesrozis commented on #1224
@ZhiliangWu thank you for this PR! It looks good!

Could you provide some tests? It would be very nice to add this handler in the doc. I suppose it will be located in `ignite.contrib.handlers` so I think relevant doc is https://github.com/pytorch/ignite/blob/master/docs/source/contrib/handlers.rst

Thank you again 😊

[2020-08-01 19:40] ZhiliangWu commented on #1224
Hi @sdesrozis, I tried to write some tests according to the test cases in the repository. As I am not very familiar with testing with the engine object. Could you kindly check it?

[code]

On my laptop it seems to be okay:

[code]

[2020-08-01 21:31] sdesrozis commented on #1224
Hi @ZhiliangWu !

Your tests mixing your metric and engine look good.

Writing good and full covering tests is a very hard task. I think you could have a look in tests/ignite/metrics/test_epoch_metric.py to find a good inspiration. IMO your tests should be more or less similar
* check assertions due to wrong usage, shapes, etc.
* check your class using some unit tests, for instance generate some r

[2020-08-01 22:09] vfdev-5 commented on #1224
Hi @ZhiliangWu, thanks for the FR. I just have a remark on the implementation. Maybe, we can simply store all outputs in the list, instead of separating into predictions/targets ?
[code]
This way, it can be more generic (for example, if some users would like to store also `x` or some other values). But I agree that in this case we can not provide a helper method like `get_output` as in your implem

[2020-08-01 22:24] vfdev-5 commented on #1220
@sdesrozis I'm not sure to understand how ignite can do this... Can you give a clear example of that, please ?
For me, JIT support is on the user's side...

[2020-08-01 22:25] vfdev-5 commented on #1219
This also may be a good FR for `ignite.data` module.

[2020-08-02 08:52] ZhiliangWu commented on #1224
Hi @vfdev-5, yes, I would agree that save everything on a `data` list is more general. Maybe I am a bit too focused on my understanding of `output` being the output of the network. I will try to figure out the PR process and send an update.

[2020-08-03 03:25] Nic-Ma commented on #1203
Hi @vfdev-5 ,

Thanks very much for your sharing!
I checked the example program, seems it didn't run distributed validation/test?
The train loss and metrics on TensorBoard were reduced from all processes or only from rank_0?

Thanks.

[2020-08-03 06:27] vfdev-5 commented on #1203
Hi @Nic-Ma

Normally, it should as test dataloader is also using distributed data sampler. Could you please detail what makes you think that it didn't run distributed validation/test?

All metrics are reduced across all participating processes. Train loss is put into `RunningAverage` metric with `common.setup_common_training_handlers` and also reduced.

[2020-08-03 06:42] vfdev-5 opened #1225 "Update Circle CI docker image to pytorch 1.6"
## 🚀 Feature

Following the release of 1.6 version of PyTorch, let's update Circle CI docker image :
- https://github.com/pytorch/ignite/blob/master/.circleci/config.yml
and add 1.5.1 version to pytorch compatibilty versions checking :
- https://github.com/pytorch/ignite/blob/master/.github/workflows/pytorch-version-tests.yml

[2020-08-03 07:04] Nic-Ma commented on #1203
Hi @vfdev-5 ,

Oh, I see, I misunderstood something.
I think `sync_all_reduce` can support that.
We are evaluating whether we should use the `ignite.idist.auto_XXX` APIs or add some logic to our existing workflows based on ignite 0.3, because we already have `monai.DataLoader`, maybe we can just slightly modify it.
Is there some known issue or bug in ignite v0.3 that blocks us to develop distribut

[2020-08-03 07:20] vfdev-5 commented on #1203
Yes, the purpose of `sync_all_reduce` is to reduce metric values.

OK, I see. Methods like `idist.auto_*` are helpers and optional in some sense. You can still use other parts of the API (like, `idist.spawn` or  `idist.Parallel` etc). If you prefer to create your own dataloader with correct data sampling etc, no need to use `idist.auto_dataloader`, however if you still would like to automatically

[2020-08-03 07:22] Nic-Ma commented on #1203
Sounds good!
Thanks.

[2020-08-03 07:37] vfdev-5 commented on #1203
@Nic-Ma just for your information, we are also adding a support for Horovod distributed framework, which will be available since v0.4.2 release.

[2020-08-03 07:49] Nic-Ma commented on #1203
Glad to see that!
Thanks for your explanation.

[2020-08-03 22:28] #1168 closed

[2020-08-04 08:55] nwschurink opened #1227 "When terminate_on_nan tensorboard_logger raises ValueError"
## 🐛 Bug description

tensorboard_logger raises an exception when the training is terminated due to terminate_on_nan handler.

I am running multiple learning rate tests with the hydra package to tune the hyperparameters (e.g. batch size, batch accumulation factor, momentum, weight decay etc) of my network.  I am using an EfficientNet-b3 network, SGD optimizer and APEX O2 mixed precision and use th

[2020-08-04 09:24] vfdev-5 commented on #1227
@nwschurink thanks for the report. I need to check what happens in details.

According to the logs, it is "Validation evaluator" who catched a NaN, right ? This is a bit surprising, because it means that model weights already contains NaNs.

Normally, we do not need to add `TerminateOnNan` to evaluators assuming that model does not contain NaNs and if during the training loss diverged it could be

[2020-08-04 10:18] nwschurink commented on #1227
Yes it is indeed the validation evaluator that catches the NaNs.

So just thinking about your suggestion that the model weights already contain NaNs. I think this is possible because of APEX mixed precision training. From what I understand, during early training the gradient scaling that is performed by APEX often leads to infs and/or nans. However, if this occurs this is captured by APEX and the

[2020-08-04 11:00] vfdev-5 commented on #1227
Thanks for detailed infos. What happens if you run with apex fp_level O1 or O0 ?

[2020-08-04 12:51] fco-dv commented on #1221
All these proposals are great, my choices would go more towards design 1 and 4. Proposition 4 reminds me a little bit of the Apache Spark logo. A change of colour is a great idea to mark the differentiation.

[2020-08-04 13:19] #1213 closed

[2020-08-04 13:45] nwschurink commented on #1227
I'll check that tonight 👍

[2020-08-05 03:56] Nic-Ma opened #1228 "all_reduce of ROC_AUC metric"
## ❓ Questions/Help/Support
Hi @vfdev-5 ,

I found that Accuracy and several other metrics can support `all_reduce` for distributed training, but seems ROC_AUC doesn't have similar logic?
https://github.com/pytorch/ignite/blob/v0.3.0/ignite/contrib/metrics/roc_auc.py
as the comments said:
https://github.com/pytorch/ignite/blob/v0.3.0/ignite/metrics/epoch_metric.py#L20
How to accumulate all the pre

[2020-08-05 06:23] vfdev-5 commented on #1228
Hi @Nic-Ma

This is related to this issue : https://github.com/pytorch/ignite/issues/978  and what is required is to gather all stored data across the processes with `all_gather`. As #978 is `hi-pri`, we'll try to resolve it ASAP.

[2020-08-05 08:53] #1224 closed

[2020-08-05 09:27] vfdev-5 commented on #1228
@Nic-Ma the change should look like this one : https://github.com/pytorch/ignite/pull/1229/files#diff-33e0dd900637729de926044f704c6065

[2020-08-05 23:52] Nic-Ma commented on #1228
Hi @vfdev-5 ,

Thanks very much for your sharing!
I will try to modify the AUC metrics in MONAI referring to your patch.

[2020-08-07 06:05] n2cholas commented on #1082
I'm available to take this now!

Based on the discussion, the compute method should return tensors with the same device as the input, and update method should move the tensors to that metric's device (if needed). The accumulators would become tensors. This affects the following classes:
- Accuracy
- Fbeta
- Loss
- MeanAbsoluteError
- MeanPairwiseDistance
- MeanSquaredError
- _BasePrecisionRecall
-

[2020-08-07 07:37] vfdev-5 commented on #1082
@n2cholas that's great !

Yes, your suggestions sounds good ! Additionally, we have to also ensure that `update` method breaks the graph for `y_pred` and we manipulate just tensors.

Yes. Probably, ensure that accumulators are detached.

I think only internal accumulators can be tensors, let compute result remain scalar (e.g. float) or vector or matrix according to the metric definition.

[2020-08-07 08:26] Nic-Ma commented on #1228
Hi @vfdev-5 ,

I checked your PR, but seems there is no `ignite.distributed` module in ignite v0.3.0.
So I wanted to use PyTorch native APIs and submitted a draft PR: https://github.com/Project-MONAI/MONAI/pull/870.
I didn't use `torch.distributed.gather` before, do you know where I can find a quick example to complete the ROCAUC?
Or maybe you can show me some sample code to replace the `idist.all

[2020-08-07 08:46] vfdev-5 commented on #1228
Hi @Nic-Ma ,

that's true, `idist` is introduced since v0.4.0.

Thinking more about the implementation, there are some points to improve in the the example I show you. Idea is the following, in the compute method:
- all gather stored data => all processes will get all data (I was hesitating to do create assymmetric computation by using just gather on rank 0, but seems like not all backends support

[2020-08-07 15:15] Nic-Ma commented on #1228
Hi @vfdev-5 ,

Thanks so much for your detailed introduction!
I updated my PR according to your sample code.
We made many hacks for engine.state based on ignite v0.3.0, so it's not very straight-forward to upgrade to v0.4.0.
But I want to upgrade ignite version when I finished all recent MONAI v0.3 tasks(DDP, AMP, FL, IO, etc.).
Maybe when you guys released v0.4.2, all distributed training feature

[2020-08-07 15:20] vfdev-5 commented on #1228
@Nic-Ma sounds good !

[2020-08-07 17:24] isabela-pf commented on #1221
To try and make the options easier to track, I’m putting each direction in a separate comment. That way people can add reactions if they want (though comments are still greatly appreciated!) and it should feel like a more manageable post.

While I cleaned each idea, the most noticeable change is the color experimentation and switching all type to [Varta](https://fonts.google.com/specimen/Varta?cat

[2020-08-07 17:25] isabela-pf commented on #1221
### Option 1-3
Also close to 1-1, this version has a slightly wider flame and has the spark moved to the base.  When I was experimenting, I thought this gave the logo a greater sense of upward motion.
Orange
<img width="502" alt="13orange" src="https://user-images.githubusercontent.com/50221806/89671677-44da3080-d898-11ea-88b1-9298d34840b5.png">
<img width="502" alt="13orange2" src="https://user-i

[2020-08-07 17:27] isabela-pf commented on #1221
### Option 4-2
This is the requested combination of 1-1 and 4-1. Interpreting the 4-1’s spikes to have the curved flame also meant cutting down the number of peaks. I also tried out a square spark to line up with the sharp ends of the flame. Out of all the options, I think this one has the greatest sense of motion. It also has the most details, which means it is just a little harder to read at sma

[2020-08-10 04:55] mydkzgj opened #1233 "Multi-label Metrics return tensor of unexpected shape"
## ❓ Questions/Help/Support

Hi, I am working with Multi-label Metrics such as Accuracy, Precision, Recall. I want to reserve those metrics of every class, so I set "average=False, is_multilabel=True". However, the function return a tensor whose shape is batch_size rather than num_categories.
I find the code in [precision.py](https://github.com/pytorch/ignite/blob/master/ignite/metrics/precision.p

[2020-08-10 08:05] vfdev-5 commented on #1233
@mydkzgj AFAIK multi-label metrics can not be computed by label as a match is considered over all labels together. However, if you would like to compute label-wise accuracy, precision, recall you can do this directly by specifying prediction and target. Here is an example of how to do this:

[code]

HTH

[2020-08-10 13:16] mydkzgj commented on #1233
@vfdev-5 Thank you for your help. Nice script, I have tried it in my evaluator and it works.
 And I also tried another way and it seems to work too.  I made this change in my trainer.py. I tranpose the y_pred and y in transform and I only concern about output of every batch because of '"RunningAverage" used in trainer. (Of course, if batch_num is 1 or batch_num changes, it will raise exception.)
[

[2020-08-10 13:21] vfdev-5 commented on #1233
Well, I let you make sure that you compute correct values :)

[2020-08-10 13:53] mydkzgj commented on #1233
@vfdev-5 thanks again！

[2020-08-10 13:53] #1233 closed

[2020-08-12 01:46] Nic-Ma opened #1234 "Exception event handlers can't be triggered together"
## 🐛 Bug description
If we attach several handlers to exception raised event, there are 2 issues:
1. If don't raise the exception again after handling, the training can't stop.
2. If raise the exception again, ignite will stop training immediately and ignore all the other handlers in the list.

I think maybe we should not raise exception in handlers, and ignite raise exception when triggered all t

[2020-08-12 07:57] vfdev-5 commented on #1234
@Nic-Ma thanks for reporting !

Yes, I agree this would be better

[2020-08-12 15:15] amatsukawa commented on #966
FWIW, I'm completely happy with #1156 and the way things work now.

With complications I didn't think about, eg. some handlers needing to go on the valid engine and handlers needing to run in a specific order (`Checkpoint` needs to run last after all other stateful handlers) perhaps automatically adding things to the engine's checkpoints is not trivial and might make things harder to reason about.

[2020-08-13 02:53] amatsukawa commented on #1234
You can run all the handlers and stop training by calling `engine.terminate` inside the exception handler, but not re-raising the exception. I believe it is true that if you do reraise the exception from the handler, that will short circuit remaining exception handlers from running.

You can do this: follow the convention of all fo your "meaningful" exception handlers doing whatever they need to d

[2020-08-13 03:15] Nic-Ma commented on #1234
Hi @amatsukawa ,

Thanks for your suggestion, it truly can work for the problem.
But if ignite can natively update this feature, it would be great.
Thanks.

[2020-08-13 12:56] vfdev-5 commented on #1234
@amatsukawa thanks for the suggestion !

I think here we maybe have to fix current code where we catch `Exception` twice:
1) whole run
https://github.com/pytorch/ignite/blob/f044948e4fe54d06d59299c2ecc823fc1e408790/ignite/engine/engine.py#L726
and 2) single epoch run
https://github.com/pytorch/ignite/blob/f044948e4fe54d06d59299c2ecc823fc1e408790/ignite/engine/engine.py#L793

Maybe, the first one (

[2020-08-14 14:05] amatsukawa commented on #1234
Thanks for the responses!

So would it no longer be possible to catch an exception and continue the engine execution? It seems important to preserve this case. Otherwise exceptions in the loop cannot be handled in a way that does not exit the `engine.run` function?

I think introducing some semantics like the engine will catch exceptions raised from handlers so all handlers can run, but will rerai

[2020-08-14 15:26] vfdev-5 commented on #1234
I'm not sure if we intend to continue training if an exception was raised and `EXCEPTION_RAISED` was triggered. Currently, if an exception is encountered then the complete epoch (and not iteration) is then skipped.

[2020-08-14 16:41] amatsukawa commented on #1234
Oh I didn't know that. I do crash on exceptions so it's fine, I'm not a fan of that :)

I agree that in common cases, we'd mostly like to raise an exception and stop training. But as you know from other tickets, my question is always "if I had a for-loop myself what could I do?" and I generally feel it's important to preserve a way to do anything I can do in such a loop in ignite.

Maybe in a pinc

[2020-08-14 17:01] vfdev-5 commented on #1234
Yes, I agree. How it would look like in a plain loop ?
[code]
?
Currently, the problem with engine's implementation is that we can not know where we are in "first try-except" or "second try-except"...

O(X) depends on our contributors :)

[2020-08-14 22:21] vfdev-5 opened #1235 "Add more options to create_supervised_trainer"
## 🚀 Feature

Idea is to add more options to `create_supervised_trainer` helper:
- native AMP option similar to https://github.com/lidq92/LinearityIQA/blob/master/modified_ignite_engine.py
  - we may either use nvidia/apex if installed or torch native amp if v1.6.0. Otherwise, raise an error.
- grads cliping as proposed #419

For Hacktoberfest/PyDataGlobal contributors, feel free to ask questions

[2020-08-14 22:41] vfdev-5 opened #1236 "Setup Github Actions workflow CI for horovod on CPU"
## 🚀 Feature

Idea is to add run Horovod tests on CPU via Github Actions. We can either: 1) install horovod using pip or 2) otherwise compile horovod from source as it is [done for Circle CI](https://github.com/pytorch/ignite/blob/master/.circleci/config.yml#L229) (without NCCL support). The goal is to be able to run CPU distributed tests with Horovod backend.

TODO:
- create new file `hvd-tests.y

[2020-08-14 22:46] vfdev-5 commented on #1222
@VikasRajashekar do you still have this issue or we can close this issue ?

[2020-08-14 22:47] vfdev-5 commented on #1223
@VikasRajashekar can we close this issue or you need more support on that ?

[2020-08-14 22:50] vfdev-5 commented on #1228
@Nic-Ma what are your plans about FL support ?
We would be interested to provide some interfaces to that too...

[2020-08-14 22:52] vfdev-5 commented on #1203
@Nic-Ma I close this issue as solved, please feel free to reopen this one if needed or open a new one for other questions.

[2020-08-14 22:52] #1203 closed

[2020-08-14 23:33] Nic-Ma commented on #1228
Hi @vfdev-5 ,

The first step, we will add some FL example based on Clara FL & MONAI, may also add examples based on other FL frameworks.
We haven't finalized a design of FL module in MONAI.

Thanks.

[2020-08-17 08:07] vfdev-5 opened #1240 "Remove useless prints from tests"
## 🚀 Feature

Some tests contain `print`s that probably were used for debugging and were not removed. It is better to remove them.

For example,
https://github.com/pytorch/ignite/blob/44c60564bf59a3028ab89091cbd3d73def8be86f/tests/ignite/contrib/engines/test_common.py#L71

https://github.com/pytorch/ignite/blob/44c60564bf59a3028ab89091cbd3d73def8be86f/tests/ignite/contrib/engines/test_common.py#L2

[2020-08-17 14:12] Yogendra0Sharma commented on #1240
@vfdev-5 I am working on this.

[2020-08-17 14:14] vfdev-5 commented on #1240
Thanks @Yogendra0Sharma ! Feel free to send a draft PR to iterate over if you wish

[2020-08-17 14:26] sdesrozis commented on #1221
@isabela-pf

It seems not so easy to find good colors for the logo. You provided a lot of color scheme's alternatives and I don't have a preference atm. But I really enjoyed the sharper option 4 :)

About logo composition, I think I prefer when the dot (or square) is in bottom left rather than in middle or right. I feel more flowing (in a sense) maybe related to reading from left to right.

[2020-08-17 19:13] sdesrozis commented on #1240
@Yogendra0Sharma  Thank you!

One more

https://github.com/pytorch/ignite/blob/ddb1eab80efb5404e9887a1ce31d21d6b2fd3957/tests/ignite/metrics/test_metric.py#L784

and maybe

https://github.com/pytorch/ignite/blob/ef5fbd6cdd467f41428e1711e6817a8ecc538b74/tests/ignite/distributed/utils/test_serial.py#L12

https://github.com/pytorch/ignite/blob/00ef5710b10191f412d33b32baa1e01148b985ff/tests/ignite/eng

[2020-08-17 19:21] fco-dv commented on #1221
Personally, my choice would go towards the 4-2 option and with the "first violet" color, awesome work!

[2020-08-17 20:03] vfdev-5 commented on #1221
I was talking to @isabela-pf in a private discussion and proposed to explore the following direction.

I was inspired of the option 1-2 and 4-2 and drawn quickly this :

![image](https://user-images.githubusercontent.com/2459423/90438996-1c8ed500-e0d5-11ea-9179-bb739de836a7.png)

In some sense, behind the form there is pytorch's droplet but I would like to keep 3 flames like in 4-2 (well 2 flames

[2020-08-17 20:13] sdesrozis commented on #1221
It reminds me of a candle in a circular urn. Why isn't the circular shape closed? It's a nice idea.

[2020-08-17 20:15] sdesrozis commented on #1221
![image](https://user-images.githubusercontent.com/10013598/90440118-fbc77f00-e0d6-11ea-963f-b47fe55474d2.jpeg)

It inspires something like that as well. Maybe we should work on the circular shape.

[2020-08-17 20:18] vfdev-5 commented on #1221
I was thinking that there is an invisible match going up to the red circle. And as for side flames I didn't manage to draw nice second parts of them and left open...

[2020-08-17 22:15] linhr opened #1242 "Handling empty datasets in distributed metric computation"
## 🐛 Bug description

Metric computation does not work properly in distributed settings when some processes do not handle any batch in the dataset. It becomes a problem when small validation or test datasets are distributed to processes in an imbalanced manner.

### How to Reproduce

Create a Python script named `main.py` with the following content.

[code]

Run the following command inside a CPU

[2020-08-17 22:23] vfdev-5 commented on #1242
@linhr thanks for the report ! Let me reproduire and investigate the issue.

cc @n2cholas as we are working on metrics right now, we maybe have to take this into account

[2020-08-17 23:06] vfdev-5 commented on #1242
@linhr thanks for clean reproduction code snippet. I was playing around and I confirm that there can be some incoherences between dtypes.

Actually, is it correct to distribute the data like that creating asymmetry ?

I'm just replaced the sampler such that there is 1 common batch for all processes and 1 for only zero rank and code runs seems like as expected
[code]

I agree we should fix inconsis

[2020-08-18 03:02] n2cholas commented on #1242
This will be fixed once #1238 is merged. All the metrics will create their accumulators on the right device, except Precision and Recall in the non-multilabel case, since we don't know the shape of the updates during initialization ([this logic](https://github.com/pytorch/ignite/blob/564b7450efd820526ff09b925f0e212e6bd00863/ignite/metrics/precision.py#L170-L179) should clarify why)

I'm not sure i

[2020-08-18 22:41] vfdev-5 commented on #1222
@VikasRajashekar I close the issue as resolved, please feel free to reopen if needed.

[2020-08-18 22:41] #1222 closed

[2020-08-18 22:41] vfdev-5 commented on #1223
@VikasRajashekar I close the issue, if needed please reopen.

[2020-08-18 22:41] #1223 closed

[2020-08-19 12:45] vfdev-5 opened #1243 "CI improvements"
A house-keeping improvement.
Check why the warning is raised here : https://github.com/pytorch/ignite/actions/runs/214923621
and fix if necessary.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a look at [CONTRIBUTING guide](https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md).

[2020-08-20 09:02] kilsenp opened #1244 "Backwards compability for torch.save in ModelCheckpoint"
## 🚀 Feature

Pytorch made some changes to torch.save (https://pytorch.org/docs/stable/generated/torch.save.html)

It would be useful to have control over this flag when instantiating ModelCheckpoint.

Possible ways that I can think of:
- Have some *args, **kwargs passed on to the save function
- Be able to pass the save function itself to ModelCheckpoints

[2020-08-20 09:13] vfdev-5 commented on #1244
@kilsenp thanks for the suggestion !

Maybe, passing args/kwargs would make sense. We also have `Checkpoint` class where user can specify how to save checkpoints. For example, for local storage we can use `DiskSaver` which calls `torch.save`. Forwarding `args/kwargs` to `DiskSaver` can be possible...

[2020-08-24 06:17] linhr commented on #1242
Thanks @vfdev-5 and @n2cholas for the reply! Glad to learn that many of the issues will be fixed in #1238!

Yeah, this issue is about an edge case that are unlikely to happen usually. Here is a situation similar to my use case when I discovered the issue: there are 4 GPUs (and 4 processes) for distributed training; the validation data is partitioned into 3 files, and each process will load one or

[2020-08-24 14:17] vfdev-5 commented on #1242
@linhr thanks for providing the info about your use-case. Won't be better to read everything in all processes and then split the data in a more balanced way between processes ? Or try to use 3 processes instead of 4 ?

I think this is currently a bug as for other metrics `all_reduce` is performed before any computing metric values. We should keep that. For currently unsupported case, it will be su

[2020-08-24 23:34] takapoui opened #1246 "Implementation of __eq__ for Events"
## 🐛 Bug description

I have a suggestion on how `Event` objects are implemented. I noticed a strange behavior after upgrading to 0.4.0 and it's related to how `__eq__` is implemented for `events.CallableEventWithFilter`.

I think neither of these should be ``True``:
[code]
because we lose information as soon as we put these in containers. For instance
[code]
will put `<function bar>` in `engine._

[2020-08-25 07:07] vfdev-5 commented on #1246
@takapoui thanks for reporting !

Can you detail the bug you encountered with 0.4.x version ? Thanks

[2020-08-25 08:12] vfdev-5 opened #1247 "Remove deprecated CustomPeriodicEvent"
## 🚀 Feature

It is time to remove deprecated class [CustomPeriodicEvent](https://github.com/pytorch/ignite/blob/a82d890788bf16ec61a599c32dc8d5c679e662e7/ignite/contrib/handlers/custom_events.py#L6) and corresponding related entries in the docs and the tests:
- remove file `ignite/contrib/handlers/custom_events.py`
- remove tests `tests/ignite/contrib/handlers/test_custom_events.py`
- other occure

[2020-08-25 14:29] takapoui commented on #1246
I wasn't using a feature that Ignite promises, so It's not an Ignite bug per se. However I thought I'd share this in case you consider changing the implementation of `__eq__` for events.

For my application, I needed to delay the creation of the `Engine`. So I stored the events in a dictionary before adding them with something like
[code]
and at a later time adding them with something like
[code]

[2020-08-25 15:09] vfdev-5 commented on #1246
@takapoui thanks for the context ! Yes, there was a PR on handling a part of `__eq__` properly (return `NotImplemented` instead of raising), so yes, it is a good timing to review this part of the code.

I think the problem in your example is with `delayed_events` dictionary where `EPOCH_COMPLETED` and `EPOCH_COMPLETED(every=2)` collide. This is related to `__hash__` implementation of `CallableEven

[2020-08-25 21:49] #1244 closed

[2020-08-26 03:17] linhr commented on #1242
Thanks @vfdev-5 !

Yes, definitely. Besides fixing the issues for the edge case, I agree it is more reasonable to distribute data in a more balanced way, depending on how many processes we have.

Agreed!

Thanks for the explanation! For this non-average multiclass case, I didn't realize `_true_positives` and `_positives` are actually tensors in `update()` since they are initialized as `0` in `rese

[2020-08-26 08:12] vfdev-5 commented on #1242
@linhr yes, this can be one of approaches to handle variable size data. But calling the first all reduce on equal sized data will be what I called the overhead in a previous message. I was thinking if we could make metric's collective ops like `sync_all_reduce` configurable such that user could select its own method for asymmetric cases and by default use current implementation... Such that in you

[2020-08-26 09:53] vfdev-5 opened #1249 "CycleGAN notebook is broken with updated ParamGroupScheduler"
https://github.com/pytorch/ignite/blob/c2c4a368a8666070633242c478c3b4151a05d49d/ignite/contrib/handlers/param_scheduler.py#L960

@sdesrozis above code brakes our cycle gan notebook where we do
[code]

Can we simply remove that check ?

[2020-08-27 07:12] InstantWindy opened #1251 "Parameter setting of run function in engine"
Hi. I need two datasets for training at the same time. How can I rewrite the run function in engine to support reading two datasets. Thanks.

[2020-08-27 07:51] vfdev-5 commented on #1251
@InstantWindy you can do this like that for example
[code]

HTH

[2020-08-27 08:00] InstantWindy commented on #1251
`num_iters = 10000
data = list(range(num_iters))
trainer.run(data, num_epochs)`
But, it seems that there is no data input for this operation. What does "data" mean here? You mean I just need to pass two dataset in the update function?

[2020-08-27 08:03] vfdev-5 commented on #1251
`data` is just a counter of a single epoch for two data-sources. Otherwise you can set one dataloader as a principal data source and fetch another batches as above:
[code]

Here, single epoch is defined by the size of `small_img_data_loader`.

[2020-08-27 08:08] InstantWindy commented on #1251
I understand. Thanks.

[2020-08-27 08:08] #1251 closed

[2020-08-27 14:30] sdesrozis commented on #1249
Ok, I didn't add this usecase in mind.

It need more fixes than simply remove the test
https://github.com/pytorch/ignite/blob/c2c4a368a8666070633242c478c3b4151a05d49d/ignite/contrib/handlers/param_scheduler.py#L1047

[2020-08-27 14:37] vfdev-5 commented on #1249
Thanks @sdesrozis !

[2020-08-27 16:55] Tawishi commented on #1247
I would like to work on this issue.

[2020-08-27 16:59] vfdev-5 commented on #1247
@Tawishi thanks ! This issue issue is very basic and consist to remove some deprecated code. Please, tell me if you are not familiar with github contributing flow (forking, local edits, PR etc) ? We have https://github.com/pytorch/ignite/blob/master/CONTRIBUTING.md which may help.

[2020-08-27 17:04] Tawishi commented on #1247
I am familiar with the basics.

[2020-08-27 17:22] vfdev-5 commented on #1247
Sounds good! So, please, send a PR and we can iterate there for particular
details. Meanwhile, if you have any question, do not hesitate to ask here.

On Thu, Aug 27, 2020, 19:04 Tawishi <notifications@github.com> wrote:

[2020-08-27 18:48] Tawishi commented on #1247
@vfdev-5 I find it difficult to squash commits.

[2020-08-27 18:55] vfdev-5 commented on #1247
@Tawishi thanks for the PR ! Actually, we do not require any squashing or whatever. While merging we squash all history in a single commit. Thus, no problems with that.

[2020-08-27 19:28] fco-dv opened #1253 "R2score calculation"
## ❓ Questions/Help/Support

The R2score [implementation](https://pytorch.org/ignite/_modules/ignite/contrib/metrics/regression/r2_score.html#R2Score) seems to not agree with the doc (which is ok with  [wikipedia](https://en.wikipedia.org/wiki/Coefficient_of_determination)

Actual code is:
[code]
Shouldn't it be: ?
[code]

[2020-08-27 20:10] vfdev-5 commented on #1247
@Tawishi just to give you a bit more context of what we are doing. `CustomPeriodicEvent` allows to do things like
[code]
This nice but not very handy as we have to import class, create an instance and attach it to the trainer.
Then we introduced so-called filtered events with the API much simplier than this one
[code]
So, we can achieve the same thing but almost 5 lines shorter. So, `CustomPeriodi

[2020-08-27 20:20] vfdev-5 commented on #1253
@fco-dv this is a online convenient way to compute variable's variation:
[code]
What do you think ?

[2020-08-27 20:50] isabela-pf commented on #1221
Blending the flame shapes we’ve been looking at ended up being more difficult than I anticipated, but I also think it’s a great idea so I was happy to experiment with it. Thanks for your patience!

It sounded like there was more interest in keeping the original PyTorch orange with the touch of a yellow, so I continued that here. I’m happy to try out other colors again as we continue to whittle the

[2020-08-27 20:51] isabela-pf commented on #1221
6 is different, but calls in more of pure PyTorch’s angles (just like 5 starts to) I think it also has a sense of looping together that reiterates the relationships between projects. Just throwing in a more geometric approach since that hasn’t been represented much in this process and it is a possible solution.

### Option 6-1

<img width="502" alt="6-1" src="https://user-images.githubusercontent.

[2020-08-27 21:14] fco-dv commented on #1253
ah yes my mistake !

[2020-08-27 21:14] #1253 closed

[2020-08-27 21:32] vfdev-5 commented on #1221
@isabela-pf thanks a lot for your huge work on our logo ! I really appreciate all those ideas you put here with the description for each image.

I like 5-2 and 5-4. I played with them mixing them up with some rescale and rotation.

<img width="502" alt="logo1+2" src="https://user-images.githubusercontent.com/2459423/91496815-1b239080-e8bd-11ea-9d1c-8e664a413e26.png">

If we could remove this visib

[2020-08-27 22:18] isabela-pf commented on #1221
Hi @vfdev-5, that's actually one of the options I mocked up already when exploring the concept, so I had it ready to go. Here's it is:

### Option 5-5
Three flame peaks, lower right dot, continuous line.

<img width="502" alt="5-5" src="https://user-images.githubusercontent.com/50221806/91500450-6798ad00-e878-11ea-95ef-328c01146c1c.png">
<img width="502" alt="5-5color" src="https://user-images.git

[2020-08-27 22:24] vfdev-5 commented on #1221
@isabela-pf that's great ! Is it possible to turn it such that yellow point and central flame were more vertically aligned and make it less wide and more subtle ?

[2020-08-28 11:45] Tawishi commented on #1247
@vfdev-5 What do I do in such situations where the result of ```CustomPeriodicEven``` is used in another function. Should I remove the entire function from the test ?
[code]

[2020-08-28 11:47] vfdev-5 commented on #1247
@Tawishi yes, you can safely remove those tests.

[2020-08-28 13:18] Tawishi commented on #1247
What about this exception handling code in [tests/ignite/contrib/handlers/test_base_logger.py](tests/ignite/contrib/handlers/test_base_logger.py), @vfdev-5 ?
[code]

[2020-08-28 13:27] vfdev-5 commented on #1247
@Tawishi same here, just remove them as there is no more `CustomPeriodicEvent`. Thanks !

[2020-08-28 14:08] Tawishi commented on #1247
Thank you @vfdev-5 for guiding me through this ! :smile:

[2020-08-28 20:27] #1247 closed

[2020-08-28 20:50] vfdev-5 commented on #1247
@Tawishi seems like we forgot about this notebook example : https://github.com/pytorch/ignite/blob/master/examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb - Cell 40.
Would you be interested in fixing that in another PR ? At the same it can be an opportunity to learn about Ignite's API and neural networks.

[2020-08-29 07:43] Tawishi commented on #1247
How should I start @vfdev-5 ?

[2020-08-29 07:47] vfdev-5 commented on #1247
yes, please

On Sat, Aug 29, 2020, 09:43 Tawishi <notifications@github.com> wrote:

[2020-08-29 21:00] vfdev-5 opened #1256 "Improve docs for common.setup_common_training_handlers"
## 🚀 Feature

Idea is to fix rendering (see below) and add an example of usage and a link where [it is used](https://github.com/pytorch/ignite/blob/c6673710fcd78949e0bf203ed9155e82ef639061/examples/contrib/cifar10/main.py#L322).

<img width="715" alt="Screen Shot 2020-08-29 at 22 56 07" src="https://user-images.githubusercontent.com/2459423/91645982-db8aaf00-ea4a-11ea-96d2-e284819cb767.png">

What

[2020-08-29 21:06] vfdev-5 opened #1257 "\\\ Hacktoberfest 2020 ///"
Hi, there ! For newbies who would like to gain some new skills in programming features in Python for a neural networks training tool, here is our project : https://github.com/pytorch/ignite which could be a friendly place to begin. We can help with the whole contributing process to drive the PRs up to merging it.
Our ["help wanted"](https://github.com/pytorch/ignite/issues?q=is%3Aissue+is%3Aopen+l

[2020-08-29 21:33] vfdev-5 opened #1258 "Replace mp.spawn by mp.start_processes for native comp model"
## 🚀 Feature

As torch native `mp.spawn` does not work on Colab with `start_method='spawn'`, but seem to work with `start_method='fork'` if using `mp.start_processes`. Idea is to simply replace `mp.spawn` by `mp.start_processes` here :
https://github.com/pytorch/ignite/blob/c6673710fcd78949e0bf203ed9155e82ef639061/ignite/distributed/comp_models/native.py#L282-L285

[2020-08-31 10:26] vfdev-5 opened #1259 "Improve State and Engine docs"
## 🚀 Feature

Currently, if we execute twice `trainer.run` we can fall into the following situation:
[code]

But if we would like to restart the training from the begining, we have to reset `trainer.state` as
[code]

Let's improve two things:
1) let's provide `State.restart()` method that just sets `state.max_epochs = None`
2) Add a note into `Engine.run` docstring saying if we would like to resta

[2020-08-31 13:54] sdesrozis commented on #1221
@isabela-pf I really enjoy your last works!!

To me, the 5.2 is good. I don't know how to express it correctly but I think shapes should be as more as possible arcs of circles. I feel that it's ok for right part of external shape but not for left (near "flame").

Btw, it's very nice, bravo !!

[2020-08-31 23:46] vfdev-5 opened #1261 "Add option to replace bn by sync bn in auto_model"
## 🚀 Feature

Idea is to add an option `sync_bn` (default, False) to apply [`convert_sync_batchnorm`](https://pytorch.org/docs/master/generated/torch.nn.SyncBatchNorm.html#torch.nn.SyncBatchNorm.convert_sync_batchnorm) on the input model if a DDP wrapper is used further.

- Check performances on PascalVOC
- Update ref examples

[2020-09-02 08:04] NEUdeep opened #1262 "ImportError: cannot import name 'Checkpoint'"
## 🐛 Bug description

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'Checkpoint'

## Environment

 - PyTorch Version (e.g., 1.4):1.4
 - Ignite Version (e.g., 0.2.1):0.2.1
 - OS (e.g., Linux):linux
 - How you installed Ignite (`conda`, `pip`, source):pip
 - Python version:3.6.9
 - Any other relevant information:

[2020-09-02 08:10] vfdev-5 commented on #1262
@NEUdeep in 0.2.1 there were no `Checkpoint`, it was introduced in since `0.3.0`. Can you upgrade the version of ignite ?

[2020-09-04 03:05] g-karthik opened #1263 "ProgressBar ETA for an IterableDataset"
## ❓ Questions/Help/Support

We have a piece of code which uses `ignite` successfully and was originally written for a regular `TensorDataset` (adapted from [this](https://github.com/huggingface/transfer-learning-conv-ai/blob/master/train.py)).

But then we adapted it for an `IterableDataset` because we wanted to train on a much larger dataset (on the order of GBs). How does the `ProgressBar` esti

[2020-09-04 08:11] vfdev-5 commented on #1263
@g-karthik engine can estimate the epoch length using the first epoch and then tqdm total is set according to that :
https://github.com/pytorch/ignite/blob/d8a54f6aa230f52b8f77162b8dcdbe9baa7f6c35/ignite/contrib/handlers/tqdm_logger.py#L48-L51

Here is an example of how it would work
[code]

[2020-09-04 22:38] vfdev-5 opened #1264 "Recheck and udpate link in docstring to pytorch classes"
## 🚀 Feature

PyTorch's new documentation changed the links to the classes and for example previously correct link :
- https://pytorch.org/docs/stable/nn.html#torch.nn.parallel.DistributedDataParallel
becomes now
- https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html

This issue is about to recheck all our docstring links to `https://pytorch.org/docs` and update

[2020-09-05 21:57] #1261 closed

[2020-09-07 18:02] UjwalKandi opened #1267 "Will my PR is considered if I submit it before October?"
This is my first time participating in Hacktoberfest. If I submit a PR before the event starts (i.e. Oct 1st), will it be considered as one of the four pull requests?

[2020-09-07 18:07] vfdev-5 commented on #1267
@UjwalKandi thanks for the question, according to the organizers:

https://discord.com/channels/720788516837261322/735506302784110652/750804457473966191

[2020-09-07 18:07] vfdev-5 commented on #1257
FAQ:

https://discord.com/channels/720788516837261322/735506302784110652/750804457473966191

[2020-09-07 18:09] vfdev-5 commented on #1267
However, starting contributing in September can help you to understand better the project and give you more chances to have your PR accepted.

[2020-09-07 18:09] UjwalKandi commented on #1267
Thank you for clarifying @vfdev-5

[2020-09-07 18:10] #1267 closed

[2020-09-07 18:18] vfdev-5 commented on #1257
Helpful info from organizer's discord: https://discord.com/channels/720788516837261322/735505751665147995/750389879011147796

[2020-09-08 09:24] vfdev-5 commented on #1240
This issue is still open as previous draft PR could not be finalized by the author.

[2020-09-08 09:26] vfdev-5 commented on #1227
@nwschurink do you have any updates on that or we can close the issue as stale ?

[2020-09-08 18:37] g-karthik commented on #1263
@vfdev-5 but does this mean that the ETA reported for the first epoch is likely to be unrealistic? i.e., only from the second epoch the ETAs will be accurate?

[2020-09-08 20:40] vfdev-5 commented on #1263
@g-karthik normally, during the first epoch you shouldn't have any ETA reported but something like that :
[code]
and only from the second epoch tqdm can estimate the time as it has now the epoch length:
[code]

[2020-09-08 22:02] #978 closed

[2020-09-08 22:32] g-karthik commented on #1263
@vfdev-5 I kicked off a 1 epoch multi-node multi-GPU training job over the weekend and it finished. It was showing me an ETA though.

At the end of the job, it shows something like this:

``
Epoch: [138269/138269] 100%|##########, loss=0.394 [45:37:57<00:00]
``

During the start of the job, it was showing something like `[00:00<45:30:16]`, so I assumed the ETA was ~45 hours.

From what you're sayi

[2020-09-08 22:38] vfdev-5 commented on #1263
@g-karthik yes, I agree that looks a bit weird. I think I already saw previously something like that :
[code]
This is shown when you have `max_epochs=1`.  I agree that it would be nice to fix this visualization issue.

This is however very strange...

[2020-09-08 22:41] vfdev-5 commented on #1263
I think if you are using DDP approach, it would be better to take `num_samples` as `len(dataloader.sampler)` as the dataset is split to your N processes ?

[2020-09-08 23:01] #1258 closed

[2020-09-08 23:17] vfdev-5 opened #1269 "Improve CI configuration"
## 🚀 Feature

For github acitons we can set a tag to trigger workflow run depending on modified files:
- https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-ignoring-paths
- https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-including-paths

Idea is to add those tags to our github CI yaml such that we do not trigger the workf

[2020-09-08 23:38] vfdev-5 opened #1270 "Preview of built docs in the PR"
## 🚀 Feature

Idea is to be able to preview built docs on the CI to simplify PR review.
This issue may be a bit tricky to solve, here some guidelines:
- we build our docs with travis ci : https://github.com/pytorch/ignite/blob/master/.travis.yml#L62
- find out how we could keep built docs as artifacts and make them accessible after the build
- update .travis.yml for that
- update https://github.co

[2020-09-08 23:41] vfdev-5 opened #1271 "Add PR review guidelines"
## 🚀 Feature

Idea is to add a guidelines for PR reviewers. The document can be based on
https://github.com/numpy/numpy/blob/e4dfe6fd253c381cfa77dd995ac4614f6bc81dd3/doc/source/dev/reviewer-guidelines.rst

Thanks to @melissawm for creating it and pointing out it for me :) !

[2020-09-08 23:55] vfdev-5 opened #1272 "Upgrade sphinx to 3.x.x"
## 🚀 Feature

Currently, we are using v1.8.5 of Sphinx and [sphinxcontrib-versioning](https://github.com/vfdev-5/sphinxcontrib-versioning) to build [our docs](https://pytorch.org/ignite/) with multiple versions.

Idea is to check if we could easily upgrade to v3.x of Sphinx, use `sphinxcontrib-versioning` and have our docs similarly rendered.
- If not, try to modify docs configuration etc to use v

[2020-09-08 23:57] vfdev-5 opened #1273 "Automatically generated toctree for methods and classes"
## 🚀 Feature

Idea is to replace our manually created toctree for [metrics](https://github.com/pytorch/ignite/blob/master/docs/source/metrics.rst#complete-list-of-metrics), [handlers](https://github.com/pytorch/ignite/blob/master/docs/source/handlers.rst#complete-list-of-handlers), [regression metrics](https://github.com/pytorch/ignite/blob/master/docs/source/contrib/metrics.rst#regression-metrics

[2020-09-09 02:14] g-karthik commented on #1263
@vfdev-5 yes I am using DDP, but I don't have an explicit `sampler` associated with my `DataLoader`.

As for why compute and set iterations to all-reduce MIN of samples, it's because if we don't, then our `trainer` will attempt forward-backward and loss computation (on all processes, including the min one) even after the min process is done with its data, and we don't want that happening right? Be

[2020-09-09 08:21] vfdev-5 commented on #1263
Maybe, I'm missing some context here. Probably, I understand what you mean: each process loads its data which can have different number of samples. Then you would like to make all processes aware of the min number of samples. And this defines your epoch. Otherwise you can have a divergence between processes which could lead to a crash of hanging...

Anyway, I think it would make sense to file an i

[2020-09-09 20:12] g-karthik commented on #1263
@vfdev-5 yeah the ETA part is fine, closing this issue!

[2020-09-09 20:12] #1263 closed

[2020-09-09 20:15] g-karthik opened #1276 "Rename Epoch to Iterations when using epoch_length with max_epochs=1"
## 🚀 Feature

Per the discussion in https://github.com/pytorch/ignite/issues/1263, we'd like to ensure that the progress bar uses the name "Iterations" instead of "Epoch" when the `epoch_length` is passed to the trainer for `max_epochs=1`.

[2020-09-10 09:21] M3L6H commented on #1276
I'm looking to get into open source, and managed to get a working development build of ignite on my system. This looks like a good issue to start on. If nobody is currently working on it, I would like to give it a shot.

An initial look through the source code seems to have the word "Epoch" located in a number of places throughout the code. Particularly in `mnist_with_tqdm_logger.py`, `handlers.py

[2020-09-10 12:07] vfdev-5 commented on #1276
@M3L6H thanks for proposing to work on this issue !
Here idea is to tweak this part of the code :
https://github.com/pytorch/ignite/blob/2778893db943e9869c2ce266c740c1310bc3b9de/ignite/contrib/handlers/tqdm_logger.py#L253
By default, if no "desc" is provided, it is set as "Epoch" and tqdm description uses that here :
https://github.com/pytorch/ignite/blob/2778893db943e9869c2ce266c740c1310bc3b9de/i

[2020-09-10 13:34] vfdev-5 opened #1278 "Setup mypy type checking in CI"
## 🚀 Feature

Idea is to setup type checking of the codebase with mypy with our Travis CI ([here](https://github.com/pytorch/ignite/blob/master/.travis.yml#L55)) :
[code]

- At the first iteration we can ignore most of the errors with `mypy.ini`. Example of [mypy.ini](https://github.com/pytorch/vision/blob/master/mypy.ini). => done #1296

- For other iterations, let's set `ignore_errors = False` f

[2020-09-10 19:54] M3L6H commented on #1276
@vfdev-5 thanks for the reply!

I've started work on the fix. Currently my solution looks like the following
[code]

I have also written a test
[code]

However, when running the test, it fails, with the following output
[code]

From what I can see, it looks like the code just isn't working. However, I'm not sure if it is an issue with how I am trying to access max_epochs, (maybe using `state_dict`

[2020-09-10 20:12] vfdev-5 commented on #1276
@M3L6H 👍 for working on the issue

I think you are right, my bad, we can not fetch correctly `max_epochs` at this step. Let me explain that with the example of how would we use the progress bar :
[code]

Well, we have to do it differently, I think. For example, let's set `desc` as None by default:
[code]
and when it is used with tqdm bar, provided engine is fully set up, thus we can set desc if `s

[2020-09-11 09:00] #1276 closed

[2020-09-11 14:53] vfdev-5 commented on #1257
Thanks @oke-aditya

[2020-09-11 14:54] vfdev-5 commented on #1228
I close this issue as answered. And we are also closed #978 .

[2020-09-11 14:54] #1228 closed

[2020-09-11 23:54] #1082 closed

[2020-09-12 01:54] g-karthik opened #1281 "0.2.1 to 0.4.1 OutputHandler upgrade question"
## ❓ Questions/Help/Support

I'm upgrading the version of ignite in my codebase from 0.2.1 to 0.4.1.

I see that `OutputHandler` no longer accepts `another_engine` as an argument and pull request https://github.com/pytorch/ignite/pull/531/ suggests using `global_step_transform` in place of this.

My previous piece of code (ignite 0.2.1) was like this:
`        tb_logger.attach(validator, log_handl

[2020-09-12 05:28] g-karthik commented on #1281
I think I figured this out, I need to use the `global_step_from_engine()` method from `ignite.handlers`. Closing for now, but @vfdev-5 it would be great if you also confirmed my understanding!

[2020-09-12 05:28] #1281 closed

[2020-09-12 09:39] vfdev-5 commented on #1281
@g-karthik yes, I think your understanding is correct. For the context, we removed `another_engine` since 0.4.0 and suggest to use `global_step_transform` instead due to limitations of  `another_engine`, namely #519 .

When using `global_step_transform`, we can either set it up with `global_step_from_engine` as it is done here:
https://github.com/pytorch/ignite/blob/002b595daa8a8345286c5e096c33e27

[2020-09-12 11:18] ramesht007 commented on #1236
hey, @vfdev-5 Can I work on this issue

[2020-09-12 14:26] vfdev-5 commented on #1236
Hey @ramesht007, sure, go ahead !
Thanks !

[2020-09-12 19:55] vfdev-5 opened #1283 "Fix Recall/Precision multi_label, not averaged for DDP"
## 🚀 Feature

Idea is to fix that
https://github.com/pytorch/ignite/blob/002b595daa8a8345286c5e096c33e278948686a7/ignite/metrics/precision.py#L23-L30

[2020-09-12 19:59] vfdev-5 opened #1284 "Ensure that all core and contrib metrics can work in DDP"
## 🚀 Feature

Tracking issue. All core metrics are working in DDP, except special case #1283.
The idea is to check all core and contrib metrics if work in DDP and open new issues if we need to work on some metric.

[2020-09-12 20:29] vfdev-5 opened #1285 "Fix backward compatibilty"
## 🐛 Bug description

Recent PR on the change of `mp.spawn` by `mp.start_process` brakes compatibility with PyTorch 1.3.1 and 1.4.0 versions.

https://github.com/pytorch/ignite/actions?query=workflow%3A.github%2Fworkflows%2Fpytorch-version-tests.yml

We have to fix that.

[2020-09-12 20:33] vfdev-5 opened #1286 "Include PyTorch v1.5.x to pytorch-version-tests.yml"
## 🚀 Feature

Idea is to add pytorch v1.5.x version to [pytorch-version-tests.yml](https://github.com/pytorch/ignite/blob/master/.github/workflows/pytorch-version-tests.yml). Please ensure which python version are supported by this pytorch version.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a look at

[2020-09-14 07:51] vfdev-5 opened #1287 "Set tqdm version in CI as <=4.48.0"
## 🐛 Bug description

Currently, the CI is broken due to recent changes of tqdm v4.49.0 :
- https://travis-ci.org/github/pytorch/ignite/jobs/726808846#L4137

Idea is to fix tqdm's version to v4.48.0 for all CI here:
- https://github.com/pytorch/ignite/blob/master/requirements-dev.txt#L9

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to ta

[2020-09-14 07:56] vfdev-5 opened #1288 "Customization of reduction/gathering ops for Metric"
## 🚀 Feature

Idea is to make configurable `Metric`'s reduction/gathering ops. By default, we are using our code, but user can globally override those functions. For example, if uses a custom unsupported distributed framework, or deals with asymmetry like [here](https://github.com/pytorch/ignite/issues/1242) etc

[2020-09-14 10:36] sdesrozis commented on #1288
A really nice feature

[2020-09-14 13:12] benji011 commented on #1287
@vfdev-5 Hi, I'd like to give this a try for my first Hacktoberfest issue. Can you assign this to me and I will give it ago

[2020-09-14 13:14] vfdev-5 commented on #1287
@benji011 sure, thanks !

[2020-09-14 16:42] vfdev-5 opened #1289 "Promote _required_output_keys to public attribute"
## 🚀 Feature

It may make sense to promote `_required_output_keys` to be public as user would like to override it.

Context:  https://discuss.pytorch.org/t/how-access-inputs-in-custom-ignite-metric/91221/5

[2020-09-14 20:26] vfdev-5 commented on #1287
@benji011 could you please send a PR in coming days (monday, tuesday) as fixing CI is important ?
If you need any guidelines or you have any questions, please ask.

[2020-09-14 22:59] benji011 commented on #1287
@vfdev-5 I thought this was a Hacktoberfest issue, Is it still ok to submit before October 1st?

[2020-09-14 23:19] vfdev-5 commented on #1287
@benji011 well, it is a HF issue. As organizers are stated in their docs:

So, yes, it is OK to submit before October 1st to "learn about making quality pull requests"

[2020-09-14 23:36] kenjihiraoka commented on #1278
Hi guys, I'm interested to do this task! :smile:

[2020-09-14 23:43] vfdev-5 commented on #1278
Hi @kenjihiraoka thanks for your interest on working on this issue :)

I can assign it to you and you can start working on that. As the issue may be large, feel free to submit several PRs.

PS: Notes for Hacktoferfest

[2020-09-15 00:41] kenjihiraoka commented on #1278
@vfdev-5 so the ideia is to add the mypy check inside of `Lint check stage`, right?
And by now, can I skip all errors?

[2020-09-15 05:49] vfdev-5 commented on #1278
@kenjihiraoka that's right.

Let's see which files are directly passing and ignore for others.

[2020-09-15 09:34] #1287 closed

[2020-09-15 10:03] #1285 closed

[2020-09-15 10:53] #1249 closed

[2020-09-15 10:58] kamahori commented on #1264
Hi can I work on this issue?

[2020-09-15 11:00] vfdev-5 commented on #1264
Hi @kamahori sure, go ahead !

I can assign it to you and you can start working on that.

PS: Notes for Hacktoferfest

[2020-09-15 11:21] #1240 closed

[2020-09-15 13:56] #1264 closed

[2020-09-15 14:46] #1289 closed

[2020-09-15 17:35] theodumont commented on #1273
Hi @vfdev-5, could I work on this one? If possible in the context of the Hacktoberfest, so I guess I'll have to wait until October before submitting a PR!

[2020-09-15 18:30] isabela-pf commented on #1221
Since this round was focused on polishing, changes might be more difficult to spot. Once again, I’ve listed them here to help:
- **Type:** The font is changed from [Varta](https://fonts.google.com/specimen/Varta?category=Sans+Serif&subset=latin&sort=alpha) to [Oxygen](https://fonts.google.com/specimen/Oxygen). This brings back the single-story g with a typeface that has a little more geometry over

[2020-09-15 20:43] vfdev-5 commented on #1273
Hi @theodumont sure, you can work on this issue ! However, it can be possible that exposed idea can not be doable with Sphinx version we have... Anyway, it worth to check.
About the Hacktoberfest,

So, technically, everyone can do a warm-up in September to understand better the project and its standard, guidelines etc and thus, have more chances to get October PRs accepted.

Concerning this issue,

[2020-09-16 07:47] Nic-Ma commented on #1228
Hi @vfdev-5 ,

May I know when do you plan to release ignite v0.4.2?
I think I need to upgrade the dependency in MONAI soon, already got requests.

Thanks.

[2020-09-16 07:56] vfdev-5 commented on #1228
Hi @Nic-Ma

I think, a patch release will be done in the end of this month. For v0.5.0 it will take a bit more time...

For that, I can suggest you to work with a [nightly release](https://github.com/pytorch/ignite#nightly-releases) and once all incompatibilities are fixed, just switch to v0.4.2. What do you think ?

[2020-09-16 07:59] Nic-Ma commented on #1228
Hi @vfdev-5 ,

We will have MONAI Bootcamp at Sep 25th, if possible, I will try to upgrade MONAI to use the latest ignite official version.
Thanks.

[2020-09-16 08:06] kamahori commented on #998
@vfdev-5
I am interested in this issue.
I think that possible metrics would be inception scores, FID, PPL, or LPIPS.
Do you have any priorities? I can start working on one of them.

[2020-09-16 08:50] vfdev-5 commented on #1228
OK, that's true, there is a MONAI Bootcamp. Let us try to make the release before Sep 25th then.

[2020-09-16 08:52] vfdev-5 commented on #998
@kamahori thanks ! You can start by any metric you'd like. Maybe, those for stylegan2 would be a little bit more prioritized.

[2020-09-16 09:06] kamahori commented on #998
@vfdev-5 Okay, then let me start with FID.

[2020-09-16 12:16] vfdev-5 opened #1297 "Improve Pascal VOC ref example"
## 🚀 Feature

When we run baseline configuration :
[code]

When model is instantiated, it downloads ImageNet pretrained weights for ResNet backbone. Let's set up the model such that we run the training from scratch.

For Hacktoberfest contributors, feel free to ask questions for details if any and say that you would like to tackle the issue.
Please, take a look at CONTRIBUTING guide.

[2020-09-16 13:45] fco-dv opened #1298 "Automate docker images build for new releases"
## 🚀 Feature
- automate docker images build for new releases of pytorch, ignite, apex, horovod ... and other identified dependencies

[2020-09-16 14:57] vfdev-5 commented on #1228
@Nic-Ma, I also applied to participate on this bootcamp some time ago. Any chance to have it accepted ? Status is still pending... The dates are Sep 30 - Oct 02, right ?

[2020-09-16 15:45] Nic-Ma commented on #1228
Hi @wyli,

Could you please help on @vfdev-5 's Bootcamp issue?
Thanks.

[2020-09-16 16:21] vfdev-5 opened #1299 "Improve Pascal VOC ref example: configurable dist backend"
## 🚀 Feature

Idea is to be able to execute pascal voc example with native torch nccl backend or "horovod".

[2020-09-16 17:20] wyli commented on #1228
Sure @vfdev-5, we'll send out the invitaion soon :)

[2020-09-16 17:53] vfdev-5 commented on #1228
@wyli thank you !

[2020-09-17 09:49] vfdev-5 opened #1300 "max_iters as optional arg in Engine run"
## 🚀 Feature

Idea is to cover the following usage:
[code]
which can be roughly done as
[code]
or as something like
[code]

Argument `max_iters` is mutually exclusive with `max_epochs`.

[2020-09-17 16:49] mil-ad opened #1303 "Ability to disable and detach ProgressBar"
In some cased I'd like to disable all `print`s in my training script based on a condition without actually commenting them out or adding `if`s around them. An example of this is when I'm using [ray](http://ray.io/) for parallel training. It'd be useful if we could add a bit state to `ProgressBar` and add `enable()` and `disable()` methods.

I can inherit `ProgressBar` and make `log_message()` do n

[2020-09-17 17:53] vfdev-5 commented on #1303
@mi-lad thanks for the feature request. Could you please provide a bit more details of how would you like to see it in terms of API. Currently, I'm doing `if` clause if it is inappropriate to have tqdm logging:
[code]
If we imagine a `ProgressBar.detach()` method that detaches progressbar handlers from the engine, how would you use it ?

[2020-09-17 18:22] mi-lad commented on #1303
Thanks for the quick reply @vfdev-5 . The external API I'm imagining is simply `enable()` and `disable()` methods for `ProgressBar`  that would internally enable/disable both `log_message` _and_ the attached trainer.

I guess one complexity is handling this in the middle of an epoch.

[2020-09-17 21:52] vfdev-5 commented on #1303
@mi-lad seems like you would like something global stdout enable/disable right ?
For example
[code]

This stops printing from 10-th iteration until 30-th. There is something to do with tty for tqdm's bar, not sure yet how to do that.